@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900');
@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

input, textarea, select, button {
    font-size: 15px;
    font-family: inherit;
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.cf {
    display: inline-block;
    min-height: 1%;
}

.bg_c, .bg_c::before, .bg_c::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

sup {
    vertical-align: super;
    font-size: 10px;
}

sub {
    vertical-align: sub;
    font-size: 10px;
}

a {
    color: inherit;
}

.pc {
    display: block;
}

.tab {
    display: none;
}

.sp {
    display: none;
}

.pc-c {
    display: table-cell;
}

.tab-c {
    display: none;
}

.sp-c {
    display: none;
}

@media screen and (min-width: 900px) {
    .tabbr {
        display: none;
    }
    .spbr {
        display: none;
    }
}

.dis-i {
    display: inline;
}

.dis-ib {
    display: inline-block;
}

.dis-b {
    display: block;
}

.m-t0 {
    margin-top: 0 !important;
}

.m-t5 {
    margin-top: 5px !important;
}

.m-t10 {
    margin-top: 10px !important;
}

.m-t15 {
    margin-top: 15px !important;
}

.m-t20 {
    margin-top: 20px !important;
}

.m-t25 {
    margin-top: 25px !important;
}

.m-t30 {
    margin-top: 30px !important;
}

.m-t40 {
    margin-top: 40px !important;
}

.m-t50 {
    margin-top: 50px !important;
}

.m-t60 {
    margin-top: 60px !important;
}

.m-t70 {
    margin-top: 70px !important;
}

.m-t80 {
    margin-top: 80px !important;
}

.m-t90 {
    margin-top: 90px !important;
}

.m-t100 {
    margin-top: 100px !important;
}

.m-b0 {
    margin-bottom: 0 !important;
}

.m-b5 {
    margin-bottom: 5px !important;
}

.m-b10 {
    margin-bottom: 10px !important;
}

.m-b15 {
    margin-bottom: 15px !important;
}

.m-b20 {
    margin-bottom: 20px !important;
}

.m-b25 {
    margin-bottom: 25px !important;
}

.m-b30 {
    margin-bottom: 30px !important;
}

.m-b40 {
    margin-bottom: 40px !important;
}

.m-b50 {
    margin-bottom: 50px !important;
}

.m-b60 {
    margin-bottom: 60px !important;
}

.m-b70 {
    margin-bottom: 70px !important;
}

.m-b80 {
    margin-bottom: 80px !important;
}

.m-b90 {
    margin-bottom: 90px !important;
}

.m-b100 {
    margin-bottom: 100px !important;
}

.m-b110 {
    margin-bottom: 110px !important;
}

.m-b120 {
    margin-bottom: 120px !important;
}

.m-b130 {
    margin-bottom: 130px !important;
}

.m-b140 {
    margin-bottom: 140px !important;
}

.m-b150 {
    margin-bottom: 150px !important;
}

.m-l-auto {
    margin-left: auto !important;
}

.m-l0 {
    margin-left: 0 !important;
}

.m-l5 {
    margin-left: 5px !important;
}

.m-l10 {
    margin-left: 10px !important;
}

.m-l15 {
    margin-left: 15px !important;
}

.m-l20 {
    margin-left: 20px !important;
}

.m-l25 {
    margin-left: 25px !important;
}

.m-l30 {
    margin-left: 30px !important;
}

.m-r-auto {
    margin-right: auto !important;
}

.m-r0 {
    margin-right: 0 !important;
}

.m-r5 {
    margin-right: 5px !important;
}

.m-r10 {
    margin-right: 10px !important;
}

.m-r15 {
    margin-right: 15px !important;
}

.m-r20 {
    margin-right: 20px !important;
}

.m-r25 {
    margin-right: 25px !important;
}

.m-r30 {
    margin-right: 30px !important;
}

.p-t0 {
    padding-top: 0 !important;
}

.p-t5 {
    padding-top: 5px !important;
}

.p-t10 {
    padding-top: 10px !important;
}

.p-t15 {
    padding-top: 15px !important;
}

.p-t20 {
    padding-top: 20px !important;
}

.p-t25 {
    padding-top: 25px !important;
}

.p-t30 {
    padding-top: 30px !important;
}

.p-t40 {
    padding-top: 40px !important;
}

.p-t50 {
    padding-top: 50px !important;
}

.p-t60 {
    padding-top: 60px !important;
}

.p-t70 {
    padding-top: 70px !important;
}

.p-t80 {
    padding-top: 80px !important;
}

.p-t90 {
    padding-top: 90px !important;
}

.p-t100 {
    padding-top: 100px !important;
}

.p-t110 {
    padding-top: 110px !important;
}

.p-t120 {
    padding-top: 120px !important;
}

.p-t130 {
    padding-top: 130px !important;
}

.p-t140 {
    padding-top: 140px !important;
}

.p-t150 {
    padding-top: 150px !important;
}

.p-b0 {
    padding-bottom: 0 !important;
}

.p-b5 {
    padding-bottom: 5px !important;
}

.p-b10 {
    padding-bottom: 10px !important;
}

.p-b15 {
    padding-bottom: 15px !important;
}

.p-b20 {
    padding-bottom: 20px !important;
}

.p-b25 {
    padding-bottom: 25px !important;
}

.p-b30 {
    padding-bottom: 30px !important;
}

.p-b40 {
    padding-bottom: 40px !important;
}

.p-b50 {
    padding-bottom: 50px !important;
}

.p-b60 {
    padding-bottom: 60px !important;
}

.p-b70 {
    padding-bottom: 70px !important;
}

.p-b80 {
    padding-bottom: 80px !important;
}

.p-b90 {
    padding-bottom: 90px !important;
}

.p-b100 {
    padding-bottom: 100px !important;
}

.p-l0 {
    padding-left: 0 !important;
}

.p-l5 {
    padding-left: 5px !important;
}

.p-l10 {
    padding-left: 10px !important;
}

.p-l15 {
    padding-left: 15px !important;
}

.p-l20 {
    padding-left: 20px !important;
}

.p-l25 {
    padding-left: 25px !important;
}

.p-l30 {
    padding-left: 30px !important;
}

.p-r0 {
    padding-right: 0 !important;
}

.p-r5 {
    padding-right: 5px !important;
}

.p-r10 {
    padding-right: 10px !important;
}

.p-r15 {
    padding-right: 15px !important;
}

.p-r20 {
    padding-right: 20px !important;
}

.p-r25 {
    padding-right: 25px !important;
}

.p-r30 {
    padding-right: 30px !important;
}

.f-c-bk {
    color: #333333 !important;
}

.f-c-wh {
    color: #ffffff !important;
}

.f-c-gr {
    color: #aaaaaa !important;
}

.f-c-or {
    color: #E56600 !important;
}

.f-c1 {
    color: #DF5F0A !important;
}

.f-c2 {
    color: #FEC200 !important;
}

.f-c3 {
    color: #FFFF4C !important;
}

.f-c4 {
    color: #EA7603 !important;
}

.f-c5 {
    color: #FF6600 !important;
}

.f-c6 {
    color: #003847 !important;
}

.f-c7 {
    color: #E33800 !important;
}

.f-c8 {
    color: #FFAA1B !important;
}

.f-c9 {
    color: #18AED3 !important;
}

.f-c10 {
    color: #2CB23C !important;
}

.f-c11 {
    color: #63B9C0 !important;
}

.b-c-bk {
    background-color: #000000 !important;
}

.b-c-wh {
    background-color: #ffffff !important;
}

.b-c-gr {
    background-color: #F7F6F2 !important;
}

.b-c1 {
    background-color: #ed8c01 !important;
}

.b-c2 {
    background-color: #E66700 !important;
}

.b-c3 {
    background-color: #FEE1AE !important;
}

.b-c4 {
    background-color: #EA7603 !important;
}

.b-c5 {
    background-color: #EEEEEE !important;
}

.b-c6 {
    background-color: #FFA61A !important;
}

.b-c7 {
    background-color: #F5F8F8 !important;
}

.b-c8 {
    background-image: url(../img/home/bg_yes01.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: center bottom !important;
}

.b-c9 {
    background-color: #FEFBDA !important;
}

.b-c10 {
    background-color: #EFF0E0 !important;
}

.b-c11 {
    background-color: #2CB23C !important;
}

.b-c12 {
    background-color: #003847 !important;
}

.b-border {
    padding: 10px 0;
}

.bg-dot01 {
    background-image: url(../img/home/bg_kami01.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: left top !important;
}

.bg-dot02 {
    background: url(../../files/kyuyomeisai/img/bg_dot01.gif) repeat center 60px !important;
}

.bg-dot03 {
    background: url(../img/bg_dot02.gif) left top !important;
}

.bg-slope01 {
    background-image: url(../img/home/bg_slope01.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center bottom !important;
}

.f-bold {
    font-weight: 700 !important;
}

.f-normal {
    font-weight: 500 !important;
}

.f-lighter {
    font-weight: 300 !important;
}

.f-s150 {
    font-size: 150% !important;
}

.f-s140 {
    font-size: 140% !important;
}

.f-s130 {
    font-size: 130% !important;
}

.f-s120 {
    font-size: 120% !important;
}

.f-s110 {
    font-size: 110% !important;
}

.f-s100 {
    font-size: 100% !important;
}

.f-s90 {
    font-size: 90% !important;
}

.f-s80 {
    font-size: 80% !important;
}

.f-s70 {
    font-size: 70% !important;
}

.f-s60 {
    font-size: 60% !important;
}

.f-s50 {
    font-size: 50% !important;
}

.f-s40 {
    font-size: 40% !important;
}

.l-h10 {
    line-height: 1.0 !important;
}

.l-h11 {
    line-height: 1.1 !important;
}

.l-h12 {
    line-height: 1.2 !important;
}

.l-h13 {
    line-height: 1.3 !important;
}

.l-h14 {
    line-height: 1.4 !important;
}

.l-h15 {
    line-height: 1.5 !important;
}

.l-h16 {
    line-height: 1.6 !important;
}

.l-h17 {
    line-height: 1.7 !important;
}

.l-h18 {
    line-height: 1.8 !important;
}

.l-h19 {
    line-height: 1.9 !important;
}

.l-h20 {
    line-height: 2.0 !important;
}

.t-l {
    text-align: left !important;
}

.t-c {
    text-align: center !important;
}

.t-r {
    text-align: right !important;
}

.v-t {
    vertical-align: top !important;
}

.v-m {
    vertical-align: middle !important;
}

.v-b {
    vertical-align: bottom !important;
}

.pos-r {
    position: relative;
}

.pos-s {
    position: static;
}

.t-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.radius {
    border-radius: 3px;
}

/*------------------------*/

.movie {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

.movie iframe {
    width: 100%;
}

/*-------------------------------------------------------------------------------------*/

html {
    overflow-y: scroll;
}

body {
    background: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    min-width: 1200px;
    font-family: 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
    line-height: 1.6;
    color: #000;
    word-break: normal;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1200px) {
    body {
        min-width: 100%;
        font-size: 16px;
    }
    .wrap {
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------------*/

header {
    position: relative;
    height: 92px;
}

#header {
    height: 92px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    min-width: 1200px;
}

#header .subpage div, #header .subpage a {
    color: #111111;
}

#header.scrolledNav {
    background: #fff;
}

#header.scrolledNav .header-logo .img .logo01 .img01 {
    display: none;
}

#header.scrolledNav .header-nav ul li.menu>div.img01 {
    background: url(../img/common/img_menu02.png) center center no-repeat;
}

#home #header.scrolledNav .header-nav ul li.menu>div.img01 {
    background: url(../img/common/img_menu01.png) center center no-repeat;
}

#header.scrolledNav .header-logo .img .logo01 .img02 {
    display: inline-block;
}

#header.scrolledNav ul li.subpage a {
    color: #111111;
}

#header.scrolledNav ul li.subpage>div {
    color: #111111;
}

#home header {
    height: 0;
}

#home #header {
    background: none;
}

#home #header .subpage div, #home #header .subpage a {
    color: #fff;
}

#home #header .subpage .childItem a {
    color: #111111;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-logo {
    margin: 5px;
    max-width: 283px;
}

.header-logo a {
    display: block;
}

.header-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.header-logo .img {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 224px;
    height: 82px;
}

.header-logo .img .logo01 {
    min-width: 207px;
    text-align: right;
    cursor: pointer;
}

.header-logo .img .logo01>div {
    display: inline-block;
    width: 207px;
}

.header-logo .img .logo01 .img02 {
    display: none;
}

.header-logo .img .logo02 {
    width: 100%;
    height: 100%;
    min-width: 207px;
    background: url(../img/common/logo02.png) right center no-repeat;
    cursor: pointer;
}

#home .header-logo .img .logo02 {
    background: url(../img/common/logo01.png) right center no-repeat;
    background-size: 206px auto;
}

.header-nav ul {
    display: flex;
    min-width: 0;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    display: block;
    line-height: 92px;
    height: 92px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
}

.header-nav ul li a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.header-nav ul li>div {
    display: block;
    line-height: 92px;
    height: 92px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}

.header-nav ul li.subpage {
    cursor: pointer;
}

.header-nav ul li.subpage>div {
    padding: 0 20px;
    position: relative;
}

.header-nav ul li.lib a {
    background: #003847;
    padding: 0 17px 0;
}

.header-nav ul li.inq a {
    background: #237285;
    padding: 0 26px 0;
}

.header-nav ul li.try a {
    background: #1A5261;
    padding: 0 17px;
}

.header-nav ul li.menu {
    width: 93px;
}

.header-nav ul li.menu>div.img02 {
    width: 100%;
    height: 100%;
    background: url(../img/common/img_menu02.png) center center no-repeat;
    cursor: pointer;
}

#home .header-nav ul li.menu>div.img02 {
    background: url(../img/common/img_menu01.png) center center no-repeat;
}

.header-nav ul li.menu>div img {
    width: 45px;
}

.header-nav ul li.menu>div.close {
    display: none;
}

.header-nav ul li a span {
    display: inline-block;
}

.header-nav ul li.inq a span {
    background: url(../img/common/ico_inq.png) no-repeat center 23px;
    background-size: 35px;
    padding-left: 35px;
    height: 100%;
}

.header-nav ul li.inq a span.txt {
    position: absolute;
    background: none;
    padding-left: 0;
    left: 4px;
    bottom: -16px;
    font-size: 13px;
}

.header-nav ul li.subpage {
    position: relative;
}

.header-nav ul li.subpage a {
    padding: 0 20px;
}

.header-nav ul li.lib {
    margin-left: 25px;
}

.header-nav ul li.lib a span {
    padding: 0 0;
}

.header-nav ul li.try a span {
    padding: 0 0;
}

.header-nav ul li.parentWrap {
    position: relative;
}

.header-nav ul li.parentWrap::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #F9F9F0 transparent;
    bottom: 0;
    left: 50%;
    display: none !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    transform: translateX(-50%);
}

.header-nav ul li.parentWrap:hover:after {
    opacity: 1;
    visibility: visible;
}

.header-nav ul li.parentWrap:hover .childWrap {
    opacity: 1;
    visibility: visible;
    cursor: default;
}

.header-nav ul li .childWrap {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%;
    padding: 28px 0;
    position: fixed;
    top: 92px;
    left: 0;
    background: #F9F9F0;
}

.header-nav ul li .childWrap .childWrap-inner {
    display: block;
    width: 1205px;
    margin: 0 auto;
}

.header-nav ul li .childWrap .areaTit {
    margin-right: 55px;
    float: left;
    background: #fff;
}

.header-nav ul li .childWrap .tit {
    display: table-cell;
    width: 215px;
    height: 215px;
    color: #003846;
    font-size: 28px;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    letter-spacing: .05em;
}

.header-nav ul li .childWrap .tit a {
    font-size: 28px;
    color: #003846 !important;
    font-weight: 800;
}

.header-nav ul li .childWrap .tit a:hover {
    text-decoration: underline;
}

.header-nav ul li .childWrap .child {
    display: block;
    margin-right: 30px;
    padding: 20px 0 0;
    width: 272px;
    float: left;
    min-width: auto;
    height: auto !important;
}

.header-nav ul li .childWrap .center {
    width: 302px;
}

.header-nav ul li .childWrap .right {
    margin-right: 0;
    width: 300px;
}

.header-nav ul li .childWrap .child .childItem {
    display: block;
    line-height: normal;
    margin-top: 25px;
}

.header-nav ul li .childWrap .child .childItem+.childItem {
    margin-top: 25px;
}

.header-nav ul li .childWrap .child .childItem a {
    display: inline-block;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    color: #003846;
    line-height: 1.2em;
    letter-spacing: .05em;
    position: relative;
}

.header-nav ul li .childWrap .child .childItem a:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: calc(50% - 3px);
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-nav ul li .childWrap .child .childItem a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header-nav ul li .childWrap .child .childItem a .num {
    margin-right: 20px;
}

.header-nav ul li .childWrap .child.s2 {
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.header-nav ul li .childWrap .child.s2 .childItem {
    width: calc(33.333%);
    box-sizing: border-box;
    padding-right: 30px;
    /*        margin-top: 0px;*/
}

/*
    .header-nav ul li .childWrap .child.s2 .childItem + .childItem{
        margin-top: 0px;
    }
*/

.header-nav>ul>li>a {
    font-size: 17px;
    min-width: 3em;
    text-align: center;
}

.header-nav ul li>div {
    font-size: 17px;
}

.header-nav ul li.parentWrap {
    position: static;
}

.header-nav ul li.subpage>div {
    padding: 0 25px;
    position: static;
}

.header-nav ul li .childWrap {
    position: absolute;
}

.header-nav ul li .childWrap .child.s3 {
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.header-nav ul li .childWrap .child.s3 .childItem {
    width: calc(50%);
    box-sizing: border-box;
    padding-right: 30px;
}

/*
    .header-nav ul li .childWrap .child.s3 .childItem + .childItem{
        margin-top: 0px;
    }
*/

@media screen and (max-width: 1334px) {
    #header {
        min-width: 100%;
    }
    .header-logo {
        width: 15%;
    }
    .header-logo .img {
        width: 100%;
        text-align: left;
    }
    .header-logo .img .logo01 {
        width: 85%;
        min-width: 100px;
        text-align: left;
    }
    .header-logo .img .logo02 {
        width: 85%;
        height: 85%;
        background-position: left center;
        background-size: 80% auto;
    }
    .header-logo .img .logo01 img {
        width: 80%;
    }
    .header-nav ul {
        min-width: 85%;
    }
    .header-nav ul li a, .header-nav ul li .parent {
        font-size: 16px;
    }
    /*
    .header-nav ul li.subpage>div{
        padding: 0 5px;
    }
    .header-nav ul li.lib a{
        padding: 0 5px;
    }
    .header-nav ul li.inq a{
        padding: 0 24px;
    }
    .header-nav ul li.try a{
        padding: 0 4px;
    }
*/
    .header-nav ul li.menu {
        width: 86px;
    }
    .header-nav ul li.inq a span.txt {
        left: 8px;
        font-size: 11px;
    }
    .header-nav ul li.subpage a {
        padding: 0 8px;
    }
    .header-nav ul li.lib {
        margin-left: 10px;
    }
    .header-nav ul li.try a span {
        padding: 0 10px;
    }
    .header-nav ul li .childWrap .childWrap-inner {
        width: 100%;
    }
    .header-nav ul li .childWrap .areaTit {
        width: 33%;
        margin-right: 25px;
    }
    .header-nav ul li .childWrap .tit {
        width: 35%;
        height: 179px;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 20px;
    }
    .header-nav ul li .childWrap .child {
        padding: 24px 0;
    }
    .header-nav ul li .childWrap .child .childItem a {
        font-size: 90%;
    }
    .header-nav ul li .childWrap .child.s2 .childItem {
        padding-right: 20px;
    }
    .header-nav ul li .childWrap .child.s2 .childItem:nth-child(n+4) {
        margin-top: 15px;
    }
}

.page-ttl {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .page-ttl {
        padding-top: 52px;
    }
}

#header-f {
    position: fixed;
    z-index: 79;
    height: 92px;
    top: 0;
    right: 0;
    width: auto;
    display: none;
}

#header-f .header-f-in {
    height: 92px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#header-f .header-logo-f {
    padding-right: 15px;
}

#header-f .header-logo-f a {
    display: inline-block;
}

#header-f #header-menu-f {
    width: 93px;
    height: 92px;
    cursor: pointer;
    background: #003847;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

@media screen and (max-width: 1334px) {
    #header-f #header-menu-f {
        width: 86px;
    }
}

/*-----------------------------------------------------------------------*/

#g-nav-r {
    display: none;
    background: #FAFAF3;
    width: 100%;
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    overflow-y: scroll;
}

#g-nav-r .g-nav-logo {
    width: 130px;
    height: auto;
    position: fixed;
    top: 20px;
    left: 12px;
    z-index: 100;
}

#g-nav-r .g-nav-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

#g-nav-r .g-nav-close {
    position: fixed;
    width: 75px;
    top: 0px;
    right: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

#g-nav-r #g-nav-close {
    font-size: 75px;
    width: 75px;
    height: 75px;
    position: static;
    top: 0px;
    right: 15px;
    color: #003847;
    z-index: 100;
    cursor: pointer;
    text-align: center;
    line-height: 68px;
    font-weight: 100;
    margin-bottom: 10px;
}

#g-nav-r .g-nav-close .txt {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    color: #003846;
    font-size: 14px;
    margin-bottom: 15px;
}

#g-nav-r .g-nav-close .sns {}

#g-nav-r .g-nav-close .sns li {
    margin-bottom: 12px;
}

#g-nav-r .g-nav-in {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 90px 0 150px;
}

#g-nav-r .g-nav-content {
    position: relative;
    padding: 54px 0 0;
    width: 100%;
    height: 100%;
    float: none;
    box-sizing: border-box;
}

#g-nav-r .g-nav-content-inner {
    width: 100%;
    padding-right: 400px;
    box-sizing: border-box;
}

#g-nav-r .list {
    margin-bottom: 10px;
    padding-left: 3px;
    text-align: left;
    font-size: 20px;
}

#g-nav-r .list ul {
    display: block;
}

#g-nav-r .list ul>li {
    text-align: left;
    margin-bottom: 23px;
    font-weight: 600;
}

#g-nav-r .list ul>li a, #g-nav-r .list ul>li p {
    position: relative;
    text-decoration: none;
    color: #001E2C;
}

#g-nav-r .list ul>li p {
    display: inline-block;
}

#g-nav-r .list ul>li a:after, #g-nav-r .list ul>li p:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: calc(50% - 3px);
    right: -26px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* CSS追記 */
#gl1,
#gl3 {
    cursor: pointer;
}
#g-nav-r .list ul li#gl1:nth-of-type(1) a:after,
#g-nav-r .list ul li#gl3:nth-of-type(3) a:after{
    content: "+";
    position: absolute;
    width: auto;
    height: auto;
    padding:  2px 4px !important;
    border-top: none !important;
    border-right: none !important;
    box-sizing: border-box;
    top: calc(50% - 5px);
    right: -26px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background:#003847;
    line-height: 100%;
    color: #fff;
    font-size: 8px !important;
    text-align: center;
    font-weight: normal;
}
@media screen and (max-width: 960px) {
    #g-nav-r .list>ul>li>a {
        cursor: pointer;
    }
}

#g-nav-r .g-nav-subcontent {
    display: none;
    padding: 60px 20px 40px 50px;
    width: 400px;
    top: 0;
    right: 0;
    background: #003847;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
}

#g-nav-r .g-nav-subcontent:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 27px 30px 0;
    border-color: transparent #003847 transparent transparent;
}

#g-nav-r #gl3 .g-nav-subcontent {
    background: #237285;
}

#g-nav-r #gl3 .g-nav-subcontent:before {
    top: 150px;
    border-color: transparent #237285 transparent transparent;
}

#g-nav-r .g-nav-subcontent .list {
    margin-bottom: 0;
    padding-left: 0;
    font-size: 18px;
}

#g-nav-r .g-nav-subcontent .list ul li {
    margin-bottom: 0;
}

#g-nav-r .g-nav-subcontent .list ul li+li {
    margin-top: 25px;
}

#g-nav-r .g-nav-subcontent .list ul li a {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
    letter-spacing: .05em;
}

#g-nav-r .g-nav-subcontent .list ul li a:after {
    display: none;
}

#g-nav-r .g-nav-subcontent .list ul li a:hover {
    text-decoration: none;
}

#g-nav-r .g-nav-subcontent .list ul li .num {
    display: inline-block;
    padding-right: 16px;
    text-decoration: none;
    font-size: 22px;
}

#g-nav-r .areaSublist {
    padding-left: 3px;
}

#g-nav-r .sublist {
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
}

#g-nav-r .sublist .item {
    margin-bottom: 10px;
    width: 220px;
    float: none;
}

#g-nav-r .sublist .item a {
    text-decoration: none;
}

#g-nav-r .sublist .item a:hover {
    text-decoration: underline;
}

#g-nav-r .tel {
    margin: 25px auto 40px;
    padding-left: 4px;
    box-sizing: border-box;
    text-align: left;
}

#g-nav-r .tel .ttl {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 15px;
    display: inline-block;
    background: url(../img/common/ico_call.png) no-repeat left center;
    background-size: 40px;
    padding: 5px 0 8px 48px;
}

#g-nav-r .tel .num {
    display: flex;
    flex-wrap: wrap;
    margin-left: -28px;
    margin-bottom: 10px;
    font-family: 'メイリオ', Meiryo, 'Noto Sans JP', '游ゴシック', YuGothic, sans-serif;
}

#g-nav-r .tel .num>div {
    font-size: 26px;
    font-weight: 900;
    color: #FF8C00;
    letter-spacing: .02em;
    margin-left: 28px;
}

#g-nav-r .tel .time {
    font-size: 16px;
}

/*-----------cv--------------------------------------------------------------------------*/

.cv .cf {
    display: block;
}

.cv .block-inner {
    padding: 68px 0 80px;
}

.cv .box-l, .cv .box-r {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.cv .box-l {
    padding-right: 20px;
    border-right: solid 1px #C9C9C9;
    box-shadow: 2px 0 1px -1px #fff;
}

.cv .box-l .c-ttl {
    margin-bottom: 20px;
    padding-right: 20px;
}

.cv .box-l .c-ttl .en {
    display: inline-block;
    color: #001E2C;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: .05em;
    position: relative;
}

.cv .box-l .c-ttl .en:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 1px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background: #E56607;
}

.cv .box-l .c-ttl .jp {
    margin-top: 5px;
    padding-top: 15px;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: .05em;
}

.cv .box-l .lead {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #001E2D;
    letter-spacing: .05em;
    line-height: 1.5;
}

.cv .box-l .areaList .list .item+.item {
    margin-top: 20px;
}

.cv .box-l .areaList .list .item .num {
    display: inline-block;
    padding: 0 7px 0 3px;
    font-size: 54px;
    font-weight: 500;
    color: #B5B5B5;
    line-height: 1;
    vertical-align: middle;
}

.cv .box-l .areaList .list .item .ttl {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #001E2C;
    vertical-align: middle;
    letter-spacing: .05em;
}

.cv .box-l .areaList .list .item .txt {
    display: block;
    margin-top: 7px;
    font-size: 16px;
    color: #222;
}

.cv .box-l .btn {
    margin-top: 60px;
    margin-bottom: 8px;
}

.cv .box-l .btn a {
    width: 100%;
    height: 80px;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: .05em;
}

.cv .box-l .note {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #001E2D;
}

.cv .box-r {
    padding-left: 30px;
}

.cv .box-r .download {
    padding: 43px 48px 37px;
    background: #fff;
    border-radius: 5px;
}

.cv .box-r .download .c-ttl {
    margin-bottom: 30px;
}

.cv .box-r .download .c-ttl .jp {
    display: inline-block;
    padding-left: 60px;
    color: #E66700;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: .05em;
    position: relative;
}

.cv .box-r .download .c-ttl .jp:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0;
    background: url(../img/common/ico_document.png) top left no-repeat;
    background-size: contain;
}

.cv .box-r .download .c-ttl .en {
    padding-left: 30px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: .07em;
}

.cv .box-r .download .txt {
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: .05em;
}

.cv .box-r .download .btn a {
    width: 100%;
    margin: 0;
    height: 80px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: .05em;
}

.cv .box-r .tel {
    margin-top: 50px;
    padding-left: 8px;
}

.cv .box-r .tel .tit {
    padding-left: 48px;
    color: #001E2D;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: .03em;
    position: relative;
}

.cv .box-r .tel .tit:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 0px;
    left: 20px;
    transform: translateX(-50%);
    background: url(../img/common/ico_call.png) top left no-repeat;
    background-size: contain;
}

.cv .box-r .tel .txt {
    margin-top: 20px;
    font-weight: 400;
    color: #001E2D;
    letter-spacing: .05em;
}

.cv .box-r .tel .num {
    margin-top: 20px;
}

.cv .box-r .tel .num span {
    color: #001E2D;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: .08em;
}

.cv .box-r .tel .num span+span {
    margin-left: 30px;
}

.cv .box-r .tel .time {
    margin-top: 10px;
    padding-right: 40px;
    font-weight: 400;
    color: #333333;
}

/*----------footer---------------------------------------------------------------------------*/

footer {
    padding-bottom: 100px;
}

footer, .footer {
    padding: 10px 0;
    background: #1D292C;
    color: #fff;
}

footer, .footer a {
    text-decoration: none;
}

.footer .footer-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer .cf {
    display: block;
}

.footer-inner>div {
    display: flex;
}

.footer-inner .footer-t {
    align-items: center;
}

.footer-inner {
    padding: 23px 0 32px;
}

.footer-l {
    width: 47%;
}

.footer-r {
    width: 53%;
}

.footer-t {
    padding: 0 0 26px;
    border-bottom: solid 1px #090B0B;
    box-shadow: 0px 2px 1px -1px #3C4A51;
}

.footer-t .footer-l .tit {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .05em;
    position: relative;
}

.footer-t .footer-l .tit:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
    background: url(../img/common/img_arrow01.png) no-repeat bottom center;
    width: 67px;
    height: 14px;
}

.footer-t .footer-r .txt {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 400;
}

.footer-t .footer-r .link .list .item {
    display: inline-block;
    margin-bottom: 13px;
}

.footer-t .footer-r .link .list .item a {
    display: inline-block;
    padding: 12px 30px 12px 46px;
    background: #2C3E43;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.footer-t .footer-r .link .list .item a:before {
    display: block;
    position: absolute;
    content: "";
    top: 48%;
    left: 20px;
    transform: translateY(-50%);
    background: url(../img/common/ico_link01.png) no-repeat bottom center;
    width: 18px;
    height: 14px;
}

.footer-t .footer-r .link .list .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-t .footer-r .link .list .item:nth-child(3) {
    margin-left: 0;
    margin-bottom: 0;
}

.footer-b {
    padding: 55px 0 0;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-b .footer-l .txt {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 300;
}

.footer-b .footer-l .search {
    margin-bottom: 22px;
}

.footer-b .footer-l .search a {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #F4B100;
    position: relative;
    text-decoration: underline;
}

.footer-b .footer-l .search a:hover {
    text-decoration: none;
}

.footer-b .footer-l .search a:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    background: url(../img/common/ico_link01.png) no-repeat bottom center;
    width: 18px;
    height: 14px;
}

.footer-b .footer-l .logos {
    display: inline-block;
    vertical-align: middle;
}

.footer-b .footer-l .is {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.footer-b .footer-r {
    width: 48%;
}

.footer-sns {
    float: left;
}

.footer-sns .list {
    display: flex;
    align-items: center;
}

.footer-sns .list .item+.item {
    margin-left: 10px;
}

.footer-sns .list .item img {
    width: 25px;
}

.footer-sns .list .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-nav {
    font-size: 15px;
}

.footer-nav .list {
    margin-bottom: 30px;
}

.footer-nav .list .item {
    display: inline-block;
    margin-right: 46px;
    margin-bottom: 20px;
}

.footer-nav .list .item:last-child {
    margin-right: 0;
}

.footer-nav .list .item a {
    color: #eee;
    font-size: 18px;
    font-weight: 700;
}

.footer-nav .list .item a:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-nav-sub {
    width: 290px;
    float: left;
}

.footer-nav-sub .list .item {
    margin-bottom: 7px;
    padding-left: 6px;
}

.footer-nav-sub .list .item a {
    font-size: 16px;
}

.footer-nav-sub .list .item a:hover {
    text-decoration: underline;
}

.footer-copy {
    margin-top: 24px;
    float: left;
    color: #eee;
    font-size: 16px;
}

.footer-copy a {
    text-decoration: none;
    color: inherit;
}

.btn-list2 {
    display: none;
}

footer {
    padding-bottom: 100px;
}

.f-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 98;
    display: block;
    width: 100%;
    background: #fff;
}

/*
#f-footer{
    display: none;
}
*/

.f-footer ul {
    display: flex;
    justify-content: flex-start;
}

.f-footer ul li {
    padding-right: 1px;
    flex-grow: 1;
    width: calc(100% / 5);
}

.f-footer ul li:last-child {
    padding-right: 0px;
}

.f-footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 80px;
    color: #FFFFFF;
    font-weight: 700;
    background: #63B9C0;
    transition: .2s;
}

.f-footer ul li a:hover {
    opacity: .8;
}

.f-footer ul li.f1 a {
    background: #fff;
}

.f-footer ul li.f2 a {
    background: #003847;
}

.f-footer ul li.f3 a {
    background: #1A5261;
}

.f-footer ul li.f4 a {
    background: #257387;
}

.f-footer ul li a span.ico {
    margin-right: 5px;
}

.f-footer ul li a span.ico img {
    vertical-align: bottom;
}

/*.areaLogo{
    display: none;
}
.areaCm{
    padding: 18px 24px;
    width: 340px;
    height: 290px;
    position: absolute;
    right: 80px;
    bottom: 46px;
    background: url(../img/home/bg_tvcm.png) top left no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}
.areaCm .tit{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    position: relative;
    z-index: 10;
}
.areaCm .tit:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    left: -10px;
    bottom: 14px;
    transform: rotate(45deg);
    background: #fff;
}
.areaCm .tit:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    right: -10px;
    bottom: 14px;
    transform: rotate(-45deg);
    background: #fff;
}
.areaCm .tit .small{
    font-size: 15px;
}
.areaCm .video{
    margin: 0 auto 17px;
    width: 288px;
    height: 162px;
    position: relative;
    cursor: pointer;
}
.areaCm .video a:hover{
    opacity: 0.8;
    transition: all .2s linear;
}
.areaCm .video img{
    width: 100%;
}
.areaCm .video img .logo01 .img01{


}
.areaCm .video a span:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 42px;
    height: 42px;
    background: url(../img/home/ico_tvcm02.png);
    background-size: contain;
    transform:translateX(-50%) translateY(-50%);
    cursor: pointer;
}
.areaCm .btn{
    font-size: 20px;
    font-weight: 900;
    background: #fff;
    border-radius: 90px;
}
.areaCm .btn a {
    display: block;
    padding: 6px 0px 6px 20px;
    text-decoration: none;
    position: relative;
}
.areaCm .btn a:hover{
    opacity: 0.8;
    transition: all .2s linear;
}
.areaCm .btn a:after{
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: solid 1px orange;
    border-right: solid 1px orange;
    transform: translateY(-50%) rotate(45deg);
}
.areaCm .btn .txt {
    padding-left: 38px;
    position: relative;
    letter-spacing: .05em;
}
.areaCm .btn .txt:before {
    content:"";
    position: absolute;
    width: 30px;
    height: 28px;
    top: -4px;
    left: 0;
    background: url(../img/home/ico_tvcm01.png) top left no-repeat;
    background-size: contain;
}
.areaCm .btn .txt .orange{
    color: #FE6506;
}
*/

/*-------------------------------------------------------------------------------------*/

section.block {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-inner {
    padding: 60px 0;
}

.section-inner.s2 {
    padding: 40px 0;
}

section.block.border-b {
    border-bottom: 1px solid #333;
}

section.block.border-b2 {
    border-bottom: 1px solid #ddd;
}

/*------------------------------------*/

.c-ttl {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: inherit;
    line-height: 1.4;
}

.c-ttl .main {
    font-size: 48px;
    font-weight: 700;
}

.c-ttl .sub {
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
}

.c-ttl .sub.border-t {
    border-top: 1px solid #333;
    padding-top: 8px;
    margin-top: 5px;
}

.c-ttl.f-c-wh .sub.border-t {
    border-top: 1px solid #fff;
}

.c-ttl span.border {
    border-bottom: 1px solid #F5740A;
    padding-bottom: 15px;
    display: inline-block;
}

.c-ttl .sub2 {
    position: relative;
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
}

.c-ttl .sub2 span {
    font-size: 32px;
    color: #2CB23C;
}

.c-ttl .sub2::before {
    content: "";
    top: 20px;
    left: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.c-ttl .sub2::after {
    content: "";
    top: 20px;
    right: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*------------------------------------*/

.c-ttl2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    color: inherit;
    line-height: 1.4;
}

.c-ttl2 .main {
    font-size: 32px;
    font-weight: 800;
    display: block;
    color: #003846;
    position: relative;
}

.c-ttl2 .sub {
    font-size: 21px;
    display: block;
    font-weight: 800;
    letter-spacing: 1px;
    color: #001E2C;
    position: relative;
}

.c-ttl2 .border-t {
    margin-top: 10px;
    padding-top: 30px;
}

.c-ttl2 .border-t::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 1px;
    background: #f06d05;
    top: 0;
    left: calc(50% - 45px);
}

/*------------------------------------*/

.c-txt {
    margin-bottom: 15px;
    text-align: center;
    line-height: 2;
}

.c-txt p {
    margin-bottom: 12px;
}

.c-txt p.tbg {
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.c-txt dl {
    margin-bottom: 25px;
}

.c-txt dl:last-child {
    margin-bottom: 0;
}

.c-txt dl dt {
    color: #ed8c01;
}

.c-txt .indent {
    padding-left: 1em;
    text-indent: -1em;
}

.c-txt .list {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.c-txt .list li {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    margin-right: 30px;
}

.c-txt .list li:last-child {
    margin-right: 0;
}

.c-txt .list li::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #E56607;
    top: calc(50% - 1px);
    left: 5px;
}

.c-txt p img {
    vertical-align: middle;
    margin-right: 5px;
}

/*------------------------------------*/

.c-img {
    margin-bottom: 20px;
    text-align: center;
}

.c-img img {
    max-width: 100%;
}

/*------------------------------------*/

.c-table {
    margin-bottom: 20px;
}

.c-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #bbb;
}

.c-table table th {
    background: #333;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    font-size: 20px;
}

.c-table table td {
    padding: 10px 25px;
    border: 1px solid #bbb;
    font-size: 18px;
}

.c-table table .w50 {
    width: 50%;
}

/*------------------------------------*/

.c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.c-btn.m-b- {
    position: relative;
    margin-bottom: -35px;
    z-index: 2;
}

.c-btn a, .c-btn button {
    display: table;
    margin: 0 10px;
    background: #fff;
    color: #E57200;
    text-decoration: none;
    box-sizing: border-box;
    width: 450px;
    height: 70px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    transition: 0.2s;
    border: 2px solid #E57200;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}

.c-btn a:hover, .c-btn button:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.c-btn a::after, .c-btn button::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #E57200;
    border-right: 2px solid #E57200;
    box-sizing: border-box;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
}

.c-btn .wide {
    width: 920px;
}

.c-btn .wide2 {
    width: 620px;
}

.c-btn .wide3 {
    width: 100%;
    margin: 0;
}

.c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
}

.c-btn .c2 {
    background: #000;
    color: #fff;
}

.c-btn .c2::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c3 {
    background: #9F4406;
    border: 2px solid #9F4406;
    color: #fff;
}

.c-btn .c3::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c4 {
    border: 2px solid #fff;
    color: #E56600;
    font-weight: 500;
    font-size: 26px;
}

.c-btn .c4::after {
    border-top: 2px solid #E56600;
    border-right: 2px solid #E56600;
}

.c-btn .c5 {
    background: #001E2D;
    color: #fff;
    border: none;
}

.c-btn .c5::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c6 {
    background: #E66700;
    color: #fff;
    border: none;
}

.c-btn .c6::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px;
}

.c-btn .c7 {
    background: #E25601;
    color: #fff;
    border: none;
}

.c-btn .c7::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px;
}

.c-btn .c8 {
    background: #003847;
    color: #fff;
    border: none;
}

.c-btn .c8::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c9 {
    background: #fff;
    color: #000;
    border: 2px solid #333;
}

.c-btn .c9::after {
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

.c-btn .trial {
    background: #fff;
    border: 1px solid #D5D5D5;
}

.c-btn .trial>span {
    display: inline-block;
    background: url(../img/ico_trial.jpg) no-repeat left center;
    line-height: 70px;
    padding: 10px 0;
    padding-left: 110px;
    font-weight: 700;
}

/*------------------------------------*/

.column-wrap {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
}

.column {
    width: calc(50% - 20px);
}

/*------------------------------------*/

.case-block .case-t .case-list {}

.case-block .case-t .case-list ul {
    display: flex;
    margin-left: -30px;
    flex-wrap: wrap;
    justify-content: center;
}

.case-block .case-t .case-list ul li {
    margin-left: 30px;
    width: calc(33.333% - 30px);
    background: #fff;
    position: relative;
}

.case-block .case-t .case-list ul li>a {
    display: block;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 50px 25px 60px;
    text-decoration: none;
}

.case-block .case-t .case-list ul li>a>span {
    display: block;
}

.case-block .case-t .case-list ul li .logo {
    width: 95px;
    height: 95px;
    border-radius: 90px;
    position: absolute;
    background: #fff;
    left: 50%;
    top: -47px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
}

.case-block .case-t .case-list ul li .logo img {
    width: 100%;
}

.case-block .case-t .case-list ul li .txt {}

.case-block .case-t .case-list ul li .txt .ttl {
    margin-bottom: 15px;
    color: #001E2D;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.3;
}

.case-block .case-t .case-list ul li .txt p {
    margin-bottom: 35px;
    font-weight: 300;
    color: #333333;
    font-size: 17px;
    line-height: 1.4;
}

.case-block .case-t .case-list ul li .img-area {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 215px;
}

.case-block .case-t .case-list ul li .img-area img {
    width: 100%;
    height: auto;
}

.case-block .case-t .case-list ul li .item_btn {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
}

.case-block .case-t .case-list ul li .item_btn>span {
    display: block;
    padding: 8px;
    width: 200px;
    color: #001E2C;
    font-size: 16px;
    font-weight: 400;
    border: solid 1px #001E2D;
    border-radius: 90px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: #fff;
    position: relative;
}

.case-block .case-t .case-list ul li .item_btn>span:hover {
    opacity: .7;
    transition: all .2s linear;
}

.case-block .case-t .case-list ul li .item_btn>span:after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #001E2C;
    border-right: 1px solid #001E2C;
    box-sizing: border-box;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
}

/*------------------------------------*/

section.news-block .section-inner {
    padding: 80px 0 90px;
}

section.news-block .box {
    width: 100%;
    float: none;
    position: relative;
    box-sizing: border-box;
}

section.news-block .box .areaTtl .ttl {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 900;
    color: #001E2C;
    border-bottom: solid 1px #001E2D;
    letter-spacing: .05em;
}

section.news-block .box .areaTtl .ttl:after {
    position: absolute;
}

section.news-block .box .btn {
    position: absolute;
    top: 0;
    right: 0px;
}

section.news-block .box .btn a {
    display: inline-block;
    padding: 6px;
    width: 110px;
    font-size: 16px;
    font-weight: 400;
    color: #003847;
    text-align: center;
    background: #EEEEEE;
    border-radius: 90px;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: .05em;
}

section.news-block .box .btn a:hover {
    opacity: .7;
    transition: all .2s linear;
}

section.news-block .box .btn a:after {
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
}

section.news-block .box .list .item a {
    display: flex;
    justify-content: space-between;
}

section.news-block .box .list .item a .t1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section.news-block .box .list .item a .t1 .date {
    color: #777777;
}

section.news-block .box .list .item a .t2 {
    display: flex;
    justify-content: flex-start;
    width: calc(100% - 200px);
    font-size: 17px;
}

section.news-block .areaNews:nth-child(2n+1) {
    padding-right: 0px;
}

section.news-block .areaNews:nth-child(2n) {
    padding-left: 0px;
}

section.news-block .areaNews .list .item+.item {
    margin-top: 24px;
}

section.news-block .box .list .item a {
    text-decoration: none;
}

section.news-block .areaNews .list .item a:hover .t2 .ttl {
    text-decoration: underline;
}

section.news-block .areaNews .list .item a .t1 {
    box-sizing: border-box;
    padding-right: 0px;
}

section.news-block .areaNews .list .item a .t1 .date {
    width: 88px;
    display: block;
    margin-right: 5px;
    font-size: 17px;
}

section.news-block .areaNews .list .item a .t1 .cat {
    display: inline-block;
    padding: 3px 0;
    width: 100px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #FF8C00;
}

section.news-block .areaNews .news-list, section.news-block .areaUpdate .update-list {
    margin-top: 35px;
}

.seminar-table.s-over {
    overflow-x: scroll;
}

/*セミナー情報*/

.seminar-table {
    margin-bottom: 30px;
}

.seminar-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #081F27;
    color: #003846;
    font-size: 18px;
    line-height: 1.3;
    background: #fff;
}

.seminar-table table th {
    background: #011E2E;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #fff;
    padding: 15px 5px;
    font-weight: 500;
    box-sizing: border-box;
}

.seminar-table table th:first-child {
    border-left: 1px solid #081F27;
}

.seminar-table table th.th1 {
    width: 120px;
}

.seminar-table table th.th2 {
    width: 120px;
}

.seminar-table table th.th3 {
    width: 150px;
}

.seminar-table table td {
    border: 1px solid #011E2E;
    font-weight: 600;
}

.seminar-table table td>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.seminar-table table td.t1>div::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #21a0ae transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

.seminar-table table td.t2>div::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #E66700 transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

.seminar-table table td .date {
    letter-spacing: 2px;
}

.seminar-table table td .date span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.seminar-table table td.txt>div {
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
}

.seminar-table table td.txt>div.full {
    align-items: stretch;
    height: auto;
}

.seminar-table table td.txt>div.full::before {
    content: "満員御礼";
    background: #9A9B8B;
    color: #fff;
    width: 120px;
    margin-right: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    min-width: 5em;
}

.seminar-table table td.txt>div.full p {
    display: flex;
    align-items: center;
}

.seminar-table table td a {
    color: #F27300;
}

.seminar-table table td a:hover {
    text-decoration: none;
}

.seminar-table-txt {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    color: #003846;
}

.seminar-table-txt>div {
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.seminar-table-txt>div.t1::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #21a0ae transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

.seminar-table-txt>div.t2::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #E66700 transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}