@charset "UTF-8";
@media screen and (max-width: 960px) {
  .pc {
    display: none !important;
  }
  .tab {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  .pc-c {
    display: none !important;
  }
  .tab-c {
    display: none !important;
  }
  .sp-c {
    display: table-cell !important;
  }
  .pcbr {
    display: none;
  }
  .tabbr {
    display: none;
  }
  .sp_dis-i {
    display: inline;
  }
  .sp_dis-ib {
    display: inline-block;
  }
  .sp_dis-b {
    display: block;
  }
  .sp_m-t0 {
    margin-top: 0 !important;
  }
  .sp_m-t5 {
    margin-top: 5px !important;
  }
  .sp_m-t10 {
    margin-top: 10px !important;
  }
  .sp_m-t15 {
    margin-top: 15px !important;
  }
  .sp_m-t20 {
    margin-top: 20px !important;
  }
  .sp_m-t25 {
    margin-top: 25px !important;
  }
  .sp_m-t30 {
    margin-top: 30px !important;
  }
  .sp_m-t40 {
    margin-top: 40px !important;
  }
  .sp_m-t50 {
    margin-top: 50px !important;
  }
  .sp_m-t60 {
    margin-top: 60px !important;
  }
  .sp_m-t70 {
    margin-top: 70px !important;
  }
  .sp_m-t80 {
    margin-top: 80px !important;
  }
  .sp_m-t90 {
    margin-top: 90px !important;
  }
  .sp_m-t100 {
    margin-top: 100px !important;
  }
  .sp_m-b0 {
    margin-bottom: 0 !important;
  }
  .sp_m-b5 {
    margin-bottom: 5px !important;
  }
  .sp_m-b10 {
    margin-bottom: 10px !important;
  }
  .sp_m-b15 {
    margin-bottom: 15px !important;
  }
  .sp_m-b20 {
    margin-bottom: 20px !important;
  }
  .sp_m-b25 {
    margin-bottom: 25px !important;
  }
  .sp_m-b30 {
    margin-bottom: 30px !important;
  }
  .sp_m-b40 {
    margin-bottom: 40px !important;
  }
  .sp_m-b50 {
    margin-bottom: 50px !important;
  }
  .sp_m-b60 {
    margin-bottom: 60px !important;
  }
  .sp_m-b70 {
    margin-bottom: 70px !important;
  }
  .sp_m-b80 {
    margin-bottom: 80px !important;
  }
  .sp_m-b90 {
    margin-bottom: 90px !important;
  }
  .sp_m-b100 {
    margin-bottom: 100px !important;
  }
  .sp_m-l-auto {
    margin-left: auto !important;
  }
  .sp_m-l0 {
    margin-left: 0 !important;
  }
  .sp_m-l5 {
    margin-left: 5px !important;
  }
  .sp_m-l10 {
    margin-left: 10px !important;
  }
  .sp_m-l15 {
    margin-left: 15px !important;
  }
  .sp_m-l20 {
    margin-left: 20px !important;
  }
  .sp_m-l25 {
    margin-left: 25px !important;
  }
  .sp_m-l30 {
    margin-left: 30px !important;
  }
  .sp_m-r-auto {
    margin-right: auto !important;
  }
  .sp_m-r0 {
    margin-right: 0 !important;
  }
  .sp_m-r5 {
    margin-right: 5px !important;
  }
  .sp_m-r10 {
    margin-right: 10px !important;
  }
  .sp_m-r15 {
    margin-right: 15px !important;
  }
  .sp_m-r20 {
    margin-right: 20px !important;
  }
  .sp_m-r25 {
    margin-right: 25px !important;
  }
  .sp_m-r30 {
    margin-right: 30px !important;
  }
  .sp_p-t0 {
    padding-top: 0 !important;
  }
  .sp_p-t5 {
    padding-top: 5px !important;
  }
  .sp_p-t10 {
    padding-top: 10px !important;
  }
  .sp_p-t15 {
    padding-top: 15px !important;
  }
  .sp_p-t20 {
    padding-top: 20px !important;
  }
  .sp_p-t25 {
    padding-top: 25px !important;
  }
  .sp_p-t30 {
    padding-top: 30px !important;
  }
  .sp_p-t40 {
    padding-top: 40px !important;
  }
  .sp_p-t50 {
    padding-top: 50px !important;
  }
  .sp_p-t60 {
    padding-top: 60px !important;
  }
  .sp_p-t70 {
    padding-top: 70px !important;
  }
  .sp_p-t80 {
    padding-top: 80px !important;
  }
  .sp_p-t90 {
    padding-top: 90px !important;
  }
  .sp_p-t100 {
    padding-top: 100px !important;
  }
  .sp_p-b0 {
    padding-bottom: 0 !important;
  }
  .sp_p-b5 {
    padding-bottom: 5px !important;
  }
  .sp_p-b10 {
    padding-bottom: 10px !important;
  }
  .sp_p-b15 {
    padding-bottom: 15px !important;
  }
  .sp_p-b20 {
    padding-bottom: 20px !important;
  }
  .sp_p-b25 {
    padding-bottom: 25px !important;
  }
  .sp_p-b30 {
    padding-bottom: 30px !important;
  }
  .sp_p-b40 {
    padding-bottom: 40px !important;
  }
  .sp_p-b50 {
    padding-bottom: 50px !important;
  }
  .sp_p-b60 {
    padding-bottom: 60px !important;
  }
  .sp_p-b70 {
    padding-bottom: 70px !important;
  }
  .sp_p-b80 {
    padding-bottom: 80px !important;
  }
  .sp_p-b90 {
    padding-bottom: 90px !important;
  }
  .sp_p-b100 {
    padding-bottom: 100px !important;
  }
  .sp_p-l0 {
    padding-left: 0 !important;
  }
  .sp_p-l5 {
    padding-left: 5px !important;
  }
  .sp_p-l10 {
    padding-left: 10px !important;
  }
  .sp_p-l15 {
    padding-left: 15px !important;
  }
  .sp_p-l20 {
    padding-left: 20px !important;
  }
  .sp_p-l25 {
    padding-left: 25px !important;
  }
  .sp_p-l30 {
    padding-left: 30px !important;
  }
  .sp_p-r0 {
    padding-right: 0 !important;
  }
  .sp_p-r5 {
    padding-right: 5px !important;
  }
  .sp_p-r10 {
    padding-right: 10px !important;
  }
  .sp_p-r15 {
    padding-right: 15px !important;
  }
  .sp_p-r20 {
    padding-right: 20px !important;
  }
  .sp_p-r25 {
    padding-right: 25px !important;
  }
  .sp_p-r30 {
    padding-right: 30px !important;
  }
  .sp_f-c-bk {
    color: #000000 !important;
  }
  .sp_f-c-wh {
    color: #ffffff !important;
  }
  .sp_f-c-gr {
    color: #aaaaaa !important;
  }
  .sp_f-c1 {
    color: #ed8c01 !important;
  }
  .sp_f-c2 {
    color: #F4BD34 !important;
  }
  .sp_f-c3 {
    color: #DBEFCA !important;
  }
  .sp_f-c4 {
    color: #EA7603 !important;
  }
  .sp_b-c-bk {
    background-color: #000000 !important;
  }
  .sp_b-c-wh {
    background-color: #ffffff !important;
  }
  .sp_b-c-gr {
    background-color: #F7F6F2 !important;
  }
  .sp_b-c1 {
    background-color: #ed8c01 !important;
  }
  .sp_b-c2 {
    background-color: #F4BD34 !important;
  }
  .sp_b-c3 {
    background-color: #DBEFCA !important;
  }
  .sp_b-c4 {
    background-color: #EA7603 !important;
  }
  .b-c8 {
    background-image: none !important;
  }
  .bg-dot02 {
    background-size: 800px auto !important;
  }
  .sp_f-bold {
    font-weight: bold !important;
  }
  .sp_f-normal {
    font-weight: normal !important;
  }
  .sp_f-s150 {
    font-size: 150% !important;
  }
  .sp_f-s140 {
    font-size: 140% !important;
  }
  .sp_f-s130 {
    font-size: 140% !important;
  }
  .sp_f-s120 {
    font-size: 120% !important;
  }
  .sp_f-s110 {
    font-size: 110% !important;
  }
  .sp_f-s100 {
    font-size: 100% !important;
  }
  .sp_f-s90 {
    font-size: 90% !important;
  }
  .sp_f-s80 {
    font-size: 80% !important;
  }
  .sp_f-s70 {
    font-size: 70% !important;
  }
  .sp_f-s60 {
    font-size: 60% !important;
  }
  .sp_f-s50 {
    font-size: 50% !important;
  }
  .sp_l-h10 {
    line-height: 1.0 !important;
  }
  .sp_l-h11 {
    line-height: 1.1 !important;
  }
  .sp_l-h12 {
    line-height: 1.2 !important;
  }
  .sp_l-h13 {
    line-height: 1.3 !important;
  }
  .sp_l-h14 {
    line-height: 1.4 !important;
  }
  .sp_l-h15 {
    line-height: 1.5 !important;
  }
  .sp_l-h16 {
    line-height: 1.6 !important;
  }
  .sp_l-h17 {
    line-height: 1.7 !important;
  }
  .sp_l-h18 {
    line-height: 1.8 !important;
  }
  .sp_l-h19 {
    line-height: 1.9 !important;
  }
  .sp_l-h20 {
    line-height: 2.0 !important;
  }
  .sp_t-l {
    text-align: left !important;
  }
  .sp_t-c {
    text-align: center !important;
  }
  .sp_t-r {
    text-align: right !important;
  }
  .sp_v-t {
    vertical-align: top !important;
  }
  .sp_v-m {
    vertical-align: middle !important;
  }
  .sp_v-b {
    vertical-align: bottom !important;
  }
  .sp_pos-r {
    position: relative;
  }
  .sp_pos-a {
    position: absolute;
  }
  .sp_pos-s {
    position: static;
  }
  .sp_t-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  /*-------------------------------------------------------------------------------------*/
  body {
    font-size: 15px;
    min-width: 320px;
    overflow: hidden;
  }
  .wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  /*----------------------*/
  .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .movie iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
  /* header-------------------------------------------------------------------------------------*/
  header {
    width: 100%;
    height: 54px;
    min-width: 320px;
    background: none;
    position: inherit;
  }
  #header {
    position: absolute;
    width: 100%;
    height: 54px;
    min-width: 320px;
    background: none;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    height: 54px;
  }
  .header-logo {
    padding: 7px;
    width: auto;
  }
  .header-logo .img {
    width: auto;
    height: auto;
  }
  .header-logo .img .logo01 {
    width: 159px;
    height: 27px;
    min-width: auto;
    background-size: contain !important;
  }
  .header-logo .img .logo02 {
    width: 159px;
    height: 27px;
    min-width: auto;
    background-size: contain;
  }
  #home .header-logo .img .logo02 {
    background-size: contain;
  }
  .header-nav {
    padding-top: 0px;
    position: fixed;
    right: 0;
    top: 0;
  }
  .header-nav ul {
    min-width: auto;
  }
  .header-nav ul li.menu {
    padding-right: 0;
    margin-right: 0px;
    width: 56px;
    background: #fff;
  }
  .header-nav ul li.menu>div {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    padding: 4px 0 2px;
  }
  .header-nav ul li.menu>div img {
    margin-top: 0;
    width: 40px;
    margin-bottom: 5px;
  }
  .header-nav ul li.menu>div.img02 {
    width: 48px;
    height: 48px;
    background: url(../img/common/img_menu02.png) center center no-repeat;
    background-size: 36px !important;
  }
  #home .header-nav ul li.menu>div.img02 {
    background: url(../img/common/img_menu02.png) center center no-repeat;
  }
  .page-ttl {
    padding-top: 0px;
  }
  #header-f {
    display: none;
  }
  #header-f .header-f-in {
    display: none;
  }
  .f-footer {
    display: none !important;
  }
  #g-nav-r {
    box-sizing: border-box;
    z-index: 200;
    height: calc(100% - 46px);
  }
  #g-nav-r .g-nav-close {
    width: 50px;
    right: 7px;
  }
  #g-nav-r #g-nav-close {
    font-size: 55px;
    width: 50px;
    height: 50px;
    top: -1px;
    right: 0px;
    line-height: 50px;
  }
  #g-nav-r .g-nav-close .txt, #g-nav-r .g-nav-close .sns {
    display: none;
  }
  #g-nav-r .wrap {
    width: 100%;
    min-width: auto;
    padding: 0;
  }
  #g-nav-r .g-nav-in {
    padding: 60px 0px 20px;
  }
  #g-nav-r .g-nav-logo {
    position: absolute;
    width: 85px;
    height: 45px;
    top: -45px;
  }
  #g-nav-r .list {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 14px;
  }
  #g-nav-r .list ul {
    display: block;
  }
  #g-nav-r .list ul li {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  #g-nav-r .list li a {
    display: inline-block;
    padding: 5px 0;
  }
  #g-nav-r .list ul>li a, #g-nav-r .list ul>li p {
    padding-left: 10px;
  }
  #g-nav-r .list ul>li p {
    cursor: pointer;
  }
  #g-nav-r .list ul>li a::after, #g-nav-r .list ul>li p::after {
    width: 4px;
    height: 4px;
    right: -15px;
  }
  #g-nav-r .list ul>li:first-child p::after {
    transform: rotate(135deg);
  }
  #g-nav-r .g-nav-content {
    padding: 20px 0 0;
    width: 100%;
    float: none;
    height: inherit;
  }
  #g-nav-r .g-nav-content-inner {
    width: auto;
    padding-right: 0;
  }
  #g-nav-r .g-nav-subcontent {
    display: none;
    margin-top: 10px;
    padding: 20px 10px 26px;
    width: 100%;
    position: relative;
    height: inherit;
  }
  #g-nav-r .g-nav-subcontent::before {
    top: -10px;
    left: 35px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #003847 transparent;
  }
  #g-nav-r #gl3 .g-nav-subcontent::before {
    top: -10px;
    left: 35px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #237285 transparent;
  }
  #g-nav-r .g-nav-subcontent .list {
    font-size: 13px;
    margin-top: 0;
  }
  #g-nav-r .g-nav-subcontent .list ul li {
    margin: 0;
  }
  #g-nav-r .g-nav-subcontent .list ul li+li {
    margin-top: 15px;
  }
  #g-nav-r .g-nav-subcontent .list ul li .num {
    padding-right: 5px;
    font-size: 13px;
  }
  #g-nav-r .sublist {
    padding-left: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
  }
  #g-nav-r .sublist .item {
    margin-bottom: 13px;
    width: 200px;
  }
  #g-nav-r .sns {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 20px;
  }
  #g-nav-r .sns .item {
    display: inline-block;
    float: left;
  }
  #g-nav-r .sns .item+.item {
    margin-left: 15px;
  }
  #g-nav-r .sns .item a {
    display: inline-block;
    width: 26px;
    height: 26px;
  }
  #g-nav-r .sns .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
  }
  #g-nav-r .sns .item .facebook {
    background: url(../img/common/logo_facebook.jpg) no-repeat left center;
    background-size: contain;
  }
  #g-nav-r .sns .item .twitter {
    background: url(../img/common/logo_twitter.jpg) no-repeat left center;
    background-size: contain;
  }
  #g-nav-r .sns .item .instagram {
    background: url(../img/common/logo_instagram.jpg) no-repeat left center;
    background-size: contain;
  }
  #g-nav-r .tel {
    margin: 0 auto 30px;
    padding: 10px 10px 0;
  }
  #g-nav-r .tel .ttl {
    font-size: 18px;
    margin-bottom: 15px;
    background-size: 30px;
    padding: 5px 10px 8px 32px;
  }
  #g-nav-r .tel .num {
    display: block;
    margin-bottom: 1px;
    margin-left: 0;
  }
  #g-nav-r .tel .num>div {
    display: inline-block;
    margin: 0 15px 5px 0;
    font-size: 19px;
  }
  #g-nav-r .tel .num>div+div {
    margin-left: 0;
    margin-right: 0;
  }
  #g-nav-r .tel .num>div a {
    text-decoration: none;
  }
  #g-nav-r .tel .time {
    font-size: 13px;
  }
  #g-nav-r .btn-list {
    margin: 0;
    height: 46px;
  }
  #g-nav-r .btn-list ul {
    display: block;
  }
  #g-nav-r .btn-list ul li.lib {
    width: calc((100% - 46px) / 2);
  }
  #g-nav-r .btn-list ul li.try {
    width: calc((100% - 46px) / 2);
  }
  #g-nav-r .btn-list ul li.inq {
    width: 46px;
  }
  #g-nav-r .btn-list ul li.inq a {
    padding-left: 0;
  }
  #g-nav-r .btn-list ul li a>span.inq {
    width: 18px;
    height: 46px;
    line-height: 46px;
    background: url(../img/common/ico_inq.png) no-repeat center center;
    background-size: contain;
  }
  #g-nav-r .btn-list ul li a {
    padding-left: 5px;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
  }
  /*
cv-------------------------------------------------------------------------------------*/
  .cv .cf {
    display: block;
  }
  .cv .block-inner {
    padding: 5px 0 10px;
  }
  .cv .box-l, .cv .box-r {
    width: 100%;
    float: none;
    box-sizing: border-box;
  }
  .cv .box-l {
    margin-bottom: 33px;
    padding-right: 0;
    border: none;
    box-shadow: none;
  }
  .cv .box-l .c-ttl {
    padding-right: 0;
  }
  .cv .box-l .c-ttl .en {
    font-size: 11px;
    letter-spacing: inherit;
  }
  .cv .box-l .c-ttl .en::after {
    width: 42px;
    bottom: -5px;
  }
  .cv .box-l .c-ttl .jp {
    margin-top: 0;
    padding-top: 7px;
    font-size: 17px;
  }
  .cv .box-l .lead {
    margin-bottom: 18px;
    font-size: 13px;
    letter-spacing: 0;
  }
  .cv .box-l .areaList .list {
    margin: 0 auto;
    width: 190px;
  }
  .cv .box-l .areaList .list .item+.item {
    margin-top: 3px;
  }
  .cv .box-l .areaList .list .item .num {
    padding: 0 5px 0 0;
    font-size: 21px;
  }
  .cv .box-l .areaList .list .item .ttl {
    font-size: 13px;
  }
  .cv .box-l .btn {
    margin-top: 27px;
    margin-bottom: 7px;
  }
  .cv .box-l .btn a {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    font-size: 12px;
  }
  .cv .box-l .note {
    font-size: 11px;
  }
  .cv .box-r {
    padding-left: 0;
  }
  .cv .box-r .download {
    margin: 0 5px;
    padding: 16px 20px 4px;
    border-radius: 2px;
  }
  .cv .box-r .download .c-ttl {
    margin: 0 auto 14px;
    width: 176px;
  }
  .cv .box-r .download .c-ttl .jp {
    padding-left: 37px;
    font-size: 16px;
  }
  .cv .box-r .download .c-ttl .jp::before {
    width: 28px;
    height: 28px;
    top: 2px;
    left: 3px;
  }
  .cv .box-r .download .c-ttl .en {
    padding-left: 37px;
    font-size: 8px;
  }
  .cv .box-r .download .txt {
    margin-bottom: 20px;
  }
  .cv .box-r .download .btn a {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    font-size: 12px;
  }
  .cv .box-r .tel {
    margin-top: 20px;
  }
  .cv .box-r .tel .tit {
    padding-left: 22px;
    font-size: 16px;
  }
  .cv .box-r .tel .tit::before {
    width: 15px;
    top: 5px;
    left: 10px;
  }
  .cv .box-r .tel .txt {
    margin-top: 10px;
  }
  .cv .box-r .tel .num {
    margin-top: 16px;
    text-align: center;
    line-height: 2.4;
  }
  .cv .box-r .tel .num span {
    display: block;
    font-size: 21px;
  }
  .cv .box-r .tel .num span+span {
    margin-left: 0;
    margin-right: 0;
  }
  .cv .box-r .tel .time {
    margin-top: 5px;
    padding-right: 6px;
    font-size: 11px;
  }
  footer, .footer {
    padding: 10px 0 30px;
  }
  .footer-inner {
    display: block;
    padding: 8px 8px 10px;
  }
  .footer-inner>div {
    display: block;
    align-items: inherit;
  }
  .footer .footer-l {
    width: 100%;
  }
  .footer .footer-r {
    padding: 18px 0 0px;
    width: 100%;
  }
  .footer-t {
    padding: 0 0 13px;
  }
  .footer-t .footer-l .tit {
    font-size: 17px;
  }
  .footer-t .footer-l .tit::after {
    display: none;
  }
  .footer-t .footer-r .txt {
    margin-bottom: 22px;
    font-size: 13px;
  }
  .footer-t .footer-r .link .list .item a {
    padding: 6px 12px 6px 24px;
    font-size: 13px
  }
  .footer-t .footer-r .link .list .item a::before {
    width: 12px;
    height: 10px;
    left: 8px;
    background-size: contain;
  }
  .footer-b {
    padding: 31px 0 0;
  }
  .footer-b .footer-l .txt {
    margin-bottom: 21px;
    font-size: 10px;
    text-align: center;
  }
  .footer-b .footer-l .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-b .footer-l .search {
    display: inline-block;
    margin-bottom: 0;
  }
  .footer-b .footer-l .search a {
    display: inline-block;
    padding-left: 13px;
    font-size: 13px;
    vertical-align: middle;
  }
  .footer-b .footer-l .logos {
    margin-right: 10px;
    width: 90px;
  }
  .footer-b .footer-l .is {
    margin-top: 0;
    margin-left: 0;
    font-size: 9px;
  }
  .footer-logo {
    margin-bottom: 6px;
    text-align: center;
  }
  .footer-logo img {
    width: 210px;
  }
  .footer-sns-copy {
    float: right;
    width: 102px;
  }
  .footer-sns {
    margin-top: 5px;
  }
  .footer-sns .list .item+.item {
    margin-left: 10px;
  }
  .footer-sns ul li img {
    width: 26px;
  }
  .footer-nav {
    font-size: 13px;
    margin-left: 0;
  }
  .footer-nav .list {
    margin-bottom: 38px;
  }
  .footer-nav .list .item {
    margin-right: 26px;
    margin-bottom: 10px;
  }
  .footer-nav .list .item:first-child {
    display: block;
  }
  .footer-nav .list .item:last-child {
    display: block;
  }
  .footer-nav .list .item a {
    font-size: 13px;
  }
  .footer-nav-sub {
    width: auto;
  }
  .footer-nav-sub .list .item {
    padding-left: 0;
    margin-bottom: 9px;
  }
  .footer-nav-sub .list .item a {
    font-size: 10px;
    letter-spacing: .05em;
  }
  .footer-copy {
    margin-top: 3px;
    font-size: 9px;
  }
  .btn-list2 {
    display: block;
    width: 100%;
    height: 46px;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  .btn-list2 ul {
    display: block;
    width: 100%;
  }
  .btn-list2 ul li.lib {
    width: calc((100% - 46px) / 2);
  }
  .btn-list2 ul li.try {
    width: calc((100% - 46px) / 2);
  }
  .btn-list2 ul li.inq {
    width: 46px;
  }
  .btn-list2 ul li.inq a {
    padding-left: 0;
  }
  .btn-list2 ul li a>span.inq {
    width: 18px;
    height: 46px;
    line-height: 46px;
  }
  .btn-list2 ul li a {
    padding-left: 5px;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
  }
  .btn-list2 ul li {
    float: left;
    text-align: center;
  }
  .btn-list2 ul li::after {
    display: block;
  }
  .btn-list2 ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 700;
    width: 100%;
    position: relative;
  }
  .btn-list2 ul li.lib a {
    background: #003847;
  }
  .btn-list2 ul li.try a {
    background: #1A5261;
  }
  .btn-list2 ul li.inq a {
    background: #237285;
  }
  .btn-list2 ul li a>span.inq {
    display: block;
    margin: 0 auto;
    background: url(../img/common/ico_inq.png) no-repeat center center;
    background-size: contain;
  }
  .section-inner {
    padding: 40px 0;
  }
  /*------------------------------------*/
  .c-ttl2 {
    font-size: 22px;
  }
  .c-ttl2 .main {
    font-size: 23px;
  }
  .c-ttl2 .main span.sp {
    display: none !important;
  }
  .c-ttl2 .sub {
    font-size: 18px;
  }
  .c-ttl2 .border-t {
    padding-top: 20px;
  }
  /*------------------------------------*/
  .c-table {
    margin-bottom: 20px;
  }
  .c-table table th {
    padding: 7px 10px;
    font-size: 15px;
  }
  .c-table table td {
    padding: 10px 10px 11px;
    line-height: 1.4;
    font-size: 14px;
  }
  .c-table.s-over {
    overflow-x: auto;
  }
  .c-table.s-over table {
    margin: 0 auto;
    width: 758px;
  }
  /*------------------------------------*/
  .c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .c-btn a, .c-btn button {
    display: table;
    width: 100%;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 15px;
  }
  .c-btn a::after, .c-btn button::after {
    width: 5px;
    height: 5px;
    right: 20px;
  }
  .c-btn .wide {
    width: 100%;
  }
  .c-btn .wide2 {
    width: 100%;
  }
  .c-btn .tab_w {
    width: 100%;
  }
  .c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 15px;
  }
  .c-btn .c4 {
    font-size: 16px;
  }
  .c-btn .c6::after {
    right: 13px;
  }
  .c-btn .c7::after {
    right: 13px;
  }
  .c-btn .trial {}
  .c-btn .trial>span {
    display: inline-block;
    background: url(../img/ico_trial.jpg) no-repeat left center;
    background-size: 55px 35px;
    line-height: 50px;
    padding: 10px 10px 10px 60px;
    font-weight: 700;
  }
  /*------------------------------------*/
  .column-wrap {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  /*------------------------------------*/
  .case-block .case-t .case-list {}
  .case-block .case-t .case-list ul {
    display: flex;
    margin-left: 0px;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
  .case-block .case-t .case-list ul li {
    margin: 20px auto 35px;
    width: 100%;
    background: #fff;
    position: relative;
  }
  .case-block .case-t .case-list ul li>a {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 35px 15px 30px;
    text-decoration: none;
  }
  .case-block .case-t .case-list ul li>a::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #001E2D;
    border-right: 1px solid #001E2D;
    box-sizing: border-box;
    top: 50%;
    right: 12px;
    transform: translateY(-50%) rotate(45deg);
    visibility: visible;
  }
  .case-block .case-t .case-list ul li>a>span {
    display: block;
  }
  .case-block .case-t .case-list ul li .logo {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: absolute;
    background: #fff;
    left: 50%;
    top: -32px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .case-block .case-t .case-list ul li .txt {
    width: calc(100% - 255px);
    box-sizing: border-box;
    padding-right: 10px;
  }
  .case-block .case-t .case-list ul li .txt .ttl {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .case-block .case-t .case-list ul li .txt p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
  }
  .case-block .case-t .case-list ul li .img-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 240px;
    height: auto;
  }
  .case-block .case-t .case-list ul li .img-area img {
    width: 100%;
  }
  .case-block .case-t .case-list ul li .item_btn {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
  }
  .case-block .case-t .case-list ul li .item_btn>span {
    display: block;
    padding: 8px;
    width: 200px;
    color: #001E2C;
    font-size: 16px;
    font-weight: 400;
    border: solid 1px #001E2D;
    border-radius: 90px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: #fff;
    position: relative;
  }
  .case-block .case-t .case-list ul li .item_btn>span:hover {
    opacity: .7;
    transition: all .2s linear;
  }
  .case-block .case-t .case-list ul li .item_btn>span:after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #001E2C;
    border-right: 1px solid #001E2C;
    box-sizing: border-box;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
  }
  /* news-------------------------------------------------------------------------------------*/
  section.news-block .section-inner {
    padding: 60px 0 65px;
  }
  section.news-block .box {
    width: 100%;
    margin-bottom: 60px;
  }
  section.news-block .box+.box {
    margin-top: 62px;
    padding-left: 0;
  }
  section.news-block .box .btn a {
    padding: 9px;
    width: 125px;
    font-size: 10px;
  }
  section.news-block .box .btn a::after {
    width: 4px;
    height: 4px;
    right: 10px;
  }
  section.news-block .box .areaTtl .ttl {
    padding-bottom: 4px;
    font-size: 14px;
  }
  section.news-block .areaNews .news-list {
    margin-top: 20px;
  }
  section.news-block .areaUpdate .update-list {
    margin-top: 15px;
  }
  section.news-block .areaNews .list .item+.item {
    margin-top: 19px;
  }
  section.news-block .box .list .item a {
    text-decoration: none;
    align-items: center;
  }
  section.news-block .areaNews .list .item a .t1 {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    box-sizing: border-box;
    padding-right: 0px;
    width: 100px;
    text-align: center;
  }
  section.news-block .areaNews .list .item a .t1 .date {
    width: auto;
    display: block;
    margin-right: 0px;
    font-size: 13px;
  }
  section.news-block .areaNews .list .item a .t1 .cat {
    display: block;
    padding: 1px 0;
    width: 100px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    background: #FF8C00;
  }
  section.news-block .areaNews .list .item a .t2 {
    width: calc(100% - 110px);
    font-size: 15px;
    line-height: 1.4;
  }
  section.news-block .areaNews .list .item a:hover .t2 .ttl {
    text-decoration: underline;
  }
  section.news-block .areaNews .news-list, section.news-block .areaUpdate .update-list {
    margin-top: 35px;
  }
  /* セミナー情報-------------------------------------------------------------------------------------*/
  /*スクロールバー表示させる*/
  .seminar-table.s-over {
    padding-bottom: 14px;
    position: relative;
  }
  .seminar-table.s-over table {
    width: 800px;
  }
  .seminar-table {
    margin-bottom: 30px;
  }
  .seminar-table table {
    width: 100%;
    font-size: 16px;
  }
  .seminar-table table th.th1 {
    width: 110px;
  }
  .seminar-table table th.th2 {
    width: 105px;
  }
  .seminar-table table th.th3 {
    width: 120px;
  }
  .seminar-table table td>div {
    height: auto;
    min-height: 3.5em;
    padding: 5px 5px;
  }
  .seminar-table table td.t1>div::after {
    border-width: 0 0 20px 20px;
  }
  .seminar-table table td.t2>div::after {
    border-width: 0 0 20px 20px;
  }
  .seminar-table table td .date {
    letter-spacing: 1px;
  }
  .seminar-table table td .date span {
    font-size: 14px;
  }
  .seminar-table table td.txt>div {
    font-size: 15px;
    padding: 0px 10px;
  }
  .seminar-table table td.txt>div.full {
    align-items: stretch;
    height: auto;
  }
  .seminar-table table td.txt>div.full::before {
    width: 5em;
    min-width: 5em;
    margin-right: 10px;
  }
  .seminar-table-txt {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
    color: #003846;
  }
  .seminar-table-txt>div {
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .seminar-table-txt>div.t1::before {
    border-width: 0 0 20px 20px;
  }
  .seminar-table-txt>div.t2::before {
    border-width: 0 0 20px 20px;
  }
}

/*=============================================================*/

@media screen and (max-width: 599px) {
  .case-block .case-t .case-list ul li .txt {
    width: calc(100% - 155px);
  }
  .case-block .case-t .case-list ul li .txt .ttl {
    font-size: 16px;
  }
  .case-block .case-t .case-list ul li .txt p {
    font-size: 14px;
  }
  .case-block .case-t .case-list ul li .img-area {
    width: 140px;
  }
}

/*==============================*/