/*=============================================================
	feature
=============================================================*/
.section-inner.padding{
  padding: 75px 0;
}

/* #feature01
------------------------------------- */
#feature01 .section-inner{
  padding-top: 0;
}

#feature01 .box-list {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

#feature01 .box-list .box {
  width: calc(20% - 15px);
  margin-left: 15px;
  background: #F6F6F6;
  text-align: center;
  position: relative;
}

#feature01 .box-list .box:nth-child(n+6){
  margin-top: 15px;
}

#feature01 .box-list .box .box-in {
  padding: 30px 30px 80px;
}

#feature01 .box-list .box .img {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#feature01 .box-list .box .img.s2 {
  height: auto;
  margin-top: -20px;
}

#feature01 .box-list .box .ttl {
  display: block;
  font-size: 18px;
  line-height: 1.3;
  height: 2.4em;
  margin-bottom: 10px;
  color: #E57200;
  font-weight: 600;
}

#feature01 .box-list .box .txt {
  display: block;
  text-align: left;
  line-height: 1.8;
  color: #333;
}

#feature01 .box-list .box .btn {
  position: absolute;
  width: calc(100% - 60px);
  bottom: 30px;
  left: 30px;
}

#feature01 .box-list .box .btn a {
  display: block;
  padding: 10px 20px;
  line-height: 20px;
  background: #E66700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  transition: .2s;
}

#feature01 .box-list .box .btn a.c2 {
  background: #003847;
}

#feature01 .box-list .box .btn a:hover {
  opacity: .8;
}

#feature01 .box-list .box .btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px;
  top: calc(50% - 3px);
  position: absolute;
}
@media screen and (max-width: 767px) {
  .section-inner.padding{
    padding: 60px 0;
  }
  #feature01 .box-list {
    margin-bottom: 20px;
    margin-left: -10px;
  }
  #feature01 .box-list .box {
    width: calc(50% - 10px);
    margin-left: 10px;
    margin-bottom: 20px;
  }
  #feature01 .box-list .box:nth-child(n+6){
    margin-top: 0;
  }
  #feature01 .box-list .box .box-in {
    padding: 20px 10px 50px;
  }
  #feature01 .box-list .box .img {
    height: 60px;
    margin-bottom: 10px;
  }
  #feature01 .box-list .box .img.s2 {
    height: 120px;
  }
  #feature01 .box-list .box .img.s2 img {
    height: 120px;
  }
  #feature01 .box-list .box .ttl {
    font-size: 16px;
    line-height: 1.2;
    height: 2.4em;
    margin-bottom: 10px;
  }
  #feature01 .box-list .box .txt {
    font-size: 14px;
  }
  #feature01 .box-list .box .btn{
    width: calc(100% - 20px);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  #feature01 .box-list .box .btn a{
    padding: 5px;
    font-size: 12px;
  }
  #feature01 .box-list.s-1 {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  #feature01 .box-list.s-1 .box {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  #feature01 .box-list.s-1 .box .box-in {
    padding: 30px 15px 50px;
  }
  #feature01 .areaBtn{
    width: 88%;
    margin: 0 auto;
  }
}