    .mktoFormRow{
        width: 100%;

    }
    .mktoRequiredField{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;;
        align-items: center;
    }
    #mktoForm_1921{
        width: 100%!important;
    }
    .mktoForm .mktoFormCol{
        float: none;
    }
    .mktoForm .mktoFieldWrap{
        float: none;
    }
    .mktoLabel{
        display: inline-block;
        width: 200px;
        padding-left: 35px!important;
        background: url(../img/required_on.svg) no-repeat left 4px;
        background-size: 20px;
        float: none;
    }
    .mktoFieldWrap{
        vertical-align: middle;
        text-align: left;
        padding: 30px 0!important;
        border-bottom: 1px dotted #333;
        font-weight: 500;
        box-sizing: border-box;
    }
    /* s */
    /* .mktoLabel span{
        display: none;
    } */
    .mktoForm .mktoLabel{
        font-size: 16px!important;
        float: none;
        line-height: unset!important;
        padding-top: 0!important;
    }
    .mktoFieldWrap label{
        width: 200px!important;
    }
    .mktoFieldWrap input[type='text'], .mktoFieldWrap input[type='email'], .mktoFieldWrap input[type='tel'], .mktoFieldWrap select, .mktoFieldWrap textarea{
        width: 500px!important;
        border: 1px solid #ddd;
        padding: 17px 15px!important;
        box-sizing: border-box!important;
        font-size: 15px!important;
        font-family: inherit;
    }
    .mktoRadioList label:first-child{
        margin-bottom: 15px!important;
    }
    .mktoOffset{
        display: none!important;
    }
    .mktoButtonRow{
        width: 100%;
        display: flex; /* 子要素をflexboxで揃える */
        flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
    }
    .mktoButtonWrap{
        margin-left: 0!important;
        padding: 50px 0!important;
    }
    .mktoButtonWrap button{
        cursor: pointer;
        display: inline-block;
        background: #EE8300;
        color: #fff;
        text-decoration: none;
        padding: 0 20px;
        border: none;
        width: 330px;
        box-sizing: border-box;
        font-size: 20px;
        line-height: 70px;
        font-weight: bold;
        transition: 0.2s;
    }
    .mktoAsterix{
        display: none!important;
    }
    @media screen and (max-width: 599px){
        .mktoRequiredField{
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mktoFieldWrap input[type='text'], .mktoFieldWrap input[type='email'], .mktoFieldWrap input[type='tel'], .mktoFieldWrap select, .mktoFieldWrap textarea{
            margin: 10px 20px 10px!important;
            max-width: calc(100% - 42px)!important;
        }
        .mktoFieldWrap input[type='checkbox']{
            margin: 0px 0px 0px 30px!important;
        }
        .mktoRadioList{
            margin-left: 20px!important;
        }
        .mktoForm .mktoFormCol .mktoLabel{
            width: 100%!important;
        }
        .mktoLabel{
            /* white-space: nowrap; */
        }
        .mktoButtonWrap button{
            width: 290px!important;
        }
        label[for='privacy_policy'] div.mktoAsterix + div{
            width: 100%!important;
            text-align: center!important;
        }
        .mktoRequiredField:last-child(){
            display: flex;
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center!important;
        }
        .mktoRequiredField:last-child() span, .mktoRequiredField:last-child() a{
            white-space: normal!important;
        }
        div[title='privacy']{
            margin: -35px 0px 0 10px;
        }
    }
    @media screen and (max-width: 480px){
        .mktoLabel[for='privacy_policy']{
            padding: 0!important;
            background: none!important;
        }
        .mktoFieldWrap input[type='checkbox']{
            margin: 10px 0px 0px 5px!important;
        }
        div[title='privacy']{
            margin: -30px 0 0 0;
        }
    }