.invalid-feedback{
    display: block;
}

.invalid-feedback .has-error{
    color: red;
}

.invalid-feedback .has-error .form-error{
    font-size: 14px;
}

.invalid-feedback.pp-error{
    margin-right: 27%;
}

/* .form .robot{
    position: initial;
    width: 100%;
} */

.form .form-btn .border{
    border-top: 0;
}

div.textarea_div{
    overflow: auto;
    max-width: 600px;
    max-height: 400px;
}

button[value='back']{
    background-color: silver!important;
    margin-right: 15px;
}

@media screen and (max-width: 599px){
    
    .invalid-feedback.pp-error{
        margin-right: 0;
        text-align: left;
    }

    div.textarea_div{
        max-width: 100%;
    }

    button[value='back']{
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

.btn.disabled{
    cursor: default!important;
    opacity: 0.4!important;
}
.btn.disabled button{
    cursor: default!important;
}
.btn.disabled:hover{
    opacity: 0.4!important;
}
.btn.disabled:hover > a{
    opacity: 1;
}
.btn.disabled button:hover{
    opacity: 1;
}
.btn.disabled a:hover{
    opacity: 1;
}
.form .robot{
    left: calc(50% - 157px)!important;
    width: auto;
    height: auto;
}
.form .form-btn .agree{
    padding-bottom: 0;
}
.recaptcha{
    display: flex;
    justify-content: center;
    align-items: center;
}