body{
	position: relative;
}
.guide-line > div{
	position: fixed;
	height: 100%;
	width: 1px;
	top:0;
	z-index: 1000;
}

/*1200*/
.guide-line .l-l{
	left: calc(50% - 600px);
	background: rgba(200,0,0,0.3);
}
.guide-line .l-r{
	left: calc(50% + 600px);
	background: rgba(200,0,0,0.3);
}

/*900*/
.guide-line .m-l{
	left: calc(50% - 450px);
	background: rgba(200,200,0,0.3);
}
.guide-line .m-r{
	left: calc(50% + 450px);
	background: rgba(200,200,0,0.3);
}

/*600*/
.guide-line .s-l{
	left: calc(50% - 300px);
	background: rgba(0,200,200,0.3);
}
.guide-line .s-r{
	left: calc(50% + 300px);
	background: rgba(0,200,200,0.3);
}

/*センター*/
.guide-line .center{
	left: calc(50% + 0px);
	background: rgba(0,0,200,0.2);
}
