@charset "UTF-8";
@media screen and (max-width: 1199px) {
    /*------------------------*/
    .column-wrap-l {}
    .column-wrap-l .column-side {
        width: 300px;
        padding: 30px 20px;
    }
    .column-wrap-l .column-main {
        width: calc(100% - 300px);
        padding: 0px 40px;
    }
    .column-wrap-r-outer::before {
        display: none;
    }
    .column-wrap-r {
        width: 100%;
    }
    .column-wrap-r .column-side {
        width: 300px;
        padding: 30px 25px;
        background: #F6F6F6;
    }
    .column-wrap-r .column-main {
        width: calc(100% - 300px);
        padding: 0px 30px 0 10px;
    }
    /*------------------------*/
    .help-side-cat>ul>li>a>span img {
        height: 22px;
    }
    /*------------------------*/
    .help-ttl-area .ttl {
        font-size: 36px;
    }
    .help-ttl-area .search-select {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 0 15px;
    }
    .help-ttl-area .search-select .search-cat {
        width: 47%;
        margin: 0px 0 20px;
    }
    .help-ttl-area .search-select .search-cat a {
        margin: 0 auto;
    }
    /*------------------------*/
    .help-cat-list {
        margin-left: -40px;
    }
    .help-cat-list .block {
        width: calc(33.333% - 40px);
        margin: 30px 0 50px 40px;
    }
}

/*==================================================================*/

@media screen and (max-width: 960px) {
    /*------------------------*/
    header, #header {
        height: 70px;
    }
    header.search, .search #header {
        height: calc(70px + 54px);
    }
    #header .header-inner {
        display: block;
        padding: 0 10px;
    }
    #header .header-logo {
        display: inline-block;
        padding: 3px 0;
        position: relative;
        top: auto;
        transform: none;
    }
    #header .header-logo a {
        height: 50px;
    }
    #header .header-btn a {
        line-height: 35px;
        padding: 0 20px;
        font-size: 15px;
    }
    #header .header-search-outer {
        width: 100%;
        max-width: none;
        padding: 0px 0 10px;
        position: relative;
        top: auto;
        right: auto;
    }
    #header .header-search input {
        line-height: 42px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 15px;
    }
    #header .header-search::after {
        right: 18px;
    }
    .help-ttl-area .search {
        width: 100%;
        max-width: 580px;
        margin: 0 auto 30px;
    }
    .help-ttl-area .search input {
        line-height: 40px;
        padding-left: 20px;
        padding-right: 50px;
        font-size: 15px;
    }
    .help-ttl-area .search::after {
        right: 18px;
    }
    /* 検索窓 */
    .section-inner {
        padding: 40px 0 0!important;
    }
    .side_cate {
        margin-top: -40px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 50;
        padding: 20px;
        box-sizing: border-box;
    }
    .mf_finder_drilldown {
        width: 100%;
        padding: 0;
        position: relative;
    }
    .mf_finder_drilldown .mf_finder_drilldown_items {
        display: none;
    }
    .mf_finder_drilldown_head {
        margin-bottom: 0;
    }
    .mf_finder_drilldown:lang(ja) .mf_finder_drilldown_head:before {
        font-size: 18px;
    }
    .mf_finder_drilldown:lang(ja) .mf_finder_drilldown_head:after {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-top: 1px solid #003847;
        border-right: 1px solid #003847;
        right: 12px;
        top: calc(50% - 4px);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        clear: both;
    }
    .mf_finder_drilldown:lang(ja) .mf_finder_drilldown_head.open:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .mf_finder_drilldown a {
        font-size: 15px;
    }
    .results_main {
        width: 100%;
        padding: 40px 20px;
    }
    .mf_finder_container_inner {
        display: block !important;
        justify-content: initial;
    }
    .my-header-css .mf_finder_organic_header_wrapper .mf_finder_organic_header {
        display: flex;
        width: 100%;
    }
    .my-header-css .mf_finder_organic_header_wrapper .mf_finder_organic_header .mf_finder_organic_nums {
        font-size: 20px;
    }
    .mf_finder_organic_header_wrapper:lang(ja) .mf_finder_query {
        font-size: 24px;
    }
    .mf_finder_organic_header_wrapper:lang(ja) .mf_finder_query:before {
        font-size: 24px;
    }
    .mf_finder_organic_doc_title {
        font-size: 18px;
    }
    .mf_finder_organic_doc_body {
        font-size: 13px;
        height: 69px;
    }
    .mf_finder_organic_doc_url {
        font-size: 11px;
    }
    .mf_finder_relatedkeywords {
        padding: 0 30px;
    }
    /*------------------------*/
    footer, .footer {
        padding: 32px 0;
    }
    .help-footer {
        display: block;
        font-size: 16px;
    }
    .help-footer a {
        text-decoration: none;
    }
    .help-footer .help-footer-left {
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .help-footer .footer-logo {
        font-size: 15px;
        margin-bottom: 0;
        margin-right: 0px;
        padding-top: 2px;
    }
    .help-footer .footer-logo a {
        display: flex;
        justify-content: flex-start;
    }
    .help-footer .footer-logo .img {
        width: 170px;
        margin-right: 15px;
    }
    .help-footer .btn {
        position: absolute;
        left: 10px;
        bottom: -10px;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 0;
        margin-right: 0px;
    }
    .help-footer .btn a {
        display: block;
        padding: 5px 25px 6px 20px;
    }
    .help-footer .btn a::after {
        top: calc(50% - 4px);
        right: 12px;
    }
    .help-footer .copy {
        text-align: right;
        font-size: 14px;
    }
    /*------------------------*/
    #bread {
        font-size: 15px;
        padding: 11px 20px 11px;
        line-height: 1.2;
    }
    .menu #bread {
        padding: 61px 20px 11px;
    }
    #bread ul li+li::before {
        top: 11px;
    }
    /*------------------------*/
    .column-wrap-l {
        display: block;
    }
    .column-wrap-l .column-side {
        display: block;
        padding: 0px 0px 0px;
        box-sizing: border-box;
    }
    .column-wrap-l .column-main {
        width: 100%;
        box-sizing: border-box;
        padding: 0px 20px;
    }
    .column-wrap-r {
        display: block;
        width: 100%;
    }
    .column-wrap-r .column-side {
        width: 100%;
        padding: 30px 25px;
        background: #F6F6F6;
    }
    .column-wrap-r .column-main {
        width: 100%;
        padding: 0px 10px 0 10px;
    }
    /*------------------------*/
    .help-ttl-area .ttl span {
        display: block;
    }
    .help-ttl-area .search-select {
        padding: 0 10px;
    }
    /*------------------------*/
    .c-ttl .help-ico02 {
        padding-left: 45px;
        background: url(../img/help/ico_help02_2.svg) no-repeat 6px center;
        background-size: 24px 24px;
    }
    .c-ttl .help-ico03 {
        padding-left: 45px;
        background: url(../img/help/ico_help03_2.svg) no-repeat left center;
        background-size: 30px 30px;
    }
    .c-ttl .help-ico04 {
        padding-left: 45px;
        background: url(../img/help/ico_help04_2.svg) no-repeat 4px center;
        background-size: 26px 32px;
    }
    /*------------------------*/
    .product-list ul {
        flex-wrap: wrap;
    }
    .product-list ul li {
        width: 33.333%;
    }
    .product-list ul li a {
        padding: 25px 10px 30px;
    }
    .product-list ul li img {
        width: 150px;
    }
    /*------------------------*/
    .help-cat-list {
        margin-left: -40px;
    }
    .help-cat-list .block, .help-cat-list.s2 .block {
        width: calc(50% - 40px);
        margin: 0px 0 60px 40px;
    }
    /*------------------------*/
    .help-side-header {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 50px;
        background: #eee url(../img/help/ico_border.svg) no-repeat 10px 20px;
        background-size: 20px 12px;
        padding: 0px 0 0px 40px;
        color: #FC8D00;
        display: block;
        cursor: pointer;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0;
    }
    .help-side-body {
        display: none;
        background: #fff;
        width: 98%;
        max-height: calc(100vh - 130px);
        overflow-y: auto;
        position: absolute;
        top: 5px;
        left: 1%;
        z-index: 5;
        border: 1px solid #eee;
        box-sizing: border-box;
        padding: 20px 10px;
    }
    .help-side-close {
        display: none;
        width: 40px;
        height: 40px;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 0 0 3px rgba(228, 31, 31, 0.5);
        text-align: center;
        line-height: 40px;
        border-radius: 25px;
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: 6;
        cursor: pointer;
    }
    .column-main .help-list-block {
        font-size: 18px;
    }
    .column-main .help-list-block .list li {
        margin-bottom: 30px;
    }
    .column-main .help-list-block .list li .cat {
        display: block;
    }
    .column-main .help-list-block .list li .cat>span {
        display: inline-block;
        margin-top: 3px;
    }
    .column-main .help-list-block .list .ttl a::before {
        top: 11px;
    }
    /*----------------*/
    .help-side-cat ul li a {
        border-bottom: 1px solid #F6F6F6;
        padding: 10px 0 10px 22px;
        margin-bottom: 0;
    }
    .help-side-cat>ul>li {
        font-size: 24px;
    }
    .help-side-cat>ul>li>a {
        padding: 6px 0 6px 22px;
    }
    .help-side-cat>ul>li>a>span img {
        height: 20px;
    }
    .help-side-cat>ul>li>ul>li {
        font-size: 20px;
        padding-left: 20px;
    }
    .help-side-cat>ul>li>ul>li>a {
        padding: 8px 0 8px 22px;
    }
    .help-side-cat>ul>li>ul>li>a::before {
        top: 20px !important;
    }
    .help-side-cat>ul>li>ul>li>ul>li {
        font-size: 16px;
        padding-left: 20px;
    }
    .help-side-cat>ul>li>ul>li>ul>li>a::before {
        top: 20px !important;
    }
    /*------------------------*/
    .help-detail .help-detail-body {
        padding: 0 5px 40px;
        font-size: 15px;
    }
    .help-detail .help-detail-body table {
        line-height: 1.6;
    }
    .help-detail .help-detail-body table td {
        padding: 10px 15px;
    }
    .help-detail .help-detail-body table td:first-child, .help-detail .help-detail-body table th {
        padding: 10px 15px;
    }
    .help-detail .help-detail-body .tips {
        padding-left: 5px;
        margin-bottom: 40px;
    }
    .help-detail .help-detail-body .tips dl {
        padding: 5px 5px 10px 15px;
    }
    .help-detail .help-detail-body h2 {
        font-size: 23px;
    }
    .help-detail .help-detail-body h3 {
        font-size: 19px;
    }
    .help-detail .help-detail-body h4 {
        font-size: 16px;
    }
    .help-detail .help-detail-body .index {
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 40px 12px 20px 12px;
    }
    .help-detail .help-detail-body .index .index-ttl {
        height: 40px;
        top: -15px;
        left: 25px;
    }
    .help-detail .help-detail-body .index .btn {
        width: 100px;
        line-height: 28px;
        top: 8px;
        right: 8px;
    }
    .help-detail .help-detail-body .index .btn::before {
        margin-right: 3px;
    }
    .help-detail .help-detail-body .index ul li {
        margin-bottom: 2px;
        line-height: 1.5;
    }
    .help-detail .help-detail-body .index ul li a {
        padding: 4px 0 4px 22px;
    }
    .help-detail .help-detail-body .index ul li a::before {
        top: 11px;
    }
    .help-detail .help-detail-body .index ul li.l2 {
        padding-left: 15px;
    }
    .help-detail .help-detail-body .index ul li.l3 {
        padding-left: 30px;
    }
    .help-detail .cat {
        display: block;
    }
    .help-detail .cat .ttl {
        width: 125px;
    }
    .help-detail .cat ul {
        display: block;
    }
    .help-detail .cat ul li {
        display: inline-block;
    }
    /* ご意見フォーム */
    .help-detail .feedback {
        padding-bottom: 40px;
        text-align: center;
    }
    .help-detail .feedback .areaBtn {
        margin-top: 20px;
        margin-left: 0;
    }
}

/*==================================================================*/

@media screen and (max-width: 639px) {
    /*header, #header{
    height: 120px;
}
*/
    #header .header-logo .img {
        width: 160px;
        margin-right: 10px;
    }
    #header .header-logo .txt {
        font-size: 14px;
    }
    #header .header-btn {
        display: none;
        position: static;
    }
    /*------------------------*/
    .help-ttl-area-inner {
        padding: 10px 0 20px;
    }
    .help-ttl-area .ttl-ico img {
        width: 50px;
    }
    .help-ttl-area .ttl {
        font-size: 26px;
    }
    .help-ttl-area .search-select {
        padding: 0 5px;
    }
    .help-ttl-area .search-select .search-cat {
        width: 100%;
        margin: 0px 0 10px;
    }
    /*------------------------*/
    .help-cat-list {
        margin-left: -20px;
    }
    .help-cat-list .block, .help-cat-list.s2 .block {
        width: calc(50% - 20px);
        margin: 30px 0 50px 20px;
        padding-left: 10px;
    }
    .help-cat-list .block .ttl {
        font-size: 18px;
    }
    .help-cat-list .block ul {
        font-size: 15px;
    }
    .help-cat-list .block .more {
        left: 32px;
        font-size: 16px;
    }
    .help-list-block .help-list-ttl {
        font-size: 22px;
        padding-left: 40px;
        margin-bottom: 20px;
    }
    .help-list-block .help-list-ttl::before {
        width: 30px;
    }
    .column-wrap-l .column-main {
        padding: 0px 10px;
    }
    /* 検索窓 */
    .mf_finder_organic_doc_contents_wrapper {
        width: 100%;
        margin: 0;
    }
    .mf_finder_organic_doc_img_wrapper.mf_gui_img_frame {
        display: none;
    }
    .mf_finder_relatedkeywords {
        padding: 0 15px;
    }
}

/*==================================================================*/

@media screen and (max-width: 449px) {
    /*------------------------*/
    .help-ttl-area .text-404 {
        text-align: left;
    }
    .help-footer .help-footer-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
    .help-footer .footer-logo {
        margin-bottom: 15px;
    }
}

/*==================================================================*/