@charset "UTF-8";
header {
    position: relative;
}

#header {
    color: #fff;
    background: #fc8d00;
    background: -moz-linear-gradient(left, #fc8d00 0%, #ffa61a 100%);
    background: -webkit-linear-gradient(left, #fc8d00 0%, #ffa61a 100%);
    background: linear-gradient(to right, #fc8d00 0%, #ffa61a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8d00', endColorstr='#ffa61a', GradientType=1);
    width: 100%;
    min-width: 320px;
}

#header .header-inner {
    display: block;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

#header .header-logo {
    display: inline-block;
    width: auto;
    max-width: none;
    line-height: 1;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
}

#header .header-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
}

#header .header-logo .img {
    display: block;
    height: auto;
    width: 190px;
    margin-right: 15px;
}

#header .header-logo .txt {
    padding-bottom: 2px;
}

#header .header-logo a:hover {
    opacity: 1;
}

#header .header-btn {
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
}

#header .header-btn a {
    display: block;
    border: 1px solid #fff;
    text-decoration: none;
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    font-weight: 400;
    transition: .2s;
}

#header .header-btn a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#header .header-search-outer {
    width: 580px;
    max-width: calc(100% - 380px);
    position: absolute;
    top: 22px;
    right: 20px;
}

#header .header-search {
    box-sizing: border-box;
    position: relative;
}

#header .header-search input {
    border: none;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    line-height: 44px;
    color: #555;
    padding-left: 25px;
    padding-right: 70px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(230, 103, 0, 0);
    border-radius: 25px;
    transition: .2s;
}

#header .header-search::after {
    content: "";
    background: url(../img/help/ico_search.svg) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 28px;
    top: 14px;
    z-index: 100;
    pointer-events: none;
}

#header .header-search input:focus {
    border: 1px solid rgba(230, 103, 0, .3);
    outline: 0;
}

#header .header-search input::placeholder {
    color: #ccc;
    opacity: 1;
}

#header .header-search input:focus::placeholder {
    opacity: 0;
}

#header .header-search .mf_finder_searchBox_suggest_items {
    margin: 1px auto 0;
}

.mf_finder_organic_doc_contents {
    padding-bottom: 30px;
    position: relative;
}

.mf_finder_organic_doc_contents .mf_finder_link {
    position: unset;
}

.mf_finder_organic_doc_contents .mf_finder_link img {
    width: auto;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.mf_finder_drilldown ul.mf_finder_drilldown_items li.mf_finder_drilldown_item_depth_1:last-child {
    display: none;
}

/*------------------------*/

footer, .footer {
    background: #1D292C;
    padding: 32px 0;
    color: #fff;
}

.help-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.help-footer a {
    text-decoration: none;
}

.help-footer .help-footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.help-footer .footer-logo {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 0;
    margin-right: 50px;
    padding-top: 2px;
}

.help-footer .footer-logo a {
    display: flex;
    justify-content: flex-start;
}

.help-footer .footer-logo .img {
    width: 180px;
    margin-right: 15px;
}

.help-footer .btn {
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 0;
    margin-right: 50px;
}

.help-footer .btn a {
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 30px 6px 30px;
    position: relative;
    transition: .2s;
}

.help-footer .btn a:hover {
    background: rgba(255, 255, 255, 0.07);
}

.help-footer .btn a::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    top: calc(50% - 3px);
    right: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-footer .copy {
    padding: 0 5px;
}

/*------------------------*/

#bread {
    border-bottom: 1px solid #EEEEEE;
    color: #FC8D00;
    font-size: 16px;
    padding: 20px 30px;
}

#bread ul {
    display: flex;
    flex-wrap: wrap;
}

#bread ul li {
    padding: 4px 10px 4px 0;
    flex-wrap: wrap;
}

#bread ul li+li {
    position: relative;
    padding-left: 16px;
}

#bread ul li+li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #FC8D00;
    border-right: 1px solid #FC8D00;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0px;
    top: calc(50% - 2px);
    position: absolute;
}

#bread ul li a {
    color: #FC8D00;
    text-decoration: none;
}

#bread ul li a:hover {
    text-decoration: underline;
}

#bread ul li:first-child a {
    background: url(../img/help/ico_border.svg) no-repeat left 8px;
    background-size: 20px 12px;
    padding-left: 30px;
    font-weight: 400;
}

#bread ul li:last-child {
    font-weight: 500;
}

/*------------------------*/

.column-wrap-l {
    display: flex;
    justify-content: flex-start;
}

.column-wrap-l .column-side {
    width: 360px;
    background: #F6F6F6;
    box-sizing: border-box;
    padding: 30px 30px;
}

.column-wrap-l .column-main {
    width: calc(100% - 360px);
    box-sizing: border-box;
    padding: 0px 50px;
}

.column-wrap-r-outer {
    position: relative;
}

.column-wrap-r-outer::before {
    content: "";
    background: #F6F6F6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: calc( 50% + 240px);
    top: 0;
}

.column-wrap-r {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.column-wrap-r .column-side {
    width: 360px;
    /*    background: #F6F6F6;*/
    color: #021E2C;
    box-sizing: border-box;
    padding: 30px 25px;
    position: relative;
}

.column-wrap-r .column-main {
    width: calc(100% - 360px);
    background: #fff;
    box-sizing: border-box;
    padding: 0px 30px 0 10px;
    position: relative;
}

.c-btn .c-19 {
    background: #001E2D;
    color: #fff;
    border: none;
}

.c-btn .c-19::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c-18 {
    background: #E66700;
    color: #fff;
    border: none;
}

.c-btn .c-18::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px;
}

/*------------------------*/

.help-ttl-area {
    color: #fff;
    background: #fc8d00;
    background: -moz-linear-gradient(left, #fc8d00 0%, #ffa61a 100%);
    background: -webkit-linear-gradient(left, #fc8d00 0%, #ffa61a 100%);
    background: linear-gradient(to right, #fc8d00 0%, #ffa61a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8d00', endColorstr='#ffa61a', GradientType=1);
    text-align: center;
}

.help-ttl-area-inner {
    padding: 20px 0;
}

.help-ttl-area .ttl-ico {
    margin-bottom: 10px;
}

.help-ttl-area .ttl-ico img {
    width: 60px;
}

.help-ttl-area .ttl {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 50px;
}

.help-ttl-area .text-404 {
    margin-top: -20px;
    margin-bottom: 50px;
}

.help-ttl-area .search {
    width: 580px;
    margin: 0 auto 50px;
    box-sizing: border-box;
    position: relative;
}

.help-ttl-area .search input {
    border: none;
    background: none;
    width: 100%;
    box-sizing: border-box;
    line-height: 46px;
    color: #555;
    padding-left: 25px;
    padding-right: 70px;
    font-size: 16px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(230, 103, 0, 0);
    border-radius: 25px;
    transition: .2s;
}

.help-ttl-area .search input:focus {
    box-sizing: border-box;
    border: 1px solid rgba(230, 103, 0, .3);
    outline: 0;
}

.help-ttl-area .search input::placeholder {
    color: #ccc;
    opacity: 1;
}

.help-ttl-area .search input:focus::placeholder {
    opacity: 0;
}

.help-ttl-area .search::after {
    content: "";
    background: url(../img/help/ico_search.svg) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 28px;
    top: 14px;
}

.help-ttl-area .search-select {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: -20px;
    margin-bottom: 30px;
}

.help-ttl-area .search-select .search-cat {
    width: calc(25% - 20px);
    margin-left: 20px;
    padding-left: 0px;
    box-sizing: border-box;
    position: relative;
}

.help-ttl-area .search-select .search-cat.c1 {
    background: url(../img/help/ico_help01.svg) no-repeat 20px center;
    background-size: 20px 25px;
}

.help-ttl-area .search-select .search-cat.c2 {
    background: url(../img/help/ico_help02.svg) no-repeat 20px center;
    background-size: 24px 24px;
}

.help-ttl-area .search-select .search-cat.c3 {
    background: url(../img/help/ico_help03.svg) no-repeat 20px center;
    background-size: 24px 24px;
}

.help-ttl-area .search-select .search-cat.c4 {
    background: url(../img/help/ico_help04.svg) no-repeat 20px center;
    background-size: 24px 24px;
}

.help-ttl-area .search-select .search-cat::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    top: calc(50% - 8px);
    right: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-ttl-area .search-select .search-cat a, .help-ttl-area .search-select .search-cat select {
    display: block;
    border: none;
    background: none;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 12px 40px 12px 40px;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: .2s;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 30px;
}

.help-ttl-area .search-select .search-cat a:hover {
    border: 2px solid rgba(255, 255, 255, .8);
}

/*------------------------*/

.c-ttl .help-ico02 {
    padding-left: 55px;
    background: url(../img/help/ico_help02_2.svg) no-repeat 5px center;
    background-size: 31px 31px;
}

.c-ttl .help-ico03 {
    padding-left: 55px;
    background: url(../img/help/ico_help03_2.svg) no-repeat left center;
    background-size: 40px 40px;
}

.c-ttl .help-ico04 {
    padding-left: 55px;
    background: url(../img/help/ico_help04_2.svg) no-repeat 4px center;
    background-size: 34px 40px;
}

/*------------------------*/

.product-list {
    color: #021E2C;
}

.product-list ul {
    display: flex;
    justify-content: center;
}

.product-list ul li {
    width: 20%;
    text-align: center;
}

.product-list ul li a {
    display: block;
    padding: 35px 15px 40px;
    transition: .2s;
}

.product-list ul li a:hover {
    background: #F6F6F6;
}

.product-list ul li img {
    width: 170px;
}

/*------------------------*/

.help-cat-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -40px;
}

.help-cat-list .block {
    width: calc(25% - 40px);
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-left: 30px;
    margin: 30px 0 50px 40px;
    position: relative;
}

.help-cat-list.s2 .block {
    width: calc(33.333% - 40px);
}

.help-cat-list .block .ttl {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.help-cat-list .block ul {
    font-size: 16px;
    font-weight: 200;
}

.help-cat-list .block ul li {
    margin-bottom: 7px;
    line-height: 1.4;
}

.help-cat-list .block ul li a {
    display: inline-block;
    padding: 2px 0 2px 22px;
    position: relative;
}

.help-cat-list .block ul li a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FC8D00;
    border-right: 1px solid #FC8D00;
    box-sizing: border-box;
    top: 11px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-cat-list .block ul li a:hover {
    text-decoration: none;
}

.help-cat-list .block .more {
    position: absolute;
    bottom: 0;
    left: 52px;
    font-size: 16px;
    font-weight: 500;
    color: #FC8D00;
}

.help-cat-list .block .more a {
    text-decoration: none;
}

.help-cat-list .block .more a:hover {
    text-decoration: underline;
}

/*------------------------*/

.column-wrap-l .column-main .c-ttl img {
    /*    height: 50px;*/
}

.help-search-list {
    padding: 0 10px;
}

.help-list-block {
    font-size: 16px;
    margin-bottom: 60px;
}

.help-list-block .help-list-ttl {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    padding-left: 45px;
    margin-bottom: 30px;
}

.help-list-block .help-list-ttl::before {
    content: "";
    width: 35px;
    height: 4px;
    background: #111;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}

.help-list-block .help-list-ttl.c2 {
    color: #E66700;
}

.help-list-block .help-list-ttl.c2::before {
    background: #E66700;
}

.help-list-block .list {}

.help-list-block .list li {
    margin-bottom: 20px;
}

.help-list-block .list li .ttl,
.help-list-block .list li .answer {
    margin-bottom: 5px;
    line-height: 1.4;
}
.help-list-block .list li .answer {
    margin-bottom: 15px;
}
.help-list-block .list li .ttl a,
.help-list-block .list li .answer a {
    display: inline-block;
    padding: 2px 0 2px 22px;
    position: relative;
    color: #333;
    text-decoration: none;
}
.help-list-block .list li .ttl a {
    font-weight: bolder;
}
.help-list-block .list li .answer a {
    color: #666;
}
.help-list-block .list li .ttl a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FC8D00;
    border-right: 1px solid #FC8D00;
    box-sizing: border-box;
    top: 11px;
    left: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-list-block .list li .ttl a:hover {
    text-decoration: underline;
}

.help-list-block .list li .cat {
    padding-left: 22px;
    line-height: 24px;
    font-size: 12px;
}

.help-list-block .list li .cat>span {
    display: inline-block;
    background: #FC8D00;
    color: #fff;
    margin: 0px 10px 5px 0;
    padding: 0 15px;
}

.help-list-block .list li .cat>span.c1 {
    background: #ED6D00;
}

.help-list-block .list li .cat>span.c2 {
    background: #ECBE04;
}

.help-list-block .list li .cat>span.c3 {
    background: #2CB23C;
}

.help-list-block .list li .cat>span.c4 {
    background: #47BED8;
}

.help-list-block .list li .cat>span.c5 {
    background: #6B6B6B;
}

.column-main .help-list-block {
    font-size: 20px;
}

.column-main .help-list-block .list li {
    margin-bottom: 30px;
}

.column-main .help-list-block .list .ttl a::before {
    top: 13px;
}

.column-side .help-list-block .list {
    padding: 0 15px;
}

.column-side .help-list-block .list li {
    margin-bottom: 15px;
}

.content {
    position: relative;
}

/*------------------------*/

.help-side-header {
    display: none;
}

.help-side-ttl {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 35px;
}

.help-side-ttl a {
    background: url(../img/help/ico_border.svg) no-repeat left 10px;
    background-size: 20px 12px;
    padding: 2px 0 2px 30px;
    color: #FC8D00;
    display: block;
    text-decoration: none;
}

.help-side-ttl a:hover {
    text-decoration: underline;
}

.help-side-cat {
    margin-bottom: 60px;
    line-height: 1.2;
}

.help-side-cat ul li a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 6px 0 6px 22px;
    transition: .2s;
    position: relative;
}

.help-side-cat ul li.active a, .help-side-cat ul li a:hover {
    color: #FC8D00;
}

.help-side-cat ul li.parent>a::before, .help-side-cat ul li.active>a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FC8D00;
    border-right: 1px solid #FC8D00;
    box-sizing: border-box;
    top: 16px;
    left: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-side-cat>ul>li {
    font-size: 30px;
    vertical-align: middle;
}

.help-side-cat>ul>li>a {
    padding: 2px 0 2px 22px;
}

.help-side-cat>ul>li>a::before {
    top: 23px !important;
}

.help-side-cat>ul>li>a>span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
}

.help-side-cat>ul>li>a>span img {
    height: 24px;
}

.help-side-cat>ul>li>ul>li {
    font-size: 20px;
    padding-left: 30px;
}

.help-side-cat>ul>li>ul>li>a {
    padding: 2px 0 2px 22px;
}

.help-side-cat>ul>li>ul>li>a::before {
    top: 14px !important;
}

.help-side-cat>ul>li>ul>li>ul>li {
    font-size: 16px;
    padding-left: 30px;
}

.help-side-cat ul li.cd1 {
    font-size: 25px;
    vertical-align: middle;
}

.help-side-cat ul li.cd1 a {
    padding: 2px 0 2px 22px;
}

.help-side-cat ul li.cd1 a::before {
    top: 23px !important;
}

.help-side-cat ul li.cd1 a span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
}

.help-side-cat ul li.cd2 {
    font-size: 20px;
    padding-left: 20px;
}

.help-side-cat ul li.cd2 a {
    padding: 2px 0 2px 22px;
}

.help-side-cat ul li.cd2 a::before {
    top: 19px !important;
}

.help-side-cat ul li.cd2 a span {
    height: 40px;
}

.help-side-cat ul li.cd3 {
    font-size: 16px;
    padding-left: 40px;
}

.help-side-cat ul li.cd3 a::before {
    top: 16px !important;
}

.help-side-cat ul li.cd3 a span {
    height: 35px;
}

.help-side-cat ul li.cd4 {
    font-size: 16px;
    padding-left: 60px;
}

.help-side-cat ul li.cd4 a::before {
    top: 16px !important;
}

.help-side-cat ul li.cd4 a span {
    height: 35px;
}

.help-side-cat ul li.cd5 {
    font-size: 16px;
    padding-left: 80px;
}

.help-side-cat ul li.cd5 a::before {
    top: 16px !important;
}

.help-side-cat ul li.cd5 a span {
    height: 35px;
}

.help-side-close {
    display: none;
}

/*------------------------*/

.help-detail {
    color: #021E2C;
    font-size: 16px;
}

.help-detail .cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 55px;
}

.help-detail .cat ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    background: #FC8D00;
    color: #fff;
    padding: 0 10px 1px;
    font-size: 12px;
    line-height: 24px;
}

.help-detail .cat ul li.c1 {
    background: #ED6D00;
}

.help-detail .cat ul li.c2 {
    background: #ECBE04;
}

.help-detail .cat ul li.c3 {
    background: #2CB23C;
}

.help-detail .cat ul li.c4 {
    background: #47BED8;
}

.help-detail .cat ul li.c5 {
    background: #6B6B6B;
}

.help-detail .help-detail-body {
    padding-bottom: 50px;
    line-height: 1.7;
}

.help-detail .help-detail-body p {
    margin-bottom: 20px;
}

.help-detail .help-detail-body p strong, .help-detail .help-detail-body p span {
    font-weight: 500;
}

.help-detail .help-detail-body table {
    margin-bottom: 15px;
    border-collapse: collapse;
    font-weight: 300;
    border: 1px solid #eee;
    width: 100% !important;
}

.help-detail .help-detail-body table td {
    padding: 20px 25px;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}

.help-detail .help-detail-body table td:first-child, .help-detail .help-detail-body table th {
    background: #F6F6F6;
    padding: 20px 25px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.help-detail .help-detail-body .tips {
    position: relative;
    background: rgb(252, 141, 0);
    background: -moz-linear-gradient(top, rgba(252, 141, 0, 1) 0%, rgba(234, 58, 9, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(252, 141, 0, 1) 0%, rgba(234, 58, 9, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 141, 0, 1) 0%, rgba(234, 58, 9, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8d00', endColorstr='#ea3a09', GradientType=0);
    padding: 1px 1px 1px 8px;
    margin-bottom: 40px;
}

.help-detail .help-detail-body .note {
    position: relative;
    background: rgb(9, 181, 235);
    background: -moz-linear-gradient(top, rgba(9, 181, 235, 1) 0%, rgba(0, 115, 251, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(9, 181, 235, 1) 0%, rgba(0, 115, 251, 1) 100%);
    background: linear-gradient(to bottom, rgba(9, 181, 235, 1) 0%, rgba(0, 115, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09b5eb', endColorstr='#0072fb', GradientType=0);
    padding: 1px 1px 1px 8px;
    margin-bottom: 40px;
}

.help-detail .help-detail-body .tips dl, .help-detail .help-detail-body .note dl {
    padding: 10px 5px 15px 20px;
    background: #fff;
}

.help-detail .help-detail-body .tips dl dt, .help-detail .help-detail-body .note dl dt {
    font-weight: 600;
    margin-bottom: 3px;
}

.help-detail .help-detail-body .tips dl dd, .help-detail .help-detail-body .note dl dd {}

.help-detail .help-detail-body>ul {
    margin-bottom: 25px;
}

.help-detail .help-detail-body>ul li {
    margin-bottom: 5px;
    line-height: 1.5;
    list-style: circle;
    margin-left: 20px;
}

.help-detail .help-detail-body h2 {
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid #F6F6F6;
    padding: 8px 0;
    margin-bottom: 20px;
}

.help-detail .help-detail-body h3 {
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #F6F6F6;
    padding: 10px 0;
    margin-bottom: 20px;
}

.help-detail .help-detail-body h4 {
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #F6F6F6;
    padding: 5px 0;
    margin-bottom: 20px;
}

.help-detail .help-detail-body>.img {
    background: #F6F6F6;
    text-align: center;
    margin-bottom: 50px;
}

.help-detail .help-detail-body .movie-file video {
    width: 100%;
    margin-bottom: 50px;
}

.help-detail .help-detail-body .movie-link {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
}

.help-detail .help-detail-body .movie-link iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.help-detail .help-detail-body .index {
    position: relative;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 60px 30px 45px 30px;
    font-weight: 300;
}

.help-detail .help-detail-body .index .index-ttl {
    background: #043954;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 50px;
    position: absolute;
    top: -15px;
    left: 30px;
    letter-spacing: 2px;
}

.help-detail .help-detail-body .index .index-ttl::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 14px 14px;
    border-color: transparent transparent #021e2c transparent;
    position: absolute;
    top: 0;
    left: -14px;
}

.help-detail .help-detail-body .index .btn {
    width: 125px;
    line-height: 30px;
    border: 1px solid #021E2C;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 18px;
    cursor: pointer;
}

.help-detail .help-detail-body .index .btn::before {
    content: "×";
    margin-right: 5px;
    font-weight: 400;
}

/* アコーディオン用 */

.help-detail .help-detail-body .index .btn.changed::before {
    content: "";
}

.help-detail .help-detail-body .index ul li {
    margin-bottom: 3px;
}

.help-detail .help-detail-body .index ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 3px 0 3px 22px;
    position: relative;
}

.help-detail .help-detail-body .index ul li a:hover {
    text-decoration: underline;
}

.help-detail .help-detail-body .index ul li a::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #FC8D00;
    border-right: 1px solid #FC8D00;
    box-sizing: border-box;
    top: 13px;
    left: 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.help-detail .help-detail-body .index ul li.l2 {
    padding-left: 20px;
}

.help-detail .help-detail-body .index ul li.l3 {
    padding-left: 40px;
}

/* ご意見ドーム */

.help-detail .feedback .tit {
    display: inline-block;
    font-weight: 700;
}

.help-detail .feedback .areaBtn {
    display: inline-block;
    margin-left: 40px;
}

.help-detail .feedback .areaBtn span {
    display: inline-block;
    padding: 2px 20px;
    width: 120px;
    color: #FC8D00;
    text-align: center;
    border: solid 1px #FC8D00;
    border-radius: 30px;
    box-sizing: border-box;
}

.help-detail .feedback .areaBtn span+span {
    margin-left: 20px;
}

.help-detail .feedback .message {
    font-weight: 700;
}

.help-detail .feedback .form textarea {
    margin-top: 15px;
    width: 100%;
    border: solid 1px #021E2C;
    border-radius: 3px;
    box-sizing: border-box;
}

.help-detail .feedback .form .submit {
    margin-top: 10px;
}

.help-detail .feedback .form input[type="submit"] {
    padding: 2px 20px;
    width: 100px;
    color: #fff;
    background: #021E2C;
    border: solid 1px #021E2C;
    border-radius: 30px;
}

/* 検索窓 */

.mf_finder_searchBox {
    margin: 0;
}

.mf_finder_searchBox_submit {
    width: 80px;
    height: 50px;
    position: absolute;
    right: 0;
    background: none;
    cursor: pointer;
}

.mf_finder_searchBox_items {
    padding: 0;
}

.mf_finder_searchBox_submit:before {
    display: none;
}

.mf_finder_searchBox_query_input {
    padding-top: 12px;
    padding-bottom: 12px;
}

button[type="submit"] {
    position: absolute;
    right: 10px;
    width: 60px;
    height: 50px;
    -webkit-appearance: none;
    appearance: none;
    top: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.mf_finder_searchBox_query_wrap {
    z-index: 5;
    background: none;
    position: relative;
}

.mf_finder_searchBox_query_input {
    height: 48px;
    z-index: 0;
    position: relative;
}

.mf_finder_searchBox_suggest_items {
    display: block;
    width: calc(100% - 50px);
    margin: 1px auto 0;
    background: none;
    border: none;
    border-radius: 0;
    z-index: 10000000000;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.mf_finder_searchBox_suggest_items li {
    border-top: none;
    border-bottom: 1px solid #EEEEEE;
    background: none;
    padding: 0;
}

.mf_finder_searchBox_suggest_items li:last-child {
    border-bottom: none;
}

.mf_finder_searchBox_suggest_items li a {
    text-align: left;
    color: black;
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}

.mf_finder_searchBox_suggest_items li a:hover {
    color: #FC8D00;
    transition: .2s;
}

.mf_finder_searchBox_suggest_item_cur {
    background: transparent;
}

.help-ttl-area .search::after {
    z-index: 100;
    pointer-events: none;
}

@media screen and (max-width: 960px) {
    input[type="submit"] {
        height: 44px;
    }
}