@charset "UTF-8";
.section-inner {
  padding: 90px 0;
}

section.case-block {
  border-bottom: none;
}

section.product-block {
  border-bottom: none;
}

header {
  border-bottom: 1px solid #DDDDDD;
}

.l-bread {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #FF6511;
  height: 50px;
  font-weight: 100;
  font-size: 15px;
}

.l-bread.c2 {
  background: #F7D622;
}

.l-bread.c3 {
  background: #2CB23C;
}

.l-bread.c4 {
  background: #47BED8;
}

.l-bread.c5 {
  background: #6B6B6B;
}

.l-bread ul {
  width: auto;
  float: left;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background: #fff;
  position: relative;
  padding: 0 0 0 15px;
}

.l-bread ul::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -49px;
}

.l-bread ul li {
  position: relative;
  padding-right: 30px;
}

.l-bread ul li::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}

.l-bread ul li:last-child::after {
  display: none;
}

.l-bread ul li a {
  color: #4b818b;
  text-decoration: none;
}

.l-bread ul li a:hover {
  text-decoration: underline;
}

.l-bread ul li img {
  height: 24px;
}

.l-main-img {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit--webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms--webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.l-main-img img {
  width: 100%;
  max-width: none;
  min-width: 2000px;
  height: auto;
}

.product-border::before {
  content: "";
  position: absolute;
  width: 175px;
  height: 3px;
  background: #fc8f00;
  background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07', GradientType=1);
  top: 0;
  left: calc(50% - 175px /2);
}

/*----------------- ability-block -------------------*/

.ability-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -25px;
  margin-bottom: 40px;
}

.ability-wrap .ability-block {
  width: calc(33.333% - 25px);
  margin-left: 25px;
  text-align: center;
}

.ability-wrap .ability-block .txt {
  line-height: 1.2;
}

.ability-wrap .ability-block .txt .t1 {
  font-size: 24px;
  font-weight: 600;
  color: #003846;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  height: 2.4em;
  margin-bottom: 10px;
}

.ability-wrap .ability-block .txt .t1::before {
  content: "";
  height: 65px;
  border-left: 1px solid #003847;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding-right: 15px;
}

.ability-wrap .ability-block .txt .t1::after {
  content: "";
  height: 65px;
  border-right: 1px solid #003847;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-left: 15px;
}

.ability-wrap .ability-block .txt .t2 {
  font-size: 32px;
  font-weight: 800;
  color: #E56600;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: flex-end;
  line-height: 1.4;
  margin-bottom: 20px;
  height: 90px;
}

.ability-wrap .ability-block .txt .t2 span {
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
  margin-right: 10px;
}

.ability-wrap .ability-block .txt .t2 span.s2 {
  font-size: 90px;
}

.ability-wrap .ability-block .txt .t3 {
  font-size: 24px;
  font-weight: 600;
  color: #E56600;
  border-top: 2px solid #E56600;
  padding-top: 15px;
}

.ability-wrap .ability-block .txt .t3 span {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}

.ability-wrap .ability-block .img {
  padding: 20px 0;
  height: 280px;
}

.ability-wrap .ability-block .btn {}

.ability-wrap .ability-block .btn a {
  display: block;
  text-decoration: none;
  background: #FF8C00;
  color: #ffffff;
  padding: 12px 25px 13px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: .2s;
}

.ability-wrap .ability-block .btn a:hover {
  opacity: .7;
}

.ability-wrap .ability-block .btn a span {
  display: block;
  position: relative;
}

.ability-wrap .ability-block .btn a span::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0px;
  top: calc(50% - 2px);
  position: absolute;
}

/*----------------- points-block -------------------*/

.points-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-bottom: 50px;
}

.points-wrap.c3 {
  margin-left: -30px;
}

.points-wrap .points-block {
  width: calc(50% - 40px);
  background: #F6F6F6;
  margin: 60px 0 20px 40px;
  position: relative;
}

.points-wrap .points-block.wide {
  width: 100%;
}

.points-wrap .points-block.c3 {
  width: calc(33.333% - 30px);
  margin-left: 30px;
}

.points-wrap .points-block .points-block-inner {
  padding: 60px 40px;
}

.points-wrap .points-block .points-block-inner2 {
  padding: 110px 30px 70px;
}

.points-wrap .points-block .points-block-inner3 {
  padding: 30px 25px 40px;
}

.points-wrap .points-block .num {
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  color: #E56600;
  line-height: 1.5;
  position: absolute;
  top: -65px;
  left: 0px;
  width: auto;
  box-sizing: border-box;
  padding: 0 35px;
}

.points-wrap .points-block .num span {
  font-size: 90px;
  font-style: normal;
  line-height: 1;
  margin-left: 3px;
}

.points-wrap .points-block .step {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  background: #FFC100;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.1;
  position: absolute;
  top: -50px;
  left: 30px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  box-sizing: border-box;
}

.points-wrap .points-block .step span {
  font-size: 45px;
  line-height: 1;
  font-weight: 800;
}

.points-wrap .points-block .img-area {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.points-wrap .points-block .txt {
  position: relative;
  z-index: 2;
}

.points-wrap .points-block .txt .ttl {
  font-size: 24px;
  font-weight: 800;
  color: #003846;
  margin-bottom: 15px;
  line-height: 1.3;
}

.points-wrap .points-block .txt .ttl span {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

.points-wrap .points-block .txt p {
  color: #333;
  font-size: 16px;
  line-height: 1.7;
}

.points-wrap .points-block .txt p.p0 {
  padding-right: 0px;
}

.points-wrap .points-block .txt p.p1 {
  padding-right: 160px;
}

.points-wrap .points-block .txt p.p2 {
  padding-right: 160px;
}

.points-wrap .points-block .txt p.p3 {
  padding-right: 190px;
}

.points-wrap .points-block .txt p.p4 {
  padding-right: 270px;
}

.points-wrap .points-block .img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points-wrap .points-block .img.r2 {
  right: 20px;
}

.points-wrap .points-block .box-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  margin-left: -25px;
  margin-bottom: 10px;
}

.points-wrap .points-block .box-wrap .box {
  position: relative;
  background: #fff;
  width: calc(50% - 25px);
  margin-left: 25px;
  box-sizing: border-box;
  padding: 70px 0 20px;
}

.points-wrap .points-block .box-wrap .box .box-ttl {
  position: absolute;
  top: 13px;
  left: -4px;
  background: #E56600;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: 45px;
  padding: 0 22px;
}

.points-wrap .points-block .box-wrap .box .box-ttl::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 4px 4px;
  border-color: transparent transparent #733400 transparent;
  position: absolute;
  left: 0;
  top: -4px;
}

.points-wrap .points-block .box-wrap .box .box-ttl.t2 {
  background: #063C4A;
}

.points-wrap .points-block .box-wrap .box .box-ttl.t2::before {
  border-color: transparent transparent #000000 transparent;
}

.points-wrap .points-block .box-wrap .box .box-img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.points-wrap .points-block .box-wrap .box .box-img div {
  padding: 0 10px;
}

.points-wrap .points-block .btn {
  position: absolute;
  left: 0;
  bottom: 50px;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
}

.points-wrap .points-block .btn a {
  display: block;
  text-decoration: none;
  background: #E66700;
  color: #ffffff;
  padding: 12px 25px 13px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  transition: .2s;
  text-align: center;
}

.points-wrap .points-block .btn a:hover {
  opacity: .7;
}

.points-wrap .points-block .btn a span {
  display: block;
  position: relative;
}

.points-wrap .points-block .btn a span::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0px;
  top: calc(50% - 2px);
  position: absolute;
}

.points-wrap.yukyu .points-block {
  background: #18AED3;
  margin: 20px 0 20px 40px;
  min-height: 390px;
}

.points-wrap.yukyu .points-block.c2 {
  background: #107189;
}

.points-wrap.yukyu .points-block .points-block-inner {
  box-sizing: border-box;
  height: 100%;
  padding: 110px 30px 30px 250px;
}

.points-wrap.yukyu .points-block:nth-child(even) .points-block-inner {
  padding: 110px 250px 30px 30px;
}

.points-wrap.yukyu .points-block .num {
  color: #FFFF4D;
  top: 5px;
  left: auto;
  right: 25px;
  width: auto;
  padding: 0 0px;
}

.points-wrap.yukyu .points-block:nth-child(even) .num {
  left: 25px;
  right: auto;
}

.points-wrap.yukyu .points-block .num span {
  margin-left: 0px;
}

.points-wrap.yukyu .points-block .txt {
  padding: 0px 0 0px 0px;
}

.points-wrap.yukyu .points-block .txt .ttl {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
}

.points-wrap.yukyu .points-block .txt p {
  color: #fff;
}

.points-wrap.yukyu .points-block .img {
  top: auto;
  right: auto;
  bottom: 0;
  left: -55px;
  height: auto;
  display: block;
}

.points-wrap.yukyu .points-block:nth-child(even) .img {
  right: -55px;
  left: auto;
}

.points-wrap.yukyu .points-block .img img {
  width: 300px;
}

.points-block .hexa {
  position: absolute;
  left: 24px;
  top: -110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 75px;
}

.points-block .hexa.l1 {
  background: #FEC200;
}

.points-block .hexa.l2 {
  background: #62B9C0;
}

.points-block .hexa.l3 {
  background: #6B6B6B;
}

.points-block .hexa .t1 {
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.points-block .hexa .t2 {
  font-size: 26px;
  margin-bottom: 2px;
}

.points-block .hexa.l2 .t2 {
  font-size: 22px;
}

.points-wrap.mynumber .points-block {
  margin: -30px 0 0px 40px;
  padding-top: 120px;
  background: none;
}

.points-wrap.mynumber .points-block .num {
  left: 150px;
}

.points-wrap.mynumber .points-block .num.c1 {
  color: #FEC200;
}

.points-wrap.mynumber .points-block .num.c2 {
  color: #62B9C0;
}

.points-wrap.mynumber .points-block .num.c3 {
  color: #6B6B6B;
}

.points-wrap.mynumber .points-block .points-block-inner {
  padding: 80px 40px 60px;
  position: relative;
  background: #F6F6F6;
}

.points-wrap.mynumber .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.points-wrap.mynumber .flex .txt {
  width: calc(100% - 610px);
}

.points-wrap.mynumber .flex .img-area {
  width: 590px;
}

.points-wrap.mynumber .system {
  display: flex;
  justify-content: flex-start;
  margin-left: -30px;
}

.points-wrap.mynumber .system dl {
  margin-left: 30px;
  width: calc(33.333% - 30px);
}

.points-wrap.mynumber .system.l2 dl {
  margin-left: 30px;
  width: calc(50% - 30px);
}

.points-wrap.mynumber .system dl dt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #666666;
  line-height: 1.1;
}

.points-wrap.mynumber .system dl dt .ico {
  width: 80px;
  margin-right: 10px;
}

.points-wrap.mynumber .system dl dd {
  font-size: 16px;
  padding: 10px 5px 15px;
  color: #333;
}

/*------------------------*/

.data-table-l {
  margin-bottom: 20px;
}

.data-table-l table {
  width: 100%;
  border-collapse: collapse;
  color: #001E2C;
  font-size: 18px;
  background: #fff;
  border: 2px solid #091e23;
}

.data-table-l table th {
  padding: 15px 10px;
  vertical-align: middle;
  text-align: center;
  font-weight: 600;
  border: 2px solid #091e23;
}

.data-table-l table td {
  padding: 12px 10px;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  border: 2px solid #091e23;
}

.data-table-l table.b1, .data-table-l table.b1 th, .data-table-l table.b1 td {
  border-width: 1px;
}

.data-table-l table .bt2 th, .data-table-l table .bt2 td {
  border-top-width: 2px;
}

.data-table-l table .bt1 {
  border-top-width: 1px;
}

.data-table-l table .btdot {
  border-top-style: dotted;
}

.data-table-l table .bb1 {
  border-bottom-width: 1px;
}

.data-table-l table .bbdot {
  border-bottom-style: dotted;
}

.data-table-l table.boder-c2, .data-table-l table.boder-c2 th, .data-table-l table.boder-c2 td {
  border-color: #ccc;
}

.data-table-l table thead th {
  background: #003847;
  color: #fff;
  border-right-color: #fff;
}

.data-table-l table.b1 thead th {
  background: #001E2D;
}

.data-table-l table th:last-child {
  border-right: none;
}

.data-table-l table thead td {}

.data-table-l table .p1 {
  padding: 0 10px;
}

.data-table-l table .p2 {
  padding: 12px 10px;
}

.data-table-l table .p3 {
  padding: 5px 10px;
}

.data-table-l table .b1 {
  background: #003847;
  color: #fff;
}

.data-table-l table .b2 {
  background: #257387;
}

.data-table-l table .b3 {
  background: #ffa61a;
}

.data-table-l table .b4 {
  background: #FF8C00;
}

.data-table-l table .b5 {
  background: #E57200;
}

.data-table-l table .b6 {
  background: #18AED3;
}

.data-table-l table a {
  color: #E57200;
}

.data-table-l table a:hover {
  text-decoration: none;
}

.data-table-l table th .in {
  position: relative;
  min-height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  line-height: 1.3;
}

.data-table-l table th.t-l .in {
  justify-content: flex-start;
}

.data-table-l table th .num {
  position: absolute;
  top: calc(50% - 27px);
  right: 0;
  color: #CAD9E0;
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
}

.data-table-l table th .num.block {
  position: static;
  margin-right: 15px;
}

.data-table-l table th .num.c2 {
  color: #DED5B6;
}

.data-table-l table th .in .ico01 {
  background: url(../../img/lp/t_ico01.png) no-repeat left center;
  padding: 0 20px 0 30px;
  line-height: 28px;
}

.data-table-l table th .in .ico02 {
  background: url(../../img/lp/t_ico02.png) no-repeat left center;
  padding: 0 20px 0 30px;
  line-height: 28px;
}

.data-table-l table th .in2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.data-table-l table th .in2 .ico {
  font-size: 80px;
  line-height: 1;
  color: #FFA719;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  font-weight: 500;
}

.data-table-l table td .arrow {
  text-align: center;
}

.data-table-l table td .arrow img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 30px;
}

.data-table-l table .bg-par {
  width: 110px;
  height: 110px;
  color: #fff;
  background: url(../../img/lp/bg_par01.svg) no-repeat center;
  background-size: 110px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 800;
  margin-left: 5px;
}

.data-table-l table .bg-par.c2 {
  background: url(../../img/lp/bg_par02.svg) no-repeat center;
  background-size: 110px;
}

.data-table-l table .bg-par.c3 {
  background: url(../../img/lp/bg_par03.svg) no-repeat center;
  background-size: 110px;
}

.data-table-l table .bg-par span {
  font-size: 36px;
}

.data-table-l table td .img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-table-l table td .img img {
  margin: 0 10px;
}

/*------------------------------------*/

.feature-list {
  margin-bottom: 0;
}

.feature-list ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: -1px;
}

.feature-list ul li {
  width: calc(50% - 1px);
  margin-left: 1px;
  background-color: #F5740A;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 35px 30px 85px;
  position: relative;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.feature-list ul li:nth-child(even) {
  background-color: #D85C0A;
}

.feature-list ul li .img {
  width: 128px;
  height: 128px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 64px;
}

.feature-list ul li .txt-area {
  width: calc(100% - 160px);
}

.feature-list ul li .ttl {
  display: table;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 25px;
  line-height: 1.3;
}

.feature-list ul li .ttl>div {
  display: table-cell;
  vertical-align: middle;
}

.feature-list ul li .txt {
  font-size: 16px;
}

.feature-list ul li.n1 {
  background-image: url(../../img/lp/n01.png);
}

.feature-list ul li.n2 {
  background-image: url(../../img/lp/n02.png);
}

.feature-list ul li .pop {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  line-height: 50px;
  font-size: 30px;
}

.feature-list ul li .pop::before {
  content: "詳細はこちら";
  position: absolute;
  right: 55px;
  top: calc(50% - 15px);
  font-size: 18px;
  line-height: 30px;
  width: 150px;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}

/*------------------------------------*/

.feature-list2 {
  margin-bottom: 00px;
}

.feature-list2 ul {
  display: flex;
}

.feature-list2 ul li {
  width: 33.333%;
  box-sizing: border-box;
  padding: 25px 30px 25px;
  position: relative;
}

.feature-list2 ul li .img {
  width: 240px;
  height: 240px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 120px;
  margin: 0 auto 30px;
  overflow: hidden;
}

.feature-list2 ul li .ttl {
  font-weight: 800;
  font-size: 23px;
  margin-bottom: 20px;
  line-height: 1.3;
  text-align: center;
  color: #003846;
}

.feature-list2 ul li .txt {
  font-size: 16px;
}

/*------------------------------------*/

.feature-list-l4 {
  margin-bottom: 80px;
}

.feature-list-l4 ul {
  display: flex;
}

.feature-list-l4 ul li {
  width: 25%;
  background-color: #F5740A;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 35px 25px 85px;
  position: relative;
  box-sizing: border-box;
}

.feature-list-l4 ul li:nth-child(even) {
  background-color: #D85C0A;
}

.feature-list-l4 ul li .img {
  width: 128px;
  height: 128px;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 64px;
  margin: 0 auto 30px;
}

.feature-list-l4 ul li .ttl {
  display: table;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 25px;
  line-height: 1.3;
  text-align: center;
  height: 55px;
  width: 100%;
}

.feature-list-l4 ul li .ttl>div {
  display: table-cell;
  vertical-align: middle;
}

.feature-list-l4 ul li.n1 {
  background-image: url(../../img/lp/n1.png);
}

.feature-list-l4 ul li.n2 {
  background-image: url(../../img/lp/n2.png);
}

.feature-list-l4 ul li.n3 {
  background-image: url(../../img/lp/n3.png);
}

.feature-list-l4 ul li.n4 {
  background-image: url(../../img/lp/n4.png);
}

.feature-list-l4 ul li .pop {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  line-height: 50px;
  font-size: 30px;
}

.feature-list-l4 ul li .pop::before {
  content: "詳細はこちら";
  position: absolute;
  right: 55px;
  top: calc(50% - 15px);
  font-size: 18px;
  line-height: 30px;
  width: 150px;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}

.feature-block {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-sizing: border-box;
  overflow-y: scroll;
}

.feature-block .feature-block-in {
  padding: 80px 0;
}

.feature-block .feature-block-close {
  font-size: 50px;
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0px;
  right: 15px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  line-height: 68px;
  font-weight: 100;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2), -1px 1px 1px rgba(0, 0, 0, 0.2), 1px -1px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.2), 0-1px 1px rgba(0, 0, 0, 0.2), -1px 0 1px rgba(0, 0, 0, 0.2), 1px 0 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.feature-block .box {
  border: 10px solid #EF8300;
  background: #fff;
  padding: 60px;
}

.feature-block .box .box-ttl {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}

.feature-block .box .box-ttl .sub {
  font-size: 32px;
}

.feature-block .box .box-ttl .main {
  color: #EF8300;
}

.feature-block .box .list {}

.feature-block .box .list ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.feature-block .box .list ul li {
  width: calc(33.333% - 40px);
  margin: 0 20px 40px;
  position: relative;
}

.feature-block .box .list ul li .img {
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 70px;
  background-color: #F6F6F6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-block .box .list ul li .ttl {
  display: table;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  line-height: 1.3;
}

.feature-block .box .list ul li .ttl>div {
  display: table-cell;
  vertical-align: top;
}

.feature-block .box .list ul li .ttl span {
  font-size: 18px;
}

.feature-block .box .list ul li .txt {
  font-size: 15px;
  line-height: 1.5;
}

.feature-block .box .list.s2 ul li .img {
  width: 225px;
  height: 225px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 113px;
  margin-left: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-block .box .list.s2 ul li .ttl {
  position: absolute;
  right: 10px;
  top: -10px;
  width: 110px;
  height: 110px;
  background: #EF8300;
  color: #fff;
  border-radius: 55px;
  font-size: 17px;
  font-weight: 900;
}

.feature-block .box .list.s2 ul li .ttl>div {
  vertical-align: middle;
}

.feature-block .box .list.s2 ul li .ttl span {
  font-size: 28px;
}

/*------------------------------------*/

section.news-block .section-inner {
  padding: 140px 0 90px;
}

section.news-block .box {
  width: 100%;
  float: none;
  position: relative;
  box-sizing: border-box;
}

section.news-block .box .areaTtl .ttl {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: 900;
  color: #001E2C;
  border-bottom: solid 1px #001E2D;
  letter-spacing: .05em;
}

section.news-block .box .areaTtl .ttl:after {
  position: absolute;
}

section.news-block .box .btn {
  position: absolute;
  top: 0;
  right: 0px;
}

section.news-block .box .btn a {
  display: inline-block;
  padding: 6px;
  width: 110px;
  font-size: 16px;
  font-weight: 400;
  color: #003847;
  text-align: center;
  background: #EEEEEE;
  border-radius: 90px;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: .05em;
}

section.news-block .box .btn a:hover {
  opacity: .7;
  transition: all .2s linear;
}

section.news-block .box .btn a:after {
  position: absolute;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #003847;
  border-right: 1px solid #003847;
  box-sizing: border-box;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(45deg);
}

section.news-block .box .list .item a {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

section.news-block .box .list .item a .t1 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

section.news-block .box .list .item a .t1 .date {
  color: #777777;
}

section.news-block .box .list .item a .t2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 200px);
  font-size: 17px;
}

section.news-block .areaNews:nth-child(2n+1) {
  padding-right: 0px;
}

section.news-block .areaNews:nth-child(2n) {
  padding-left: 0px;
}

section.news-block .areaNews .list .item+.item {
  margin-top: 24px;
}

section.news-block .box .list .item a {
  text-decoration: none;
}

section.news-block .areaNews .list .item a:hover .t2 .ttl {
  text-decoration: underline;
}

section.news-block .areaNews .list .item a .t1 {
  box-sizing: border-box;
  padding-right: 0px;
}

section.news-block .areaNews .list .item a .t1 .date {
  width: 88px;
  display: block;
  margin-right: 5px;
  font-size: 17px;
}

section.news-block .areaNews .list .item a .t1 .cat {
  display: inline-block;
  padding: 3px 0;
  width: 94px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #FF8C00;
}

section.news-block .areaNews .news-list, section.news-block .areaUpdate .update-list {
  margin-top: 35px;
}

/*------------------------------------*/

.time-wrap {
  position: relative;
}

.time-wrap .time-t1 {
  text-align: center;
  color: #FFA61A;
  line-height: 1.0;
  font-weight: 700;
  margin-bottom: 100px;
  position: relative;
}

.time-wrap .time-t1 .time-t1-1 {
  font-size: 50px;
}

.time-wrap .time-t1 .time-t1-1 span {
  font-size: 140px;
  letter-spacing: 5px;
  margin-right: 10px;
}

.time-wrap .time-t1 .time-t1-2 {
  font-size: 70px;
  letter-spacing: 5px;
}

.time-wrap .time-t1 .img {
  position: absolute;
  width: 92px;
  left: calc(50% - 92px / 2);
  bottom: -130px;
  z-index: 2;
}

.time-wrap .time-t1 .img img {
  filter: drop-shadow(4px 3px 0px rgba(255, 255, 255, 1));
}

.time-wrap .time-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.time-wrap .time-block .time-box {
  width: calc(50% - 20px);
  background: #003847;
  color: #fff;
  box-sizing: border-box;
  padding: 50px 230px 60px 25px;
  position: relative;
}

.time-wrap .time-block .time-box .o-t {
  position: absolute;
  height: 200px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  top: -200px;
  left: 0;
  box-sizing: border-box;
  padding-bottom: 10px;
  color: #003847;
  font-weight: 800;
  line-height: 1.0;
}

.time-wrap .time-block .time-box .o-t .t1 {
  display: block;
  font-size: 40px;
  font-weight: 600;
}

.time-wrap .time-block .time-box .o-t .t2 {
  display: block;
  font-size: 30px;
}

.time-wrap .time-block .time-box .o-t .t2 span {
  font-size: 120px;
  margin-right: 5px;
}

.time-wrap .time-block .time-box .txt-area {
  position: relative;
  z-index: 2;
}

.time-wrap .time-block .time-box .txt-area .ttl {
  background: #1A5261;
  padding: 11px 20px 12px;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  border-radius: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.time-wrap .time-block .time-box .txt-area .txt {
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
}

.time-wrap .time-block .time-box .img-area {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.time-wrap .time-block .time-box.s2 {
  background: #E57100;
  padding: 50px 25px 60px 230px;
}

.time-wrap .time-block .time-box.s2 .o-t {
  left: 230px;
  color: #E57100;
  background: url(../../img/lp/bg_star.svg) no-repeat center;
  background-size: 280px auto;
  padding-left: 70px;
}

.time-wrap .time-block .time-box.s2 .o-t .t1 {}

.time-wrap .time-block .time-box.s2 .o-t .t2 {}

.time-wrap .time-block .time-box.s2 .o-t .t2 span {}

.time-wrap .time-block .time-box.s2 .txt-area {}

.time-wrap .time-block .time-box.s2 .txt-area .ttl {
  background: #FFA61A;
}

.time-wrap .time-block .time-box.s2 .txt-area .txt {
  padding: 0 0px 0 25px;
}

.time-wrap .time-block .time-box.s2 .img-area {
  left: 0;
  right: auto;
}

.time-wrap2 {
  position: relative;
  padding: 50px 0;
}

.time-wrap2 .logo {
  text-align: center;
  padding-bottom: 15px;
}

.time-wrap2 .box {
  background: #F6F6F6;
  border: 1px solid #eee;
  margin: 25px auto 65px;
  position: relative;
  padding: 90px 45px 60px;
}

.time-wrap2 .box .box-ttl {
  position: absolute;
  text-align: center;
  top: -25px;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.time-wrap2 .box .box-ttl span {
  position: relative;
  display: block;
  color: #fff;
  background: #FEC200;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 2px;
  min-width: 400px;
  padding: 10px 20px 12px;
}

.time-wrap2 .box .box-ttl span::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent #b68900 transparent;
  position: absolute;
  left: -25px;
  top: 0;
}

.time-wrap2 .box .box-ttl.c4 span {
  background: #18AED3;
}

.time-wrap2 .box .box-ttl.c4 span::before {
  border-color: transparent transparent #0D535F transparent;
}

.time-wrap2 .recommend-ttl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
}

.time-wrap2 .recommend-ttl span {
  position: relative;
  border-bottom: 1px solid #E57100;
  padding: 10px;
  font-weight: 800;
  font-size: 40px;
  color: #011425;
}

.time-wrap2 .recommend-ttl span::after {
  content: "";
  position: absolute;
  left: calc(50% - 21px);
  bottom: -15px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  filter: drop-shadow(1px 1px 0px rgba(229, 113, 0, 1));
}

.time-wrap2 .recommend {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.time-wrap2 .recommend .recommend-box {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  min-height: 244px;
  padding: 40px 97px 0 0;
  background: url(../../img/lp/recommend_img01.png) no-repeat right bottom;
}

.time-wrap2 .recommend .recommend-box.s2 {
  padding: 40px 0 0 90px;
  background: url(../../img/lp/recommend_img02.png) no-repeat -2px bottom;
}

.time-wrap2 .recommend .recommend-box .in {
  position: relative;
  background: #fff;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 35px 40px;
}

.time-wrap2 .recommend .recommend-box .in .ttl {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #E57100;
  line-height: 1.4;
}

.time-wrap2 .recommend .recommend-box .in .txt {
  font-size: 16px;
  line-height: 1.8;
}

.block-ttl {
  padding-top: 40px;
  margin-bottom: 50px;
  position: relative;
  color: #06222d;
  font-size: 22px;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.block-ttl::before {
  content: "";
  position: absolute;
  width: 175px;
  height: 2px;
  background: #fc8f00;
  background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07', GradientType=1);
  top: 0;
  left: 0;
}

.block-ttl .num {
  font-size: 96px;
  color: #E66700;
  width: 75px;
  line-height: 1;
}

.block-ttl .main {
  font-size: 34px;
  color: #1A5261;
  font-weight: 800;
}

/*------------------------------------*/

.yukyu {}

.yukyu-block {
  padding-left: 315px;
  color: #011F2A;
  margin-bottom: 33px;
  position: relative;
  z-index: 2;
}

.yukyu-block .t1 {
  position: relative;
  background: #fff;
  border: 3px solid #13B0D3;
  border-radius: 25px;
  padding: 20px 20px;
  font-size: 22px;
  font-weight: 800;
  line-height: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.yukyu-block .t1::after {
  content: "";
  position: absolute;
  left: calc(50% - 21px);
  bottom: -17px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  border-right: 3px solid #13B0D3;
  border-bottom: 3px solid #13B0D3;
  box-sizing: border-box;
}

.yukyu-block .t1 span {
  position: relative;
  color: #13B0D3;
  font-size: 30px;
  padding: 0 8px;
  margin: 0 12px;
}

.yukyu-block .t1 span.s2 {
  padding: 0 12px;
  margin: 0;
}

.yukyu-block .t1 span::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 1px;
  background: #666;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.yukyu-block .t1 span.s2::before {
  top: 5px;
}

.yukyu-block .t1 span::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 1px;
  background: #666;
  right: 0;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.yukyu-block .t1 span.s2::after {
  top: 5px;
}

.yukyu-block .t2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.yukyu-block .t3 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.yukyu-block .t3 .in {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
}

.yukyu-block .t3 .t3-1 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 55px;
}

.yukyu-block .t3 .t3-1 .t3-1-1 {
  margin-right: 25px;
  font-size: 30px;
}

.yukyu-block .t3 .t3-1 .t3-1-2 span {
  font-size: 45px;
  color: #FEC200;
  margin-left: 5px;
}

.yukyu-block .t3 .t3-2 {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.yukyu-block .t3 .t3-2 .t3-2-1 {
  margin-right: 10px;
}

.yukyu-block .t3 .t3-2 .t3-2-2 {
  font-size: 84px;
  color: #FEC200;
}

.yukyu-block .t3 .t3-2 .t3-2-3 {
  margin-left: 10px;
}

.yukyu>.img {
  position: absolute;
  left: 0;
  top: -20px;
  width: 310px;
  z-index: 1;
}

.yukyu .box {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.yukyu .box .in {
  padding: 40px 50px;
}

.yukyu .box .ttl {
  display: inline-block;
  background: #13B0D3;
  color: #fff;
  padding: 25px 50px 25px 30px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  position: relative;
  margin-bottom: 45px;
  left: -75px;
}

.yukyu .box .ttl::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #0D5061 transparent transparent;
  position: absolute;
  left: 0px;
  bottom: -25px;
}

.yukyu .box .ttl span {
  position: absolute;
  color: #011F2A;
  font-size: 100px;
  right: 0px;
  bottom: calc(50% - 25px);
  font-weight: 600;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.yukyu .box p {
  font-weight: 300;
  color: #333;
  line-height: 1.8;
  margin-bottom: 40px;
}

.yukyu .box p span {
  font-weight: 600;
  color: #13B0D3;
  font-size: 21px;
}

.yukyu .box .list {
  background: #F6F6F6;
  padding: 30px 30px 20px;
  margin-bottom: 25px;
}

.yukyu .box .list .list-ttl {
  color: #003444;
  font-weight: 600;
  line-height: 40px;
  padding-left: 50px;
  margin-bottom: 25px;
  background: url(../../img/lp/ico_attention.svg) no-repeat left center;
  background-size: 40px auto;
}

.yukyu .box .list ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
}

.yukyu .box .list ul li {
  width: calc(33.333% - 15px);
  margin-left: 15px;
  background: #E7E7E7;
  box-sizing: border-box;
  padding: 14px 10px 16px;
  color: #E52501;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 5px;
}

.yukyu .box .box-txt {
  text-align: center;
  color: #003444;
  font-size: 26px;
  font-weight: 800;
}

/*------------------------------------*/

.yukyu-f-list {
  margin-bottom: 60px;
}

.yukyu-f-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yukyu-f-list ul li {
  width: 186px;
  height: 186px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: #148EAD;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yukyu-f-list ul li .ico {
  margin-bottom: 5px;
}

/*------------------------------------*/

.yukyu-cost {
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 5px;
}

.yukyu-cost .yukyu-cost-block1 {
  width: 50%;
  background: #18AED3;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: 1;
  padding: 20px 10px;
  box-sizing: border-box;
}

.yukyu-cost .yukyu-cost-block2 {
  width: 50%;
  background: #001E2C;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
}

.yukyu-cost .yukyu-cost-block1 .t1 {
  font-size: 100px;
  margin-right: 5px;
  line-height: .9;
}

.yukyu-cost .yukyu-cost-block1 .t2 {
  font-size: 42px;
}

/*------------------------------------*/

.l-ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
  margin-bottom: 15px;
}

.l-ttl .t1 {
  font-size: 70px;
  font-weight: bold;
  line-height: 80px;
}

.l-ttl .t1 span {
  font-size: 82px;
  color: #2CB23B;
}

.l-ttl .t1 span.text-web {
  font-size: 80px;
}

.l-ttl .t2 {
  font-size: 28px;
  font-weight: 700;
  color: #2CB23B;
  margin-left: -20px;
}

/*------------------------------------*/

.kyuyomeisai-txt {
  width: 830px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 900;
  line-height: 1.3;
  color: #001E2C;
}

.kyuyomeisai-txt .t1 {
  width: 340px;
  position: relative;
}

.kyuyomeisai-txt .t1 .t1-01 {
  margin-top: -10px;
}

.kyuyomeisai-txt .t1 .t1-02 {
  position: absolute;
  font-size: 46px;
  top: 20px;
  right: 30px;
  line-height: 1.15;
  color: #2CB23B;
}

.kyuyomeisai-txt .t2 {
  width: calc(100% - 290px);
  padding-top: 15px;
}

.kyuyomeisai-txt .t2 .t2-01 {
  border-top: 1px solid #2CB23C;
  border-bottom: 1px solid #2CB23C;
  padding: 10px 5px;
  line-height: 1.2;
}

.kyuyomeisai-txt .t2 .t2-01 .t2-01-00 {
  display: none;
}

.kyuyomeisai-txt .t2 .t2-01 .t2-01-01 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kyuyomeisai-txt .t2 .t2-01 .t2-01-01 img {
  margin-left: -10px;
  margin-right: 5px;
}

.kyuyomeisai-txt .t2 .t2-01 .t2-01-02 {
  font-size: 76px;
  letter-spacing: 2px;
  color: #2CB23B;
  text-align: center;
}

.kyuyomeisai-txt .t2 .t2-01 .t2-01-02 span {
  margin-left: 5px;
}

.kyuyomeisai-txt .t2 .t2-02 {
  font-weight: 600;
  padding: 10px 5px 0 0px;
  line-height: 1.6;
  text-align: center;
}

.kyuyomeisai-txt .t2 .t2-02 p {
  display: inline-block;
  text-align: left;
  font-size: 18px;
}

/*------------------------------------*/

.a-1 {
  background: url(../../img/lp/pc_img.png) no-repeat top center;
  padding-top: 480px;
}

/*------------------------------------*/

.merit-area {
  position: relative;
  padding: 0px 0 0px;
}

.merit-area .merit-arrow {
  position: relative;
  height: 60px;
  border-top: 1px solid #111;
  margin-bottom: 60px;
  z-index: 1;
}

.merit-area .merit-arrow::after {
  content: "";
  width: 80px;
  height: 80px;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  background: #fff;
  position: absolute;
  top: -41px;
  left: calc(50% - 40px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.merit-area .column-wrap {
  background: #F6F6F6;
  background: -moz-linear-gradient(left, #F6F6F6 50%, #EEEEEE 50%);
  background: -webkit-linear-gradient(left, #F6F6F6 50%, #EEEEEE 50%);
  background: linear-gradient(to right, #F6F6F6 50%, #EEEEEE 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F6F6', endColorstr='#EEEEEE', GradientType=1);
  padding: 60px 0 0;
  position: relative;
  z-index: 2;
}

.merit-area .column {
  position: relative;
}

.merit-area .ml .ttl-area {
  position: absolute;
  height: 100%;
  top: -130px;
  left: calc(50% - 90px);
}

.merit-area .mr .ttl-area {
  position: absolute;
  height: 100%;
  top: -130px;
  left: calc(50% - 90px);
}

.merit-area .ttl {
  width: 180px;
  height: 180px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: table;
  margin-top: 0px;
}

.merit-area .ttl-in {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
}

.merit-area .ttl .main {
  font-size: 48px;
  font-weight: bold;
}

.merit-area .ttl .sub {
  color: #000;
  font-size: 30px;
  font-weight: 500;
}

.merit-area .ttl .sub span {
  font-size: 24px;
}

.merit-area .t1 .ttl {
  border: 1px solid #2CB23C;
  background: #fff;
}

.merit-area .t1 .ttl .main {
  color: #2CB23C;
}

.merit-area .t2 .ttl {
  border: 1px solid #FF8C00;
  background: #fff;
}

.merit-area .t2 .ttl .main {
  color: #FF8C00;
}

.merit-area .t3 .ttl {
  border: 1px solid #195260;
  background: #fff;
}

.merit-area .t3 .ttl .main {
  color: #195260;
}

.merit-area .ttl-area .img {
  position: absolute;
  bottom: 0;
  left: -35px;
}

.merit-area .ttl-area .img img {
  width: auto;
  max-width: none;
}

.merit-area .list {
  width: auto;
  line-height: 1.3;
  padding: 80px 0 40px;
}

.merit-area .ml .list {
  padding-right: 30px;
  padding-left: 50px;
}

.merit-area .mr .list {
  padding-right: 50px;
  padding-left: 30px;
}

.merit-area .list dl {
  margin-bottom: 20px;
}

.merit-area .list dl dt {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.merit-area .list dl dt span {
  display: inline-block;
  font-size: 32px;
  width: 35px;
  font-weight: 700;
}

.merit-area .list dl dd {
  padding-left: 35px;
  line-height: 1.5;
  font-size: 16px;
}

.merit-area .mb {
  background: #DDDDDD;
  padding: 40px 50px;
  position: relative;
  z-index: 2;
}

.merit-area .mb .mb-in {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.merit-area .mb .ttl-area {
  width: 180px;
  position: relative;
}

.merit-area .mb .ttl-area .ttl {
  margin: 0 0 0 auto;
}

.merit-area .mb .list {
  width: auto;
  padding-top: 40px;
  padding-left: 30px;
}

.merit-area .mb .ttl-area .img {
  position: absolute;
  bottom: -40px;
  left: 10px;
}

.merit-area .mb .ttl-area .img img {
  width: auto;
  max-width: none;
}

.merit-area .merit-area-img {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.merit-area .merit-area-img .img01 {
  position: absolute;
  top: -340px;
  left: -65px;
}

.merit-area .merit-area-img .img02 {
  position: absolute;
  top: -340px;
  right: -30px;
}

/*------------------------------------*/

.fee-list {
  margin: 0 -15px 80px;
}

.fee-list>table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 15px;
}

.fee-list table th {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.fee-list table th .th-in {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.fee-list table th .th-in .inner {
  border-left: 1px solid #333;
  padding: 0;
  border-collapse: collapse;
}

.fee-list table th .th-in .inner.t1 {
  border-left: none;
  width: 35%;
}

.fee-list table th .th-in .inner.t2 {
  width: 65%;
}

.fee-list table th .th-in .inner>div {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  width: 31%;
}

.fee-list table th .th-in .inner>div.c2 {
  display: inline-block;
  width: 75%;
  font-size: 100px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 10px;
  letter-spacing: -5px;
  color: #2CB23C;
  vertical-align: middle;
  box-sizing: border-box;
}

.fee-list table th .th-in .inner>div.c2 span {
  padding-left: 10px;
  font-weight: 900;
  font-size: 35px;
  color: #F7F6F2;
  -webkit-text-stroke: 1px #2CB23C;
  text-stroke: 1px #2CB23C;
  text-shadow: 1px 1px 0 #2CB23C, -1px -1px 0 #2CB23C, -1px 1px 0 #2CB23C, 1px -1px 0 #2CB23C, 0px 1px 0 #2CB23C, 0-1px 0 #2CB23C, -1px 0 0 #2CB23C, 1px 0 0 #2CB23C;
  letter-spacing: .1em;
}

.fee-list table th .th-in .inner.t1 .c2 {
  display: table-cell;
  padding-right: 15px;
  width: 69%;
}

.fee-list table th .th-in .inner.t2 .c1 {
  display: inline-block;
  padding-left: 20px;
  width: 23%;
  box-sizing: border-box;
  vertical-align: middle;
}

.fee-list table td {
  width: 50%;
  background: #fff;
  padding: 30px 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 500;
}

.fee-list table td span {
  font-size: 44px;
  font-weight: 700;
  margin: 0 2px;
}

/*--------------------------*/

.fee-table {
  margin-bottom: 60px;
}

.fee-table .table table {
  width: 100%;
  border: 2px solid #333;
  background: #fff;
}

.fee-table .table table th {
  border: 1px solid #333;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
  padding: 9px 5px 9px;
  border-left: 2px solid #333;
  border-bottom: 1px dotted #333;
}

.fee-table .table table thead th {
  background: #003847;
  color: #fff;
  border-bottom: 2px solid #333;
  font-size: 26px;
}

.fee-table .table table td {
  border-left: 2px solid #333;
  border-bottom: 1px dotted #333;
  text-align: center;
  font-size: 18px;
}

.fee-table .table table td span {
  font-size: 30px;
  margin-right: 3px;
}

.fee-table .table table td span.bold {
  font-weight: 700;
}

.fee-table .table table .t1 {
  width: 17%;
}

.fee-table .table table .t2 {
  width: 37%;
}

.fee-table .table table .t3 {
  width: 23%;
}

.fee-table .table table .t4 {
  width: 23%;
}

/*--------------------------*/

.device {
  border: 2px solid #CECEBF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003847;
}

.device .device-ttl {
  width: 220px;
  box-sizing: border-box;
  padding: 30px 10px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.device ul {
  width: calc(100% - 220px);
  display: flex;
  justify-content: center;
  padding: 30px;
  border-left: 1px solid #CECEBF;
}

.device ul li {
  margin: 0 30px;
  text-align: center;
  font-weight: 400;
}

.device ul li img {
  width: 70px;
}

/*--------------------------*/

.flow {
  position: relative;
}

.flow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 190px 0 190px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 190px);
  z-index: 1;
}

.flow .c-ttl {
  position: relative;
  z-index: 2;
}

.flow-list {}

.flow-list ul {
  display: flex;
  justify-content: space-around;
}

.flow-list ul li {
  width: 300px;
  text-align: center;
  font-size: 18px;
}

.flow-list ul li .num {
  text-align: left;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  background: url(../../img/lp/flow_arrow.png) no-repeat 95px center;
}

.flow-list ul li .num span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #BBCACA;
  text-align: center;
  border-radius: 40px;
  line-height: 77px;
}

.flow-list ul li.f1 .num span {
  background: #63B9C0;
}

.flow-list ul li.f3 .num {
  background: none;
}

.flow-list ul li.f3 .num span {
  background: #2CB23C;
}

.flow-list ul li .img {
  margin-bottom: 10px;
}

.flow-list ul li .txt {
  line-height: 1.3;
  font-weight: 500;
  color: #001E2D;
}

/*-------------------------------------------------------------------------------------*/

.simulation {
  margin-bottom: 60px;
}

.simulation-inner {
  position: relative;
}

.simulation .box {
  position: relative;
  height: 390px;
  background: #fff;
  border-radius: 8px;
  border: 3px solid #2CB23C;
  margin-top: -0px;
}

.simulation .box-ttl {
  position: absolute;
  top: -27px;
  left: 24px;
  width: 220px;
  height: 220px;
  background: #2CB23C;
  color: #fff;
  text-align: center;
}

.simulation .box-ttl::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 0 0 24px;
  border-color: transparent transparent transparent #20822D;
  position: absolute;
  top: 0;
  right: -24px;
}

.simulation .box-ttl .logo {
  width: 180px;
  margin: 35px auto 5px;
}

.simulation .box-ttl .t1 {
  font-weight: bold;
  display: inline-block;
  font-size: 28px;
  position: relative;
  margin-bottom: 5px;
}

.simulation .box-ttl .t1:before {
  content: "";
  position: absolute;
  top: 20px;
  left: -40px;
  width: 40px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.simulation .box-ttl .t1:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -40px;
  width: 40px;
  height: 1px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.simulation .box-ttl .t2 {
  display: inline-block;
  font-size: 34px;
  position: relative;
  color: #000;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -2px;
}

.simulation .box-ttl .t2 span {
  color: #fff;
  font-size: 24px;
}

.simulation .box .box-inner {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.simulation .box .area1 {
  padding: 20px;
  width: calc(100% - 270px);
  box-sizing: border-box;
}

.simulation .box .select {
  margin-left: 250px;
  background: #EEEEEE;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.simulation .box .select ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.simulation .box .select ul li {
  color: #001E2D;
}

.simulation .box .select ul li .ttl {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 17px;
}

.simulation .box .select ul li .body {
  font-weight: bold;
  font-size: 21px;
}

.simulation .box .select ul li select {
  border: 1px solid #001E2D;
  color: #2CB23C;
  font-size: 31px;
  font-weight: 900;
  width: 120px;
  text-align: center;
  margin-right: 10px;
}

.simulation .box .select ul li select.s2 {
  width: 90px;
}

.simulation .box .select ul li select option {
  text-align: center;
}

.simulation .box .select ul li.btn {}

.simulation .box .select ul li.btn>div {
  display: inline-block;
  width: 160px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  background: #fff;
  border-radius: 30px;
  padding: 8px 20px 8px 0px;
  box-sizing: border-box;
}

.simulation .box .select ul li.btn>div::before {
  content: "";
  border: 1px solid #999999;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: calc(50% - 8px);
  border-radius: 9px;
}

.simulation .box .select ul li.btn>div::after {
  content: "＋";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 11px;
  top: calc(50% - 8px);
  color: #999999;
  line-height: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: 900;
}

.simulation .box .select ul li.btn>div span {
  display: block;
  position: relative;
}

.simulation .box .select ul li.btn>div span::before {
  content: "※";
  color: #DF5F0A;
  margin-right: 5px;
  display: inline;
}

.simulation .box .table {}

.simulation .box .table table {
  width: 100%;
  border-collapse: separate;
}

.simulation .box .table table thead th {
  text-align: center;
  padding: 1px 3px 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.simulation .box .table table thead th div {
  position: relative;
  background: #FAE6B1;
  padding: 16px 0 18px;
}

.simulation .box .table table thead th div::after {
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  bottom: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8.5px 0 8.5px;
  border-color: #FAE6B1 transparent transparent transparent;
}

.simulation .box .table table thead th.t0 {
  width: 250px;
}

.simulation .box .table table thead th.t1, .simulation .box .table table thead th.t6, .simulation .box .table table thead th.t2, .simulation .box .table table thead th.t3, .simulation .box .table table thead th.t4 {
  width: 95px;
}

.simulation .box .table table thead th.t4 {
  width: 115px;
}

.simulation .box .table table thead th.t5 {
  padding-left: 8px;
}

.simulation .box .table table thead th.t2 div {
  background: #F8DB8F;
}

.simulation .box .table table thead th.t2 div::after {
  border-color: #F8DB8F transparent transparent transparent;
}

.simulation .box .table table thead th.t3 div {
  background: #F7CF68;
}

.simulation .box .table table thead th.t3 div::after {
  border-color: #F7CF68 transparent transparent transparent;
}

.simulation .box .table table thead th.t4 div {
  padding: 6px 0;
  background: #F4BF33;
}

.simulation .box .table table thead th.t4 div::after {
  border-color: #F4BF33 transparent transparent transparent;
}

.simulation .box .table table thead th.t4 span {
  font-size: 13px;
}

.simulation .box .table table thead th.t5 div {
  background: #63B9C0;
  color: #fff;
  font-size: 19px;
}

.simulation .box .table table thead th.t5 div::after {
  border-color: #63B9C0 transparent transparent transparent;
}

/*----------------------*/

.simulation .box .table table tbody th {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0 0 0 15px;
}

.simulation .box .table table tbody th span {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.simulation .box .table table tbody .r1 th {
  color: #63B8BF;
}

.simulation .box .table table tbody .r2 th {
  color: #2CB23C;
}

.simulation .box .table table tbody .r1 th div {
  background: url(../../img/lp/simu_ico01.jpg) no-repeat left center;
  padding-left: 60px;
}

.simulation .box .table table tbody .r2 th div {
  background: url(../../img/lp/simu_ico02.jpg) no-repeat left center;
  padding-left: 60px;
}

.simulation .box .table table tbody .r2 th img {
  width: 125px;
}

.simulation .box .table table tbody td {
  text-align: center;
  border-left: 1px dotted #bbb;
  font-size: 20px;
  font-weight: 500;
}

.simulation .box .table table tbody .r1 th {
  border-bottom: 2px solid #bbb;
}

.simulation .box .table table tbody .r1 td {
  border-bottom: 2px solid #bbb;
}

.simulation .box .table table tbody td.t5 {
  text-align: right;
  font-size: 26px;
  font-weight: 900;
}

.simulation .box .table table tbody .r1 td.t5 {
  color: #63B8BF;
}

.simulation .box .table table tbody .r2 td.t5 {
  color: #DF5F0A;
}

.simulation .box .table table tbody td div {
  position: relative;
  padding: 10px 5px 17px;
}

.simulation .box .table table tbody td div::after {
  content: "千円";
  position: absolute;
  right: 5px;
  bottom: -0px;
  color: #999;
  font-size: 16px;
  font-weight: bold;
}

.simulation .box .table table tbody td.t14 div::after {
  display: none;
}

.simulation .box .table table tbody td.t14 div>span {
  color: #2CB23C;
}

.simulation .box .table table tbody td.t14 div>span>span {
  font-weight: bold;
  font-size: 26px;
}

.simulation .box .table table tbody .r1 td div::before {
  position: absolute;
  content: "＋";
  width: 24px;
  height: 20px;
  padding: 10px 0 4px;
  line-height: 20px;
  font-size: 24px;
  font-weight: 900;
  color: #2CB23C;
  left: -13px;
  top: calc(50% - 24px);
  text-shadow: 0px 5px 0 #FFF, 0px -10px 0 #fff;
}

.simulation .box .table table tbody .r1 td.t1 div::before {
  display: none;
}

.simulation .box .table table tbody td.t5 div::before {
  position: absolute;
  content: "＝";
  width: 30px;
  height: 30px;
  padding: 0px 0 0px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 900;
  color: #000;
  left: 5px;
  top: calc(50% - 15px);
}

.simulation .box .area2 {
  padding: 80px 15px 20px 50px;
  width: 280px;
  height: 100%;
  background: #E4EBE7;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0;
}

.simulation .box .area2::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 195px 0 195px 39px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 0;
  top: 0;
}

.simulation .box .area2 .btn {
  padding-top: 40px;
  padding-right: 5px;
}

.simulation .box .area2 .btn a {
  display: block;
  background: #001E2D;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  position: relative;
  border-radius: 5px;
  padding: 12px 10px 14px 0;
  transition: 0.2s;
}

.simulation .box .area2 .btn a:hover {
  opacity: 0.8;
}

.simulation .box .area2 .btn a::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  top: calc(50% - 3px);
  right: 12px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.simulation .box .area2 .t1 {
  font-weight: bold;
  font-size: 21px;
}

.simulation .box .area2 .t1 span {
  font-size: 33px;
}

.simulation .box .area2 .t2 {
  font-weight: bold;
  font-size: 21px;
}

.simulation .box .area2 .t2 span {
  display: inline-block;
  background: #DF5F0A;
  color: #fff;
  padding: 0px 15px;
  font-weight: 900;
  font-size: 34px;
  border-radius: 5px;
  margin-right: 5px;
}

.simulation .box .area2 .t3 {
  font-weight: bold;
  font-size: 21px;
}

.simulation .box .area2 .t3 span {
  font-size: 28px;
  letter-spacing: -2px;
}

#simu-pop-block {
  display: none;
  border: 3px solid #ccc;
  background: #fff;
  width: 540px;
  box-sizing: border-box;
  padding: 40px 20px 40px 30px;
  border-radius: 10px;
  position: absolute;
  top: -50px;
  right: -10px;
}

#simu-pop-block #simu-pop-close {
  width: 35px;
  height: 35px;
  border: 3px solid #000;
  background: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

#simu-pop-block dl {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#simu-pop-block dl dt {
  width: 60px;
  color: #DF5F0A;
  font-weight: 500;
}

#simu-pop-block dl dd {
  font-weight: 400;
  font-size: 15px;
}

#simu-pop-block dl dd::before {
  content: "…";
  margin-right: 10px;
}

#simu-pop-block p {
  padding-top: 20px;
}

#simu-pop-block p span {
  color: #DF5F0A;
}

/*-----------------------------*/

.mynumber-ttl {
  position: relative;
  margin-bottom: 80px;
  text-align: center;
  line-height: 1.4;
}

.mynumber-ttl::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(50% - 42px);
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #666;
}

.mynumber-ttl::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(50% - 43px);
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #666;
}

.mynumber-ttl .in {
  padding: 0 0 22px;
}

.mynumber-ttl .in::after {
  content: "";
  width: 60px;
  height: 60px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: -30px;
  left: calc(50% - 30px);
}

.mynumber-ttl .t1 {
  color: #565656;
  font-size: 28px;
  font-weight: 800;
}

.mynumber-ttl .t2 {
  color: #FBB104;
  font-size: 48px;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.mynumber-ttl .t2 .ex {
  position: absolute;
  bottom: 0;
  right: -70px;
  font-size: 120px;
  line-height: 1;
  color: #FEC200;
  font-weight: 600;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.mynumber-block {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.mynumber-block .txt-area {
  width: calc(100% - 720px);
}

.mynumber-block .txt-area .logo {}

.mynumber-block .txt-area p {
  font-size: 22px;
  color: #FBB104;
  padding-left: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.mynumber-block .txt-area ul {
  display: flex;
  justify-content: flex-start;
  margin-left: -15px;
}

.mynumber-block .txt-area ul li {
  margin-left: 15px;
}

.mynumber-block .txt-area ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  /*height: 175px;*/
  height: 150px;
  border-radius: 75px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  font-size: 16px;
  transition: .2s;
  position: relative;
}

/*
            .mynumber-block .txt-area ul li.l1 a{
                background: url(../../img/lp/hexa01.svg) no-repeat center;
                background-size: 150px;
            }
            .mynumber-block .txt-area ul li.l2 a{
                background: url(../../img/lp/hexa02.svg) no-repeat center;
                background-size: 150px;
            }
            .mynumber-block .txt-area ul li.l3 a{
                background: url(../../img/lp/hexa03.svg) no-repeat center;
                background-size: 150px;
            }
            */

.mynumber-block .txt-area ul li.l1 a {
  background: #FEC200;
}

.mynumber-block .txt-area ul li.l2 a {
  background: #62B9C0;
}

.mynumber-block .txt-area ul li.l3 a {
  background: #6B6B6B;
}

.mynumber-block .txt-area ul li a:hover {
  opacity: .8;
}

.mynumber-block .txt-area ul li a::before {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 15px;
  left: calc(50% - 5px);
}

.mynumber-block .txt-area ul li a::after {
  content: "";
  width: 1px;
  height: 15px;
  background: #fff;
  position: absolute;
  bottom: 14px;
  left: calc(50% - 0px);
}

.mynumber-block .txt-area ul li .t1 {
  height: 2.4em;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.mynumber-block .txt-area ul li .t2 {
  font-size: 26px;
  margin-bottom: 5px;
}

.mynumber-block .txt-area ul li.l2 .t2 {
  font-size: 22px;
}

/*-----------------------------*/

.comparison {
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
}

.comparison .comparison-block {
  background: #fff;
  border: 5px solid #6B6B6B;
  width: 500px;
  text-align: center;
  overflow: hidden;
  margin-left: 20px;
}

.comparison .comparison-block.c2 {
  border: 5px solid #FFC100;
}

.comparison .comparison-ttl {
  background: #6B6B6B;
  color: #fff;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.comparison .comparison-ttl::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 250px 0 250px;
  border-color: #6B6B6B transparent transparent transparent;
  position: absolute;
  bottom: -24px;
  left: calc(50% - 250px);
  z-index: 1;
}

.comparison .c2 .comparison-ttl {
  background: #FFC100;
}

.comparison .c2 .comparison-ttl::after {
  border-color: #FFC100 transparent transparent transparent;
}

.comparison .comparison-ttl img {
  height: 45px;
}

.comparison .comparison-body {
  padding: 40px 10px 10px;
}

.comparison .comparison-body .img-area {
  margin: 0;
}

.comparison .comparison-body .txt-area {
  padding: 0 40px;
}

.comparison .comparison-body .txt-area .ttl {
  background: #BBBBBB;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
  padding: 12px 10px;
  margin-bottom: 15px;
}

.comparison .c2 .comparison-body .txt-area .ttl {
  background: #63B9C0;
}

.comparison .comparison-body .txt-area .list {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.comparison .comparison-body .txt-area .list li {
  margin-bottom: 10px;
  padding: 5px 0 5px 38px;
  background: url(../../img/lp/ico_bad.png) no-repeat left 5px;
}

.comparison .c2 .comparison-body .txt-area .list li {
  background: url(../../img/lp/ico_good.png) no-repeat left 5px;
}

/*-----------------------------*/

.mynumber-case {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.mynumber-case .mynumber-case-block {
  background: #fff;
  border: 5px solid #63B9C0;
  width: calc(50% - 20px);
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.mynumber-case .mynumber-case-block.c2 {
  border: 5px solid #FFC100;
}

.mynumber-case .mynumber-case-block .hexa {
  position: absolute;
  left: 10px;
  top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 179px;
  background: url(../../img/lp/hexa00.svg) no-repeat center;
  background-size: 154px;
  filter: drop-shadow(2px 3px 0px rgba(204, 204, 204, 1));
  z-index: 2;
}

.mynumber-case .mynumber-case-block .hexa .in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 175px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1.2;
  font-size: 30px;
  background: url(../../img/lp/hexa01.svg) no-repeat center;
  background-size: 150px;
}

.mynumber-case .mynumber-case-block.c2 .hexa .in {
  background: url(../../img/lp/hexa02.svg) no-repeat center;
  background-size: 150px;
}

.mynumber-case .mynumber-case-block .hexa .t2 {
  font-size: 68px;
  line-height: .9;
}

.mynumber-case .mynumber-case-ttl {
  background: #63B9C0;
  color: #fff;
  height: 55px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  padding-left: 175px;
}

.mynumber-case .mynumber-case-ttl::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 285px 0 285px;
  border-color: #63B9C0 transparent transparent transparent;
  position: absolute;
  bottom: -24px;
  left: calc(50% - 285px);
  z-index: 1;
}

.mynumber-case .c2 .mynumber-case-ttl {
  background: #FFC100;
}

.mynumber-case .c2 .mynumber-case-ttl::after {
  border-color: #FFC100 transparent transparent transparent;
}

.mynumber-case .mynumber-case-ttl img {
  height: 45px;
}

.mynumber-case .mynumber-case-body {
  padding: 30px 30px 40px;
}

.mynumber-case .mynumber-case-body .img-area {
  margin: 0;
}

.mynumber-case .mynumber-case-body .txt-area {
  padding: 0 25px;
  background: #FCF9D3;
}

.mynumber-case .mynumber-case-body .txt-area .logo {
  width: 390px;
  position: relative;
}

.mynumber-case .mynumber-case-body .txt-area .logo::after {
  content: "Point!";
  position: absolute;
  width: 70px;
  height: 70px;
  background: #FFC100;
  color: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  right: -80px;
  bottom: 5px;
}

.mynumber-case .mynumber-case-body .txt-area .list {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.mynumber-case .mynumber-case-body .txt-area .list li {
  margin-bottom: 10px;
  padding: 5px 0 5px 38px;
  background: url(../../img/lp/ico_good.png) no-repeat 2px 5px;
}

.mynumber-case.b2 {
  margin-top: -5px;
}

.mynumber-case.b2 .mynumber-case-block {
  padding-top: 25px;
}

.mynumber-case.b2 .mynumber-case-ttl {
  padding: 15px 0 0px;
  align-items: center;
  height: auto;
  line-height: 1.2;
  font-size: 24px;
}

.mynumber-case.b2 .mynumber-case-ttl .t1 {
  line-height: 1.2;
  margin-bottom: 5px;
}

.mynumber-case.b2 .mynumber-case-ttl .t1 span {
  background: #fff;
  color: #FFC100;
  padding: 0 5px 1px;
  margin-right: 10px;
  line-height: 1.2;
  display: inline-block;
}

.mynumber-case.b2 .c2 .mynumber-case-ttl .t1 span {
  color: #63B9C0;
}

.mynumber-case.b2 .mynumber-case-ttl .t2 {
  color: #003847;
  font-size: 18px;
}

.mynumber-case-block .mynumber-cost {
  background: #FCF9D3;
  padding: 25px 20px 15px;
  position: relative;
  font-weight: 800;
  margin-bottom: 15px;
}

.mynumber-case-block .mynumber-cost .tag {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: -10px;
  left: 0;
}

.mynumber-case-block .mynumber-cost .tag>div {
  margin-left: 20px;
  background: #148EAD;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  padding: 0 10px 2px;
  line-height: 1.4;
}

.mynumber-case-block .mynumber-cost .t1 {
  font-size: 38px;
}

.mynumber-case-block .mynumber-cost .t2 {
  font-size: 50px;
}

/*-------------*/

.mynumber-case1 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}

.mynumber-case1 .mynumber-case1-block {
  background: #fff;
  border: 5px solid #FFC100;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding: 50px 40px 40px;
}

.mynumber-case1 .img-area {
  margin: 0;
  text-align: center;
}

.mynumber-case1 .txt-area {
  padding: 50px 50px 30px;
  background: #FCF9D3;
  position: relative;
  margin-bottom: 30px;
}

.mynumber-case1 .txt-area .logo {
  width: 450px;
  margin-bottom: 20px;
}

.mynumber-case1 .txt-area .logo::after {
  content: "Point!";
  position: absolute;
  width: 70px;
  height: 70px;
  background: #FFC100;
  color: #fff;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  left: calc(50% - 35px);
  top: -20px;
}

.mynumber-case1 .txt-area .list {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.mynumber-case1 .txt-area .list li {
  margin-bottom: 10px;
  padding: 5px 0 5px 38px;
  background: url(../../img/lp/ico_good.png) no-repeat 2px 5px;
}

/*-------------*/

.mynumber-case2 {
  margin-top: -5px;
  border: 4px solid #DDDDDD;
  background: #fff;
  position: relative;
  text-align: center;
  z-index: 2;
}

.mynumber-case2-block {
  position: relative;
  padding: 60px 70px 60px;
  border-bottom: 5px dotted #DDDDDD;
}

.mynumber-case2-block:last-child {
  border-bottom: none;
}

.mynumber-case2 .mynumber-case2-ttl {
  position: absolute;
  text-align: center;
  top: -29px;
  left: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.mynumber-case2 .mynumber-case2-ttl span {
  position: relative;
  display: block;
  color: #fff;
  background: #148EAD;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1px;
  min-width: 400px;
  padding: 14px 20px 15px;
  width: 570px;
  box-sizing: border-box;
}

.mynumber-case2 .mynumber-case2-ttl span::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent #0D596C transparent;
  position: absolute;
  left: -25px;
  top: 0;
}

.mynumber-case2 .list {
  background: #FCF9D3;
  text-align: left;
  margin-bottom: 30px;
  padding: 25px 30px;
}

.mynumber-case2 .list li {
  margin-bottom: 15px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
}

.mynumber-case2 .list li:last-child {
  margin-bottom: 0;
}

.mynumber-case2 .list li span {
  font-size: 26px;
  color: #FF8C00;
  padding-top: 3px;
  padding-right: 10px;
  line-height: 20px;
}

/*-----------------*/

.mynumber-cost2 {
  width: 850px;
  margin: 0 auto 70px;
  color: #003846;
}

.mynumber-cost2 .t1 {
  margin-bottom: 10px;
}

.mynumber-cost2 .t1, .mynumber-cost2 .t1-1, .mynumber-cost2 .t1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.mynumber-cost2 .t1-1-1, .mynumber-cost2 .t1-2-1 {
  font-size: 21px;
  padding: 0 10px;
}

.mynumber-cost2 .t1-2-1 {
  position: relative;
  padding-left: 30px;
}

.mynumber-cost2 .t1-2-1::before {
  content: "";
  width: 1px;
  height: 75px;
  left: 0;
  top: calc(50% - 36px);
  background: #333;
  position: absolute;
}

.mynumber-cost2 .t1-1-2, .mynumber-cost2 .t1-2-2 {
  font-size: 100px;
  color: #FFC000;
  padding: 0 10px;
}

.mynumber-cost2 .t1-1-2 {
  padding-right: 30px;
}

.mynumber-cost2 .t1-1-2 span, .mynumber-cost2 .t1-2-2 span {
  font-size: 40px;
}

.mynumber-cost2 .t2 {
  padding: 35px;
  background: #fff;
  font-weight: 700;
  font-size: 21px;
}

.mynumber-cost2 .t2 span {
  font-size: 18px;
  font-weight: 400;
}

/*-----------------*/