@charset "UTF-8";
.entry-body h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.entry-body .red {
  color: red;
}

.entry-body strong {
  font-weight: bold;
}

.entry-body table th {
  background-color: #f6f6f6;
  font-weight: normal;
  text-align: center;
}

/* セミナー一覧の表示修正
/*---------------------------------*/
.seminar-table table td a {
  color: inherit;
  line-height: 1.5em;
  text-decoration: none;
}

.seminar-table table td a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=others.css.map */