@charset "UTF-8";
@media all and (-ms-high-contrast: none) {

.half-ttl {
}
.half-ttl .t1 {
  margin-top: -20%;
}
.half-ttl .t2 {
  margin-bottom: -50%;
}

.c-btn a > span, .c-btn button > span{
	padding: 10px 20px 1px;
}


.footer-t .footer-r .link .list .item a{
	padding: 14px 30px 10px 46px;
}

.search-tag .tag-body ul li a{
	padding: 8px 20px 3px;
}
.case-detail .case-head .ttl-area .cat ul li{
	padding: 10px 20px 6px;
}

.case-other .head .cat{
	line-height: 32px;
	padding-top: 4px;
}

#bread ul{
	font-family: "メイリオ", Meiryo, sans-serif;
}
.page-link > .ttl{
	padding: 38px 0 32px;
}
.page-link ul li > div, .page-link ul li > a{
	padding: 37px 0 33px;
}

section.news-block .areaNews .list .item a .t1 .cat{
	padding: 5px 0 2px;
}

.entry .entry-ttl .data .cat{
	padding: 7px 15px 3px;
}

.side-list .list li a{
	padding: 20px 20px 18px;
}
.side-list .btn a{
	padding-top: 5px;
	height: 51px;
}

.register-list ul li a{
	padding: 13px 35px 8px 32px;
}
.register-block .register-block-list li{
	padding: 17px 30px 13px;
}
.register-block .register-block-ttl{
	padding: 13px 10px 6px;
}
.register-block .register-block-list .more-btn{
	padding-top: 4px;
	line-height: 46px;
}

.txt-btn .btn-area a{
	padding-top: 7px;
	line-height: 23px;
}

.support-list ul li .img .ttl{
	box-sizing: border-box;
	padding-top: 5px;
}

.box-list3 .link a{
	padding: 8px 35px 2px 30px;
}

.c-box .c-box-ttl{
	padding: 6px 0px 0px;
}
/*
section.case-block .case-t{
	padding-bottom: 0;
}
.areaList{
	padding-bottom: 120px;
}
*/


.feature-list ul li .pop{
	line-height: 65px;
}

.l-main-img img{
	min-width: 0;
}


.time-wrap .time-block .time-box .txt-area .ttl{
	padding: 16px 20px 7px;
}

.time-wrap2 .box .box-ttl span{
	padding: 15px 20px 8px;
}
.data-table-l table th .in .ico01{
	padding: 12px 20px 8px 30px;
	line-height: 20px;
}
.data-table-l table th .in .ico02{
	padding: 12px 20px 8px 30px;
	line-height: 20px;
}
.points-wrap .points-block .btn a{
	padding: 17px 25px 8px;
}
.points-wrap .points-block .btn a span::after{
	top: calc(50% - 8px);
}

.case-block .case-t .case-list ul li .item_btn > span{
	padding: 10px 8px 6px;
}
.time-wrap2 .recommend-ttl span::after{
	bottom: -16px;
	border-right: 1px solid #E57100;
	border-bottom: 1px solid #E57100;
	box-sizing: border-box;
}

.l-bread ul li a .s2{
	display: block;
	padding-top: 6px;
}

.ability-wrap .ability-block .btn a{
	padding: 17px 25px 8px;
}
.ability-wrap .ability-block .btn a span::after{
	top: calc(50% - 7px);
}

.points-wrap .points-block .box-wrap .box .box-ttl{
	line-height: 38px;
	padding:7px 22px 0;
}


.f-footer ul li a{
	box-sizing: border-box;
}
.f-footer ul li a .txt{
	padding-top: 8px;
}


section.yes-block .box .list .item span{
	padding-top: 7px;
	display: block;
	line-height: 1.4;
}

#feature01 .box-list .box .btn a{
	padding:13px 20px 7px;
}


.yukyu-block .t1{
	padding: 24px 20px 16px;
}
.yukyu-block .t3 .t3-1 .t3-1-1,
.yukyu-block .t3 .t3-2 .t3-2-1{
	padding-top:4px;
	font-weight: 900;
}
.yukyu-block .t3 .t3-2 .t3-2-2{
	padding-top: 20px;
	line-height: 1;
	font-weight: 900;
}

.yukyu .box .ttl{
	padding: 29px 50px 21px 30px;
}

.yukyu .box .list ul li{
	padding: 20px 10px 12px;
	font-weight: 800;
}

.time-wrap2 .box .box-ttl span{
	padding: 16px 20px 6px;
}

.data-table-l table th{
	font-weight: 900 !important;
}
.data-table-l table .p3{
	padding: 11px 10px 2px;
}
.data-table-l table th .num.block{
	margin-top: -10px;
	display: inline-block;
}

.comparison .comparison-body .txt-area .ttl{
	padding: 16px 10px 8px;
}

.comparison .comparison-body .txt-area .list li{
	padding: 8px 0 2px 38px;
}
.mynumber-case1 .txt-area .list li{
	padding: 8px 0 2px 38px;
}
.mynumber-case2 .mynumber-case2-ttl span{
	padding: 18px 20px 12px;
}
.points-block .hexa .t1{
	margin-top: 5px;
}
.points-block .hexa .t2{
	margin-bottom: 0;
}

.seminar-table table th{
	padding: 19px 5px 11px;
}
.seminar-table table td > div{
	padding: 5px 10px 0;
}
.seminar-table table td.txt > div.full::before{
	min-height: 2em;
	padding-top: 5px;
}














/*================================================*/
}/*================================================*/

@media all and (-ms-high-contrast: none) and (max-width: 960px){
.case-block .case-t .case-list ul{
	display: block;
}


}/*================================================*/