@charset "UTF-8";

/*-------------------------------------------------------------------------------------*/
.main-img{
    background: url(/img/home/main_img.png) top center no-repeat #EF8300;
    background-size: cover;
    height: 900px;
    position: relative;
}
#modal-main {
    display: none;
    margin: 0 auto;
    padding: 0;
    position:fixed;
    z-index: 1001;
}
#modal-bg {
    display:none;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
}

/*------------------------------------*/
.sec-areaTit{
    margin-bottom: 50px;
}
.sec-tit01{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 15px;
}
.sec-tit01 .t1{
    color: #001E2C;
    font-size: 78px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: .01em;
}
.sec-tit01.f700 .t1{
    font-weight: 700;
}
.sec-tit01 .gray{
    color: #584c4c;
    font-size: 96px;
    font-weight: 300;
}
.sec-tit01 .small{
    font-size: 64px;
}
.sec-tit01 .orange{
    color: #FF8C00;
    font-size: 100px;
    font-weight: 900;
}

.sec-tit02{
    text-align: center;
}
.sec-tit02 .en{
    margin-bottom: 16px;
    padding-bottom: 12px;
    color: #001E2D;
    font-size: 23px;
    font-weight: 900;
    position: relative;
    letter-spacing: .05em;
}
.sec-tit02 .en:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    width: 85px;
    height: 1px;
    background-color: #E56607;
    transform: translateX(-50%);
}
.sec-tit02 .jp{
    font-size: 34px;
    font-weight: 900;
    color:#003846;
    letter-spacing: .05em;
}
.sec-lead{
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
    color: #001E2C;
    text-align: center;
    letter-spacing: .05em;
    line-height: 1.5;
}
/* about-------------------------------------------------------------------------------------*/
section.about-block .section-inner{
    margin: 0 auto;
    padding-top: 270px;
    padding-bottom: 0;
    width: 900px;
    position: relative;
}
section.about-block .deco01{
    content: "";
    position: absolute;
    top: 358px;
    left: -148px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(/img/home/about_deco01.png) no-repeat center;
    background-size: contain;
}
section.about-block .deco02{
    content: "";
    position: absolute;
    top: 214px;
    left: 140px;
    display: block;
    width: 43px;
    height: 40px;
    background: url(/img/home/about_deco02.png) no-repeat center;
    background-size: contain;
}
section.about-block .deco03{
    content: "";
    position: absolute;
    top: 196px;
    left: 492px;
    display: block;
    width: 38px;
    height: 57px;
    background: url(/img/home/about_deco03.png) no-repeat center;
    background-size: contain;
}
section.about-block .deco04{
    content: "";
    position: absolute;
    top: 115px;
    right: 32px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(/img/home/about_deco04.png) no-repeat center;
    background-size: contain;
}
section.about-block .img-ppl{
    position: absolute;
    top: 142px;
    right: -208px;
    z-index: 10;
}
section.about-block .sec-tit01{
    margin-bottom: 34px;
    padding-left: 28px;
}

section.about-block .c-txt{
    margin-left: -6px;
    margin-bottom: 60px;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 700;
}
section.about-block .c-txt p.tbg{
    color: #001E2D;
    font-size: 18px;
    font-weight: 700;
}
section.about-block .areaAbout{
    margin: 0 auto;
    width: 900px;
    z-index: 20;
    position: relative;
}
section.about-block .areaAbout .table{
    width: 900px;
    border: solid 1px #222;
}
section.about-block .areaAbout .head{
    display: table-cell;
    width: 260px;
    background: #E56607;
    color: #fff;
    font-size: 23px;
    font-weight: 900;
    padding: 90px 0 30px 26px;
    box-sizing: border-box;
    letter-spacing: .06em;
    line-height: 1.2;
    vertical-align: top;
}
section.about-block .areaAbout .head .txt01{
    padding-bottom: 21px;
    position: relative;
    font-style: italic;
}
section.about-block .areaAbout .head .txt01:before{
    content: '';
    position: absolute;
    width: 31px;
    height: 30px;
    background: url(/img/common/ico02.png);
    top: -38px;
    left: 0;
}
section.about-block .areaAbout .head .txt01:after{
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    display: inline-block;
    width: 86px;
    height: 1px;
    background-color: #222;
}
section.about-block .areaAbout .head .txt02{
    margin-top: 18px;
    font-size: 16px;
    letter-spacing: .05em;
}
section.about-block .areaAbout .data{
    display: table-cell;
    padding: 32px 42px 62px;
    width: 640px;
    background: #F7F7F7;
    box-sizing: border-box;
    position: relative;
}
section.about-block .areaAbout .data .ttl{
    margin-bottom: 14px;
    font-size: 23px;
    font-weight: 700;
    color: #E56606;
}
section.about-block .areaAbout .data .txt{
    line-height: 1.8;
    color: #111111;
}
section.about-block .areaAbout .data .btn{
    text-align: right;
    position: absolute;
    bottom: 24px;
    right: 34px;
}
section.about-block .areaAbout .data .btn a{
    display: inline-block;
    padding: 3px 0 5px;
    width: 142px;
    text-align: center;
    text-decoration: none;
    color: #E56607;
    font-weight: 700;
    border: solid 2px #FF8C00;
    border-radius: 90px;
    background: #fff;
    position: relative;
}
section.about-block .areaAbout .data .btn a:hover{
    opacity:.7;
    transition: all .2s linear;
}
section.about-block .areaAbout .data .btn a:after{
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: solid 1px orange;
    border-right: solid 1px orange;
    transform: translateY(-50%) rotate(45deg);
}
/* feature-------------------------------------------------------------------------------------*/
section.feature-block .section-inner{
    width: 784px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 120px;
    position: relative;
}
section.feature-block .deco01{
    content: "";
    position: absolute;
    top: -16px;
    left: -42px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(/img/home/feature_deco01.png) no-repeat center;
    background-size: contain;
}
section.feature-block .deco02{
    content: "";
    position: absolute;
    top: 52px;
    left: 412px;
    display: block;
    width: 33px;
    height: 24px;
    background: url(/img/home/feature_deco02.png) no-repeat center;
    background-size: contain;
}
section.feature-block .deco03{
    content: "";
    position: absolute;
    top: 118px;
    right: 18px;
    display: block;
    width: 103px;
    height: 81px;
    background: url(/img/home/feature_deco03.png) no-repeat center;
    background-size: contain;
}
section.feature-block .deco04{
    content: "";
    position: absolute;
    bottom: 448px;
    right: -222px;
    display: block;
    width: 201px;
    height: 201px;
    background: url(/img/home/feature_deco04.png) no-repeat center;
    background-size: contain;
}
section.feature-block .img-ppl{
    position: absolute;
    top: 0px;
    left: -307px;
}
section.feature-block .l-ttl{
    margin-bottom: 20px;
}
section.feature-block .l-ttl .t1{
    font-weight: 700;
    text-align: center;
}
section.feature-block .l-ttl .t1 span.orange{
    font-size: 92px;
    color: #E56606;

}
section.feature-block .l-ttl .t1 span.small{
    font-size: 58px;
}
section.feature-block .lead{
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    color: #E56606;
    text-align: center;
}
section.feature-block .c-btn{
    margin-bottom: 30px;
}
section.feature-block .c-btn a{
    display: table;
    margin: 0 10px;
    background: #fff;
    color: #E57200;
    text-decoration: none;
    box-sizing: border-box;
    width: 395px;
    height: 64px;
    line-height: 64px;
    font-size: 21px;
    font-weight: 700;
    transition: 0.2s;
    border: 2px solid #E57200;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}
section.feature-block .feature-list{
    margin: 0 auto;
    width: 784px;
    position: relative;
    box-shadow:0px 0px 2px 0px #000000;
}
section.feature-block .feature-list:after{
    display: block;
    position: absolute;
    content: "";
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    background: url(/img/home/bg_shadow01.png) no-repeat bottom center;
    background-size: contain;
    width: 858px;
    height: 102px;
    z-index: 0;
}
section.feature-block .feature-list ul{
    display: block;
    border: solid 2px #C53F05;
    z-index: 10;
    position: relative;
}
section.feature-block .feature-list ul li{
    float: left;
    background-color: #FF8C00;
    background-position: left bottom;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}
section.feature-block .feature-list ul li a{
    display: block;
    width: calc(780px / 3);
    height: 262px;
}
section.feature-block .feature-list ul li:nth-child(even){
    background-color: #E57200;
}
section.feature-block .feature-list ul li .img{
    width: 128px;
    height: 128px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 64px;
    margin: 0 auto 30px;
}
section.feature-block .feature-list ul li .txt-area{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 100%;
}
section.feature-block .feature-list ul li .ttl{
    display: table;
    font-weight: 900;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}
section.feature-block .feature-list ul li .txt{
    width: 88%;
    margin: 0 auto;
    color: #222;
    font-weight: 500;
}
section.feature-block .feature-list ul li .ttl > div{
    display: table-cell;
    vertical-align: middle;
}
section.feature-block .feature-list ul li a:hover{
    opacity: .7;
    transition: all .2s linear;
}
section.feature-block .feature-list ul li.n1{
    background-image: url(/img/home/n1.png);
    background-size: 59px;
}
section.feature-block .feature-list ul li.n2{
    background-image: url(/img/home/n2.png);
    background-size: 76px;
}
section.feature-block .feature-list ul li.n3{
    background-image: url(/img/home/n3.png);
    background-size: 76px;
}
section.feature-block .feature-list ul li.n4{
    background-image: url(/img/home/n4.png);
    background-size: 94px;
}
section.feature-block .feature-list ul li.n5{
    background-image: url(/img/home/n5.png);
    background-size: 76px;
}
section.feature-block .feature-list ul li.n6{
    background-image: url(/img/home/n6.png);
    background-size: 85px;
}
section.feature-block .feature-list ul li.n7{
    background-image: url(/img/home/n7.png);
    background-size: 80px;
}
section.feature-block .feature-list ul li.n8{
    background-image: url(/img/home/n8.png);
    background-size: 90px;
}
section.feature-block .feature-list ul li.n9{
    background-image: url(/img/home/n9.png);
    background-size: 86px;
}
section.feature-block .feature-list ul li .pop{
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    bottom: 8px;
    right: 28px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #B54E09;
}
section.feature-block .feature-list ul li .pop:after{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #fff;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
}
section.feature-block .feature-list ul li .pop a{
  text-decoration: none;
}

/* case-------------------------------------------------------------------------------------*/
section.case-block{
    border-bottom: solid 1px #000;
}
section.case-block .section-inner{
    padding: 100px 0 138px;
}
section.case-block .areaTit{
    margin-bottom: 50px;
}
section.case-block .case-t{
    padding: 120px 0 130px;
    background: #EEEEEE;
    position: relative;
}
section.case-block .case-t:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 43px 43px 0 43px;
    border-color: #fff transparent transparent transparent;
    transform: translateX(-50%);
}
section.case-block .case-t .wrap{
    position: static;
}


/*
section.case-block .case-t .areaList .list.cf{
    display: block;
}
section.case-block .case-t .areaList .list .item{
    width: calc(33.3333% - 20px);
    float: left;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}
section.case-block .case-t .areaList .list .item:nth-child(3n+1){
    margin-right: 20px;
}
section.case-block .case-t .areaList .list .item:nth-child(3n+2){
    margin-left: 10px;
    margin-right: 10px;
}
section.case-block .case-t .areaList .list .item:nth-child(3n){
    margin-left: 20px;
}
section.case-block .case-t .areaList .list .item > div{
    padding: 68px 28px 62px;
    cursor: pointer;
}
section.case-block .case-t .areaList .list .item > div:hover .img-area{
    opacity: .7;
    transition: all .2s linear;
}
section.case-block .case-t .areaList .list .item a{
    text-decoration: none;
}
section.case-block .case-t .areaList .list .item .logo{
    width: 95px;
    height: 95px;
    border-radius: 90px;
    position: absolute;
    background: #fff;
    left: 50%;
    top: -47px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(-50%);
}
section.case-block .case-t .areaList .list .item .logo .img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
section.case-block .case-t .areaList .list .item .logo .img img{
    vertical-align: middle;
}
section.case-block .case-t .areaList .list .item .img-area img{
    width: 100%;
    height: auto;
}
section.case-block .case-t .areaList .list .item .txt-area .ttl{
    margin-bottom: 20px;
    color: #001E2D;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
}
section.case-block .case-t .areaList .list .item .txt-area .txt{
    margin-bottom: 35px;
    font-weight: 300;
    color: #333333;
    line-height: 1.4;
}

section.case-block .case-t .areaList .list .item .item_btn{
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
}
section.case-block .case-t .areaList .list .item .item_btn a{
    display: block;
    padding: 8px;
    width: 200px;
    color: #001E2C;
    font-size: 17px;
    font-weight: 400;
    border: solid 1px #001E2D;
    border-radius: 90px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: #fff;
    position: relative;
}
section.case-block .case-t .areaList .list .item .item_btn a:hover{
    opacity: .7;
    transition: all .2s linear;
}
section.case-block .case-t .areaList .list .item .item_btn a:after{
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #001E2C;
    border-right: 1px solid #001E2C;
    box-sizing: border-box;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
}
*/





section.case-block .case-t .btn{
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    width: 625px;
    border-radius: 50px;
    background: #fff;
}
section.case-block .case-t .btn a{
    margin: 0;
    width: 625px;
    font-size: 26px;
    height: 80px;
    letter-spacing: .05em;
}
section.case-block .case-b{
    padding-top: 132px;
}
section.case-block .case-b .sec-lead .txt{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.5;
}
section.case-block .case-b .sec-lead .txt .bold{
    font-size: 30px;
    font-weight: 900;
}
section.case-block .case-b .sec-lead .txt .orange{
    font-size: 42px;
    font-weight: 900;
    color: #FF8C00;
}
section.case-block .case-b .logos {
    margin-top: 66px;
    text-align: center;
}
/* product-------------------------------------------------------------------------------------*/
section.product-block{
    border-bottom: solid 1px #000;
}
section.product-block .section-inner{
    padding: 77px 0 145px;
}

section.product-block .areaList{
    position: relative;
}
section.product-block .areaList .list.cf{
    display: block;
}
section.product-block .areaList .list .item{
    width: calc(20% - 1px);
    float: left;
    border-right: solid 1px #CCCCCC;
}
section.product-block .areaList .list .item:first-child{
    width: calc(20% - 2px);
    border-left: solid 1px #CCCCCC;
}
section.product-block .areaList .list .item a{
    display: block;
    padding: 19px 0 32px;
    text-decoration: none;
    position: relative;
}
section.product-block .areaList .list .item a:hover{
    opacity:.7;
    transition: all .2s linear;
}
section.product-block .areaList .list .item a:after{
    display: block;
    position: absolute;
    content: "";
    bottom: -3px;
    right: 12px;
    transform: translateY(-50%);
    background: url(/img/common/ico_link02.png) no-repeat bottom center;
    background-size: contain;
    width: 18px;
    height: 14px;

}
section.product-block .areaList .list .item a .img-area{
    margin-bottom: 8px;
    text-align: center;
}
section.product-block .areaList .list .item a .txt-area{
    color: #001E2D;
    font-weight: 700;
    text-align: center;
}
section.product-block .areaList .list .item a .txt-area .sub{
    margin-bottom: -6px;
    font-size: 18px;
    letter-spacing: .05em;
}
section.product-block .areaList .list .item a .txt-area .tit{
    font-size: 24px;
    letter-spacing: .05em;
}
/* price-------------------------------------------------------------------------------------*/
section.price-block .section-inner{
    padding: 65px 0 100px;
}
section.price-block .sec-areaTit{
    margin-bottom: 30px;
}
section.price-block .data-table{
    margin-bottom: 10px;
}
section.price-block .data-table table{
    width: 100%;
    border-collapse: collapse;
    color: #001E2C;
    font-size: 18px;
    table-layout: fixed;
    line-height: 1.2;
}
section.price-block .data-table table caption{
    margin-bottom: 25px;
    font-weight: 600;
    color: #003846;
}
section.price-block .data-table table th{
    padding:16px 12px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background: #fff;
}
section.price-block .data-table table td{
    padding:18px 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background: #fff;
}
section.price-block .data-table table thead th{
    border-top:1px solid #001E2D;
    border-right:1px dotted #001E2D;
    border-bottom:2px solid #001E2D;
    box-sizing: border-box;
}

section.price-block .data-table table thead th:nth-child(2){
    width: 100px;
}
section.price-block .data-table table thead th:nth-child(3){
    width: 100px;
}
section.price-block .data-table table thead th:nth-child(4){
    width: 100px;
}
section.price-block .data-table table thead th:nth-child(5){
    width: 100px;
}
section.price-block .data-table table thead th:nth-child(6){
    width: 100px;
}
section.price-block .data-table table thead th:nth-child(7){
    width: 100px;
}
section.price-block .data-table table thead th:last-child{
    border-right:1px solid #001E2D;
}
section.price-block .data-table table thead td{
    width: 128px;
    border-top:1px solid #001E2D;
    border-left:1px solid #001E2D;
    border-right:2px solid #001E2D;
    border-bottom:2px solid #001E2D;
}
section.price-block .data-table table thead td.bn{
    border-top: none;
    border-left: none;
}
section.price-block .data-table table thead td.bn2{
    border-top: none;
    border-left: none;
    border-right: none;
}
section.price-block .data-table table tbody th{
    border-right:2px solid #001E2D;
    border-bottom:1px solid #001E2D;
    border-left:1px solid #001E2D;
}
section.price-block .data-table table tbody th img{
    width: 84px;
}
section.price-block .data-table table tbody td{
    border-right:1px dotted #001E2D;
    border-bottom:1px solid #001E2D;
}
section.price-block .data-table table tbody td .circle{
    display: inline-block;
    width: 27px;
    height: 27px;
    border: solid 3px #E57200;
    border-radius: 50%;
}
section.price-block .data-table table tbody td .circle.c1{
    border: solid 3px #001E2D;
}
section.price-block .data-table table tbody td:last-child{
    border-right:1px solid #001E2D;
}
section.price-block .data-table table .p1{
    padding:0 10px;
}
section.price-block .data-table table .p2{
    padding:15px 10px;
}
section.price-block .data-table table .b1{
    background: #003847;
}
section.price-block .data-table table .b2{
    background: #257387;
}
section.price-block .data-table table .b3{
    background: #ffa61a;
}
section.price-block .data-table table .w1{
    width: 145px;
}
section.price-block .data-table table .b4{
    background: #FF8C00;
}
section.price-block .data-table table .b5{
    background: #E57200;
}
section.price-block .data-table table .b6{
    background: #FFE1BD;
}
section.price-block .data-table table .b7{
    background: #F3F3F3;
}
section.price-block .data-table table .b8{
    background: #2D8FA8;
}
section.price-block .data-table table .c1{
    color: #E57200;
}
section.price-block .data-table table .c2{
    color: #FFF;
}
section.price-block .data-table table .c3{
    color: #BD4200;
}
section.price-block .data-table table .f1{
    font-size: 25px;
}
section.price-block .data-table table .f2{
    font-size: 28px;
}
section.price-block .data-table table .f3{
    font-size: 16px;
}
section.price-block .data-table table .br1{
border-right:1px solid #091e23;
}
section.price-block .data-table table .br2{
border-right:2px solid #091e23;
}
section.price-block .data-table table .bt2{
border-top:2px solid #091e23;
}
section.price-block .note02{
    letter-spacing: .05em;
    font-weight: 700;
    color:#091e23;
}
section.price-block .areaBtn{
    margin: 44px auto 0;
    width: 917px;
}
section.price-block .c-btn{
    margin-bottom: 10px;
}
/* yes-------------------------------------------------------------------------------------*/
section.yes-block{
    background-image: url(/img/home/bg_yes02.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center bottom !important;
}

section.yes-block .section-inner{
    padding: 86px 0 0;
}
section.yes-block .areaTtl{
    text-align: center;
}
section.yes-block .cf{
    display: block;
}
section.yes-block .areaTtl .ttl{
    display: inline-block;
    line-height: 1.5;
    color: #111111;
    font-weight: 700;
    position: relative;
    text-align: center;
}
section.yes-block .areaTtl .ttl:before{
    content:"";
    position: absolute;
    width: 190px;
    height: 1px;
    left: -112px;
    bottom: 20px;
    transform: rotate(45deg);
    background:#000000;
}
section.yes-block .areaTtl .ttl:after{
    content:"";
    position: absolute;
    width: 190px;
    height: 1px;
    right: -90px;
    bottom: 20px;
    transform: rotate(-45deg);
    background:#000000;
}
section.yes-block .areaTtl .ttl .main{
    margin-bottom: 4px;
    font-size: 52px;
    line-height: 1;
    letter-spacing: .05em;
}
section.yes-block .areaTtl .ttl .main .big{
    margin-left: -30px;
    margin-right: -35px;
    font-size: 86px;
    font-weight: 900;
    letter-spacing: .05em;
}
section.yes-block .areaTtl .ttl .sub{
    font-size: 28px;
    line-height: 1;
    letter-spacing: .05em;
}
section.yes-block .areaTtl .ttl .sub .big{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .05em;
}
section.yes-block .box .list{
    width: 400px;
    float: left;
}
section.yes-block .box .list .item{
    margin-bottom: 70px;
    position: relative;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
section.yes-block .box .list .item:before{
    display: block;
    position: absolute;
    content: "Q";
    width: 52px;
    height: 52px;
    background: #fff;
    color: #E05F0A;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: 45px;
    border-radius: 90px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
section.yes-block .box{
    padding: 102px 0 50px;
}
section.yes-block .box .img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
section.yes-block .box .list.right{
    float: right;
}
section.yes-block .btn{
    margin-bottom: 0;
    position: absolute;
    bottom: -44px;
    left: 50%;
    width: 550px;
    transform: translateX(-50%);
    border-radius: 90px;
    z-index: 50;
}
section.yes-block .btn a{
    margin: 0;
    height: 88px;
    font-size: 30px;
    width: 100%;
}
.slip-btn {
    height: 60px;
    position: relative;
    bottom: -28px;
    background:#fff;
    border-top: solid 1px #333;
}
.slip-btn:before {
    width: 450px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background:#fff;
    content: " ";
    border-radius: 100px; /* CSS3草案 */ -webkit-border-radius: 100px; /* Safari,Google Chrome用 */ -moz-border-radius: 100px; /* Firefox用 */
}
.slip-btn .c7 {
    position: absolute;
    top: -35px;
    margin: 0 auto;
}

@media screen and (max-width: 1520px) {
    .areaCm{
        right: 0;
    }
}

