@charset "UTF-8";
@media screen and (max-width: 960px) {

  .main-img {
    padding-top: 140.83%;
    height: 100%;
    width: 100%;
    background: url(/img/home/sp_main_img.png) top center no-repeat #EF8300;
    background-size: cover;
  }
  .areaLogo{
    display: block;
    margin: 0 auto;
    width: 75%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }
  #modal-main iframe{
    width: 100%;
    height: auto;
  }
  .areaCm{
    padding: 2.2% 16px 3% 14px;
    width: 48%;
    min-width: 182px;
    height: auto;
    min-height: 155px;
    left: 50%;
    right: auto;
    top: 64%;
    text-align: center;
    transform: translateX(-50%);
  }
  .areaCm .tit{
    display: inline-block;
    margin-bottom: 2%;
    font-size: 10px;
  }
  .areaCm .tit::before{
    width: 17px;
    left: -17px;
    bottom: 8px;
  }
  .areaCm .tit::after{
    width: 17px;
    right: -17px;
    bottom: 8px;
  }
  .areaCm .tit .small {
    font-size: 7px;
  }
  .areaCm .video {
    margin: 0 auto 2%;
    width: 100%;
    height: auto;
  }
  .areaCm .video a span::after{
    width: 21px;
    height: 21px;
  }
  .areaCm .btn{
    font-size: 12px;
  }
  .areaCm .btn a{
    padding: 6px 0px 6px 0;
    text-align: center;
  }
  .areaCm .btn a::after{
    right: 5px;
    width: 3px;
    height: 3px;
  }
  .areaCm .btn .txt{
    padding-left: 21px;
  }
  .areaCm .btn .txt::before{
    width: 21px;
    height: 19px;
    top: -3px;
    left: 0;
  }

  /*-------------------------------------------------------------------------------------*/
  .section-inner {
    padding: 40px 0;
  }
  /*------------------------------------*/
  .c-ttl {
    margin-bottom: 16px;
    font-size: 22px;
  }
  .c-ttl .main {
    font-size: 36px;
  }
  .c-ttl .sub {
    font-size: 16px;
  }
  .c-ttl .sub2 {
    font-size: 20px;
  }
  .c-ttl .sub2 span {
    font-size: 30px;
  }
  .c-ttl .sub2::before {
    left: -50px;
    width: 50px;
  }
  .c-ttl .sub2::after {
    right: -50px;
    width: 50px;
  }
  /*------------------------------------*/
  .c-txt {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.8;
  }
  .c-txt dl {
    margin-bottom: 25px;
  }
  .c-txt dl:last-child {
    margin-bottom: 0;
  }
  .c-txt .list {
    padding-left: 0px;
    font-size: 16px;
    margin-right: 0px;
  }
  .c-txt .list li {
    padding-left: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .c-txt .list li span {
    font-size: 17px;
  }
  /*------------------------------------*/
  .c-table {
    margin-bottom: 20px;
  }
  .c-table table th {
    padding: 7px 10px;
    font-size: 17px;
  }
  .c-table table td {
    padding: 10px 15px 11px;
    line-height: 1.4;
  }
  /*------------------------------------*/
  /*
  .c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }
  .c-btn a, .c-btn button {
    display: table;
    width: 100%;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 15px;
  }
  .c-btn a::after, .c-btn button::after {
    width: 5px;
    height: 5px;
    right: 20px;
  }
  .c-btn .wide {
    width: 100%;
  }
  .c-btn .tab_w {
    width: 100%;
  }
  .c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 15px;
  }
  .c-btn .c4 {
    font-size: 16px;
  }
  .c-btn .c6::after{
    right: 13px;
  }
  .c-btn .c7::after{
    right: 13px;
  }
  .c-btn .trial {
    display: inline-block;
    padding-left: 55px;
    background: url(/img/ico_trial.jpg) no-repeat left center;
    background-size: 55px 35px;
    line-height: 40px;
    margin-right: 10px;
  }
  .c-btn .official {
    padding: 5px 5px 5px 135px;
    background-size: 130px 20px;
  }
  */
  /*------------------------------------*/
  .column-wrap {
    display: block;
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .sec-areaTit{
    margin-bottom: 12px;
  }
  .sec-tit01{
    margin-bottom: -14px;
    line-height: 1;
  }
  .sec-tit01 .t1{
    font-size: 34px;
  }
  .sec-tit01 .gray{
    font-size: 44px;
    font-weight: 100;
  }
  .sec-tit01 .small{
    font-size: 26px;
  }
  .sec-tit01 .orange{
    font-size: 44px;
  }
  .sec-tit02 .en{
    margin-bottom: 4px;
    padding-bottom: 5px;
    font-size: 11px;
  }
  .sec-tit02 .en::after{
    width: 42px;
  }
  .sec-tit02 .jp{
    font-size: 18px;
  }
  .sec-lead{
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.8;
  }
  /* about-------------------------------------------------------------------------------------*/
  section.about-block .section-inner{
    padding-top: 50px;
    width: 100%;
  }
  section.about-block .sec-tit01{
    margin-right: -12px;
    margin-bottom: -14px;
    padding-left: 0;
  }
  section.about-block .deco01{
    top: 23%;
    left: -2%;
    width: 83px;
    height: 83px;
  }
  section.about-block .deco02{
    top: 7%;
    left: 12%;
    width: 19px;
    height: 18px;
  }
  section.about-block .deco03{
    top: 6%;
    left: 56%;
    width: 17px;
    height: 26px;
  }
  section.about-block .deco04{
    top: 0%;
    right: 3%;
    width: 83px;
    height: 83px;
  }
  section.about-block .c-txt{
    margin-bottom: 33px;
    margin-left: 0;
    font-size: 14px;
  }
  section.about-block .areaAbout{
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .table{
    width: 100%;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .head{
    display: block;
    padding: 13px 0 0 0px;
    width: 100%;
    height: 50px;
    font-size: 10px;
  }
  section.about-block .areaAbout .head .txt01{
    display: table-cell;
    padding: 0 0 0 35px;
    vertical-align: middle;
    width: 51%;
  }
  section.about-block .areaAbout .head .txt01::before{
    top: 4px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-size: contain;
  }
  section.about-block .areaAbout .head .txt01::after{
    width: 23px;
    top: 50%;
    left: 86%;
    transform: translateY(-50%);
  }
  section.about-block .areaAbout .head .txt02{
    display: table-cell;
    margin-top: 0;
    padding-left: 2px;
    font-size: 12px;
    vertical-align: middle;
  }
  section.about-block .areaAbout .data{
    display: block;
    padding: 16px 14px 26px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .data .ttl{
    margin-bottom: 12px;
    font-size: 15px;
  }
  section.about-block .areaAbout .data .txt{
    margin-bottom: 23px;
    font-size: 13px;
  }
  section.about-block .areaAbout .data .btn{
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
  }
  section.about-block .areaAbout .data .btn a{
    padding: 9px 0 9px;
    width: 100%;
    font-size: 12px;
  }
  /* feature-------------------------------------------------------------------------------------*/
  section.feature-block .section-inner{
    padding: 0 10px 50px;
    width: 100%;
    box-sizing: border-box;
  }
  section.feature-block .deco01{
    width: 83px;
    height: 83px;
    top: 1%;
    left: 0;
  }
  section.feature-block .deco02{
    width: 17px;
    height: 12px;
    top: 1%;
    left: 52%;
  }
  section.feature-block .deco03{
    width: 51px;
    height: 40px;
    top: 6%;
    right: 4%;
  }

  section.feature-block .l-ttl {
    margin-bottom: -2px;
  }
  section.feature-block .l-ttl .t1{
    line-height: inherit;
    font-size: 36px;
  }
  section.feature-block .l-ttl .t1 span.orange{
    font-size: 46px;
    line-height: 1;
  }
  section.feature-block .l-ttl .t1 span.small{
    font-size: 29px;
  }
  section.feature-block .lead{
    font-size: 14px;
    letter-spacing: .05em;
  }
  section.feature-block .feature-list {
    margin: 0 auto;
    width: 100%;
  }
  section.feature-block .feature-list::after{
    width: 429px;
    height: 51px;
    bottom: -18px;
  }
  section.feature-block .feature-list ul {
    display: block;
  }
  section.feature-block .feature-list ul li {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  section.feature-block .feature-list ul li::after{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }
  section.feature-block .feature-list ul li a{
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
  }
  section.feature-block .feature-list ul li .img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0;
  }
  section.feature-block .feature-list ul li .txt-area {
    width: 100%;
  }
  section.feature-block .feature-list ul li .ttl {
    display: table;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
  }
  section.feature-block .feature-list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  section.feature-block .feature-list ul li .txt {
    width: 90%;
    line-height: 1.4;
  }
  section.feature-block .feature-list ul li .pop {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    line-height: 35px;
    font-size: 25px;
  }
  section.feature-block .feature-list ul li.n1 {
    background-size: 30px;
  }
  section.feature-block .feature-list ul li.n2 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n3 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n4 {
    background-size: 46px;
  }
  section.feature-block .feature-list ul li.n5 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n6 {
    background-size: 44px;
  }
  section.feature-block .feature-list ul li.n7 {
    background-size: 42px;
  }
  section.feature-block .feature-list ul li.n8 {
    background-size: 46px;
  }
  section.feature-block .feature-list ul li.n9 {
    background-size: 44px;
  }
  /* case-------------------------------------------------------------------------------------*/

  section.case-block .case-b{
    padding-top: 53px;
  }
  section.case-block .section-inner{
    padding: 20px 0 42px;
  }
  section.case-block .areaTit{
    margin-bottom: 12px;
  }
  section.case-block .case-b .sec-lead .txt{
    font-size: 14px;
  }
  section.case-block .case-b .sec-lead .txt .bold{
    font-size: 16px;
  }
  section.case-block .case-b .sec-lead .txt .orange{
    font-size: 22px;
  }
  section.case-block .case-b .logos{
    margin-top: 25px;
  }
  section.case-block .case-t{
    padding: 62px 0 61px;
  }
  section.case-block .case-t::before{
    border-width: 21px 21px 0 21px;
  }


  /*
  section.case-block .case-t .areaList .list .item{
    padding: 28px 24px 13px 16px;
    width: 100%;
    float: none;
    position: relative;
  }
  section.case-block .case-t .areaList .list .item::after{
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #001E2D;
    border-right: 1px solid #001E2D;
    box-sizing: border-box;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    visibility: visible;
  }
  section.case-block .case-t .areaList .list .item > div{
    padding:0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n+1){
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n+2){
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n){
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item +.item{
    margin-top: 40px;
  }
  section.case-block .case-t .areaList .list .item div[href]{
    cursor: pointer;
  }
  section.case-block .case-t .areaList .list .item .logo{
    width: 47px;
    height: 47px;
    top: -23px;
  }
  section.case-block .case-t .areaList .list .item .logo .img{
    width: 82%;
  }
  section.case-block .case-t .areaList .list .item .img-area{
    width: 118px;
    float: left;
  }
  section.case-block .case-t .areaList .list .item .txt-area{
    padding-right: 10px;
    width: calc(100% - 132px);
    float: right;
    box-sizing: border-box;
  }
  section.case-block .case-t .areaList .list .item .txt-area .ttl{
    margin-top: -5px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  section.case-block .case-t .areaList .list .item .txt-area .txt{
    margin-bottom: 0;
    font-size: 13px;
  }

*/


  section.case-block .case-t .btn{
    width: 83%;
    bottom: -24px;
  }
  section.case-block .case-t .btn a{
    width: 100%;
    height: 50px;
    font-size: 13px;
  }
  section.case-block .case-t .btn a::after{
    right: 12px;
  }


  /* product-------------------------------------------------------------------------------------*/
  section.product-block .section-inner{
    padding: 28px 0 36px;
  }
  section.product-block .areaList .list{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  section.product-block .areaList .list.cf{
    display: flex;
  }
  section.product-block .areaList .list .item{
    width: 33.3333%;
    box-sizing: border-box;
  }
  section.product-block .areaList .list .item:first-child{
    width: 33.3333%;
  }
  section.product-block .areaList .list .item:nth-child(4){
    border-left: solid 1px #CCCCCC;
  }
  section.product-block .areaList .list .item a{
    padding: 9px 0 17px;
  }
  section.product-block .areaList .list .item a::after{
    width: 10px;
    height: 10px;
    right: 5px;
  }
  section.product-block .areaList .list .item a .img-area{
    margin: 0 auto 3px;
    width: 80%;
  }
  section.product-block .areaList .list .item a .txt-area .sub{
    margin-bottom: -4px;
    font-size: 9px;
  }
  section.product-block .areaList .list .item a .txt-area .tit{
    font-size: 12px;
  }
  /* price-------------------------------------------------------------------------------------*/

  section.price-block .section-inner{
    padding: 31px 0 25px;
  }
  section.price-block .sec-areaTit{
    margin-bottom: 10px;
  }
  section.price-block .data-table.s-over{
    overflow-x: auto;
  }
  section.price-block .data-table.s-over table{
    margin: 0 auto;
    width: 758px;
    font-size: 9px;
  }
  section.price-block .data-table table{
    border-collapse: separate;
  }
  section.price-block .data-table table th{
    padding: 11px 8px;
  }
  section.price-block .data-table table thead th{
    width: 83px;
  }
  section.price-block .data-table table thead th:nth-child(2){
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(3){
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(4){
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(5){
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(6){
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(7){
    width: 80px;
  }
  section.price-block .data-table table thead td{
    width: 89px;
  }
  section.price-block .data-table table tbody th{
    width: 95px;
    box-sizing: border-box;
  }
  section.price-block .data-table table tbody td{
    width: 80px;
    box-sizing: border-box;
  }
  section.price-block .data-table table tbody td .circle{
    width: 12px;
    height: 12px;
  }
  section.price-block .data-table table td{
    padding: 15px 10px;
  }
  section.price-block .data-table table .p1{
    padding: 0 9px;
    width: 83px;
  }
  section.price-block .data-table table .p2{
    padding: 6px 10px;
  }
  section.price-block .data-table table .h1{
    box-sizing: border-box;
  }
  section.price-block .data-table table .f1{
    font-size: 13px;
  }
  section.price-block .data-table table .f2{
    font-size: 14px;
  }
  section.price-block .data-table table .f3{
    font-size: 7px;
  }
  section.price-block .data-table table .w1{
    width: 83px;
  }
  section.price-block .wrap{
    padding: 0px 0 0 12px;
  }
  section.price-block .note01{
    margin-bottom: 7px;
    font-size: 11px;
    color: #E57200;
    font-weight: 400;
  }
  section.price-block .note02{
    margin-right: 8px;
    font-size: 8px;
  }
  section.price-block .areaBtn{
    margin: 30px auto 0;
    width: 88%;
  }
  section.price-block .areaBtn .btn a{
    height: 50px;
    font-size: 13px;
  }

  /* yes-------------------------------------------------------------------------------------*/
  section.yes-block .section-inner{
    padding: 34px 0 0;
  }
  section.yes-block .areaTtl .ttl::before{
    width: 94px;
    left: -47px;
    bottom: 7px;
  }
  section.yes-block .areaTtl .ttl::after{
    width: 94px;
    right: -47px;
    bottom: 7px;
  }
  section.yes-block .areaTtl .ttl .main{
    margin: 0 -5px;
    font-size: 21px;
  }
  section.yes-block .areaTtl .ttl .main .big{
    margin-left: -15px;
    margin-right: -15px;
    font-size: 36px;
  }
  section.yes-block .areaTtl .ttl .sub{
    font-size: 12px;
  }
  section.yes-block .areaTtl .ttl .sub .big{
    font-size: 16px;
  }
  section.yes-block .box{
    padding: 34px 0 37px;
  }
  section.yes-block .box .list{
    width: 100%;
    float: none;
  }
  section.yes-block .box .list .item{
    margin-bottom: 16px;
    padding-left: 36px;
    font-size: 13px;
  }
  section.yes-block .box .list .item::before{
    width: 26px;
    height: 26px;
    font-size: 19px;
    line-height: 21px;
    left: 6px;
  }
  section.yes-block .btn{
    width: 83%;
    bottom: -23px;
  }
  section.yes-block .btn a{
    font-size: 14px;
    height: 50px;
  }
  .c-btn .c7::after {
    right: 13px;
  }
  .slip-btn:before {
      display: none;
  }
  .slip-btn .c7 {
    width: 83%;
    height: 50px;
    top: -26px;
    position: relative;
  }

}/*=====================================================*/



@media screen and (max-width: 599px) {
            .case-block .case-t .case-list ul li .txt{
              width: calc(100% - 155px);
            }
                .case-block .case-t .case-list ul li .txt .ttl{
                    font-size: 16px;
                }
                .case-block .case-t .case-list ul li .txt p{
                    font-size: 14px;
                }
            .case-block .case-t .case-list ul li .img-area{
                width: 140px;
            }
}/*==============================*/
