@charset "UTF-8";
/**/

@media screen and (max-width: 960px) {
  .section-inner {
    padding: 60px 0;
  }
  section.case-block {
    border-bottom: none;
  }
  section.case-block .section-inner {
    padding: 60px 0 60px;
  }
  header {}
  .l-bread {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #FF6511;
    height: 40px;
    font-weight: 100;
    font-size: 12px;
  }
  .l-bread ul {
    width: auto;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background: #fff;
    position: relative;
    padding: 0 0 0 5px;
  }
  .l-bread ul::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -39px;
  }
  .l-bread ul li {
    position: relative;
    padding-right: 18px;
  }
  .l-bread ul li:last-child {
    padding-right: 0;
  }
  .l-bread ul li::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 7px;
    top: calc(50% - 2px);
    position: absolute;
  }
  .l-bread ul li:last-child::after {
    display: none;
  }
  .l-bread ul li a {
    color: #4b818b;
    text-decoration: none;
  }
  .l-bread ul li a:hover {
    text-decoration: underline;
  }
  .l-bread ul li img {
    height: 18px;
    width: auto;
  }
  .l-main-img {
    display: block;
  }
  .l-main-img img {
    width: 100%;
    max-width: none;
    min-width: 320px;
  }
  .product-border::before {
    width: 120px;
    left: calc(50% - 120px /2);
  }
  /*----------------- ability-block -------------------*/
  .ability-wrap {
    align-items: center;
    flex-direction: column;
    margin: 0px auto 40px;
    padding: 0 5px;
    max-width: 600px;
  }
  .ability-wrap .ability-block {
    width: 100%;
    margin-left: 0;
    margin-bottom: 70px;
  }
  .ability-wrap .ability-block:last-child {
    margin-bottom: 0;
  }
  .ability-wrap .ability-block .txt {}
  .ability-wrap .ability-block .txt .t1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .ability-wrap .ability-block .txt .t1::before {
    height: 45px;
  }
  .ability-wrap .ability-block .txt .t1::after {
    height: 45px;
  }
  .ability-wrap .ability-block .txt .t2 {
    font-size: 20px;
    margin-bottom: 10px;
    height: auto;
  }
  .ability-wrap .ability-block .txt .t2 span {
    font-size: 40px;
    margin-right: 10px;
  }
  .ability-wrap .ability-block .txt .t2 span.s2 {
    font-size: 60px;
  }
  .ability-wrap .ability-block .txt .t3 {
    font-size: 20px;
    padding-top: 10px;
  }
  .ability-wrap .ability-block .txt .t3 span {
    font-size: 15px;
  }
  .ability-wrap .ability-block .img {
    padding: 10px 0 15px;
    height: auto;
  }
  .ability-wrap .ability-block .img img {
    width: 260px;
  }
  .ability-wrap .ability-block .btn {}
  .ability-wrap .ability-block .btn a {
    padding: 10px 20px 11px;
    font-size: 16px;
  }
  /*----------------- points-block -------------------*/
  .points-wrap {
    flex-direction: column;
    margin: 0px auto 30px;
    max-width: 700px;
  }
  .points-wrap.c3 {
    margin: 0 auto;
  }
  .points-wrap .points-block {
    width: 100%;
    margin: 40px 0 20px 0px;
  }
  .points-wrap .points-block:last-child {
    margin-bottom: 0;
  }
  .points-wrap .points-block.c3 {
    width: 100%;
    margin-left: 0px;
  }
  .points-wrap .points-block .points-block-inner {
    padding: 50px 20px;
  }
  .points-wrap .points-block .points-block-inner2 {
    padding: 70px 20px 30px;
  }
  .points-wrap .points-block .num {
    font-size: 28px;
    top: -40px;
    left: 0px;
    padding: 0 20px;
  }
  .points-wrap .points-block .num span {
    font-size: 60px;
    margin-left: 3px;
  }
  .points-wrap .points-block .num.t-c {
    left: 0;
  }
  .points-wrap .points-block .step {
    font-size: 18px;
    top: -30px;
    left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    box-sizing: border-box;
  }
  .points-wrap .points-block .step span {
    font-size: 32px;
    line-height: 1;
    font-weight: 800;
  }
  .points-wrap .points-block .img-area {
    margin-bottom: 15px;
  }
  .points-wrap .points-block .txt {}
  .points-wrap .points-block .txt .ttl {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .points-wrap .points-block .txt .ttl span {
    margin-left: 0px;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  .points-wrap .points-block .txt p {
    font-size: 14px;
    line-height: 1.5;
  }
  .points-wrap .points-block .txt p.p1 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p2 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p3 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p4 {
    padding-right: 130px;
  }
  .points-wrap .points-block .img {}
  .points-wrap .points-block .img.r2 {
    right: 10px;
  }
  .points-wrap .points-block .img img {
    width: 130px;
  }
  .points-wrap .points-block .box-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .points-wrap .points-block .box-wrap .box {
    position: relative;
    background: #fff;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 55px 0 15px;
  }
  .points-wrap .points-block .box-wrap .box .box-ttl {
    position: absolute;
    top: 13px;
    left: -4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 20px;
  }
  .points-wrap .points-block .box-wrap .box .box-img {
    display: flex;
    justify-content: center;
  }
  .points-wrap .points-block .box-wrap .box .box-img>div {
    text-align: center;
  }
  .points-wrap .points-block .btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
  }
  .points-wrap .points-block .btn a {
    display: block;
    text-decoration: none;
    background: #E66700;
    color: #ffffff;
    padding: 10px 25px 11px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
    text-align: center;
  }
  .points-wrap .points-block .btn a:hover {
    opacity: .7;
  }
  .points-wrap .points-block .btn a span {
    display: block;
    position: relative;
  }
  .points-wrap .points-block .btn a span::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 0px;
    top: calc(50% - 2px);
    position: absolute;
  }
  .points-wrap.yukyu .points-block {
    background: #18AED3;
    margin: 20px 0 20px 0px;
    min-height: 190px;
  }
  .points-wrap.yukyu .points-block.c2 {
    background: #18AED3;
  }
  .points-wrap.yukyu .points-block:nth-child(even) {
    background: #107189 !important;
  }
  .points-wrap.yukyu .points-block .points-block-inner {
    box-sizing: border-box;
    height: 100%;
    padding: 55px 15px 40px 150px;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .points-block-inner {
    padding: 55px 150px 40px 15px;
  }
  .points-wrap.yukyu .points-block .num {
    top: 5px;
    left: auto;
    right: 15px;
    width: auto;
    padding: 0 0px;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .num {
    left: 15px;
    right: auto;
  }
  .points-wrap.yukyu .points-block .num span {
    margin-left: 0px;
    font-size: 40px;
  }
  .points-wrap.yukyu .points-block .txt {
    padding: 0px 0 0px 0px;
  }
  .points-wrap.yukyu .points-block .txt .ttl {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .points-wrap.yukyu .points-block .txt p {
    color: #fff;
  }
  .points-wrap.yukyu .points-block .img {
    top: auto;
    right: auto;
    bottom: 0;
    left: -12px;
    height: auto;
    display: block;
    width: auto;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .img {
    right: -15px;
    left: auto;
  }
  .points-wrap.yukyu .points-block .img img {
    width: 160px;
  }
  .points-block .hexa {
    left: 10px;
    top: -90px;
    width: 120px;
    height: 140px;
    line-height: 1.2;
    font-size: 16px;
  }
  .points-block .hexa.l1 {
    background-size: 120px;
  }
  .points-block .hexa.l2 {
    background-size: 120px;
  }
  .points-block .hexa.l3 {
    background-size: 120px;
  }
  .points-block .hexa .t1 {
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 15px;
  }
  .points-block .hexa .t2 {
    font-size: 24px;
    margin-bottom: 2px;
  }
  .points-block .hexa.l2 .t2 {
    font-size: 19px;
  }
  .points-wrap.mynumber .points-block {
    margin: -30px 0 0px 0px;
    padding-top: 120px;
    background: none;
  }
  .points-wrap.mynumber .points-block .num {
    left: 120px;
  }
  .points-wrap.mynumber .points-block .points-block-inner {
    padding: 60px 15px 40px;
  }
  .points-wrap.mynumber .flex {
    display: block;
  }
  .points-wrap.mynumber .flex .txt {
    width: auto;
  }
  .points-wrap.mynumber .flex .img-area {
    width: auto;
  }
  .points-wrap.mynumber .system {
    display: block;
    margin-left: 0px;
  }
  .points-wrap.mynumber .system dl {
    margin-left: 0px;
    margin-bottom: 15px;
    width: auto;
  }
  .points-wrap.mynumber .system.l2 dl {
    margin-left: 0px;
    width: auto;
  }
  .points-wrap.mynumber .system dl dt {
    font-size: 18px;
  }
  .points-wrap.mynumber .system dl dt .ico {
    width: 50px;
    margin-right: 7px;
  }
  .points-wrap.mynumber .system dl dd {
    font-size: 15px;
    padding: 10px 2px 15px;
  }
  /*------------------------*/
  .data-table-l {
    margin-bottom: 20px;
  }
  .data-table-l table {
    font-size: 14px;
  }
  .data-table-l table th {
    padding: 10px 5px;
  }
  .data-table-l table td {
    padding: 7px 5px;
  }
  .data-table-l table .p1 {
    padding: 0 5px;
  }
  .data-table-l table .p2 {
    padding: 7px 5px;
  }
  .data-table-l.s-over {
    padding-bottom: 14px;
    position: relative;
  }
  .data-table-l.s-over table {
    margin: 0 auto;
    width: 850px;
  }
  .data-table-l table .bg-par {
    width: 80px;
    height: 80px;
    color: #fff;
    background: url(../../img/lp/bg_par01.svg) no-repeat center;
    background-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 800;
    margin-left: 5px;
  }
  .data-table-l table .bg-par.c2 {
    background: url(../../img/lp/bg_par02.svg) no-repeat center;
    background-size: 80px;
  }
  .data-table-l table .bg-par.c3 {
    background: url(../../img/lp/bg_par03.svg) no-repeat center;
    background-size: 80px;
  }
  .data-table-l table .bg-par span {
    font-size: 28px;
  }
  .note01 {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 5px;
    font-weight: 500;
    color: #f00;
  }
  /*------------------------------------*/
  .feature-list {
    margin-bottom: 0px;
  }
  .feature-list ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .feature-list ul li {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 1px;
    padding: 25px 15px 65px;
    align-items: center;
  }
  .feature-list ul li .img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .feature-list ul li .txt-area {
    width: calc(100% - 110px);
  }
  .feature-list ul li .ttl {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .feature-list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-list ul li .txt {
    font-size: 14px;
  }
  .feature-list ul li.n1 {
    background-image: url(../../img/lp/n01.png);
    background-size: 300px 73px;
  }
  .feature-list ul li.n2 {
    background-image: url(../../img/lp/n02.png);
    background-size: 300px 73px;
  }
  .feature-list ul li .pop {
    width: 45px;
    height: 45px;
    bottom: 10px;
    right: 10px;
    line-height: 42px;
    font-size: 30px;
  }
  /*------------------------------------*/
  .feature-list2 {
    margin-bottom: 40px;
  }
  .feature-list2 ul {
    display: block;
  }
  .feature-list2 ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .feature-list2 ul li .img {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto 0px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .feature-list2 ul li .txt-area {
    width: 100%;
  }
  .feature-list2 ul li .ttl {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    height: 120px;
    padding-left: 130px;
    display: flex;
    align-items: center;
  }
  /*------------------------------------*/
  .feature-list-l4 {
    margin-bottom: 30px;
  }
  .feature-list-l4 ul {
    display: block;
  }
  .feature-list-l4 ul li {
    width: 100%;
    padding: 10px 10px 60px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-list-l4 ul li:nth-child(even) {}
  .feature-list-l4 ul li .img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .feature-list-l4 ul li .txt-area {
    width: 100%;
  }
  .feature-list-l4 ul li .ttl {
    display: table;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 90px;
    height: 80px;
    text-align: left;
  }
  .feature-list-l4 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-list-l4 ul li .txt {
    line-height: 1.4;
    font-size: 14px;
  }
  .feature-list-l4 ul li .pop {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    line-height: 35px;
    font-size: 25px;
  }
  .feature-list-l4 ul li.n1 {
    background-size: 104px 180px;
  }
  .feature-list-l4 ul li.n2 {
    background-size: 115px 180px;
  }
  .feature-list-l4 ul li.n3 {
    background-size: 118px 180px;
  }
  .feature-list-l4 ul li.n4 {
    background-size: 140px 180px;
  }
  .feature-list-l4 ul li .pop::before {
    right: 40px;
    font-size: 14px;
    line-height: 30px;
    padding-right: 10px;
  }
  /*------------------------------------*/
  .feature-block {
    background: rgba(0, 0, 0, 0.8);
  }
  .feature-block .feature-block-in {
    padding: 80px 0;
  }
  .feature-block .feature-block-close {}
  .feature-block .box {
    padding: 30px 20px 10px;
  }
  .feature-block .box .box-ttl {
    padding: 10px 0 15px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .feature-block .box .box-ttl .sub {
    font-size: 24px;
  }
  .feature-block .box .box-ttl .main {}
  .feature-block .box .list {}
  .feature-block .box .list ul {
    display: block;
  }
  .feature-block .box .list ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-block .box .list ul li .img {
    width: 120px;
    height: 120px;
    margin: 0 10px 0 0;
    border-radius: 60px;
  }
  .feature-block .box .list ul li .txt-area {
    width: calc(100% - 140px);
  }
  .feature-block .box .list ul li .ttl {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    line-height: 1.3;
  }
  .feature-block .box .list ul li .ttl>div {
    display: block;
  }
  .feature-block .box .list ul li .ttl span {
    font-size: 16px;
  }
  .feature-block .box .list ul li .txt {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .feature-block .box .list.s2 ul li .img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 0px;
  }
  .feature-block .box .list.s2 ul li .txt-area {
    width: calc(100% - 240px);
    padding-top: 20px;
  }
  .feature-block .box .list.s2 ul li .ttl {
    text-align: center;
    right: auto;
    top: calc(50% - 120px);
    left: 130px;
    width: 100px;
    height: 100px;
    background: #EF8300;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    display: table;
  }
  .feature-block .box .list.s2 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-block .box .list.s2 ul li .ttl span {
    font-size: 28px;
  }
  /* news-------------------------------------------------------------------------------------*/
  section.news-block .section-inner {
    padding: 60px 0 65px;
  }
  section.news-block .box {
    width: 100%;
    margin-bottom: 60px;
  }
  section.news-block .box+.box {
    margin-top: 62px;
    padding-left: 0;
  }
  section.news-block .box .btn a {
    padding: 9px;
    width: 125px;
    font-size: 10px;
  }
  section.news-block .box .btn a::after {
    width: 4px;
    height: 4px;
    right: 10px;
  }
  section.news-block .box .areaTtl .ttl {
    padding-bottom: 4px;
    font-size: 14px;
  }
  section.news-block .areaNews .news-list {
    margin-top: 20px;
  }
  section.news-block .areaUpdate .update-list {
    margin-top: 15px;
  }
  section.news-block .areaNews .list .item+.item {
    margin-top: 19px;
  }
  section.news-block .box .list .item a {
    text-decoration: none;
    align-items: center;
  }
  section.news-block .areaNews .list .item a .t1 {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    box-sizing: border-box;
    padding-right: 0px;
    width: 100px;
    text-align: center;
  }
  section.news-block .areaNews .list .item a .t1 .date {
    width: auto;
    display: block;
    margin-right: 0px;
    font-size: 13px;
  }
  section.news-block .areaNews .list .item a .t1 .cat {
    display: block;
    padding: 1px 0;
    width: 100px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    background: #FF8C00;
  }
  section.news-block .areaNews .list .item a .t2 {
    width: calc(100% - 110px);
    font-size: 15px;
    line-height: 1.4;
  }
  section.news-block .areaNews .list .item a:hover .t2 .ttl {
    text-decoration: underline;
  }
  section.news-block .areaNews .news-list, section.news-block .areaUpdate .update-list {
    margin-top: 35px;
  }
  /*------------------------------------*/
  .time-wrap {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
  }
  .time-wrap .time-t1 {
    margin: 10px auto 20px;
    padding: 0 80px 0 10px;
  }
  .time-wrap .time-t1 .time-t1-1 {
    font-size: 30px;
  }
  .time-wrap .time-t1 .time-t1-1 span {
    font-size: 70px;
    letter-spacing: 2px;
    margin-right: 5px;
  }
  .time-wrap .time-t1 .time-t1-2 {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .time-wrap .time-t1 .img {
    position: absolute;
    width: 60px;
    left: auto;
    right: 0;
    top: calc(50% - 60px / 2);
    bottom: auto;
    z-index: 2;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .time-wrap .time-t1 .img img {
    filter: drop-shadow(4px 3px 0px rgba(255, 255, 255, 1));
  }
  .time-wrap .time-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .time-wrap .time-block .time-box {
    width: 100%;
    background: none;
    padding: 0;
    padding-top: 150px;
    margin-top: 0;
    overflow: hidden;
  }
  .time-wrap .time-block .time-box-in {
    width: 100%;
    height: 100%;
    background: #003847;
    box-sizing: border-box;
    padding: 20px 15px 30px;
    position: relative;
    z-index: 2;
  }
  .time-wrap .time-block .time-box .o-t {
    height: 100px;
    top: -100px;
    right: 50%;
    left: auto;
    width: 150px;
  }
  .time-wrap .time-block .time-box .o-t .t1 {
    display: block;
    font-size: 20px;
    font-weight: 600;
  }
  .time-wrap .time-block .time-box .o-t .t2 {
    display: block;
    font-size: 20px;
  }
  .time-wrap .time-block .time-box .o-t .t2 span {
    font-size: 50px;
    margin-right: 5px;
  }
  .time-wrap .time-block .time-box .txt-area {
    position: relative;
    z-index: 2;
  }
  .time-wrap .time-block .time-box .txt-area .ttl {
    padding: 10px 20px 11px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .time-wrap .time-block .time-box .txt-area .txt {
    font-size: 16px;
    padding: 0 5px;
  }
  .time-wrap .time-block .time-box .img-area {
    left: 50%;
    right: auto;
    bottom: auto;
    top: 0px;
  }
  .time-wrap .time-block .time-box .img-area img {
    height: 300px;
    max-width: none;
  }
  .time-wrap .time-block .time-box.s2 {
    background: none;
    padding: 0;
    padding-top: 150px;
    margin-top: 0;
  }
  .time-wrap .time-block .time-box.s2 .time-box-in {
    background: #E57100;
  }
  .time-wrap .time-block .time-box.s2 .o-t {
    left: 50%;
    right: auto;
    color: #E57100;
    background: url(../../img/lp/bg_star.svg) no-repeat 5px center;
    background-size: 120px auto;
    padding: 0 0px 10px 30px;
  }
  .time-wrap .time-block .time-box.s2 .o-t .t1 {}
  .time-wrap .time-block .time-box.s2 .o-t .t2 {}
  .time-wrap .time-block .time-box.s2 .o-t .t2 span {}
  .time-wrap .time-block .time-box.s2 .txt-area {}
  .time-wrap .time-block .time-box.s2 .txt-area .ttl {
    background: #FFA61A;
  }
  .time-wrap .time-block .time-box.s2 .txt-area .txt {
    padding: 0 5px 0;
  }
  .time-wrap .time-block .time-box.s2 .img-area {
    left: auto;
    right: 50%;
  }
  .time-wrap2 {
    position: relative;
    padding: 10px 0 0;
  }
  .time-wrap2 .logo {
    text-align: center;
    padding-bottom: 15px;
  }
  .time-wrap2 .box {
    background: #F6F6F6;
    border: 1px solid #eee;
    margin: 25px 0 20px -0px;
    width: calc(100% + 0px);
    position: relative;
    padding: 50px 10px 0px;
    box-sizing: border-box;
  }
  .time-wrap2 .box .box-ttl {
    position: absolute;
    text-align: center;
    top: -19px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .time-wrap2 .box .box-ttl span {
    position: relative;
    display: block;
    color: #fff;
    background: #FEC200;
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2;
    letter-spacing: 2px;
    min-width: 200px;
    padding: 10px 20px 12px;
  }
  .time-wrap2 .box .box-ttl span::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 18px;
    border-color: transparent transparent #b68900 transparent;
    position: absolute;
    left: -18px;
    top: 0;
  }
  .time-wrap2 .recommend-ttl {
    margin-bottom: 30px;
  }
  .time-wrap2 .recommend-ttl span {
    padding: 10px;
    font-size: 28px;
  }
  .time-wrap2 .recommend-ttl span::after {
    left: calc(50% - 14px);
    bottom: -10px;
    width: 20px;
    height: 20px;
  }
  .time-wrap2 .recommend {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .time-wrap2 .recommend .recommend-box {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 0;
    padding: 0px 60px 0 0;
    background: url(../../img/lp/recommend_img01.png) no-repeat right top;
    background-size: 60px auto;
    margin-bottom: 20px;
  }
  .time-wrap2 .recommend .recommend-box.s2 {
    padding: 0px 0 0 60px;
    background: url(../../img/lp/recommend_img02.png) no-repeat left -5px;
    background-size: 60px auto;
    margin-bottom: 0px;
  }
  .time-wrap2 .recommend .recommend-box .in {
    position: relative;
    background: #fff;
    height: 100%;
    box-sizing: border-box;
    padding: 15px 5px 30px;
  }
  .time-wrap2 .recommend .recommend-box .in .ttl {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .time-wrap2 .recommend .recommend-box .in .txt {
    font-size: 15px;
    line-height: 1.6;
  }
  .block-ttl {
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
  }
  .block-ttl::before {
    width: 100px;
  }
  .block-ttl .num {
    font-size: 50px;
    color: #E66700;
    width: 40px;
    line-height: 1;
  }
  .block-ttl .ttl {
    width: calc(100% - 40px);
  }
  .block-ttl .main {
    font-size: 24px;
    margin-top: 5px;
  }
  /*------------------------------------*/
  .yukyu {}
  .yukyu-block {
    padding-top: 0px;
    padding-left: 0px;
    color: #011F2A;
    margin-bottom: 33px;
    position: relative;
    z-index: 2;
  }
  .yukyu-block .t1 {
    border: 3px solid #13B0D3;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 20px;
    max-width: 500px;
  }
  .yukyu-block .t1::after {
    left: calc(50% - 14px);
    bottom: -12px;
    width: 20px;
    height: 20px;
  }
  .yukyu-block .t1 span {
    font-size: 22px;
    margin-top: 0px;
    padding: 10px 8px 0;
    margin: 0 12px;
  }
  .yukyu-block .t1 span.s2 {
    padding: 0 12px;
    margin: 0;
  }
  .yukyu-block .t1 span::before {
    height: 35px;
    left: 0;
    top: 7px;
  }
  .yukyu-block .t1 span.s2::before {
    top: 0px;
  }
  .yukyu-block .t1 span::after {
    height: 35px;
    right: 0;
    top: 7px;
  }
  .yukyu-block .t1 span.s2::after {
    top: 0px;
  }
  .yukyu-block .t2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    /*        background: #fff;*/
    padding: 10px 0px 15px;
    max-width: 500px;
  }
  .yukyu-block .t2 div {
    margin: 0 0px 0 8px;
  }
  .yukyu-block .t3 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: initial;
  }
  .yukyu-block .t3 .in {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;
    position: relative;
  }
  .yukyu-block .t3 .t3-1 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    width: auto;
  }
  .yukyu-block .t3 .t3-1 .t3-1-1 {
    font-size: 20px;
    margin-right: 15px;
  }
  .yukyu-block .t3 .t3-1 .t3-1-2 img {
    width: 40px;
  }
  .yukyu-block .t3 .t3-1 .t3-1-2 span {
    font-size: 28px;
    margin-left: 5px;
  }
  .yukyu-block .t3 .t3-2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  .yukyu-block .t3 .t3-2 .t3-2-1 {
    margin-right: 0px;
    font-size: 14px;
  }
  .yukyu-block .t3 .t3-2 .t3-2-2 {
    font-size: 50px;
    padding-left: 80px;
    width: 2em;
    line-height: 1.2;
  }
  .yukyu-block .t3 .t3-2 .t3-2-3 {
    position: absolute;
    left: 0;
    bottom: -0px;
    margin: 0;
  }
  .yukyu-block .t3 .t3-2 .t3-2-3 img {
    width: 70px;
  }
  .yukyu-block .t3 .img {
    width: 160px;
    position: relative;
  }
  .yukyu-block .t3 .img img {
    position: absolute;
    top: 0;
    right: 10px;
    width: 160px;
    max-width: none;
  }
  .yukyu .box {
    width: auto;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
  }
  .yukyu .box .in {
    padding: 20px 15px;
  }
  .yukyu .box .ttl {
    padding: 10px 40px 10px 15px;
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 20px;
    left: -25px;
    width: calc(100% - 30px);
  }
  .yukyu .box .ttl::before {
    border-width: 0 10px 10px 0;
    bottom: -10px;
  }
  .yukyu .box .ttl span {
    font-size: 90px;
    right: 0px;
    bottom: calc(50% - 40px);
  }
  .yukyu .box p {
    margin-bottom: 20px;
  }
  .yukyu .box p span {
    font-size: 18px;
  }
  .yukyu .box .list {
    padding: 15px 15px 20px;
    margin-bottom: 20px;
  }
  .yukyu .box .list .list-ttl {
    padding-left: 40px;
    margin-bottom: 15px;
    background-size: 30px auto;
    min-height: 30px;
    line-height: 1.2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .yukyu .box .list ul {
    margin-left: -10px;
  }
  .yukyu .box .list ul li {
    width: calc(50% - 10px);
    margin-left: 10px;
    padding: 14px 5px 16px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yukyu .box .box-txt {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
  }
  /*------------------------------------*/
  .yukyu-f-list {
    margin-bottom: 50px;
    padding: 0 10px;
  }
  .yukyu-f-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .yukyu-f-list ul li {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  .yukyu-f-list ul li .ico {
    margin-bottom: 5px;
  }
  .yukyu-f-list ul li .ico img {
    width: 50px;
  }
  .yukyu-f-list ul li .txt {
    line-height: 1.2;
    font-size: 14px;
    padding: 0 5px;
  }
  /*------------------------------------*/
  .yukyu-cost {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 5px;
  }
  .yukyu-cost .yukyu-cost-block1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .yukyu-cost .yukyu-cost-block2 {
    width: 100%;
    font-size: 16px;
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .yukyu-cost .yukyu-cost-block1 .t1 {
    font-size: 70px;
    line-height: 1;
  }
  .yukyu-cost .yukyu-cost-block1 .t2 {
    font-size: 32px;
  }
  /*------------------------------------*/
  .l-ttl {
    display: block;
    line-height: 1.3;
    margin-bottom: 15px;
    text-align: center;
  }
  .l-ttl .t1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .l-ttl .t1 span {
    font-size: 50px;
  }
  .l-ttl .t1 span.text-web {
    font-size: 59px;
  }
  .l-ttl .t2 {
    font-size: 22px;
    font-weight: 700;
    margin-left: 0px;
  }
  /*------------------------------------*/
  .kyuyomeisai-txt {
    width: 100%;
    margin: 0 auto 30px;
    display: block;
    line-height: 1.3;
  }
  .kyuyomeisai-txt .t1 {
    width: 100%;
    position: relative;
  }
  .kyuyomeisai-txt .t1 .t1-01 {
    margin-top: -10px;
    text-align: center;
  }
  .kyuyomeisai-txt .t1 .t1-01 img {
    width: 180px;
  }
  .kyuyomeisai-txt .t1 .t1-02 {
    font-size: 32px;
    top: 15px;
    left: calc(50% + 30px);
    right: auto;
  }
  .kyuyomeisai-txt .t2 {
    width: 100%;
    padding: 15px 8px 0;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
  }
  .kyuyomeisai-txt .t2 .t2-01 {
    padding: 15px 5px;
    line-height: 1.2;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-00 {
    display: none;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-01 {
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-01 .s1 {
    min-width: 5em;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-01 .s2 {
    min-width: 1em;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-01 img {
    margin-left: -8px;
    margin-right: 3px;
    max-width: 170px;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-02 {
    font-size: 38px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 5px;
  }
  .kyuyomeisai-txt .t2 .t2-01 .t2-01-02 span {
    margin-left: 5px;
  }
  .kyuyomeisai-txt .t2 .t2-02 {
    font-weight: 600;
    padding: 10px 5px 0 0px;
    line-height: 1.5;
    text-align: center;
  }
  .kyuyomeisai-txt .t2 .t2-02 p {
    display: inline-block;
    text-align: left;
  }
  .kyuyomeisai-txt+.c-txt {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
    line-height: 1.6;
  }
  /*------------------------------------*/
  .a-1 {
    background: url(../../img/lp/pc_img_s.png) no-repeat top center;
    background-size: 400px 259px;
    padding-top: 290px;
  }
  /*------------------------------------*/
  .merit-area {
    position: relative;
    padding: 0px 0 0px;
  }
  .merit-area .merit-arrow {
    height: 40px;
    margin-bottom: 90px;
  }
  .merit-area .merit-arrow::after {
    width: 50px;
    height: 50px;
    top: -26px;
    left: calc(50% - 25px);
  }
  .merit-area .column-wrap {
    background: none;
    padding: 0px 0 0;
    position: relative;
    z-index: 2;
  }
  .merit-area .column {
    position: relative;
  }
  .merit-area .column.ml {
    background: #F6F6F6;
    margin-bottom: 110px;
  }
  .merit-area .column.mr {
    background: #EEEEEE;
    margin-bottom: 110px;
  }
  .merit-area .ml .ttl-area {
    position: absolute;
    height: auto;
    top: -80px;
    left: calc(50% - 75px);
  }
  .merit-area .mr .ttl-area {
    position: absolute;
    height: auto;
    top: -80px;
    left: calc(50% - 75px);
  }
  .merit-area .ttl {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: table;
    margin-top: 0px;
  }
  .merit-area .ttl-in {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1.2;
  }
  .merit-area .ttl .main {
    font-size: 40px;
    font-weight: bold;
  }
  .merit-area .ttl .sub {
    color: #000;
    font-size: 25px;
    font-weight: 500;
  }
  .merit-area .ttl .sub span {
    font-size: 20px;
  }
  .merit-area .t1 .ttl {
    border: 1px solid #2CB23C;
    background: #fff;
  }
  .merit-area .t1 .ttl .main {
    color: #2CB23C;
  }
  .merit-area .t2 .ttl {
    border: 1px solid #FF8C00;
    background: #fff;
  }
  .merit-area .t2 .ttl .main {
    color: #FF8C00;
  }
  .merit-area .t3 .ttl {
    border: 1px solid #195260;
    background: #fff;
  }
  .merit-area .t3 .ttl .main {
    color: #195260;
  }
  .merit-area .ttl-area .img {
    position: absolute;
    bottom: 0;
    left: -35px;
  }
  .merit-area .ttl-area .img img {
    width: auto;
    max-width: none;
  }
  .merit-area .list {
    width: auto;
    line-height: 1.3;
    padding: 80px 0 40px;
  }
  .merit-area .ml .list {
    padding-right: 10px;
    padding-left: 10px;
  }
  .merit-area .mr .list {
    padding-right: 10px;
    padding-left: 10px;
  }
  .merit-area .list dl {
    margin-bottom: 15px;
  }
  .merit-area .list dl dt {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 30px;
    text-indent: -30px;
  }
  .merit-area .list dl dt span {
    font-size: 26px;
    width: 30px;
    font-weight: 700;
    text-indent: 0;
  }
  .merit-area .list dl dd {
    padding-left: 30px;
    line-height: 1.4;
    font-size: 15px;
  }
  .merit-area .mb {
    background: #DDDDDD;
    padding: 0px 0px;
    position: relative;
    z-index: 2;
  }
  .merit-area .mb .mb-in {
    display: block;
  }
  .merit-area .mb .ttl-area {
    position: absolute;
    height: auto;
    top: -80px;
    left: calc(50% - 75px);
    width: auto;
  }
  .merit-area .mb .ttl-area .ttl {
    margin: 0 0 0 auto;
  }
  .merit-area .mb .list {
    width: auto;
    padding: 80px 10px 40px;
  }
  .merit-area .mb .ttl-area .img {
    position: absolute;
    bottom: -40px;
    left: 10px;
  }
  .merit-area .mb .ttl-area .img img {
    width: auto;
    max-width: none;
  }
  .merit-area .merit-area-img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .merit-area .merit-area-img .img01 {
    position: absolute;
    top: -340px;
    left: -65px;
  }
  .merit-area .merit-area-img .img02 {
    position: absolute;
    top: -340px;
    right: -30px;
  }
  /*------------------------------------*/
  .fee-list {
    margin: 0 0px 40px;
  }
  .fee-list>table {
    width: 100%;
    display: block;
  }
  .fee-list table tbody, .fee-list table tr {
    display: block;
  }
  .fee-list table th {
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
  }
  .fee-list table th .th-in {
    display: block;
  }
  .fee-list table th .th-in .inner {
    width: 100% !important;
    text-align: center;
    border: none;
  }
  .fee-list table th .th-in .inner.t1 {
    display: table;
    table-layout: fixed;
    border-bottom: 1px solid #eee;
  }
  .fee-list table th .th-in .inner>div {
    width: 33%;
    text-align: right;
  }
  .fee-list table th .th-in .inner>div.c2 {
    font-size: 60px;
    padding-left: 25px;
    text-align: left;
    width: 66%;
  }
  .fee-list table th .th-in .inner>div.c2 span {
    font-size: 26px;
  }
  .fee-list table th .th-in .inner.t1 .c2 {
    display: table-cell;
    padding-right: 15px;
    width: 55%;
  }
  .fee-list table th .th-in .inner.t2 .c1 {
    padding-left: 0;
    width: 32%;
  }
  .fee-list table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .fee-list table td span {
    font-size: 25px;
  }
  /*--------------------------*/
  .fee-table {
    margin-bottom: 60px;
  }
  .fee-table .table{
    padding-bottom: 14px;
    position: relative;
  }
  .fee-table .table table {
    margin: 0 auto;
    width: 600px;
  }
  .fee-table .table table th {
    font-size: 15px;
    line-height: 1.3;
    padding: 7px 3px;
  }
  .fee-table .table table thead th {
    font-size: 20px;
  }
  .fee-table .table table th img {
    display: block;
    margin: 0 auto;
    width: 220px;
  }
  .fee-table .table table td {
    font-size: 13px;
  }
  .fee-table .table table td span {
    font-size: 16px;
    margin-right: 3px;
  }
  .fee-table .table table td span.bold {
    font-weight: 700;
  }
  .fee-table .table table .t1 {
    width: 17%;
  }
  .fee-table .table table .t2 {
    width: 43%;
  }
  .fee-table .table table .t3 {
    width: 20%;
  }
  .fee-table .table table .t4 {
    width: 20%;
  }
  /*--------------------------*/
  .device {
    display: block;
  }
  .device .device-ttl {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #CECEBF;
  }
  .device ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    border-left: none;
    box-sizing: border-box;
  }
  .device ul li {
    width: 50%;
    margin: 10px 0px;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
    font-size: 14px;
  }
  .device ul li img {
    width: 60px;
  }
  /*--------------------------*/
  .flow {
    position: relative;
  }
  .flow::before {}
  .flow .c-ttl {}
  .flow-list {
    max-width: 350px;
    margin: 0 auto;
  }
  .flow-list ul {
    display: block;
    justify-content: space-around;
  }
  .flow-list ul li {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 0 5px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
  }
  .flow-list ul li .num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
    background: none;
    overflow: visible;
  }
  .flow-list ul li .num::after {
    content: "";
    width: 120px;
    height: 20px;
    background: url(../../img/flow_arrow.png) no-repeat center;
    position: absolute;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -28px;
    top: 110px;
  }
  .flow-list ul li .num span {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 57px;
  }
  .flow-list ul li.f1 .num span {}
  .flow-list ul li.f3 .num {}
  .flow-list ul li.f3 .num span {}
  .flow-list ul li.f3 .num::after {
    display: none;
  }
  .flow-list ul li .img {
    margin-bottom: 10px;
    padding-left: 40px;
  }
  .flow-list ul li .img img {
    width: 80px;
  }
  .flow-list ul li .txt {
    font-size: 16px;
    padding-left: 40px;
  }
  /*-------------------------------------------------------------------------------------*/
  .simulation {
    margin-bottom: 30px;
    position: relative;
  }
  .simulation-inner {
    position: relative;
    padding: 0 0px 30px;
  }
  .simulation .box {
    padding-top: 155px;
    height: auto;
  }
  .simulation .box-ttl {
    top: -26px;
    left: calc(50% - 90px);
    width: 180px;
    height: 180px;
  }
  .simulation .box-ttl::before {}
  .simulation .box-ttl .logo {
    width: 160px;
    margin: 30px auto 5px;
  }
  .simulation .box-ttl .t1 {
    font-size: 22px;
  }
  .simulation .box-ttl .t1:before {}
  .simulation .box-ttl .t1:after {}
  .simulation .box-ttl .t2 {
    font-size: 26px;
  }
  .simulation .box-ttl .t2 span {
    font-size: 21px;
  }
  .simulation .box .box-inner {
    padding: 0px;
    display: block;
  }
  .simulation .box .area1 {
    padding: 20px 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .simulation .box .select {
    height: auto;
    box-sizing: border-box;
    margin-left: 0px;
    padding: 20px 15px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .simulation .box .select ul {
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .simulation .box .select ul li {}
  .simulation .box .select ul li.l2 {}
  .simulation .box .select ul li .ttl {
    font-size: 16px;
  }
  .simulation .box .select ul li .body {
    font-size: 16px;
  }
  .simulation .box .select ul li select {
    font-size: 20px;
    width: 80px;
  }
  .simulation .box .select ul li select.s2 {
    width: 60px;
  }
  .simulation .box .select ul li.btn {
    position: absolute;
    right: 10px;
    top: 165px;
  }
  .simulation .box .select ul li.btn>div {
    padding: 5px 20px 5px 0px;
  }
  .simulation .box .select ul li.btn>div::before {}
  .simulation .box .select ul li.btn>div::after {}
  .simulation .box .select ul li.btn>div span {}
  .simulation .box .select ul li.btn>div span::before {}
  .simulation .box .table {
    position: relative;
  }
  .simulation .box .table table {
    width: 100%;
    border-collapse: separate;
    display: flex;
  }
  .simulation .box .table table thead {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .simulation .box .table table thead tr {
    display: block;
  }
  .simulation .box .table table thead th {
    display: table;
    text-align: center;
    padding: 0px 0px 0px;
    font-size: 12px;
    line-height: 18px;
    height: 50px;
    margin-top: 20px;
  }
  .simulation .box .table table thead th div {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
  .simulation .box .table table thead th div::after {
    left: auto;
    right: -8px;
    top: calc(50% - 8px);
    bottom: auto;
    border-width: 8.5px 0 8.5px 10px;
    border-color: transparent transparent transparent #FAE6B1;
  }
  .simulation .box .table table thead th.t0, .simulation .box .table table thead th.t1, .simulation .box .table table thead th.t6, .simulation .box .table table thead th.t2, .simulation .box .table table thead th.t3, .simulation .box .table table thead th.t4 {
    width: 55px;
  }
  .simulation .box .table table thead th.t5 {
    width: 100%;
    margin-top: 1px;
    padding-left: 0;
  }
  .simulation .box .table table thead th.t2 div {
    background: #F8DB8F;
  }
  .simulation .box .table table thead th.t2 div::after {
    border-color: transparent transparent transparent #F8DB8F;
  }
  .simulation .box .table table thead th.t3 div {
    background: #F7CF68;
  }
  .simulation .box .table table thead th.t3 div::after {
    border-color: transparent transparent transparent #F7CF68;
  }
  .simulation .box .table table thead th.t4 div {
    padding: 0;
    background: #F4BF33;
  }
  .simulation .box .table table thead th.t4 div::after {
    border-color: transparent transparent transparent #F4BF33;
  }
  .simulation .box .table table thead th.t4 span {
    font-size: 10px;
  }
  .simulation .box .table table thead th.t5 div {
    background: #63B9C0;
    color: #fff;
    font-size: 17px;
  }
  .simulation .box .table table thead th.t5 div::after {
    display: none;
  }
  /*----------------------*/
  .simulation .box .table table tbody {
    display: flex;
    width: 100%;
  }
  .simulation .box .table table tbody tr {
    display: block;
  }
  .simulation .box .table table tbody tr.r1 {
    width: 50%;
    /*max-width: 200px;*/
    border-right: 1px solid #ccc;
    box-sizing: border-box;
  }
  .simulation .box .table table tbody tr.r2 {
    width: 50%;
  }
  .simulation .box .table table tbody th {
    display: table;
    height: 50px;
    margin: 20px auto 0;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 700;
    padding: 0 0 0 0px;
    border-bottom: none;
  }
  .simulation .box .table table tbody th>div {
    display: table-cell;
    vertical-align: middle;
  }
  .simulation .box .table table tbody th span {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .simulation .box .table table tbody .r1 th {
    border-bottom: none;
  }
  .simulation .box .table table tbody .r2 th {
    border-bottom: none;
  }
  .simulation .box .table table tbody .r1 th div {
    background: none;
    padding-left: 0px;
  }
  .simulation .box .table table tbody .r2 th div {
    background: none;
    padding-left: 0px;
  }
  .simulation .box .table table tbody .r2 th img {
    width: 100px;
  }
  .simulation .box .table table tbody td {
    display: table;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    box-sizing: border-box;
    border-left: none;
  }
  .simulation .box .table table tbody td>div {
    display: table-cell;
    vertical-align: middle;
  }
  .simulation .box .table table tbody .r1 th {}
  .simulation .box .table table tbody .r1 td {
    border-left: none;
    border-bottom: 1px dotted #ccc;
  }
  .simulation .box .table table tbody td.t5 {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding-top: 50px;
    margin-top: 0;
    height: 90px;
    border-bottom: none;
  }
  .simulation .box .table table tbody td.t5>div {
    padding: 10px 0;
    text-align: center;
  }
  .simulation .box .table table tbody .r1 td.t5 {
    color: #63B8BF;
  }
  .simulation .box .table table tbody .r2 td.t5 {
    color: #DF5F0A;
  }
  .simulation .box .table table tbody td div {
    position: relative;
    text-align: left;
    padding: 0px 0px 0px 70px;
  }
  .simulation .box .table table tbody td div::after {
    position: absolute;
    right: 5px;
    bottom: -0px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
  }
  .simulation .box .table table tbody td.t14 {
    margin-top: 0;
    height: 350px;
  }
  .simulation .box .table table tbody td.t14 div {
    margin-top: 0;
    padding-left: 5px;
    text-align: center;
    font-size: 15px;
  }
  .simulation .box .table table tbody td.t14 div::after {
    display: none;
  }
  .simulation .box .table table tbody td.t14 div>span {
    color: #DF5F0A;
  }
  .simulation .box .table table tbody td.t14 div>span>span {
    font-weight: bold;
    font-size: 24px;
  }
  .simulation .box .table table tbody .r1 td div::before {
    width: 20px;
    height: 20px;
    padding: 10px 0 4px;
    line-height: 20px;
    font-size: 16px;
    left: 20px;
    top: -30px;
    text-shadow: none;
  }
  .simulation .box .table table tbody .r1 td.t1 div::before {
    display: none;
  }
  .simulation .box .table table tbody td.t5 div::before {
    display: none;
  }
  .simulation .box .area2 {
    padding: 50px 15px 20px 15px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 0 0 7px 7px;
  }
  .simulation .box .area2::before {
    width: 100%;
    height: 39px;
    border: none;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, #fff 50.5%) no-repeat top left/50% 100%, linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #fff 50.5%) no-repeat top right/50% 100%;
  }
  .simulation .box .area2 .btn {
    padding-top: 20px;
  }
  .simulation .box .area2 .btn a {}
  .simulation .box .area2 .btn a:hover {}
  .simulation .box .area2 .btn a::after {}
  .simulation .box .area2 .t1 {
    font-weight: bold;
    font-size: 18px;
  }
  .simulation .box .area2 .t1 span {
    font-size: 30px;
  }
  .simulation .box .area2 .t2 {
    font-weight: bold;
    font-size: 21px;
  }
  .simulation .box .area2 .t2 span {
    display: inline-block;
    background: #DF5F0A;
    color: #fff;
    padding: 0px 15px;
    font-weight: 900;
    font-size: 30px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .simulation .box .area2 .t3 {
    font-weight: bold;
    font-size: 20px;
  }
  .simulation .box .area2 .t3 span {
    font-size: 26px;
    letter-spacing: -2px;
  }
  #simu-pop-block {
    width: calc(100% - 20px);
    padding: 20px 10px 20px 10px;
    top: 100px;
    right: 10px;
  }
  #simu-pop-block #simu-pop-close {}
  #simu-pop-block dl {
    display: block;
  }
  #simu-pop-block dl dt {}
  #simu-pop-block dl dd {
    padding-left: 32px;
    line-height: 1.3;
  }
  #simu-pop-block dl dd::before {
    margin-left: -27px;
  }
  #simu-pop-block p {
    padding-left: 1.2em;
    text-indent: -1.2em;
    line-height: 1.4;
  }
  #simu-pop-block p span {}
  /*-----------------------------*/
  .mynumber-ttl {
    position: relative;
    margin-bottom: 50px;
  }
  .mynumber-ttl::before {
    width: calc(50% - 21px);
  }
  .mynumber-ttl::after {
    width: calc(50% - 22px);
  }
  .mynumber-ttl .in {
    padding: 0 0 15px;
  }
  .mynumber-ttl .in::after {
    width: 30px;
    height: 30px;
    bottom: -15px;
    left: calc(50% - 15px);
  }
  .mynumber-ttl .t1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .mynumber-ttl .t2 {
    font-size: 30px;
  }
  .mynumber-ttl .t2 .ex {
    position: static;
    font-size: 40px;
    line-height: .8;
    font-weight: 800;
    padding-left: 5px;
    display: inline-block;
  }
  .mynumber-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mynumber-block .txt-area {
    width: auto;
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .mynumber-block .txt-area .logo {
    max-width: 380px;
    margin-bottom: 10px;
  }
  .mynumber-block .txt-area p {
    font-size: 18px;
    padding-left: 0px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
    line-height: 1.3;
  }
  .mynumber-block .txt-area ul {
    display: flex;
    justify-content: center;
    margin-left: -10px;
  }
  .mynumber-block .txt-area ul li {
    margin-left: 5px;
  }
  .mynumber-block .txt-area ul li a {
    width: 95px;
    height: 95px;
    line-height: 1.2;
    font-size: 11px;
  }
  .mynumber-block .txt-area ul li a::before {
    width: 8px;
    height: 8px;
    bottom: 7px;
    left: calc(50% - 4px);
  }
  .mynumber-block .txt-area ul li a::after {
    height: 12px;
    bottom: 6px;
  }
  .mynumber-block .txt-area ul li .t1 {
    height: 2.2em;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .mynumber-block .txt-area ul li .t2 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .mynumber-block .txt-area ul li.l2 .t2 {
    font-size: 16px;
    letter-spacing: -1px;
  }
  .mynumber-block .img-area {
    max-width: 500px;
  }
  /*-----------------------------*/
  .comparison {
    display: block;
    width: calc(100% + 10px);
    margin-left: -5px;
  }
  .comparison .comparison-block {
    border: 4px solid #6B6B6B;
    width: auto;
    max-width: 500px;
    margin: 0 auto 40px;
    overflow: hidden;
  }
  .comparison .comparison-block.c2 {
    border: 4px solid #FFC100;
  }
  .comparison .comparison-ttl {
    height: 55px;
    font-size: 20px;
  }
  .comparison .comparison-ttl::after {
    border-style: solid;
    border-width: 24px 250px 0 250px;
    border-color: #6B6B6B transparent transparent transparent;
    position: absolute;
    bottom: -24px;
    left: calc(50% - 250px);
  }
  .comparison .c2 .comparison-ttl {
    background: #FFC100;
  }
  .comparison .c2 .comparison-ttl::after {
    border-color: #FFC100 transparent transparent transparent;
  }
  .comparison .comparison-ttl img {
    height: auto;
  }
  .comparison .comparison-body {
    padding: 40px 10px 10px;
  }
  .comparison .comparison-body .img-area {
    margin: 0;
  }
  .comparison .comparison-body .txt-area {
    padding: 0 5px;
  }
  .comparison .comparison-body .txt-area .ttl {
    font-size: 18px;
  }
  .comparison .comparison-body .txt-area .list {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .comparison .comparison-body .txt-area .list li {
    margin-bottom: 5px;
    padding: 5px 0 5px 25px;
    background: url(../../img/ico_bad.png) no-repeat left 6px;
    background-size: 20px;
  }
  .comparison .c2 .comparison-body .txt-area .list li {
    background: url(../../img/ico_good.png) no-repeat left 6px;
    background-size: 20px;
  }
  /*-----------------------------*/
  .mynumber-case {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    z-index: 1;
  }
  .mynumber-case .mynumber-case-block {
    border: 4px solid #63B9C0;
    margin-bottom: 50px;
    width: 100%;
  }
  .mynumber-case .mynumber-case-block.c2 {
    border: 4px solid #FFC100;
  }
  .mynumber-case .mynumber-case-block .hexa {
    left: 10px;
    top: -40px;
    width: 100px;
    height: 120px;
    background-size: 100px;
  }
  .mynumber-case .mynumber-case-block .hexa .in {
    width: 96px;
    height: 116px;
    font-size: 25px;
    background-size: 96px;
  }
  .mynumber-case .mynumber-case-block.c2 .hexa .in {
    background-size: 96px;
  }
  .mynumber-case .mynumber-case-block .hexa .t2 {
    font-size: 40px;
  }
  .mynumber-case .mynumber-case-ttl {
    height: 55px;
    position: relative;
    font-size: 18px;
    padding-left: 125px;
    text-align: left;
    line-height: 1.2;
  }
  .mynumber-case .mynumber-case-ttl::after {
    content: "";
    border-width: 24px 150px 0 150px;
    position: absolute;
    bottom: -24px;
    left: calc(50% - 150px);
  }
  .mynumber-case .c2 .mynumber-case-ttl {
    background: #FFC100;
  }
  .mynumber-case .c2 .mynumber-case-ttl::after {
    border-color: #FFC100 transparent transparent transparent;
  }
  .mynumber-case .mynumber-case-ttl img {
    height: 45px;
  }
  .mynumber-case .mynumber-case-body {
    padding: 30px 10px 40px;
  }
  .mynumber-case .mynumber-case-body .img-area {
    margin: 0;
  }
  .mynumber-case .mynumber-case-body .txt-area {
    padding: 10px 15px 0;
    background: #FCF9D3;
  }
  .mynumber-case .mynumber-case-body .txt-area .logo {
    width: auto;
    position: relative;
  }
  .mynumber-case .mynumber-case-body .txt-area .logo::after {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 15px;
    right: -10px;
    bottom: auto;
    top: -60px;
  }
  .mynumber-case .mynumber-case-body .txt-area .list {
    font-size: 15px;
  }
  .mynumber-case .mynumber-case-body .txt-area .list li {
    margin-bottom: 5px;
    padding: 5px 0 5px 30px;
    background: url(../../img/ico_good.png) no-repeat 2px 8px;
    background-size: 20px;
  }
  .mynumber-case.b2 {
    margin-top: -5px;
  }
  .mynumber-case.b2 .mynumber-case-block {
    padding-top: 25px;
    margin-bottom: 0;
  }
  .mynumber-case.b2 .mynumber-case-ttl {
    padding: 15px 0 0px;
    align-items: center;
    height: auto;
    line-height: 1.2;
    font-size: 20px;
  }
  .mynumber-case.b2 .mynumber-case-ttl .t1 {
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .mynumber-case.b2 .mynumber-case-ttl .t1 span {
    background: #fff;
    color: #FFC100;
  }
  .mynumber-case.b2 .c2 .mynumber-case-ttl .t1 span {
    color: #63B9C0;
  }
  .mynumber-case.b2 .mynumber-case-ttl .t2 {
    color: #003847;
    font-size: 18px;
  }
  .mynumber-case-block .mynumber-cost {
    background: #FCF9D3;
    padding: 25px 20px 15px;
    position: relative;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .mynumber-case-block .mynumber-cost .tag {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: -10px;
    left: 0;
  }
  .mynumber-case-block .mynumber-cost .tag>div {
    margin-left: 20px;
    background: #148EAD;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 0 10px 2px;
    line-height: 1.4;
  }
  .mynumber-case-block .mynumber-cost .t1 {
    font-size: 38px;
  }
  .mynumber-case-block .mynumber-cost .t2 {
    font-size: 50px;
  }
  /*-------------*/
  .mynumber-case1 {
    display: block;
    margin-bottom: 60px;
  }
  .mynumber-case1 .mynumber-case1-block {
    border: 3px solid #FFC100;
    width: 100%;
    padding: 30px 10px 30px;
  }
  .mynumber-case1 .img-area {
    margin: 0;
    text-align: center;
  }
  .mynumber-case1 .txt-area {
    padding: 55px 10px 20px;
    margin-bottom: 30px;
  }
  .mynumber-case1 .txt-area .logo {
    width: 100%;
    margin-bottom: 15px;
  }
  .mynumber-case1 .txt-area .list {
    font-size: 15px;
  }
  .mynumber-case1 .txt-area .list li {
    margin-bottom: 5px;
    padding: 5px 0 5px 30px;
    background: url(../../img/ico_good.png) no-repeat 2px 8px;
    background-size: 20px;
  }
  /*-------------*/
  .mynumber-case2 {
    margin-top: -5px;
    border: 3px solid #DDDDDD;
  }
  .mynumber-case2-block {
    position: relative;
    padding: 60px 10px 50px;
    border-bottom: 4px dotted #DDDDDD;
  }
  .mynumber-case2-block:last-child {
    border-bottom: none;
  }
  .mynumber-case2 .mynumber-case2-ttl {
    position: absolute;
    text-align: center;
    top: -19px;
    left: 0;
    /*            width: calc(100% - 20px);*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
  }
  .mynumber-case2 .mynumber-case2-ttl span {
    font-size: 18px;
    padding: 14px 15px 15px;
    width: auto;
    box-sizing: border-box;
    min-width: 0;
  }
  .mynumber-case2 .mynumber-case2-ttl span::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #0D596C transparent;
    position: absolute;
    left: -15px;
    top: 0;
  }
  .mynumber-case2 .list {
    background: #FCF9D3;
    text-align: left;
    margin-bottom: 30px;
    padding: 25px 10px;
  }
  .mynumber-case2 .list li {
    margin-bottom: 15px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #333;
  }
  .mynumber-case2 .list li:last-child {
    margin-bottom: 0;
  }
  .mynumber-case2 .list li span {
    font-size: 24px;
    padding-top: 3px;
    padding-right: 10px;
    line-height: 20px;
  }
  /*-----------------*/
  .mynumber-cost2 {
    width: auto;
    margin: 0 auto 40px;
  }
  .mynumber-cost2 .t1 {
    display: block;
    margin-bottom: 10px;
  }
  .mynumber-cost2 .t1-1-1, .mynumber-cost2 .t1-2-1 {
    font-size: 16px;
    padding: 0 0px;
  }
  .mynumber-cost2 .t1-2-1 {
    padding-left: 0px;
  }
  .mynumber-cost2 .t1-2-1::before {
    display: none;
  }
  .mynumber-cost2 .t1-1 {
    border-bottom: 1px solid #DDD;
  }
  .mynumber-cost2 .t1-1-2, .mynumber-cost2 .t1-2-2 {
    font-size: 45px;
    padding: 0 10px;
  }
  .mynumber-cost2 .t1-1-2 {
    padding-right: 10px;
  }
  .mynumber-cost2 .t1-1-2 span, .mynumber-cost2 .t1-2-2 span {
    font-size: 24px;
  }
  .mynumber-cost2 .t2 {
    padding: 15px 15px;
    font-size: 17px;
  }
  .mynumber-cost2 .t2 span {
    display: inline-block;
    font-size: 15px;
    line-height: 1.4;
    padding-top: 5px;
  }
}

/*=====================================================*/

@media screen and (max-width: 500px) {
  .block-ttl {
    font-size: 16px;
    flex-direction: column;
    padding-top: 10px;
  }
  .block-ttl::before {
    width: 100px;
  }
  .block-ttl .num {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .block-ttl .ttl {
    width: 100%;
  }
  .block-ttl .main {}
}

/*========*/

@media screen and (max-width: 599px) {
  /*------------------------------------*/
  .feature-block {
    background: rgba(0, 0, 0, 0.8);
  }
  .feature-block .feature-block-in {
    padding: 60px 0;
  }
  .feature-block .feature-block-close {}
  .feature-block .box {
    border: 7px solid #EF8300;
    padding: 30px 15px 10px;
  }
  .feature-block .box .box-ttl {
    padding: 10px 0 15px;
    font-size: 24px;
    margin-bottom: 40px;
  }
  .feature-block .box .box-ttl .sub {
    font-size: 20px;
  }
  .feature-block .box .box-ttl .main {}
  .feature-block .box .list {}
  .feature-block .box .list ul {
    display: block;
  }
  .feature-block .box .list ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-block .box .list ul li .img {
    width: 90px;
    height: 90px;
    margin: 0 10px 0 0;
    border-radius: 45px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .feature-block .box .list ul li .txt-area {
    width: 100%;
  }
  .feature-block .box .list ul li .ttl {
    display: table;
    font-size: 18px;
    height: 90px;
    line-height: 1.3;
  }
  .feature-block .box .list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
  }
  .feature-block .box .list ul li .ttl span {
    font-size: 15px;
  }
  .feature-block .box .list ul li .txt {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .feature-block .box .list.s2 ul li {
    display: block;
  }
  .feature-block .box .list.s2 ul li .img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin: 0 auto 10px;
    left: -20px;
    position: relative;
  }
  .feature-block .box .list.s2 ul li .txt-area {
    width: 100%;
    padding-top: 0px;
  }
  .feature-block .box .list.s2 ul li .ttl {
    text-align: center;
    right: auto;
    top: -10px;
    left: calc(50% + 20px);
    width: 100px;
    height: 100px;
    background: #EF8300;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    display: table;
  }
  .feature-block .box .list.s2 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
  }
  .feature-block .box .list.s2 ul li .ttl span {
    font-size: 28px;
  }
}

/*==============================*/