@charset "UTF-8";
.content{ overflow: hidden; }
.movie-gallery-outer{
    position: relative;
    z-index: 2;
    width: 100%;
}
.movie-gallery-outer .ttl{
    background: none;
}
    .movie-gallery-outer .ttl img {
        max-width: 35%;
    }
.cm-bg-wrap{
    max-width: 1200px;
    margin:0 auto -20px;
    position: relative;
}
    .cm-bg-wrap .cm-bg01-01{
        position: absolute;
        top: -55px;
        left: -75px;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .cm-bg-wrap .cm-bg01-02{
        position: absolute;
        top: 0;
        right: -65px;
        z-index: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
.movie-gallery-outer2{
    position: relative;
    height: 1060px;
    box-sizing: border-box;
    padding-top: 300px;
    margin-top: -140px;
    margin-bottom: -50px;
}
    .cm-bg02{
        position: absolute;
        right: -115px;
        top: 0;
    }
.cm-t01{
}
    .cm-t01-01{
        position: relative;
        background: url(../img/movie/cm_t01_bg.png) no-repeat center;
        padding:0 10px;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1px;
    }
    .cm-t01-02{
        position: relative;
        z-index: 3;
        padding: 0 12.5%;
        margin-top: -10px;
    }
        .cm-t01-02-in{
            background: rgba(255,255,255,.7);
            padding:55px 45px;
        }
        .cm-t01-02 p{
            line-height: 1.7;
        }


@media screen and (max-width: 1334px) {
#movie .wrap{
    width: 1200px;
    overflow: initial;
}
    .cm-bg-wrap .cm-bg01-01 img{
        width: 75%;
        margin-top: 60px;
        margin-left: 20px;
    }
    .cm-bg-wrap .cm-bg01-02 img{
        margin-top: 50px;
        width: 75%;
    }

    .cm-t01-02{
        padding: 0 8%;
        margin-top: -10px;
    }

.movie-gallery-outer2{
    height: 1060px;
    padding-top: 300px;
    margin-top: -120px;
    margin-bottom: -60px;
    overflow: visible;
}
    .cm-bg02{
        right: -115px;
        top: 0;
    }

}/*==1334=============================*/

@media screen and (max-width: 1240px) {
#movie .wrap{
    width: 100%;
    padding:0 10px;
    box-sizing: border-box;
}
}/*==1200=============================*/

@media screen and (max-width: 960px) {
.cm-bg-wrap{
    max-width: 1200px;
    margin:0 auto 0px;
    position: relative;
}

    .cm-t01-01{
    }
    .cm-t01-02{
        padding: 0 0;
        margin-top: -10px;
    }
        .cm-t01-02-in{
            padding:45px 15px;
        }
.movie-gallery-outer2{
    height: auto;
    padding: 250px 10px 0;
    margin-top: -120px;
    margin-bottom: -40px;
    width: calc(100% + 20px);
    margin-left: -10px;
}
    .cm-bg02 img{
        width: 600px;
    }


}/*==960==============================*/

@media screen and (max-width: 767px) {


    .cm-t01-01{
        height: auto;
        background: none;
    }
    .cm-t01-02{
    }
        .cm-t01-02-in{
            padding:20px 15px 40px;
        }
.movie-gallery-outer2{
    padding: 200px 10px 0;
    margin-top: -100px;
}
    .cm-bg02{
        right: -85px;
    }
    .cm-bg02 img{
        width: 500px;
    }


}/*==767==============================*/

@media screen and (max-width: 550px) {

.movie-gallery-outer2{
    padding: 150px 10px 0;
    margin-top: -100px;
}
    .cm-bg02{
        right: -40px;
    }
    .cm-bg02 img{
        width: 350px;
    }

}/*==550==============================*/







.movie-gallery {
}
.movie-gallery .inner {
  padding: 90px 80px;
}
.movie-gallery .inner ul li {
  width: 100%;
}
.movie-gallery .inner ul li span.video {
  width: 454px;
  float: left;
}
.movie-gallery .inner ul li span.video img {
  width: 100%;
  display: block;
}
.movie-gallery .inner ul li span.video span:after {
  top: 39%;
  left: 42%;
  width: 18%;
  height: 25%;
  background-size: 70%;
}
.movie-gallery .inner ul li .txt-area {
  width: calc(100% - 454px);
  padding-left: 20px;
  box-sizing: border-box;
  float: right;
  color: #fff;
}

@media screen and (max-width: 1240px) {
.movie-gallery .inner {
    padding: 90px 5%;
}
}/*==1200=============================*/

@media screen and (max-width: 960px) {
.movie-gallery .inner {
    padding: 90px 40px;
}
.movie-gallery .inner ul li span.video {
  width: 350px;
}
.movie-gallery .inner ul li .txt-area {
  width: calc(100% - 350px);
}

}/*==960==============================*/

@media screen and (max-width: 767px) {

  .movie-gallery .inner {
    padding: 10px;
  }
  .movie-gallery .inner ul li:first-child {
    margin-bottom: 40px;
  }
  .movie-gallery .inner ul li span.video {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .movie-gallery .inner ul li .txt-area {
    width: 100%;
    float: none;
    padding: 0 5px;
  }
}/*==767==============================*/
