@charset "UTF-8";
/* お知らせの装飾
/*---------------------------------*/
/*strongの定義*/
.content .entry-body strong {
  font-weight: bold;
}

.content .entry-body hr {
  margin: 2vw 0;
}

/* 導入事例ー表示調整
/*---------------------------------*/
.case-block .case-t .case-list ul li .logo {
  width: 90px;
}

@media screen and (max-width: 960px) {
  .case-block .case-t .case-list ul li .logo {
    width: 70px;
  }
}

/* セミナー情報
/*---------------------------------*/
.seminar-detail-block .t3 .box .p1 {
  margin-bottom: 40px;
}

.seminar-detail-block .t3 .box .p2 {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inherit;
}

a.decoration {
  background-color: #e66700;
  text-decoration: none;
  color: white;
  padding: 20px 90px 20px 70px;
  font-size: 26px;
  border-radius: 100px;
  position: relative;
}

a.decoration:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a.decoration::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  a.decoration {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  a.decoration {
    font-size: 18px;
    padding: 20px 70px 20px 40px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  a.decoration {
    font-size: 14px;
    padding: 20px 70px 20px 40px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/*  各種サービスTOPページ  */
/*　労務ライトお知らせ部分のスタイル
/*---------------------------------*/
section.block .roumulite {
  padding: 90px 0 0;
}

section.block .roumulite .rl-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #003846;
  border: 1px solid #003846;
  max-width: 1200px;
  margin: auto;
  padding: 55px 0 30px;
  text-align: center;
  font-weight: 400;
}

section.block .roumulite .rl-inner h2 {
  margin-top: -76.1px;
  margin-bottom: 30px;
  width: 100%;
}

section.block .roumulite .rl-inner h2 .pc {
  display: inline;
}

section.block .roumulite .rl-inner .ttl {
  font-size: 22px;
  letter-spacing: 0.05em;
}

section.block .roumulite .rl-inner .ttl::after {
  content: url("../roumu-lite/upfiles/img03.png");
  display: block;
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

section.block .roumulite .rl-inner .txt {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.04em;
  padding: 0 0 24px;
}

section.block .roumulite .rl-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.block .roumulite .rl-inner ul li {
  font-size: 16px;
  font-weight: 700;
  background-color: #ececec;
  border-radius: 4px;
  padding: 15px 38px;
}

section.block .roumulite .rl-inner ul li .material-icons {
  font-size: 20px;
  padding-right: 11px;
  vertical-align: middle;
  margin-top: -4px;
}

section.block .roumulite .rl-inner ul li:not(:last-child) {
  margin-right: 5px;
}

section.block .roumulite .rl-inner .detail {
  width: 50%;
  margin: 16px auto 0;
}

section.block .roumulite .rl-inner .detail a.decoration {
  font-size: 20px;
  display: block;
  font-weight: 700;
}

section.block .roumulite .rl-inner .notes {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

section.block .roumulite .rl-inner.roumu, section.block .roumulite .rl-inner.kyuyomeisai, section.block .roumulite .rl-inner.yukyu {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section.block .roumulite {
    padding: 100px 0 0;
  }
  section.block .roumulite .rl-inner h2 {
    margin-top: -104.5px;
  }
  section.block .roumulite .rl-inner h2 img {
    margin: auto;
    width: 50%;
  }
  section.block .roumulite .rl-inner ul li {
    padding: 15px 3px;
  }
  section.block .roumulite .rl-inner .detail {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  section.block .roumulite {
    padding: 80px 0 0;
    margin: 0 10px;
  }
  section.block .roumulite .rl-inner {
    padding: 55px 20px 30px;
    text-align: left;
  }
  section.block .roumulite .rl-inner h2 {
    margin-top: -95px;
  }
}

@media screen and (max-width: 767px) and (min-width: 376px) and (max-width: 420px) {
  section.block .roumulite .rl-inner h2 {
    margin-top: -100px;
  }
}

@media screen and (max-width: 767px) {
  section.block .roumulite .rl-inner .ttl {
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    font-weight: 700;
  }
  section.block .roumulite .rl-inner .ttl::after {
    content: "";
    background-image: url("../roumu-lite/upfiles/img03_sp.png");
    background-size: cover;
    width: 100%;
    height: 1.973vw;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  section.block .roumulite .rl-inner .txt {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0;
    padding: 24px 0 24px;
  }
  section.block .roumulite .rl-inner ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.block .roumulite .rl-inner ul li {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    padding: 13px 9px 13px 28px;
    position: relative;
  }
  section.block .roumulite .rl-inner ul li .material-icons {
    font-size: 13px;
    padding-right: 8px;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-top: 0;
  }
  section.block .roumulite .rl-inner ul li:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-right: 3px;
  }
  section.block .roumulite .rl-inner ul li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin-right: 0;
  }
  section.block .roumulite .rl-inner ul li:last-child {
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 4px;
  }
  section.block .roumulite .rl-inner .detail {
    width: 100%;
  }
  section.block .roumulite .rl-inner .detail a.decoration {
    font-size: 14px;
    padding: 13px 55px 13px 33px;
    text-align: center;
  }
  section.block .roumulite .rl-inner .detail a.decoration::after {
    width: 8px;
    height: 8px;
  }
  section.block .roumulite .rl-inner .notes {
    font-size: 12px;
    line-height: 17px;
  }
}

@media screen and (max-width: 360px) {
  section.block .roumulite .rl-inner h2 {
    margin-top: -92.1px;
  }
}

@media screen and (max-width: 360px) and (max-width: 320px) {
  section.block .roumulite .rl-inner h2 {
    margin-top: -87.1px;
  }
}

@media screen and (max-width: 360px) {
  section.block .roumulite .rl-inner .ttl::after {
    height: 6.5px;
  }
}

@media screen and (max-width: 360px) and (max-width: 320px) {
  section.block .roumulite .rl-inner .ttl::after {
    height: 6px;
  }
}

@media screen and (max-width: 360px) {
  section.block .roumulite .rl-inner ul li {
    font-size: 13px;
  }
  section.block .roumulite .rl-inner .detail a.decoration {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  section.block .roumulite .rl-inner {
    padding: 55px 10px 30px;
  }
  section.block .roumulite .rl-inner h2 {
    margin-top: -89.5px;
  }
  section.block .roumulite .rl-inner .ttl {
    font-size: 15px;
  }
  section.block .roumulite .rl-inner .ttl::after {
    height: 6px;
  }
  section.block .roumulite .rl-inner ul li {
    font-size: 12px;
  }
  section.block .roumulite .rl-inner .detail a.decoration {
    font-size: 12px;
    padding: 13px 45px 13px 20px;
  }
}

.content .block .section-inner p.notice {
  font-size: 34px;
  text-align: center;
  padding: 0px 100px;
  margin-bottom: 2%;
  font-weight: 800;
  display: block;
  color: #003846;
}

.content .block .section-inner p.notice-txt {
  text-align: center;
  margin-bottom: 3%;
}

@media screen and (max-width: 767px) {
  .content .block .section-inner p.notice {
    font-size: 21px;
    text-align: left;
    padding: 0 8%;
    margin-bottom: 2%;
  }
  .content .block .section-inner p.notice-txt {
    text-align: left;
    margin-bottom: 3%;
    padding: 0 8%;
  }
}

.c-txt p.notice-txt {
  text-align: center;
  margin-bottom: 3%;
}

.p2 .btn-large-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p2 .btn-large-text a.decoration .sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .p2 .btn-large-text a.decoration .sp {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .p2 .btn-large-text a.decoration {
    padding: 10px 40px 10px 18%;
    width: 100%;
  }
}

.seminar20200714 p.read-text {
  text-align: center;
  display: block;
}

.seminar20200714 .seminar-keynote-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.seminar20200714 .seminar-keynote-area .img-box {
  width: 20%;
  margin: 0;
  margin-right: 20px;
  margin-top: 14px;
}

.seminar20200714 .seminar-keynote-area .img-box img {
  width: 100%;
}

.seminar20200714 .seminar-keynote-area .text-box {
  width: 80%;
}

@media screen and (max-width: 767px) {
  .seminar20200714 p.read-text {
    text-align: left;
  }
  .seminar20200714 .seminar-keynote-area {
    display: block;
  }
  .seminar20200714 .seminar-keynote-area .img-box {
    width: 60%;
    margin-bottom: 2%;
  }
  .seminar20200714 .seminar-keynote-area .img-box img {
    width: 100%;
  }
  .seminar20200714 .seminar-keynote-area .text-box {
    width: 100%;
  }
  .seminar20200714 .img-size-logo2 {
    width: 70%;
  }
  .seminar20200714 .img-size-logo3 {
    width: 50%;
  }
}

.seminar-detail-block .t3 .box .p2 span#attention {
  margin-bottom: 30px;
  display: block;
  font-size: 17px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .seminar-detail-block .t3 .box .p2 span#attention {
    margin-left: 0;
  }
}

/*  OFS TOPページ
    メインビジュアルエリア
/*---------------------------------*/
.areaCm.pc {
  width: 290px;
  height: 245px;
  bottom: 20px;
}

.areaCm01 {
  position: absolute;
  top: 47%;
  left: 18%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 1281px) and (max-width: 1460px) {
  .main-img {
    background-position: 62% 0;
  }
  .areaCm01 {
    left: 5%;
  }
}

@media screen and (min-width: 1181px) and (max-width: 1280px) {
  .main-img {
    background: url("../img/home/main_img_1280.png") top center;
    height: 725px;
    background-size: cover;
    background-position: 100% 0;
  }
  .areaCm {
    right: 3%;
  }
  .areaCm01 {
    top: 50%;
    left: 5%;
  }
}

@media screen and (min-width: 961px) and (max-width: 1180px) {
  .main-img {
    height: 670px;
    background-size: 1490px auto;
    background-position: 58% 0;
  }
  .areaCm {
    right: 0;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .areaCm01 {
    top: 50%;
    left: 3%;
  }
}

@media screen and (max-width: 960px) {
  .areaCm.sp {
    top: 78%;
    width: 100%;
    min-height: unset;
    padding: 2%;
  }
  .areaCm01.sp {
    text-align: center;
    top: 66%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    padding: 2%;
  }
}

/*  OFS CMギャラリー
/*---------------------------------*/
#modal-main-6,
#modal-main-7 {
  display: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1001;
}

@media screen and (max-width: 767px) {
  #modal-main-6 iframe,
  #modal-main-7 iframe {
    width: 100%;
    height: auto;
  }
}

/* セミナー一覧の表示修正
/*---------------------------------*/
.seminar-table table td a {
  color: inherit;
  line-height: 1.5em;
  text-decoration: none;
}

.seminar-table table td a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=others.css.map */