@charset "UTF-8";

/* お知らせの装飾
/*---------------------------------*/
/*strongの定義*/
.content {
    .entry-body {
        strong {
            font-weight: bold;
        }
        hr {
            margin: 2vw 0;
        }
    }
}

/* 導入事例ー表示調整
/*---------------------------------*/
.case-block {
    .case-t {
        .case-list {
            ul {
                li {
                    .logo {
                        width: 90px;
                        @media screen and (max-width: 960px) {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
}

/* セミナー情報
/*---------------------------------*/
.seminar-detail-block {
    .t3 {
        .box {
            .p1 {
                margin-bottom: 40px;
            }

            .p2 {
                margin-bottom: 20px;
                margin-top: 20px;
                display: inherit;
            }
        }
    }
}

a.decoration {
    background-color: #e66700;
    text-decoration: none;
    color: white;
    padding: 20px 90px 20px 70px;
    font-size: 26px;
    border-radius: 100px;
    position: relative;

    &:hover {
        opacity: 0.8;
        transition: all 0.2s linear;
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        top: 50%;
        right: 30px;
        transform: translateY(-50%) rotate(45deg);
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }
}

@media screen and (max-width: 767px) {
    a.decoration {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    a.decoration {
        font-size: 18px;
        padding: 20px 70px 20px 40px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 320px) {
    a.decoration {
        font-size: 14px;
        padding: 20px 70px 20px 40px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

/*  各種サービスTOPページ  */
/*　労務ライトお知らせ部分のスタイル
/*---------------------------------*/
$rl-main-color: #003846;
$rl-gray: #ececec;
$rl-imgDir: "../roumu-lite/upfiles/";

section.block {
    .roumulite {
        padding: 90px 0 0;

        .rl-inner {
            box-sizing: border-box;
            color: $rl-main-color;
            border: 1px solid $rl-main-color;
            max-width: 1200px;
            margin: auto;
            padding: 55px 0 30px;
            text-align: center;
            font-weight: 400;

            h2 {
                margin-top: -76.1px;
                margin-bottom: 30px;
                width: 100%;

                .pc {
                    display: inline;
                }
            }

            .ttl {
                font-size: 22px;
                letter-spacing: 0.05em;

                &::after {
                    content: url($rl-imgDir + "img03.png");
                    display: block;
                    transform: translateY(-14px);
                }
            }

            .txt {
                font-size: 17px;
                line-height: 26px;
                letter-spacing: 0.04em;
                padding: 0 0 24px;
            }

            ul {
                display: flex;
                justify-content: center;

                li {
                    font-size: 16px;
                    font-weight: 700;
                    background-color: $rl-gray;
                    border-radius: 4px;
                    padding: 15px 38px;

                    .material-icons {
                        font-size: 20px;
                        padding-right: 11px;
                        vertical-align: middle;
                        margin-top: -4px;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }

            .detail {
                width: 50%;
                margin: 16px auto 0;

                a.decoration {
                    font-size: 20px;
                    display: block;
                    font-weight: 700;
                }
            }

            .notes {
                font-size: 15px;
                line-height: 23px;
                letter-spacing: 0.05em;
                margin-top: 20px;
            }

            &.roumu,
            &.kyuyomeisai,
            &.yukyu {
                background-color: #ffffff;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    section.block {
        .roumulite {
            padding: 100px 0 0;

            .rl-inner {
                h2 {
                    margin-top: -104.5px;

                    img {
                        margin: auto;
                        width: 50%;
                    }
                }

                ul {
                    li {
                        padding: 15px 3px;
                    }
                }

                .detail {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    section.block {
        .roumulite {
            padding: 80px 0 0;
            margin: 0 10px;

            .rl-inner {
                padding: 55px 20px 30px;
                text-align: left;

                h2 {
                    margin-top: -95px;

                    @media screen and (min-width: 376px) and (max-width: 420px) {
                        margin-top: -100px;
                    }
                }

                .ttl {
                    font-size: 16px;
                    letter-spacing: 0;
                    text-align: center;
                    font-weight: 700;

                    &::after {
                        content: "";
                        background-image: url($rl-imgDir + "img03_sp.png");
                        background-size: cover;
                        width: 100%;
                        height: 1.973vw;
                        transform: translateY(5px);
                    }
                }

                .txt {
                    font-size: 14px;
                    line-height: 23px;
                    letter-spacing: 0;
                    padding: 24px 0 24px;
                }

                ul {
                    display: grid;
                    grid-template-rows: auto 1fr;
                    grid-template-columns: 1fr 1fr;

                    li {
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        padding: 13px 9px 13px 28px;
                        position: relative;

                        .material-icons {
                            font-size: 13px;
                            padding-right: 8px;
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                            margin-top: 0;
                        }

                        &:first-child {
                            grid-row: 1 / 2;
                            grid-column: 1 / 2;
                            margin-right: 3px;
                        }

                        &:nth-child(2) {
                            grid-row: 1 / 2;
                            grid-column: 2 / 3;
                            margin-right: 0;
                        }

                        &:last-child {
                            grid-row: 2 / 2;
                            grid-column: 1 / 3;
                            margin-top: 4px;
                        }
                    }
                }

                .detail {
                    width: 100%;

                    a.decoration {
                        font-size: 14px;
                        padding: 13px 55px 13px 33px;
                        text-align: center;

                        &::after {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }

                .notes {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    section.block {
        .roumulite {
            .rl-inner {
                h2 {
                    margin-top: -92.1px;

                    @media screen and (max-width: 320px) {
                        margin-top: -87.1px;
                    }
                }

                .ttl {
                    &::after {
                        height: 6.5px;

                        @media screen and (max-width: 320px) {
                            height: 6px;
                        }
                    }
                }

                ul {
                    li {
                        font-size: 13px;
                    }
                }

                .detail {
                    a.decoration {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    section.block {
        .roumulite {
            .rl-inner {
                padding: 55px 10px 30px;

                h2 {
                    margin-top: -89.5px;
                }

                .ttl {
                    font-size: 15px;

                    &::after {
                        height: 6px;
                    }
                }

                ul {
                    li {
                        font-size: 12px;
                    }
                }

                .detail {
                    a.decoration {
                        font-size: 12px;
                        padding: 13px 45px 13px 20px;
                    }
                }
            }
        }
    }
}

// 共催セミナー用フォームのデザイン
.content {
    .block {
        .section-inner {
            p.notice {
                font-size: 34px;
                text-align: center;
                padding: 0px 100px;
                margin-bottom: 2%;
                font-weight: 800;
                display: block;
                color: #003846;
            }
            p.notice-txt {
                text-align: center;
                margin-bottom: 3%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .content {
        .block {
            .section-inner {
                p.notice {
                    font-size: 21px;
                    text-align: left;
                    padding: 0 8%;
                    margin-bottom: 2%;
                }
                p.notice-txt {
                    text-align: left;
                    margin-bottom: 3%;
                    padding: 0 8%;
                }
            }
        }
    }
}

// 共催セミナー用サンクスページデザイン
.c-txt {
    p.notice-txt {
        text-align: center;
        margin-bottom: 3%;
    }
}

// 共催セミナー記事 文章長いボタン用
.p2 .btn-large-text {
    display: flex;
}
.p2 .btn-large-text a.decoration .sp {
    display: none;
    @media screen and (max-width: 767px) {
        display: inline;
    }
}

@media screen and (max-width: 767px) {
    .p2 .btn-large-text a.decoration {
        padding: 10px 40px 10px 18%;
        width: 100%;
    }
}

// 7/14 外部主催セミナー「Less is More.」記事スタイル調整
.seminar20200714 {
    p.read-text {
        text-align: center;
        display: block;
    }
}
.seminar20200714 {
    .seminar-keynote-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .img-box {
            width: 20%;
            margin: 0;
            margin-right: 20px;
            margin-top: 14px;
            img {
                width: 100%;
            }
        }
        .text-box {
            width: 80%;
        }
    }
}
@media screen and (max-width: 767px) {
    .seminar20200714 {
        p.read-text {
            text-align: left;
        }
    }
    .seminar20200714 {
        .seminar-keynote-area {
            display: block;
            .img-box {
                width: 60%;
                margin-bottom: 2%;
                img {
                    width: 100%;
                }
            }
            .text-box {
                width: 100%;
            }
        }
        .img-size-logo2 {
            width: 70%;
        }
        .img-size-logo3 {
            width: 50%;
        }
    }
}

// 7/29開催 外部主催セミナー「Withコロナ時代の働き方改革～」記事スタイル調整
.seminar-detail-block .t3 .box .p2 span#attention {
    margin-bottom: 30px;
    display: block;
    font-size: 17px;
    margin-left: 10px;
}
@media screen and (max-width: 767px) {
    .seminar-detail-block .t3 .box .p2 span#attention {
        margin-left: 0;
    }
}


/*  OFS TOPページ
    メインビジュアルエリア
/*---------------------------------*/
$ofs-kv-imgDir: "../img/home/";

.areaCm.pc {
    width: 290px;
    height: 245px;
    bottom: 20px;
}
.areaCm01 {
    position: absolute;
    top: 47%;
    left: 18%;
    transform: translateY(-50%);
}

@media screen and (min-width: 1281px) and (max-width: 1460px) {
    .main-img {
        background-position: 62% 0;
    }

    .areaCm01 {
        left: 5%;
    }
}

@media screen and (min-width: 1181px) and (max-width: 1280px) {
    .main-img {
        background: url("../img/home/main_img_1280.png") top center;
        height: 725px;
        background-size: cover;
        background-position: 100% 0;
    }

    .areaCm {
        right: 3%;
    }

    .areaCm01 {
        top: 50%;
        left: 5%;
    }
}

@media screen and (min-width: 961px) and (max-width: 1180px) {
    .main-img {
        height: 670px;
        background-size: 1490px auto;
        background-position: 58% 0;
    }

    .areaCm {
        right: 0;
        transform-origin: bottom right;
        transform: scale(0.8);
    }
    .areaCm01 {
        top: 50%;
        left: 3%;
    }
}

@media screen and (max-width: 960px) {
    .areaCm.sp {
        top: 78%;
        width: 100%;
        min-height: unset;
        padding: 2%;
    }

    .areaCm01.sp {
        text-align: center;
        top: 66%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 2%;
    }
}

/*  OFS CMギャラリー
/*---------------------------------*/
#modal-main-6,
#modal-main-7 {
    display: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1001;
}

@media screen and (max-width: 767px) {
    #modal-main-6 iframe,
    #modal-main-7 iframe {
        width: 100%;
        height: auto;
    }
}

/* セミナー一覧の表示修正
/*---------------------------------*/
.seminar-table {
	table {
		td {
			a {
                color: inherit;
				line-height: 1.5em;
				text-decoration: none;
			    &:hover {
				    text-decoration: underline;
			    }
            }
		}
	}
}