@charset "UTF-8";
.facebook-btn{
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
}
    .facebook-btn a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background: #4A68B0;
        color: #fff;
        text-decoration: none;
        box-sizing: border-box;
        width: 520px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        transition: 0.2s;
        position: relative;
        cursor: pointer;
        border-radius: 25px;
        padding:0 10px 2px;
    }
    .facebook-btn a:hover{
        opacity: 0.8;
        transition: all .2s linear;
    }
        .facebook-btn a > span{
            padding:3px 0 3px 30px;
            background: url(/img/common/ico_facebook.svg) no-repeat left 5px;
            background-size: 20px auto;
        }
/*------------------------------------*/
.f-footer .seminar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #62B9C0;
}
    .f-footer .seminar-btn a{
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        width: 515px;
        line-height: 28px;
        border:1px solid #fff;
        border-radius: 30px;
        box-sizing: border-box;
        padding:15px 0;
        text-align: center;
        position: relative;
        transition: .2s;
    }
    .f-footer .seminar-btn a:hover{
        background: #71BFC6;
    }
    .f-footer .seminar-btn a::after{
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #FFF;
        border-right: 2px solid #FFF;
        box-sizing: border-box;
        top: calc(50% + 1px);
        right: 20px;
        transform: translateY(-50%) rotate(45deg);
    }

/*------------------------------------*/
.seminar-list-cat{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 80px;
}
    .seminar-list-cat-block{
        background: #EEEEEE;
        display: flex;
        justify-content: flex-start;
    }
    .seminar-list-cat-block.s1{
        width: 60%;
        min-width: 720px;
    }
    .seminar-list-cat-block.s2{
        width: 40%;
        min-width: 480px;
    }
        .seminar-list-cat .ttl{
            background: #003847;
            color: #fff;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .seminar-list-cat ul{
            width: calc(100% - 100px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding: 15px 20px;
            box-sizing: border-box;
        }
            .seminar-list-cat ul li{
                margin:3px 8px 3px 0;
            }
                .seminar-list-cat ul li span{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 55px;
                    min-width: 120px;
                    box-sizing: border-box;
                    padding:0 10px;
                    background: #fff;
                    color: #003847;
                    border-radius: 30px;
                    transition: .2s;
                    cursor: pointer;
                }
                /*
                .seminar-list-cat ul li a:hover{
                    background:rgb(255, 169, 58);
                    color: #fff;
                }
                */
                .seminar-list-cat ul li.active span,
                .seminar-list-cat ul li span:hover{
                    background: #E66700;
                    color: #fff;
                }
@media screen and (max-width: 1199px) {
    .seminar-list-cat-block.s1{
        width: 100%;
        min-width: 0;
    }
    .seminar-list-cat-block.s2{
        width: 100%;
        min-width: 0;
        margin-top: 5px;
    }

}/*================*/

/*------------------------------------*/
.seminar-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -40px;
}
    .seminar-list-block{
        width: calc(50% - 40px);
        margin-left: 40px;
        margin-bottom: 70px;
        border:1px solid #333;
        box-sizing: border-box;
        position: relative;
    }
    .seminar-list-block .in{
        padding:40px 25px 20px;
        margin-bottom: 95px;
    }

        .seminar-list-block .status{
            position: absolute;
            width: 120px;
            padding: 10px 0 11px;
            text-align: center;
            color: #fff;
            background: #E66700;
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            top: -11px;
            right: 20px;
        }
        .seminar-list-block .status::before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 10px 14px;
            border-color: transparent transparent #813700 transparent;
            position: absolute;
            top: 0;
            left: -14px;
        }
        .seminar-list-block .status.full,
        .seminar-list-block .status.close{
            background: #9A9B8B;
        }
        .seminar-list-block .status.full::before,
        .seminar-list-block .status.close::before{
            border-color: transparent transparent #777868 transparent;
        }

        .seminar-list-block .t1{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
            .seminar-list-block .t1 .tag{
                display: flex;
                justify-content: flex-start;
                margin-left: -12px;
                font-size: 17px;
            }
                .seminar-list-block .t1 .tag li{
                    margin-left: 12px;
                    background: #F6F6F6;
                    width: 130px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    color: #043949;
                }
                .seminar-list-block .t1 .tag li.c1{
                    background: #309AB4;
                    color: #FFF;
                }
                .seminar-list-block .t1 .tag li.c2{
                    background: #E66700;
                    color: #FFF;
                }
            .seminar-list-block .t1 .date{
                color: #043949;
                font-style: italic;
                font-size: 30px;
                font-weight: 600;
                line-height: 1;
            }
                .seminar-list-block .t1 .date span{
                    font-size: 50px;
                }
        .seminar-list-block .t2{
            padding:0 3px;
            margin-bottom: 30px;
        }
            .seminar-list-block .t2 .ttl{
                border-left: 4px solid #E66700;
                padding:8px 18px;
                font-weight: 600;
                font-size: 21px;
                color: #043949;
                line-height: 1.3;
                margin-bottom: 15px;
            }
            .seminar-list-block .t2 p{
                font-size: 16px;
                line-height: 1.6;
                color: #333;
            }
        .seminar-list-block .t3{
            margin: 0;
        }
            .seminar-list-block .t3 table{
                width: 100%;
                border-collapse: collapse;
                font-size: 16px;
                line-height: 1.5;
                color: #333;
            }
                .seminar-list-block .t3 table th{
                    width: 3em;
                    text-align: center;
                    vertical-align: top;
                    font-weight: 600;
                    color: #043949;
                    padding:5px 0;
                }
                .seminar-list-block .t3 table td{
                    text-align: left;
                    vertical-align: top;
                    font-weight: 400;
                    padding:5px 5px 5px 15px;
                }
                    .seminar-list-block .t3 table td div{
                        border-left: 1px solid #043949;
                        padding-left: 20px;
                        padding-bottom: 1px;
                    }


        .seminar-list-block .btn{
            position: absolute;
            left: 0;
            bottom: 0;
            height: 95px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px dotted #333;
        }
            .seminar-list-block .btn a{
                display: block;
                text-align: center;
                text-decoration: none;
                position: relative;
                background: #003847;
                color: #fff;
                font-weight: 500;
                font-size: 18px;
                border-radius: 30px;
                width: calc(100% - 30px);
                padding:15px;
                box-sizing: border-box;
                transition: .2s;
            }
            .seminar-list-block .btn a:hover{
                opacity: .9;
            }
            .seminar-list-block .btn a::after{
                position: absolute;
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-top: 2px solid #FFF;
                border-right: 2px solid #FFF;
                box-sizing: border-box;
                top: calc(50% + 1px);
                right: 20px;
                transform: translateY(-50%) rotate(45deg);
            }
.seminar-notfound {
    width: 100%;
    padding-bottom: 35px;
    text-align: center;
}
    .seminar-notfound span {
        font-weight: bolder;
    }


@media screen and (max-width: 1199px) {
.seminar-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -25px;
}
    .seminar-list-block{
        width: calc(50% - 25px);
        margin-left: 25px;
    }
        .seminar-list-block .t1{
            margin-bottom: 30px;
        }
            .seminar-list-block .t1 .tag{
                display: flex;
                justify-content: flex-start;
                margin-left: -10px;
                font-size: 16px;
            }
                .seminar-list-block .t1 .tag li{
                    margin-left: 10px;
                    width: 100px;
                    height: 45px;
                }
            .seminar-list-block .t1 .date{
                font-size: 25px;
            }
                .seminar-list-block .t1 .date span{
                    font-size: 42px;
                }


}/*================*/

/*------------------------------------*/
.voice-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -40px;
}
    .voice-list-block{
        width: calc(50% - 40px);
        margin-left: 40px;
        margin-bottom: 60px;
        background: #F6F6F6;
        box-sizing: border-box;
        position: relative;
        padding:40px 35px;
    }
        .voice-list-block .ttl{
            font-size: 21px;
            color: #003847;
            font-weight: 600;
            margin-bottom: 25px;
        }
        .voice-list-block .txt{
            font-size: 16px;
            color: #333;
            line-height: 1.7;
        }
            .voice-list-block .txt p{
                margin-bottom: 15px;
            }

/*------------------------------------*/
.photo-list{
/*    display: flex;*/
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 80px;
    position: relative;
}
    .photo-list .item{
        width: calc(33.333% - 0px);
        padding: 0px 15px;
        box-sizing: border-box;
        text-align: center;
    }


/*------------------------------------*/
.seminar-detail{
    margin-bottom: 20px;
}
.seminar-detail-block{
    border-bottom:1px solid #043949;
    padding-bottom: 15px;
}
    .seminar-detail-block .entry-nav .entry-nav-back{
        width: 220px;
        position: relative;
        margin:0 auto;
        left: auto;
        right: auto;
    }
    .seminar-detail-block .entry-nav .entry-nav-back.top{
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 1;
    }
    .seminar-detail-block .detail-main-img{
        text-align: center;
        margin-bottom: 80px;
    }

    .seminar-detail-block .detail-txt{
        margin-bottom: 110px;
    }
        .seminar-detail-block .detail-txt .ttl{
            font-weight: 600;
            font-size: 26px;
            color: #043949;
            line-height: 1.3;
            margin-bottom: 40px;
            padding-top: 40px;
            position: relative;
        }
            .seminar-detail-block .detail-txt .ttl::before{
                content: "";
                position: absolute;
                width: 170px;
                height: 2px;
                background: #fc8f00;
                background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
                background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
                background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07',GradientType=1 );
                top: 0;
                left: 0;
            }
        .seminar-detail-block .detail-txt p{
            font-size: 17px;
            line-height: 2;
            color: #333;
        }

    .seminar-detail-block .t1{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
        position: relative;
    }
        .seminar-detail-block .t1 .date{
            color: #043949;
            font-style: italic;
            font-size: 30px;
            font-weight: 600;
            line-height: 1;
            margin-right: 40px;
            border-bottom: 1px solid #E66700;
            padding-bottom: 12px;
        }
            .seminar-detail-block .t1 .date span{
                font-size: 50px;
            }

        .seminar-detail-block .t1 .tag{
            display: flex;
            justify-content: flex-start;
            font-size: 17px;
        }
            .seminar-detail-block .t1 .tag li{
                margin-right: 12px;
                background: #F6F6F6;
                width: 130px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #043949;
            }
                .seminar-detail-block .t1 .tag li.c1{
                    background: #309AB4;
                    color: #FFF;
                }
                .seminar-detail-block .t1 .tag li.c2{
                    background: #E66700;
                    color: #FFF;
                }

    .seminar-detail-block .t2{
        position: relative;
        margin-bottom: 70px;
        padding-left: 120px;
    }
        .seminar-detail-block .status{
            position: absolute;
            width: 100px;
            height: 100px;
            text-align: center;
            color: #fff;
            background: #E66700;
            font-weight: 500;
            font-size: 20px;
            line-height: 1;
            top: calc(50% - 50px);
            left: 0px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .seminar-detail-block .status.full{
            background: #9A9B8B;
        }
        .seminar-detail-block .t2 .ttl{
            font-weight: 600;
            font-size: 28px;
            color: #043949;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        .seminar-detail-block .t2 .data{
            display: flex;
            justify-content: flex-start;
            line-height: 1.3;
        }
            .seminar-detail-block .t2 .data dl{
                display: flex;
                justify-content: flex-start;
                font-size: 16px;
                margin-right: 25px;
            }
                .seminar-detail-block .t2 .data dl dt{
                    font-weight: 600;
                    padding-right: 17px;
                    border-right: 1px solid #043949;
                    color: #043949;
                }
                .seminar-detail-block .t2 .data dl dd{
                    padding-left: 15px;
                    color: #333;
                }

    .seminar-detail-block .t3{
        margin-bottom: 110px;
    }
        .seminar-detail-block .t3 .box{
            border:1px solid #E7E7E7;
            display: flex;
            justify-content: flex-start;
            background: #F6F6F6;
            margin-bottom: 25px;
        }
            .seminar-detail-block .t3 .box .box-ttl{
                width: 240px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #021E2A;
                color: #fff;
                font-weight: 600;
                font-size: 22px;
            }
            .seminar-detail-block .t3 .box .box-body{
                padding:25px 35px;
                box-sizing: border-box;
                width: calc(100% - 240px);
            }
            .seminar-detail-block .t3 .box .table{
                display: flex;
                justify-content: flex-start;
                margin-left: -30px;
            }
            .seminar-detail-block .t3 table{
                margin-left: 30px;
                width: calc(50% - 30px);
                border-collapse: collapse;
                font-size: 16px;
                line-height: 1.5;
                color: #333;
            }
                .seminar-detail-block .t3 table th{
                    min-width: 3em;
                    text-align: left;
                    vertical-align: top;
                    font-weight: 600;
                    color: #043949;
                    padding:5px 0;
                }
                .seminar-detail-block .t3 table td{
                    text-align: left;
                    vertical-align: top;
                    font-weight: 400;
                    padding:5px 5px 5px 5px;
                }
                    .seminar-detail-block .t3 table td div{
                        border-left: 1px solid #043949;
                        padding-left: 20px;
                        padding-bottom: 1px;
                    }
                    .seminar-detail-block .t3 table td a.map{
                        display: inline-block;
                        margin-top: 5px;
                        padding: 5px 0 5px 25px;
                        background: url(/img/seminar/pin.svg) no-repeat left 10px;
                        background-size: 13px 20px;
                        color: #fc8f00;
                        text-decoration: none;
                    }
                    .seminar-detail-block .t3 table td a.map:hover{
                        text-decoration: underline;
                    }

            .seminar-detail-block .t3 .box .p1{
                color: #333;
                font-size: 16px;
                margin-bottom: 25px;
            }
            .seminar-detail-block .t3 .box .p2{
                font-weight: 600;
                font-size: 16px;
                color: #333;
                margin-bottom: 10px;
                display: flex;
                justify-content: flex-start;
                margin-left: -30px;
            }
                .seminar-detail-block .t3 .box .p2 > *{
                    margin-left: 30px;
                }
            .seminar-detail-block .t3 .box .inq{
                display: flex;
                justify-content: flex-start;
                margin-left: -60px;
                font-size: 32px;
                font-weight: 800;
                color: #012032;
            }
                .seminar-detail-block .t3 .box .inq > div{
                    margin-left: 60px;
                    line-height: 1.2;
                }
                .seminar-detail-block .t3 .box .inq .tel span{
                    padding-left: 45px;
                    background: url(/img/ico_tel.png) 6px center no-repeat;
                    color: #012032;
                }
                .seminar-detail-block .t3 .box .inq .mail{
                    padding-left: 50px;
                    background: url(/img/ico_mail01.png) left center no-repeat;
                }


    .seminar-detail-block .lecture-list{
        display: flex;
        justify-content: center;
        margin-left: -60px;
    }
        .seminar-detail-block .lecture-list .lecture-list-block {
            width: 360px;
            margin-left: 60px;
        }
            .seminar-detail-block .lecture-list .lecture-list-block .img-area{
                margin-bottom: 25px;
                text-align: center;
            }
            .seminar-detail-block .lecture-list .lecture-list-block .txt-area{
                text-align: left;
            }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .name{
                    font-weight: 600;
                    font-size: 18px;
                    color: #043949;
                    margin-bottom: 22px;
                }
                    .seminar-detail-block .lecture-list .lecture-list-block .txt-area .name span{
                        font-size: 26px;
                        margin-right: 5px;
                    }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .p1 p{
                    line-height: 1.7;
                    color: #043949;
                    font-weight: 400;
                    font-size: 18px;
                    margin-bottom: 40px;
                }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .p2{
                    font-size: 16px;
                    color: #333;
                    line-height: 1.6;
                }



