@charset "UTF-8";
@media screen and (max-width: 960px) {

.facebook-btn{
    margin-bottom: 50px;
}
    .facebook-btn a{
        width: 100%;
        height: 50px;
        font-size: 15px;
        padding:0 20px 1px;
    }
        .facebook-btn a > span{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding:3px 0 3px 35px;
            background: url(/img/common/ico_facebook.svg) no-repeat left center;
            background-size: 25px auto;
        }
/*------------------------------------*/
.f-footer .seminar-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #62B9C0;
}
    .f-footer .seminar-btn a{
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        width: 515px;
        line-height: 28px;
        border:1px solid #fff;
        border-radius: 30px;
        box-sizing: border-box;
        padding:15px 0;
        text-align: center;
        position: relative;
        transition: .2s;
    }
    .f-footer .seminar-btn a:hover{
        background: #71BFC6;
    }
    .f-footer .seminar-btn a::after{
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #FFF;
        border-right: 2px solid #FFF;
        box-sizing: border-box;
        top: calc(50% + 1px);
        right: 20px;
        transform: translateY(-50%) rotate(45deg);
    }

/*------------------------------------*/
.seminar-list-cat{
    display: block;
    font-size: 16px;
    margin-bottom: 80px;
}
    .seminar-list-cat-block{
        display: block;
    }
    .seminar-list-cat-block.s1{
        width: 100%;
        margin-bottom: 10px;
    }
    .seminar-list-cat-block.s2{
        width: 100%;
    }
        .seminar-list-cat .ttl{
            width: auto;
        }
        .seminar-list-cat ul{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 10px 10px 15px;
            font-size: 15px;
            width: 100%;
        }
            .seminar-list-cat ul li{
                margin-right: 5px;
                margin-bottom: 5px;
            }
                .seminar-list-cat ul li span{
                    height: 40px;
                    min-width: 80px;
                    padding:0 10px;
                    border-radius: 20px;
                }

/*------------------------------------*/
.seminar-list{
    display: block;
    margin-left: 0px;
}
    .seminar-list-block{
        width: 100%;
        max-width: 700px;
        margin: 0px auto 70px;
    }
    .seminar-list-block .in{
        padding:30px 15px 20px;
        margin-bottom: 75px;
    }

        .seminar-list-block .status{
            width: 100px;
            padding: 8px 0 9px;
            font-size: 17px;
            top: -11px;
            right: 15px;
        }

        .seminar-list-block .t1{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
            .seminar-list-block .t1 .tag{
                display: flex;
                justify-content: flex-start;
                margin-left: 0;
                margin-right: 10px;
                margin-bottom: 5px;
                font-size: 15px;
            }
                .seminar-list-block .t1 .tag li{
                    margin-left: 0;
                    margin-right: 5px;
                    width: 85px;
                    height: 40px;
                }
            .seminar-list-block .t1 .date{
                font-size: 20px;
            }
                .seminar-list-block .t1 .date span{
                    font-size: 38px;
                }
        .seminar-list-block .t2{
            padding:0 3px;
            margin-bottom: 20px;
        }
            .seminar-list-block .t2 .ttl{
                padding:4px 0px 4px 12px;
                font-size: 19px;
                margin-bottom: 15px;
            }
            .seminar-list-block .t2 p{
                font-size: 15px;
            }
        .seminar-list-block .t3{
            margin: 0;
        }
            .seminar-list-block .t3 table{
                font-size: 15px;
                line-height: 1.4;
            }
                .seminar-list-block .t3 table th{
                    width: 2.5em;
                    text-align: left;
                    padding:5px 4px;
                }
                .seminar-list-block .t3 table td{
                    padding:5px 5px 5px 10px;
                }
                    .seminar-list-block .t3 table td div{
                        padding-left: 10px;
                        padding-bottom: 1px;
                    }

        .seminar-list-block .btn{
            height: 75px;
            width: 100%;
            padding:0 15px;
        }
            .seminar-list-block .btn a{
                font-size: 16px;
                width: 100%;
                padding:10px 10px 11px;
            }
.seminar-notfound {
    text-align: left;
}

/*------------------------------------*/
.voice-list{
    display: block;
    margin-left: 0px;
}
    .voice-list-block{
        width: 100%;
        max-width: 700px;
        margin:0 auto 60px;
        padding:30px 25px;
    }
        .voice-list-block .ttl{
            font-size: 18px;
            margin-bottom: 15px;
        }
        .voice-list-block .txt{
            font-size: 15px;
            line-height: 1.6;
        }
            .voice-list-block .txt p{
                margin-bottom: 10px;
            }

/*------------------------------------*/
.photo-list{
}
    .photo-list .item{
        padding: 0px 5px;
    }


/*------------------------------------*/
.seminar-detail{
    margin-bottom: 20px;
}
.seminar-detail-block{
    padding-bottom: 45px;
}
    .seminar-detail-block .entry-nav{
        margin-bottom: 0;
    }
    .seminar-detail-block .entry-nav .entry-nav-back{
        width: 220px;
        position: relative;
        margin:0 auto;
        left: auto;
        right: auto;
    }
    .seminar-detail-block .entry-nav .entry-nav-back.top{
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 1;
    }
    .seminar-detail-block .detail-main-img{
        text-align: center;
        margin-bottom: 60px;
        width: calc(100% + 20px);
        margin-left: -10px;
    }

    .seminar-detail-block .detail-txt{
        margin-bottom: 80px;
    }
        .seminar-detail-block .detail-txt .ttl{
            font-size: 21px;
            margin-bottom: 30px;
            padding-top: 20px;
        }
            .seminar-detail-block .detail-txt .ttl::before{
                width: 150px;
            }
        .seminar-detail-block .detail-txt p{
            font-size: 15px;
            line-height: 1.8;
        }

    .seminar-detail-block .t1{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
        .seminar-detail-block .t1 .date{
            font-size: 26px;
            margin-right: 40px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
            .seminar-detail-block .t1 .date span{
                font-size: 40px;
            }

        .seminar-detail-block .t1 .tag{
            display: flex;
            justify-content: flex-start;
            font-size: 16px;
        }
            .seminar-detail-block .t1 .tag li{
                margin-right: 10px;
                width: 100px;
                height: 45px;
                padding-bottom: 2px;
            }

    .seminar-detail-block .t2{
        position: relative;
        margin-bottom: 40px;
        padding-left: 0px;
    }
        .seminar-detail-block .status{
            width: 70px;
            height: 70px;
            font-size: 17px;
            top: 0;
            border-radius: 35px;
        }
        .seminar-detail-block .t2 .ttl{
            font-size: 22px;
            margin-bottom: 20px;
            min-height: 70px;
            padding-left: 82px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .seminar-detail-block .t2 .data{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
            .seminar-detail-block .t2 .data dl{
                display: flex;
                justify-content: flex-start;
                font-size: 16px;
                margin-right: 25px;
                margin-bottom: 10px;
            }
                .seminar-detail-block .t2 .data dl dt{
                    padding-right: 17px;
                    padding-left: 5px;
                }
                .seminar-detail-block .t2 .data dl dd{
                    padding-left: 15px;
                    color: #333;
                }

    .seminar-detail-block .t3{
        margin-bottom: 60px;
    }
        .seminar-detail-block .t3 .box{
            flex-direction: column;
            margin-bottom: 25px;
        }
            .seminar-detail-block .t3 .box .box-ttl{
                width: 100%;
                font-size: 19px;
                padding: 5px 0 6px;
            }
            .seminar-detail-block .t3 .box .box-body{
                padding:20px 15px;
                width: 100%;
            }
            .seminar-detail-block .t3 .box .table{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-left: 0px;
            }
            .seminar-detail-block .t3 table{
                margin-left: 0px;
                width: 100%;
                border-collapse: collapse;
                font-size: 15px;
                line-height: 1.4;
            }
                .seminar-detail-block .t3 table th{
                    width: 4em;
                    padding:5px 5px 5px 0;
                }
                .seminar-detail-block .t3 table td{
                    font-weight: 400;
                    padding:5px 5px 5px 5px;
                }
                    .seminar-detail-block .t3 table td div{
                        padding-left: 15px;
                        padding-bottom: 1px;
                    }
                    .seminar-detail-block .t3 table td a.map{
                        padding: 5px 0 5px 22px;
                        background: url(/img/seminar/pin.svg) no-repeat left 8px;
                        background-size: 13px auto;
                    }

            .seminar-detail-block .t3 .box .p1{
                font-size: 16px;
                margin-bottom: 25px;
            }
            .seminar-detail-block .t3 .box .p2{
                margin-bottom: 15px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-left: -30px;
            }
                .seminar-detail-block .t3 .box .p2 span{
                    margin-left: 30px;
                    margin-bottom: 5px;
                }
            .seminar-detail-block .t3 .box .inq{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-left:0px;
                font-size: 28px;
            }
                .seminar-detail-block .t3 .box .inq > div{
                    line-height: 1.2;
                    margin: 15px 20px;
                }
                .seminar-detail-block .t3 .box .inq .tel span{
                    padding-left: 33px;
                    padding-right: 10px;
                    background: url(/img/ico_tel.png) 3px center no-repeat;
                    background-size: 20px 30px;
                }
                .seminar-detail-block .t3 .box .inq .mail{
                    font-size: 24px;
                    padding-left: 40px;
                    padding-right: 10px;
                    background: url(/img/ico_mail01.png) left center no-repeat;
                    background-size: 30px 30px;
                }


    .seminar-detail-block .lecture-list{
        display: block;
        justify-content: center;
        margin-left: 0px;
        padding:0 3px;
    }
        .seminar-detail-block .lecture-list .lecture-list-block {
            width: 100%;
            margin-left: 0px;
            margin-bottom: 50px;
            position: relative;
        }
            .seminar-detail-block .lecture-list .lecture-list-block .img-area{
                margin-bottom: 25px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
                overflow: hidden;
            }
            .seminar-detail-block .lecture-list .lecture-list-block .txt-area{
                text-align: left;
            }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .p1{
                    padding-left: 130px;
                    min-height: 120px;
                    margin-bottom: 20px;
                }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .name{
                    font-size: 15px;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }
                    .seminar-detail-block .lecture-list .lecture-list-block .txt-area .name span{
                        font-size: 21px;
                        margin-right: 5px;
                    }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .p1 p{
                    line-height: 1.4;
                    font-size: 15px;
                    margin-bottom: 0px;
                }
                .seminar-detail-block .lecture-list .lecture-list-block .txt-area .p2{
                    font-size: 15px;
                    line-height: 1.6;
                }



}/*==================================================================*/
