@charset "UTF-8";

/*====================================================================================================*/
@media screen and (max-width: 767px) {
  .page-ttl {
    margin-top: 52px;
    padding: 0px 0 0px;
    font-size: 26px;
    font-weight: 400;
    height: 100px;
  }
  .page-ttl span.sub {
    font-size: 16px;
  }

  /*------------------------------------*/
  .c-ttl2 {
    font-size: 22px;
  }
  .c-ttl2 .main {
    font-size: 23px;
  }
  .c-ttl2 .main span.sp {
    display: none !important;
  }
  .c-ttl2 .sub {
    font-size: 18px;
  }

  /*------------------------*/
  .b-ttl {
    padding-top: 35px;
    margin-bottom: 40px;
    font-size: 22px;
  }

  /*----------------------*/
  .movie {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .movie iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }

  /*----------------------*/
  .policy {
    padding: 0 5px;
  }

  /*------------------------*/
  .c-table {
  }
  .c-table table {
  }
  .c-table table th{
    font-size: 15px;
  }
  .c-table table td{
    padding: 10px 10px 11px;
    font-size: 13px;
  }

  /*----------*/
  .c-table2 {
    margin-bottom: 40px;
  }
  .c-table2 table {
    width: 100%;
    line-height: 2;
    font-size: 16px;
  }
  .c-table2 table tr {
    display: block;
  }
  .c-table2 table th {
    display: block;
    padding: 15px 10px 0;
    width: auto;
    border-bottom: none;
    font-size: 17px;
  }
  .c-table2 table td {
    display: block;
    padding: 10px 10px 30px;
    font-size: 15px;
  }

  /*------------------------*/
  .c-box {
    padding-top: 50px;
  }
  .c-box-in {
    position: relative;
    background: #f6f6f6;
    margin: 0px 0 60px;
    padding: 50px 15px 20px;
  }
  .c-box-in:nth-child(even) {
    background: #fff;
    border: 1px solid #eee;
  }
  .c-box .c-box-ttl {
    width: calc(100% - 30px);
    height: auto;
    min-height: 50px;
    left: 15px;
    top: -25px;
    font-size: 18px;
    line-height: 1.2;
    border-radius: 25px;
    padding: 10px 10px 13px;
  }
  .c-box .c-box-ttl::after {
    bottom: -10px;
  }

  /*------------------------*/
  .faq-list2 {
    position: relative;
  }
  .faq-list2::after {
    display: none;
  }
  .faq-list2 ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .faq-list2 ul li {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 0;
    margin: 10px 0px;
  }
  .faq-list2 ul li:nth-child(even) {
    padding: 0 0 0 0px;
  }
  .faq-list2 ul li::before {
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 35px;
    border-radius: 20px;
  }
  .faq-list2 ul li > span {
    width: calc(100% - 52px);
    line-height: 1.4;
  }

  /*------------------------*/
  .c-btn .c5 {
    width: 100%;
  }

  /*------------------------*/
  .faq-float {
    width: 100%;
    top: 0px;
    min-width: 0;
    z-index: 5;
    box-sizing: border-box;
    padding-right: 55px;
  }
  .faq-float img {
    width: 120%;
    max-width: none;
    margin-left: -10%;
  }

  /*------------------------*/
  .column-wrap .main-column {
    width: 100%;
    margin-bottom: 80px;
  }
  .column-wrap .side-column {
    width: 100%;
    margin-bottom: 80px;
  }

  /*------------------------*/
  .news-list {
    padding-top: 45px;
    margin-bottom: 30px;
  }
  .news-list ul {
  }
  .news-list li {
  }
  .news-list li a {
    padding: 10px 5px;
  }

  /*------------------------*/
  .side-list {
    margin-bottom: 30px;
  }
  .side-list .ttl {
    font-size: 20px;
  }
  .side-list .list {
  }
  .side-list .list li {
  }
  .side-list .list li a {
    padding: 15px 20px;
  }
  .side-list .list li a:hover {
    opacity: 0.7;
  }
  .side-list .btn {
    padding-top: 20px;
  }
  .side-list .btn a {
    height: 45px;
    border-radius: 23px;
  }

  /*------------------------*/
  .entry {
  }
  .entry .entry-ttl {
    margin-bottom: 20px;
  }
  .entry .entry-ttl .ttl {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .entry .entry-ttl .data {
    font-size: 14px;
  }
  .entry .entry-ttl .data .date {
    margin-right: 20px;
    border-right: 1px solid #333;
    padding-right: 20px;
  }
  .entry .entry-ttl .data .cat {
    background: #e57200;
    color: #fff;
    padding: 3px 15px;
    font-size: 13px;
  }

  .entry .entry-body {
    padding: 30px 5px 50px;
    margin-bottom: 30px;
  }

  .entry-nav {
    margin-bottom: 50px;
    padding-bottom: 80px;
  }
  .entry-nav .entry-nav-back {
    width: 200px;
    left: calc(50% - 100px);
    top: auto;
    bottom: 0;
  }
  .case-detail .entry-nav .entry-nav-back {
    width: 220px;
    left: calc(50% - 110px);
  }

  /*------------------------*/
  .case-list {
    flex-direction: column;
    /*margin-bottom: 50px;*/
    margin-bottom: inherit;
    margin-left: 0px;
    padding: 0 5px;
  }
  .case-list .case-block {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-bottom: 0px;
    border-bottom: 1px dotted #003847;
    padding: 10px 0px;
    box-sizing: border-box;
    position: relative;
  }
  .case-list .case-block a {
    padding: 15px 30px 25px 10px;
  }
  .case-list .case-block a::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 12px;
    top: calc(50% - 4px);
    position: absolute;
    clear: both;
  }
  .case-list .case-block .img-area {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 120px;
    text-align: left;
  }
  .case-list .case-block .txt-area {
    margin-bottom: 15px;
    width: calc(100% - 130px);
    float: left;
  }
  .case-list .case-block .txt-area .ttl {
    font-size: 16px;
  }
  .case-list .case-block .txt-area .txt {
    font-size: 14px;
  }
  .case-list .case-block .data {
    /*display: flex;*/
    display: block;
    width: 130px;
    position: relative;
    bottom: auto;
    font-size: 11px;
    line-height: 1.2;
    color: #333;
  }
  .case-list .case-block .data .num {
    display: block;
    margin-right: 8px;
    margin-bottom: 4px;
    padding-right: 5px;
    /*border-right: 1px solid #333;*/
    border-right: none;
  }
  .case-list .case-block .data .tag {
    color: #ed6f0a;
  }

  /*------------------------*/
  .search-tag {
    margin-bottom: 0px;
  }
  .search-tag .tag-body {
    background: #eeeeee;
    padding: 20px 15px 15px;
  }
  .search-tag .tag-body ul {
    margin-left: -8px;
  }
  .search-tag .tag-body ul li {
    margin-left: 8px;
    margin-bottom: 10px;
  }
  .search-tag .tag-body ul li a {
    padding: 5px 15px 6px;
    border-radius: 20px;
    font-size: 14px;
  }

  /*------------------------*/
  .case-detail{
    padding:0 ;
  }
  .case-detail .case-head {
    position: relative;
    margin-bottom: 40px;
  }
  .case-detail .case-head .ttl-area {
    flex-direction: column;
    margin-bottom: 35px;
    padding-right: 0px;
    padding-top: 20px;
  }
  .case-detail .case-head .ttl-area .ttl {
    font-size: 21px;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .case-detail .case-head .ttl-area .cat ul {
    margin-left: -3px;
  }
  .case-detail .case-head .ttl-area .cat ul li {
    margin-left: 3px;
    padding: 7px 10px;
    font-size: 13px;
    line-height: 1;
  }

  .case-detail .case-head .sub-ttl {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .case-detail .case-head .data {
    font-size: 14px;
    line-height: 1.2;
    color: #333;
  }
.case-detail .case-head .data .num {
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid #333;
  line-height: 1.6;
}
  .case-detail .case-head .data .num br{
    display: block;
  }

  .case-detail .case-head .btn-back {
    position: absolute;
    top: 0;
    right: 0;
  }

  .case-detail .img-area {
    text-align: center;
    margin-bottom: 50px;
  }

  .case-detail .company-data {
    background: #f6f6f6;
    border: 1px solid #e4e4e4;
    padding: 25px 15px;
    margin-bottom: 100px;
  }
  .case-detail .company-data dl {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .case-detail .company-data dl dt {
    width: auto;
    text-align: left;
    margin-bottom: 20px;
  }
  .case-detail .company-data dl dd {
    width: auto;
    font-size: 14px;
  }
  .case-detail .company-data dl dd p + p {
    margin-top: 20px;
  }

  /*------------------------*/
  .interview {
    margin-bottom: 100px;
  }
  .interview .interview-ttl {
    font-size: 28px;
    padding-bottom: 15px;
  }

  .interview .interview-qa {
  }
  .interview .interview-q {
    font-size: 18px;
    padding-left: 35px;
    position: relative;
    line-height: 1.5;
  }
  .interview .interview-q::before {
/*    width: 22px;*/
    top: 14px;
  }

  .interview .interview-a + .interview-q {
    margin-top: 70px;
  }
  .interview .interview-a {
    margin-top: 40px;
  }
  .interview .interview-a .name {
    width: 60px;
    font-size: 18px;
    background: url(../img/interview_bg.png) no-repeat 0px top;
    background-size: 50px 50px;
  }
  .interview .interview-a .name > span {
    width: 60px;
  }
  .interview .interview-a .txt {
    width: calc(100% - 80px);
    font-size: 15px;
    padding-top: 15px;
  }
  /*----------*/
  .interview .interview-qa h3 {
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

  .interview .interview-qa h4 {
    font-size: 17px;
    padding-left: 20px;
    position: relative;
  }
  .interview .interview-qa p {
    position: relative;
    padding-left: 0px;
    line-height: 1.8;
    font-size: 14px;
  }
  .interview .interview-qa p strong {
    /*width: 75px;*/
    position: static;
    width: 50px;
    font-size: 80%;
    padding: 0px 5px  0 0;
    left: -5px;
    top: -3px;
    background-size: 50px;
    justify-content: center;
  }
  .interview .interview-qa p img {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto !important;
    left: auto;
  }

  /*------------------------*/
  .case-other-wrap {
    flex-direction: column;
    margin-left: 0px;
  }
  .case-other {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .case-other .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 32px;
    padding: 15px 10px;
  }
  .case-other .head .cat {
    background: #006984;
    font-size: 14px;
    border-radius: 18px;
    width: 100px;
    text-align: center;
  }
  .case-other .head .ttl {
    width: calc(100% - 120px);
    text-align: left;
    font-weight: 500;
    line-height: 1.4;
  }
  .case-other .list {
    padding: 20px 10px 20px;
  }
  .case-other .list ul {
  }
  .case-other .list ul li {
    margin-bottom: 30px;
  }
  .case-other .list ul li:last-child {
    margin-bottom: 0;
  }
  .case-other .list ul li a {
  }
  .case-other .list ul li a:hover {
  }
  .case-other .list ul li a .img-area {
    width: 130px;
  }
  .case-other .list ul li a .txt-area {
    width: calc(100% - 145px);
  }
  .case-other .list ul li a .txt-area .ttl {
    display: block;
    margin-bottom: 10px;
  }
  .case-other .list ul li a .txt-area .txt {
    font-size: 13px;
    line-height: 1.5;
  }
  /*------------------------*/
  .c-txt .sub-ttl span.sp {
    display: none !important;
  }
  /*------------------------*/
  .ttl-txt {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .ttl-txt .ttl-area {
    width: 130px;
    height: auto;
    margin: 0 auto 30px;
  }
  .ttl-txt .txt-area {
    width: 100%;
  }

  .half-ttl {
    width: 130px;
    height: 130px;
    font-size: 50px;
    box-shadow: 25px 20px 0 0 rgba(120, 120, 120, 0.1);
  }
  .half-ttl .t1 {
    width: 40%;
    margin-top: -42%;
  }
  .half-ttl .t2 {
    width: 40%;
    margin-bottom: -32%;
  }
  .half-ttl .t3 {
    line-height: 1.1;
    margin-bottom: 5px;
  }
  .ttl-txt .ttl-area .half-ttl {
    width: 130px;
    height: 130px;
    font-size: 40px;
    box-shadow: 15px 10px 0 0 rgba(120, 120, 120, 0.1);
  }

  /*------------------------*/
  .ttl-box {
    position: relative;
    padding-top: 70px;
    margin-bottom: 40px;
  }
  .ttl-box .ttl-area {
    position: absolute;
    top: -0px;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  .ttl-box .ttl-area > div {
    margin: 0 auto;
  }
  .ttl-box .box-area {
    padding-top: 65px;
    position: relative;
  }
  .ttl-box .box-area.b2 {
    background: #fff;
    border: 1px solid #ff8c00;
  }
  .ttl-box .box-area .box-area-in {
    padding: 40px 15px;
  }

  /*------------------------*/
  .about-img-txt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .about-img-txt .img-area {
    width: 60%;
    margin-bottom: 30px;
    text-align: center;
  }
  .about-img-txt .txt-area {
    width: 100%;
  }
  .about-img-txt .txt-area .txt {
    padding: 40px 20px 50px;
  }
  .about-img-txt .txt-area .txt .ttl {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .about-img-txt .txt-area .txt .ttl span.sp {
    display: none !important;
  }
  .about-img-txt .txt-area .btn {
    margin-top: -25px;
    text-align: center;
  }
  .about-img-txt .txt-area .btn a {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 25px;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 11px;
    line-height: 1.2;
  }

  /*------------------------*/
  .box-list2 {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
  }
  .box-list2 .box-block {
    width: calc(33.333% - 30px);
    margin-left: 30px;
    margin-bottom: 40px;
  }
  .box-list2 .ttl {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .box-list2 .box {
    box-shadow: 10px 10px 0 0 rgba(100, 100, 100, 0.1);
  }
  .box-list2 .box .box-in {
    height: 120px;
  }
  .box-list2 .box .t1 {
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 10px;
  }
  .box-list2 .box .t2 {
    font-size: 16px;
    right: 10px;
    bottom: 8px;
  }
  .box-list2.l6 {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20px;
  }
  .box-list2.l6 .box-block {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 40px;
  }
  .box-list2.l6 .ttl {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .box-list2.l6 .box .box-in {
    height: 120px;
  }
  .box-list2.l6 .box .t1 {
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 10px;
  }

  /*-------------------------------------*/
  .box-list3 {
    margin-bottom: 20px;
    margin-left: -10px;
  }
  .box-list3 .box {
    width: calc(50% - 10px);
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .box-list3 .box .box-in {
    padding: 20px 10px 50px;
  }
  .box-list3 .box .img {
    height: 60px;
    margin-bottom: 10px;
  }
  .box-list3 .box .img.s2 {
    height: 120px;
  }
  .box-list3 .box .img img {
    height: 60px;
  }
  .box-list3 .box .img.s2 img {
    height: 120px;
  }
  .box-list3 .box .ttl {
    font-size: 16px;
    line-height: 1.2;
    height: 3.4em;
    margin-bottom: 10px;
  }
  .box-list3 .box .txt {
    font-size: 14px;
  }

  .box-list3.s-1 {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .box-list3.s-1 .box {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .box-list3.s-1 .box .box-in {
    padding: 30px 15px 50px;
  }
  .box-list3 .note{
    padding: 0 10px 12px 0;
    position: relative;
    left: 10px;
    bottom: 0;
    font-size: 16px;
  }
  .box-list3 .link{
    position: relative;
    left: 10px;
    bottom: 0;
  }
  .box-list3 .box .btn {
      position: inherit;
      width: inherit;
      bottom: inherit;
      left: inherit;
      margin-top: 20px;
  }
  /*-------------------------------------*/
  .box-list4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .box-list4 .box {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 2px;
    padding: 20px 15px 40px;
    min-height: 0;
  }
  .box-list4 .box .ttl {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .box-list4 .box .ttl .num {
    font-size: 40px;
    margin-right: 10px;
  }
  .box-list4 .box .txt {
    font-size: 14px;
  }

  /*-------------------------------------*/
  .box-list5 {
    flex-direction: column;
    margin-left: -0px;
    margin-bottom: 40px;
  }
  .box-list5 .box {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 20px 20px 30px;
  }

  .box-list5 .box .ttl {
    font-size: 18px;
    margin-bottom: 10px;
    align-items: center;
    line-height: 1.4;
  }
  .box-list5 .box .ttl .num + span {
    width: calc(100% - 40px);
  }
  .box-list5 .box .ttl .num {
    font-size: 40px;
    margin-right: 0px;
    line-height: 1.1;
    width: 40px;
  }
  .box-list5 .box .txt {
    line-height: 1.7;
  }
  .box-list5 .box .btn {
    margin-bottom: 0px;
  }

  /*------------------------*/
  .register-list {
    width: 100%;
    margin: 0 auto 40px;
  }
  .register-list ul {
    margin-left: -10px;
  }
  .register-list ul li {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .register-list ul li a {
    padding: 8px 25px 9px 22px;
    border-radius: 30px;
    min-width: 80px;
  }
  .register-list ul li a::after {
    right: 12px;
  }

  /*------------------------*/
  .register-block {
    margin: 0 auto 70px;
  }
  .register-block .register-block-ttl {
    padding: 10px;
    font-size: 18px;
  }
  .register-block .register-block-list li {
    border-bottom: 1px dotted #aaa;
    padding: 10px 15px;
  }
  .register-block .register-block-list .more-btn {
    margin: 18px auto;
    width: calc(100% - 30px);
    font-size: 18px;
    line-height: 45px;
    border-radius: 25px;
  }

  /*------------------------*/
  .bottom-box {
    border: 3px solid #eeeeee;
    padding: 30px 20px;
    margin-bottom: 60px;
  }

  /*------------------------*/
  .txt-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .txt-btn .btn-area {
    width: auto;
  }
  .txt-btn .btn-area a {
    line-height: 34px;
    border-radius: 18px;
  }

  .txt-btn .txt-area {
    width: 100%;
    margin-bottom: 20px;
  }

  /*-----------------------*/
  .data-table {
    margin-bottom: 20px;
  }
  .data-table table {
    font-size: 16px;
    min-width: 100%;
  }
  .data-table.s-over table {
    table-layout: auto;
  }
  .data-table table caption {
    margin-bottom: 25px;
  }
  .data-table table th {
    padding: 15px 10px;
  }
  .data-table table thead td.w1 {
    width: auto;
  }
  .data-table table thead td.w2 {
    width: 70px;
  }
  .data-table table th .os{
    font-size: 12px;
  }
  .data-table table td {
    padding: 15px 10px;
    min-width: 80px;
    width: auto;
  }

  .data-table table .p1 {
    padding: 0 10px;
  }
  .data-table table .p2 {
    padding: 15px 10px;
  }
  .data-table table .f1 {
    font-size: 18px;
  }
  .data-table table .f1 span span {
    font-size: 16px;
  }
  .data-table table .f2 {
    font-size: 22px;
  }
  .data-table table .s_em1 {
    width: 1em;
  }
  .data-table.s-over {
    overflow-x: auto;
  }
  .data-table.s-over table {
    width: auto;
  }
  .data-table table span.mini {
    font-size: 60%;
  }

  /*------------------------*/
  .support-list {
  }
  .support-list ul {
    flex-direction: column;
    margin-left: 0px;
  }
  .support-list ul li {
    width: 100%;
    margin: 120px 0px 40px 0px;
  }
  .support-list ul li .img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    top: -110px;
    left: calc(50% - 90px);
  }
  .support-list ul li .img .ttl {
    position: absolute;
    left: calc(50% + 50px);
    top: -10px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    font-size: 15px;
  }
  .support-list ul li .img .ttl span {
    font-size: 24px;
  }

  .support-list ul li .txt-area {
    padding: 70px 20px 40px;
  }
  .support-list ul li .txt-area .ttl {
    font-size: 20px;
    height: auto;
    margin-bottom: 15px;
  }
  .support-list ul li .txt {
    font-size: 14px;
  }

  /*------------------------*/
  .num-list {
    padding: 0 10px;
  }
  .num-list li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .num-list li .num {
    width: 35px;
    font-size: 40px;
    line-height: 1;
  }
  .num-list li p {
    width: calc(100% - 40px);
    font-size: 15px;
  }

  /*------------------------*/
  .page-link {
    width: calc(100% + 20px);
    margin-left: -9px;
    display: block;
  }
  .page-link > .ttl {
    width: 100%;
    margin-right: 0px;
    background: #003847;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0 0 3px;
    font-size: 16px;
  }
  .page-link ul {
    flex-wrap: wrap;
  }
  .page-link .ttl + ul {
    width: calc(100% - 0px);
  }
  .page-link ul li {
    width: calc(50% - 5px);
    margin-bottom: 0;
  }
  .page-link.l5 ul li {
    width: calc(50% - 5px);
  }
  .page-link.l3 ul li {
    width: calc(33.333% - 5px);
  }
  .page-link.l4 ul li {
    width: calc(50% - 5px);
  }
  .page-link ul li > div,
  .page-link ul li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    padding: 0 5px;
    height: 50px;
  }

  /*------------------------*/
  .alacarte-block {
    position: relative;
  }
  .alacarte-block .box-ttl {
    margin-bottom: 0px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .alacarte-block .box-ttl .ttl {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    color: #003847;
    width: 80px;
  }
  .alacarte-block .box-ttl .ttl span {
    width: auto;
    font-size: 50px;
    margin-right: 5px;
  }
  .alacarte-block .box-ttl .tags {
    width: auto;
    padding-left: 0px;
    margin-bottom: 10px;
    width: calc(100% - 80px);
  }
  .alacarte-block .box-ttl .tags ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .alacarte-block .box-ttl .tags ul li {
    margin-top: 8px;
    margin-left: 5px;
    position: relative;
  }
  .alacarte-block .box-ttl .tags ul li img {
    height: 18px;
  }
  .alacarte-block .box-ttl .tags ul li > div {
    background: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 0 0 #ccc;
    position: relative;
    z-index: 2;
  }
  .alacarte-block .box-ttl .tags ul li::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cccccc transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 2px);
    z-index: 1;
  }
  .alacarte-block .box-ttl .tags ul li::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 5px);
    z-index: 3;
  }
  .alacarte-block .box-ttl .tags ul li.bg::after {
    border-color: #ff8c00 transparent transparent transparent;
  }

  .alacarte-block .box-body {
    background: #f6f6f6;
    padding: 70px 20px 30px;
    color: #333;
    margin-top: -20px;
  }
  .alacarte-block .box-body .ttl {
    position: relative;
    font-size: 18px;
    color: #e57200;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  .alacarte-block .box-body .ttl div {
    position: relative;
    z-index: 2;
  }
  .alacarte-block .box-body .ttl::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../img/interview_bg2.png) no-repeat center;
    background-size: 40px 40px;
    z-index: 1;
    top: -20px;
    left: -30px;
  }
  .alacarte-block .box-body .ttl::after {
    content: "";
    position: absolute;
  }
  .alacarte-block .box-body .point {
    position: relative;
    background: #fff;
    padding: 25px 15px 15px;
    border: 1px solid #ddd;
    line-height: 1.7;
    font-size: 14px;
  }
  .alacarte-block .box-body .point::before {
    content: "POINT";
    background: #e57200;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 100px;
    line-height: 28px;
    border-radius: 14px;
    position: absolute;
    top: -14px;
    left: 20px;
  }

  /*----------------------*/
  .form {
    margin: 0 auto 80px;
    border: 10px solid #eeeeee;
    padding: 20px 5px;
  }

  /*-------------------------------*/
  #bread {
    padding: 0 10px 10px;
  }
    #bread ul{
      flex-wrap: wrap;
    }

  /*
  Movie
  -------------------------------*/
  #movie .o-ttl.c-txt {
    text-align: left;
    line-height: 150%;
    font-size: 20px;
  }
  .movie-gallery .ttl img {
    width: 45%;
  }
  .movie-gallery .inner {
    padding: 10px;
  }
  .movie-gallery .inner.bg-01 {
    padding-top: 12%;
    background-image: url(../img/movie/movie_bg_01.jpg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 25%;
  }
  .movie-gallery .inner ul li:first-child {
    margin-bottom: 40px;
  }
  .movie-gallery .inner ul li span.video {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }
  .movie-gallery .inner ul li .txt-area {
    width: 100%;
    float: none;
  }
  .movie-gallery .inner ul li .txt-area em {
    margin-bottom: 10px;
  }
  .ttl-sub {
    font-size: 19px;
    line-height: 150%;
    font-weight: 700;
  }
  .movie-about .c-txt.logo {
    margin-bottom: 0;
  }
  .movie-about table {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  .movie-about table tbody,
  .movie-about table tbody tr {
    width: 100%;
    display: block;
  }
  .movie-about table th {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 15px;
    background-image: none;
    font-size: 150%;
    text-align: center;
  }
  .movie-about table th br {
    display: none;
  }
  .movie-about table td {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px;
  }
  .movie-about table td span {
    line-height: 160%;
  }
  .movie-about table td span:before {
    top: 14%;
  }
  .ttl-god {
    line-height: 160%;
    font-size: 200%;
    font-weight: 900;
  }
  .ttl-god span {
    font-size: 150%;
  }
  .movie-table table {
    display: block;
  }
  .movie-table table tbody,
  .movie-table table tr {
    width: 100%;
    display: block;
  }
  .movie-table table tr th {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-right: none;
    font-size: 120%;
  }
  .movie-table table tr td {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-left: none;
  }
  .movie-table table tr:last-child td {
    border-bottom: none;
  }
  .twoAreaBtn {
    width: 85%;
    display: block;
  }
  .twoAreaBtn div {
    width: 100%;
    display: block;
  }
  /* モーダル追加 */
  #modal-main-1 iframe,
  #modal-main-2 iframe,
  #modal-main-3 iframe,
  #modal-main-4 iframe,
  #modal-main-5 iframe {
    width: 100%;
    height: auto;
  }
  /*
  Contact Thanks
  -------------------------------*/
  .contact-tel {
    margin-bottom: 10px;
    padding-left: 50px;
    font-size: 150%;
    background-size: 40px;
  }
  .contact-tel-txt {
    font-size: 125%;
  }


.products-tab{
    margin-bottom: 40px;
}
    .products-tab ul{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        border-bottom: none;
    }
        .products-tab ul li{
            width: 50%;
            box-sizing: border-box;
            padding:0 1px;
            border-bottom:1px solid #EEEEEE;
        }
            .products-tab ul li a{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                height: 50px;
                padding: 0px 5px 0px 2px;
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                border-bottom:3px solid #FFFFFF;
                transition: .2s;
                position: relative;
            }
            .products-tab ul li.active a,
            .products-tab ul li:hover a{
                border-bottom:3px solid #FC8D00;
            }
            .products-tab ul li.active a::after{
                border-style: solid;
                border-width: 0 5px 10px 5px;
                position: absolute;
                left: calc(50% - 5px);
                bottom: -3px;
            }

            .products-tab ul li a .ico{
                width: 30px;
                justify-content: center;
            }
            .products-tab ul li a .ico .s1{
                width: 21px;
            }
            .products-tab ul li a .txt{
                padding-left: 5px;
            }
            .products-tab ul li a .img{
                display: flex;
                align-items: center;
            }
                .products-tab ul li a .img img{
                    max-height: 30px;
                }

.products-body{
    margin-bottom: 80px;
}
.products-body.hide{
    display: none;
}
.products-ttl{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.products-switch{
    background: #EEEEEE;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-left: -10px;
    width: calc(100% + 20px);
}
    .products-switch ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
        .products-switch ul li{
            margin:10px 5px;
        }
        .products-switch ul li a{
            display: block;
            text-decoration: none;
            min-width: 4em;
            padding:10px 15px;
            background: #fff;
            text-align: center;
            font-size: 14px;
            border-radius: 24px;
            cursor: pointer;
            transition: .2s;
        }
        .products-switch ul li.active a,
        .products-switch ul li a:hover{
            background:#E66700;
            color: #fff;
        }


.products-body-block{
    margin-bottom: 60px;
    display: none;
}
.products-body-block.active{
    display: block;
}
.products-body-block-none{
    display: none;
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
}
.products-body-block-none.active{
    display: block;
}


.products-table{

}
    .products-table table{
        border:none;
        width: 100%;
        font-size: 15px;
        line-height: 1.8;

    }
        .products-table table tr,
        .products-table table th,
        .products-table table td{
            display: block;
        }

        .products-table table th{
            padding:12px 15px;
            border-top: 1px solid #fff;
            border-right: none;
            border-bottom: none;
            width: 100%;
            box-sizing: border-box;
        }
        .products-table table tr:nth-child(even) th{
            background: #E57200;
        }
        .products-table table td{
            border-bottom: none;
            font-weight: 300;
        }
            .products-table table td div{
                padding:10px 10px 25px;
            }


            .products-table table td div{
                padding:10px 10px 25px;
            }

        .products-table table.sp_ac th{
            padding:0;
        }
            .products-table table.sp_ac th label{
              display: block;
                cursor: pointer;
                padding:12px 15px;
            }
            .products-table table.sp_ac th span{
                display: block;
                position: relative;
            }
            .products-table table.sp_ac th span::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                right: 0;
                top: calc(50% - 7px);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }


        .products-table table td input{
          display: none;
        }

        .products-table table.sp_ac td div{
          height: 0;
          width: 100%;
          box-sizing: border-box;
          padding: 0 10px;
          overflow: hidden;
          opacity: 0;
          transition: 0.4s;
        }
        .products-table table td input:checked + div{
          height: auto;
          padding:10px 10px 25px;
          opacity: 1;
        }


} /*====================================================================================================*/
