@charset "UTF-8";
@media screen and (max-width: 960px) {
  .pc {
    display: none !important;
  }
  .tab {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  .pc-c {
    display: none !important;
  }
  .tab-c {
    display: none !important;
  }
  .sp-c {
    display: table-cell !important;
  }
  .pcbr {
    display: none;
  }
  .tabbr {
    display: none;
  }
  .sp_dis-i {
    display: inline;
  }
  .sp_dis-ib {
    display: inline-block;
  }
  .sp_dis-b {
    display: block;
  }
  .sp_m-t0 {
    margin-top: 0 !important;
  }
  .sp_m-t5 {
    margin-top: 5px !important;
  }
  .sp_m-t10 {
    margin-top: 10px !important;
  }
  .sp_m-t15 {
    margin-top: 15px !important;
  }
  .sp_m-t20 {
    margin-top: 20px !important;
  }
  .sp_m-t25 {
    margin-top: 25px !important;
  }
  .sp_m-t30 {
    margin-top: 30px !important;
  }
  .sp_m-t40 {
    margin-top: 40px !important;
  }
  .sp_m-t50 {
    margin-top: 50px !important;
  }
  .sp_m-t60 {
    margin-top: 60px !important;
  }
  .sp_m-t70 {
    margin-top: 70px !important;
  }
  .sp_m-t80 {
    margin-top: 80px !important;
  }
  .sp_m-t90 {
    margin-top: 90px !important;
  }
  .sp_m-t100 {
    margin-top: 100px !important;
  }
  .sp_m-b0 {
    margin-bottom: 0 !important;
  }
  .sp_m-b5 {
    margin-bottom: 5px !important;
  }
  .sp_m-b10 {
    margin-bottom: 10px !important;
  }
  .sp_m-b15 {
    margin-bottom: 15px !important;
  }
  .sp_m-b20 {
    margin-bottom: 20px !important;
  }
  .sp_m-b25 {
    margin-bottom: 25px !important;
  }
  .sp_m-b30 {
    margin-bottom: 30px !important;
  }
  .sp_m-b40 {
    margin-bottom: 40px !important;
  }
  .sp_m-b50 {
    margin-bottom: 50px !important;
  }
  .sp_m-b60 {
    margin-bottom: 60px !important;
  }
  .sp_m-b70 {
    margin-bottom: 70px !important;
  }
  .sp_m-b80 {
    margin-bottom: 80px !important;
  }
  .sp_m-b90 {
    margin-bottom: 90px !important;
  }
  .sp_m-b100 {
    margin-bottom: 100px !important;
  }
  .sp_m-l-auto {
    margin-left: auto !important;
  }
  .sp_m-l0 {
    margin-left: 0 !important;
  }
  .sp_m-l5 {
    margin-left: 5px !important;
  }
  .sp_m-l10 {
    margin-left: 10px !important;
  }
  .sp_m-l15 {
    margin-left: 15px !important;
  }
  .sp_m-l20 {
    margin-left: 20px !important;
  }
  .sp_m-l25 {
    margin-left: 25px !important;
  }
  .sp_m-l30 {
    margin-left: 30px !important;
  }
  .sp_m-r-auto {
    margin-right: auto !important;
  }
  .sp_m-r0 {
    margin-right: 0 !important;
  }
  .sp_m-r5 {
    margin-right: 5px !important;
  }
  .sp_m-r10 {
    margin-right: 10px !important;
  }
  .sp_m-r15 {
    margin-right: 15px !important;
  }
  .sp_m-r20 {
    margin-right: 20px !important;
  }
  .sp_m-r25 {
    margin-right: 25px !important;
  }
  .sp_m-r30 {
    margin-right: 30px !important;
  }
  .sp_p-t0 {
    padding-top: 0 !important;
  }
  .sp_p-t5 {
    padding-top: 5px !important;
  }
  .sp_p-t10 {
    padding-top: 10px !important;
  }
  .sp_p-t15 {
    padding-top: 15px !important;
  }
  .sp_p-t20 {
    padding-top: 20px !important;
  }
  .sp_p-t25 {
    padding-top: 25px !important;
  }
  .sp_p-t30 {
    padding-top: 30px !important;
  }
  .sp_p-t40 {
    padding-top: 40px !important;
  }
  .sp_p-t50 {
    padding-top: 50px !important;
  }
  .sp_p-t60 {
    padding-top: 60px !important;
  }
  .sp_p-t70 {
    padding-top: 70px !important;
  }
  .sp_p-t80 {
    padding-top: 80px !important;
  }
  .sp_p-t90 {
    padding-top: 90px !important;
  }
  .sp_p-t100 {
    padding-top: 100px !important;
  }
  .sp_p-b0 {
    padding-bottom: 0 !important;
  }
  .sp_p-b5 {
    padding-bottom: 5px !important;
  }
  .sp_p-b10 {
    padding-bottom: 10px !important;
  }
  .sp_p-b15 {
    padding-bottom: 15px !important;
  }
  .sp_p-b20 {
    padding-bottom: 20px !important;
  }
  .sp_p-b25 {
    padding-bottom: 25px !important;
  }
  .sp_p-b30 {
    padding-bottom: 30px !important;
  }
  .sp_p-b40 {
    padding-bottom: 40px !important;
  }
  .sp_p-b50 {
    padding-bottom: 50px !important;
  }
  .sp_p-b60 {
    padding-bottom: 60px !important;
  }
  .sp_p-b70 {
    padding-bottom: 70px !important;
  }
  .sp_p-b80 {
    padding-bottom: 80px !important;
  }
  .sp_p-b90 {
    padding-bottom: 90px !important;
  }
  .sp_p-b100 {
    padding-bottom: 100px !important;
  }
  .sp_p-l0 {
    padding-left: 0 !important;
  }
  .sp_p-l5 {
    padding-left: 5px !important;
  }
  .sp_p-l10 {
    padding-left: 10px !important;
  }
  .sp_p-l15 {
    padding-left: 15px !important;
  }
  .sp_p-l20 {
    padding-left: 20px !important;
  }
  .sp_p-l25 {
    padding-left: 25px !important;
  }
  .sp_p-l30 {
    padding-left: 30px !important;
  }
  .sp_p-r0 {
    padding-right: 0 !important;
  }
  .sp_p-r5 {
    padding-right: 5px !important;
  }
  .sp_p-r10 {
    padding-right: 10px !important;
  }
  .sp_p-r15 {
    padding-right: 15px !important;
  }
  .sp_p-r20 {
    padding-right: 20px !important;
  }
  .sp_p-r25 {
    padding-right: 25px !important;
  }
  .sp_p-r30 {
    padding-right: 30px !important;
  }
  .sp_f-c-bk {
    color: #000000 !important;
  }
  .sp_f-c-wh {
    color: #ffffff !important;
  }
  .sp_f-c-gr {
    color: #aaaaaa !important;
  }
  .sp_f-c1 {
    color: #ed8c01 !important;
  }
  .sp_f-c2 {
    color: #F4BD34 !important;
  }
  .sp_f-c3 {
    color: #DBEFCA !important;
  }
  .sp_f-c4 {
    color: #EA7603 !important;
  }
  .sp_b-c-bk {
    background-color: #000000 !important;
  }
  .sp_b-c-wh {
    background-color: #ffffff !important;
  }
  .sp_b-c-gr {
    background-color: #F7F6F2 !important;
  }
  .sp_b-c1 {
    background-color: #ed8c01 !important;
  }
  .sp_b-c2 {
    background-color: #F4BD34 !important;
  }
  .sp_b-c3 {
    background-color: #DBEFCA !important;
  }
  .sp_b-c4 {
    background-color: #EA7603 !important;
  }
  .sp_f-bold {
    font-weight: bold !important;
  }
  .sp_f-normal {
    font-weight: normal !important;
  }
  .sp_f-s150 {
    font-size: 150% !important;
  }
  .sp_f-s140 {
    font-size: 140% !important;
  }
  .sp_f-s130 {
    font-size: 140% !important;
  }
  .sp_f-s120 {
    font-size: 120% !important;
  }
  .sp_f-s110 {
    font-size: 110% !important;
  }
  .sp_f-s100 {
    font-size: 100% !important;
  }
  .sp_f-s90 {
    font-size: 90% !important;
  }
  .sp_f-s80 {
    font-size: 80% !important;
  }
  .sp_f-s70 {
    font-size: 70% !important;
  }
  .sp_f-s60 {
    font-size: 60% !important;
  }
  .sp_f-s50 {
    font-size: 50% !important;
  }
  .sp_l-h10 {
    line-height: 1.0 !important;
  }
  .sp_l-h11 {
    line-height: 1.1 !important;
  }
  .sp_l-h12 {
    line-height: 1.2 !important;
  }
  .sp_l-h13 {
    line-height: 1.3 !important;
  }
  .sp_l-h14 {
    line-height: 1.4 !important;
  }
  .sp_l-h15 {
    line-height: 1.5 !important;
  }
  .sp_l-h16 {
    line-height: 1.6 !important;
  }
  .sp_l-h17 {
    line-height: 1.7 !important;
  }
  .sp_l-h18 {
    line-height: 1.8 !important;
  }
  .sp_l-h19 {
    line-height: 1.9 !important;
  }
  .sp_l-h20 {
    line-height: 2.0 !important;
  }
  .sp_t-l {
    text-align: left !important;
  }
  .sp_t-c {
    text-align: center !important;
  }
  .sp_t-r {
    text-align: right !important;
  }
  .sp_v-t {
    vertical-align: top !important;
  }
  .sp_v-m {
    vertical-align: middle !important;
  }
  .sp_v-b {
    vertical-align: bottom !important;
  }
  .sp_pos-r {
    position: relative;
  }
  .sp_pos-a {
    position: absolute;
  }
  .sp_pos-s {
    position: static;
  }
  .sp_t-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .bg-dot01 {
    background-size: 100% !important;
    background-position: left -65px !important;
  }
  .b-c8 {
    background-image: none !important;
  }
  /*-------------------------------------------------------------------------------------*/
  body {
    font-size: 13px;
    min-width: 320px;
    overflow: hidden;
  }
  .wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  /*
  header-------------------------------------------------------------------------------------*/
  header {
    width: 100%;
    height: 0;
    background: none;
    position: inherit;
  }
  #header {
    position: absolute;
    width: 100%;
    height: 54px;
    min-width: 320px;
    background: none;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
  }
  .header-logo {
    padding: 7px;
  }
  .header-logo .img {
    width: auto;
    height: auto;
  }
  .header-logo .img .logo01 {
    width: 159px;
    height: 27px;
    min-width: auto;
    background-size: contain !important;
  }
  .header-logo .img .logo02 {
    width: 159px;
    height: 27px;
    min-width: auto;
    background-size: contain;
  }
  .header-nav {
    padding-top: 4px;
    position: fixed;
    right: 0;
    top: 0;
  }
  .header-nav ul {
    min-width: auto;
  }
  .header-nav ul li.menu {
    padding-right: 4px;
    width: 48px;
  }
  .header-nav ul li.menu>div {
    width: 50px;
    height: 50px;
  }
  .header-nav ul li.menu>div img {
    margin-top: 0;
    width: 40px;
    margin-bottom: 5px;
  }
  .header-nav ul li.menu>div.img01 {
    width: 48px;
    height: 48px;
    background: url(../img/common/img_menu01.png) center center no-repeat #FD6F13;
    background-size: 36px !important;
    border-radius: 3px;
  }
  .header-nav ul li.menu>div.img02 {
    width: 48px;
    height: 48px;
    background: url(../img/common/img_menu02.png) center center no-repeat;
    background-size: 36px !important;
  }
  /*
  g-nav-----------------------------------------------------------------------*/
  #g-nav {
    box-sizing: border-box;
    z-index: 200;
  }
  #g-nav #g-nav-close {
    font-size: 55px;
    width: 55px;
    height: 55px;
    top: -1px;
    right: 13px;
    line-height: 55px;
  }
  #g-nav .wrap {
    width: 100%;
    min-width: auto;
    padding: 0;
  }
  #g-nav .g-nav-in {
    padding: 50px 0px 20px;
  }
  #g-nav .g-nav-logo {
    position: absolute;
    width: 65px;
    height: 40px;
    top: 8px;
  }
  #g-nav .list {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 13px;
  }
  #g-nav .list ul {
    display: block;
  }
  #g-nav .list ul li {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  #g-nav .list li a {
    display: inline-block;
  }
  #g-nav .list ul>li a, #g-nav .list ul>li p {
    padding-left: 10px;
  }
  #g-nav .list ul>li p {
    cursor: pointer;
  }
  #g-nav .list ul>li a::after, #g-nav .list ul>li p::after {
    width: 4px;
    height: 4px;
    right: -15px;
  }
  #g-nav .list ul>li:first-child p::after {
    transform: rotate(135deg);
  }
  #g-nav .g-nav-content {
    padding: 20px 0 0;
    width: 100%;
    float: none;
    height: inherit;
  }
  #g-nav .g-nav-content-inner {
    width: auto;
  }
  #g-nav .g-nav-subcontent {
    display: none;
    margin-top: 10px;
    padding: 20px 10px 26px;
    width: 100%;
    position: relative;
    height: inherit;
  }
  #g-nav .g-nav-subcontent::before {
    top: -10px;
    left: 35px;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #003847 transparent;
  }
  #g-nav .g-nav-subcontent .list {
    font-size: 13px;
  }
  #g-nav .g-nav-subcontent .list ul li+li {
    margin-top: 25px;
  }
  #g-nav .g-nav-subcontent .list ul li .num {
    padding-right: 5px;
    font-size: 13px;
  }
  #g-nav .sublist {
    margin-bottom: 15px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  #g-nav .sublist .item {
    margin-bottom: 13px;
    width: 220px;
  }
  #g-nav .sns {
    margin-bottom: 0;
    padding-left: 8px;
  }
  #g-nav .tel {
    margin: 0 auto 30px;
    padding: 10px 10px 0;
  }
  #g-nav .tel .ttl {
    font-size: 18px;
    margin-bottom: 15px;
    background-size: 30px;
    padding: 5px 10px 8px 32px;
  }
  #g-nav .tel .num {
    display: block;
    margin-bottom: 1px;
  }
  #g-nav .tel .num>div {
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 19px;
  }
  #g-nav .tel .num>div+div {
    margin-left: 0;
    margin-right: 0;
  }
  #g-nav .tel .num>div a {
    text-decoration: none;
  }
  #g-nav .tel .time {
    font-size: 13px;
  }
  #g-nav .btn-list {
    margin: 0;
    height: 46px;
  }
  #g-nav .btn-list ul {
    display: block;
  }
  #g-nav .btn-list ul li.lib {
    width: calc((100% - 46px) / 2);
  }
  #g-nav .btn-list ul li.try {
    width: calc((100% - 46px) / 2);
  }
  #g-nav .btn-list ul li.inq {
    width: 46px;
  }
  #g-nav .btn-list ul li.inq a {
    padding-left: 0;
  }
  #g-nav .btn-list ul li a>span.inq {
    width: 18px;
    height: 46px;
    line-height: 46px;
    background: url(../img/common/ico_inq.png) no-repeat center center;
    background-size: contain;
  }
  #g-nav .btn-list ul li a {
    padding-left: 5px;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
  }
  /*
  footer-------------------------------------------------------------------------------------*/
  footer, .footer {
    padding: 10px 0 30px;
  }
  .footer-inner {
    display: block;
    padding: 8px 8px 10px;
  }
  .footer-inner>div {
    display: block;
    align-items: inherit;
  }
  .footer .footer-l {
    width: 100%;
  }
  .footer .footer-r {
    padding: 18px 0 0px;
    width: 100%;
  }
  .footer-t {
    padding: 0 0 13px;
  }
  .footer-t .footer-l .tit {
    font-size: 17px;
  }
  .footer-t .footer-l .tit::after {
    display: none;
  }
  .footer-t .footer-r .txt {
    margin-bottom: 22px;
    font-size: 13px;
  }
  .footer-t .footer-r .link .list .item a {
    padding: 6px 12px 6px 24px;
    font-size: 13px
  }
  .footer-t .footer-r .link .list .item a::before {
    width: 12px;
    height: 10px;
    left: 8px;
    background-size: contain;
  }
  .footer-b {
    padding: 31px 0 0;
  }
  .footer-b .footer-l .txt {
    margin-bottom: 21px;
    font-size: 10px;
    text-align: center;
  }
  .footer-b .footer-l .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-b .footer-l .search {
    display: inline-block;
    margin-bottom: 0;
  }
  .footer-b .footer-l .search a {
    display: inline-block;
    padding-left: 13px;
    font-size: 13px;
    vertical-align: middle;
  }
  .footer-b .footer-l .logos {
    margin-right: 10px;
    width: 90px;
  }
  .footer-b .footer-l .is {
    margin-top: 0;
    margin-left: 0;
    font-size: 9px;
  }
  .footer-logo {
    margin-bottom: 6px;
    text-align: center;
  }
  .footer-logo img {
    width: 210px;
  }
  .footer-sns-copy {
    float: right;
    width: 102px;
  }
  .footer-sns {
    margin-top: 5px;
  }
  .footer-sns .list .item+.item {
    margin-left: 10px;
  }
  .footer-sns ul li img {
    width: 26px;
  }
  .footer-nav {
    font-size: 13px;
    margin-left: 0;
  }
  .footer-nav .list {
    margin-bottom: 38px;
  }
  .footer-nav .list .item {
    margin-right: 26px;
    margin-bottom: 10px;
  }
  .footer-nav .list .item:first-child {
    display: block;
  }
  .footer-nav .list .item:last-child {
    display: block;
  }
  .footer-nav .list .item a {
    font-size: 13px;
  }
  .footer-nav-sub {
    width: auto;
  }
  .footer-nav-sub .list .item {
    padding-left: 0;
    margin-bottom: 9px;
  }
  .footer-nav-sub .list .item a {
    font-size: 10px;
    letter-spacing: .05em;
  }
  .footer-copy {
    margin-top: 3px;
    font-size: 9px;
  }
  .btn-list2 {
    display: block;
    width: 100%;
    height: 46px;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }
  .btn-list2 ul {
    display: block;
    width: 100%;
  }
  .btn-list2 ul li.lib {
    width: calc((100% - 46px) / 2);
  }
  .btn-list2 ul li.try {
    width: calc((100% - 46px) / 2);
  }
  .btn-list2 ul li.inq {
    width: 46px;
  }
  .btn-list2 ul li.inq a {
    padding-left: 0;
  }
  .btn-list2 ul li a>span.inq {
    width: 18px;
    height: 46px;
    line-height: 46px;
  }
  .btn-list2 ul li a {
    padding-left: 5px;
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
  }
  .btn-list2 ul li {
    float: left;
    text-align: center;
  }
  .btn-list2 ul li::after {
    display: block;
  }
  .btn-list2 ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 700;
    width: 100%;
    position: relative;
  }
  .btn-list2 ul li.lib a {
    background: #003847;
  }
  .btn-list2 ul li.try a {
    background: #1A5261;
  }
  .btn-list2 ul li.inq a {
    background: #237285;
  }
  .btn-list2 ul li a>span.inq {
    display: block;
    margin: 0 auto;
    background: url(../img/common/ico_inq.png) no-repeat center center;
    background-size: contain;
  }
  /*メインイメージ-------------------------------------------------------------------------------------*/
  .main-img {
    padding-top: 140.83%;
    height: 100%;
    width: 100%;
    background: url(../img/home/sp_main_img.png) top center no-repeat #EF8300;
    background-size: cover;
  }
  .areaLogo {
    display: block;
    margin: 0 auto;
    width: 75%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }
  #modal-main iframe {
    width: 100%;
    height: auto;
  }
  .areaCm {
    padding: 2.2% 16px 3% 14px;
    width: 48%;
    min-width: 182px;
    height: auto;
    min-height: 155px;
    left: 50%;
    right: auto;
    top: 64%;
    text-align: center;
    transform: translateX(-50%);
  }
  .areaCm .tit {
    display: inline-block;
    margin-bottom: 2%;
    font-size: 10px;
  }
  .areaCm .tit::before {
    width: 17px;
    left: -17px;
    bottom: 8px;
  }
  .areaCm .tit::after {
    width: 17px;
    right: -17px;
    bottom: 8px;
  }
  .areaCm .tit .small {
    font-size: 7px;
  }
  .areaCm .video {
    margin: 0 auto 2%;
    width: 100%;
    height: auto;
  }
  .areaCm .video a span::after {
    width: 21px;
    height: 21px;
  }
  .areaCm .btn {
    font-size: 12px;
  }
  .areaCm .btn a {
    padding: 6px 0px 6px 0;
    text-align: center;
  }
  .areaCm .btn a::after {
    right: 5px;
    width: 3px;
    height: 3px;
  }
  .areaCm .btn .txt {
    padding-left: 21px;
  }
  .areaCm .btn .txt::before {
    width: 21px;
    height: 19px;
    top: -3px;
    left: 0;
  }
  /*-------------------------------------------------------------------------------------*/
  .section-inner {
    padding: 40px 0;
  }
  /*------------------------------------*/
  .c-ttl {
    margin-bottom: 16px;
    font-size: 22px;
  }
  .c-ttl .main {
    font-size: 36px;
  }
  .c-ttl .sub {
    font-size: 16px;
  }
  .c-ttl .sub2 {
    font-size: 20px;
  }
  .c-ttl .sub2 span {
    font-size: 30px;
  }
  .c-ttl .sub2::before {
    left: -50px;
    width: 50px;
  }
  .c-ttl .sub2::after {
    right: -50px;
    width: 50px;
  }
  /*------------------------------------*/
  .c-txt {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.8;
  }
  .c-txt dl {
    margin-bottom: 25px;
  }
  .c-txt dl:last-child {
    margin-bottom: 0;
  }
  .c-txt .list {
    padding-left: 0px;
    font-size: 16px;
    margin-right: 0px;
  }
  .c-txt .list li {
    padding-left: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  .c-txt .list li span {
    font-size: 17px;
  }
  /*------------------------------------*/
  .c-table {
    margin-bottom: 20px;
  }
  .c-table table th {
    padding: 7px 10px;
    font-size: 17px;
  }
  .c-table table td {
    padding: 10px 15px 11px;
    line-height: 1.4;
  }
  /*------------------------------------*/
  .c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }
  .c-btn a, .c-btn button {
    display: table;
    width: 100%;
    height: 60px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0 0 15px;
  }
  .c-btn a::after, .c-btn button::after {
    width: 5px;
    height: 5px;
    right: 20px;
  }
  .c-btn .wide {
    width: 100%;
  }
  .c-btn .tab_w {
    width: 100%;
  }
  .c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 15px;
  }
  .c-btn .c4 {
    font-size: 16px;
  }
  .c-btn .c6::after {
    right: 13px;
  }
  .c-btn .c7::after {
    right: 13px;
  }
  .slip-btn:before {
      display: none;
  }
  .slip-btn .c7 {
    width: 83%;
    height: 50px;
    top: -26px;
    position: relative;
  }
  .c-btn .trial {
    display: inline-block;
    padding-left: 55px;
    background: url(../img/ico_trial.jpg) no-repeat left center;
    background-size: 55px 35px;
    line-height: 40px;
    margin-right: 10px;
  }
  .c-btn .official {
    padding: 5px 5px 5px 135px;
    background-size: 130px 20px;
  }
  /*------------------------------------*/
  .column-wrap {
    display: block;
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .sec-areaTit {
    margin-bottom: 12px;
  }
  .sec-tit01 {
    margin-bottom: -14px;
    line-height: 1;
  }
  .sec-tit01 .t1 {
    font-size: 34px;
  }
  .sec-tit01 .gray {
    font-size: 44px;
    font-weight: 100;
  }
  .sec-tit01 .small {
    font-size: 26px;
  }
  .sec-tit01 .orange {
    font-size: 44px;
  }
  .sec-tit02 .en {
    margin-bottom: 4px;
    padding-bottom: 5px;
    font-size: 11px;
  }
  .sec-tit02 .en::after {
    width: 42px;
  }
  .sec-tit02 .jp {
    font-size: 18px;
  }
  .sec-lead {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 1.8;
  }
  /* about-------------------------------------------------------------------------------------*/
  section.about-block .section-inner {
    padding-top: 50px;
    width: 100%;
  }
  section.about-block .sec-tit01 {
    margin-right: -12px;
    margin-bottom: -14px;
    padding-left: 0;
  }
  section.about-block .deco01 {
    top: 23%;
    left: -2%;
    width: 83px;
    height: 83px;
  }
  section.about-block .deco02 {
    top: 7%;
    left: 12%;
    width: 19px;
    height: 18px;
  }
  section.about-block .deco03 {
    top: 6%;
    left: 56%;
    width: 17px;
    height: 26px;
  }
  section.about-block .deco04 {
    top: 0%;
    right: 3%;
    width: 83px;
    height: 83px;
  }
  section.about-block .c-txt {
    margin-bottom: 33px;
    margin-left: 0;
    font-size: 14px;
  }
  section.about-block .areaAbout {
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .table {
    width: 100%;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .head {
    display: block;
    padding: 13px 0 0 0px;
    width: 100%;
    height: 50px;
    font-size: 10px;
  }
  section.about-block .areaAbout .head .txt01 {
    display: table-cell;
    padding: 0 0 0 35px;
    vertical-align: middle;
    width: 51%;
  }
  section.about-block .areaAbout .head .txt01::before {
    top: 4px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-size: contain;
  }
  section.about-block .areaAbout .head .txt01::after {
    width: 23px;
    top: 50%;
    left: 86%;
    transform: translateY(-50%);
  }
  section.about-block .areaAbout .head .txt02 {
    display: table-cell;
    margin-top: 0;
    padding-left: 2px;
    font-size: 12px;
    vertical-align: middle;
  }
  section.about-block .areaAbout .data {
    display: block;
    padding: 16px 14px 26px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }
  section.about-block .areaAbout .data .ttl {
    margin-bottom: 12px;
    font-size: 15px;
  }
  section.about-block .areaAbout .data .txt {
    margin-bottom: 23px;
    font-size: 13px;
  }
  section.about-block .areaAbout .data .btn {
    width: 100%;
    position: relative;
    bottom: 0;
    right: 0;
  }
  section.about-block .areaAbout .data .btn a {
    padding: 9px 0 9px;
    width: 100%;
    font-size: 12px;
  }
  /* feature-------------------------------------------------------------------------------------*/
  section.feature-block .section-inner {
    padding: 0 10px 50px;
    width: 100%;
    box-sizing: border-box;
  }
  section.feature-block .deco01 {
    width: 83px;
    height: 83px;
    top: 1%;
    left: 0;
  }
  section.feature-block .deco02 {
    width: 17px;
    height: 12px;
    top: 1%;
    left: 52%;
  }
  section.feature-block .deco03 {
    width: 51px;
    height: 40px;
    top: 6%;
    right: 4%;
  }
  section.feature-block .l-ttl {
    margin-bottom: -2px;
  }
  section.feature-block .l-ttl .t1 {
    line-height: inherit;
    font-size: 36px;
  }
  section.feature-block .l-ttl .t1 span.orange {
    font-size: 46px;
    line-height: 1;
  }
  section.feature-block .l-ttl .t1 span.small {
    font-size: 29px;
  }
  section.feature-block .lead {
    font-size: 14px;
    letter-spacing: .05em;
  }
  section.feature-block .feature-list {
    margin: 0 auto;
    width: 100%;
  }
  section.feature-block .feature-list::after {
    width: 429px;
    height: 51px;
    bottom: -18px;
  }
  section.feature-block .feature-list ul {
    display: block;
  }
  section.feature-block .feature-list ul li {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  section.feature-block .feature-list ul li::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
  }
  section.feature-block .feature-list ul li a {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
  }
  section.feature-block .feature-list ul li .img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    margin: 0;
  }
  section.feature-block .feature-list ul li .txt-area {
    width: 100%;
  }
  section.feature-block .feature-list ul li .ttl {
    display: table;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
  }
  section.feature-block .feature-list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  section.feature-block .feature-list ul li .txt {
    width: 90%;
    line-height: 1.4;
  }
  section.feature-block .feature-list ul li .pop {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    line-height: 35px;
    font-size: 25px;
  }
  section.feature-block .feature-list ul li.n1 {
    background-size: 30px;
  }
  section.feature-block .feature-list ul li.n2 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n3 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n4 {
    background-size: 46px;
  }
  section.feature-block .feature-list ul li.n5 {
    background-size: 38px;
  }
  section.feature-block .feature-list ul li.n6 {
    background-size: 44px;
  }
  section.feature-block .feature-list ul li.n7 {
    background-size: 42px;
  }
  section.feature-block .feature-list ul li.n8 {
    background-size: 46px;
  }
  section.feature-block .feature-list ul li.n9 {
    background-size: 44px;
  }
  /* case-------------------------------------------------------------------------------------*/
  section.case-block .case-b {
    padding-top: 53px;
  }
  section.case-block .section-inner {
    padding: 20px 0 42px;
  }
  section.case-block .areaTit {
    margin-bottom: 12px;
  }
  section.case-block .case-b .sec-lead .txt {
    font-size: 14px;
  }
  section.case-block .case-b .sec-lead .txt .bold {
    font-size: 16px;
  }
  section.case-block .case-b .sec-lead .txt .orange {
    font-size: 22px;
  }
  section.case-block .case-b .logos {
    margin-top: 25px;
  }
  section.case-block .case-t {
    padding: 62px 0 61px;
  }
  section.case-block .case-t::before {
    border-width: 21px 21px 0 21px;
  }
  section.case-block .case-t .areaList .list .item {
    padding: 28px 24px 13px 16px;
    width: 100%;
    float: none;
    position: relative;
  }
  section.case-block .case-t .areaList .list .item::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #001E2D;
    border-right: 1px solid #001E2D;
    box-sizing: border-box;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    visibility: visible;
  }
  section.case-block .case-t .areaList .list .item>div {
    padding: 0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n+1) {
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n+2) {
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item:nth-child(3n) {
    margin: 0;
  }
  section.case-block .case-t .areaList .list .item+.item {
    margin-top: 40px;
  }
  section.case-block .case-t .areaList .list .item div[href] {
    cursor: pointer;
  }
  section.case-block .case-t .areaList .list .item .logo {
    width: 47px;
    height: 47px;
    top: -23px;
  }
  section.case-block .case-t .areaList .list .item .logo .img {
    width: 82%;
  }
  section.case-block .case-t .areaList .list .item .img-area {
    width: 118px;
    float: left;
  }
  section.case-block .case-t .areaList .list .item .txt-area {
    padding-right: 10px;
    width: calc(100% - 132px);
    float: right;
    box-sizing: border-box;
  }
  section.case-block .case-t .areaList .list .item .txt-area .ttl {
    margin-top: -5px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  section.case-block .case-t .areaList .list .item .txt-area .txt {
    margin-bottom: 0;
    font-size: 13px;
  }
  section.case-block .case-t .btn {
    width: 83%;
    bottom: -24px;
  }
  section.case-block .case-t .btn a {
    width: 100%;
    height: 50px;
    font-size: 13px;
  }
  section.case-block .case-t .btn a::after {
    right: 12px;
  }
  /* product-------------------------------------------------------------------------------------*/
  section.product-block .section-inner {
    padding: 28px 0 36px;
  }
  section.product-block .areaList .list {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  section.product-block .areaList .list.cf {
    display: flex;
  }
  section.product-block .areaList .list .item {
    width: 33.3333%;
    box-sizing: border-box;
  }
  section.product-block .areaList .list .item:first-child {
    width: 33.3333%;
  }
  section.product-block .areaList .list .item:nth-child(4) {
    border-left: solid 1px #CCCCCC;
  }
  section.product-block .areaList .list .item a {
    padding: 9px 0 17px;
  }
  section.product-block .areaList .list .item a::after {
    width: 10px;
    height: 10px;
    right: 5px;
  }
  section.product-block .areaList .list .item a .img-area {
    margin: 0 auto 3px;
    width: 80%;
  }
  section.product-block .areaList .list .item a .txt-area .sub {
    margin-bottom: -4px;
    font-size: 9px;
  }
  section.product-block .areaList .list .item a .txt-area .tit {
    font-size: 12px;
  }
  /* price-------------------------------------------------------------------------------------*/
  section.price-block .section-inner {
    padding: 31px 0 25px;
  }
  section.price-block .sec-areaTit {
    margin-bottom: 10px;
  }
  /*スクロールバー表示させる*/
  .data-table.s-over {
    position: relative;
    padding-bottom: 14px;
  }
  section.price-block .data-table.s-over table {
    margin: 0 auto;
    width: 758px;
    font-size: 9px;
  }
  section.price-block .data-table table {
    border-collapse: separate;
  }
  section.price-block .data-table table th {
    padding: 11px 8px;
  }
  section.price-block .data-table table thead th {
    width: 83px;
  }
  section.price-block .data-table table thead th:nth-child(2) {
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(3) {
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(4) {
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(5) {
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(6) {
    width: 80px;
  }
  section.price-block .data-table table thead th:nth-child(7) {
    width: 80px;
  }
  section.price-block .data-table table thead td {
    width: 89px;
  }
  section.price-block .data-table table tbody th {
    width: 95px;
    box-sizing: border-box;
  }
  section.price-block .data-table table tbody td {
    width: 80px;
    box-sizing: border-box;
  }
  section.price-block .data-table table tbody td .circle {
    width: 12px;
    height: 12px;
  }
  section.price-block .data-table table td {
    padding: 15px 10px;
  }
  section.price-block .data-table table .p1 {
    padding: 0 9px;
    width: 83px;
  }
  section.price-block .data-table table .p2 {
    padding: 6px 10px;
  }
  section.price-block .data-table table .h1 {
    box-sizing: border-box;
  }
  section.price-block .data-table table .f1 {
    font-size: 13px;
  }
  section.price-block .data-table table .f2 {
    font-size: 14px;
  }
  section.price-block .data-table table .f3 {
    font-size: 7px;
  }
  section.price-block .data-table table .w1 {
    width: 83px;
  }
  /*
  section.price-block .wrap{
    padding: 0px 0 0 12px;
  }
  }*/
  section.price-block .note01 {
    margin-bottom: 7px;
    font-size: 11px;
    color: #E57200;
    font-weight: 400;
  }
  section.price-block .note02 {
    margin-right: 8px;
    font-size: 8px;
  }
  section.price-block .areaBtn {
    margin: 30px auto 0;
    width: 88%;
  }
  section.price-block .areaBtn .btn a {
    height: 50px;
    font-size: 13px;
  }
  /* yes-------------------------------------------------------------------------------------*/
  section.yes-block .section-inner {
    padding: 34px 0 0;
  }
  section.yes-block .areaTtl .ttl::before {
    width: 94px;
    left: -47px;
    bottom: 7px;
  }
  section.yes-block .areaTtl .ttl::after {
    width: 94px;
    right: -47px;
    bottom: 7px;
  }
  section.yes-block .areaTtl .ttl .main {
    margin: 0 -5px;
    font-size: 21px;
  }
  section.yes-block .areaTtl .ttl .main .big {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 36px;
  }
  section.yes-block .areaTtl .ttl .sub {
    font-size: 12px;
  }
  section.yes-block .areaTtl .ttl .sub .big {
    font-size: 16px;
  }
  section.yes-block .box {
    padding: 34px 0 37px;
  }
  section.yes-block .box .list {
    width: 100%;
    float: none;
  }
  section.yes-block .box .list .item {
    margin-bottom: 16px;
    padding-left: 36px;
    font-size: 13px;
  }
  section.yes-block .box .list .item::before {
    width: 26px;
    height: 26px;
    font-size: 19px;
    line-height: 21px;
    left: 6px;
  }
  section.yes-block .btn {
    width: 83%;
    bottom: -23px;
  }
  section.yes-block .btn a {
    font-size: 14px;
    height: 50px;
  }
  /* news-------------------------------------------------------------------------------------*/
  /*
  section.news-block .section-inner{
    padding: 60px 0 65px;
  }
  section.news-block .wrap{
    padding: 0 15px;
  }
  section.news-block .box{
    width: 100%;
    float: none;
  }
  section.news-block .box + .box{
    margin-top: 62px;
    padding-left: 0;
  }
  section.news-block .box .btn{
    top: 0;
    right: 0;
  }
  section.news-block .areaNews:first-child{
    padding-right: 0;
  }
  section.news-block .areaNews:last-child{
      padding-left: 0;
  }
  section.news-block .box .btn a{
    padding: 9px;
    width: 125px;
    font-size: 10px;
  }
  section.news-block .box .btn a::after{
    width: 4px;
    height: 4px;
    right: 10px;
  }
  section.news-block .box .areaTtl .ttl{
    padding-bottom: 4px;
    font-size: 14px;
  }
  section.news-block .areaNews .news-list{
    margin-top: 20px;
  }
  section.news-block .areaUpdate .update-list
  {
    margin-top: 15px;

  }
  section.news-block .areaNews .list .item + .item{
    margin-top: 19px;
  }
  section.news-block .areaNews .list .item a .t1{
    margin-right: 10px;
    width: 100px !important;
  }
  section.news-block .box .list .item a .t1 .date{
    display: block;
    margin-right: 0;
    font-size: 10px;
    text-align: center;
  }
  section.news-block .box .list .item a .t1 .cat{
    display: block;
    padding: 1px 0;
    width: 100%;
    font-size: 9px;
  }
  section.news-block .box .list .item a .t2{
    width: auto !important;
    vertical-align: middle;
  }
  section.news-block .box .list .item a .t2 .ttl{
    font-size: 12px;
  }
*/
  /*
cv-------------------------------------------------------------------------------------*/
  .cv .cf {
    display: block;
  }
  .cv .block-inner {
    padding: 5px 0 10px;
  }
  .cv .box-l, .cv .box-r {
    width: 100%;
    float: none;
    box-sizing: border-box;
  }
  .cv .box-l {
    margin-bottom: 33px;
    padding-right: 0;
    border: none;
    box-shadow: none;
  }
  .cv .box-l .c-ttl {
    padding-right: 0;
  }
  .cv .box-l .c-ttl .en {
    font-size: 11px;
    letter-spacing: inherit;
  }
  .cv .box-l .c-ttl .en::after {
    width: 42px;
    bottom: -5px;
  }
  .cv .box-l .c-ttl .jp {
    margin-top: 0;
    padding-top: 7px;
    font-size: 17px;
  }
  .cv .box-l .lead {
    margin-bottom: 18px;
    font-size: 13px;
    letter-spacing: 0;
  }
  .cv .box-l .areaList .list {
    margin: 0 auto;
    width: 190px;
  }
  .cv .box-l .areaList .list .item+.item {
    margin-top: 3px;
  }
  .cv .box-l .areaList .list .item .num {
    padding: 0 5px 0 0;
    font-size: 21px;
  }
  .cv .box-l .areaList .list .item .ttl {
    font-size: 13px;
  }
  .cv .box-l .btn {
    margin-top: 27px;
    margin-bottom: 7px;
  }
  .cv .box-l .btn a {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    font-size: 12px;
  }
  .cv .box-l .note {
    font-size: 11px;
  }
  .cv .box-r {
    padding-left: 0;
  }
  .cv .box-r .download {
    margin: 0 5px;
    padding: 16px 20px 4px;
    border-radius: 2px;
  }
  .cv .box-r .download .c-ttl {
    margin: 0 auto 14px;
    width: 176px;
  }
  .cv .box-r .download .c-ttl .jp {
    padding-left: 37px;
    font-size: 16px;
  }
  .cv .box-r .download .c-ttl .jp::before {
    width: 28px;
    height: 28px;
    top: 2px;
    left: 3px;
  }
  .cv .box-r .download .c-ttl .en {
    padding-left: 37px;
    font-size: 8px;
  }
  .cv .box-r .download .txt {
    margin-bottom: 20px;
  }
  .cv .box-r .download .btn a {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    font-size: 12px;
  }
  .cv .box-r .tel {
    margin-top: 20px;
  }
  .cv .box-r .tel .tit {
    padding-left: 22px;
    font-size: 16px;
  }
  .cv .box-r .tel .tit::before {
    width: 15px;
    top: 5px;
    left: 10px;
  }
  .cv .box-r .tel .txt {
    margin-top: 10px;
  }
  .cv .box-r .tel .num {
    margin-top: 16px;
    text-align: center;
    line-height: 2.4;
  }
  .cv .box-r .tel .num span {
    display: block;
    font-size: 21px;
  }
  .cv .box-r .tel .num span+span {
    margin-left: 0;
    margin-right: 0;
  }
  .cv .box-r .tel .time {
    margin-top: 5px;
    padding-right: 6px;
    font-size: 11px;
  }
}