@charset "UTF-8";

#header {
  background: #fff;
}
#header .subpage div,
#header .subpage a {
  color: #111111;
}

.page-ttl {
  margin-top: 92px;
  padding: 20px 0 0px;
  text-align: center;
  font-size: 44px;
  font-weight: 300;
  color: #021e2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.page-ttl span {
  display: block;
}
.page-ttl span.sub {
  font-size: 20px;
  font-weight: bold;
  color: #f06d05;
}

/*-------------------------------*/
#bread {
  padding: 0 20px 20px;
  font-weight: 100;
  font-size: 15px;
  border-bottom: 1px solid #dedede;
  position: relative;
}
#bread::after {
  content: "";
  width: 175px;
  height: 3px;
  background: #fc8f00;
  background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07',GradientType=1 );
  position: absolute;
  bottom: -1px;
  left: calc(50% - 86px);
}
#bread ul {
  display: flex;
}
#bread ul li {
  position: relative;
  padding-right: 30px;
}
#bread ul li::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}
#bread ul li:last-child::after {
  display: none;
}
#bread ul li a {
  color: #4b818b;
  text-decoration: none;
}
#bread ul li a:hover {
  text-decoration: underline;
}

.page-link {
  border-bottom: 1px solid #eee;
  margin: 1px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-link > .ttl {
  width: 100px;
  margin-right: 1px;
  background: #003847;
  color: #fff;
  text-align: center;
  padding: 35px 0;
}
.page-link ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -5px;
  width: 100%;
}
.page-link .ttl + ul {
  width: calc(100% - 101px);
}
.page-link ul li {
  margin-left: 5px;
  width: calc(16.666% - 5px);
}
.page-link.l5 ul li {
  width: calc(20% - 5px);
}
.page-link.l3 ul li {
  width: calc(33.3333% - 5px);
}
.page-link.l4 ul li {
  width: calc(25% - 5px);
}
.page-link ul li > div,
.page-link ul li > a {
  display: block;
  text-decoration: none;
  text-align: center;
  border-bottom: 3px solid #fff;
  padding: 35px 0;
  transition: 0.2s;
  color: #181a38;
  font-weight: 500;
}
.page-link ul li a:hover {
  border-bottom: 3px solid #20718c;
}
.page-link ul li.active > div,
.page-link ul li.active > a {
  border-bottom: 3px solid #20718c;
}

.c-box {
  padding-top: 50px;
}
.c-box-in {
  position: relative;
  background: #f6f6f6;
  margin: 0px 0 110px;
  padding: 80px 50px 40px;
  border: 1px solid #f6f6f6;
}
.c-box-in:nth-child(even) {
  background: #fff;
  border: 1px solid #eee;
}
.c-box .c-box-ttl {
  position: absolute;
  width: 580px;
  height: 70px;
  background: #003847;
  color: #fff;
  text-align: center;
  left: calc(50% - 290px);
  top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 0 0px 3px;
}
.c-box .c-box-ttl::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #003847 transparent transparent transparent;
  bottom: -15px;
  left: calc(50% - 20px);
}
.c-box .c-box-ttl.c2 {
  background: #e66700;
}
.c-box .c-box-ttl.c2::after {
  border-color: #e66700 transparent transparent transparent;
}

.faq-list2 {
  position: relative;
}
.faq-list2::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #333;
  left: 50%;
  top: 0;
}
.faq-list2 ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.faq-list2 ul li {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 0;
  margin: 10px 0px;
}
.faq-list2 ul li:nth-child(even) {
  padding: 0 0 0 30px;
}
.faq-list2 ul li::before {
  content: "Q";
  width: 54px;
  height: 54px;
  background: #ffa61a;
  color: #fff;
  font-weight: 500;
  font-size: 34px;
  text-align: center;
  line-height: 45px;
  border-radius: 27px;
}
.faq-list2 ul li > span {
  width: calc(100% - 68px);
  line-height: 1.4;
}

/*------------------------------------*/
.c-ttl2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 30px;
  color: inherit;
  line-height: 1.4;
}
.c-ttl2 .main {
  font-size: 34px;
  font-weight: 700;
  display: block;
  color: #001e2c;
  position: relative;
}
.c-ttl2 .main span.sp {
  display: inline;
}
.c-ttl2 .sub {
  font-size: 22px;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
.c-ttl2 .border-t {
  margin-top: 10px;
  padding-top: 10px;
}
.c-ttl2 .border-t::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  background: #f06d05;
  top: 0;
  left: calc(50% - 45px);
}

/*------------------------*/
.box-list2 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
}
.box-list2 .box-block {
  width: calc(20% - 40px);
  margin-left: 40px;
  margin-bottom: 40px;
}
.box-list2 .ttl {
  color: #e57100;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.box-list2 .box {
  background: #e57100;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.3;
  box-shadow: 15px 15px 0 0 rgba(100, 100, 100, 0.1);
  color: #fff;
}
.box-list2 .box-block:nth-child(even) .box {
  background: #ff8b02;
}
.box-list2 .box .box-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  position: relative;
}
.box-list2 .box .t1 {
  font-size: 100px;
  font-weight: 100;
  line-height: 1;
  padding-bottom: 10px;
}
.box-list2 .box .t2 {
  position: absolute;
  font-size: 22px;
  right: 15px;
  bottom: 10px;
}
.box-list2 .box .t2 span {
  font-size: 100px;
  color: #ad3d4e;
  font-weight: 100;
  line-height: 1;
}
.box-list2 .box-block a{
  text-decoration: none;
}

.box-list2.l6 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}
.box-list2.l6 .box-block {
  width: calc(16.666% - 20px);
  margin-left: 20px;
  margin-bottom: 40px;
}
.box-list2.l6 .ttl {
    font-size: 18px;
}
.box-list2.l6 .box .box-in {
  height: 180px;
}
.box-list2.l6 .box .t1 {
  font-size: 90px;
}


/*-------------------------------------*/
.box-list3 {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}
.box-list3 .box {
  width: calc(33.333% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  background: #f6f6f6;
  text-align: center;
  position: relative;
}

.box-list3 .box .box-in {
  padding: 40px 30px 60px;
}
.box-list3 .box .img {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.box-list3 .box .img.s2 {
  height: auto;
  margin-top: -20px;
}
.box-list3 .box .ttl {
  display: block;
  font-size: 140%;
  line-height: 1.3;
  height: 20%;
  margin-bottom: 10px;
  color: #e57200;
  font-weight: 600;
}
.box-list3 .box .txt {
  display: block;
  text-align: left;
  line-height: 1.8;
  color: #333;
}
.box-list3 .box .btn {
  position: absolute;
  width: calc(100% - 60px);
  bottom: 30px;
  left: 30px;
}
.box-list3 .box .btn a {
  display: block;
  padding: 14px 20px 16px;
  line-height: 20px;
  background: #e66700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  transition: 0.2s;
}
.box-list3 .box .btn a.c2 {
  background: #003847;
}
.box-list3 .box .btn a:hover {
  opacity: 0.8;
}
.box-list3 .box .btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px;
  top: calc(50% - 3px);
  position: absolute;
}
.box-list3 .note{
  font-size: 20px;
  line-height: 1.8;
  position: absolute;
  bottom: 185px;
  left: 464px;
}
.box-list3 .note a{
  color: #e57200;
}
.box-list3 .note a:hover{
  text-decoration: none;
}
.box-list3 .link{
  margin-bottom: 0;
  position: absolute;
  bottom: 85px;
  left: 464px;
}

.box-list3 .link a{
  display: inline-block;
  border: 1px solid #003847;
  color: #003846;
  border-radius: 20px;
  padding: 5px 35px 5px 30px;
  text-decoration: none;
  line-height: 25px;
  position: relative;
  transition: .2s;
}
.box-list3 .link a:hover{
  opacity: 0.8;
  transition: all .2s linear;
}
.box-list3 .link a:after{
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #07354f;
  border-right: 1px solid #07354f;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}
/*-------------------------------------*/
.box-list4 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  margin-bottom: 40px;
}
.box-list4 .box {
  width: calc(50% - 2px);
  margin-left: 2px;
  margin-bottom: 2px;
  background: #eeeeee;
  text-align: left;
  box-sizing: border-box;
  padding: 40px 50px 60px;
  min-height: 320px;
}

.box-list4 .box .ttl {
  font-size: 23px;
  color: #2e4752;
  font-weight: 600;
  margin-bottom: 20px;
}
.box-list4 .box .ttl .num {
  display: inline-block;
  color: #ff8c00;
  font-size: 52px;
  margin-right: 15px;
  line-height: 1;
  font-weight: 500;
}
.box-list4 .box .txt {
  line-height: 1.8;
  color: #333;
}

.box-list4.column1 {
  flex-direction: column;
  margin-left: 0px;
  margin-bottom: 40px;
}
.box-list4 .box {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 2px;
  padding: 40px 50px 60px;
  min-height: 0;
}

/*-------------------------------------*/
.box-list5 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 40px;
}
.box-list5 .box {
  width: calc(33.333% - 30px);
  margin-left: 30px;
  margin-bottom: 2px;
  background: #eeeeee;
  text-align: left;
  box-sizing: border-box;
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-list5 .box .ttl {
  font-size: 23px;
  color: #001e2c;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.4;
}
.box-list5 .box .ttl span {
  width: calc(100% - 35px);
}
.box-list5 .box .ttl .num {
  color: #e57200;
  font-size: 52px;
  margin-right: 15px;
  line-height: 1.1;
  font-weight: 500;
  width: 35px;
}
.box-list5 .box .txt {
  line-height: 1.7;
  color: #333;
}
.box-list5 .box .btn {
  padding-top: 30px;
  margin-bottom: -20px;
}
.box-list5 .box .btn .btn-txt {
  margin-bottom: 15px;
  font-size: 15px;
  color: #333;
}
.box-list5 .box .btn .btn-txt.pdf {
  background: url(../img/ico_pdf.png) no-repeat left center;
  line-height: 32px;
  padding-left: 35px;
}
.box-list5 .box .btn a {
  display: block;
  padding: 15px 20px;
  line-height: 20px;
  background: #e66700;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  transition: 0.2s;
}
.box-list5 .box .btn a.c2 {
  background: #003847;
}
.box-list5 .box .btn a:hover {
  opacity: 0.8;
}
.box-list5 .box .btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px;
  top: calc(50% - 3px);
  position: absolute;
}

/*------------------------*/
.b-ttl {
  padding-top: 45px;
  margin-bottom: 50px;
  position: relative;
  color: #06222d;
  font-size: 27px;
  font-weight: 600;
}
.b-ttl::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #fc8f00;
  background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07',GradientType=1 );
  top: 0;
  left: 0;
}

/*------------------------*/
.data-table {
  margin-bottom: 20px;
}
.data-table table {
  width: 100%;
  border-collapse: collapse;
  color: #091e23;
  font-size: 17px;
  table-layout: fixed;
  line-height: 1.2;
}
.data-table table caption {
  margin-bottom: 25px;
  font-weight: 600;
  color: #003846;
}
.data-table table th {
  padding: 22px 15px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  background: #fff;
}
.data-table table th {
  padding: 22px 15px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  background: #fff;
}
.data-table table td {
  padding: 22px 15px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  background: #fff;
}
.data-table table thead th {
  border-top: 1px solid #091e23;
  border-right: 1px dotted #091e23;
  border-bottom: 2px solid #091e23;
}
.data-table table thead th:last-child {
  border-right: 1px solid #091e23;
}
.data-table table thead td {
  border-top: 1px solid #091e23;
  border-left: 1px solid #091e23;
  border-right: 2px solid #091e23;
  border-bottom: 2px solid #091e23;
}
.data-table table thead td.bn {
  border-top: none;
  border-left: none;
}
.data-table table thead td.bn2 {
  border-top: none;
  border-left: none;
  border-right: none;
}
.data-table table tbody th {
  border-right: 2px solid #091e23;
  border-bottom: 1px solid #091e23;
  border-left: 1px solid #091e23;
}
.data-table table tbody td {
  border-right: 1px dotted #091e23;
  border-bottom: 1px solid #091e23;
}
.data-table table tbody td:last-child {
  border-right: 1px solid #091e23;
}

.data-table table .p1 {
  padding: 0 10px;
}
.data-table table .p2 {
  padding: 15px 10px;
}
.data-table table .b1 {
  background: #003847;
}
.data-table table .b2 {
  background: #257387;
}
.data-table table .b3 {
  background: #ffa61a;
}
.data-table table .b4 {
  background: #ff8c00;
}
.data-table table .b5 {
  background: #e57200;
}
.data-table table .b6 {
  background: #ffe1bd;
}
.data-table table .b7 {
  background: #f3f3f3;
}
.data-table table .b8 {
  background: #2d8fa8;
}
.data-table table .c1 {
  color: #e57200;
}
.data-table table .c2 {
  color: #fff;
}
.data-table table .c3 {
  color: #bd4200;
}
.data-table table .f1 {
  font-size: 24px;
}
.data-table table .f1 span span {
  font-size: 18px;
}
.data-table table .f2 {
  font-size: 30px;
}
.data-table table .bl1 {
  border-left: 1px solid #091e23;
}
.data-table table .br1 {
  border-right: 1px solid #091e23;
}
.data-table table .br2 {
  border-right: 2px solid #091e23;
}
.data-table table .bt2 {
  border-top: 2px solid #091e23;
}
/*------------------------*/
.movie {
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
.movie iframe {
  width: 100%;
}

/*------------------------*/
.register-list {
  width: 1100px;
  margin: 0 auto 50px;
}
.register-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
}
.register-list.center ul {
  justify-content: center;
}
.register-list ul li {
  margin-left: 15px;
  margin-bottom: 20px;
}
.register-list ul li a {
  display: block;
  background: #eeeeee;
  padding: 10px 35px 11px 32px;
  border-radius: 30px;
  position: relative;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
  color: #07354f;
  font-weight: 500;
  transition: 0.2s;
}
.register-list ul li a:hover {
  opacity: 0.8;
}
.register-list ul li a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #07354f;
  border-right: 1px solid #07354f;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px;
  top: calc(50% - 3px);
  position: absolute;
}
/*------------------------*/
.register-block {
  margin: 0 auto 100px;
}
.register-block .register-block-ttl {
  background: #003845;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}
.register-block .register-block-list {
  border: 1px solid #003845;
}
.register-block .register-block-list .more {
  display: none;
}
.register-block .register-block-list li {
  border-bottom: 1px dotted #aaa;
  padding: 15px 30px;
  color: #333;
}
/*
      .register-block .register-block-list .more li:last-child{
        border-bottom: none;
      }
      */
.register-block .register-block-list .more-btn {
  margin: 18px auto;
  width: 370px;
  background: #eeeeee;
  color: #003846;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  line-height: 50px;
  border-radius: 25px;
  position: relative;
  transition: 0.1s;
}
.register-block .register-block-list .more-btn::before {
  content: "もっと見る";
}
.register-block .register-block-list .more-btn.close::before {
  content: "閉じる";
}
.register-block .register-block-list .more-btn:hover {
  opacity: 0.8;
}
.register-block .register-block-list .more-btn span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
  right: 15px;
  top: calc(50% - 10px);
}
.register-block .register-block-list .more-btn span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
  background: #003846;
}
.register-block .register-block-list .more-btn span::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 1px);
  background: #003846;
}
.register-block .register-block-list .more-btn.close span::after {
  display: none;
}

/*------------------------*/
.c-txt p.link a {
  display: inline-block;
  border: 1px solid #003847;
  color: #003846;
  border-radius: 20px;
  padding: 5px 35px 5px 30px;
  text-decoration: none;
  line-height: 25px;
  position: relative;
  transition: 0.2s;
}
.c-txt p.link a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #07354f;
  border-right: 1px solid #07354f;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}
.c-txt p.link a:hover {
  opacity: 0.7;
}
.c-txt p:last-child {
  margin-bottom: 0;
}

.c-txt ol {
  list-style-type: decimal;
  padding-left: 1.2em;
}
.c-txt ol li {
  line-height: 1.4;
  margin-bottom: 12px;
}

/*------------------------*/
.support-list {
}
.support-list ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -40px;
}
.support-list ul li {
  width: calc(50% - 40px);
  margin: 180px 0px 40px 40px;
  position: relative;
  background: #f6f6f6;
}
.support-list ul li .img {
  width: 220px;
  height: 220px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
  border-radius: 110px;
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  position: absolute;
  top: -150px;
  left: calc(50% - 110px);
}
.support-list ul li .img .ttl {
  position: absolute;
  left: calc(50% + 60px);
  top: -10px;
  width: 110px;
  height: 110px;
  background: #ff8300;
  color: #fff;
  border-radius: 55px;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  z-index: 2;
}
.support-list ul li .img .ttl > div {
  vertical-align: middle;
}
.support-list ul li .img .ttl span {
  font-size: 30px;
}

.support-list ul li .txt-area {
  padding: 90px 30px 50px;
}
.support-list ul li .txt-area .ttl {
  font-size: 140%;
  line-height: 1.3;
  height: 2.6em;
  color: #e57200;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.support-list ul li .txt {
  font-size: 17px;
  line-height: 1.7;
  color: #333;
}

/*------------------------*/
.c-table2 {
  margin-bottom: 40px;
}
.c-table2 table {
  width: 100%;
  line-height: 2;
  font-size: 16px;
}
.c-table2 table th {
  padding: 25px 15px;
  width: 200px;
  border-bottom: 1px dotted #aaa;
  text-align: left;
  vertical-align: top;
  color: #003847;
  font-weight: 500;
}
.c-table2 table td {
  padding: 25px 20px;
  border-bottom: 1px dotted #aaa;
  text-align: left;
  vertical-align: top;
  font-weight: 300;
  color: #333;
}
.c-table2 table td a {
  display: inline-block;
  color: #e57200;
  text-decoration: underline;
}
.c-table2 table td a.blank {
  background: url(../img/ico_blank.png) no-repeat right center;
  padding-right: 25px;
}
.c-table2 table td a:hover {
  text-decoration: none;
}

/*------------------------*/
.c-txt .sub-ttl {
  font-size: 22px;
  font-weight: 600;
  color: #001e2c;
  line-height: 1.5;
  margin-bottom: 12px;
}
.c-txt .sub-ttl span.sp {
  display: inline !important;
}
.c-txt a {
  color: #003846;
}
.c-txt a:hover {
  text-decoration: none;
}

/*------------------------*/
.ttl-txt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
.ttl-txt .ttl-area {
  width: 180px;
}
.ttl-txt .txt-area {
  width: calc(100% - 220px);
}

.half-ttl {
  width: 150px;
  height: 150px;
  background: #ff8c00;
  background: -moz-linear-gradient(-45deg, #ff8c00 50%, #e57200 50%);
  background: -webkit-linear-gradient(-45deg, #ff8c00 50%, #e57200 50%);
  background: linear-gradient(135deg, #ff8c00 50%, #e57200 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c00', endColorstr='#e57200',GradientType=1 );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  box-shadow: 25px 20px 0 0 rgba(120, 120, 120, 0.1);
}
.half-ttl .t1 {
  width: 40%;
  margin-top: -42%;
}
.half-ttl .t2 {
  width: 40%;
  margin-bottom: -32%;
}
.half-ttl .t3 {
  line-height: 1.1;
  margin-bottom: 5px;
}

/*------------------------*/
.ttl-box {
  position: relative;
  padding-top: 80px;
  margin-bottom: 60px;
}
.ttl-box .ttl-area {
  position: absolute;
  top: -0px;
  left: 0;
  z-index: 2;
  width: 100%;
}
.ttl-box .ttl-area > div {
  margin: 0 auto;
}
.ttl-box .box-area {
  background: #f6f6f6;
  padding-top: 95px;
  position: relative;
}
.ttl-box .box-area.b2 {
  background: #fff;
  border: 1px solid #ff8c00;
}
.ttl-box .box-area .box-area-in {
  padding: 40px 55px;
}

/*------------------------*/
.about-img-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-img-txt .img-area {
  width: 470px;
}
.about-img-txt .txt-area {
  width: calc(100% - 510px);
  position: relative;
}
.about-img-txt .txt-area .txt {
  padding: 50px 40px 70px;
  line-height: 1.8;
}
.about-img-txt .txt-area .txt .ttl {
  font-size: 21px;
  font-weight: 500;
  color: #e57200;
  margin-bottom: 20px;
  line-height: 1.4;
}
.about-img-txt .txt-area .txt .ttl span.sp {
  display: inline !important;
}
.about-img-txt .txt-area .btn {
  margin-top: -28px;
  text-align: center;
}
.about-img-txt .txt-area .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 56px;
  background: #e66700;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  border-radius: 28px;
  font-weight: 400;
  position: relative;
  transition: 0.2s;
  font-size: 90%;
}
.about-img-txt .txt-area .btn a:hover {
  opacity: 0.8;
}
.about-img-txt .txt-area .btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}

/*------------------------*/
.column-wrap .main-column {
  width: 850px;
}
.column-wrap .side-column {
  width: 300px;
}

/*------------------------*/
.news-list {
  padding-top: 45px;
  margin-bottom: 50px;
}
.news-list ul {
  border-top: 1px dotted #bbb;
}
.news-list li {
  border-bottom: 1px dotted #bbb;
  padding: 5px 0;
}
.news-list li a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
}

.news-list li a .t1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.news-list li a .t2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.news-list li a .date {
  margin-right: 15px;
}
.news-list li a .cat {
  background: #e57200;
  color: #fff;
  padding: 0 10px;
}
.news-list li a .ttl {
  color: #003847;
}

.news-list li a:hover .ttl {
  text-decoration: underline;
}

/*------------------------*/

.side-list {
  margin-bottom: 30px;
}
.side-list .ttl {
  font-size: 24px;
  font-weight: 600;
  color: #003847;
  line-height: 30px;
  margin-bottom: 15px;
  padding: 0 5px;
}
.side-list .list {
}
.side-list .list li {
  margin-bottom: 1px;
}
.side-list .list li a {
  display: block;
  color: #003847;
  text-decoration: none;
  background: #f2f2f2;
  padding: 18px 20px;
  position: relative;
  transition: 0.2s;
}
.side-list .list li a:hover {
  opacity: 0.7;
}
.side-list .list li a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #003847;
  border-right: 1px solid #003847;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}
.side-list .btn {
  padding-top: 25px;
}
.side-list .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #e66700;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
  border-radius: 28px;
  font-weight: 400;
  position: relative;
  transition: 0.2s;
}
.side-list .btn a:hover {
  opacity: 0.8;
}
.side-list .btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 15px;
  top: calc(50% - 2px);
  position: absolute;
}
.side-list .btn.back a::after {
  right: auto;
  left: 25px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*------------------------*/
#pagenation,
.navigation {
  clear: both;
  padding: 30px 0 50px;
  position: relative;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
}
#pagenation .page-numbers,
.navigation .nav-links {
  display: flex;
  justify-content: center;
}
#pagenation li {
  margin: 0 4px;
}
#pagenation .current,
#pagenation a,
.navigation .current,
.navigation a {
  display: block;
  margin: 2px 2px;
  text-decoration: none;
  width: 46px;
  padding-bottom: 1px;
  text-align: center;
  color: #003847;
  font-weight: 500;
  border-radius: 24px;
}
#pagenation .current,
#pagenation a {
  margin: 0 0;
}
#pagenation .current,
#pagenation a:hover,
.navigation .current,
.navigation a:hover {
  color: #fff;
  background: #f94a00;
  background: -moz-linear-gradient(-45deg, #f94a00 0%, #e57200 100%);
  background: -webkit-linear-gradient(-45deg, #f94a00 0%, #e57200 100%);
  background: linear-gradient(135deg, #f94a00 0%, #e57200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f94a00', endColorstr='#e57200',GradientType=1 );
}

/*------------------------*/
.entry {
}
.entry .entry-ttl {
  margin-bottom: 40px;
}

.entry .entry-ttl .ttl {
  font-size: 24px;
  font-weight: 600;
  color: #001e2c;
  line-height: 1.3;
  margin-bottom: 25px;
}
.entry .entry-ttl .data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.2;
}
.entry .entry-ttl .data .date {
  margin-right: 20px;
  border-right: 1px solid #333;
  padding-right: 20px;
}
.entry .entry-ttl .data .cat {
  background: #e57200;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
}

.entry-body {
  border-top: 1px dotted #bbb;
  border-bottom: 1px dotted #bbb;
  padding: 50px 0 80px;
  margin-bottom: 40px;
  color: #333;
  line-height: 1.8;
}
.entry-body.border {
  border: none;
  padding: 0px 0 20px;
}
.entry-body h3 {
  font-size: 20px;
  font-weight: 600;
  color: #001e2c;
  line-height: 1.5;
  margin-bottom: 12px;
}
.entry-body ul {
  margin-bottom: 40px;
}
.entry-body ul li {
  padding-left: 1em;
  text-indent: -1em;
  margin-bottom: 5px;
}
.entry-body ul li::before {
  content: "・";
}
.entry-body h2 {
  font-size: 21px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 20px;
}
.entry-body p {
  margin-bottom: 15px;
  line-height: 1.7;
}
.entry-body a {
  color: #003847;
}
.entry-body a:hover {
  text-decoration: none;
}
.entry-body table {
  margin-bottom: 30px;
}
.entry-body table th {
  border: 1px solid #eee;
  padding: 10px 15px;
}
.entry-body table td {
  border: 1px solid #eee;
  padding: 10px 20px;
}
.entry-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  line-height: 34px;
  margin-bottom: 50px;
}
.entry-nav a {
  color: #001e2d;
  text-decoration: none;
}
.entry-nav .entry-nav-prev {
}
.entry-nav .entry-nav-prev a {
  display: block;
  padding-left: 15px;
  position: relative;
}
.entry-nav .entry-nav-prev a:hover {
  text-decoration: underline;
}
.entry-nav .entry-nav-prev a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #001e2d;
  border-left: 1px solid #001e2d;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0px;
  top: calc(50% - 2px);
  position: absolute;
}
.entry-nav .entry-nav-next {
}
.entry-nav .entry-nav-next a {
  display: block;
  padding-right: 15px;
  position: relative;
}
.entry-nav .entry-nav-next a:hover {
  text-decoration: underline;
}
.entry-nav .entry-nav-next a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #001e2d;
  border-right: 1px solid #001e2d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0px;
  top: calc(50% - 2px);
  position: absolute;
}

.entry-nav .entry-nav-back {
  width: 150px;
  position: absolute;
  left: calc(50% - 75px);
  top: 0;
}
.case-detail .entry-nav .entry-nav-back {
  width: 220px;
  left: calc(50% - 110px);
}
.entry-nav .entry-nav-back a {
  display: block;
  background: #003847;
  color: #fff;
  padding: 0 15px 1px 10px;
  font-weight: 500;
  text-align: center;
  border-radius: 36px;
}
.entry-nav .entry-nav-back a:hover {
  opacity: 0.8;
}
.entry-nav .entry-nav-back a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 12px;
  top: calc(50% - 3px);
  position: absolute;
}

/*------------------------*/
.search-tag {
  margin-bottom: 50px;
}
.search-tag .tag-ttl {
  width: 220px;
  padding: 10px 40px;
  position: relative;
  box-sizing: border-box;
  background: #00242d url(../img/ico_search.png) no-repeat 12px center;
  color: #fff;
  border-radius: 5px 5px 0 0;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.search-tag .tag-ttl .arrow {
  display: block;
  width: 30px;
  height: 30px;
  background: #003e5b;
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  border-radius: 15px;
}
.search-tag .tag-ttl .arrow::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: calc(50% - 3px);
  top: calc(50% - 2px);
  position: absolute;
}

.search-tag .tag-body {
  background: #eeeeee;
  padding: 35px 25px 25px;
}
.search-tag .tag-body ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -15px;
}
.search-tag .tag-body ul li {
  margin-left: 15px;
  margin-bottom: 10px;
}
.search-tag .tag-body ul li a {
  background: #ffffff;
  display: block;
  padding: 5px 20px 6px;
  border-radius: 20px;
  text-decoration: none;
}

/*------------------------*/
.case-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-left: -55px;
}
.case-list .case-block {
  width: calc(33.333% - 55px);
  margin-left: 55px;
  margin-bottom: 100px;
}

.case-list .case-block a {
  display: block;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
  height: 100%;
}
.case-list .case-block .img-area {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.case-list .case-block .img-area img {
  height: auto;
}
.case-list .case-block .txt-area {
  display: block;
  margin-bottom: 20px;
}
.case-list .case-block .txt-area .ttl {
  display: block;
  color: #003847;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
}
.case-list .case-block .txt-area .txt {
  display: block;
  line-height: 1.4;
  font-size: 17px;
  color: #333;
}
.case-list .case-block .data {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  line-height: 1.2;
  color: #333;
}
.case-list .case-block .data .num {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #333;
}
.case-list .case-block .data .tag {
  color: #ed6f0a;
}

/*------------------------*/

.case-detail {
}
.case-detail .case-head {
  position: relative;
  margin-bottom: 60px;
}

.case-detail .case-head .ttl-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 35px;
  padding-right: 200px;
}
.case-detail .case-head .ttl-area .ttl {
  font-size: 21px;
  color: #003847;
  font-weight: bold;
  border-bottom: 1px solid #e56607;
  padding-bottom: 10px;
  margin-right: 40px;
  line-height: 1.2;
}
.case-detail .case-head .ttl-area .cat {
}
.case-detail .case-head .ttl-area .cat ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.case-detail .case-head .ttl-area .cat ul li {
  margin-left: 8px;
  background: #999;
  color: #fff;
  padding: 8px 20px;
  font-size: 15px;
  line-height: 1;
}
.case-detail .case-head .ttl-area .cat ul li.c1 {
  background: #df4300;
}
.case-detail .case-head .ttl-area .cat ul li.c2 {
  background: #e7990a;
}
.case-detail .case-head .ttl-area .cat ul li.c3 {
  background: #34970f;
}
.case-detail .case-head .ttl-area .cat ul li.c4 {
  background: #29bad3;
}

.case-detail .case-head .sub-ttl {
  font-size: 24px;
  color: #003847;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 40px;
}

.case-detail .case-head .data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  line-height: 1.4;
  color: #333;
}
.case-detail .case-head .data .num {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #333;
}
  .case-detail .case-head .data .num br{
    display: none;
  }
.case-detail .case-head .data .tag {
  color: #ed6f0a;
}
.case-detail .case-head .data .tag span + span{
  margin-left: 10px;
}

.case-detail .case-head .btn-back {
  position: absolute;
  top: 0;
  right: 0;
}

.case-detail .case-head .btn-back a {
  display: block;
  text-decoration: none;
  background: #003847;
  color: #fff;
  padding: 0 35px 1px 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 36px;
  line-height: 35px;
}
.case-detail .case-head .btn-back a:hover {
  opacity: 0.8;
}
.case-detail .case-head .btn-back a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 12px;
  top: calc(50% - 3px);
  position: absolute;
}

.case-detail .img-area {
  text-align: center;
  margin-bottom: 80px;
}
  .case-detail .img-area img{
    height: auto;
  }

.case-detail .company-data {
  background: #f6f6f6;
  border: 1px solid #e4e4e4;
  padding: 40px 40px;
  margin-bottom: 100px;
}
.case-detail .company-data dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case-detail .company-data dl dt {
  color: #001e2d;
  font-size: 21px;
  font-weight: bold;
  width: 240px;
}
.case-detail .company-data dl dd {
  width: calc(100% - 270px);
  font-size: 15px;
  line-height: 1.8;
  color: #333;
}
.case-detail .company-data dl dd p + p {
  margin-top: 20px;
}
.case-detail .company-data dl dd p a {
  display: inline-block;
  color: #e57200;
  padding-left: 25px;
  background: url(../img/ico_blank.png) no-repeat left center;
}
.case-detail .company-data dl dd p a:hover {
  text-decoration: none;
}

.interview {
  margin-bottom: 100px;
}
.interview .interview-ttl {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  line-height: 1.2;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
  color: #003847;
}
.interview .interview-ttl::after {
  content: "";
  width: 145px;
  height: 1px;
  background: #e56607;
  position: absolute;
  bottom: 0;
  left: calc(50% - 72px);
}

.interview .interview-qa {
}
.interview .interview-q {
  font-size: 21px;
  color: #e57200;
  font-weight: 600;
  padding-left: 60px;
  position: relative;
  line-height: 1.5;
}
.interview .interview-q::before {
  content: "";
  width: 42px;
  height: 1px;
  background: #e56607;
  position: absolute;
  left: 0;
  top: 17px;
}

.interview .interview-a + .interview-q {
  margin-top: 110px;
}
.interview .interview-a {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.interview .interview-a .name {
  width: 90px;
  font-size: 20px;
  font-weight: 500;
  color: #003847;
  background: url(../img/interview_bg.png) no-repeat 10px top;
}
.interview .interview-a .name > span {
  text-align: center;
  position: relative;
  height: 58px;
  padding-bottom: 2px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
}
.interview .interview-a .txt {
  width: calc(100% - 100px);
  line-height: 2;
  color: #333;
  font-size: 16px;
  padding-top: 15px;
}
/*----------*/
.interview .interview-qa h3 {
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  color: #06222d;
  font-size: 25px;
  font-weight: 600;
}
.interview .interview-qa h4 + h3,
.interview .interview-qa p + h3 {
  margin-top: 80px;
}
.interview .interview-qa h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #fc8f00;
  background: -moz-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: -webkit-linear-gradient(left, #fc8f00 0%, #e52d07 100%);
  background: linear-gradient(to right, #fc8f00 0%, #e52d07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8f00', endColorstr='#e52d07',GradientType=1 );
  top: 0;
  left: 0;
}

.interview .interview-qa h4 {
  font-size: 21px;
  color: #e57200;
  font-weight: 600;
  padding-left: 80px;
  position: relative;
  line-height: 1.5;
  margin: 60px 0 30px;
  text-indent: -1.2em;
}
.interview .interview-qa h4::before {
  content: "― ";
}
.interview .interview-qa p {
  position: relative;
  padding-left: 80px;
  line-height: 1.8;
  margin-bottom: 15px;
  padding-top: 15px;
}
.interview .interview-qa p strong {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 60px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #003847;
  background: url(../img/interview_bg.png) no-repeat center left;
  padding: 0px 10px 0 3px;
  box-sizing: border-box;
  text-align: center;
  left: 0px;
  top: 0;
  line-height: 1.2;
} 
/*.interview .interview-qa p strong + br {
  display: none;
}*/
.interview .interview-qa p img {
  margin: 20px auto;
  max-width: calc(100% - 80px);
  height: auto !important;
  display: block;
  position: relative;
  left: -40px;
}
.interview .interview-qa > img{
  margin: 40px auto;
  max-width: calc(100% - 160px);
  height: auto !important;
  display: block;
  position: relative;
}

.interview .interview-bnr{
  text-align: center;
}
  .interview .interview-bnr a{
    display: inline-block;
    transition: .2s;
  }
  .interview .interview-bnr a:hover{
    opacity: .8;
  }

/*------------------------*/
.bottom-box {
  border: 3px solid #eeeeee;
  padding: 40px 70px;
}

/*------------------------*/
.txt-btn {
  display: flex;
  justify-content: space-between;
}
.txt-btn .btn-area {
  width: 350px;
}
.txt-btn .btn-area a {
  position: relative;
  display: block;
  text-align: center;
  border: 1px solid #003847;
  color: #003847;
  text-decoration: none;
  line-height: 30px;
  padding-bottom: 2px;
  box-sizing: border-box;
  border-radius: 18px;
  padding-right: 0px;
  transition: 0.2s;
}
.txt-btn .btn-area a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #003847;
  border-right: 1px solid #003847;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 12px;
  top: calc(50% - 3px);
  position: absolute;
}
.txt-btn .btn-area a:hover {
  opacity: 0.7;
}

.txt-btn .txt-area {
  width: calc(100% - 400px);
}

/*------------------------*/
.c-btn .c5 {
  width: 590px;
  background: #e66700;
  border: 2px solid #e66700;
  color: #fff;
}
.c-btn .c5::after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.faq-float {
  display: none;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0;
  z-index: 5;
}

/*------------------------*/
.num-list {
  padding: 0 40px;
}
.num-list li {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.num-list li .num {
  width: 45px;
  font-size: 52px;
  font-weight: 500;
  color: #ff8c00;
  line-height: 1;
}
.num-list li p {
  width: calc(100% - 50px);
  color: #001e2c;
  font-size: 20px;
  font-weight: 400;
}

/*------------------------*/
.alacarte-block {
  position: relative;
  margin-bottom: 80px;
}
.alacarte-block .box-ttl {
  margin-bottom: -40px;
  padding-left: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.alacarte-block .box-ttl .ttl {
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
  color: #003847;
}
.alacarte-block .box-ttl .ttl span {
  width: 20%;
  font-size: 104px;
  margin-right: 5px;
}
.alacarte-block .box-ttl .tags {
  width: 80%;
  padding-left: 20px;
  margin-bottom: 15px;
}
.alacarte-block .box-ttl .tags ul {
  display: flex;
  justify-content: flex-start;
}
.alacarte-block .box-ttl .tags ul li {
  margin-left: 10px;
  position: relative;
}
.alacarte-block .box-ttl .tags ul li > div {
  background: #fff;
  padding: 7px 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 0 0 #ccc;
  position: relative;
  z-index: 2;
}
.alacarte-block .box-ttl .tags ul li::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #cccccc transparent transparent transparent;
  position: absolute;
  bottom: -14px;
  left: calc(50% - 8px);
  z-index: 1;
}
.alacarte-block .box-ttl .tags ul li::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 10px);
  z-index: 3;
}

.alacarte-block .box-ttl .tags ul li.bg > div {
  background: #ff8c00;
}
.alacarte-block .box-ttl .tags ul li.bg::after {
  border-color: #ff8c00 transparent transparent transparent;
}

.alacarte-block .box-body {
  background: #f6f6f6;
  padding: 100px 75px 80px;
  color: #333;
}

.alacarte-block .box-body .ttl {
  position: relative;
  font-size: 26px;
  color: #e57200;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 40px;
}
.alacarte-block .box-body .ttl div {
  position: relative;
  z-index: 2;
}
.alacarte-block .box-body .ttl::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url(../img/interview_bg2.png) no-repeat center;
  z-index: 1;
  top: -20px;
  left: -30px;
}
.alacarte-block .box-body .ttl::after {
  content: "";
  position: absolute;
}
.alacarte-block .box-body .point {
  position: relative;
  background: #fff;
  padding: 35px 30px;
  border: 1px solid #ddd;
  line-height: 1.7;
}
.alacarte-block .box-body .point::before {
  content: "POINT";
  background: #e57200;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 100px;
  line-height: 28px;
  border-radius: 14px;
  position: absolute;
  top: -14px;
  left: 20px;
}

/*------------------------*/
.case-other-wrap {
  display: flex;
  justify-content: flex-start;
  margin-left: -2px;
  margin-bottom: 80px;
}
.case-other {
  width: calc(50% - 2px);
  margin-left: 2px;
  background: #eeeeee;
}
.case-other .head {
  background: #003847;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
  line-height: 36px;
  padding: 30px 30px;
}
.case-other .head .cat {
  background: #006984;
  font-size: 16px;
  border-radius: 18px;
  width: 140px;
  text-align: center;
}
.case-other .head .ttl {
  width: 370px;
  text-align: left;
  font-weight: 500;
}
.case-other .list {
  padding: 35px 30px 40px;
}
.case-other .list ul {
}
.case-other .list ul li {
  margin-bottom: 30px;
}
.case-other .list ul li:last-child {
  margin-bottom: 0;
}
.case-other .list ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: 0.2s;
}
.case-other .list ul li a:hover {
  opacity: 0.7;
}
.case-other .list ul li a .img-area {
  width: 200px;
}
.case-other .list ul li a .img-area img{
  height: auto;
}
.case-other .list ul li a .txt-area {
  width: calc(100% - 220px);
}
.case-other .list ul li a .txt-area .ttl {
  display: block;
  font-weight: 500;
  color: #003847;
  line-height: 1.2;
  margin-bottom: 10px;
}
.case-other .list ul li a .txt-area .txt {
  font-size: 14px;
  line-height: 1.7;
}
.case-other.c2 {
  background: #f7f7f7;
}
.case-other.c2 .head {
  background: #00242d;
}
.case-other.c2 .head .cat {
  background: #00495b;
}

/*----------------------*/
.policy {
  padding: 0 100px;
}

/*----------------------*/
.form {
  margin: 0 auto 80px;
  border: 15px solid #eeeeee;
  padding: 50px;
}
.form iframe body{
  font-size: 16px;
}
/*
Movie
-------------------------------*/
.o-ttl {
  font-weight: bolder;
  font-size: 24px;
  line-height: 160%;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
}
.o-ttl span {
  color: #e56600;
  font-weight: bolder;
}
.movie-gallery {
  background: #e66700;
}
.movie-gallery .ttl {
  background: #fff;
}
.movie-gallery .ttl img {
  width: 35%;
}
.movie-gallery .inner {
  box-sizing: border-box;
  padding: 90px 80px;
}
.movie-gallery .inner.bg-01 {
  background-image: url(../img/movie/movie_bg_01.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 25%;
}
.movie-gallery .inner ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 90px;
}
.movie-gallery .inner ul li:last-child {
  margin-bottom: 0;
}
.movie-gallery .inner ul li span.video {
  width: 454px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}
.movie-gallery .inner ul li span.video:hover {
  opacity: 0.8;
  transition: all 0.2s linear;
}
.movie-gallery .inner ul li span.video img {
  width: 100%;
  display: block;
}
.movie-gallery .inner ul li span.video span:after {
  display: block;
  position: absolute;
  content: "　";
  top: 39%;
  left: 42%;
  width: 18%;
  height: 25%;
  background-image: url(../img/common/icon-play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  z-index: 10;
}
.movie-gallery .inner ul li .txt-area {
  width: 558px;
  float: right;
  color: #fff;
}
.movie-gallery .inner ul li .txt-area em {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 150%;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
}
.movie-gallery .inner.inner.bg-01 ul li .txt-area em {
  margin-left: 0;
}
.movie-gallery .inner ul li .txt-area p a {
  text-decoration: underline;
  cursor: pointer;
}
.movie-gallery .inner ul li .txt-area p a:hover {
  text-decoration: none;
}
.movie-about {
}
.ttl-sub {
  font-size: 28px;
  font-weight: 800;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #003846;
}
.movie-about table {
  width: 100%;
}
.movie-about table th {
  width: 35%;
  padding: 50px;
  background: #003846;
  color: #fff;
  font-size: 200%;
  font-weight: 900;
  background-image: url(../img/movie/movie_arrow_01.jpg);
  background-repeat: no-repeat;
  background-position: 80% center;
  background-size: auto;
}
.movie-about table td {
  width: 65%;
  padding: 50px;
  background: #eee;
  text-align: left;
}
.movie-about table td span {
  display: block;
  margin: 16px 0;
  position: relative;
  padding-left: 30px;
  font-size: 110%;
  font-weight: 400;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #003846;
}
.movie-about table td span:before {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 22%;
  left: 0;
  content: "　";
  display: inline-block;
  background: #ff9900;
  border: solid 1px #003846;
}
.ttl-god {
  line-height: 160%;
  font-size: 250%;
  font-weight: 900;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #e66700;
}
.ttl-god span {
  font-size: 160%;
}
.movie-table table {
  width: 100%;
  border: solid 1px #000;
}
.movie-table table tr th {
  width: 28%;
  padding: 15px 20px;
  border-right: solid 1px #333;
  border-bottom: dotted 1px #000;
  background: #ff8c00;
  font-size: 100%;
  font-weight: 700;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #fff;
}
.movie-table table tr:nth-child(even) th {
  background: #e57200;
}
.movie-table table tr th span {
  font-size: 160%;
  line-height: .8;
}
.movie-table table tr td {
  width: auto;
  padding: 15px 20px;
  border-left: solid 1px #333;
  border-bottom: dotted 1px #000;
  background: #fff;
  font-weight: 400;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #003846;
}
.twoAreaBtn {
  width: 85%;
  display: table;
  margin: 0 auto;
}
.twoAreaBtn div {
  width: 50%;
  display: table-cell;
}
.twoAreaBtn div:nth-child(1) a {
  background: #003846;
}
.twoAreaBtn div a {
  margin: 0 auto;
}

/* モーダル追加 */
#modal-main-1,
#modal-main-2,
#modal-main-3,
#modal-main-4,
#modal-main-5 {
  display: none;
  margin: 0;
  padding: 0;
  position:fixed;
  z-index: 1001;
}
/*
Contact Thanks
-------------------------------*/
.contact-tel {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 9%;
  font-size: 300%;
  font-weight: 700;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #ff9900;
  background-image: url(../img/common/icon-tel.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15%;
}
.contact-tel-txt {
  font-size: 150%;
  font-weight: 700;
  font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo,
    sans-serif;
  color: #003846;
}


@media screen and (max-width: 1334px) {
  /*------------------------*/
  .about-img-txt {
    display: block;
  }
  .about-img-txt .img-area {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .about-img-txt .txt-area {
    width: 100%;
  }
  /*------------------------*/
  .box-list2 .box-block .ttl {
    height: 20%;
    font-size: 100%;
  }
  .register-list {
    width: 100%;
  }
  /*------------------------*/
  .case-list {
    box-sizing: border-box;
    padding: 0 10px;
  }
  .case-list .case-block .data {
    font-size: 12px;
  }
  .case-detail {
    box-sizing: border-box;
    padding: 0 10px;
  }
  .interview .interview-qa p strong {
    font-size: 80%;
  }
}



.products-tab{
    margin-bottom: 50px;
}
    .products-tab ul{
        display: flex;
        justify-content: center;
        border-bottom:1px solid #EEEEEE;
    }
        .products-tab ul li{
            width: 14.25%;
            box-sizing: border-box;
            padding:0 1px;
        }
            .products-tab ul li a{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 120px;
                padding: 0px 15px;
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                border-bottom:4px solid #FFFFFF;
                transition: .2s;
                position: relative;
            }
            .products-tab ul li.active a,
            .products-tab ul li:hover a{
                border-bottom:4px solid #FC8D00;
            }
            .products-tab ul li.active a::after{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7.5px 15px 7.5px;
                border-color: transparent transparent #FC8D00 transparent;
                position: absolute;
                left: calc(50% - 8px);
                bottom: -4px;
            }

            .products-tab ul li a .ico{
                display: flex;
                align-items: center;
                min-height: 60px;
            }
            .products-tab ul li a .ico .s1{
                width: 36px;
            }
            .products-tab ul li a .img{
                display: flex;
                align-items: center;
            }

.products-body{
    margin-bottom: 80px;
}
.products-body.hide{
    display: none;
}
.products-ttl{
    display: none;
}
.products-switch{
    background: #EEEEEE;
    padding: 30px;
    margin-bottom: 50px;
}
    .products-switch ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .products-switch ul li{
            margin:0 10px;
        }
        .products-switch ul li a{
            display: block;
            text-decoration: none;
            min-width: 4em;
            padding:12px 30px;
            background: #fff;
            text-align: center;
            font-size: 16px;
            border-radius: 24px;
            cursor: pointer;
            transition: .2s;
        }
        .products-switch ul li a:hover{
            background:rgb(255, 169, 58);
            color: #fff;
        }
        .products-switch ul li.active a,
        .products-switch ul li.active a:hover{
            background:#E66700;
            color: #fff;
        }


.products-body-block{
    margin-bottom: 60px;
    display: none;
}
.products-body-block.active{
    display: block;
}
.products-body-block-none{
    display: none;
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
}
.products-body-block-none.active{
    display: block;
}


.products-table{

}
    .products-table table{
        border:1px solid #021E2C;
        width: 100%;
        font-size: 16px;
        line-height: 1.8;
    }

        .products-table table th{
            font-weight: bold;
            color: #fff;
            vertical-align: middle;
            text-align: left;
            padding:15px 20px;
            background: #FC8D00;
            border-right: 1px solid #021E2C;
            border-bottom: 1px dotted #fff;
            width: 250px;
        }
        .products-table table tr:nth-child(even) th{
            background: #E57200;
        }
        .products-table table td{
            vertical-align: middle;
            text-align: left;
            border-bottom: 1px dotted #021E2C;
            font-weight: 300;
        }
            .products-table table td div{
                padding:17px 20px;
            }

        .products-table table td input{
          display: none;
        }