@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900');
@charset "UTF-8";
/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

input, textarea, select, button {
    font-size: 15px;
    font-family: inherit;
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.cf {
    display: inline-block;
    min-height: 1%;
}

.bg_c, .bg_c::before, .bg_c::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

sup {
    vertical-align: super;
    font-size: 10px;
}

sub {
    vertical-align: sub;
    font-size: 10px;
}

a {
    color: inherit;
}

.pc {
    display: block;
}

.tab {
    display: none;
}

.sp {
    display: none;
}

.pc-c {
    display: table-cell;
}

.tab-c {
    display: none;
}

.sp-c {
    display: none;
}

@media screen and (min-width: 900px) {
    .tabbr {
        display: none;
    }
    .spbr {
        display: none;
    }
}

.dis-i {
    display: inline;
}

.dis-ib {
    display: inline-block;
}

.dis-b {
    display: block;
}

.m-t0 {
    margin-top: 0 !important;
}

.m-t5 {
    margin-top: 5px !important;
}

.m-t10 {
    margin-top: 10px !important;
}

.m-t15 {
    margin-top: 15px !important;
}

.m-t20 {
    margin-top: 20px !important;
}

.m-t25 {
    margin-top: 25px !important;
}

.m-t30 {
    margin-top: 30px !important;
}

.m-t40 {
    margin-top: 40px !important;
}

.m-t45 {
    margin-top: 45px !important;
}

.m-t50 {
    margin-top: 50px !important;
}

.m-t60 {
    margin-top: 60px !important;
}

.m-t70 {
    margin-top: 70px !important;
}

.m-t80 {
    margin-top: 80px !important;
}

.m-t90 {
    margin-top: 90px !important;
}

.m-t100 {
    margin-top: 100px !important;
}

.m-b0 {
    margin-bottom: 0 !important;
}

.m-b5 {
    margin-bottom: 5px !important;
}

.m-b10 {
    margin-bottom: 10px !important;
}

.m-b15 {
    margin-bottom: 15px !important;
}

.m-b20 {
    margin-bottom: 20px !important;
}

.m-b25 {
    margin-bottom: 25px !important;
}

.m-b30 {
    margin-bottom: 30px !important;
}

.m-b35 {
    margin-bottom: 35px !important;
}

.m-b40 {
    margin-bottom: 40px !important;
}

.m-b50 {
    margin-bottom: 50px !important;
}

.m-b60 {
    margin-bottom: 60px !important;
}

.m-b70 {
    margin-bottom: 70px !important;
}

.m-b80 {
    margin-bottom: 80px !important;
}

.m-b90 {
    margin-bottom: 90px !important;
}

.m-b100 {
    margin-bottom: 100px !important;
}

.m-l-auto {
    margin-left: auto !important;
}

.m-l0 {
    margin-left: 0 !important;
}

.m-l5 {
    margin-left: 5px !important;
}

.m-l10 {
    margin-left: 10px !important;
}

.m-l15 {
    margin-left: 15px !important;
}

.m-l20 {
    margin-left: 20px !important;
}

.m-l25 {
    margin-left: 25px !important;
}

.m-l30 {
    margin-left: 30px !important;
}

.m-r-auto {
    margin-right: auto !important;
}

.m-r0 {
    margin-right: 0 !important;
}

.m-r5 {
    margin-right: 5px !important;
}

.m-r10 {
    margin-right: 10px !important;
}

.m-r15 {
    margin-right: 15px !important;
}

.m-r20 {
    margin-right: 20px !important;
}

.m-r25 {
    margin-right: 25px !important;
}

.m-r30 {
    margin-right: 30px !important;
}

.p-t0 {
    padding-top: 0 !important;
}

.p-t5 {
    padding-top: 5px !important;
}

.p-t10 {
    padding-top: 10px !important;
}

.p-t15 {
    padding-top: 15px !important;
}

.p-t20 {
    padding-top: 20px !important;
}

.p-t25 {
    padding-top: 25px !important;
}

.p-t30 {
    padding-top: 30px !important;
}

.p-t40 {
    padding-top: 40px !important;
}

.p-t50 {
    padding-top: 50px !important;
}

.p-t60 {
    padding-top: 60px !important;
}

.p-t70 {
    padding-top: 70px !important;
}

.p-t80 {
    padding-top: 80px !important;
}

.p-t90 {
    padding-top: 90px !important;
}

.p-t100 {
    padding-top: 100px !important;
}

.p-b0 {
    padding-bottom: 0 !important;
}

.p-b5 {
    padding-bottom: 5px !important;
}

.p-b10 {
    padding-bottom: 10px !important;
}

.p-b15 {
    padding-bottom: 15px !important;
}

.p-b20 {
    padding-bottom: 20px !important;
}

.p-b25 {
    padding-bottom: 25px !important;
}

.p-b30 {
    padding-bottom: 30px !important;
}

.p-b40 {
    padding-bottom: 40px !important;
}

.p-b50 {
    padding-bottom: 50px !important;
}

.p-b60 {
    padding-bottom: 60px !important;
}

.p-b70 {
    padding-bottom: 70px !important;
}

.p-b80 {
    padding-bottom: 80px !important;
}

.p-b90 {
    padding-bottom: 90px !important;
}

.p-b100 {
    padding-bottom: 100px !important;
}

.p-l0 {
    padding-left: 0 !important;
}

.p-l5 {
    padding-left: 5px !important;
}

.p-l10 {
    padding-left: 10px !important;
}

.p-l15 {
    padding-left: 15px !important;
}

.p-l20 {
    padding-left: 20px !important;
}

.p-l25 {
    padding-left: 25px !important;
}

.p-l30 {
    padding-left: 30px !important;
}

.p-r0 {
    padding-right: 0 !important;
}

.p-r5 {
    padding-right: 5px !important;
}

.p-r10 {
    padding-right: 10px !important;
}

.p-r15 {
    padding-right: 15px !important;
}

.p-r20 {
    padding-right: 20px !important;
}

.p-r25 {
    padding-right: 25px !important;
}

.p-r30 {
    padding-right: 30px !important;
}

.p-r40 {
    padding-right: 40px !important;
}

.f-c-bk {
    color: #000000 !important;
}

.f-c-wh {
    color: #ffffff !important;
}

.f-c-gr {
    color: #aaaaaa !important;
}

.f-c-or {
    color: #E56600 !important;
}

.f-c1 {
    color: #DF5F0A !important;
}

.f-c2 {
    color: #F4BD34 !important;
}

.f-c3 {
    color: #FFFF4C !important;
}

.f-c4 {
    color: #EA7603 !important;
}

.f-c5 {
    color: #E66700 !important;
}

.b-c-bk {
    background-color: #000000 !important;
}

.b-c-wh {
    background-color: #ffffff !important;
}

.b-c-gr {
    background-color: #F7F6F2 !important;
}

.b-c1 {
    background-color: #ed8c01 !important;
}

.b-c2 {
    background-color: #E66700 !important;
}

.b-c3 {
    background-color: #FEE1AE !important;
}

.b-c4 {
    background-color: #EA7603 !important;
}

.b-c5 {
    background-color: #EEEEEE !important;
}

.b-c6 {
    background-color: #FFA61A !important;
}

.b-c7 {
    background-color: #F5F8F8 !important;
}

.b-c8 {
    background-image: url(../img/home/bg_yes01.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: center bottom !important;
}

.b-border {
    padding: 10px 0;
}

.bg-dot01 {
    background-image: url(../img/home/bg_kami01.png) !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: left top !important;
}

.bg-slope01 {
    background-image: url(../img/home/bg_slope01.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center bottom !important;
}

.f-bold {
    font-weight: 700 !important;
}

.f-normal {
    font-weight: normal !important;
}

.f-s150 {
    font-size: 150% !important;
}

.f-s140 {
    font-size: 140% !important;
}

.f-s130 {
    font-size: 140% !important;
}

.f-s120 {
    font-size: 120% !important;
}

.f-s110 {
    font-size: 110% !important;
}

.f-s100 {
    font-size: 100% !important;
}

.f-s90 {
    font-size: 90% !important;
}

.f-s80 {
    font-size: 80% !important;
}

.f-s70 {
    font-size: 70% !important;
}

.f-s60 {
    font-size: 60% !important;
}

.f-s50 {
    font-size: 50% !important;
}

.l-h10 {
    line-height: 1.0 !important;
}

.l-h11 {
    line-height: 1.1 !important;
}

.l-h12 {
    line-height: 1.2 !important;
}

.l-h13 {
    line-height: 1.3 !important;
}

.l-h14 {
    line-height: 1.4 !important;
}

.l-h15 {
    line-height: 1.5 !important;
}

.l-h16 {
    line-height: 1.6 !important;
}

.l-h17 {
    line-height: 1.7 !important;
}

.l-h18 {
    line-height: 1.8 !important;
}

.l-h19 {
    line-height: 1.9 !important;
}

.l-h20 {
    line-height: 2.0 !important;
}

.t-l {
    text-align: left !important;
}

.t-c {
    text-align: center !important;
}

.t-r {
    text-align: right !important;
}

.v-t {
    vertical-align: top !important;
}

.v-m {
    vertical-align: middle !important;
}

.v-b {
    vertical-align: bottom !important;
}

.pos-r {
    position: relative;
}

.pos-s {
    position: static;
}

.t-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.radius {
    border-radius: 3px;
}

/*-------------------------------------------------------------------------------------*/

html {
    overflow-y: scroll;
}

body {
    background: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    min-width: 1200px;
    font-family: 'Noto Sans JP', 'æ¸¸ã‚´ã‚·ãƒƒã‚¯', YuGothic, 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, sans-serif;
    line-height: 1.6;
    color: #000;
    word-break: normal;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}

.font {
    font-family: 'Sawarabi Gothic', 'æ¸¸ã‚´ã‚·ãƒƒã‚¯', YuGothic, 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'Noto Sans', sans-serif;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*-------------------------------------------------------------------------------------*/

header {
    position: absolute;
    height: 92px;
}

#header {
    height: 92px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    min-width: 1200px;
}

#header.scrolledNav {
    background: #fff;
}

#header.scrolledNav .header-logo .img .logo01 .img01 {
    display: none;
}

#header.scrolledNav .header-nav ul li.menu>div.img01 {
    background: url(../img/common/img_menu02.png) center center no-repeat;
}

#header.scrolledNav .header-logo .img .logo01 .img02 {
    display: inline-block;
}

#header.scrolledNav ul li.subpage a {
    color: #111111;
}

#header.scrolledNav ul li.subpage>div {
    color: #111111;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-logo {
    margin: 5px;
    max-width: 283px;
}

.header-logo a {
    display: block;
}

.header-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.header-logo .img {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 224px;
    height: 82px;
}

.header-logo .img .logo01 {
    min-width: 207px;
    text-align: right;
    cursor: pointer;
}

.header-logo .img .logo01>div {
    display: inline-block;
    width: 207px;
}

.header-logo .img .logo01 .img02 {
    display: none;
}

.header-logo .img .logo02 {
    width: 100%;
    height: 100%;
    min-width: 207px;
    background: url(../img/common/logo02.png) right center no-repeat;
    cursor: pointer;
}

/*
.header-nav ul{
    display: flex;
    min-width: 1120px;
}
.header-nav ul li{
    display: inline-block;
}
.header-nav ul li a{
    display: block;
    line-height: 92px;
    height: 92px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
}
.header-nav ul li a:hover{
    opacity: 0.8;
    transition: all .2s linear;
}
.header-nav ul li>div{
    display: block;
    line-height: 92px;
    height: 92px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.2s;
}
.header-nav ul li.subpage{
    cursor: pointer;
}
.header-nav ul li.subpage>div{
    padding: 0 20px;
    position: relative;
}
.header-nav ul li.lib a{
    background: #003847;
    padding: 0 17px 0;
}
.header-nav ul li.inq a{
    background: #237285;
    padding: 0 26px 0;
}
.header-nav ul li.try a{
    background: #1A5261;
    padding: 0 17px;
}
.header-nav ul li.menu{
    width: 93px;
}
.header-nav ul li.menu > div.img01{
    width: 100%;
    height: 100%;
    background: url(../img/common/img_menu01.png) center center no-repeat;
    cursor: pointer;
}
.header-nav ul li.menu > div.img02{
    width: 100%;
    height: 100%;
    background: url(../img/common/img_menu02.png) center center no-repeat;
    cursor: pointer;
}
 .header-nav ul li.menu > div img{
    width: 45px;
}
.header-nav ul li.menu > div.close{
    display: none;
}
.header-nav ul li a span{
    display: inline-block;
}
.header-nav ul li.inq a span{
    background: url(../img/common/ico_inq.png) no-repeat center 23px;
    background-size: 35px;
    padding-left: 35px;
    height: 100%;
}
.header-nav ul li.inq a span.txt{
    position: absolute;
    background: none;
    padding-left: 0;
    left: 4px;
    bottom: -16px;
    font-size: 13px;
}
.header-nav ul li.subpage{
    position: relative;
}
.header-nav ul li.subpage a{
    padding: 0 20px;
}
.header-nav ul li.lib{
    margin-left: 25px;
}
.header-nav ul li.lib a span{
    padding: 0 0;
}
.header-nav ul li.try a span{
    padding: 0 0;
}
.header-nav ul li.parentWrap{
    position: relative;
}
.header-nav ul li.parentWrap:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #F9F9F0 transparent;
    bottom: 0;
    left: 50%;
    display: block !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    transform: translateX(-50%);
}
.header-nav ul li.parentWrap:hover:after{
    opacity: 1;
    visibility: visible;
}
.header-nav ul li.parentWrap:hover .childWrap{
    opacity: 1;
    visibility: visible;
    cursor: default;
}
.header-nav ul li .childWrap{
    display: block !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    width: 100%;
    padding: 28px 0;
    position: fixed;
    top: 92px;
    left: 0;
    background: #F9F9F0;
}
.header-nav ul li .childWrap .childWrap-inner{
    display: block;
    width: 1205px;
    margin: 0 auto;
}
.header-nav ul li .childWrap .areaTit{
    margin-right: 55px;
    float: left;
    background: #fff;
}
.header-nav ul li .childWrap .tit{
    display: table-cell;
    width: 215px;
    height: 215px;
    color: #003846;
    font-size: 28px;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    letter-spacing: .05em;
}
.header-nav ul li .childWrap .child {
    display: block;
    margin-right: 30px;
    padding: 44px 0 0;
    width: 272px;
    float: left;
    min-width: auto;
}
.header-nav ul li .childWrap .center{
    width: 302px;
}
.header-nav ul li .childWrap .right{
    margin-right: 0;
    width: 300px;
}
.header-nav ul li .childWrap .child .childItem{
    display: block;
    line-height: normal;
}
.header-nav ul li .childWrap .child .childItem + .childItem{
    margin-top: 25px;
}
.header-nav ul li .childWrap .child .childItem a{
    display: inline-block;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    color: #003846;
    line-height: 1.2em;
    letter-spacing: .05em;
    position: relative;
}
.header-nav ul li .childWrap .child .childItem a:after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: calc(50% - 3px);
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header-nav ul li .childWrap .child .childItem a:hover{
    text-decoration: underline;
    opacity: 1;
}
.header-nav ul li .childWrap .child .childItem a .num{
    margin-right: 20px;
}
.header-nav ul li .childWrap .child.s2 {
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
    .header-nav ul li .childWrap .child.s2 .childItem{
        width: calc(33.333%);
        box-sizing: border-box;
        padding-right: 30px;
    }

    .header-nav ul li .childWrap .child.s2 .childItem + .childItem{
        margin-top: 0px;
    }
*/

/*-----------------------------------------------------------------------*/

#g-nav {
    display: none;
    background: #FAFAF3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    overflow-y: scroll;
}

#g-nav .g-nav-logo {
    width: 130px;
    height: 81px;
    position: fixed;
    top: 20px;
    left: 12px;
    z-index: 100;
}

#g-nav .g-nav-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

#g-nav #g-nav-close {
    font-size: 75px;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 0px;
    right: 15px;
    color: #000;
    z-index: 100;
    cursor: pointer;
    text-align: center;
    line-height: 68px;
    font-weight: 100;
}

#g-nav .g-nav-in {
    position: relative;
}

#g-nav .wrap {
    display: block;
    width: 1110px;
    min-width: 1256px;
}

#g-nav .g-nav-content {
    padding: 54px 0 0;
    width: 1110px;
    height: 900px;
    float: right;
    box-sizing: border-box;
}

#g-nav .g-nav-content-inner {
    width: 50%;
}

#g-nav .list {
    margin-bottom: 10px;
    padding-left: 3px;
    text-align: left;
    font-size: 23px;
}

#g-nav .list ul {
    display: inline-block;
}

#g-nav .list ul>li {
    text-align: left;
    margin-bottom: 23px;
    font-weight: 600;
}

#g-nav .list ul>li a, #g-nav .list ul>li p {
    position: relative;
    text-decoration: none;
    color: #001E2C;
}

#g-nav .list ul>li p {
    display: inline-block;
}

#g-nav .list ul>li a:after, #g-nav .list ul>li p:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: calc(50% - 3px);
    right: -26px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#g-nav .list ul>li a:hover {
    text-decoration: underline;
}

#g-nav .g-nav-subcontent {
    padding: 80px 77px;
    width: 610px;
    top: 0;
    right: 0;
    background: #003847;
    box-sizing: border-box;
    position: absolute;
    height: 900px;
}

#g-nav .g-nav-subcontent:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 27px 30px 0;
    border-color: transparent #003847 transparent transparent;
}

#g-nav .g-nav-subcontent .list {
    margin-bottom: 0;
    padding-left: 0;
    font-size: 20px;
}

#g-nav .g-nav-subcontent .list ul li {
    margin-bottom: 0;
}

#g-nav .g-nav-subcontent .list ul li+li {
    margin-top: 31px;
}

#g-nav .g-nav-subcontent .list ul li a {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
    letter-spacing: .05em;
}

#g-nav .g-nav-subcontent .list ul li a:after {
    display: none;
}

#g-nav .g-nav-subcontent .list ul li a:hover {
    text-decoration: none;
}

#g-nav .g-nav-subcontent .list ul li .num {
    display: inline-block;
    padding-right: 16px;
    text-decoration: none;
    font-size: 26px;
}

#g-nav .areaSublist {
    padding-left: 3px;
}

#g-nav .sublist {
    margin-bottom: 33px;
}

#g-nav .sublist .item {
    margin-bottom: 6px;
    width: 50%;
    float: left;
}

#g-nav .sublist .item a {
    text-decoration: none;
}

#g-nav .sublist .item a:hover {
    text-decoration: underline;
}

#g-nav .sns {
    display: block;
    margin-bottom: 25px;
}

#g-nav .sns .item {
    display: inline-block;
    float: left;
}

#g-nav .sns .item+.item {
    margin-left: 15px;
}

#g-nav .sns .item a {
    display: inline-block;
    width: 26px;
    height: 26px;
}

#g-nav .sns .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

#g-nav .sns .item .facebook {
    background: url(../img/common/logo_facebook.jpg) no-repeat left center;
    background-size: contain;
}

#g-nav .sns .item .twitter {
    background: url(../img/common/logo_twitter.jpg) no-repeat left center;
    background-size: contain;
}

#g-nav .sns .item .instagram {
    background: url(../img/common/logo_instagram.jpg) no-repeat left center;
    background-size: contain;
}

#g-nav .tel {
    margin: 0 auto 40px;
    padding-left: 4px;
    box-sizing: border-box;
    text-align: left;
}

#g-nav .tel .ttl {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 15px;
    display: inline-block;
    background: url(../img/common/ico_call.png) no-repeat left center;
    background-size: 40px;
    padding: 5px 0 8px 48px;
}

#g-nav .tel .num {
    display: flex;
    margin-bottom: 4px;
    font-family: 'ãƒ¡ã‚¤ãƒªã‚ª', Meiryo, 'Noto Sans JP', 'æ¸¸ã‚´ã‚·ãƒƒã‚¯', YuGothic, sans-serif;
}

#g-nav .tel .num>div {
    font-size: 28px;
    font-weight: 900;
    color: #FF8C00;
    letter-spacing: .05em;
}

#g-nav .tel .num>div+div {
    margin-left: 28px;
}

#g-nav .tel .time {
    font-size: 16px;
}

#g-nav .btn-list {
    height: 92px;
}

#g-nav .btn-list ul li {
    float: left;
    width: 203px;
    text-align: center;
}

#g-nav .btn-list ul li:after {
    display: block;
}

#g-nav .btn-list ul li a {
    text-decoration: none;
    display: block;
    background: #E66700;
    color: #fff;
    font-weight: 700;
    height: 92px;
    width: 100%;
    line-height: 92px;
    font-size: 19px;
    position: relative;
    cursor: pointer;
}

#g-nav .btn-list ul li.lib a {
    background: #003847;
}

#g-nav .btn-list ul li a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

#g-nav .btn-list ul li.try a {
    background: #1A5261;
}

#g-nav .btn-list ul li.inq {
    width: 94px;
}

#g-nav .btn-list ul li.inq a {
    background: #237285;
    position: relative;
}

#g-nav .btn-list ul li a>span.inq {
    display: block;
    margin: 0 auto;
    background: url(../img/common/ico_inq.png) no-repeat center 23px;
    background-size: contain;
    width: 40px;
    height: 40px;
    height: 92px;
    line-height: 92px;
}

#g-nav .btn-list ul li.inq a span.txt {
    position: absolute;
    background: none;
    padding-left: 0;
    left: 8px;
    bottom: -18px;
    font-size: 13px;
}

/*-----------cv--------------------------------------------------------------------------*/

.cv .cf {
    display: block;
}

.cv .block-inner {
    padding: 68px 0 80px;
}

.cv .box-l, .cv .box-r {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.cv .box-l {
    padding-right: 20px;
    border-right: solid 1px #C9C9C9;
    box-shadow: 2px 0 1px -1px #fff;
}

.cv .box-l .c-ttl {
    margin-bottom: 20px;
    padding-right: 20px;
}

.cv .box-l .c-ttl .en {
    display: inline-block;
    color: #001E2C;
    font-size: 23px;
    font-weight: 900;
    letter-spacing: .05em;
    position: relative;
}

.cv .box-l .c-ttl .en:after {
    content: "";
    position: absolute;
    width: 85px;
    height: 1px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background: #E56607;
}

.cv .box-l .c-ttl .jp {
    margin-top: 5px;
    padding-top: 15px;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: .05em;
}

.cv .box-l .lead {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #001E2D;
    letter-spacing: .05em;
    line-height: 1.5;
}

.cv .box-l .areaList .list .item+.item {
    margin-top: 20px;
}

.cv .box-l .areaList .list .item .num {
    display: inline-block;
    padding: 0 7px 0 3px;
    font-size: 54px;
    font-weight: 500;
    color: #B5B5B5;
    line-height: 1;
    vertical-align: middle;
}

.cv .box-l .areaList .list .item .ttl {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #001E2C;
    vertical-align: middle;
    letter-spacing: .05em;
}

.cv .box-l .areaList .list .item .txt {
    display: block;
    margin-top: 7px;
    font-size: 16px;
    color: #222;
}

.cv .box-l .btn {
    margin-top: 60px;
    margin-bottom: 8px;
}

.cv .box-l .btn a {
    width: 100%;
    height: 80px;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: .05em;
}

.cv .box-l .note {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: #001E2D;
}

.cv .box-r {
    padding-left: 30px;
}

.cv .box-r .download {
    padding: 43px 48px 37px;
    background: #fff;
    border-radius: 5px;
}

.cv .box-r .download .c-ttl {
    margin-bottom: 30px;
}

.cv .box-r .download .c-ttl .jp {
    display: inline-block;
    padding-left: 60px;
    color: #E66700;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: .05em;
    position: relative;
}

.cv .box-r .download .c-ttl .jp:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0px;
    left: 0;
    background: url(../img/common/ico_document.png) top left no-repeat;
    background-size: contain;
}

.cv .box-r .download .c-ttl .en {
    padding-left: 30px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: .07em;
}

.cv .box-r .download .txt {
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: .05em;
}

.cv .box-r .download .btn a {
    width: 100%;
    margin: 0;
    height: 80px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: .05em;
}

.cv .box-r .tel {
    margin-top: 50px;
    padding-left: 8px;
}

.cv .box-r .tel .tit {
    padding-left: 48px;
    color: #001E2D;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: .03em;
    position: relative;
}

.cv .box-r .tel .tit:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    top: 0px;
    left: 20px;
    transform: translateX(-50%);
    background: url(../img/common/ico_call.png) top left no-repeat;
    background-size: contain;
}

.cv .box-r .tel .txt {
    margin-top: 20px;
    font-weight: 400;
    color: #001E2D;
    letter-spacing: .05em;
}

.cv .box-r .tel .num {
    margin-top: 20px;
}

.cv .box-r .tel .num span {
    color: #001E2D;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: .08em;
}

.cv .box-r .tel .num span+span {
    margin-left: 30px;
}

.cv .box-r .tel .time {
    margin-top: 10px;
    padding-right: 40px;
    font-weight: 400;
    color: #333333;
}

/*----------footer---------------------------------------------------------------------------*/

footer, .footer {
    padding: 10px 0;
    background: #1D292C;
    color: #fff;
}

footer, .footer a {
    text-decoration: none;
}

.footer .footer-logo a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer .cf {
    display: block;
}

.footer-inner>div {
    display: flex;
}

.footer-inner .footer-t {
    align-items: center;
}

.footer-inner {
    padding: 23px 0 32px;
}

.footer-l {
    width: 47%;
}

.footer-r {
    width: 53%;
}

.footer-t {
    padding: 0 0 26px;
    border-bottom: solid 1px #090B0B;
    box-shadow: 0px 2px 1px -1px #3C4A51;
}

.footer-t .footer-l .tit {
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .05em;
    position: relative;
}

.footer-t .footer-l .tit:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -75px;
    transform: translateY(-50%);
    background: url(../img/common/img_arrow01.png) no-repeat bottom center;
    width: 67px;
    height: 14px;
}

.footer-t .footer-r .txt {
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: 400;
}

.footer-t .footer-r .link .list .item {
    display: inline-block;
    margin-bottom: 13px;
}

.footer-t .footer-r .link .list .item a {
    display: inline-block;
    padding: 12px 30px 12px 46px;
    background: #2C3E43;
    border-radius: 90px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.footer-t .footer-r .link .list .item a:before {
    display: block;
    position: absolute;
    content: "";
    top: 48%;
    left: 20px;
    transform: translateY(-50%);
    background: url(../img/common/ico_link01.png) no-repeat bottom center;
    width: 18px;
    height: 14px;
}

.footer-t .footer-r .link .list .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-t .footer-r .link .list .item:nth-child(3) {
    margin-left: 0;
    margin-bottom: 0;
}

.footer-b {
    padding: 55px 0 0;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-b .footer-l .txt {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 300;
}

.footer-b .footer-l .search {
    margin-bottom: 22px;
}

.footer-b .footer-l .search a {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #F4B100;
    position: relative;
    text-decoration: underline;
}

.footer-b .footer-l .search a:hover {
    text-decoration: none;
}

.footer-b .footer-l .search a:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    background: url(../img/common/ico_link01.png) no-repeat bottom center;
    width: 18px;
    height: 14px;
}

.footer-b .footer-l .logos {
    display: inline-block;
    vertical-align: middle;
}

.footer-b .footer-l .is {
    display: block;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

.footer-b .footer-r {
    width: 48%;
}

.footer-sns {
    float: left;
}

.footer-sns .list {
    display: flex;
    align-items: center;
}

.footer-sns .list .item+.item {
    margin-left: 10px;
}

.footer-sns .list .item img {
    width: 25px;
}

.footer-sns .list .item a:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-nav {
    font-size: 15px;
}

.footer-nav .list {
    margin-bottom: 30px;
}

.footer-nav .list .item {
    display: inline-block;
    margin-right: 46px;
    margin-bottom: 20px;
}

.footer-nav .list .item:last-child {
    margin-right: 0;
}

.footer-nav .list .item a {
    color: #eee;
    font-size: 18px;
    font-weight: 700;
}

.footer-nav .list .item a:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: all .2s linear;
}

.footer-nav-sub {
    width: 290px;
    float: left;
}

.footer-nav-sub .list .item {
    margin-bottom: 7px;
    padding-left: 6px;
}

.footer-nav-sub .list .item a {
    font-size: 16px;
}

.footer-nav-sub .list .item a:hover {
    text-decoration: underline;
}

.footer-copy {
    margin-top: 24px;
    float: left;
    color: #eee;
    font-size: 16px;
}

.footer-copy a {
    text-decoration: none;
    color: inherit;
}

.btn-list2 {
    display: none;
}

/*ãƒ¡ã‚¤ãƒ³ã‚¤ãƒ¡ãƒ¼ã‚¸-------------------------------------------------------------------------------------*/

.main-img {
    background: url(../img/home/main_img.png) top center no-repeat #EF8300;
    background-size: cover;
    height: 900px;
    position: relative;
}

/* ãƒ¢ãƒ¼ãƒ€ãƒ« ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ã‚¨ãƒªã‚¢ */

#modal-main {
    display: none;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    z-index: 1001;
}

/* ãƒ¢ãƒ¼ãƒ€ãƒ« èƒŒæ™¯ã‚¨ãƒªã‚¢ */

#modal-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.areaLogo {
    display: none;
}

.areaCm {
    width: 340px;
    height: 290px;
    position: absolute;
    right: 80px;
    bottom: 46px;
    background-size: 100%;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------*/

section.block {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.section-inner {
    padding: 60px 0;
}

.section-inner.s2 {
    padding: 40px 0;
}

section.block.border-b {
    border-bottom: 1px solid #333;
}

/*------------------------------------*/

.c-ttl {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: inherit;
    line-height: 1.4;
}

.c-ttl .main {
    font-size: 48px;
    font-weight: 700;
}

.c-ttl .sub {
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
}

.c-ttl .sub.border-t {
    border-top: 1px solid #333;
    padding-top: 8px;
    margin-top: 5px;
}

.c-ttl.f-c-wh .sub.border-t {
    border-top: 1px solid #fff;
}

.c-ttl span.border {
    border-bottom: 1px solid #F5740A;
    padding-bottom: 15px;
    display: inline-block;
}

.c-ttl .sub2 {
    position: relative;
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
}

.c-ttl .sub2 span {
    font-size: 32px;
    color: #ED8300;
}

.c-ttl .sub2::before {
    content: "";
    top: 20px;
    left: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.c-ttl .sub2::after {
    content: "";
    top: 20px;
    right: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*------------------------------------*/

.c-txt {
    margin-bottom: 15px;
    text-align: center;
    line-height: 2;
}

.c-txt p {
    margin-bottom: 12px;
}

.c-txt p.tbg {
    text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0-1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.c-txt dl {
    margin-bottom: 25px;
}

.c-txt dl: last-child {
    margin-bottom: 0;
}

.c-txt dl dt {
    color: #ed8c01;
}

.c-txt .indent {
    padding-left: 1em;
    text-indent: -1em;
}

.c-txt .list {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.c-txt .list li {
    display: inline-block;
    position: relative;
    padding-left: 18px;
    margin-right: 30px;
}

.c-txt .list li: last-child {
    margin-right: 0;
}

.c-txt .list li::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #E56607;
    top: calc(50% - 1px);
    left: 5px;
}

.c-txt p img {
    vertical-align: middle;
    margin-right: 5px;
}

/*------------------------------------*/

.c-img {
    margin-bottom: 20px;
    text-align: center;
}

.c-img img {
    max-width: 100%;
}

/*------------------------------------*/

.c-table {
    margin-bottom: 20px;
}

.c-table table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #bbb;
}

.c-table table th {
    background: #333;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    font-size: 20px;
}

.c-table table td {
    padding: 10px 25px;
    border: 1px solid #bbb;
    font-size: 18px;
}

.c-table table .w50 {
    width: 50%;
}

/*------------------------------------*/

.c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.c-btn a, .c-btn button {
    display: table;
    margin: 0 10px;
    background: #fff;
    color: #E57200;
    text-decoration: none;
    box-sizing: border-box;
    width: 450px;
    height: 70px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    transition: 0.2s;
    border: 2px solid #E57200;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}

.c-btn a:hover, .c-btn button:hover {
    opacity: 0.8;
    transition: all .2s linear;
}

.c-btn a::after, .c-btn button::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #E57200;
    border-right: 2px solid #E57200;
    box-sizing: border-box;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
}

.c-btn .wide {
    width: 920px;
}

.c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px;
}

.c-btn .c2 {
    background: #000;
    color: #fff;
}

.c-btn .c2::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c3 {
    background: #9F4406;
    border: 2px solid #9F4406;
    color: #fff;
}

.c-btn .c3::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c4 {
    border: 2px solid #fff;
    color: #E56600;
    font-weight: 500;
    font-size: 26px;
}

.c-btn .c4::after {
    border-top: 2px solid #E56600;
    border-right: 2px solid #E56600;
}

.c-btn .c5 {
    background: #001E2D;
    color: #fff;
    border: none;
}

.c-btn .c5::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.c-btn .c6 {
    background: #E66700;
    color: #fff;
    border: none;
}

.c-btn .c6::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px;
}

.c-btn .c7 {
    background: #E25601;
    color: #fff;
    border: none;
}

.c-btn .c7::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    right: 30px;
}
.slip-btn {
    height: 60px;
    position: relative;
    bottom: -28px;
    background:#eee;
    border-top: solid 1px #333;
    text-align: center;
}
.slip-btn:before {
    width: 450px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background:#fff;
    content: " ";
    border-radius: 100px; /* CSS3草案 */ -webkit-border-radius: 100px; /* Safari,Google Chrome用 */ -moz-border-radius: 100px; /* Firefox用 */
}
.slip-btn .c7 {
    position: absolute;
    top: -35px;
    margin: 0 auto;
}
/*------------------------------------*/

.column-wrap {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
}

.column {
    width: 570px;
}

/*------------------------------------*/

.sec-areaTit {
    margin-bottom: 50px;
}

.sec-tit01 {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 15px;
}

.sec-tit01 .t1 {
    color: #001E2C;
    font-size: 78px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: .01em;
}

.sec-tit01.f700 .t1 {
    font-weight: 700;
}

.sec-tit01 .gray {
    color: #584c4c;
    font-size: 96px;
    font-weight: 300;
}

.sec-tit01 .small {
    font-size: 64px;
}

.sec-tit01 .orange {
    color: #FF8C00;
    font-size: 100px;
    font-weight: 900;
}

.sec-tit02 {
    text-align: center;
}

.sec-tit02 .en {
    margin-bottom: 16px;
    padding-bottom: 12px;
    color: #001E2D;
    font-size: 23px;
    font-weight: 900;
    position: relative;
    letter-spacing: .05em;
}

.sec-tit02 .en:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    width: 85px;
    height: 1px;
    background-color: #E56607;
    transform: translateX(-50%);
}

.sec-tit02 .jp {
    font-size: 34px;
    font-weight: 900;
    color: #003846;
    letter-spacing: .05em;
}

.sec-lead {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 700;
    color: #001E2C;
    text-align: center;
    letter-spacing: .05em;
    line-height: 1.5;
}

/* about-------------------------------------------------------------------------------------*/

section.about-block .section-inner {
    margin: 0 auto;
    padding-top: 270px;
    padding-bottom: 0;
    width: 900px;
    position: relative;
}

section.about-block .deco01 {
    content: "";
    position: absolute;
    top: 358px;
    left: -148px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(../img/home/about_deco01.png) no-repeat center;
    background-size: contain;
}

section.about-block .deco02 {
    content: "";
    position: absolute;
    top: 214px;
    left: 140px;
    display: block;
    width: 43px;
    height: 40px;
    background: url(../img/home/about_deco02.png) no-repeat center;
    background-size: contain;
}

section.about-block .deco03 {
    content: "";
    position: absolute;
    top: 196px;
    left: 492px;
    display: block;
    width: 38px;
    height: 57px;
    background: url(../img/home/about_deco03.png) no-repeat center;
    background-size: contain;
}

section.about-block .deco04 {
    content: "";
    position: absolute;
    top: 115px;
    right: 32px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(../img/home/about_deco04.png) no-repeat center;
    background-size: contain;
}

section.about-block .img-ppl {
    position: absolute;
    top: 142px;
    right: -208px;
    z-index: 10;
}

section.about-block .sec-tit01 {
    margin-bottom: 34px;
    padding-left: 28px;
}

section.about-block .c-txt {
    margin-left: -6px;
    margin-bottom: 60px;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 700;
}

section.about-block .c-txt p.tbg {
    color: #001E2D;
    font-size: 18px;
    font-weight: 700;
}

section.about-block .areaAbout {
    margin: 0 auto;
    width: 900px;
    z-index: 20;
    position: relative;
}

section.about-block .areaAbout .table {
    width: 900px;
    border: solid 1px #222;
}

section.about-block .areaAbout .head {
    display: table-cell;
    width: 260px;
    background: #E56607;
    color: #fff;
    font-size: 23px;
    font-weight: 900;
    padding: 90px 0 30px 26px;
    box-sizing: border-box;
    letter-spacing: .06em;
    line-height: 1.2;
    vertical-align: top;
}

section.about-block .areaAbout .head .txt01 {
    padding-bottom: 21px;
    position: relative;
    font-style: italic;
}

section.about-block .areaAbout .head .txt01:before {
    content: '';
    position: absolute;
    width: 31px;
    height: 30px;
    background: url(../img/common/ico02.png);
    top: -38px;
    left: 0;
}

section.about-block .areaAbout .head .txt01:after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    display: inline-block;
    width: 86px;
    height: 1px;
    background-color: #222;
}

section.about-block .areaAbout .head .txt02 {
    margin-top: 18px;
    font-size: 16px;
    letter-spacing: .05em;
}

section.about-block .areaAbout .data {
    display: table-cell;
    padding: 32px 42px 62px;
    width: 640px;
    background: #F7F7F7;
    box-sizing: border-box;
    position: relative;
}

section.about-block .areaAbout .data .ttl {
    margin-bottom: 14px;
    font-size: 23px;
    font-weight: 700;
    color: #E56606;
}

section.about-block .areaAbout .data .txt {
    line-height: 1.8;
    color: #111111;
}

section.about-block .areaAbout .data .btn {
    text-align: right;
    position: absolute;
    bottom: 24px;
    right: 34px;
}

section.about-block .areaAbout .data .btn a {
    display: inline-block;
    padding: 3px 0 5px;
    width: 142px;
    text-align: center;
    text-decoration: none;
    color: #E56607;
    font-weight: 700;
    border: solid 2px #FF8C00;
    border-radius: 90px;
    background: #fff;
    position: relative;
}

section.about-block .areaAbout .data .btn a:hover {
    opacity: .7;
    transition: all .2s linear;
}

section.about-block .areaAbout .data .btn a:after {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: solid 1px orange;
    border-right: solid 1px orange;
    transform: translateY(-50%) rotate(45deg);
}

/* feature-------------------------------------------------------------------------------------*/

section.feature-block .section-inner {
    width: 784px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 120px;
    position: relative;
}

section.feature-block .deco01 {
    content: "";
    position: absolute;
    top: -16px;
    left: -42px;
    display: block;
    width: 165px;
    height: 165px;
    background: url(../img/home/feature_deco01.png) no-repeat center;
    background-size: contain;
}

section.feature-block .deco02 {
    content: "";
    position: absolute;
    top: 52px;
    left: 412px;
    display: block;
    width: 33px;
    height: 24px;
    background: url(../img/home/feature_deco02.png) no-repeat center;
    background-size: contain;
}

section.feature-block .deco03 {
    content: "";
    position: absolute;
    top: 118px;
    right: 18px;
    display: block;
    width: 103px;
    height: 81px;
    background: url(../img/home/feature_deco03.png) no-repeat center;
    background-size: contain;
}

section.feature-block .deco04 {
    content: "";
    position: absolute;
    bottom: 448px;
    right: -222px;
    display: block;
    width: 201px;
    height: 201px;
    background: url(../img/home/feature_deco04.png) no-repeat center;
    background-size: contain;
}

section.feature-block .img-ppl {
    position: absolute;
    top: 0px;
    left: -307px;
}

section.feature-block .l-ttl {
    margin-bottom: 20px;
}

section.feature-block .l-ttl .t1 {
    font-weight: 700;
    text-align: center;
}

section.feature-block .l-ttl .t1 span.orange {
    font-size: 92px;
    color: #E56606;
}

section.feature-block .l-ttl .t1 span.small {
    font-size: 58px;
}

section.feature-block .lead {
    margin-bottom: 40px;
    font-size: 23px;
    font-weight: 700;
    color: #E56606;
    text-align: center;
}

section.feature-block .c-btn {
    margin-bottom: 30px;
}

section.feature-block .c-btn a {
    display: table;
    margin: 0 10px;
    background: #fff;
    color: #E57200;
    text-decoration: none;
    box-sizing: border-box;
    width: 395px;
    height: 64px;
    line-height: 64px;
    font-size: 21px;
    font-weight: 700;
    transition: 0.2s;
    border: 2px solid #E57200;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}

section.feature-block .feature-list {
    margin: 0 auto;
    width: 784px;
    position: relative;
    box-shadow: 0px 0px 2px 0px #000000;
}

section.feature-block .feature-list:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/home/bg_shadow01.png) no-repeat bottom center;
    background-size: contain;
    width: 858px;
    height: 102px;
    z-index: 0;
}

section.feature-block .feature-list ul {
    display: block;
    border: solid 2px #C53F05;
    z-index: 10;
    position: relative;
}

section.feature-block .feature-list ul li {
    float: left;
    background-color: #FF8C00;
    background-position: left bottom;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
}

section.feature-block .feature-list ul li a {
    display: block;
    width: calc(780px / 3);
    height: 262px;
}

section.feature-block .feature-list ul li:nth-child(even) {
    background-color: #E57200;
}

section.feature-block .feature-list ul li .img {
    width: 128px;
    height: 128px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 64px;
    margin: 0 auto 30px;
}

section.feature-block .feature-list ul li .txt-area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    width: 100%;
}

section.feature-block .feature-list ul li .ttl {
    display: table;
    font-weight: 900;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

section.feature-block .feature-list ul li .txt {
    width: 88%;
    margin: 0 auto;
    color: #222;
    font-weight: 500;
}

section.feature-block .feature-list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
}

section.feature-block .feature-list ul li a:hover {
    opacity: .7;
    transition: all .2s linear;
}

section.feature-block .feature-list ul li.n1 {
    background-image: url(../img/home/n1.png);
    background-size: 59px;
}

section.feature-block .feature-list ul li.n2 {
    background-image: url(../img/home/n2.png);
    background-size: 76px;
}

section.feature-block .feature-list ul li.n3 {
    background-image: url(../img/home/n3.png);
    background-size: 76px;
}

section.feature-block .feature-list ul li.n4 {
    background-image: url(../img/home/n4.png);
    background-size: 94px;
}

section.feature-block .feature-list ul li.n5 {
    background-image: url(../img/home/n5.png);
    background-size: 76px;
}

section.feature-block .feature-list ul li.n6 {
    background-image: url(../img/home/n6.png);
    background-size: 85px;
}

section.feature-block .feature-list ul li.n7 {
    background-image: url(../img/home/n7.png);
    background-size: 80px;
}

section.feature-block .feature-list ul li.n8 {
    background-image: url(../img/home/n8.png);
    background-size: 90px;
}

section.feature-block .feature-list ul li.n9 {
    background-image: url(../img/home/n9.png);
    background-size: 86px;
}

section.feature-block .feature-list ul li .pop {
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    bottom: 8px;
    right: 28px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #B54E09;
}

section.feature-block .feature-list ul li .pop:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #fff;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
}

section.feature-block .feature-list ul li .pop a {
    text-decoration: none;
}

/* case-------------------------------------------------------------------------------------*/

section.case-block {
    border-bottom: solid 1px #000;
}

section.case-block .section-inner {
    padding: 100px 0 138px;
}

section.case-block .areaTit {
    margin-bottom: 50px;
}

section.case-block .case-t {
    padding: 120px 0 130px;
    background: #EEEEEE;
    position: relative;
}

section.case-block .case-t:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 43px 43px 0 43px;
    border-color: #fff transparent transparent transparent;
    transform: translateX(-50%);
}

section.case-block .case-t .wrap {
    position: static;
}

section.case-block .case-t .areaList .list.cf {
    display: block;
}

section.case-block .case-t .areaList .list .item {
    width: calc(33.3333% - 20px);
    float: left;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

section.case-block .case-t .areaList .list .item:nth-child(3n+1) {
    margin-right: 20px;
}

section.case-block .case-t .areaList .list .item:nth-child(3n+2) {
    margin-left: 10px;
    margin-right: 10px;
}

section.case-block .case-t .areaList .list .item:nth-child(3n) {
    margin-left: 20px;
}

section.case-block .case-t .areaList .list .item>div {
    padding: 68px 28px 62px;
    cursor: pointer;
}

section.case-block .case-t .areaList .list .item>div:hover .img-area {
    opacity: .7;
    transition: all .2s linear;
}

section.case-block .case-t .areaList .list .item a {
    text-decoration: none;
}

section.case-block .case-t .areaList .list .item .logo {
    width: 95px;
    height: 95px;
    border-radius: 90px;
    position: absolute;
    background: #fff;
    left: 50%;
    top: -47px;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(-50%);
}

section.case-block .case-t .areaList .list .item .logo .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

section.case-block .case-t .areaList .list .item .logo .img img {
    vertical-align: middle;
}

section.case-block .case-t .areaList .list .item .img-area img {
    width: 100%;
    height: auto;
}

section.case-block .case-t .areaList .list .item .txt-area .ttl {
    margin-bottom: 20px;
    color: #001E2D;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .05em;
}

section.case-block .case-t .areaList .list .item .txt-area .txt {
    margin-bottom: 35px;
    font-weight: 300;
    color: #333333;
    line-height: 1.4;
}

section.case-block .case-t .areaList .list .item .item_btn {
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
}

section.case-block .case-t .areaList .list .item .item_btn a {
    display: block;
    padding: 8px;
    width: 200px;
    color: #001E2C;
    font-size: 17px;
    font-weight: 400;
    border: solid 1px #001E2D;
    border-radius: 90px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    background: #fff;
    position: relative;
}

section.case-block .case-t .areaList .list .item .item_btn a:hover {
    opacity: .7;
    transition: all .2s linear;
}

section.case-block .case-t .areaList .list .item .item_btn a:after {
    position: absolute;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #001E2C;
    border-right: 1px solid #001E2C;
    box-sizing: border-box;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);
}

section.case-block .case-t .btn {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    width: 625px;
    border-radius: 50px;
    background: #fff;
}

section.case-block .case-t .btn a {
    margin: 0;
    width: 625px;
    font-size: 26px;
    height: 80px;
    letter-spacing: .05em;
}

section.case-block .case-b {
    padding-top: 132px;
}

section.case-block .case-b .sec-lead .txt {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.5;
}

section.case-block .case-b .sec-lead .txt .bold {
    font-size: 30px;
    font-weight: 900;
}

section.case-block .case-b .sec-lead .txt .orange {
    font-size: 42px;
    font-weight: 900;
    color: #FF8C00;
}

section.case-block .case-b .logos {
    margin-top: 66px;
    text-align: center;
}

/* product-------------------------------------------------------------------------------------*/

section.product-block {
    border-bottom: solid 1px #000;
}

section.product-block .section-inner {
    padding: 77px 0 145px;
}

section.product-block .areaList {
    position: relative;
}

section.product-block .areaList .list.cf {
    display: block;
}

section.product-block .areaList .list .item {
    width: calc(20% - 1px);
    float: left;
    border-right: solid 1px #CCCCCC;
}

section.product-block .areaList .list .item:first-child {
    width: calc(20% - 2px);
    border-left: solid 1px #CCCCCC;
}

section.product-block .areaList .list .item a {
    display: block;
    padding: 19px 0 32px;
    text-decoration: none;
    position: relative;
}

section.product-block .areaList .list .item a:hover {
    opacity: .7;
    transition: all .2s linear;
}

section.product-block .areaList .list .item a:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -3px;
    right: 12px;
    transform: translateY(-50%);
    background: url(../img/common/ico_link02.png) no-repeat bottom center;
    background-size: contain;
    width: 18px;
    height: 14px;
}

section.product-block .areaList .list .item a .img-area {
    margin-bottom: 8px;
    text-align: center;
}

section.product-block .areaList .list .item a .txt-area {
    color: #001E2D;
    font-weight: 700;
    text-align: center;
}

section.product-block .areaList .list .item a .txt-area .sub {
    margin-bottom: -6px;
    font-size: 18px;
    letter-spacing: .05em;
}

section.product-block .areaList .list .item a .txt-area .tit {
    font-size: 24px;
    letter-spacing: .05em;
}

/* price-------------------------------------------------------------------------------------*/

section.price-block .section-inner {
    padding: 65px 0 100px;
}

section.price-block .sec-areaTit {
    margin-bottom: 30px;
}

section.price-block .data-table {
    margin-bottom: 10px;
}

section.price-block .data-table table {
    width: 100%;
    border-collapse: collapse;
    color: #001E2C;
    font-size: 18px;
    table-layout: fixed;
    line-height: 1.2;
}

section.price-block .data-table table caption {
    margin-bottom: 25px;
    font-weight: 600;
    color: #003846;
}

section.price-block .data-table table th {
    padding: 16px 12px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background: #fff;
}

section.price-block .data-table table td {
    padding: 18px 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    background: #fff;
}

section.price-block .data-table table thead th {
    border-top: 1px solid #001E2D;
    border-right: 1px dotted #001E2D;
    border-bottom: 2px solid #001E2D;
    box-sizing: border-box;
}

section.price-block .data-table table thead th:nth-child(2) {
    width: 100px;
}

section.price-block .data-table table thead th:nth-child(3) {
    width: 100px;
}

section.price-block .data-table table thead th:nth-child(4) {
    width: 100px;
}

section.price-block .data-table table thead th:nth-child(5) {
    width: 100px;
}

section.price-block .data-table table thead th:nth-child(6) {
    width: 100px;
}

section.price-block .data-table table thead th:nth-child(7) {
    width: 100px;
}

section.price-block .data-table table thead th:last-child {
    border-right: 1px solid #001E2D;
}

section.price-block .data-table table thead td {
    width: 128px;
    border-top: 1px solid #001E2D;
    border-left: 1px solid #001E2D;
    border-right: 2px solid #001E2D;
    border-bottom: 2px solid #001E2D;
}

section.price-block .data-table table thead td.bn {
    border-top: none;
    border-left: none;
}

section.price-block .data-table table thead td.bn2 {
    border-top: none;
    border-left: none;
    border-right: none;
}

section.price-block .data-table table tbody th {
    border-right: 2px solid #001E2D;
    border-bottom: 1px solid #001E2D;
    border-left: 1px solid #001E2D;
}

section.price-block .data-table table tbody th img {
    width: 84px;
}

section.price-block .data-table table tbody td {
    border-right: 1px dotted #001E2D;
    border-bottom: 1px solid #001E2D;
}

section.price-block .data-table table tbody td .circle {
    display: inline-block;
    width: 27px;
    height: 27px;
    border: solid 3px #E57200;
    border-radius: 50%;
}

section.price-block .data-table table tbody td .circle.c1 {
    border: solid 3px #001E2D;
}

section.price-block .data-table table tbody td:last-child {
    border-right: 1px solid #001E2D;
}

section.price-block .data-table table .p1 {
    padding: 0 10px;
}

section.price-block .data-table table .p2 {
    padding: 15px 10px;
}

section.price-block .data-table table .b1 {
    background: #003847;
}

section.price-block .data-table table .b2 {
    background: #257387;
}

section.price-block .data-table table .b3 {
    background: #ffa61a;
}

section.price-block .data-table table .w1 {
    width: 145px;
}

section.price-block .data-table table .b4 {
    background: #FF8C00;
}

section.price-block .data-table table .b5 {
    background: #E57200;
}

section.price-block .data-table table .b6 {
    background: #FFE1BD;
}

section.price-block .data-table table .b7 {
    background: #F3F3F3;
}

section.price-block .data-table table .b8 {
    background: #2D8FA8;
}

section.price-block .data-table table .c1 {
    color: #E57200;
}

section.price-block .data-table table .c2 {
    color: #FFF;
}

section.price-block .data-table table .c3 {
    color: #BD4200;
}

section.price-block .data-table table .f1 {
    font-size: 25px;
}

section.price-block .data-table table .f2 {
    font-size: 28px;
}

section.price-block .data-table table .f3 {
    font-size: 16px;
}

section.price-block .data-table table .br1 {
    border-right: 1px solid #091e23;
}

section.price-block .data-table table .br2 {
    border-right: 2px solid #091e23;
}

section.price-block .data-table table .bt2 {
    border-top: 2px solid #091e23;
}

section.price-block .data-table table .bl1 {
    border-left: 1px solid #091e23;
}

section.price-block .note02 {
    letter-spacing: .05em;
    font-weight: 700;
    color: #091e23;
}

section.price-block .areaBtn {
    margin: 44px auto 0;
    width: 917px;
}

section.price-block .c-btn {
    margin-bottom: 10px;
}

/* yes-------------------------------------------------------------------------------------*/

section.yes-block {
    background-image: url(../img/home/bg_yes02.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center bottom !important;
}

section.yes-block .section-inner {
    padding: 86px 0 0;
}

section.yes-block .areaTtl {
    text-align: center;
}

section.yes-block .cf {
    display: block;
}

section.yes-block .areaTtl .ttl {
    display: inline-block;
    line-height: 1.5;
    color: #111111;
    font-weight: 700;
    position: relative;
    text-align: center;
}

section.yes-block .areaTtl .ttl:before {
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    left: -112px;
    bottom: 20px;
    transform: rotate(45deg);
    background: #000000;
}

section.yes-block .areaTtl .ttl:after {
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    right: -90px;
    bottom: 20px;
    transform: rotate(-45deg);
    background: #000000;
}

section.yes-block .areaTtl .ttl .main {
    margin-bottom: 4px;
    font-size: 52px;
    line-height: 1;
    letter-spacing: .05em;
}

section.yes-block .areaTtl .ttl .main .big {
    margin-left: -30px;
    margin-right: -35px;
    font-size: 86px;
    font-weight: 900;
    letter-spacing: .05em;
}

section.yes-block .areaTtl .ttl .sub {
    font-size: 28px;
    line-height: 1;
    letter-spacing: .05em;
}

section.yes-block .areaTtl .ttl .sub .big {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: .05em;
}

section.yes-block .box .list {
    width: 400px;
    float: left;
}

section.yes-block .box .list .item {
    margin-bottom: 70px;
    position: relative;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

section.yes-block .box .list .item:before {
    display: block;
    position: absolute;
    content: "Q";
    width: 52px;
    height: 52px;
    background: #fff;
    color: #E05F0A;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: 45px;
    border-radius: 90px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

section.yes-block .box {
    padding: 102px 0 50px;
}

section.yes-block .box .img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

section.yes-block .box .list.right {
    float: right;
}

section.yes-block .btn {
    margin-bottom: 0;
    position: absolute;
    bottom: -44px;
    left: 50%;
    width: 550px;
    transform: translateX(-50%);
    border-radius: 90px;
    z-index: 50;
}

section.yes-block .btn a {
    margin: 0;
    height: 88px;
    font-size: 30px;
    width: 100%;
}

/* news-------------------------------------------------------------------------------------*/

/*
section.news-block .section-inner{
    padding: 195px 0 130px;
}
section.news-block .cf{
    display: block;
}
section.news-block .box{
    width: 50%;
    float: left;
    position: relative;
    box-sizing: border-box;
}
section.news-block .box .areaTtl .ttl{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 900;
    color:#001E2C;
    border-bottom: solid 1px #001E2D;
    letter-spacing: .05em;
}
section.news-block .box .areaTtl .ttl:after{
    position: absolute;

}
section.news-block .box .btn{
    position: absolute;
    top:0;
    right: 38px;
}
section.news-block .box .btn a{
    display: inline-block;
    padding: 6px;
    width: 110px;
    font-size: 16px;
    font-weight: 400;
    color:#003847;
    text-align: center;
    background: #EEEEEE;
    border-radius: 90px;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: .05em;
}
section.news-block .box .btn a:hover{
    opacity: .7;
    transition: all .2s linear;
}
section.news-block .box .btn a:after{
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top: 1px solid #003847;
    border-right: 1px solid #003847;
    box-sizing: border-box;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
}
section.news-block .box .list .item a{
    display: table;
}
section.news-block .box .list .item a .t1 .date{
    color:#777777;
}
section.news-block .box .list .item a .t1{
    display: table-cell;
}
section.news-block .box .list .item a .t2{
    display: table-cell;
    width: 385px;
}
section.news-block .areaNews:nth-child(2n+1){
    padding-right: 5px;
}
section.news-block .areaNews:nth-child(2n){
    padding-left: 5px;
}
section.news-block .areaNews .list .item + .item{
    margin-top: 24px;
}
section.news-block .box .list .item a{
    text-decoration: none;
}
section.news-block .areaNews .list .item a:hover .t2 .ttl{
    text-decoration: underline;
}
section.news-block .areaNews .list .item a .t1 {
    box-sizing: border-box;
    padding-right: 13px;
}
section.news-block .areaNews .list .item a .t1 .date{
    width: 94px;
    display: inline-block;
    margin-right: 5px;
}
section.news-block .areaNews .list .item a .t1 .cat{
    display: inline-block;
    padding: 3px 0;
    width: 94px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #FF8C00;
}
section.news-block .areaNews .news-list, section.news-block .areaUpdate .update-list{
    margin-top: 35px;
}
*/

@media screen and (max-width: 1520px) {
    .areaCm {
        right: 0;
    }
}

@media screen and (max-width: 1334px) {
    body {
        min-width: 100%;
        font-size: 16px;
    }
    .wrap {
        width: 100%;
    }
    #header {
        min-width: 100%;
    }
    .header-logo {
        width: 15%;
    }
    .header-logo .img {
        width: 100%;
        text-align: left;
    }
    .header-logo .img .logo01 {
        width: 85%;
        min-width: 100px;
        text-align: left;
    }
    .header-logo .img .logo02 {
        width: 85%;
        height: 85%;
        background-position: left center;
        background-size: 80% auto;
    }
    .header-logo .img .logo01 img {
        width: 80%;
    }
    .header-nav ul {
        min-width: 85%;
    }
    .header-nav ul li a, .header-nav ul li .parent {
        font-size: 80%;
    }
    .header-nav ul li.subpage>div {
        padding: 0 5px;
    }
    .header-nav ul li.lib a {
        padding: 0 5px;
    }
    .header-nav ul li.inq a {
        padding: 0 24px;
    }
    .header-nav ul li.try a {
        padding: 0 4px;
    }
    .header-nav ul li.menu {
        width: 86px;
    }
    .header-nav ul li.inq a span.txt {
        left: 8px;
        font-size: 11px;
    }
    .header-nav ul li.subpage a {
        padding: 0 8px;
    }
    .header-nav ul li.lib {
        margin-left: 10px;
    }
    .header-nav ul li.try a span {
        padding: 0 10px;
    }
    .header-nav ul li .childWrap .childWrap-inner {
        width: 100%;
    }
    .header-nav ul li .childWrap .areaTit {
        width: 33%;
        margin-right: 25px;
    }
    .header-nav ul li .childWrap .tit {
        width: 35%;
        height: 179px;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 20px;
    }
    .header-nav ul li .childWrap .child {
        padding: 24px 0;
    }
    .header-nav ul li .childWrap .child .childItem a {
        font-size: 90%;
    }
    .header-nav ul li .childWrap .child.s2 .childItem {
        padding-right: 20px;
    }
    .header-nav ul li .childWrap .child.s2 .childItem:nth-child(n+4) {
        margin-top: 15px;
    }
    /*-----------------------------------------------------------------------*/
    #g-nav .g-nav-logo {
        width: 90px;
        height: auto;
        position: absolute;
    }
    #g-nav .wrap {
        width: 100%;
        min-width: 100%;
    }
    #g-nav .g-nav-content {
        width: 100%;
    }
    #g-nav .list {
        margin-top: 35px;
        font-size: 17px;
        margin-bottom: 22px;
    }
    #g-nav .list li {
        margin-left: 10px;
    }
    #g-nav .list ul>li {
        margin-bottom: 27px;
    }
    #g-nav .g-nav-subcontent {
        width: 50%;
    }
    #g-nav .g-nav-subcontent:before {
        top: 65px;
    }
    #g-nav .g-nav-subcontent .list {
        font-size: 18px;
    }
    #g-nav .btn-list {
        width: 100%;
    }
    #g-nav .btn-list ul {
        width: 100%;
    }
    #g-nav .btn-list ul li {
        width: calc((100% - 94px) / 2);
    }
    #g-nav .btn-list ul li a {
        font-size: 15px;
    }
    #g-nav .areaSublist {
        padding-left: 13px;
    }
    #g-nav .tel {
        padding-left: 14px;
    }
    /*-----------cv--------------------------------------------------------------------------*/
    .cv .block-inner {
        padding: 68px 10px 80px;
    }
    /*----------footer---------------------------------------------------------------------------*/
    .footer-inner {
        padding: 23px 10px 32px;
    }
}

@media screen and (max-width: 1166px) {
    /*ãƒ¡ã‚¤ãƒ³ã‚¤ãƒ¡ãƒ¼ã‚¸-------------------------------------------------------------------------------------*/
    .main-img {
        background-position: center top;
        background-size: 1800px auto;
        height: 810px;
    }
    .areaCm .tit {
        font-size: 12px;
        margin: 0 -15px;
    }
    .areaCm .btn {
        font-size: 10px;
    }
    /* price-------------------------------------------------------------------------------------*/
    .data-table.s-over {
        overflow-x: scroll;
    }
    .data-table.s-over table {
        width: 120% !important;
    }
    /* product-------------------------------------------------------------------------------------*/
    section.product-block .areaList .list .item a {
        padding: 19px 10px 32px;
    }
    .b-c8 {
        background-image: url(../img/home/bg_yes01.jpg) !important;
        background-size: 130% !important;
    }
    /* yes-------------------------------------------------------------------------------------*/
    section.yes-block .box .list {
        width: 33%;
    }
    /* about-------------------------------------------------------------------------------------*/
    section.feature-block .img-ppl {
        left: -177px;
    }
    section.about-block .img-ppl img, section.feature-block .img-ppl img {
        width: 70%;
    }
    /*-----------cv--------------------------------------------------------------------------*/
    .cv .block-inner .wrap .boxs .box-l .lead {
        font-size: 90%;
    }
    .cv .block-inner .wrap .boxs .box-l .areaList {
        padding-bottom: 0;
    }
    .cv .block-inner .wrap .boxs .box-l .c-btn a {
        font-size: 120%;
    }
    .cv .block-inner .wrap .boxs .box-r .download .c-btn.btn a {
        font-size: 120%;
    }
    .cv .block-inner .wrap .boxs .box-r .tel .num span {
        display: block;
        text-align: center;
    }
    .cv .box-r .tel .num span+span {
        margin-left: 0;
    }
    /*----------footer---------------------------------------------------------------------------*/
    .footer-t .footer-l .tit {
        font-size: 120%;
    }
    .footer-t .footer-r .txt {
        font-size: 110%;
    }
}
