@charset "UTF-8";
@media screen and (max-width: 900px) {
  .pc {
    display: none !important;
  }
  .tab {
    display: block !important;
  }
  .sp {
    display: none !important;
  }
  .pc-c {
    display: none !important;
  }
  .tab-c {
    display: table-cell !important;
  }
  .sp-c {
    display: none !important;
  }
  .pcbr {
    display: none;
  }
  @media screen and (min-width: 600px) {
    .spbr {
      display: none;
    }
  }
  .tab_dis-i {
    display: inline;
  }
  .tab_dis-ib {
    display: inline-block;
  }
  .tab_dis-b {
    display: block;
  }
  .tab_m-t0 {
    margin-top: 0 !important;
  }
  .tab_m-t5 {
    margin-top: 5px !important;
  }
  .tab_m-t10 {
    margin-top: 10px !important;
  }
  .tab_m-t15 {
    margin-top: 15px !important;
  }
  .tab_m-t20 {
    margin-top: 20px !important;
  }
  .tab_m-t25 {
    margin-top: 25px !important;
  }
  .tab_m-t30 {
    margin-top: 30px !important;
  }
  .tab_m-t40 {
    margin-top: 40px !important;
  }
  .tab_m-t50 {
    margin-top: 50px !important;
  }
  .tab_m-t60 {
    margin-top: 60px !important;
  }
  .tab_m-t70 {
    margin-top: 70px !important;
  }
  .tab_m-t80 {
    margin-top: 80px !important;
  }
  .tab_m-t90 {
    margin-top: 90px !important;
  }
  .tab_m-t100 {
    margin-top: 100px !important;
  }
  .tab_m-b0 {
    margin-bottom: 0 !important;
  }
  .tab_m-b5 {
    margin-bottom: 5px !important;
  }
  .tab_m-b10 {
    margin-bottom: 10px !important;
  }
  .tab_m-b15 {
    margin-bottom: 15px !important;
  }
  .tab_m-b20 {
    margin-bottom: 20px !important;
  }
  .tab_m-b25 {
    margin-bottom: 25px !important;
  }
  .tab_m-b30 {
    margin-bottom: 30px !important;
  }
  .tab_m-b40 {
    margin-bottom: 40px !important;
  }
  .tab_m-b50 {
    margin-bottom: 50px !important;
  }
  .tab_m-b60 {
    margin-bottom: 60px !important;
  }
  .tab_m-b70 {
    margin-bottom: 70px !important;
  }
  .tab_m-b80 {
    margin-bottom: 80px !important;
  }
  .tab_m-b90 {
    margin-bottom: 90px !important;
  }
  .tab_m-b100 {
    margin-bottom: 100px !important;
  }
  .tab_m-l-auto {
    margin-left: auto !important;
  }
  .tab_m-l0 {
    margin-left: 0 !important;
  }
  .tab_m-l5 {
    margin-left: 5px !important;
  }
  .tab_m-l10 {
    margin-left: 10px !important;
  }
  .tab_m-l15 {
    margin-left: 15px !important;
  }
  .tab_m-l20 {
    margin-left: 20px !important;
  }
  .tab_m-l25 {
    margin-left: 25px !important;
  }
  .tab_m-l30 {
    margin-left: 30px !important;
  }
  .tab_m-r-auto {
    margin-right: auto !important;
  }
  .tab_m-r0 {
    margin-right: 0 !important;
  }
  .tab_m-r5 {
    margin-right: 5px !important;
  }
  .tab_m-r10 {
    margin-right: 10px !important;
  }
  .tab_m-r15 {
    margin-right: 15px !important;
  }
  .tab_m-r20 {
    margin-right: 20px !important;
  }
  .tab_m-r25 {
    margin-right: 25px !important;
  }
  .tab_m-r30 {
    margin-right: 30px !important;
  }
  .tab_p-t0 {
    padding-top: 0 !important;
  }
  .tab_p-t5 {
    padding-top: 5px !important;
  }
  .tab_p-t10 {
    padding-top: 10px !important;
  }
  .tab_p-t15 {
    padding-top: 15px !important;
  }
  .tab_p-t20 {
    padding-top: 20px !important;
  }
  .tab_p-t25 {
    padding-top: 25px !important;
  }
  .tab_p-t30 {
    padding-top: 30px !important;
  }
  .tab_p-t40 {
    padding-top: 40px !important;
  }
  .tab_p-t50 {
    padding-top: 50px !important;
  }
  .tab_p-t60 {
    padding-top: 60px !important;
  }
  .tab_p-t70 {
    padding-top: 70px !important;
  }
  .tab_p-t80 {
    padding-top: 80px !important;
  }
  .tab_p-t90 {
    padding-top: 90px !important;
  }
  .tab_p-t100 {
    padding-top: 100px !important;
  }
  .tab_p-b0 {
    padding-bottom: 0 !important;
  }
  .tab_p-b5 {
    padding-bottom: 5px !important;
  }
  .tab_p-b10 {
    padding-bottom: 10px !important;
  }
  .tab_p-b15 {
    padding-bottom: 15px !important;
  }
  .tab_p-b20 {
    padding-bottom: 20px !important;
  }
  .tab_p-b25 {
    padding-bottom: 25px !important;
  }
  .tab_p-b30 {
    padding-bottom: 30px !important;
  }
  .tab_p-b40 {
    padding-bottom: 40px !important;
  }
  .tab_p-b50 {
    padding-bottom: 50px !important;
  }
  .tab_p-b60 {
    padding-bottom: 60px !important;
  }
  .tab_p-b70 {
    padding-bottom: 70px !important;
  }
  .tab_p-b80 {
    padding-bottom: 80px !important;
  }
  .tab_p-b90 {
    padding-bottom: 90px !important;
  }
  .tab_p-b100 {
    padding-bottom: 100px !important;
  }
  .tab_p-l0 {
    padding-left: 0 !important;
  }
  .tab_p-l5 {
    padding-left: 5px !important;
  }
  .tab_p-l10 {
    padding-left: 10px !important;
  }
  .tab_p-l15 {
    padding-left: 15px !important;
  }
  .tab_p-l20 {
    padding-left: 20px !important;
  }
  .tab_p-l25 {
    padding-left: 25px !important;
  }
  .tab_p-l30 {
    padding-left: 30px !important;
  }
  .tab_p-r0 {
    padding-right: 0 !important;
  }
  .tab_p-r5 {
    padding-right: 5px !important;
  }
  .tab_p-r10 {
    padding-right: 10px !important;
  }
  .tab_p-r15 {
    padding-right: 15px !important;
  }
  .tab_p-r20 {
    padding-right: 20px !important;
  }
  .tab_p-r25 {
    padding-right: 25px !important;
  }
  .tab_p-r30 {
    padding-right: 30px !important;
  }
  .tab_f-c-bk {
    color: #000000 !important;
  }
  .tab_f-c-wh {
    color: #ffffff !important;
  }
  .tab_f-c-gr {
    color: #aaaaaa !important;
  }
  .tab_f-c1 {
    color: #ed8c01 !important;
  }
  .tab_f-c2 {
    color: #F4BD34 !important;
  }
  .tab_f-c3 {
    color: #DBEFCA !important;
  }
  .tab_f-c4 {
    color: #EA7603 !important;
  }
  .tab_b-c-bk {
    background-color: #000000 !important;
  }
  .tab_b-c-wh {
    background-color: #ffffff !important;
  }
  .tab_b-c-gr {
    background-color: #F7F6F2 !important;
  }
  .tab_b-c1 {
    background-color: #ed8c01 !important;
  }
  .tab_b-c2 {
    background-color: #F4BD34 !important;
  }
  .tab_b-c3 {
    background-color: #DBEFCA !important;
  }
  .tab_b-c4 {
    background-color: #EA7603 !important;
  }
  .tab_f-bold {
    font-weight: bold !important;
  }
  .tab_f-normal {
    font-weight: normal !important;
  }
  .tab_f-s150 {
    font-size: 150% !important;
  }
  .tab_f-s140 {
    font-size: 140% !important;
  }
  .tab_f-s130 {
    font-size: 140% !important;
  }
  .tab_f-s120 {
    font-size: 120% !important;
  }
  .tab_f-s110 {
    font-size: 110% !important;
  }
  .tab_f-s100 {
    font-size: 100% !important;
  }
  .tab_f-s90 {
    font-size: 90% !important;
  }
  .tab_f-s80 {
    font-size: 80% !important;
  }
  .tab_f-s70 {
    font-size: 70% !important;
  }
  .tab_f-s60 {
    font-size: 60% !important;
  }
  .tab_f-s50 {
    font-size: 50% !important;
  }
  .tab_l-h10 {
    line-height: 1.0 !important;
  }
  .tab_l-h11 {
    line-height: 1.1 !important;
  }
  .tab_l-h12 {
    line-height: 1.2 !important;
  }
  .tab_l-h13 {
    line-height: 1.3 !important;
  }
  .tab_l-h14 {
    line-height: 1.4 !important;
  }
  .tab_l-h15 {
    line-height: 1.5 !important;
  }
  .tab_l-h16 {
    line-height: 1.6 !important;
  }
  .tab_l-h17 {
    line-height: 1.7 !important;
  }
  .tab_l-h18 {
    line-height: 1.8 !important;
  }
  .tab_l-h19 {
    line-height: 1.9 !important;
  }
  .tab_l-h20 {
    line-height: 2.0 !important;
  }
  .tab_t-l {
    text-align: left !important;
  }
  .tab_t-c {
    text-align: center !important;
  }
  .tab_t-r {
    text-align: right !important;
  }
  .tab_v-t {
    vertical-align: top !important;
  }
  .tab_v-m {
    vertical-align: middle !important;
  }
  .tab_v-b {
    vertical-align: bottom !important;
  }
  .tab_pos-r {
    position: relative;
  }
  .tab_pos-a {
    position: absolute;
  }
  .tab_pos-s {
    position: static;
  }
  .tab_t-shadow {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  /*-------------------------------------------------------------------------------------*/
  body {
    font-size: 15px;
    min-width: 600px;
  }
  .wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  /*-------------------------------------------------------------------------------------*/
  header {
    height: 70px;
  }
  #header {
    height: 70px;
    min-width: 600px;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
  }
  .header-logo {
    padding: 5px;
  }
  .header-nav {
    padding-top: 5px;
  }
  .header-nav ul {
    display: flex;
  }
  .header-nav ul li {
    margin-left: 2px;
  }
  .header-nav ul li a {
    height: 60px;
  }
  .header-nav ul li.menu {
    padding-right: 10px;
  }
  .header-nav ul li.menu>div {
    width: 60px;
    height: 60px;
    background: #E56607;
  }
  .header-nav ul li.menu>div img {
    margin-top: 5px;
    width: 50px;
  }
  /*-----------------------------------------------------------------------*/
  #g-nav {
    box-sizing: border-box;
  }
  #g-nav #g-nav-close {
    font-size: 40px;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 15px;
    line-height: 58px;
  }
  #g-nav .g-nav-in {
    padding: 60px 15px 20px;
  }
  #g-nav .list {
    margin-bottom: 30px;
    font-size: 18px;
  }
  #g-nav .list ul {
    display: inline-block;
  }
  #g-nav .list li a {
    display: block;
  }
  #g-nav .tel {
    width: 100%;
    margin: 0 auto 30px;
    padding: 15px 10px 25px;
  }
  #g-nav .tel .ttl {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 5px 0 8px 48px;
  }
  #g-nav .tel .num {}
  #g-nav .tel .num>div {
    margin: 0 15px;
    font-size: 30px;
  }
  #g-nav .btn-list ul {
    display: block;
  }
  #g-nav .btn-list ul li a {
    font-weight: 400;
    height: 55px;
    font-size: 16px;
    padding-left: 15px;
  }
  #g-nav .btn-list ul li a::after {}
  #g-nav .btn-list ul li a>span {}
  #g-nav .btn-list ul li a>span>span {}
  /*-------------------------------------------------------------------------------------*/
  footer, .footer {
    padding: 10px 0;
  }
  .footer-inner {}
  .footer-inner>div {}
  .footer-logo {}
  .footer-logo img {
    width: 200px;
  }
  .footer-sns {}
  .footer-sns ul {}
  .footer-sns ul li img {
    width: 26px;
  }
  .footer-nav {
    font-size: 14px;
  }
  .footer-nav ul {}
  .footer-nav ul li {}
  .footer-nav ul li a {
    color: #eee;
  }
  .footer-nav ul li a:hover {
    text-decoration: none;
  }
  .footer-copy {
    color: #eee;
    font-size: 11px;
  }
  .footer-copy a {
    text-decoration: none;
    color: inherit;
  }
  .f-footer {
    display: block;
  }
  /*-------------------------------------------------------------------------------------*/
  .main-img {
    height: auto;
    position: relative;
  }
  .main-img .img {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  .main-img .img img {
    width: 550px;
  }
  .main-img .img::after {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(239, 131, 0, 0) 0%, rgba(239, 131, 0, 0.78) 49%, rgba(239, 131, 0, 1) 63%, rgba(239, 131, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(239, 131, 0, 0) 0%, rgba(239, 131, 0, 0.78) 49%, rgba(239, 131, 0, 1) 63%, rgba(239, 131, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(239, 131, 0, 0) 0%, rgba(239, 131, 0, 0.78) 49%, rgba(239, 131, 0, 1) 63%, rgba(239, 131, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ef8300', endColorstr='#ef8300', GradientType=0);
  }
  .main-img img {
    max-width: none;
  }
  .main-img .txt-area {
    /*    background: rgba(0,0,0,0.3);*/
    width: 600px;
    position: relative;
    left: 0;
    top: 0px;
    padding: 0 15px 50px;
    margin: -70px auto 0;
    box-sizing: border-box;
  }
  .main-img .txt-area .t1 {
    width: 220px;
    position: relative;
  }
  .main-img .txt-area .t1 .t1-01 {
    margin-top: -22px;
  }
  .main-img .txt-area .t1 .t1-01 img {
    width: 200px;
  }
  .main-img .txt-area .t1 .t1-02 {
    position: absolute;
    font-size: 32px;
    top: 6px;
    right: 21px;
    line-height: 1.1;
  }
  .main-img .txt-area .t2 {
    width: calc(100% - 220px);
    padding-top: 0px;
  }
  .main-img .txt-area .t2 .t2-01 {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 5px;
    line-height: 1.2;
  }
  .main-img .txt-area .t2 .t2-01 .t2-01-01 {
    font-size: 22px;
  }
  .main-img .txt-area .t2 .t2-01 .t2-01-01 img {
    width: 200px;
    margin-left: -10px;
    margin-right: 5px;
  }
  .main-img .txt-area .t2 .t2-01 .t2-01-02 {
    font-size: 52px;
    letter-spacing: 0px;
  }
  .main-img .txt-area .t2 .t2-01 .t2-01-02 span {
    margin-left: 5px;
  }
  .main-img .txt-area .t2 .t2-02 {
    font-weight: 500;
    padding: 8px 5px 0 0px;
  }
  /*-------------------------------------------------------------------------------------*/
  section.block {}
  .section-inner {
    padding: 50px 0;
  }
  /*------------------------------------*/
  .c-ttl {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
  }
  .c-ttl .main {
    font-size: 46px;
  }
  .c-ttl .sub {
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
  }
  .c-ttl .sub.border-t {
    border-top: 1px solid #333;
    padding-top: 8px;
    margin-top: 5px;
  }
  .c-ttl.f-c-wh .sub.border-t {
    border-top: 1px solid #fff;
  }
  .c-ttl span.border {
    border-bottom: 1px solid #F5740A;
    padding-bottom: 15px;
  }
  .c-ttl .sub2 {
    position: relative;
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
  }
  .c-ttl .sub2 span {
    font-size: 32px;
    color: #ED8300;
  }
  .c-ttl .sub2::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .c-ttl .sub2::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -70px;
    width: 70px;
    height: 1px;
    background: #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  /*------------------------------------*/
  .c-txt {
    margin-bottom: 15px;
    font-size: 17px;
  }
  .c-txt p {}
  .c-txt p.tbg {}
  .c-txt dl {
    margin-bottom: 25px;
  }
  .c-txt dl:last-child {
    margin-bottom: 0;
  }
  .c-txt dl dt {
    color: #ed8c01;
  }
  .c-txt .indent {
    padding-left: 1em;
    text-indent: -1em;
  }
  .c-txt .list {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
  }
  .c-txt .list {
    font-size: 17px;
  }
  .c-txt .list li {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 18px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .c-txt .list li span {
    font-size: 20px;
  }
  .c-txt .list li:last-child {
    margin-right: 0;
  }
  .c-txt .list li::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #E56607;
    position: absolute;
    top: calc(50% - 2px);
    left: 5px;
  }
  /*------------------------------------*/
  .c-img {}
  .c-img img {}
  /*------------------------------------*/
  .c-table {
    margin-bottom: 20px;
  }
  .c-table table {}
  .c-table table th {
    padding: 10px;
    font-size: 18px;
  }
  .c-table table td {
    padding: 10px 20px;
    font-size: 15px;
  }
  /*------------------------------------*/
  .c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .c-btn a, .c-btn button {
    display: table;
    width: 450px;
    height: 70px;
    font-size: 18px;
  }
  .c-btn a:hover, .c-btn button:hover {}
  .c-btn a::after, .c-btn button::after {}
  .c-btn .wide {
    width: calc(100% - 20px);
  }
  .c-btn .tab_w {
    width: calc(50% - 20px);
  }
  .c-btn a>span, .c-btn button>span {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 15px;
  }
  .c-btn .c2 {}
  .c-btn .c2::after {}
  .c-btn .c3 {}
  .c-btn .c3::after {}
  .c-btn .c4 {
    font-size: 22px;
  }
  .c-btn .c4::after {}
  .c-btn .trial {}
  .c-btn .official {
    padding: 5px 0 5px 210px;
  }
  /*------------------------------------*/
  .column-wrap {
    display: block;
    width: 100%;
  }
  .column {
    width: 100%;
  }

  /*------------------------------------*/
  .feature-list {
    margin-bottom: 80px;
  }
  .feature-list ul {
    display: block;
  }
  .feature-list ul li {
    width: 100%;
    padding: 20px 20px 50px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-list ul li:nth-child(even) {}
  .feature-list ul li .img {
    width: 110px;
    height: 110px;
    margin: 0;
  }
  .feature-list ul li .txt-area {
    width: calc(100% - 130px);
  }
  .feature-list ul li .ttl {
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    height: auto;
  }
  .feature-list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-list ul li .pop {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    line-height: 35px;
    font-size: 25px;
  }
  .feature-list ul li.n1 {
    background-size: 104px 180px;
  }
  .feature-list ul li.n2 {
    background-size: 115px 180px;
  }
  .feature-list ul li.n3 {
    background-size: 118px 180px;
  }
  .feature-list ul li.n4 {
    background-size: 140px 180px;
  }
  /*------------------------------------*/
  .feature-list2 {
    margin-bottom: 40px;
  }
  .feature-list2 ul {
    display: block;
  }
  .feature-list2 ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .feature-list2 ul li .img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto 0px;
    overflow: hidden;
  }
  .feature-list2 ul li .txt-area {
    width: calc(100% - 230px);
  }
  .feature-list2 ul li .ttl {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
  }
  /*------------------------------------*/
  .feature-block {
    background: rgba(0, 0, 0, 0.8);
  }
  .feature-block .feature-block-in {
    padding: 80px 0;
  }
  .feature-block .feature-block-close {}
  .feature-block .box {
    padding: 30px 20px 10px;
  }
  .feature-block .box .box-ttl {
    padding: 10px 0 15px;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .feature-block .box .box-ttl .sub {
    font-size: 24px;
  }
  .feature-block .box .box-ttl .main {}
  .feature-block .box .list {}
  .feature-block .box .list ul {
    display: block;
  }
  .feature-block .box .list ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-block .box .list ul li .img {
    width: 120px;
    height: 120px;
    margin: 0 10px 0 0;
    border-radius: 60px;
  }
  .feature-block .box .list ul li .txt-area {
    width: calc(100% - 140px);
  }
  .feature-block .box .list ul li .ttl {
    display: block;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    line-height: 1.3;
  }
  .feature-block .box .list ul li .ttl>div {
    display: block;
  }
  .feature-block .box .list ul li .ttl span {
    font-size: 16px;
  }
  .feature-block .box .list ul li .txt {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .feature-block .box .list.s2 ul li .img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 0px;
  }
  .feature-block .box .list.s2 ul li .txt-area {
    width: calc(100% - 240px);
    padding-top: 20px;
  }
  .feature-block .box .list.s2 ul li .ttl {
    text-align: center;
    right: auto;
    top: calc(50% - 120px);
    left: 130px;
    width: 100px;
    height: 100px;
    background: #EF8300;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    display: table;
  }
  .feature-block .box .list.s2 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-block .box .list.s2 ul li .ttl span {
    font-size: 28px;
  }
}

/*====================================================================================================*/