	@charset "UTF-8";
	/*-------------------------------------------------------*/
	/* ブログ共通
/*-------------------------------------------------------*/
	
	html, body, body * {
		font-weight: 400;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #083451;
		background-color: #fff;
	}
	
	.nencho_blog {
		font-size: 16px;
	}
	
	.nencho_blog header {
		background: #f5e616;
		height: 90px;
	}
	
	.nencho_blog header .inner_header {
		width: 1200px;
		margin: 0 auto;
	}
	
	.nencho_blog header .inner_header p {
		float: left;
		margin: 0;
		padding: 0;
	}
	
	.nencho_blog header .inner_header p img {
		margin: 15px 0 0;
	}
	
	.nencho_blog header .inner_header nav {
		float: right;
		margin: 0;
		padding: 0;
	}
	
	.nencho_blog header .inner_header nav ul {
		overflow: hidden;
		margin: 35px 0 0;
		padding: 0;
	}
	
	.nencho_blog header .inner_header nav ul li {
		float: left;
		padding: 0 35px;
		background: url(/files/nencho/img/blog/border_NW.png) no-repeat right center;
	}
	
	.nencho_blog header .inner_header nav ul li:last-child {
		background-image: none;
	}
	
	.nencho_blog header .inner_header nav ul li a {
		color: #083451;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
	}
	
	.nencho_blog header .inner_header nav ul li a:hover, .nencho_blog header .inner_header nav ul li a.active {
		color: #146091;
	}
	
	.nencho_blog h1, .nencho_blog h2, .nencho_blog h3, .nencho_blog h4, .nencho_blog p, .nencho_blog ol li, .nencho_blog ul li {
		color: #083451;
	}
	
	.nencho_blog #wrapper_inner ol li {
		font-weight: bold;
		margin-bottom: .8em;
	}
	
	.nencho_blog #wrapper_inner ol li ul {
		margin-top: .8em;
	}
	
	.nencho_blog #wrapper_inner ol li ul li {
		font-weight: 400;
	}
	
	.nencho_blog #wrapper_inner ol li.std {
		font-weight: 400;
	}
	
	.nencho_blog #wrapper_inner ul li.bld {
		font-weight: bold;
	}
	
	.nencho_blog #wrapper_inner h1 {
		padding-top: 0;
		color: #146091;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.2;
	}
	
	.nencho_blog #wrapper_inner h2 {
		margin: 2.4em 0 1.2em;
		padding: 15px;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.2;
		background: #d8e7f3;
	}
	
	.nencho_blog #wrapper_inner h3 {
		margin: 2.4em 0 1.2em;
		padding-left: 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
		border-left: 10px solid #146091;
	}
	
	#qaAll .inner .start_box h3 {
		border-left: transparent;
		padding-left: 0;
	}
	
	#qaAll .inner .start_box h3 + p {
		font-size: 14px;
		line-height: 1.5;
	}
	
	.nencho_blog #wrapper_inner h4 {
		margin: 2.4em 0 1.2em;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
	}
	
	.nencho_blog #wrapper_inner h2 span, .nencho_blog #wrapper_inner h3 span, .nencho_blog #wrapper_inner h4 span {
		font-weight: bold;
	}
	
	.nencho_blog #wrapper_inner p {
		margin: 0 0 1.2em;
		line-height: 1.9;
	}
	
	.nencho_blog #wrapper_inner ul {
		margin: 0 0 1.2em;
		padding-left: 20px;
		line-height: 1.9;
		overflow: hidden;
	}
	
	.nencho_blog #wrapper_inner ul li {
		margin-bottom: .8em;
		padding-left: 5px;
		list-style-type: disc;
	}
	
	.nencho_blog #wrapper_inner b {
		font-weight: bold;
	}
	
	#globalMenu {
		display: none;
	}
	/*----色-----------------------------------------*/
	
	.nencho_blog #wrapper_inner .red {
		color: #f00;
	}
	/*----リンク-----------------------------------------*/
	
	.nencho_blog a {
		color: #2f84d4;
		text-decoration: underline;
	}
	
	.nencho_blog #wrapper_inner a:hover {
		text-decoration: none;
	}
	
	.nencho_blog a.blank[href^="http"] {
		background: url(../img/ico_window.png) no-repeat right center;
		padding-right: 18px;
		margin-right: 5px;
	}
	
	.nencho_blog a:hover img {
		opacity: 0.7;
	}
	/*----PCで非表示-----------------------------------------*/
	
	br.sp_only {
		display: none;
	}
	/*----パンくず（.breadcrumbs）-----------------------------------------*/
	
	.nencho_blog .wrapper_breadCrumbsKiso {
		width: 100%;
		margin: 0 auto 50px;
		padding: 6px 0;
		background: #cce4f3;
		clear: both;
	}
	
	.nencho_blog .wrapper_breadCrumbsQa {
		width: 100%;
		margin: 0 auto 50px;
		padding: 6px 0;
		background: #dceec0;
		clear: both;
	}
	
	.nencho_blog .breadCrumbs {
		width: 1200px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.nencho_blog .breadCrumbs li {
		width: 1200px;
		text-align: left;
		font-size: 13px;
		display: inline;
	}
	
	.nencho_blog .breadCrumbs li a {
		text-decoration: none;
	}
	
	.nencho_blog .breadCrumbs li a:hover {
		color: #93c83f;
	}
	/*----footer-----------------------------------------*/
	
	.nencho_blog footer {
		width: 100%;
		height: 260px;
		margin: 0 auto;
		padding: 50px 0;
		background: #1e3953;
		clear: both;
	}
	
	.nencho_blog footer .inner_footer {
		width: 1200px;
		margin: 0 auto;
	}
	
	.nencho_blog footer .inner_footer p.left {
		width: 50%;
		float: left;
	}
	
	.nencho_blog footer .inner_footer ul {
		width: 50%;
		float: right;
		overflow: hidden;
	}
	
	.nencho_blog footer .inner_footer p.left .pc_only {
		display: inline;
	}
	
	.nencho_blog footer .inner_footer p.left .sp_only {
		display: none;
	}
	/*----.copyRight-----------------------------------------*/
	
	.nencho_blog .copyRight {
		width: 100%;
		margin: 0 auto;
		background: #1e354a;
	}
	
	.nencho_blog .copyRight .inner_copyRight {
		width: 1200px;
		margin: 0 auto;
	}
	
	.nencho_blog .copyRight .inner_copyRight p {
		color: #496a8a;
		font-size: 14px;
		text-align: center;
		padding: 20px 0;
	}
	/*----ページトップに戻る-----------------------------------------*/
	
	.toTop .ui-to-top, .toTop .ui-to-top:active, .toTop .ui-to-top:focus {
		color: #fff;
		background: #93c83f;
		width: 70px;
		height: 70px;
		text-decoration: none;
	}
	
	.ui-to-top:hover {
		color: #fff;
		background: #b1dc6d;
		width: 70px;
		height: 70px;
		text-decoration: none;
	}
	
	.ui-to-top {
		font-size: 30px;
		line-height: 60px;
		text-align: center;
	}
	/*-------------------------------------------------------*/
	/* 記事共通（#kiso #kisoAll #qa #qaAll）
/*-------------------------------------------------------*/
	/*----.box_ofs-----------------------------------------*/
	
	.nencho_blog #wrapper_inner .box_ofs {
		width: 100%;
		margin-top: 50px;
	}
	
	.nencho_blog #wrapper_inner .box_inner_ofs {
		width: 100%;
		margin-top: 0;
		padding: 30px 30px 15px;
		border: 1px solid #f5e616;
		overflow: hidden;
	}
	
	.nencho_blog #wrapper_inner .box_ofs h2 {
		color: #146091 !important;
		font-size: 20px !important;
		font-weight: bold;
		text-align: center !important;
		background: #f5e616 !important;
		margin: 0 !important;
		padding: 30px 0 !important;
	}
	
	.nencho_blog #wrapper_inner .box_ofs h2::before {
		display: none !important;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p {
		color: #146091;
		font-size: 18px;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.left {
		width: 50%;
		float: left;
		margin: 30px 0 15px;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.left img {
		margin: 20px 0;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.right {
		width: 50%;
		float: right;
		text-align: center;
		margin: 30px 0 15px;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.right a {
		width: 90%;
		color: #146091;
		font-size: 12px;
		font-weight: bold;
		border-radius: 50px;
		background: #f5e616 url(/files/nencho/img/blog/arrow_navy.png) no-repeat 93% center;
		margin: 20px 0 !important;
		padding: 5px 0;
		border: 1px solid #f5e616;
		-webkit-appearance: none;
		background-size: 6%;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.right a:hover {
		background: #fbf16d url(/files/nencho/img/blog/arrow_navy.png) no-repeat 93% center;
		background-size: 6%;
	}
	
	.nencho_blog #wrapper_inner .box_ofs p.right a, .nencho_blog #wrapper_inner .box_ofs p.right a:hover {
		color: #146091;
		font-weight: bold;
		text-decoration: none;
	}
	/*----shareボタン-----------------------------------------*/
	
	#kiso #wrapper_inner .share, #qa #wrapper_inner .share {
		margin: 30px 0;
		clear: both;
	}
	
	#kiso #wrapper_inner .share ul, #qa #wrapper_inner .share ul {
		display: table;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	#kiso #wrapper_inner .share li, #qa #wrapper_inner .share li {
		display: table-cell;
		vertical-align: middle;
		width: 1%;
		padding-left: 0;
	}
	
	#kiso .share li a, #qa .share li a {
		display: block;
		padding: 0.8em 0px;
		color: #fff;
		font-size: .8em;
	}
	
	#kiso .share a, #qa .share a {
		padding: 5px 20px;
		display: inline-block;
		line-height: 20px;
		font-size: 3.15vw;
		font-weight: bold;
		color: white !important;
		text-decoration: none !important;
		min-width: 1%;
		text-align: center;
	}
	
	#kiso .share-tw, #qa .share-tw {
		background-color: #55acee;
	}
	
	#kiso .share-fb, #qa .share-fb {
		background-color: #315096;
	}
	
	#kiso .share-gp, #qa .share-gp {
		background-color: #dd4b39;
	}
	
	#kiso .share-htb, #qa .share-htb {
		background-color: #008fde;
	}
	
	#kiso .share-pk, #qa .share-pk {
		background-color: #ee4056;
	}
	/*----.supervision（記事監修）-----------------------------------------*/
	
	.nencho_blog #wrapper_inner .supervision {
		margin: 1.6em 0;
		padding: 0;
		border: 1px solid #ccc;
		font-size: 1em;
		clear: both;
	}
	
	.nencho_blog #wrapper_inner .supervision ul {
		overflow: hidden;
	}
	
	.nencho_blog #wrapper_inner .supervision ul li {
		float: left;
		list-style-type: none;
	}
	
	.nencho_blog #wrapper_inner .supervision ul li.ttl {
		font-weight: bold;
		margin-right: 1em;
	}
	/*----関連記事-----------------------------------------*/
	
	#kiso #wrapper_inner .relatedArticles {
		margin-bottom: 80px;
		padding: 30px;
		background: #f2f8fc;
		overflow: hidden;
	}
	
	#qa #wrapper_inner .relatedArticles {
		margin-bottom: 80px;
		padding: 30px;
		background: #f6fbef;
		overflow: hidden;
	}
	
	#kiso #wrapper_inner .relatedArticles h2, #qa #wrapper_inner .relatedArticles h2 {
		font-size: 22px;
		font-weight: bold;
		background: none;
		margin: 0 0 10px;
		padding: 0;
	}
	
	#qa #wrapper_inner .relatedArticles h2::before {
		display: none;
	}
	
	#kiso #wrapper_inner .relatedArticles ul.left, #qa #wrapper_inner .relatedArticles ul.left {
		width: 48%;
		float: left;
	}
	
	#kiso #wrapper_inner .relatedArticles ul.right, #qa #wrapper_inner .relatedArticles ul.right {
		width: 48%;
		float: right;
	}
	
	#kiso #wrapper_inner .relatedArticles ul li, #qa #wrapper_inner .relatedArticles ul li {
		width: 100%;
		list-style-type: none;
		background: url(/files/nencho/img/blog/arrow_navy_s.png) no-repeat left 8px;
		margin-right: 0;
		margin-bottom: 25px;
		padding-left: 15px;
	}
	
	#kiso #wrapper_inner .relatedArticles ul, #qa #wrapper_inner .relatedArticles ul {
		margin: 15px 0 15px 0;
		padding-left: 0;
		line-height: 1.9;
		overflow: hidden;
	}
	/*----#sideNav-----------------------------------------*/
	
	.nencho_blog #wrapper_inner #sideNav {
		width: 300px;
		float: right;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul {
		margin: 0;
		padding: 0;
		width: 300px;
		line-height: 1.9;
		overflow: hidden;
	}
	
	.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list, .nencho_blog #wrapper_inner #sideNav ul.qa {
		width: 100%;
		line-height: 1.9;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul li, .nencho_blog #wrapper_inner #sideNav ul li {
		padding-left: 0;
		font-size: 15px;
		text-align: left;
		/* background: url(/files/nencho/img/blog/ico_arrow_navy.png) no-repeat 25px center; */
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		border-left: 1px solid #eee;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul li {
		position: relative;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul li a:before {
		font-size: 30px;
		fonot-weight: 600;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul li a:hover {
		padding: 7px 0 7px 35px;
		text-decoration: none;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.kiso li a:hover {
		background: #eff6fb;
	}
	/* .nencho_blog #wrapper_inner #sideNav ul.qa li a:hover {
	background: #f4fce8;
} */
	
	.nencho_blog #wrapper_inner #sideNav .ttl_kiso, .nencho_blog #wrapper_inner #sideNav .ttl_qa {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		line-height: 1.2;
		margin: 0;
		padding: 17px 0 11px;
		background-image: none;
		background-color: #146091;
		list-style-type: none;
	}
	
	.nencho_blog #wrapper_inner #sideNav .ttl_kiso {
		background-color: #146091;
		border-bottom: 3px solid #0c4d77;
	}
	
	.nencho_blog #wrapper_inner #sideNav .ttl_qa {
		background-color: #64a301;
		border-bottom: 3px solid #558509;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.kiso {
		counter-reset: ranking;
		list-style: none;
		margin-bottom: 35px;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.kiso li::before {
		counter-increment: ranking;
		content: counters(ranking, ".") ".　";
		font-weight: bold;
		color: #083451;
		padding-right: 12px;
		font-size: 30px;
		position: absolute;
		top: 20%;
		left: 10px;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.kiso li {
		position: relative;
		font-size: 14px;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.kiso li a, .nencho_blog #wrapper_inner #sideNav ul.kiso li a:hover {
		color: #083451;
		padding: 12px 12px 12px 50px;
		text-decoration: none;
		display: block;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.qa {
		margin-bottom: 35px;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.qa li {
		position: relative;
		font-size: 14px;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.qa li a {
		color: #083451;
		padding: 12px 12px 12px 45px;
		text-decoration: none;
		display: block;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.bnrArea li a, .nencho_blog #wrapper_inner #sideNav ul.bnrArea li a:hover {
		border: none;
		margin: 0;
		padding: 0;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.bnrArea li {
		border: none;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.bnrArea li img {
		margin: 0;
	}
	
	.nencho_blog #wrapper_inner #sideNav {
		width: 300px;
		float: right;
	}
	
	.nencho_blog #wrapper_inner #sideNav ul.bnrArea {
		top: auto !important;
		position: static !important;
	}
	/*----検索窓（#searchBox）-----------------------------------------*/
	
	#qaAll #searchBox, #qa #searchBox, #search #searchBox {
		margin: 0 auto 35px;
		padding: 0 2%;
		width: 100%;
		height: 36px;
		text-align: center;
		float: none;
		position: relative;
	}
	
	#qaAll #searchBox #textSearch input#testSearchInput, #qa #searchBox #textSearch input#testSearchInput, #search #searchBox #textSearch input#testSearchInput {
		width: 100%;
		height: 36px;
		display: block;
		background-color: #fff;
		border-radius: 20px;
		border: 1px solid #ccc;
		padding-left: 15px;
		margin: 0 0 5px;
		foont-size: 12px;
	}
	
	#qaAll #searchBox input[type="submit"], #qa #searchBox input[type="submit"], #search #searchBox input[type="submit"] {
		height: 30px;
		border: none;
		border-radius: 3px;
		background-color: transparent;
		background: url(/files/nencho/img/blog/ico_magnifyingglass.png) no-repeat left center;
		box-sizing: border-box;
		color: transparent;
		padding: 0 15px;
		margin: -30px 0 5px;
		position: absolute;
		top: 33px;
		left: auto;
		right: 0;
	}
	
	#qaAll #searchBox input[type="submit"] {
		background: url(/files/nencho/img/blog/ico_magnifyingglass.png) no-repeat center;
	}
	
	input::-moz-placeholder {
		font-size: 12px;
	}
	/*----ページ送り（.pagination）-----------------------------------------*/
	
	#qaAll .pagination, #search .pagination {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	
	#qaAll .pagination .prev, #qaAll .pagination .next, #search .pagination .prev, #search .pagination .next {
		display: inline;
	}
	
	#qaAll .pagination ul, #search .pagination ul {
		width: 100%;
	}
	
	#qaAll .pagination ul li, #search .pagination ul a li {
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 5px;
		padding: 6px 0 0 0;
		background: #fff;
		list-style-type: none;
		border: 1px solid #083451;
		text-align: center;
	}
	
	#qaAll .pagination ul li:last-child, #search .pagination ul li:last-child {
		margin-right: 0;
	}
	
	#qaAll .pagination ul li.prev, #search .pagination ul li.prev {
		width: 8em;
		margin-right: 5px;
		padding: 6px 0 0 0;
		background: #fff;
		list-style-type: none;
		border: none;
		text-align: center;
		float: left;
	}
	
	#qaAll .pagination ul li.next, #search .pagination ul li.next {
		width: 8em;
		margin-left: 5px;
		padding: 6px 0 0 0;
		background: #fff;
		list-style-type: none;
		border: none;
		text-align: center;
		float: left;
	}
	
	#qaAll .pagination ul li.active, #search .pagination ul li.active {
		background: #083451;
		color: #fff;
	}
	
	#qaAll .pagination ul a, #search .pagination ul a {
		text-decoration: none;
	}
	
	#qaAll .pagination ul a:hover li, #search .pagination ul a:hover li {
		background: #083451;
		color: #fff;
	}
	
	#qaAll .pagination ul a.prev1:hover li, #qaAll .pagination ul a.next1:hover li, #search .pagination ul a.next1:hover li {
		background: none;
		color: #083451;
		text-decoration: underline;
	}
	/*-------------------------------------------------------*/
	/* 記事（#kiso）
/*-------------------------------------------------------*/
	
	#kiso {
		width: 100%;
		margin: 0 auto 0;
		color: #083451;
		overflow: hidden;
	}
	/* #wrapper_inner */
	
	#wrapper_inner {
		width: 1200px;
		margin: 0 auto;
	}
	/* #content */
	
	#content {
		width: 850px;
		float: left;
	}
	
	#kiso #wrapper_inner p.date {
		margin: 5px 0 15px;
		font-size: 14px;
		text-align: right;
	}
	
	#kiso #wrapper_inner .tag {
		width: 9em;
		text-align: center;
		font-size: 0.8em;
		display: inline-block;
		margin-right: 1em;
		padding: 1px 5px 2px;
		border: 1px solid #5d6991;
		line-height: 100%;
		color: #5d6991;
	}
	
	#kiso #wrapper_inner #toc_container {
		margin: 30px 0 0;
		padding: 22px;
		border: 1px solid #b3defc;
		width: 100%;
	}
	
	#kiso #wrapper_inner #toc_container .toc_title {
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		margin: 0;
	}
	
	#kiso #wrapper_inner #toc_container ul {
		counter-reset: number;
		list-style: none;
		margin-bottom: 0;
	}
	
	#kiso #wrapper_inner #toc_container ul li {
		line-height: 1.25em;
		color: #008b25;
		font-weight: 700;
		font-size: 16px;
		margin-bottom: .8em;
	}
	
	#kiso #wrapper_inner #toc_container ul li a {
		font-weight: bold;
		color: #2f84d4;
		text-decoration: none !important;
		display: inline;
	}
	
	#kiso #wrapper_inner #toc_container ul li::before {
		counter-increment: number;
		content: counter(number);
		font-weight: bold;
		color: #083451;
		padding-right: 12px;
		margin-left: -20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#kiso #wrapper_inner ol {
		list-style-type: decimal;
		margin: 0 0 1.2em 1.5em;
		color: #083451;
		font-weight: bold;
	}
	/*----見出し-----------------------------------------*/
	
	.nencho_blog #wrapper_inner img {
		margin: 20px 0 20px;
	}
	
	#kiso #wrapper_inner .infoArea {
		margin: 30px 0;
		padding: 30px;
		background: #eee;
	}
	
	#kiso #wrapper_inner .infoArea p {
		margin-top: 0;
	}
	/*-------------------------------------------------------*/
	/* 基礎知識記事一覧（#kisoAll）
/*-------------------------------------------------------*/
	
	#kisoAll {
		width: 100%;
		margin: 0 auto 0;
		color: #083451;
		overflow: hidden;
	}
	
	#kisoAll #wrapper_inner h1 {
		font-size: 40px;
	}
	
	#kisoAll #wrapper_inner ul.toc {
		overflow: hidden;
		padding-left: 0;
		width: 100%;
		margin: 30px 0 0;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-lines: multiple;
		-moz-box-lines: multiple;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	#kisoAll #wrapper_inner ul.toc li {
		width: 48%;
		list-style-type: none;
		background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left 5px;
		margin-right: 4%;
		padding-left: 18px;
	}
	
	#kisoAll #wrapper_inner ul.toc li:nth-child(2n) {
		margin-right: 0;
	}
	
	#kisoAll #wrapper_inner ul.toc li a {
		font-size: 18px;
		font-weight: bold;
	}
	
	#kisoAll #wrapper_inner ul.toc li a:hover {
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
	}
	/*----Q&Aへのリンク（.boxQa）-----------------------------------------*/
	
	#kisoAll #wrapper_inner .boxQa {
		clear: both;
		margin-bottom: 80px;
		width: 100%;
	}
	
	#kisoAll #wrapper_inner .boxQa h2 {
		padding: 17px 0 14px 7em;
		background: #64a301;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		border-bottom: 3px solid #558509;
	}
	
	#kisoAll #wrapper_inner .boxQa h2 span {
		font-size: 14px;
		background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
		float: right;
		margin-right: 1em;
		padding-right: 1em;
	}
	
	#kisoAll #wrapper_inner .boxQa h2 span a {
		color: #fff;
		text-decoration: none;
	}
	
	#kisoAll #wrapper_inner .boxQa h2 span a:hover {
		text-decoration: underline;
	}
	
	#kisoAll #wrapper_inner .boxQa .inner_boxQa {
		background: #f6fbef;
		margin-top: 0;
		padding: 30px;
	}
	
	#kisoAll #wrapper_inner .boxQa .inner_boxQa ul {
		overflow: hidden;
		margin: .5em 0 0 0;
		padding-left: 0;
	}
	
	#kisoAll #wrapper_inner .boxQa .inner_boxQa ul li {
		list-style-type: none;
		background: url(/files/nencho/img/blog/arrow_green2_s.png) no-repeat left 10px;
		padding-left: 15px;
	}
	/*----基礎知識へのリンク（.boxQa）-----------------------------------------*/
	
	#qaAll #wrapper_inner .boxKiso, #search #wrapper_inner .boxKiso {
		clear: both;
		margin-bottom: 40px;
	}
	
	#qaAll #wrapper_inner .boxKiso h2, #search #wrapper_inner .boxKiso h2 {
		padding: 17px 0 14px 7em;
		background: #146091;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		border-bottom: 3px solid #0c4d77;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span, #search #wrapper_inner .boxKiso h2 span {
		font-size: 14px;
		background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
		float: right;
		margin-right: 1em;
		padding-right: 1em;
		vertical-align: middle;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span a, #search #wrapper_inner .boxKiso h2 span a {
		color: #fff;
		text-decoration: none;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span a:hover, #search #wrapper_inner .boxKiso h2 span a:hover {
		text-decoration: underline;
	}
	
	#qaAll #wrapper_inner .boxKiso .inner_boxKiso, #search #wrapper_inner .boxKiso .inner_boxKiso {
		background: #f2f8fc;
		margin-top: 0;
		padding: 30px;
	}
	
	#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul, #search #wrapper_inner .boxKiso .inner_boxKiso ul {
		overflow: hidden;
		margin: 0;
		padding-left: 0;
	}
	
	#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul li, #search #wrapper_inner .boxKiso .inner_boxKiso ul li {
		list-style-type: none;
		background: url(/files/nencho/img/blog/arrow_navy_s.png) no-repeat left 8px;
		margin-bottom: 10px;
		padding-left: 15px;
	}
	/*-------------------------------------------------------*/
	/* Q&A（#qa）
/*-------------------------------------------------------*/
	
	#qa {
		width: 100%;
		margin: 0 auto 0;
		color: #083451;
		overflow: hidden;
	}
	
	#qa #wrapper_inner h1 {
		margin-left: 0;
		padding-top: 0;
		color: #024b80;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.5;
	}
	/* #qa #wrapper_inner h1::before {
	color: #93c83f;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	content: 'Q';
	display: block;
	position: absolute;
	top: 0;
	left: -40px;
} */
	
	#qa #wrapper_inner h2 {
		margin-top: 40px;
		margin-left: 0;
		padding: 0 15px 15px 5px;
		color: #146091;
		font-size: 16px;
		font-weight: bold;
		line-height: 2;
		/* background: none; */
		position: relative;
	}
	/* #qa #wrapper_inner h2::before {
	color: #146091;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	content: 'A';
	display: block;
	position: absolute;
	top: 0;
	left: -40px;
} */
	
	#qa #wrapper_inner h3 {
		margin: 2.4em 0 1.2em 50px;
		/* padding-left: 35px; */
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
		border-left: none;
		position: relative;
	}
	/* #qa #wrapper_inner h3::before {
	color: #083451;
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	content: '●';
	position: absolute;
	top: -.4em;
	left: 0;
} */
	
	#qa #wrapper_inner h4 {
		margin: 2em 0 1.2em 50px;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
	}
	
	#qa #wrapper_inner p {
		margin: 0 0 1.2em 50px;
		line-height: 1.9;
	}
	
	#qa #wrapper_inner ol {
		margin: 0 0 1.2em 50px;
		counter-reset: number;
		list-style: none;
		margin-bottom: 0;
	}
	
	#qa #wrapper_inner ol li {
		font-size: 16px;
		list-style-type: none;
	}
	
	#qa #wrapper_inner ol li:last-child {
		margin-bottom: 2em;
	}
	
	#qa #wrapper_inner ol li::before {
		counter-increment: number;
		content: counters(number, ".") ".　";
		font-weight: bold;
		color: #083451;
	}
	
	#qa #wrapper_inner ol li.std::before {
		font-weight: normal;
	}
	
	#qa #wrapper_inner ul li {
		margin-bottom: .8em;
		padding-left: 5px;
		list-style-type: disc;
	}
	
	#qa #wrapper_inner ul {
		margin: 0 0 1.2em 50px;
		padding-left: 20px;
		line-height: 1.9;
		overflow: hidden;
	}
	
	#qa #wrapper_inner ul li {
		padding-left: 5px;
		list-style-type: disc;
	}
	
	#qa #wrapper_inner b {
		font-weight: bold;
	}
	
	#qa #wrapper_inner .relatedArticles h2 {
		color: #083451;
	}
	
	#qa #wrapper_inner .relatedArticles h2::before {
		display: none;
	}
	/*-------------------------------------------------------*/
	/* Q&A一覧（#qaAll）
/*-------------------------------------------------------*/
	
	#qaAll {
		width: 100%;
		margin: 0 auto 0;
		color: #083451;
		overflow: hidden;
	}
	
	#qaAll #wrapper_inner h1 {
		font-size: 40px;
		color: #083451;
	}
	
	#qaAll #wrapper_inner ul {
		overflow: hidden;
		padding-left: 0;
	}
	
	#qaAll #wrapper_inner .inner ul li {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.7;
		position: relative;
		list-style-type: none;
		padding: 15px 0 15px 40px;
		border-bottom: 1px solid #eee;
	}
	
	#qaAll #wrapper_inner .inner ul li::before {
		color: #93c83f;
		font-size: 24px;
		line-height: 1.5;
		content: 'Q';
		display: block;
		position: absolute;
		top: 15px;
		left: 0;
	}
	
	#qaAll #wrapper_inner .inner ul li span {
		display: block;
		color: #93c83f;
		font-size: 13px;
	}
	/*-------------------------------------------------------*/
	/* 検索結果（#search）
/*-------------------------------------------------------*/
	
	#search {
		width: 100%;
		margin: 0 auto 0;
		color: #083451;
		overflow: hidden;
	}
	
	#search #wrapper_inner h1 {
		font-size: 26px;
		font-weight: 400;
	}
	
	#search #wrapper_inner h1 b {
		font-weight: bold;
		margin-right: 5px;
	}
	
	#search #wrapper_inner ul {
		overflow: hidden;
		padding-left: 0;
	}
	
	#search #wrapper_inner .inner ul li {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.7;
		position: relative;
		list-style-type: none;
		padding: 15px 0 15px 40px;
		border-bottom: 1px solid #eee;
	}
	
	#search #wrapper_inner .inner ul li a {
		font-weight: bold;
	}
	
	#search #wrapper_inner .inner ul li::before {
		color: #93c83f;
		font-size: 24px;
		line-height: 1.5;
		content: 'Q';
		display: block;
		position: absolute;
		top: 15px;
		left: 0;
	}
	
	#search #wrapper_inner .inner ul li span {
		display: block;
		color: #93c83f;
		font-size: 13px;
	}
	/*----検索窓（#searchBox）-----------------------------------------*/
	
	#qaAll #searchBox, #qa #searchBox {
		margin: 0 auto 35px;
		height: 36px;
		text-align: center;
		float: none;
		position: relative;
	}
	
	#qaAll #searchBox #searchform input.screen-reader-text, #qa #searchBox #searchform input.screen-reader-text {
		width: 300px;
		height: 36px;
		display: block;
		background-color: #fff;
		border-radius: 20px;
		border: 1px solid #ccc;
		padding-left: 15px;
		margin: 0 0 5px;
		font-size: 12px;
	}
	
	#qaAll #searchBox .searchsubmit, #qa #searchBox .searchsubmit {
		height: 30px;
		border: none;
		border-radius: 3px;
		background-color: transparent;
		background: url(/files/nencho/img/blog/ico_magnifyingglass.png) no-repeat left center;
		box-sizing: border-box;
		color: transparent;
		padding: 0 15px;
		margin: -30px 0 5px;
		position: absolute;
		top: 33px;
		left: 260px;
	}
	/*----ページ送り（.pagination）-----------------------------------------*/
	
	#qaAll #pagenation, #search #pagenation {
		width: 100%;
		margin: 0 auto 35px;
		text-align: center;
	}
	
	#qaAll #pagenation ul.page-numbers, #search #pagenation ul.page-numbers {
		display: inline-block;
		margin: 0 auto;
	}
	
	#qaAll #pagenation ul.page-numbers li, #search #pagenation ul.page-numbers li {
		width: 40px;
		height: 40px;
		float: left;
		margin-right: 5px;
		margin-bottom: 0;
		padding: 0;
		background: #fff;
		list-style-type: none;
		border: 1px solid #083451;
		text-align: center;
	}
	
	#qaAll #pagenation ul.page-numbers li a, #search #pagenation ul.page-numbers li a {
		text-decoration: none;
		display: block;
		padding: 3px 0 0;
	}
	
	#qaAll #pagenation ul.page-numbers li a:hover, #search #pagenation ul.page-numbers li a:hover {
		background: #083451;
		color: #fff;
	}
	
	#qaAll #pagenation ul.page-numbers li a.page-numbers, #search #pagenation ul.page-numbers li a.page-numbers {
		display: block;
		padding: 4px 0;
		height: 100%;
		color: #083451;
		text-decoration: none;
	}
	
	#qaAll #pagenation ul.page-numbers li a.page-numbers:hover, #search #pagenation ul.page-numbers li a.page-numbers:hover {
		display: block;
		padding: 4px 0;
		height: 100%;
		color: #fff;
		text-decoration: none;
	}
	
	#qaAll #pagenation ul li span.current, #search #pagenation ul li span.current {
		background: #083451;
		color: #fff;
		display: block;
		padding: 4px 0;
		height: 100%;
	}
	/*----Q&Aへのリンク（.boxQa）-----------------------------------------*/
	
	#qaAll #wrapper_inner .boxKiso {
		clear: both;
		margin-bottom: 80px;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 {
		padding: 17px 0 14px 7em;
		background: #146091;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		border-bottom: 3px solid #0c4d77;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span {
		font-size: 14px;
		background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
		float: right;
		margin-right: 1em;
		padding-right: 1em;
		vertical-align: middle;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span a {
		color: #fff;
		text-decoration: none;
	}
	
	#qaAll #wrapper_inner .boxKiso h2 span a:hover {
		text-decoration: underline;
	}
	
	#qaAll #wrapper_inner .boxKiso .inner_boxKiso {
		background: #f2f8fc;
		margin-top: 0;
		padding: 30px;
	}
	
	#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul {
		overflow: hidden;
		margin: 0;
		padding-left: 0;
	}
	/* ------------------------------
   CLEARFIX ELEMENTS
------------------------------ */
	
	#globalMenu > ul:before, #globalMenu > ul:after {
		content: " ";
		display: table;
	}
	
	#globalMenu > ul:after {
		clear: both;
	}
	
	#globalMenu > ul {
		*zoom: 1;
	}
	/* -------- 以下スマホ-------- */
	
	@media (max-width: 768px) {
		/*-------------------------------------------------------*/
		/* スマホ用ナビゲーション
/*-------------------------------------------------------*/
		#globalMenu {
			display: none;
		}
		#menuOverlay {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			display: none;
			position: fixed;
			z-index: 97;
		}
		#switchBtnArea {
			width: 100%;
			height: 0;
			background: #3c3c3c;
			border-bottom: #aaa 1px solid;
			position: relative;
		}
		#switchBtnArea #switchBtn {
			top: 10px;
			left: 10px;
			width: 40px;
			height: 40px;
			background: transparent url(/files/nencho/img/blog/btnOpen.png) no-repeat center center;
			border-radius: 5px;
			position: absolute;
			z-index: 98;
		}
		#switchBtnArea #switchBtn.btnClose {
			background: transparent url(/files/nencho/img/blog/btnClose.png) no-repeat center center;
		}
		#rwdMenuWrap {
			top: 0;
			left: -200px;
			width: 200px;
			height: 100%;
			background: #3c3c3c;
			overflow: auto;
			position: fixed;
			z-index: 99;
		}
		#rwdMenuWrap ul {
			width: 100%;
		}
		#rwdMenuWrap ul li {
			width: 100%;
			border-bottom: #aaa 1px solid;
		}
		#rwdMenuWrap ul li a {
			padding: 15px 20px;
			text-align: left;
			background: #ebebeb url(/files/nencho/img/blog/linkarw.png) no-repeat right center;
			display: block;
			color: #083451;
		}
		/*-------------------------------------------------------*/
		/* ブログ共通
/*-------------------------------------------------------*/
		/*----SPのみ表示-----------------------------------------*/
		br.sp_only {
			display: block;
		}
		/*----header-----------------------------------------*/
		.nencho_blog header {
			height: 55px;
		}
		.nencho_blog header .inner_header {
			width: 100%;
		}
		.nencho_blog header .inner_header nav {
			display: none;
		}
		.nencho_blog header .inner_header p {
			float: none;
			margin: 0 auto;
			text-align: center;
		}
		.nencho_blog header .inner_header p img {
			width: 50%;
			height: auto;
		}
		/*----パンくず（.breadcrumbs）-----------------------------------------*/
		.nencho_blog .wrapper_breadCrumbsKiso, .nencho_blog .wrapper_breadCrumbsQa {
			margin: 0 auto 25px;
		}
		.nencho_blog .breadCrumbs {
			width: 100%;
			margin-left: 2%;
		}
		.nencho_blog .breadCrumbs li {
			width: 100%;
			font-size: 11px;
			float: none;
			text-align: center;
		}
		/*----コンテンツ-----------------------------------------*/
		#content {
			width: 100%;
			float: none;
			padding: 0 3%;
		}
		#qaAll #wrapper_inner #content, #kisoAll #wrapper_inner #content {
			min-height: auto;
		}
		#wrapper_inner {
			width: 100%;
		}
		.sp_only {
			display: none;
		}
		/*----footer-----------------------------------------*/
		.nencho_blog footer .inner_footer {
			width: 100%;
			margin: 0 auto;
		}
		.nencho_blog footer .inner_footer p.left {
			width: 96%;
			float: none;
			margin: 0 auto;
			text-align: center;
		}
		.nencho_blog footer .inner_footer p.left img {
			width: 70%;
		}
		.nencho_blog footer {
			/* height: 174px; */
			padding: 20px 0;
		}
		.nencho_blog footer .inner_footer .wrapper_ul {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
		.nencho_blog footer .inner_footer ul {
			margin: 1em auto;
			text-align: left;
			position: relative;
			position: relative;
			float: left;
			left: 0%;
			width: 100%;
		}
		.nencho_blog footer .inner_footer ul li {
			background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
			margin-bottom: 10px;
			font-size: 13px;
			position: relative;
			left: 25%;
		}
		.nencho_blog footer .inner_footer ul li a {
			margin-left: 15px;
			color: #fff;
			text-decoration: none;
		}
		.nencho_blog footer .inner_footer ul li a:hover {
			color: #93c83f;
		}
		.nencho_blog footer .inner_footer p.left {
			display: none;
		}
		/*----.copyright-----------------------------------------*/
		.nencho_blog .copyRight .inner_copyRight {
			width: 100%;
		}
		/*-------------------------------------------------------*/
		/* 記事共通（kiso, qa）
/*-------------------------------------------------------*/
		/*----見出し-----------------------------------------*/
		#kiso #wrapper_inner h1 {
			font-size: 7vw;
		}
		#kiso #wrapper_inner h3, #qa #wrapper_inner h3 {
			font-size: 5vw;
		}
		#qa #wrapper_inner h3 {
			font-size: 15px;
		}
		#kiso #wrapper_inner p, #qa #wrapper_inner p {
			font-size: 14px;
		}
		#kiso #wrapper_inner ul li, #qa #wrapper_inner ul li {
			font-size: 14px;
		}
		#kiso #wrapper_inner ol li, #qa #wrapper_inner ol li {
			font-size: 14px;
		}
		/*----.box_ofs-----------------------------------------*/
		.nencho_blog #wrapper_inner .box_ofs {
			margin-top: 25px;
		}
		.nencho_blog #wrapper_inner .box_ofs h2, #qa #wrapper_inner .box_ofs h2 {
			padding: 15px 5px !important;
			font-size: 16px !important;
		}
		/*----.share-----------------------------------------*/
		.share ul {
			display: table;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		.share li {
			display: table-cell;
			vertical-align: middle;
			width: 1%;
		}
		.share li a {
			display: block;
			padding: 0.8em 0px;
			color: #fff;
			font-size: 3.15vw !important;
		}
		/*----関連記事（.relatedArticles）-----------------------------------------*/
		#kiso #wrapper_inner .relatedArticles, #qa #wrapper_inner .relatedArticles {
			margin-bottom: 20px;
			padding: 15px;
		}
		#kiso #wrapper_inner .relatedArticles h2, #qa #wrapper_inner .relatedArticles h2 {
			font-size: 16px;
			margin: 1.2em 0;
		}
		#kiso #wrapper_inner .relatedArticles ul, #qa #wrapper_inner .relatedArticles ul {
			margin: 15px 0 0 0;
		}
		/*----他コンテンツへのリンク（.relatedArticles）-----------------------------------------*/
		#kisoAll #wrapper_inner .boxQa .inner_boxQa, #qaAll #wrapper_inner .boxKiso .inner_boxKiso {
			padding: 15px;
		}
		#kisoAll #wrapper_inner .boxQa, #qaAll #wrapper_inner .boxKiso {
			margin-bottom: 40px;
			width: 100%;
		}
		/*----サイドナビ（#sideNav）-----------------------------------------*/
		.nencho_blog #wrapper_inner #sideNav {
			width: 100%;
			float: none;
			padding: 0 2%;
		}
		.nencho_blog #wrapper_inner #sideNav ul.wpp-list, .nencho_blog #wrapper_inner #sideNav ul.qa {
			width: 100%;
		}
		#kiso #wrapper_inner #sideNav ul.kiso {
			margin-bottom: 17px;
		}
		#kiso #wrapper_inner #sideNav ul.qa {
			margin-bottom: 17px;
		}
		#kiso #wrapper_inner #sideNav ul.bnrArea, #qa #wrapper_inner #sideNav ul.bnrArea, #kisoAll #wrapper_inner #sideNav ul.bnrArea, #qaAll #wrapper_inner #sideNav ul.bnrArea, #search #wrapper_inner #sideNav ul.bnrArea {
			width: 100%;
			margin-bottom: 17px;
		}
		#kiso #wrapper_inner #sideNav ul.bnrArea li a, #qa #wrapper_inner #sideNav ul.bnrArea li a, #kisoAll #wrapper_inner #sideNav ul.bnrArea li a, #qaAll #wrapper_inner #sideNav ul.bnrArea li a, #search #wrapper_inner #sideNav ul.bnrArea li a {
			width: 100%;
		}
		#kiso #wrapper_inner #sideNav ul.bnrArea li img, #qa #wrapper_inner #sideNav ul.bnrArea li img, #kisoAll #wrapper_inner #sideNav ul.bnrArea li img, #qaAll #wrapper_inner #sideNav ul.bnrArea li img, #search #wrapper_inner #sideNav ul.bnrArea li img {
			width: 100%;
			height: auto;
		}
		.nencho_blog #wrapper_inner #sideNav .ttl_kiso, .nencho_blog #wrapper_inner #sideNav .ttl_qa {
			text-align: left;
			padding-left: 1em;
		}
		/*-------------------------------------------------------*/
		/* 基礎知識（kiso）
/*-------------------------------------------------------*/
		#kiso #wrapper_inner h3 {
			border-left: 5px solid #146091;
		}
		#kiso #wrapper_inner #wrapper_outline {
			margin: 15px 0 0;
			padding: 11px;
		}
		#kiso #wrapper_inner #wrapper_outline .ttl_outline {
			font-size: 16px;
		}
		#kiso #wrapper_inner #wrapper_outline ul {
			margin-left: 0;
		}
		#kiso #wrapper_inner #wrapper_outline ul li {
			font-size: 13px;
		}
		#kiso #wrapper_inner #wrapper_outline ul li::before {
			margin-left: -10px;
		}
		#kiso #wrapper_inner ol li {
			font-size: 14px;
		}
		#kiso #wrapper_inner h2 {
			padding: 10px;
			font-size: 18px;
		}
		#kiso #wrapper_inner .box_ofs h2 {
			padding: 15px 5px;
		}
		#kiso #wrapper_inner .box_ofs p {
			font-size: 14px;
		}
		#kiso #wrapper_inner .box_inner_ofs, #qa #wrapper_inner .box_inner_ofs {
			padding: 15px 15px 7px;
		}
		#kiso #wrapper_inner .box_ofs p.left {
			margin: 15px 0 7px;
		}
		#kiso #wrapper_inner .box_ofs p.right {
			margin: 15px 0 7px;
		}
		#kiso #wrapper_inner .box_ofs p.right button, #qa #wrapper_inner .box_ofs p.right button {
			width: 90%;
			font-size: 12px;
			background: #f5e616 url(/files/nencho/img/blog/arrow_navy.png) no-repeat 93% center;
			padding: 5px 0;
			background-size: 6%;
		}
		#kiso #wrapper_inner .box_ofs p.right button:hover, #qa #wrapper_inner .box_ofs p.right button:hover {
			width: 90%;
			font-size: 12px;
			background: #fbf16d url(/files/nencho/img/blog/arrow_navy.png) no-repeat 93% center;
			padding: 5px 0;
			background-size: 6%;
		}
		#kiso #wrapper_inner .relatedArticles ul.left, #qa #wrapper_inner .relatedArticles ul.left {
			width: 100%;
			float: none;
		}
		#kiso #wrapper_inner .relatedArticles ul.right, #qa #wrapper_inner .relatedArticles ul.right {
			width: 100%;
			float: none;
			margin-top: 0;
		}
		/*----記事監修（.supervision）-----------------------------------------*/
		.nencho_blog #wrapper_inner ul li {
			font-size: 14px;
		}
		.nencho_blog #wrapper_inner .supervision {
			font-size: 14px;
		}
		.nencho_blog #wrapper_inner .supervision::before {
			padding: 5px 17px;
			line-height: 1;
		}
		/*-------------------------------------------------------*/
		/* 基礎知識記事一覧（#kisoAll）
/*-------------------------------------------------------*/
		#kisoAll #wrapper_inner h1 {
			font-size: 16px;
			font-size: 7vw;
		}
		#kisoAll #wrapper_inner .boxQa h2, #kisoAll #wrapper_inner .boxKiso h2 {
			font-size: 16px !important;
			font-size: 6vw !important;
			padding-left: 1em;
			text-align: left;
		}
		#kisoAll #wrapper_inner ul li {
			background-size: 4%;
		}
		#kisoAll #wrapper_inner ul li a, #kisoAll #wrapper_inner ul li a:hover {
			font-size: 14px;
		}
		#kisoAll #wrapper_inner {
			width: 100%;
			margin-top: 15px;
		}
		#kisoAll #wrapper_inner ul.toc {
			overflow: hidden;
			padding-left: 0;
			width: 100%;
			margin: 30px 0 0;
			padding: 0;
			display: block;
		}
		#kisoAll #wrapper_inner ul.toc li {
			width: 100%;
			list-style-type: none;
			background: url(/files/nencho/img/blog/arrow_green2_s.png) no-repeat left 5px;
			margin-right: 0;
			margin-bottom: 2em;
			padding-left: 15px;
		}
		#kisoAll #wrapper_inner ul.toc li a, #kisoAll #wrapper_inner ul.toc li a:hover {
			font-size: 14px;
		}
		div#toc_container {
			background: #f9f9f9;
			border: 1px solid #aaaaaa;
		}
		#toc_container {
			width: 100%;
			max-width: inherit;
		}
		#toc_container {
			margin-top: 25px;
			margin-bottom: 35px;
			border-radius: 0;
			font-size: 16px;
			padding: 15px 0 20px;
			background-color: #f5f5f5;
			border: 8px solid #b4b4b4;
			width: 100%;
			max-width: 600px;
		}
		#toc_container .toc_title {
			font-size: 18px;
			color: #4A4A4A;
			text-align: center;
			margin-bottom: 10px;
		}
		#toc_container ul {
			counter-reset: number;
			list-style: none;
			margin-bottom: 0;
		}
		#toc_container ul li::before {
			counter-increment: number;
			content: counter(number);
			font-weight: 400;
			color: #2f84d4;
			padding-right: 12px;
			margin-left: -20px;
		}
		#toc_container ul li a {
			font-weight: 400;
			color: #2f84d4;
			text-decoration: none !important;
		}
		/*-------------------------------------------------------*/
		/* Q&A（qa）
/*-------------------------------------------------------*/
		#qa #wrapper_inner h1::before {
			font-size: 26px;
			font-weight: bold;
			line-height: 1.5;
			padding: 0 5px 5px 0;
		}
		#qa #wrapper_inner h2 {
			margin-top: 20px;
			padding-bottom: 0;
		}
		#qa #wrapper_inner h2::before {
			font-size: 26px;
			font-weight: bold;
			line-height: 1.5;
			padding: 0 5px 5px 0;
		}
		#qa #wrapper_inner h3 {
			margin-top: 20px;
			margin-left: 0;
		}
		#qa #wrapper_inner h4 {
			margin-left: 0;
		}
		#qa #wrapper_inner p {
			margin-left: 0;
		}
		#qa #wrapper_inner ul {
			margin-left: 0;
		}
		#qa #wrapper_inner ol {
			margin-left: 0;
		}
		/*-------------------------------------------------------*/
		/* Q&A一覧（qaAll）
/*-------------------------------------------------------*/
		#qaAll #wrapper_inner h1 {
			font-size: 16px;
		}
		#qaAll #wrapper_inner .boxKiso h2, #search #wrapper_inner .boxKiso h2 {
			font-size: 16px !important;
			padding-left: 1em;
			text-align: left;
		}
		#qaAll #wrapper_inner .boxKiso h2 span, #search #wrapper_inner .boxKiso h2 span {
			font-size: 12px;
		}
		#qaAll #wrapper_inner .inner ul li {
			font-size: 14px;
			padding: 7px 0 7px 30px;
		}
		#qaAll #wrapper_inner .inner ul li a {
			font-weight: bold;
		}
		#qaAll #wrapper_inner .inner ul li::before {
			font-size: 20px;
			top: 7px;
		}
		#qaAll .pagination ul li.prev span, #qaAll .pagination ul li.next span {
			display: none;
		}
		#qaAll .pagination ul li.prev, #qaAll .pagination ul li.next {
			width: 2em;
		}
		#qaAll .pagination ul a:nth-child(n+5) {
			display: none;
		}
		#qaAll .pagination ul a:last-child {
			display: inline-block;
		}
		#qaAll #searchBox, #qa #searchBox {
			width: 100%;
			margin-bottom: 16px;
		}
		#qaAll #searchBox #searchform input.screen-reader-text, #qa #searchBox #searchform input.screen-reader-text {
			width: 100%;
			font-size: 12px;
		}
		#qaAll #searchBox .searchsubmit, #qa #searchBox .searchsubmit {
			left: auto;
			right: 0;
		}
		/*-------------------------------------------------------*/
		/* 検索結果（#search）
/*-------------------------------------------------------*/
		#search #wrapper_inner h1 {
			font-size: 16px;
		}
		#search #wrapper_inner .boxKiso h2 {
			font-size: 16px !important;
		}
		#search #wrapper_inner .boxKiso h2 span {
			font-size: 12px;
		}
		#search #wrapper_inner .inner ul li {
			font-size: 14px;
			padding: 7px 0 7px 30px;
		}
		#search #wrapper_inner .inner ul li::before {
			font-size: 20px;
			top: 7px;
		}
		#search .pagination ul li.prev span, #search .pagination ul li.next span {
			display: none;
		}
		#search .pagination ul li.prev, #search .pagination ul li.next {
			width: 2em;
		}
		#search .pagination ul a:nth-child(n+5) {
			display: none;
		}
		#search .pagination ul a:last-child {
			display: inline-block;
		}
		#search #searchBox {
			width: 100%;
		}
		#search #searchBox #searchform input.screen-reader-text {
			width: 100%;
			font-size: 12px;
		}
		#search #searchBox .searchsubmit {
			left: auto;
			right: 0;
		}
		#fix_cta {
			display: none;
		}
	}
	/* -------- max-width: 300px-------- */
	
	@media (max-width: 300px) {
		.nencho_blog #wrapper_inner .box_ofs p.right a {
			font-size: 10px;
		}
	}
	/*2018/07/11　年末調整記事内CSS*/
	
	@media (max-width: 768px) {
		.nencho_blog #content .table_box {
			width: 100%;
		}
	}
	/* 20190108 maemura
---------------------------------*/
	
	p.s_list {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	
	a.footerLink {}
	
	a.footerLink:hover, a.footerLink:focus {
		color: #93c83f;
		text-decoration: none;
	}
	
	p.s_list a.footerLink {
		background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
		margin-bottom: 10px;
		font-size: 12px;
		color: #fff;
		margin: 0 20px 5px;
		padding: 0 20px;
		font-size: 14px;
		color: white;
		text-decoration: none;
	}
	/*打ち消し*/
	
	.nencho_blog footer {
		height: auto;
		padding: 20px 0;
	}

	/* 2019/07/03 footer別リンク  yoshie igawa
-------------------------------------------*/
	#blanklink_area {
	    display: block;
	    text-align: center;
        padding-bottom: 15px;
	}
	#blanklink_area li{
	    display: inline-block;
	    background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
	    margin-bottom: 5px;
	    font-size: 13px;
	    position: relative;
	}
	#blanklink_area li + li{
	    margin: 5px 0 0 0;
	}
	#blanklink_area a{
	    color: white;
	    text-decoration: none;
	    margin-right: 0;
	}
	.nencho_blog footer .inner_footer ul li,
	p.s_list a.footerLink,
	#blanklink_area li{
		font-size: 13px;
		background-size:7px auto;
		
	}


	/* 2019/08/28 ロゴ改修  yoshie igawa
	/*-----------------------------------------------------*/
	.nencho_blog header {
	    background: #fff;
	}
	.nencho_blog header .inner_header p img {
	    width: 62%;
	}
	.nencho_blog header .inner_header p img {
	    margin: 8px 0 0;
	}
