@charset "UTF-8";

/*-------------------------------------------------------*/


/* ブログ共通
/*-------------------------------------------------------*/

html, body, body * {
	font-weight: 400;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #083451;
	background-color: #fff;
}

.nencho_blog {
	font-size: 16px;
}

.nencho_blog header {
	background: #f5e616;
	height: 90px;
}

.nencho_blog header .inner_header {
	width: 1200px;
	margin: 0 auto;
}

.nencho_blog header .inner_header p {
	float: left;
	margin: 0;
	padding: 0;
}

.nencho_blog header .inner_header p img {
	margin: 15px 0 0;
}

.nencho_blog header .inner_header nav {
	float: right;
	margin: 0;
	padding: 0;
}

.nencho_blog header .inner_header nav ul {
	overflow: hidden;
	margin: 35px 0 0;
	padding: 0;
}

.nencho_blog header .inner_header nav ul li {
	float: left;
	padding: 0 35px;
	background: url(/files/nencho/img/blog/border_NW.png) no-repeat right center;
}

.nencho_blog header .inner_header nav ul li:last-child {
	background-image: none;
}

.nencho_blog header .inner_header nav ul li a {
	color: #083451;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.nencho_blog header .inner_header nav ul li a:hover, .nencho_blog header .inner_header nav ul li a.active {
	color: #146091;
}

.nencho_blog h1, .nencho_blog h2, .nencho_blog h3, .nencho_blog h4, .nencho_blog p, .nencho_blog ol li, .nencho_blog ul li {
	color: #083451;
}

.nencho_blog #wrapper_inner ol li {
	font-weight: 600;
	margin-bottom: .8em;
}

.nencho_blog #wrapper_inner ol li ul {
	margin-top: .8em;
}

.nencho_blog #wrapper_inner ol li ul li {
	font-weight: 400;
	line-height: 1.5;
}

.nencho_blog #wrapper_inner ol li.std {
	font-weight: 400;
}

.nencho_blog #wrapper_inner ul li.bld {
	font-weight: 600;
}

.nencho_blog #wrapper_inner h1 {
	padding-top: 0;
	color: #146091;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
}

.nencho_blog #wrapper_inner h2 {
	margin: 3em 0 2em;
	padding: 15px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.2;
	background: #d8e7f3;
}

.nencho_blog #wrapper_inner h3 {
	margin: 3em 0 2em;
	padding-left: 15px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.6;
	border-left: 10px solid #146091;
}

.nencho_blog #wrapper_inner h4 {
	margin: 3em 0 2em;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
}

.nencho_blog #wrapper_inner h2 span, .nencho_blog #wrapper_inner h3 span, .nencho_blog #wrapper_inner h4 span {
	font-weight: 600;
}

.nencho_blog #wrapper_inner p {
	margin: 0 0 2em;
	line-height: 1.9;
}

.nencho_blog #wrapper_inner ul {
	margin: 0 0 10px;
	padding-left: 20px;
	line-height: 1.9;
	overflow: hidden;
}

.nencho_blog #wrapper_inner ul li {
	margin-bottom: .8em;
	padding-left: 5px;
	list-style-type: disc;
}

.nencho_blog #wrapper_inner b {
	font-weight: bold;
}

#globalMenu {
	display: none;
}


/*----色-----------------------------------------*/

.nencho_blog #wrapper_inner .red {
	color: #f00;
}


/*----リンク-----------------------------------------*/

.nencho_blog a {
	color: #2f84d4;
	text-decoration: underline;
}

.nencho_blog #wrapper_inner a:hover {
	text-decoration: none;
}

.nencho_blog a.blank[href^="http"] {
	background: url(../img/ico_window.png) no-repeat right center;
	padding-right: 18px;
	margin-right: 5px;
}

.nencho_blog a:hover img {
	opacity: 0.7;
}


/*----PCで非表示-----------------------------------------*/

input::-moz-placeholder {
	color: #cdcdd2;
}


/*----PCで非表示-----------------------------------------*/

br.sp_only {
	display: none;
}


/*----パンくず（.breadcrumbs）-----------------------------------------*/

.nencho_blog .wrapper_breadCrumbsKiso {
	width: 100%;
	margin: 0 auto 50px;
	padding: 6px 0;
	background: #cce4f3;
	clear: both;
}

.nencho_blog .wrapper_breadCrumbsQa {
	width: 100%;
	margin: 0 auto 50px;
	padding: 6px 0;
	background: #dceec0;
	clear: both;
}

.nencho_blog .breadCrumbs {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.nencho_blog .breadCrumbs li {
	width: 1200px;
	text-align: left;
	font-size: 13px;
	display: inline;
}

.nencho_blog .breadCrumbs li a {
	text-decoration: none;
}

.nencho_blog .breadCrumbs li a:hover {
	color: #93c83f;
}


/*----footer-----------------------------------------*/

.nencho_blog footer {
	width: 100%;
	height: 260px;
	margin: 0 auto;
	padding: 50px 0;
	background: #1e3953;
	clear: both;
}

.nencho_blog footer .inner_footer {
	width: 1200px;
	margin: 0 auto;
}

.nencho_blog footer .inner_footer p.left {
	width: 50%;
	float: left;
}

.nencho_blog footer .inner_footer ul {
	width: 50%;
	float: right;
	overflow: hidden;
}

.nencho_blog footer .inner_footer ul li {
	background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
	margin-bottom: 10px;
}

.nencho_blog footer .inner_footer ul li a {
	margin-left: 15px;
	color: #fff;
	text-decoration: none;
}

.nencho_blog footer .inner_footer ul li a:hover {
	color: #93c83f;
}

.nencho_blog footer .inner_footer p.left .pc_only {
	display: inline;
}

.nencho_blog footer .inner_footer p.left .sp_only {
	display: none;
}


/*----.copyRight-----------------------------------------*/

.nencho_blog .copyRight {
	width: 100%;
	margin: 0 auto;
	background: #1e354a;
}

.nencho_blog .copyRight .inner_copyRight {
	width: 1200px;
	margin: 0 auto;
}

.nencho_blog .copyRight .inner_copyRight p {
	color: #496a8a;
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
}


/*----ページトップに戻る-----------------------------------------*/

.ui-to-top, .ui-to-top:active, .ui-to-top:focus {
	color: #fff;
	background: #93c83f;
	width: 70px;
	height: 70px;
	text-decoration: none;
}

.ui-to-top:hover {
	color: #fff;
	background: #b1dc6d;
	width: 70px;
	height: 70px;
	text-decoration: none;
}

.ui-to-top {
	font-size: 30px;
	line-height: 60px;
	text-align: center;
}


/*-------------------------------------------------------*/


/* 記事共通（#kiso #kisoAll #qa #qaAll）
/*-------------------------------------------------------*/


/*----.box_ofs-----------------------------------------*/

.nencho_blog #wrapper_inner .box_ofs {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 80px;
}

.nencho_blog #wrapper_inner .box_inner_ofs {
	width: 100%;
	margin-top: 0;
	padding: 30px 30px 15px;
	border: 1px solid #f5e616;
	overflow: hidden;
}

.nencho_blog #wrapper_inner .box_ofs h2 {
	color: #146091 !important;
	font-size: 20px !important;
	font-weight: bold;
	text-align: center !important;
	background: #f5e616 !important;
	margin: 0 !important;
	padding: 30px 0 !important;
}

.nencho_blog #wrapper_inner .box_ofs h2::before {
	display: none !important;
}

.nencho_blog #wrapper_inner .box_ofs p {
	color: #146091;
	font-size: 18px;
	margin: 0 !important;
	padding: 0 !important;
}

.nencho_blog #wrapper_inner .box_ofs p.left {
	width: 50%;
	float: left;
	margin: 30px 0 15px;
}

.nencho_blog #wrapper_inner .box_ofs p.left img {
	margin: 20px 0;
}

.nencho_blog #wrapper_inner .box_ofs p.right {
	width: 50%;
	float: right;
	text-align: center;
	margin: 30px 0 15px;
}

.nencho_blog #wrapper_inner .box_ofs p.right a {
	width: 80%;
	color: #146091;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 50px;
	background: #f5e616 url(/files/nencho/img/blog/arrow_navy.png) no-repeat 85% center;
	margin: 20px 0 !important;
	padding: 10px 0;
	border: 1px solid #f5e616;
	-webkit-appearance: none;
}

.nencho_blog #wrapper_inner .box_ofs p.right a:hover {
	color: #146091;
	font-weight: 600;
	text-decoration: none;
	background: #fbf16d url(/files/nencho/img/blog/arrow_navy.png) no-repeat 85% center;
}


/*----shareボタン-----------------------------------------*/

#kiso #wrapper_inner .share, #qa #wrapper_inner .share {
	margin: 30px 0;
	clear: both;
}

#kiso #wrapper_inner .share ul, #qa #wrapper_inner .share ul {
	display: table;
	width: 100%;
	margin: 0;
	padding: 0;
}

#kiso #wrapper_inner .share a, #qa #wrapper_inner .share a {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	padding: 0.8em 0;
}

#kiso .share a, #qa .share a {
	padding: 5px 20px;
	display: inline-block;
	line-height: 20px;
	font-size: .8em;
	font-weight: bold;
	color: #fff !important;
	text-decoration: none !important;
	min-width: 95px;
	text-align: center;
}

#kiso .btn__twitter, #qa .btn__twitter {
	background-color: #55acee;
}

#kiso .btn__facebook, #qa .btn__facebook {
	background-color: #315096;
}

#kiso .share-gp, #qa .share-gp {
	background-color: #dd4b39;
}

#kiso .btn__hatebu, #qa .btn__hatebu {
	background-color: #008fde;
}

#kiso .btn__pocket, #qa .btn__pocket {
	background-color: #ee4056;
}


/*----.supervision（記事監修）-----------------------------------------*/

.nencho_blog #wrapper_inner .supervision {
	margin: 2.4em 0 1.2em;
	padding: 0;
	border: 1px solid #ccc;
	font-size: 1em;
	clear: both;
}

.nencho_blog #wrapper_inner .supervision ul {
	margin-bottom: 0;
	padding: 15px;
	overflow: hidden;
}

.nencho_blog #wrapper_inner .supervision ul li {
	margin-bottom: 0;
	float: left;
	list-style-type: none;
}

.nencho_blog #wrapper_inner .supervision ul li.ttl {
	font-weight: 600;
	margin-right: 1em;
}

.kanshu {
	margin: 2.4em 0 1.2em;
	padding: 15px;
	border: 1px solid #ccc;
	font-size: 1em;
	clear: both;
}

.kanshu::before {
	content: '記事監修';
	font-weight: bold;
	margin-right: 1em;
}


/*----関連記事-----------------------------------------*/

#kiso #wrapper_inner .relatedArticles {
	margin-bottom: 80px;
	padding: 30px 30px 0;
	background: #f2f8fc;
	overflow: hidden;
}

#qa #wrapper_inner .relatedArticles {
	margin-bottom: 80px;
	padding: 30px;
	background: #f6fbef;
	overflow: hidden;
}

#kiso #wrapper_inner .relatedArticles h2, #qa #wrapper_inner .relatedArticles h2 {
	font-size: 22px;
	font-weight: 600;
	background: none;
	margin: .5em 0 .5em;
	padding: 0;
}

#qa #wrapper_inner .relatedArticles h2::before {
	display: none;
}

#kiso #wrapper_inner .relatedArticles ul, #qa #wrapper_inner .relatedArticles ul {
	width: 100%;
	float: left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#kiso #wrapper_inner .relatedArticles ul li, #qa #wrapper_inner .relatedArticles ul li {
	width: 48%;
	list-style-type: none;
	background: url(/files/nencho/img/blog/arrow_navy_s.png) no-repeat left 8px;
	margin-right: 4%;
	margin-bottom: 25px;
}

#kiso #wrapper_inner .relatedArticles ul li:nth-child(even), #qa #wrapper_inner .relatedArticles ul li:nth-child(even) {
	margin-right: 0;
}

#kiso #wrapper_inner .relatedArticles ul, #qa #wrapper_inner .relatedArticles ul {
	margin: 15px 0 15px 0;
	padding-left: 0;
	line-height: 1.9;
	overflow: hidden;
}

#kiso #wrapper_inner .relatedArticles ul li, #qa #wrapper_inner .relatedArticles ul li {
	padding-left: 15px;
}


/*----#sideNav-----------------------------------------*/

.nencho_blog #wrapper_inner #sideNav {
	width: 300px;
	float: right;
}

#qaAll #sideNav #searchBox #textSearch input#testSearchInput {
	border-radius: 20px;
	line-height: 36px;
	font-size: 14px;
	margin-top: 0;
}

#qaAll #sideNav #searchBox #textSearch input[type="submit"] {
	background-size: 40%;
	right: -4px;
	top: 31px;
}

.nencho_blog #wrapper_inner #sideNav ul {
	margin: 0;
	padding: 0;
	width: 300px;
	line-height: 1.9;
	overflow: hidden;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list, .nencho_blog #wrapper_inner #sideNav ul.qa {
	width: 300px;
	line-height: 1.9;
}


/*----親カテゴリ----*/

.nencho_blog #wrapper_inner #sideNav ul li, .nencho_blog #wrapper_inner #sideNav ul li {
	margin-bottom: 0;
	padding-left: 0;
	font-size: 15px;
	text-align: left;
	/* background: url(../images/ico_arrow_navy.png) no-repeat 25px center; */
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}

.nencho_blog #wrapper_inner #sideNav ul.bnrArea li {
	border: none;
}

.nencho_blog #wrapper_inner #sideNav ul li {
	position: relative;
}

.nencho_blog #wrapper_inner #sideNav ul li a:before {
	font-size: 30px;
	fonot-weight: 600;
	position: absolute;
	top: 0;
	left: 0;
}

.nencho_blog #wrapper_inner #sideNav ul li a:hover {
	padding: 7px 0 7px 35px;
	text-decoration: none;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list li a:hover {
	background: #eff6fb;
}


/* .nencho_blog #wrapper_inner #sideNav ul.qa li a:hover {
	background: #f4fce8;
} */


/*----子カテゴリ, 孫カテゴリ----*/

.nencho_blog #wrapper_inner #sideNav ul.qa li ul li {
	border-top: 1px solid #eee;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

.nencho_blog #wrapper_inner #sideNav .ttl_kiso, .nencho_blog #wrapper_inner #sideNav .ttl_qa {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
	margin: 0;
	padding: 17px 0 11px;
	background-image: none;
	background-color: #146091;
	list-style-type: none;
}

.nencho_blog #wrapper_inner #sideNav .ttl_kiso {
	background-color: #146091;
	border-bottom: 3px solid #0c4d77;
	line-height: 1.9;
}

.nencho_blog #wrapper_inner #sideNav .ttl_qa {
	background-color: #64a301;
	border-bottom: 3px solid #558509;
	line-height: 1.9;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list {
	counter-reset: ranking;
	list-style: none;
	margin-bottom: 35px;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list li::before {
	counter-increment: ranking;
	content: counters(ranking, ".") ".　";
	font-weight: bold;
	font-style: italic;
	color: #083451;
	padding-right: 12px;
	font-size: 30px;
	position: absolute;
	top: 20%;
	left: 10px;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list li {
	position: relative;
	font-size: 14px;
}

.nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list li a, .nencho_blog #wrapper_inner #sideNav .widget.popular-posts ul.wpp-list li a:hover {
	color: #083451;
	padding: 12px 12px 12px 50px;
	text-decoration: none;
	display: block;
}

.nencho_blog #wrapper_inner #sideNav ul.qa {
	margin-bottom: 15px;
}

.nencho_blog #wrapper_inner #sideNav ul.qa li {
	position: relative;
	font-size: 14px;
}

.nencho_blog #wrapper_inner #sideNav ul.qa li a {
	color: #083451;
	padding: 12px 12px 12px 45px;
	text-decoration: none;
	display: block;
}

.nencho_blog #wrapper_inner #sideNav ul.qa li a:before {
	content: "＞";
	font-size: 10px;
	font-weight: bold;
	color: #2E729E;
	top: 15px;
	left: 20px;
}

.nencho_blog #wrapper_inner #sideNav .qa.two li a:hover {
	background: #eff6fb;
}

.nencho_blog #wrapper_inner #sideNav ul.bnrArea li a, .nencho_blog #wrapper_inner #sideNav ul.bnrArea li a:hover {
	border: none;
	margin: 0;
	margin: 0;
	padding: 0;
}

.nencho_blog #wrapper_inner #sideNav ul.bnrArea li img {
	width: 100%;
	margin: 0 0 50px;
}

.nencho_blog #wrapper_inner #sideNav {
	width: 300px;
	float: right;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.one > li {
	width: 100%;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.one > li > a {
	background-color: #64a301;
	border-bottom: 3px solid #558509;
	line-height: 1.9;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 17px 0 11px 10px;
	background-image: none;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.one > li > a:before {
	content: url('/files/nencho/images/w_arrow.png');
	background-color: #548603;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	top: 22px;
	padding: 1px 0 0 3px;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.two > li > a {
	background-color: #146091;
	border-bottom: 3px solid #083451;
	line-height: 1.9;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 17px 0 11px 10px;
	background-image: none;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.two > li > a:hover {
	background-color: #146091;
}

.nencho_blog #wrapper_inner #sideNav ul.qa.two > li > a:before {
	content: url('/files/nencho/images/w_arrow.png');
	background-color: #0e334d;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	top: 22px;
	padding: 1px 0 0 3px;
}


/*----ページ送り（.pagination）-----------------------------------------*/

#qaAll #pagenation, #search #pagenation {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#qaAll #pagenation ul.page-numbers, #search #pagenation ul.page-numbers {
	display: inline-block;
	margin: 0 auto;
}

#qaAll #pagenation ul.page-numbers li, #search #pagenation ul.page-numbers li {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	margin-bottom: 0;
	padding: 0;
	background: #fff;
	list-style-type: none;
	border: 1px solid #083451;
	text-align: center;
}

#qaAll #pagenation ul.page-numbers li:before, #search #pagenation ul.page-numbers li:before {
	content: none !important;
}

#qaAll #pagenation ul.page-numbers li a, #search #pagenation ul.page-numbers li a {
	text-decoration: none;
	display: block;
	padding: 3px 0 0;
}

#qaAll #pagenation ul.page-numbers li a:hover, #search #pagenation ul.page-numbers li a:hover {
	background: #083451;
	color: #fff;
}

#qaAll #pagenation ul.page-numbers li a.page-numbers, #search #pagenation ul.page-numbers li a.page-numbers {
	display: block;
	padding: 4px 0;
	height: 100%;
	color: #083451;
	text-decoration: none;
}

#qaAll #pagenation ul.page-numbers li a.page-numbers:hover, #search #pagenation ul.page-numbers li a.page-numbers:hover {
	display: block;
	padding: 4px 0;
	height: 100%;
	color: #fff;
	text-decoration: none;
}

#qaAll #pagenation ul li span.current, #search #pagenation ul li span.current {
	background: #083451;
	color: #fff;
	display: block;
	padding: 4px 0;
}


/*-------------------------------------------------------*/


/* 記事（#kiso）
/*-------------------------------------------------------*/

#kiso {
	width: 100%;
	margin: 0 auto 0;
	color: #083451;
	overflow: hidden;
}


/* #wrapper_inner */

#wrapper_inner {
	width: 1200px;
	margin: 0 auto;
}


/* #content */

#content {
	width: 850px;
	float: left;
}

#kiso #wrapper_inner p.date {
	margin: 5px 0 15px;
	font-size: 14px;
	text-align: right;
}

#kiso #wrapper_inner .tag {
	width: 9em;
	text-align: center;
	font-size: 0.8em;
	display: inline-block;
	margin-right: 1em;
	padding: 1px 5px 2px;
	border: 1px solid #5d6991;
	line-height: 100%;
	color: #5d6991;
}

#kiso #wrapper_inner #toc_container {
	margin: 30px 0 0;
	padding: 22px;
	border: 1px solid #b3defc;
	width: 100%;
}

#kiso #wrapper_inner #toc_container .toc_title {
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
}

#kiso #wrapper_inner #toc_container ul {
	counter-reset: number;
	list-style: none;
	margin-top: .8em;
	margin-bottom: 0;
}

#kiso #wrapper_inner #toc_container ul li {
	font-size: 16px;
	list-style-type: none;
}

#kiso #wrapper_inner #toc_container ul li a {
	font-weight: bold;
}

#kiso #wrapper_inner #toc_container ul li, #wrapper_outline ul ul li {
	line-height: 1.5em;
	margin-bottom: .8em;
}

#kiso #wrapper_inner #toc_container ul li:last-child, #wrapper_outline ul ul li:last-child {
	margin-bottom: 0;
}

#kiso #wrapper_inner #toc_container ul li::before {
	counter-increment: number;
	content: counters(number, ".") ".　";
	font-weight: bold;
	color: #083451;
	margin-left: -20px;
}

#kiso #wrapper_inner ol {
	list-style-type: decimal;
	margin: 0 0 1.2em 1.5em;
	color: #083451;
	font-weight: bold;
}


/*----見出し-----------------------------------------*/

.nencho_blog #wrapper_inner img {
	margin: 20px 0 20px;
}

#kiso #wrapper_inner .infoArea {
	margin: 30px 0;
	padding: 30px;
	background: #eee;
}

#kiso #wrapper_inner .infoArea p {
	margin-top: 0;
}


/*-------------------------------------------------------*/


/* 基礎知識記事一覧（#kisoAll）
/*-------------------------------------------------------*/

#kisoAll {
	width: 100%;
	margin: 0 auto 0;
	color: #083451;
	overflow: hidden;
}

#kisoAll #wrapper_inner {
	padding-top
}

#kisoAll #wrapper_inner h1 {
	font-size: 40px;
}

#kisoAll #wrapper_inner ul.toc {
	overflow: hidden;
	padding-left: 0;
	width: 100%;
	margin: 30px 0 0;
	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#kisoAll #wrapper_inner ul.toc li {
	width: 48%;
	list-style-type: none;
	background: url(/files/nencho/img/blog/arrow_green2.png) no-repeat left 5px;
	margin-right: 4%;
	margin-bottom: 2.4em;
	padding-left: 18px;
}

#kisoAll #wrapper_inner ul.toc li:nth-child(2n) {
	margin-right: 0;
}

#kisoAll #wrapper_inner ul.toc li a {
	font-size: 18px;
	font-weight: 400;
}

#kisoAll #wrapper_inner ul.toc li a:hover {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}


/*----Q&Aへのリンク（.boxQa）-----------------------------------------*/

#kisoAll #wrapper_inner .boxQa {
	clear: both;
	margin-bottom: 80px;
	width: 100%;
}

#kisoAll #wrapper_inner .boxQa h2 {
	margin-bottom: 0;
	padding: 16px 0 16px 7em;
	background: #64a301;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	border-bottom: 3px solid #558509;
}

#kisoAll #wrapper_inner .boxQa h2 span {
	font-size: 14px;
	background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
	float: right;
	margin-right: 1em;
	padding-right: 1em;
}

#kisoAll #wrapper_inner .boxQa h2 span a {
	color: #fff;
	text-decoration: none;
}

#kisoAll #wrapper_inner .boxQa h2 span a:hover {
	text-decoration: underline;
}

#kisoAll #wrapper_inner .boxQa .inner_boxQa {
	background: #f6fbef;
	margin-top: 0;
	padding: 30px;
}

#kisoAll #wrapper_inner .boxQa .inner_boxQa ul {
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}

#kisoAll #wrapper_inner .boxQa .inner_boxQa ul li {
	list-style-type: none;
	background: url(/files/nencho/img/blog/arrow_green2_s.png) no-repeat left center;
	margin-bottom: 1.2em;
	padding-left: 15px;
}


/*----基礎知識へのリンク（.boxQa）-----------------------------------------*/

#qaAll #wrapper_inner .boxKiso, #search #wrapper_inner .boxKiso {
	clear: both;
	margin-bottom: 80px;
}

#qaAll #wrapper_inner .boxKiso h2, #search #wrapper_inner .boxKiso h2 {
	margin-bottom: 0;
	padding: 16px 0 16px 7em;
	background: #146091;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	border-bottom: 3px solid #0c4d77;
}

#qaAll #wrapper_inner .boxKiso h2 span, #search #wrapper_inner .boxKiso h2 span {
	font-size: 14px;
	background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
	float: right;
	margin-right: 1em;
	padding-right: 1em;
	vertical-align: middle;
}

#qaAll #wrapper_inner .boxKiso h2 span a, #search #wrapper_inner .boxKiso h2 span a {
	color: #fff;
	text-decoration: none;
}

#qaAll #wrapper_inner .boxKiso h2 span a:hover, #search #wrapper_inner .boxKiso h2 span a:hover {
	text-decoration: underline;
}

#qaAll #wrapper_inner .boxKiso .inner_boxKiso, #search #wrapper_inner .boxKiso .inner_boxKiso {
	background: #f2f8fc;
	margin-top: 0;
	padding: 30px;
}

#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul, #search #wrapper_inner .boxKiso .inner_boxKiso ul {
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}

#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul li, #search #wrapper_inner .boxKiso .inner_boxKiso ul li {
	list-style-type: none;
	background: url(/files/nencho/img/blog/arrow_navy_s.png) no-repeat left 8px;
	margin-bottom: 1.2em;
	padding-left: 15px;
}


/*-------------------------------------------------------*/


/* Q&A（#qa）
/*-------------------------------------------------------*/

#qa {
	width: 100%;
	margin: 0 auto 0;
	color: #083451;
	overflow: hidden;
}

#qa #wrapper_inner h1 {
	margin: 0;
	padding-top: 0;
	color: #146091;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	position: relative;
}

#qa #wrapper_inner .hc_single_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	margin-top: 0;
}

#qa #wrapper_inner .hc_single_header p {
	margin-bottom: 15px;
}

#qa #wrapper_inner p.cat span {
	margin-right: 5px;
}

#qa #wrapper_inner p.cat span.term_hc_admin, #qa #wrapper_inner p.cat span.term_hc_employee {
	display: none;
}

#qa #wrapper_inner p.cat a {
	color: #FFF;
	font-weight: bold;
	padding: 3px 6px;
	font-size: 11px;
	background-color: #93C83F;
	text-decoration: none;
}

#qa #wrapper_inner p.time {
	font-size: 14px;
	padding: 3px 0;
}

#qa #wrapper_inner p.time time {
	font-size: 14px;
}

#qa #wrapper_inner p.cat.jugyoin a {
	background-color: #64a301;
}

#qa #wrapper_inner p.cat.kanri a {
	background-color: #146091;
}

#qa #wrapper_inner .hc_single_post .flexbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#qa #wrapper_inner .hc_single_post .flexbox .imgbox {
	margin: 0 30px 0 0;
	/* padding: 10px; */
	width: 330px;
	/* border: 1px solid #ccc; */
}

#qa #wrapper_inner .hc_single_post .flexbox .blank {
	margin: 0 30px 0 0;
	/* padding: 10px; */
	width: 330px;
}

#qa #wrapper_inner .hc_single_post .flexbox img {
	margin: 0;
	display: block;
	border: 1px solid #eee;
	/* padding: 10px; */
}

@media (max-width: 768px) {
	#qa #wrapper_inner .hc_single_post .flexbox img {
		width: 75%;
		margin: 0 auto 30px;
	}
}

#qa #wrapper_inner .hc_single_post .flexbox .textbox {
	width: calc(100% - 360px)
}

#qa #wrapper_inner .hc_single_post .flexbox .textbox p:last-child {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	#qa #wrapper_inner .hc_single_post .flexbox .imgbox {
		width: 100%;
		margin: 0;
	}
	#qa #wrapper_inner .hc_single_post .flexbox .blank {
		display: none;
	}
	#qa #wrapper_inner .hc_single_post .flexbox .textbox {
		width: 100%;
	}
}

#qa #wrapper_inner .hc_single_post .bar {
	height: 1px;
	background-color: #eee;
	width: 100%;
	margin: 50px 0;
}

@media (max-width: 768px) {
	#qa #wrapper_inner .hc_single_post .bar {
		margin: 30px 0;
	}
}

#wrapper_inner .bottom_rtbtn {
	color: #1e3953;
	font-weight: bold;
	font-size: 18px;
	background-color: #f5e616;
	width: 50%;
	margin: 50px auto;
	text-align: center;
	display: block;
	text-decoration: none;
	line-height: 60px;
}

#wrapper_inner .bottom_rtbtn:before {
	content: url('/files/nencho/images/bottom_rtbtn_arrow.png');
	vertical-align: sub;
	margin-right: 15px;
}

#qa #wrapper_inner .hc_single_post table {
	margin-bottom: 30px;
}

#qa #wrapper_inner .hc_single_post table th {
	background-color: #F2F2F2;
	color: #00030A;
}

@media (max-width: 768px) {
	#wrapper_inner .bottom_rtbtn {
		width: 100%;
	}
	#qa #wrapper_inner .hc_single_post table {
		width: 100%;
	}
	/* #qa #wrapper_inner .hc_single_post .table td:first-child {
	background-color: #CCC;
} */
}


/* #qa #wrapper_inner h1::before {
	color: #93c83f;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	content: 'Q';
	display: block;
	position: absolute;
	top: 0;
	left: -40px;
} */

#qa #wrapper_inner h2 {
	padding: 10px;
	color: #333;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.6;
	background-color: #DCE7EF;
	border-left: 10px solid #146091;
	margin: 30px 0 20px;
}


/* #qa #wrapper_inner h2::before {
	color: #146091;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	content: 'A';
	display: block;
	position: absolute;
	top: 0;
	left: -40px;
} */

#qa #wrapper_inner h3 {
	color: #333;
	font-weight: bold;
	margin: 30px 0;
	padding: 0;
	border-left: transparent;
	font-size: 18px;
}


/* #qa #wrapper_inner h3::before {
	color: #083451;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	content: '●';
	position: absolute;
	top: -.3em;
	left: -5px;
} */

#qa #wrapper_inner h4 {
	margin: 3em 0 2em 50px;
	margin-left: 50px;
	margin-left: 2.4em 0 2em 50px;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.6;
}

#qa #wrapper_inner p {
	margin: 0 0 2em 0;
	line-height: 1.9;
}

#qa #wrapper_inner ol {
	margin: 0 0 1.2em 0.5em;
	counter-reset: number;
	list-style: none;
	overflow: hidden;
}

#qa #wrapper_inner ol li {
	color: #083451;
	margin: 0;
	padding-left: 2em;
	text-indent: -2em;
	font-size: 16px;
	list-style-type: none;
	font-weight: normal;
	line-height: 1.8;
	margin-bottom: .8em;
}

#qa #wrapper_inner ol li a {
	padding-left: 0;
	text-indent: 0;
}

#qa #wrapper_inner ol li:last-child {
	margin-bottom: 0;
}

#qa #wrapper_inner ol li::before {
	counter-increment: number;
	content: counters(number, ".") ".　";
	font-weight: bold;
	color: #083451;
}

#qa #wrapper_inner ol li.std::before {
	font-weight: normal;
}

#qa #wrapper_inner ul li {
	list-style: disc !important;
	color: #083451;
	margin: 0;
	/* padding-left: 2em; */
	/* text-indent: -2em; */
	font-size: 16px;
	list-style-type: none;
	font-weight: normal;
	line-height: 1.8;
	margin-bottom: .8em;
}

#qa #wrapper_inner ul li:last-child {
	margin-bottom: 0;
}

#qa #wrapper_inner ul {
	margin: 1.2em 0 1.2em 0.5em;
	padding-left: 20px;
	line-height: 1.9;
	overflow: hidden;
}

#qa #wrapper_inner b {
	font-weight: bold;
}

#qa #wrapper_inner .relatedArticles h2 {
	color: #083451;
}

#qa #wrapper_inner .relatedArticles h2::before {
	display: none;
}


/*-------------------------------------------------------*/


/* Q&A一覧（#qaAll）
/*-------------------------------------------------------*/

#qaAll {
	width: 100%;
	margin: 0 auto 0;
	color: #083451;
	overflow: hidden;
}

#qaAll #wrapper_inner #content, #kisoAll #wrapper_inner #content {
	min-height: 1200px;
}

#qaAll .hero_sec h1 {
	font-size: 40px;
	color: #146091;
	font-weight: bold;
}

#qaAll .hero_sec h1.hc_h1 {
	font-size: 45px;
	color: #146091;
	text-align: center;
	margin-top: 0;
	line-height: 1.3;
}

#qaAll .hero_sec h1.hc_h1 small {
	font-size: 36px;
	color: #146091;
	font-weight: bold;
}

#qaAll .hero_sec {
	background-image: url('/files/nencho/images/hero_bk.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width: 767px) {
	#qaAll .hero_sec {
		background-position: right 40px top -20px;
		/* background-position: left; */
	}
}

#qaAll .hero_sec .hero_innerbox {
	width: 615px;
	margin: 0 auto;
	padding: 55px 0 0;
}

@media (max-width: 768px) {
	#qaAll .hero_sec .hero_innerbox {
		width: 100%;
		margin: 30px auto;
		padding: 0 8px;
	}
	#qaAll .hero_sec h1.hc_h1 {
		font-size: 22px;
		color: #146091;
		margin: 15px 0 16px;
	}
	#qaAll .hero_sec h1.hc_h1 small {
		font-size: 18px;
	}
}

#qaAll .hero_sec .keyword_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#qaAll .hero_sec .keyword_box p {
	width: 140px;
	font-size: 14px;
	margin: 0 0 2em;
	line-height: 1.9;
}

#qaAll .hero_sec .keyword_box ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: calc(100% - 140px);
	padding: 0;
}

@media (max-width: 768px) {
	#qaAll .hero_sec .keyword_box {
		display: block;
	}
	#qaAll .hero_sec .keyword_box p {
		width: 100%;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		margin: 0 0 2em;
		line-height: 1.9;
	}
	#qaAll .hero_sec .keyword_box ul {
		width: 100%;
		margin-bottom: 20px;
	}
}

#qaAll .hero_sec .keyword_box ul li {
	list-style: none;
	width: 25%;
	padding: 0;
}

#qaAll .hero_sec .keyword_box ul li a {
	display: block;
	padding: 0 5px;
	border-right: 1px solid #b3b3b3;
	text-align: center;
	font-size: 14px;
}

@media (max-width: 768px) {
	#qaAll .hero_sec .keyword_box ul li a {
		line-height: 1.3;
	}
}

#qaAll .hero_sec .keyword_box ul li:last-child a {
	border-right: transparent;
}

#qaAll .hero_sec .sec_btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 60px;
	padding-top: 5px;
}

@media (max-width: 768px) {
	#qaAll .hero_sec .sec_btn {
		padding-bottom: 10px;
	}
}

#qaAll .hero_sec .sec_btn li {
	width: 165px;
	height: 155px;
	border: 2px solid #d8e8bf;
	background-color: #FFF;
	border-radius: 15px;
	box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.35);
	padding: 0;
	list-style: none;
	margin: 0 10px;
}

#qaAll .hero_sec .sec_btn li:hover {
	box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.35);
}

#qaAll .hero_sec .sec_btn li:last-child {
	border: 2px solid #c4d7e3;
}

#qaAll .hero_sec .sec_btn li a {
	text-align: center;
	color: #558509;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 12px;
}

@media (max-width: 768px) {
	#qaAll .hero_sec .sec_btn li a {
		font-size: 14px;
	}
}

#qaAll .hero_sec .sec_btn li:last-child a {
	color: #146091;
}

#qaAll .hero_sec .sec_btn li a img {
	width: auto;
	margin-bottom: 15px;
}

#qaAll #wrapper_inner #content {
	margin-bottom: 60px;
}

#qaAll #wrapper_inner #content ul {
	overflow: hidden;
	padding-left: 0;
	/* display: flex; */
	/* flex-wrap: wrap; */
}

#qaAll #wrapper_inner .inner article.hc_employee, #qaAll #wrapper_inner .inner article.hc_admin {
	display: none;
}

#qaAll #wrapper_inner .inner article h4 {
	margin: 0 0 15px;
}

#qaAll #wrapper_inner .inner article h4 {
	text-decoration: none;
	color: #558509;
	font-size: 20px;
}

#qaAll #wrapper_inner .inner article h4 a {
	text-decoration: none;
	color: #558509;
	font-size: 20px;
}

#qaAll #wrapper_inner .kanrisha_articlebox {
	padding: 0;
}

@media (max-width: 768px) {
	#qaAll #wrapper_inner .kanrisha_articlebox {
		padding: 0;
	}
}

#qaAll #wrapper_inner .kanrisha_articlebox .inner article h4 a {
	color: #146091;
}

#qaAll #wrapper_inner .inner article p {
	margin: 0;
}

#qaAll #wrapper_inner .inner ul.article_list > li {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	position: relative;
	padding: 0 40px 0 0;
	margin-left: 20px;
	border-bottom: 1px solid #eee;
	/* width: calc(50% - 20px); */
	border-bottom: transparent;
}

#qaAll #wrapper_inner .inner ul.article_list > li::before {
	content: none;
}

#qaAll #wrapper_inner .inner ul.article_list > li a {
	font-weight: 400;
	vertical-align: top;
}

#qaAll #wrapper_inner .inner ul.article_list > li a:hover {
	text-decoration: none;
}

#qaAll #wrapper_inner .inner ul.article_list > li span {
	display: block;
	color: #93c83f;
	font-size: 13px;
}

@media (max-width: 768px) {
	#qaAll #wrapper_inner .inner article {
		padding: 0 1em;
	}
	#qaAll #wrapper_inner .inner article h4 {
		margin: 18px 0 5px;
	}
	#qaAll #wrapper_inner .inner ul.article_list > li {
		width: calc(100% - 15px);
		padding: 0;
		list-style: disc;
		margin: 0 0 20px 15px;
		font-size: 12px;
	}
	#qaAll #wrapper_inner .inner ul.article_list > li a {
		font-size: 14px;
	}
}

#qaAll #wrapper_inner.cat_lists h1 {
	background-repeat: no-repeat;
	background-position: center left 24px;
	line-height: 21px;
	font-size: 18px;
	padding: 18px 25px;
	padding-left: 3.6em;
	margin-top: 0;
	margin-bottom: 30px;
	color: #FFF;
}

.search #qaAll #wrapper_inner.cat_lists h1 {
	background: none;
	line-height: 1.2;
	font-size: 32px;
	padding: 0;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 30px;
	color: #146091;
}

@media (max-width: 768px) {
	.search #qaAll #wrapper_inner.cat_lists h1 {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

#qaAll #wrapper_inner.cat_lists #content {
	margin-bottom: 100px
}

#qaAll #wrapper_inner.cat_lists.hck h1 {
	background-image: url(/files/nencho/images/ttl_icon02.png);
	background-color: #146091 !important;
	border-top: 1px solid #91b5cc !important;
	border-bottom: 3px solid #083451;
}

#qaAll #wrapper_inner.cat_lists.hcj h1 {
	background-image: url(/files/nencho/images/ttl_icon01.png);
	background-color: #64a301 !important;
	border-bottom: 3px solid #558509;
}

#qaAll #wrapper_inner.cat_lists #content .inner ul.article_list {
	padding: 0 0 0 15px;
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li {
	width: 100%;
	padding: 0;
	margin-bottom: 45px;
}

@media (max-width: 768px) {
	#qaAll #wrapper_inner.cat_lists #content .inner ul.article_list {
		padding: 0;
	}
	#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li {
		margin-bottom: 20px;
	}
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li a {
	display: block;
	margin-bottom: 5px;
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li time {
	font-size: 12px;
	/* margin-left: -15px; */
	margin-right: 15px;
}

#qaAll #wrapper_inner.cat_lists ul.page-numbers {
	justify-content: center;
	margin: 30px 0 50px;
}

#qaAll #wrapper_inner.cat_lists .cat {
	display: inline-block !important;
}


/* #qaAll #wrapper_inner.cat_lists .inner ul.article_list li span:nth-child(2) {
    margin-left: -16px;
} */

#qaAll #wrapper_inner.cat_lists .cat a {
	display: inline-block !important;
	padding: 3px 8px;
	font-size: 12px !important;
	color: #FFF !important;
	text-decoration: none;
	margin-right: 5px;
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li span.cat.term_hc_employee, #qaAll #wrapper_inner.cat_lists .inner ul.article_list > li span.cat.term_hc_admin {
	display: none !important;
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li span.tag_hck a {
	background-color: #146091;
}

#qaAll #wrapper_inner.cat_lists .inner ul.article_list > li span.tag_hcj a {
	background-color: #64a301;
}


/*-------------------------------------------------------*/


/* 検索結果（#search）
/*-------------------------------------------------------*/

#search {
	width: 100%;
	margin: 0 auto 0;
	color: #083451;
	overflow: hidden;
}

#search #wrapper_inner h1 {
	font-size: 26px;
	font-weight: 400;
	color: #083451;
}

#search #wrapper_inner h1 b {
	font-weight: 600;
	margin-right: 5px;
}

#search #wrapper_inner ul {
	overflow: hidden;
	padding-left: 0;
}

#search #wrapper_inner .inner ul li {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	position: relative;
	list-style-type: none;
	padding: 15px 0 15px 40px;
	border-bottom: 1px solid #eee;
}

#search #wrapper_inner .inner ul li::before {
	color: #93c83f;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	content: 'Q';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
}

#search #wrapper_inner .inner ul li a {
	font-weight: 400;
}

#search #wrapper_inner .inner ul li a:hover {
	text-decoration: none;
}

#search #wrapper_inner .inner ul li span {
	display: block;
	color: #93c83f;
	font-size: 13px;
}


/*----検索窓（#searchBox）-----------------------------------------*/


/* #qaAll #searchBox, */

#qa #searchBox, #search #searchBox {
	margin: 0 auto 35px;
	height: 36px;
	text-align: center;
	float: right;
	position: relative;
}

#qaAll #searchBox #textSearch input#testSearchInput, #qa #searchBox #textSearch input#testSearchInput, #search #searchBox #textSearch input#testSearchInput {
	width: 300px;
	height: 36px;
	display: block;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #ccc;
	padding-left: 15px;
	margin: 0 0 5px;
}

#qaAll #searchBox #textSearch input#testSearchInput {
	width: 100%;
	margin: 30px 0;
	line-height: 70px;
	font-size: 18px;
	color: #000;
	height: auto;
	border-radius: 8px;
}

@media (max-width: 768px) {
	#qaAll #searchBox #textSearch input#testSearchInput {
		line-height: 36px;
	}
}

#qaAll .inner .ttl_qa {
	color: #FFF;
	background-color: #146091;
	margin: 2em 0 2em;
	padding: 25px;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	background-image: -moz-linear-gradient( 90deg, rgb(0, 65, 115) 0%, rgb(18, 96, 142) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(0, 65, 115) 0%, rgb(18, 96, 142) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(0, 65, 115) 0%, rgb(18, 96, 142) 100%);
	border: 1px solid #0c4d77;
	border-radius: 10px;
}

#qaAll .inner h2 {
	color: #FFF;
	background-color: #64a301;
	border-bottom: 3px solid #558509;
	font-size: 18px;
	padding: 15px 25px;
}

#qaAll .inner .inner_header {
	position: relative;
}

#qaAll .inner h2#jugyoin {
	background-image: url('/files/nencho/images/ttl_icon01.png');
	background-repeat: no-repeat;
	background-position: center left 18px;
	padding: 18px 25px;
	line-height: 21px;
	padding-left: 3.6em;
	margin-top: 0;
}

#qaAll .inner h2#kanrisha {
	background-image: url('/files/nencho/images/ttl_icon02.png');
	background-repeat: no-repeat;
	background-position: center left 24px;
	background-color: #146091 !important;
	border-top: 1px solid #91b5cc !important;
	border-bottom: 3px solid #083451;
	padding: 18px 25px;
	line-height: 21px;
	font-size: 18px;
	padding: 18px 25px;
	padding-left: 3.6em;
	margin-top: 0;
	margin-bottom: 2em;
}

@media (max-width: 768px) {
	#qaAll .inner h2#jugyoin {
		padding: 16px 5px;
		line-height: 13px;
		padding-left: 3.9em;
		font-size: 16px;
		background-color: #64a301;
		border-bottom: 3px solid #558509;
	}
	#qaAll .inner h2#kanrisha {
		padding: 16px 5px;
		line-height: 13px;
		padding-left: 3.9em;
		font-size: 16px;
	}
}

#qaAll .inner .inner_header h2#jugyoin + a {
	position: absolute;
	top: -6px;
	right: 8px;
	color: #FFF;
	font-size: 14px;
	background-color: #72AB18;
	border-radius: 10px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	border: 1px solid #a3c869;
	line-height: 38px;
	padding: 0 15px;
	text-decoration: none;
}

#qaAll .inner .inner_header h2#kanrisha + a {
	position: absolute;
	top: -6px;
	right: 8px;
	color: #FFF;
	font-size: 14px;
	background-color: #296e9b;
	border-radius: 10px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
	border: 1px solid #74a1be;
	line-height: 38px;
	padding: 0 15px;
	text-decoration: none;
}

@media (max-width: 768px) {
	#qaAll .inner .inner_header h2#jugyoin + a, #qaAll .inner .inner_header h2#kanrisha + a {
		position: static;
		text-align: center;
		margin: 0 auto;
		display: block;
		width: 94%;
		border-radius: 0;
	}
	#qaAll .inner .inner_header h2#jugyoin + a {
		background-color: #296e9b;
		border: 1px solid #74a1be;
	}
	#qaAll .inner .inner_header h2#kanrisha + a {
		margin: 1.2em auto 1.2em;
		background-color: #72AB18;
		border: 1px solid #a3c869;
	}
}

#qaAll .inner .inner_header h2#jugyoin + a img {
	width: auto;
	margin: 0 0 0 10px;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #659A11;
	/* box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.3); */
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	width: 22px;
	height: 22px;
}

#qaAll .inner .inner_header h2#kanrisha + a img {
	width: auto;
	margin: 0 0 0 10px;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #1f6491;
	/* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3); */
	width: 22px;
	height: 22px;
}

@media (max-width: 768px) {
	#qaAll .inner .inner_header h2#jugyoin + a img {
		background-color: #1f6491;
	}
	#qaAll .inner .inner_header h2#kanrisha + a img {
		background-color: #659A11;
	}
}

#qaAll .inner h3 {
	border: transparent;
	padding-left: 0;
}

#qaAll .inner h3 svg {
	vertical-align: middle;
}

#qaAll .inner.col2 {
	margin-top: 45px;
}

#qaAll .inner .start_box {
	border: 2px solid #ccc;
	/* border: 2px solid #dcedc0; */
	padding: 20px;
	margin-top: 2em;
}

@media (max-width: 768px) {
	#qaAll .inner .start_box {
		margin-bottom: 15px;
		padding: 15px;
	}
}

#qaAll .inner.col2 h2 {
	margin-bottom: 15px;
}

#qaAll .inner .start_box h3 {
	color: #146091;
	text-align: center;
	margin: 15px 0 15px;
	font-size: 37px;
}

#qaAll .inner .start_box h3 img {
	width: auto;
	display: inline-block;
	margin-right: 15px;
}

#qaAll .inner .start_box h3 + p {
	font-size: 18px;
	line-height: 1.5;
	margin: 0 0 40px;
}

@media (max-width: 768px) {
	#qaAll .inner .start_box h3 {
		text-align: center;
		font-size: 17px;
	}
}

#qaAll .inner .start_box .tab_btn {
	width: 100%;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li {
	padding: 0;
	border-bottom: transparent;
	width: 31%;
	list-style: none;
	position: relative;
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li.arrow {
	width: 2%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 768px) {
	#qaAll #wrapper_inner .inner .start_box .tab_btn li {
		width: 100%;
	}
	#qaAll #wrapper_inner .inner .start_box .tab_btn li.arrow {
		display: none;
	}
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li a {
	padding: 10px 0;
	text-align: center;
	background-image: -moz-linear-gradient( -90deg, rgb(20, 96, 145) 11%, rgb(6, 81, 129) 51%, rgb(7, 72, 114) 82%, rgb(7, 63, 99) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(20, 96, 145) 11%, rgb(6, 81, 129) 51%, rgb(7, 72, 114) 82%, rgb(7, 63, 99) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(20, 96, 145) 11%, rgb(6, 81, 129) 51%, rgb(7, 72, 114) 82%, rgb(7, 63, 99) 100%);
	border: 1px solid #0c4d77;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.6);
	color: #FFF;
	border-color: rgb(8, 52, 81);
	border-radius: 25px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	/* border-left: 43px solid #083451; */
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li a:before {
	content: "";
	background-color: #083451;
	width: 43px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 25px 0 0 25px;
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li a span {
	position: absolute;
	top: 10px;
	left: 17px;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li a img {
	position: absolute;
	top: 13px;
	right: 15px;
	width: auto;
	margin: 0 0 0 10px;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #1f6491;
	/* box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.3); */
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	width: 22px;
	height: 22px;
}

#qaAll #wrapper_inner .inner .start_box .tab_btn li:before {
	content: none;
}

#qaAll #wrapper_inner .inner .start_box h4 {
	background-color: #DDE7F0;
	border-left: 10px solid #146092;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#qaAll #wrapper_inner .inner .start_box .article_box {
	margin-bottom: 60px;
}

#qaAll #wrapper_inner .inner .start_box article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 15px 0;
}

#qaAll #wrapper_inner .inner .start_box article .text_box {
	padding-left: 15px;
	width: 556px;
}

#qaAll #wrapper_inner .inner .start_box article .text_box h5 {
	border-bottom: 1px solid #2F81CD;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 18px;
	color: #2F81CD;
}

#qaAll #wrapper_inner .inner .start_box article .text_box h5:hover {
	border-bottom: 1px solid #fff;
}

#qaAll #wrapper_inner .inner .start_box article .text_box h5 a {
	text-decoration: none;
}

#qaAll #wrapper_inner .inner .start_box article .text_box h5 a:hover {
	color: #2F84D4;
}

#qaAll #wrapper_inner .inner .start_box article img {
	width: 250px;
	height: 155px;
	margin: 0;
}

#qaAll #wrapper_inner .inner .start_box article .text_box p {
	font-size: 14px;
	line-height: 1.5;
}

#qaAll #wrapper_inner .inner .start_box article .text_box p .red {
	color: red;
}

@media (max-width: 768px) {
	#qaAll #wrapper_inner .inner .start_box .article_box {
		margin-bottom: 0;
	}
	#qaAll #wrapper_inner .inner .start_box h4 {
		margin-top: 2.4em;
		margin-bottom: 0.6em;
	}
	#qaAll #wrapper_inner .inner .start_box article {
		padding-top: 0;
		margin-top: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	#qaAll #wrapper_inner .inner .start_box article iframe {
		margin: 8px auto 8px;
		width: 100%;
		height: auto;
	}
	#qaAll #wrapper_inner .inner .start_box article img {
		margin: 8px auto 8px;
		width: 100%;
		height: auto;
	}
	#qaAll #wrapper_inner .inner .start_box article .text_box {
		padding-left: 0;
		width: 100%;
	}
}

#textSearch {
	position: relative;
}

#textSearch span {
	position: relative;
	display: block;
}

#textSearch span svg {
	position: absolute;
	top: 16px;
	right: 16px;
	fill: #ccc !important;
}

#qaAll #searchBox input[type="submit"], #qa #searchBox input[type="submit"], #search #searchBox input[type="submit"] {
	height: 30px;
	border: none;
	border-radius: 3px;
	background-color: transparent;
	background: url(/files/nencho/img/blog/ico_magnifyingglass.png) no-repeat left center;
	box-sizing: border-box;
	color: transparent;
	padding: 0 15px;
	margin: -30px 0 5px;
	position: absolute;
	top: 33px;
	left: 260px;
}

#qaAll #searchBox input[type="submit"] {
	width: 42px;
	right: 16px;
	top: 45px;
	left: auto;
	background: url(/files/nencho/img/blog/ico_magnifyingglass.png) no-repeat center;
	background-size: 70%;
	height: 42px;
}


/*----ページ送り（.pagination）-----------------------------------------*/

#qaAll .pagination {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#qaAll .pagination .prev, #qaAll .pagination .next {
	display: inline;
}

#qaAll .pagination ul {
	width: 100%;
}

#qaAll .pagination ul li {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	padding: 6px 0 0 0;
	background: #fff;
	list-style-type: none;
	border: 1px solid #083451;
	text-align: center;
}

#qaAll .pagination ul li:last-child {
	margin-right: 0;
}

#qaAll .pagination ul li.prev {
	width: 8em;
	margin-right: 5px;
	padding: 6px 0 0 0;
	background: #fff;
	list-style-type: none;
	border: none;
	text-align: center;
	float: left;
}

#qaAll .pagination ul li.next {
	width: 8em;
	margin-left: 5px;
	padding: 6px 0 0 0;
	background: #fff;
	list-style-type: none;
	border: none;
	text-align: center;
	float: left;
}

#qaAll .pagination ul li.active {
	background: #083451;
	color: #fff;
}

#qaAll .pagination ul a {
	text-decoration: none;
}

#qaAll .pagination ul a:hover li {
	background: #083451;
	color: #fff;
}

#qaAll .pagination ul a.prev1:hover li, #qaAll .pagination ul a.next1:hover li {
	background: none;
	color: #083451;
	text-decoration: underline;
}


/*----Q&Aへのリンク（.boxQa）-----------------------------------------*/

#qaAll #wrapper_inner .boxKiso {
	clear: both;
	margin-bottom: 80px;
}

#qaAll #wrapper_inner .boxKiso h2 {
	padding: 17px 0 14px 7em;
	background: #146091;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	border-bottom: 3px solid #0c4d77;
}

#qaAll #wrapper_inner .boxKiso h2 span {
	font-size: 14px;
	background: url(/files/nencho/img/blog/arrow_white_s.png) no-repeat right center;
	float: right;
	margin-right: 1em;
	padding-right: 1em;
	vertical-align: middle;
}

#qaAll #wrapper_inner .boxKiso h2 span a {
	color: #fff;
	text-decoration: none;
}

#qaAll #wrapper_inner .boxKiso h2 span a:hover {
	text-decoration: underline;
}

#qaAll #wrapper_inner .boxKiso .inner_boxKiso {
	background: #f2f8fc;
	margin-top: 0;
	padding: 30px;
}

#qaAll #wrapper_inner .boxKiso .inner_boxKiso ul {
	overflow: hidden;
	margin: 0;
	padding-left: 0;
}


/* ------------------------------
   CLEARFIX ELEMENTS
------------------------------ */

#globalMenu > ul:before, #globalMenu > ul:after {
	content: " ";
	display: table;
}

#globalMenu > ul:after {
	clear: both;
}

#globalMenu > ul {
	*zoom: 1;
}


/*2018/07/11　年末調整記事内CSS*/

.nencho_blog #content img {
	width: 100%;
	height: auto;
}

.nencho_blog #content table {
	width: 100%;
}

.nencho_blog #content th {
	background-color: #1b84c8;
	color: #fff;
}

.nencho_blog #content th, .nencho_blog #content td {
	border: 1px solid #ccc;
	padding: 8px 12px;
}

@media (max-width: 768px) {
	.nencho_blog #content .table_box {
		overflow: scroll;
	}
	.nencho_blog #content table {
		width: max-content;
	}
}


/*20180723*/

footer {
	margin-bottom: 0px;
}

#fix_cta {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-top: solid 1px #CCCCCC;
	z-index: 100;
}

#fix_cta img {
	width: 100%;
}

#fix_cta {
	position: fixed;
	bottom: -343px;
	right: 0;
	float: right;
	width: 90vw;
	max-width: 280px;
	box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0px 0px 33px 3px rgba(0, 0, 0, 0.16);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	height: auto;
	padding: 13px;
	box-sizing: border-box;
}

#fix_cta.slideIn {
	bottom: 0;
	background: #fff;
}

#fix_wrapper {
	max-width: 1054px;
	display: block;
	/* margin: 0 auto; */
}

#fix_cta div.close-box {
	position: relative
}

#fix_cta div.close-box button {
	position: absolute;
	top: -14px;
	left: -14px;
	background-color: #999;
	border: 1px solid #ccc;
	color: #fff;
	padding: 1px 5px 3px 5px;
	margin: 0;
	opacity: 1;
	font-size: 14px;
}

#fix_cta div.close-box button:hover {
	color: #f99;
}

.topOut .container {
	margin-bottom: 0;
}


/* 20190108 maemura
---------------------------------*/
p.s_list {
    display: inline-block;
    width: 100%;
    text-align: center;
}
a.footerLink {
    color: white;
    margin: 0 20px;
    text-decoration: none;
}
a.footerLink:hover, a.footerLink:focus {
    color: #93c83f;
    text-decoration: none;
}
p.s_list a.footerLink {
    background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
    margin-bottom: 10px;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 20px;
}

/* 2019/07/03 footer別リンク  yoshie igawa
/*-----------------------------------------------------*/
.nencho_blog footer {
    height: auto;
    padding: 35px 0 25px;
}
.nencho_blog footer .inner_footer p.left {
    width: 23.5%;
}
.nencho_blog footer .inner_footer ul li {
    margin-bottom: 10px;
}
.nencho_blog footer .inner_footer ul li a {
    margin-left: 20px;
}
#blanklink_area{
	display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #146091;
}
#blanklink_area li{
	background: url(/files/nencho/img/blog/arrow_green.png) no-repeat left center;
    margin-bottom: 10px;
}
#blanklink_area li + li{
    margin-left: 35px;
}
.nencho_blog footer .inner_footer ul li,
p.s_list a.footerLink,
#blanklink_area li{
	font-size: 13px;
	background-size:7px auto;
	
}


/* 2019/08/28 ロゴ改修  yoshie igawa
/*-----------------------------------------------------*/
#footer_logo_text{
	color:#fff;
	text-decoration:none;
	line-height: 1.5;
    font-size: 16px;
    font-weight:bold;
}
.nencho_blog header {
    background: #fff;
    border-top:5px solid #f5e616;
}