body {

    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
    color: $txtColor-base;
}

h1,h2,h3,h4,h5,h6 {

    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}
