$txt-color: #001e2d;
$hover-gray: #555251;
$roumu-color: #ff8b19;
$nencho-color: #fdd000;
$nencho-txt-color: #dca80a;
$kyuyomeisai-color: #2aac39;
$yukyu-color: #05a4da;
$mynumber-color: #787878;
$imgDir: "../";

$color-sub: #db680a;
$color-sub-2: #4868dd;

$txtColor-base: #444;
$txtColor-white: #fff;

$bgColor-bk: #000;

$site-width: 990px;

$header-height__pc: 65px;
$header-height__sp: 50px;

$footer-height__pc: $header-height__pc;
$footer-height__sp: $header-height__sp;

$link__padding: 8px 12px;
$btn__padding: 8px 24px;

$space__xs: 8px;

$breakpoints: (
  'sm': 'screen and (max-width: 440px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 990px)',
  'xl': 'screen and (max-width: 1320px)',
) !default;

@mixin mq($breakpoint: xl) {
	@media #{map-get($breakpoints, $breakpoint)} {
	  @content;
	}
}
