
/* リセットcss ここから */


/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model
   ========================================================================== */

   * {
    box-sizing: border-box;
  }
  
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  /* Document
     ========================================================================== */
  
  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /* Vertical rhythm
     ========================================================================== */
  
  p,
  table,
  blockquote,
  address,
  pre,
  iframe,
  form,
  figure,
  dl {
    margin: 0;
  }

  
  /* Lists (enumeration)
     ========================================================================== */
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Lists (definition)
     ========================================================================== */
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-left: 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
    border: 0;
    border-top: 1px solid;
    margin: 0;
    clear: both;
    color: inherit;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
  }
  
  address {
    font-style: inherit;
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: inherit; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
    vertical-align: bottom;
  }
  
  embed,
  object,
  iframe {
    border: 0;
    vertical-align: bottom;
  }
  

  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Table
     ========================================================================== */
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption {
    text-align: left;
  }
  
  td,
  th {
    vertical-align: top;
    padding: 0;
  }
  
  th {
    text-align: left;
    font-weight: bold;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }





  /* mv ここから */

body {
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.seminar-nencho .section-mv {
  padding: 30px 0 50px;
  background-image: url(../img/bg-mv.png);
  text-align: center;
  color: #fff;
  background-size: contain;
  margin-top: -40px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin: 0 0 20px;
}

.seminar-nencho .section-mv #img-mv-sp {
  display: none;
}

.seminar-nencho .mv-area {
     width: 1100px;
     margin: 0 auto;
     display: block;
     position: relative;
 }

 .seminar-nencho .mv-area img {
   width: 100%;
 }

 .seminar-nencho .mv-area a.mv-btn {
  line-height: 1.25;
  text-decoration: none;
  font-weight: bold;
  background: #4183e4;
  color: #fff !important;
  border-radius: 6.5em;
  padding: 0.7em 4em;
  text-align: center;
  transition: .3s;
  position: absolute;
  left: 0;
  top: 84%;
  font-size: 28px;
  letter-spacing: 0.2em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.seminar-nencho .mv-area a.mv-btn:after{
  content:"";
  position:absolute;
  top:0;
  bottom:.1em;
  right: 8%;
  margin: auto;
  width: .6em;
  height: .6em;
  border-top: .05em solid #fff;
  border-right: .05em solid #fff;
  transform: rotate(45deg);
  transition:.3s;
}

.seminar-nencho .mv-area a.mv-btn:hover{
  opacity:.75;
}

@media only screen and (max-width: 1200px) {
  .seminar-nencho .mv-area {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .seminar-nencho .mv-area {
    width: 100%;
  }
  .seminar-nencho .section-mv #img-mv-sp {
    display: block;
    width: 100%;
  }
  .seminar-nencho .section-mv #img-mv-pc {
    display: none;
  }
  .seminar-nencho .section-mv {
    padding: 1% 0 14%;
    background-size: 80%;
  }

  .seminar-nencho .mv-area a.mv-btn {
    top: 94%;
    letter-spacing: 0.1em;
    padding: 1em 4em;
    margin-left: 3%;
    font-size: 18px;
  }

}


/* 共通 */
h1 {
  width: 100%;

}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    color: #444;
    display: inline-block;
    position: relative;
    margin-bottom: 80px;
    font-weight: 800;
}

  h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -26px;
    display: inline-block;
    width: 80px;
    height: 4px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #ff7e00;
}

.seminar-nencho .section-recommended {
  margin: 0 0 80px;
  display: block;
  text-align: center;
}

.seminar-nencho .section-overview {
  margin: 0 auto 80px;
  display: block;
  text-align: center;
  background-color: #fbfdc2;
  padding: 80px 0;
}

.seminar-nencho .section-content {
  margin: 0 auto 80px;
  display: block;
  text-align: center;
}

.seminar-nencho .section-schedule {
  margin: 0 auto 80px;
  display: block;
  text-align: center;
  background-color: #fbfdc2;
  padding: 80px 0 80px;
}

@media only screen and (max-width: 767px) {
  h1 {
    margin-block-start: 4%;
  }
  h2 {
    font-size: 1.4em;
    margin-bottom: 14%;
  }
  h2:before {
    bottom: -78%;
    width: 24%;
  }
  .seminar-nencho .section-recommended {
    width: 100%;
    margin: 0 auto 14%;
  }
  .seminar-nencho .section-overview {
    width: 100%;
    margin: 0 auto 14%;
    padding: 0;
    padding: 10% 0;
  }
  .seminar-nencho .section-content {
    width: 100%;
    margin: 0 auto 14%;
  }
  .seminar-nencho .section-schedule {
    width: 100%;
    margin: 0 auto 14%;
    padding: 0;
    padding: 10% 0;
  }
}


  /* こういう方にオススメ ここから */
.seminar-nencho .section-recommended ul.recommended-list {
  margin: 0 auto;
  padding: 60px 220px;
  width: 1100px;
  display: block;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  background-image: url(../img/bg-recommended.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  border-radius: 10px;
}

.seminar-nencho .section-recommended ul.recommended-list li {
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
  padding-left: 2em;
}

.seminar-nencho .section-recommended ul.recommended-list li:last-child {
  margin-bottom: 0;
}

.seminar-nencho .section-recommended ul.recommended-list li:before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 32px;
  background: url(../img/icon-check.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 1200px) {
  .seminar-nencho .section-recommended ul.recommended-list {
    width: 90%;
    padding: 4% 10%;
  }
}

@media only screen and (max-width: 767px) {
  .seminar-nencho .section-recommended ul.recommended-list {
    width: 90%;
    padding: 6% 4%;
    background-image: url(../img/bg-recommended-sp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0;
  }
  .seminar-nencho .section-recommended ul.recommended-list li {
    font-size: 1em;
    margin-bottom: 4%;
    padding-left: 1.4em;
    line-height: 1.5;
    margin-bottom: 2%;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  .seminar-nencho .section-recommended ul.recommended-list li:before {
    width: 1em;
    height: 1em;
    margin-right: 2%;
    top: 9%;
  }
}


  /*セミナー概要 ここから */
.seminar-nencho .section-overview .text-area {
  width: 1100px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
}

.seminar-nencho .section-overview .text-area p {
  margin-bottom: 20px;
  color: #444;
}

.seminar-nencho .section-overview .text-area p span.orange {
  font-size: 22px;
  color: #ff7e00;
  font-weight: 800;
}

.seminar-nencho .section-overview .text-area p span.bold {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .seminar-nencho .section-overview .text-area {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .seminar-nencho .section-overview .text-area {
  width: 90%;
  font-size: 1em;
  }
  .seminar-nencho .section-overview .text-area p span.orange {
    font-size: 1.3em;
    letter-spacing: 0em;
  }
}

/*セミナー内容 ここから */
.seminar-nencho .section-content .content-area {
  display: flex;
  width: 1100px;
  margin: 0 auto;
}

.seminar-nencho .section-content .content-area ul.content-list {
  color: #ff7e00;
  text-align: left;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 10px;
}

.seminar-nencho .section-content .content-area ul.content-list li {
  text-align: left;
  position: relative;
  line-height: 1.5em;
  padding-left: 1.2em;
  text-align: left;
  margin-bottom: 10px;
  text-align: justify;
}

.seminar-nencho .section-content .content-area ul.content-list li:before {
  content: '・';
  display: inline-block;
  width: 25px;
  height: 46px;
  vertical-align: middle;
  margin-right: 10px;
  text-align: left;
  font-size: 28px;
  position: absolute;
    left: -3%;
    content: "・";
    display: inline-block;
}

.seminar-nencho .section-content .content-area .text-box {
 width: 50%;
 color: #444;
}

.seminar-nencho .section-content .content-area .img-box {
  width: 50%;
}

.seminar-nencho .section-content .content-area .img-box img {
  width: 100%;
}
 

.seminar-nencho .section-content .content-area .text-box .content-infomation h3 {
  text-align: left;
  color: #444;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 20px;
}

.seminar-nencho .section-content .content-area .text-box .content-infomation ul {
  text-align: left;
  font-size: 17px;
}

.seminar-nencho .section-content .content-area .text-box .content-infomation ul li {
  margin-bottom: 6px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

@media only screen and (max-width: 1200px) {
  .seminar-nencho .section-content .content-area{
    width: 90%;
  }
  .seminar-nencho .section-content .content-area .text-box {
    width: 70%;
  }
}

@media only screen and (max-width: 767px) {

  .seminar-nencho .section-content .content-area {
    width: 90%;
    display: block;
  }
  .seminar-nencho .section-content .content-area .text-box {
    width: 100%;
    margin: 0 auto;
  }
  .seminar-nencho .section-content .content-area ul.content-list {
    font-size: 1em;
    margin-bottom: 8%;
  }
  .seminar-nencho .section-content .content-area ul.content-list li {
    margin-bottom: 3%;
    padding-left: 1em;
    font-size: 1.1em;
    line-height: 1.3em;
  }
  .seminar-nencho .section-content .content-area .img-box {
    width: 90%;
    margin: 0 auto;
  }
  .seminar-nencho .section-content .content-area .img-box img {
    width: 100%;
  }
  .seminar-nencho .section-content .content-area .text-box .content-infomation h3 {
    font-size: 1em;
  }
  .seminar-nencho .section-content .content-area .text-box .content-infomation ul {
    margin-bottom: 10%;
  }
  .seminar-nencho .section-content .content-area .text-box .content-infomation ul li {
    font-size: 0.9em;
    line-height: 1.2;
  }
}

/*セミナー開催日程 ここから */
.seminar-nencho .section-schedule ul.schedule-list {
  margin: 0 auto;
  width: 1100px;
  display: block;
}

.seminar-nencho .section-schedule ul.schedule-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
  border-radius: 10px;
  background-color: #fff;
}

.seminar-nencho .section-schedule ul.schedule-list li p.date {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #444;
  position: relative;
}

.seminar-nencho .section-schedule ul.schedule-list li p.date:before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 32px;
  background: url(../img/icon-time.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  left: -38px;
  top: 0;
}

.seminar-nencho .section-schedule ul.schedule-list li a.btn {
  display: block;
  line-height: 1.25;
  text-decoration: none;
  font-weight: bold;
  background: #4183e4;
  color: #fff !important;
  border-radius: 6.5em;
  padding: 0.6em 6em 0.7em;
  text-align: center;
  transition: .3s;
  left: 0;
  top: 75%;
  font-size: 20px;
  letter-spacing: 0.2em;
  position: relative;
}

.seminar-nencho .section-schedule ul.schedule-list li a.btn:after {
  content:"";
  position:absolute;
  top:0;
  bottom:.1em;
  right: 8%;
  margin: auto;
  width: .6em;
  height: .6em;
  border-top: .05em solid #fff;
  border-right: .05em solid #fff;
  transform: rotate(45deg);
  transition:.3s;
}

.seminar-nencho .section-schedule ul.schedule-list li a.btn:hover {
  opacity:.75;
}

.seminar-nencho form {
  margin: 0 auto 140px;
  display: block;
}

.seminar-nencho .section-form h2 {
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
}

@media only screen and (max-width: 1200px) {
  .seminar-nencho .section-schedule ul.schedule-list{
    width: 90%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li {
    padding: 20px 4% 20px 10%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li p.date {
    padding: 2% 0%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li a.btn {
    padding: 2% 15%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li p.date:before {
    top: 22%;
  }
}

@media only screen and (max-width: 767px) {
  .seminar-nencho .section-schedule ul.schedule-list {
    width: 90%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li {
    display: block;
    padding: 4% 4%;
    margin-bottom: 4%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li p.date {
    font-size: 5.2vw;
    margin-bottom: 1%;
    padding-left: 4%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li p.date:before {
    width: 1em;
    height: 1em;
    left: 2%;
    top: 24%;
  }
  .seminar-nencho .section-schedule ul.schedule-list li a.btn {
    font-size: 1em;
    padding: 4% 0;
  }
  .seminar-nencho form {
    margin-bottom: 10%;
  }
}


/* ヘッダーー調整 */
#header-lp-nencho-seminar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}

@media only screen and (max-width: 767px) {
  #header-lp-nencho-seminar {
    width: 100%;
    height: 50px;
    padding: 0 4%;
  }
  #header-lp-nencho-seminar img {
    width: 54%;
  }
}



/* フッター調整 */
#footer-lp-nencho-seminar {
  padding: 20px 0;
  background-color: #000;
}

#footer-lp-nencho-seminar .foooter-nolink-area {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer-lp-nencho-seminar .foooter-nolink-area .footer-logo {
  margin-bottom: 0;
}

#footer-lp-nencho-seminar .foooter-nolink-area .footer-copy {
  margin-top: 0;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  #footer-lp-nencho-seminar .foooter-nolink-area {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  #footer-lp-nencho-seminar .foooter-nolink-area {
    width: 90%;
  }
  #footer-lp-nencho-seminar .foooter-nolink-area .footer-logo {
    width: 60%;
  }
  #footer-lp-nencho-seminar .foooter-nolink-area .footer-logo img {
    width: 100%;
  }
  #footer-lp-nencho-seminar .foooter-nolink-area .footer-copy {
font-size: 12px;
  }
}

/* 高さ調整 */
.seminar-nencho .section-form h2.mt40 {
  margin-top: 40px;
}