@charset "UTF-8";
/**
    foundation
*/
/*! destyle.css v1.0.13 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document
     ========================================================================== */
/**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Vertical rhythm
     ========================================================================== */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Lists (enumeration)
     ========================================================================== */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition)
     ========================================================================== */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Table
     ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

/**
    layout
*/
.l-header {
  background-color: #000;
  margin-bottom: 3rem;
}

@media screen and (max-width: 990px) {
  .l-header {
    margin-bottom: 2rem;
  }
}

.l-header__logo, .l-footer__logo {
  height: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 990px) {
  .l-header__logo, .l-footer__logo {
    height: 50px;
  }
}

@media screen and (max-width: 440px) {
  .l-header__logo img, .l-footer__logo img {
    width: 70%;
  }
}

.l-footer {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.l-footer__copy-right {
  white-space: nowrap;
}

@media screen and (max-width: 440px) {
  .l-footer__copy-right {
    font-size: .8rem;
  }
}

.l-container {
  width: 990px;
  margin: 0 auto;
  padding-bottom: 150px;
}

@media screen and (max-width: 990px) {
  .l-container {
    width: 100%;
    padding: 0 24px 100px;
  }
}

@media screen and (max-width: 440px) {
  .l-container {
    padding: 0 6% 64px;
  }
}

.l-container__title {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: #444;
  position: relative;
  margin-bottom: 80px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 440px) {
  .l-container__title {
    font-size: 1.6rem;
    margin-bottom: 70px;
  }
}

.l-container__sub-title {
  color: #4868dd;
  display: block;
  font-size: 24px;
  margin-top: 16px;
  letter-spacing: 0em;
}

@media screen and (max-width: 440px) {
  .l-container__sub-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }
}

.l-container__sub-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -26px;
  display: inline-block;
  width: 80px;
  height: 4px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #ff7e00;
}

.l-container__fluid {
  width: 100%;
}

.l-container__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**
    object
*/
.c-mv h1 {
  margin-bottom: 3rem;
}

@media screen and (max-width: 990px) {
  .c-mv h1 {
    margin: 0 -2rem 2rem -2rem;
  }
}

@media screen and (max-width: 440px) {
  .c-mv h1 {
    margin: 0 0 2rem 0;
  }
}

.c-mv img {
  width: 100%;
}

.c-mv__btn-wrapper {
  text-align: center;
}

.c-btn {
  font-weight: bold;
  background: #db680a;
  color: #fff;
  border-radius: 6.5em;
  padding: 1em 4em;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 28px;
  letter-spacing: 0.2em;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  white-space: nowrap;
}

@media screen and (max-width: 440px) {
  .c-btn {
    width: 100%;
    font-size: 1rem;
    padding: 1.3em 4em;
  }
}

.c-btn:hover {
  opacity: .75;
}

.c-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(200%, -40%) rotate(45deg);
          transform: translate(200%, -40%) rotate(45deg);
  width: .6em;
  height: .6em;
  border-top: .06em solid #fff;
  border-right: .06em solid #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-btn--schedule {
  font-size: 24px;
  padding: .6em 4em;
}

@media screen and (max-width: 440px) {
  .c-btn--schedule {
    font-size: 1rem;
    padding: 1em 4em;
  }
}

.c-panel {
  padding: 38px 16px 60px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(72, 104, 221, 0.3);
          box-shadow: 0px 0px 24px 0px rgba(72, 104, 221, 0.3);
  border-radius: 5px;
  background: #fff;
}

@media screen and (max-width: 440px) {
  .c-panel {
    padding: 2rem 2rem;
  }
}

.c-panel__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 48px;
  color: #db680a;
}

@media screen and (max-width: 440px) {
  .c-panel__title {
    font-size: 1.2rem;
    margin-bottom: 10%;
  }
}

.c-panel__body {
  display: table;
  margin: 0 auto;
}

.c-form {
  background: #fff;
  width: 100%;
}

.p-about {
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 4rem;
  text-align: justify;
}

@media screen and (max-width: 440px) {
  .p-about {
    line-height: 1.9;
    font-size: 1rem;
  }
}

.p-about__paragraph {
  margin-bottom: 20px;
}

.p-about__paragraph:last-child {
  margin-bottom: 0;
}

.p-about__main-msg {
  font-size: 1.2em;
  color: #4868dd;
}

.p-recommended__item {
  padding-left: 44px;
  background: left center url("../src/img/icon-check.png") no-repeat;
  background-size: 24px auto;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
}

@media screen and (max-width: 440px) {
  .p-recommended__item {
    font-size: 1rem;
    background-size: 24px auto;
    background-position: 0% 17%;
    padding-left: 12%;
  }
}

.p-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 440px) {
  .p-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: column-reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

@media screen and (max-width: 440px) {
  .p-content__img {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 440px) {
  .p-content__img img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}

.p-content__items {
  list-style: initial;
  list-style-position: outside;
  padding-left: 2rem;
}

.p-content__item, .p-recommended__item {
  margin-bottom: 4%;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.p-content__item:last-child, .p-recommended__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 440px) {
  .p-content__item, .p-recommended__item {
    font-size: 1rem;
  }
}

.p-speaker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media screen and (max-width: 440px) {
  .p-speaker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.p-speaker:last-child {
  margin-bottom: 0;
}

.p-speaker__img {
  margin-right: 2rem;
}

@media screen and (max-width: 440px) {
  .p-speaker__img {
    margin: 0 0 32px 0;
    text-align: center;
  }
}

.p-speaker__profile {
  margin-bottom: 2rem;
  letter-spacing: .1rem;
}

.p-speaker__company, .p-speaker__dept, .p-speaker__name {
  display: block;
  margin-bottom: 1rem;
}

.p-speaker__company {
  margin-bottom: 1rem;
}

.p-speaker__dept {
  margin-bottom: .5rem;
  font-size: .9rem;
}

.p-speaker__name {
  font-size: 1.5rem;
}

.p-speaker__description {
  line-height: 1.8;
  letter-spacing: .05rem;
  text-align: justify;
}

.p-overview {
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 440px) {
  .p-overview {
    font-size: 1.1rem;
  }
}

.p-overview__row:last-child .p-overview__heading,
.p-overview__row:last-child .p-overview__data {
  padding-bottom: 0;
}

.p-overview__heading, .p-overview__data {
  padding-bottom: 32px;
}

.p-overview__heading {
  color: #4868dd;
  white-space: nowrap;
}

@media screen and (max-width: 440px) {
  .p-overview__heading {
    padding-bottom: 32px;
  }
}

.p-overview__heading__text {
  letter-spacing: 1rem;
}

.p-overview__data {
  padding: 0 0 0 2rem;
}

.p-schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 24px;
  padding: 24px 10px 24px 20px;
}

@media screen and (max-width: 440px) {
  .p-schedule {
    padding-left: 2%;
    padding-right: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.p-schedules {
  padding: 64px 70px;
  border-radius: 5px;
  background: #fff;
}

@media screen and (max-width: 440px) {
  .p-schedules {
    padding: 10% 4%;
  }
}

.p-schedule__date {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #444;
  position: relative;
  padding-left: 3rem;
  background: url(../src/img/icon-time.png) no-repeat;
  background-size: 24px auto;
  background-position: 0%, 0%;
}

@media screen and (max-width: 440px) {
  .p-schedule__date {
    margin-bottom: 15px;
    font-size: 1.2rem;
    padding: 10px 0 10px 2rem;
    line-height: 1.5;
  }
}

.u-mb0 {
  margin-bottom: 0;
}

.u-pb0 {
  padding-bottom: 0;
}

.u-bg-sub-2 {
  background: #4868dd;
}

.u-bg-sub-2 .l-container__title {
  color: #fff;
}

.u-bg-sub-2 .l-container__title::before, .u-bg-sub-2 .l-container__title::after {
  width: 40px;
  height: 2px;
  background: #fff;
}

.u-bg-sub-2 .l-container__title::before {
  -webkit-transform: rotate(45deg) translate(-15px, 2px);
          transform: rotate(45deg) translate(-15px, 2px);
}

.u-bg-sub-2 .l-container__title::after {
  -webkit-transform: rotate(-45deg) translate(15px, 2px);
          transform: rotate(-45deg) translate(15px, 2px);
}

.u-bg-custom {
  position: relative;
}

.u-bg-custom::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  background: #4868dd;
}

.u-ornament::before, .u-ornament::after {
  content: '';
  display: inline-block;
  width: 32px;
  height: 1px;
  background: #db680a;
}

.u-ornament::before {
  -webkit-transform: rotate(45deg) translate(-4px, -7px);
          transform: rotate(45deg) translate(-4px, -7px);
}

.u-ornament::after {
  -webkit-transform: rotate(-45deg) translate(7px, -4px);
          transform: rotate(-45deg) translate(7px, -4px);
}

.u-reset__header {
  position: static !important;
  height: inherit !important;
}

.u-reset__footer {
  padding: 0 !important;
}
/*# sourceMappingURL=app.css.map */