.p-about {

    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.8;
    font-weight: 500;
    margin-bottom: 4rem;
    text-align: justify;

    @include mq(sm) {

        line-height:1.9;
        font-size: 1rem;
    }

    &__paragraph {

        margin-bottom: 20px;

        &:last-child {

            margin-bottom: 0;
        }
    }

    &__main-msg {

        font-size: 1.2em;
        color: $color-sub-2;
    }
}
