.p-content {

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(sm) {

        flex-flow: column-reverse
    }

    &__img {

        @include mq(sm) {

            width: 100%;
            margin-bottom: 32px;
        }

        img {

            @include mq(sm) {

                width: 60%;
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__items {

        list-style: initial;
        list-style-position: outside;
        padding-left: 2rem;
    }

    &__item {

        margin-bottom: 4%;
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 0.05em;

        &:last-child {

            margin-bottom: 0;
        }

        @include mq(sm){

            font-size: 1rem;
        }
    }
}
