.p-overview {

    font-size: 1.3rem;
    font-weight: bold;

    @include mq(sm){

        font-size: 1.1rem;
    }

    &__row:last-child {

        .p-overview__heading,
        .p-overview__data{

            padding-bottom: 0;
        }
    }

    &__heading,
    &__data {

        padding-bottom: 32px;
    }

    &__heading {

        color: $color-sub-2;
        white-space: nowrap;

        @include mq(sm) {

            padding-bottom: 32px;
        }

        &__text {

            letter-spacing: 1rem;
        }
    }

    &__data {

        padding: 0 0 0 2rem;
    }
}
