.p-recommended {

    &__item {

        @extend .p-content__item;

        padding-left: 44px;
        background: left center url('../src/img/icon-check.png') no-repeat;
        background-size: 24px auto;
        letter-spacing: 0.1em;
        font-size: 1.3rem;

        @include mq(sm) {

            font-size: 1rem;
            background-size: 24px auto;
            background-position: 0% 17%;
            padding-left: 12%;
        }
    }
}
