.p-schedule {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 24px;
    padding: 24px 10px 24px 20px;

    @include mq(sm) {

        padding-left: 2%;
        padding-right: 2%;
        flex-flow: column;
    }

    &s {

        padding: 64px 70px;
        border-radius: 5px;
        background: #fff;

        @include mq(sm) {

            padding: 10% 4%;
        }
    }

    &__date {

        font-size: 23px;
        font-weight: bold;
        letter-spacing: 0.05em;
        color: #444;
        position: relative;
        padding-left: 3rem;
        background: url(../src/img/icon-time.png) no-repeat;
        background-size: 24px auto;
        background-position: (0%, 0%);

        @include mq(sm){

            margin-bottom: 15px;
            font-size: 1.2rem;
            padding: 10px 0 10px 2rem;
            line-height: 1.5;
        }
    }
}
