.p-speaker {

    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    @include mq(sm) {

        flex-flow: column;
    }

    &:last-child {

        margin-bottom: 0;
    }

    &__img {

        margin-right: 2rem;

        @include mq(sm) {

            margin: 0 0 32px 0;
            text-align: center;
        }
    }

    &__profile {

        margin-bottom: 2rem;
        letter-spacing: .1rem;
    }

    &__company,
    &__dept,
    &__name {

        display: block;
        margin-bottom: 1rem;
    }

    &__company {

        margin-bottom: 1rem;
    }

    &__dept {

        margin-bottom: .5rem;
        font-size: .9rem;
    }

    &__name {

        font-size: 1.5rem;
    }

    &__description {

        line-height: 1.8;
        letter-spacing: .05rem;
        text-align: justify;
    }
}
