.c-btn {

    font-weight: bold;
    background: $color-sub;
    color: $txtColor-white;
    border-radius: 6.5em;
    padding: 1em 4em;
    transition: .3s;
    font-size: 28px;
    letter-spacing: 0.2em;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    white-space: nowrap;

    @include mq(sm) {

        width: 100%;
        font-size: 1rem;
        padding: 1.3em 4em;
    }

    &:hover {

        opacity: .75;
    }

    &::after {

        content: "";
        position: absolute;
        top: 50%;
        transform: translate(200%, -40%) rotate(45deg);
        width: .6em;
        height: .6em;
        border-top: .06em solid #fff;
        border-right: .06em solid #fff;
        transition:.3s;
    }

    &--schedule {
        
        font-size: 24px;
        padding: .6em 4em;

        @include mq(sm) {

            font-size: 1rem;
            padding: 1em 4em;
        }
    }
}
