.c-mv {

    h1 {

        margin-bottom: 3rem;

        @include mq(lg){

            margin: 0 -2rem 2rem -2rem;
        }

        @include mq(sm) {

            margin: 0 0 2rem 0;
        }
    }

    img {

        width: 100%;
    }

    &__btn-wrapper{

        text-align: center;
    }
}
