.c-panel {

    padding: 38px 16px 60px;
    box-shadow:0px 0px 24px 0px rgba(72,104,221,0.3);
    border-radius: 5px;
    background: #fff;

    @include mq(sm){

        padding: 2rem 2rem
    }

    &__title {

        font-size: 24px;
        text-align: center;
        margin-bottom: 48px;
        color: $color-sub;

        @include mq(sm){

            font-size: 1.2rem;
            margin-bottom: 10%;
        }
    }

    &__body {

        display: table;
        margin: 0 auto;
    }
}
