.u-mb0{

    margin-bottom: 0;
}

.u-pb0{

    padding-bottom: 0;
}

.u-bg-sub-2 {

    background: $color-sub-2;

    .l-container__title {

        color: #fff;

        &::before,
        &::after{

            width: 40px;
            height: 2px;
            background: #fff;
        }

        &::before{

            transform: rotate(45deg) translate(-15px, 2px);
        }

        &::after{

            transform: rotate(-45deg) translate(15px, 2px);
        }
    }
}

.u-bg-custom {

    position: relative;

    &::before {

        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        background: #4868dd;
    }
}

.u-ornament {

    &::before,
    &::after{

        content: '';
        display: inline-block;
        width: 32px;
        height: 1px;
        background: $color-sub;
    }

    &::before {

        transform: rotate(45deg) translate(-4px, -7px);
    }

    &::after {

        transform: rotate(-45deg) translate(7px, -4px);
    }
}

.u-reset {

    &__header {

        position: static!important;
        height: inherit!important;
    }

    &__footer {

        padding: 0!important;
    }
}
