@charset "UTF-8";

.header-logo {
    .img {
        .lite-logo {
            background: url(../../roumu-lite/img/logo_form.png) left center no-repeat;
            background-size: 100%;
            min-width: 330px;
        }
    }
}

/* デフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    appearance: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}

input[type="submit"]:focus,
input[type="button"]:focus {
    outline-offset: -2px;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
}

input {
    &::placeholder {
        color: #ccc;
    }
}

/* フォーム大枠 */
form {
    width: 1200px;
    margin: 0 auto 80px;
    border: 15px solid #eeeeee;
    padding: 50px;
    font-family: "Noto Sans JP", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}

/* 設問 */
label {
    width: 24%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4%;
}

/* プルダウン */
select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 4px;
    box-shadow: 0px 0px 5px #e2e2e2;
    background-color: #f6f6f6;
}

/* 必須 */
.required {
    position: relative;

    &::after {
        width: 25px;
        content: "必須";
        margin-left: 2px;
        padding: 1px 4px;
        border-radius: 3px;
        background: #ff0000;
        color: #fff;
        font-size: 11px;
        vertical-align: baseline;
    }
}

/* 各項目大枠 */
.form-heading {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dotted 1px #ccc;

    p {
        font-size: 16px;
    }

    .notes {
        font-size: 13px;
        background-color: #fff6f6;
        padding: 8px 4px;
        border-radius: 4px;

        span {
            color: #ff0000;
        }

        &:first-of-type {
            margin-top: 5px;
        }

        &:not(:first-of-type) {
            margin-top: 9px;
        }
    }
}

/* 記入ボックス */
.answer-box {
    width: 72%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6f6f6;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    box-sizing: border-box;
}

/* 同意する */
label.agree {
    font-weight: normal;
}

/* 氏名 */
.name-box {
    display: flex;
    justify-content: space-between;
}

.name-box input.name1 {
    margin-right: 4px;
}

/* 資本金、従業員数 */
.input-change {
    display: none;

    &.active {
        display: flex;
    }
}

/* お問い合わせ内容 */
textarea {
    width: 100%;
    height: calc(1.3em * 9);
    background-color: #f6f6f6;
    line-height: 1.3;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* 広告アンケート */
.ads,
.inflow_source,
.products {
    .answer-box {
        label {
            font-weight: normal;
            font-size: 14px;

            &:not(:last-of-type) {
                margin-right: 2.6%;
            }
        }
    }
}

/* 紹介元のStationIDまたは代理店コード */
.referrer {
    .answer-box {
        label {
            margin-right: 4.6%;
            font-weight: normal;
            font-size: 14px;
        }
    }
}

/* プライバシーステートメント */

.description a {
    color: #428bca !important;
    text-decoration: none;
    font-size: 14px;
    display: unset !important;

    &:visited {
        color: inherit;
    }
}

/* 私はロボットではありません */
.g-recaptcha {
    width: 450px;
    margin: 40px auto 60px;
    text-align: center;
    padding: 2px 0;

    & > div {
        margin: auto;
    }
}

/* 送信ボタン */
.button {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    transition: all 0.3s ease;

    &:hover {
        opacity: 0.7;
    }

    &:disabled {
        opacity: 0.7;
        cursor: unset;
    }
}

.btns {
    display: flex;
    justify-content: center;

    .button {
        width: 18%;
        margin: unset;

        @media all and (-ms-high-contrast: none) {
            margin: 0;
        }

        &:first-child {
            width: 10%;
            margin-right: 20px;
            color: #428bca;
            background-color: #fff;
            border: 2px solid #428bca;
        }
    }
}

.error-list {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #ff0000;
    padding: 15px 30px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    list-style-type: disc;
}

/* 資料ダウンロード(労務ライト)ページ */
.document {
    .description {
        text-align: left !important;
    }

    .contact {
        font-size: 14px;
        margin-top: 3%;

        a {
            color: #428bca;
        }
    }
}

@media screen and (max-width: 1200px) {
    form {
        width: 100%;
        margin: 0 auto 10%;
        border: 10px solid #eeeeee;
        padding: 14% 4%;
    }

    label {
        width: 200%;
        font-size: 16px;

        &.sub {
            width: 100%;
            display: block;
            margin-bottom: 4%;
            font-size: 14px;
        }
    }

    .form-heading {
        display: block;
    }

    .input-change {
        display: none;

        &.active {
            display: flex;
        }
    }

    .answer-box {
        width: 100%;
        margin-top: 4%;
    }

    .input-change.active {
        display: block;
    }

    .g-recaptcha {
        width: 60%;
        margin: 40px auto 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .btns {
        .button {
            &:last-child {
                width: 23%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .header-logo {
        .img {
            .lite-logo {
                min-width: 215px;
            }
        }
    }

    .referrer {
        .answer-box {
            label {
                display: table-row;
            }
        }
    }

    .ads,
    .inflow_source {
        .answer-box {
            display: flex;
            flex-wrap: wrap;

            label {
                width: unset;
            }
        }
    }

    .products {
        .answer-box {
            display: flex;
            flex-wrap: wrap;

            span {
                display: flex;
                width: 50%;

                label {
                    width: 80%;
                }
            }
        }
    }

    .btns {
        .button {
            width: 40%;
            padding: 10px;

            &:first-child {
                width: 26%;
            }
        }

        .button.dl {
            width: 53%;
        }
    }

    .document {
        .contact {
            margin-top: 3%;
        }

        .btns {
            .button:last-child {
                width: 53%;
            }
        }
    }

    .g-recaptcha {
        width: 100%;
    }
}
