@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900');
@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
input, textarea, select, button { font-size: 15px; font-family: inherit; }
.cf:after { content: "."; display: block; height: 0; clear: both; line-height: 0; visibility: hidden; }
.cf { display: inline-block; min-height: 1%; }
.bg_c, .bg_c::before, .bg_c::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all .2s; transition: all .2s; }
img { vertical-align: bottom; max-width: 100%; }
sup { vertical-align: super; font-size: 10px; }
sub { vertical-align: sub; font-size: 10px; }
a { color: inherit; }
.pc { display: block; }
.tab { display: none; }
.sp { display: none; }
.pc-c { display: table-cell; }
.tab-c { display: none; }
.sp-c { display: none; }
@media screen and (min-width: 900px) {
    .tabbr { display: none; }
    .spbr {     display: none; }
}

.dis-i { display: inline; }
.dis-ib { display: inline-block; }
.dis-b { display: block; }
.m-t0 { margin-top: 0 !important; }
.m-t5 { margin-top: 5px !important; }
.m-t10 { margin-top: 10px !important; }
.m-t15 { margin-top: 15px !important; }
.m-t20 { margin-top: 20px !important; }
.m-t25 { margin-top: 25px !important; }
.m-t30 { margin-top: 30px !important; }
.m-t40 { margin-top: 40px !important; }
.m-t50 { margin-top: 50px !important; }
.m-t60 { margin-top: 60px !important; }
.m-t70 { margin-top: 70px !important; }
.m-t80 { margin-top: 80px !important; }
.m-t90 { margin-top: 90px !important; }
.m-t100 { margin-top: 100px !important; }
.m-b0 { margin-bottom: 0 !important; }
.m-b5 { margin-bottom: 5px !important; }
.m-b10 { margin-bottom: 10px !important; }
.m-b15 { margin-bottom: 15px !important; }
.m-b20 { margin-bottom: 20px !important; }
.m-b25 { margin-bottom: 25px !important; }
.m-b30 { margin-bottom: 30px !important; }
.m-b40 { margin-bottom: 40px !important; }
.m-b50 { margin-bottom: 50px !important; }
.m-b60 { margin-bottom: 60px !important; }
.m-b70 { margin-bottom: 70px !important; }
.m-b80 { margin-bottom: 80px !important; }
.m-b90 { margin-bottom: 90px !important; }
.m-b100 { margin-bottom: 100px !important; }
.m-b110 { margin-bottom: 110px !important; }
.m-b120 { margin-bottom: 120px !important; }
.m-b130 { margin-bottom: 130px !important; }
.m-b140 { margin-bottom: 140px !important; }
.m-b150 { margin-bottom: 150px !important; }
.m-l-auto { margin-left: auto !important; }
.m-l0 { margin-left: 0 !important; }
.m-l5 { margin-left: 5px !important; }
.m-l10 { margin-left: 10px !important; }
.m-l15 { margin-left: 15px !important; }
.m-l20 { margin-left: 20px !important; }
.m-l25 { margin-left: 25px !important; }
.m-l30 { margin-left: 30px !important; }
.m-r-auto { margin-right: auto !important; }
.m-r0 { margin-right: 0 !important; }
.m-r5 { margin-right: 5px !important; }
.m-r10 { margin-right: 10px !important; }
.m-r15 { margin-right: 15px !important; }
.m-r20 { margin-right: 20px !important; }
.m-r25 { margin-right: 25px !important; }
.m-r30 { margin-right: 30px !important; }
.p-t0 { padding-top: 0 !important; }
.p-t5 { padding-top: 5px !important; }
.p-t10 { padding-top: 10px !important; }
.p-t15 { padding-top: 15px !important; }
.p-t20 { padding-top: 20px !important; }
.p-t25 { padding-top: 25px !important; }
.p-t30 { padding-top: 30px !important; }
.p-t40 { padding-top: 40px !important; }
.p-t50 { padding-top: 50px !important; }
.p-t60 { padding-top: 60px !important; }
.p-t70 { padding-top: 70px !important; }
.p-t80 { padding-top: 80px !important; }
.p-t90 { padding-top: 90px !important; }
.p-t100 { padding-top: 100px !important; }
.p-t110 { padding-top: 110px !important; }
.p-t120 { padding-top: 120px !important; }
.p-t130 { padding-top: 130px !important; }
.p-t140 { padding-top: 140px !important; }
.p-t150 { padding-top: 150px !important; }
.p-b0 { padding-bottom: 0 !important; }
.p-b5 { padding-bottom: 5px !important; }
.p-b10 { padding-bottom: 10px !important; }
.p-b15 { padding-bottom: 15px !important; }
.p-b20 { padding-bottom: 20px !important; }
.p-b25 { padding-bottom: 25px !important; }
.p-b30 { padding-bottom: 30px !important; }
.p-b40 { padding-bottom: 40px !important; }
.p-b50 { padding-bottom: 50px !important; }
.p-b60 { padding-bottom: 60px !important; }
.p-b70 { padding-bottom: 70px !important; }
.p-b80 { padding-bottom: 80px !important; }
.p-b90 { padding-bottom: 90px !important; }
.p-b100 { padding-bottom: 100px !important; }
.p-l0 { padding-left: 0 !important; }
.p-l5 { padding-left: 5px !important; }
.p-l10 { padding-left: 10px !important; }
.p-l15 { padding-left: 15px !important; }
.p-l20 { padding-left: 20px !important; }
.p-l25 { padding-left: 25px !important; }
.p-l30 { padding-left: 30px !important; }
.p-r0 { padding-right: 0 !important; }
.p-r5 { padding-right: 5px !important; }
.p-r10 { padding-right: 10px !important; }
.p-r15 { padding-right: 15px !important; }
.p-r20 { padding-right: 20px !important; }
.p-r25 { padding-right: 25px !important; }
.p-r30 { padding-right: 30px !important; }

.f-c-bk { color: #333333 !important; }
.f-c-wh { color: #ffffff !important; }
.f-c-gr { color: #aaaaaa !important; }
.f-c-or { color: #E56600 !important; }

.f-c1 { color: #DF5F0A !important; }
.f-c2 { color: #FEC200 !important; }
.f-c3 { color: #FFFF4C !important; }
.f-c4 { color: #e66700 !important; }
.f-c5 { color: #FF6600 !important; }
.f-c6 { color: #003847 !important; }
.f-c7 { color: #E33800 !important; }
.f-c8 { color: #FFAA1B !important; }
.f-c9 { color: #18AED3 !important; }
.f-c10 { color: #2CB23C !important; }
.f-c11 { color: #63B9C0 !important; }

.b-c-bk { background-color: #000000 !important; }
.b-c-wh { background-color: #ffffff !important; }
.b-c-gr { background-color: #F7F6F2 !important; }

.b-c1 { background-color: #ed8c01 !important; }
.b-c2 { background-color: #E66700 !important; }
.b-c3 { background-color: #FEE1AE !important; }
.b-c4 { background-color: #EA7603 !important; }
.b-c5 { background-color: #EEEEEE !important; }
.b-c6 { background-color: #FFA61A !important; }
.b-c7 { background-color: #F5F8F8 !important; }
.b-c8 { background-image: url(../img/home/bg_yes01.jpg) !important; background-repeat: no-repeat !important; background-size: auto !important; background-position: center bottom !important; }
.b-c9 { background-color: #FEFBDA !important; }
.b-c10 { background-color: #EFF0E0 !important; }
.b-c11 { background-color: #2CB23C !important; }
.b-c12 { background-color: #003847 !important; }
.b-border { padding: 10px 0; }
.bg-dot01 { background-image: url(../img/home/bg_kami01.png) !important; background-repeat: no-repeat !important; background-size: auto !important; background-position: left top !important; }
.bg-dot02 { background: url(../../files/kyuyomeisai/img/bg_dot01.gif) repeat center 60px !important; }
.bg-dot03 { background: url(../img/bg_dot02.gif) left top !important; }
.bg-slope01 { background-image: url(../img/home/bg_slope01.png) !important; background-repeat: no-repeat !important; background-size: 100% !important; background-position: center bottom !important; }

.f-bold { font-weight: bold !important; }
.f-normal { font-weight: normal !important; }
.f-lighter { font-weight: lighter !important; }

.f-s150 { font-size: 150% !important; }
.f-s140 { font-size: 140% !important; }
.f-s130 { font-size: 130% !important; }
.f-s120 { font-size: 120% !important; }
.f-s110 { font-size: 110% !important; }
.f-s100 { font-size: 100% !important; }
.f-s90 { font-size: 90% !important; }
.f-s80 { font-size: 80% !important; }
.f-s70 { font-size: 70% !important; }
.f-s60 { font-size: 60% !important; }
.f-s50 { font-size: 50% !important; }
.f-s40 { font-size: 40% !important; }
.l-h10 { line-height: 1.0 !important; }
.l-h11 { line-height: 1.1 !important; }
.l-h12 { line-height: 1.2 !important; }
.l-h13 { line-height: 1.3 !important; }
.l-h14 { line-height: 1.4 !important; }
.l-h15 { line-height: 1.5 !important; }
.l-h16 { line-height: 1.6 !important; }
.l-h17 { line-height: 1.7 !important; }
.l-h18 { line-height: 1.8 !important; }
.l-h19 { line-height: 1.9 !important; }
.l-h20 { line-height: 2.0 !important; }

.t-l { text-align: left !important; }
.t-c { text-align: center !important; }
.t-r { text-align: right !important; }

.v-t { vertical-align: top !important; }
.v-m { vertical-align: middle !important; }
.v-b { vertical-align: bottom !important; }

.pos-r { position: relative; }
.pos-s { position: static; }

.t-shadow { text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.radius { border-radius: 3px; }

/*------------------------*/
.movie { width: 750px; margin: 0 auto; text-align: center; }
.movie iframe { width: 100%; }

/*-------------------------------------------------------------------------------------*/

html { overflow-y: scroll; }

body {
    background: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    min-width: 1200px;
    font-family: 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
    line-height: 1.6;
    color: #000;
    word-break: normal;
    word-wrap: break-word;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#frame-outer{
    position: relative;
}