@charset "UTF-8";
@media screen and (max-width: 767px) {

/*=========================*/
header {
    height: 60px;
}
    header .logo img{
        height: 40px;
    }
.footer-inner{
    padding:20px 0;
    display: block;
    justify-content: space-between;
    align-items: center;
}
    footer .logo{
        text-align: center;
        margin-bottom: 20px;
    }
        footer .logo img{
            width: 200px;
        }
    footer .footer-r{
        display: block;
        justify-content: flex-end;
        align-items: center;
        font-size: 15px;
    }
        footer .footer-r a{
            text-decoration: none;
            padding:2px 10px;
        }
    footer .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
        footer .nav ul li{
            position: relative;
            padding:0 10px 10px;
            font-size: 14px;
            text-align: center;
        }
        footer .nav ul li::after{
            content: "";
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 15px;
            background: #fff;
            transform: translateY(-50%);
        }
            footer .nav ul li a:hover{
                text-decoration: underline;
            }
    footer .copy{
        text-align: center;
        font-size: 11px;
    }
/*=========================*/
#pagetop{
    bottom: 10px;
    right: 10px;
}
    #pagetop a{
        width: 40px;
        height: 40px;
    }
        #pagetop a span{
            position: absolute;
            width: 2px;
            height: 15px;
            background: #333;
            top: calc(50% + 1px);
            left: calc(50% - 1px);
            transform: translateY(-50%);
        }
        #pagetop a span::before{
            position: absolute;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid #333;
            border-right: 2px solid #333;
            box-sizing: border-box;
            top: calc(50% - 2px);
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

/*=========================*/
.main-img{
    background: #fed700 url(../img/main_img.jpg) no-repeat center;
    background-size: cover;
    color: #001e2d;
    text-align: center;
    margin-bottom: 130px;
}

    .main-img .txt-area{
        padding:20px 0;
        padding-bottom: calc(50% - 45px);
    }

        .main-img .t1{
            display: block;
            font-weight: 900;
            line-height: 1.3;
            margin-bottom: 30px;
        }
            .main-img .t1 .t1-1{
                display: block;
                font-size: 36px;
            }
            .main-img .t1 .t1-2{
                display: block;
                font-size: 22px;
            }
        .main-img .t2{
            margin-bottom: 40px;
        }
        .main-img .t2.slide{
            width: 100%;
        }
            .main-img .t2::after{
                height: 50px;
            }
            .main-img .t2::before{
                content:"";
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 50px;
                background: #333;
            }
            .main-img .t2 li{
                font-size: 22px;
                min-width: 200px;
            }
            .main-img .t2 li::before{
                display: none;
            }

     .main-img .img-area{
        width: calc(100% - 20px);
        bottom: -35px;
    }
        .main-img .img-area img{
            width: 90%;
        }

    .main-img .tag{
        position: static;
        margin:20px auto;
    }
    .main-img .txt-area2{
        width: 100%;
        box-sizing: border-box;
        padding:0 10px;
        bottom: -55px;
        transform: translateY(100%);
        text-align: right;
    }
        .main-img .txt-area2 p{
            display: inline-block;
            text-indent: -1em;
            padding-left: 1em;
            text-align: left;
        }


/*=========================*/
.bg-y{
    background: #fed700 url(../img/bg_y.jpg) no-repeat center;
    background-size: cover;
}
.section-inner {
    padding: 60px 0;
}
/*=========================*/
.c-ttl {
    border-bottom: 2px solid #001e2d;
    padding: 15px 0;
    font-size: 24px;
    margin-bottom: 40px;
}
    .c-ttl .sub{
        font-size: 18px;
        margin-bottom: 8px;
    }
    .c-ttl .c-ttl-in {
        display: inline-block;
        text-align: left;
    }
.sub-ttl{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}


/*=========================*/
.c-btn {
    margin-bottom: 5px;
    display: block;
}
    .c-btn a, .c-btn button {
        margin: 0 0px 15px;
        width: 100%;
        height: 60px;
        font-size: 18px;
    }
    .c-btn a::after,
    .c-btn button::after {
        right: 20px;
    }
    .c-btn.s2 a, .c-btn.s2 button {
        width: 100%;
    }


/*=========================*/
.time-wrap {
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}
    .time-wrap .time-t1 {
        margin: 10px auto 20px;
    }
        .time-wrap .time-t1 .time-t1-3 {
            font-size: 18px;
        }
        .time-wrap .time-t1 .time-t1-1 {
            font-size: 30px;
        }
            .time-wrap .time-t1 .time-t1-1 span {
                font-size: 70px;
                letter-spacing: 2px;
                margin-right: 5px;
            }
        .time-wrap .time-t1 .time-t1-2 {
            font-size: 40px;
            letter-spacing: 5px;
        }
        .time-wrap .time-t1 .img {
            position: static;
            width: 60px;
            margin:0 auto;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
            .time-wrap .time-t1 .img img {
                filter: drop-shadow(4px 3px 0px rgba(255, 255, 255, 1));
            }
    .time-wrap .time-block {
        display: block;
    }
        .time-wrap .time-block .time-box {
            width: 100%;
            background: none;
            padding: 0;
            padding-top: 100px;
            margin-top: 0;
            overflow: hidden;
            position: relative;
        }
        .time-wrap .time-block .time-box-in {
            width: 100%;
            height: 100%;
            background: #003847;
            box-sizing: border-box;
            padding: 20px 15px 20px;
            position: relative;
            z-index: 2;
        }
            .time-wrap .time-block .time-box .o-t {
                height: 100px;
                top: -100px;
                right: 50%;
                left: auto;
                width: 150px;
            }
                .time-wrap .time-block .time-box .o-t .t1 {
                    display: block;
                    font-size: 20px;
                    font-weight: 600;
                }
                .time-wrap .time-block .time-box .o-t .t2 {
                    display: block;
                    font-size: 20px;
                }
                    .time-wrap .time-block .time-box .o-t .t2 span {
                        font-size: 50px;
                        margin-right: 5px;
                    }
            .time-wrap .time-block .time-box .txt-area {
                position: relative;
                z-index: 2;
            }
                .time-wrap .time-block .time-box .txt-area .ttl {
                    padding: 8px 20px 9px;
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                .time-wrap .time-block .time-box .txt-area .txt {
                    font-size: 15px;
                    padding: 0 5px;
                }
        .time-wrap .time-block .time-box .img-area {
            left: calc(50% + 30px);
            top: 110px;
            z-index: 3;
        }
            .time-wrap .time-block .time-box .img-area img {
                height: 90px;
                max-width: none;
            }

        .time-wrap .time-block .time-box.s2 {
            background: none;
            padding: 0;
            padding-top: 80px;
            margin-top: 0;
        }
        .time-wrap .time-block .time-box.s2 .time-box-in {
            background: #E57100;
        }
            .time-wrap .time-block .time-box.s2 .o-t {
                left: 50%;
                right: auto;
                color: #E57100;
                background: url(https://www.officestation.jp/img/lp/bg_star.svg) no-repeat 5px center;
                background-size: 120px auto;
                padding: 0 0px 10px 30px;
            }

            .time-wrap .time-block .time-box.s2 .txt-area .ttl {
                background: #FFA61A;
            }
            .time-wrap .time-block .time-box.s2 .txt-area .txt {
                padding: 0 5px 0;
            }
        .time-wrap .time-block .time-box.s2 .img-area {
            top: 90px;
            left: calc(50% - 40px);
            transform: translate(-100%,-100%);
        }
/*=========================*/
.time-wrap2 {
    position: relative;
    padding: 10px 0 0;
}
    .time-wrap2 .box {
        margin: 25px auto 65px;
        padding: 15px 15px 15px;
    }

/*=========================*/
.time-wrap3{
    display: block;
    margin-bottom: 40px;
}
    .time-wrap3 .block{
        position: relative;
        background: #1a5261;
        color: #fff;
        width: 100%;
        box-sizing: border-box;
        padding:30px 20px;
        border-radius: 3px;
        margin-bottom: 30px;
    }
        .time-wrap3 .block .ttl{
            font-size: 18px;
            margin-bottom: 12px;
            line-height: 1.3;
        }
        .time-wrap3 .block p{
            font-size: 14px;
            line-height: 1.5;
            position: relative;
            z-index: 2;
        }
    .time-wrap3 .block::before{
        background-size: 24px 30px;
        right: 20px;
        top: -25px;
        z-index: 1;
    }
    .time-wrap3 .block::after{
        content: "";
        position: absolute;
        right: 180px;
        bottom: -30px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 30px 0 30px;
        border-color: #1a5261 transparent transparent transparent;
        transform: rotate(-40deg);
    }
    .time-wrap3 .block:nth-child(even)::after{
        left: 180px;
        right: auto;
        transform: rotate(40deg);
    }

/*=========================*/
.data-table-l {
    margin-bottom: 20px;
}
    .data-table-l table {
        font-size: 14px;
    }
        .data-table-l table th {
            padding: 10px 5px;
        }
        .data-table-l table td {
             padding: 7px 5px;
        }
        .data-table-l table .p1 {
            padding: 0 5px;
        }
        .data-table-l table .p2 {
            padding: 7px 5px;
        }
        .data-table-l table .p3 {
            padding: 5px 10px;
        }
.data-table-l.s-over {
    padding-bottom: 14px;
    position: relative;
    overflow-x: scroll;
}
    .data-table-l.s-over table {
        margin: 0 auto;
        width: 850px;
    }

        .data-table-l table .bg-par {
            width: 80px;
            height: 80px;
            background-size: 80px;
            font-size: 16px;
            line-height: 1.1;
            margin-left: 5px;
        }
        .data-table-l table .bg-par.c2 {
            background-size: 80px;
        }
        .data-table-l table .bg-par.c3 {
            background-size: 80px;
        }
            .data-table-l table .bg-par span {
                font-size: 28px;
            }









/*=========================*/
  .points-wrap {
    flex-direction: column;
    margin: 0px auto 30px;
    max-width: 700px;
  }
  .points-wrap.c3 {
    margin: 0 auto;
  }
  .points-wrap .points-block {
    width: 100%;
    margin: 30px 0 20px 0px;
  }
  .points-wrap .points-block:last-child {
    margin-bottom: 0;
  }
  .points-wrap .points-block.c3 {
    width: 100%;
    margin-left: 0px;
  }
  .points-wrap .points-block .points-block-inner {
    padding: 50px 20px;
  }
  .points-wrap .points-block .points-block-inner2 {
    padding: 70px 20px 30px;
  }
  .points-wrap .points-block .num {
    font-size: 28px;
    top: -40px;
    left: 0px;
    padding: 0 20px;
  }
  .points-wrap .points-block .num span {
    font-size: 60px;
    margin-left: 3px;
  }
  .points-wrap .points-block .num.t-c {
    left: 0;
  }
  .points-wrap .points-block .step {
    font-size: 18px;
    top: -30px;
    left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    box-sizing: border-box;
  }
  .points-wrap .points-block .step span {
    font-size: 32px;
    line-height: 1;
    font-weight: 800;
  }
  .points-wrap .points-block .img-area {
    margin-bottom: 15px;
  }
  .points-wrap .points-block .txt {}
  .points-wrap .points-block .txt .ttl {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .points-wrap .points-block .txt .ttl span {
    margin-left: 0px;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  .points-wrap .points-block .txt p {
    font-size: 14px;
    line-height: 1.5;
  }
  .points-wrap .points-block .txt p.p1 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p2 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p3 {
    padding-right: 130px;
  }
  .points-wrap .points-block .txt p.p4 {
    padding-right: 130px;
  }
  .points-wrap .points-block .img {}
  .points-wrap .points-block .img.r2 {
    right: 10px;
  }
  .points-wrap .points-block .img img {
    width: 130px;
  }
  .points-wrap .points-block .box-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .points-wrap .points-block .box-wrap .box {
    position: relative;
    background: #fff;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 55px 0 15px;
  }
  .points-wrap .points-block .box-wrap .box .box-ttl {
    position: absolute;
    top: 13px;
    left: -4px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding: 0 20px;
  }
  .points-wrap .points-block .box-wrap .box .box-img {
    display: flex;
    justify-content: center;
  }
  .points-wrap .points-block .box-wrap .box .box-img>div {
    text-align: center;
  }
  .points-wrap .points-block .btn {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
  }
  .points-wrap .points-block .btn a {
    display: block;
    text-decoration: none;
    background: #E66700;
    color: #ffffff;
    padding: 10px 25px 11px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    transition: .2s;
    text-align: center;
  }
  .points-wrap .points-block .btn a:hover {
    opacity: .7;
  }
  .points-wrap .points-block .btn a span {
    display: block;
    position: relative;
  }
  .points-wrap .points-block .btn a span::after {
    content: "";
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 0px;
    top: calc(50% - 2px);
    position: absolute;
  }
  .points-wrap.yukyu .points-block {
    background: #18AED3;
    margin: 20px 0 20px 0px;
    min-height: 190px;
  }
  .points-wrap.yukyu .points-block.c2 {
    background: #18AED3;
  }
  .points-wrap.yukyu .points-block:nth-child(even) {
    background: #107189 !important;
  }
  .points-wrap.yukyu .points-block .points-block-inner {
    box-sizing: border-box;
    height: 100%;
    padding: 55px 15px 40px 150px;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .points-block-inner {
    padding: 55px 150px 40px 15px;
  }
  .points-wrap.yukyu .points-block .num {
    top: 5px;
    left: auto;
    right: 15px;
    width: auto;
    padding: 0 0px;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .num {
    left: 15px;
    right: auto;
  }
  .points-wrap.yukyu .points-block .num span {
    margin-left: 0px;
    font-size: 40px;
  }
  .points-wrap.yukyu .points-block .txt {
    padding: 0px 0 0px 0px;
  }
  .points-wrap.yukyu .points-block .txt .ttl {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .points-wrap.yukyu .points-block .txt p {
    color: #fff;
  }
  .points-wrap.yukyu .points-block .img {
    top: auto;
    right: auto;
    bottom: 0;
    left: -12px;
    height: auto;
    display: block;
    width: auto;
  }
  .points-wrap.yukyu .points-block:nth-child(even) .img {
    right: -15px;
    left: auto;
  }
  .points-wrap.yukyu .points-block .img img {
    width: 160px;
  }
  .points-block .hexa {
    left: 10px;
    top: -90px;
    width: 120px;
    height: 140px;
    line-height: 1.2;
    font-size: 16px;
  }
  .points-block .hexa.l1 {
    background-size: 120px;
  }
  .points-block .hexa.l2 {
    background-size: 120px;
  }
  .points-block .hexa.l3 {
    background-size: 120px;
  }
  .points-block .hexa .t1 {
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 15px;
  }
  .points-block .hexa .t2 {
    font-size: 24px;
    margin-bottom: 2px;
  }
  .points-block .hexa.l2 .t2 {
    font-size: 19px;
  }
  .points-wrap.mynumber .points-block {
    margin: -30px 0 0px 0px;
    padding-top: 120px;
    background: none;
  }
  .points-wrap.mynumber .points-block .num {
    left: 120px;
  }
  .points-wrap.mynumber .points-block .points-block-inner {
    padding: 60px 15px 40px;
  }
  .points-wrap.mynumber .flex {
    display: block;
  }
  .points-wrap.mynumber .flex .txt {
    width: auto;
  }
  .points-wrap.mynumber .flex .img-area {
    width: auto;
  }
  .points-wrap.mynumber .system {
    display: block;
    margin-left: 0px;
  }
  .points-wrap.mynumber .system dl {
    margin-left: 0px;
    margin-bottom: 15px;
    width: auto;
  }
  .points-wrap.mynumber .system.l2 dl {
    margin-left: 0px;
    width: auto;
  }
  .points-wrap.mynumber .system dl dt {
    font-size: 18px;
  }
  .points-wrap.mynumber .system dl dt .ico {
    width: 50px;
    margin-right: 7px;
  }
  .points-wrap.mynumber .system dl dd {
    font-size: 15px;
    padding: 10px 2px 15px;
  }


/*=========================*/
.block-ttl{
    margin-bottom: 20px;
}
  .block-ttl::before {
    width: 100px;
  }
  .block-ttl .num {
    font-size: 50px;
    color: #E66700;
    width: 40px;
    line-height: 1;
  }
  .block-ttl .ttl {
    width: calc(100% - 40px);
    font-size: 16px;
  }
  .block-ttl .main {
    margin-top: 2px;
    font-size: 20px;
  }



/*=========================*/
.feature-block {
    position: relative;
}
    .feature-block .list ul {
        display: block;
    }
    .feature-block .list ul li {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0px 40px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .feature-block .list ul li .img {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
        border-radius: 60px;
    }
    .feature-block .list ul li .txt-area {
        width: calc(100% - 120px);
    }
  .feature-block .list ul li .ttl {
    display: block;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    line-height: 1.3;
  }
  .feature-block .list ul li .ttl>div {
    display: block;
  }
  .feature-block .list ul li .ttl span {
    font-size: 16px;
  }
  .feature-block .list ul li .txt {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .feature-block .list.s2 ul li .img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-left: 0px;
  }
  .feature-block .list.s2 ul li .txt-area {
    width: calc(100% - 190px);
    padding-top: 20px;
  }
  .feature-block .list.s2 ul li .ttl {
    text-align: center;
    right: auto;
    top: calc(50% - 100px);
    left: 100px;
    width: 80px;
    height: 80px;
    font-size: 15px;
    display: table;
  }
  .feature-block .list.s2 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
  }
  .feature-block .list.s2 ul li .ttl span {
    font-size: 22px;
  }





/*=========================*/
.seminar-table.s-over {
    overflow-x: scroll;
}

/*セミナー情報*/
  .seminar-table.s-over {
    padding-bottom: 14px;
    position: relative;
  }
  .seminar-table.s-over table {
    width: 800px;
    margin:0 auto;
  }
  .seminar-table {
    margin-bottom: 30px;
  }
  .seminar-table table {
    width: 100%;
    font-size: 15px;
    display: block;
  }
    .seminar-table table thead{
        display: none;
    }
    .seminar-table table tbody{
        display: block;
    }
    .seminar-table table tr{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #333;
        padding:10px 0;
    }
    .seminar-table table tr:last-child{
        border-bottom: none;
    }
        .seminar-table table tr > *{
            display: block;
            border:none;
        }
        .seminar-table table tr > *:nth-child(1){
            width: auto;
        }
        .seminar-table table tr > *:nth-child(2){
            width: 100px;
        }
        .seminar-table table tr > *:nth-child(3){
            width: 100%;
            text-align: left;
        }
        .seminar-table table tr > *:nth-child(4){
            width: 100%;
        }
        .seminar-table table td > div {
            height: auto;
            justify-content: flex-start;
            padding: 5px 10px;
        }
        .seminar-table table tr > *:nth-child(3) > div{
            justify-content: flex-start;
            padding:10px 10px 5px;
        }
        .seminar-table table tr > *:nth-child(3) .date{
            display: flex;
            justify-content: flex-start;
            line-height: 1.1;
        }
            .seminar-table table tr > *:nth-child(3) .date span{
                margin-left: 10px;
                font-size: 15px;
            }
        .seminar-table table tr > *:nth-child(4) > div{
            justify-content: flex-start;
            padding:5px 10px;
        }
  .seminar-table table td.t1>div::after {
    border-width: 0 0 20px 20px;
  }
  .seminar-table table td.t2>div::after {
    border-width: 0 0 20px 20px;
  }
/*
  .seminar-table table th.th1 {
    width: 110px;
  }
  .seminar-table table th.th2 {
    width: 105px;
  }
  .seminar-table table th.th3 {
    width: 120px;
  }
  .seminar-table table td>div {
    height: auto;
    min-height: 3.5em;
    padding: 5px 5px;
  }
 
  .seminar-table table td.t1>div::after {
    border-width: 0 0 20px 20px;
  }
  .seminar-table table td.t2>div::after {
    border-width: 0 0 20px 20px;
  }
  .seminar-table table td .date {
    letter-spacing: 1px;
  }
  .seminar-table table td .date span {
    font-size: 14px;
  }
  .seminar-table table td.txt>div {
    font-size: 15px;
    padding: 0px 10px;
  }
  .seminar-table table td.txt>div.full {
    align-items: stretch;
    height: auto;
  }
  .seminar-table table td.txt>div.full::before {
    width: 5em;
    min-width: 5em;
    margin-right: 10px;
  }
  .seminar-table-txt {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 15px;
    color: #003846;
  }
  .seminar-table-txt>div {
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 20px;
  }
 */
   .seminar-table-txt>div {
    position: relative;
    padding-left: 30px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .seminar-table-txt>div.t1::before {
    border-width: 0 0 20px 20px;
  }
  .seminar-table-txt>div.t2::before {
    border-width: 0 0 20px 20px;
  }





















}/*=======================================================================*/
/*=======================================================================*/



@media screen and (max-width: 599px) {
  /*------------------------------------*/


  .feature-block .list {}
  .feature-block .list ul {
    display: block;
  }
  .feature-block .list ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0px 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .feature-block .list ul li .img {
    width: 90px;
    height: 90px;
    margin: 0 10px 0 0;
    border-radius: 45px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .feature-block .list ul li .txt-area {
    width: 100%;
  }
  .feature-block .list ul li .ttl {
    display: table;
    font-size: 18px;
    height: 90px;
    line-height: 1.3;
  }
  .feature-block .list ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
  }
  .feature-block .list ul li .ttl span {
    font-size: 15px;
  }
  .feature-block .list ul li .txt {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
  }
  .feature-block .list.s2 ul li {
    display: block;
  }
  .feature-block .list.s2 ul li .img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    margin: 0 auto 10px;
    left: -20px;
    position: relative;
  }
  .feature-block .list.s2 ul li .txt-area {
    width: 100%;
    padding-top: 0px;
  }
  .feature-block .list.s2 ul li .ttl {
    text-align: center;
    right: auto;
    top: -10px;
    left: calc(50% + 20px);
    width: 100px;
    height: 100px;
    background: #EF8300;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    display: table;
  }
  .feature-block .list.s2 ul li .ttl>div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
  }
  .feature-block .list.s2 ul li .ttl span {
    font-size: 28px;
  }
}

