@charset "UTF-8";
@media all and (-ms-high-contrast: none) {

.c-btn a, .c-btn button {
    padding-top: 8px;
}
.time-wrap .time-block .time-box .txt-area .ttl{
    padding: 16px 20px 7px;
}
.data-table-l table th .in .ico01{
	padding: 12px 20px 8px 30px;
	line-height: 20px;
}
.data-table-l table th .in .ico02{
	padding: 12px 20px 8px 30px;
	line-height: 20px;
}

}/*================================================*/
/*================================================*/
@media all and (-ms-high-contrast: none) and (max-width: 767px) {



}/*================================================*/
/*================================================*/