@charset "UTF-8";

/*=========================*/
header {
    position: relative;
    background: #000000;
    text-align: center;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background: #1d292c;
    color: #fff;
}
.footer-inner{
    padding:25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer .footer-r{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 15px;
    }
        footer .footer-r a{
            text-decoration: none;
            padding:2px 10px;
        }
    footer .nav ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
        footer .nav ul li{
            position: relative;
            padding:0 10px;
        }
        footer .nav ul li::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            height: 15px;
            background: #fff;
            transform: translateY(-50%);
        }
            footer .nav ul li a:hover{
                text-decoration: underline;
            }
    footer .copy{
        padding:0 10px;
    }
/*=========================*/
#pagetop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}
    #pagetop a{
        display: block;
        width: 55px;
        height: 55px;
        position: relative;
        background: #fff;
        border-radius: 30px;
        box-shadow: 0 1px 6px rgba(0,0,0,.3);
    }
        #pagetop a span{
            position: absolute;
            width: 2px;
            height: 15px;
            background: #333;
            top: calc(50% + 1px);
            left: calc(50% - 1px);
            transform: translateY(-50%);
        }
        #pagetop a span::before{
            position: absolute;
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-top: 2px solid #333;
            border-right: 2px solid #333;
            box-sizing: border-box;
            top: calc(50% - 2px);
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            
        }


/*=========================*/
.main-img{
    background: #fed700 url(../img/main_img.jpg) no-repeat center;
    background-size: cover;
    color: #001e2d;
    text-align: center;
    margin-bottom: 110px;
}

    .main-img .tag{
        position: absolute;
        right: 0;
        top: 70px;
    }
    .main-img .txt-area{
        padding:60px 0 250px;
    }

        .main-img .t1{
            display: block;
            font-weight: 900;
            line-height: 1.3;
            margin-bottom: 30px;
        }
            .main-img .t1 .t1-1{
                display: block;
                font-size: 86px;
            }
            .main-img .t1 .t1-2{
                display: block;
                font-size: 54px;
            }
        .main-img .t2{
            display: flex;
            align-items: stretch;
            justify-content: center;
            padding-bottom: 30px;
            box-sizing: border-box;
        }
        .main-img .t2.slide{
            display: block;
            padding-bottom: 0;
            width: 800px;
            margin:0 auto;
        }
            .main-img .t2::after{
                content:"";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 60px;
                background: #333;
            }
        .main-img .t2 .slick-list{
            padding-bottom: 30px;
        }
            .main-img .t2 li{
                padding:0 10px;
                box-sizing: border-box;
                position: relative;
                font-size: 28px;
                font-style: italic;
                font-weight: bold;
                line-height: 1.3;
            }
            .main-img .t2 li::before{
                content:"";
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 60px;
                background: #333;
            }
                .main-img .t2 li .sub{
                    position: absolute;
                    bottom: -20px;
                    left: 0px;
                    font-size: 12px;
                    font-style: normal;
                    color: #656565;
                    white-space: nowrap;
                    width: 100%;
                    text-align: center;
                }

    .main-img .img-area{
        position: absolute;
        left: 50%;
        bottom: -65px;
        transform: translateX(-50%);
    }
    .main-img .txt-area2{
        position: absolute;
        right: 0;
        bottom: -50px;
        font-size: 12px;
        color: #656565;
        text-align: right;
        line-height: 1.4;
    }


/*=========================*/
.bg-y{
    background: #fed700 url(../img/bg_y.jpg) no-repeat center;
    background-size: cover;
}
.section-inner {
    padding: 60px 0;
}
/*=========================*/
.c-ttl {
    color: #001e2d;
    border-bottom: 3px solid #001e2d;
    padding: 25px 0;
    line-height: 1.2;
    font-size: 38px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 60px;
}
    .c-ttl .sub{
        font-size: 26px;
        margin-bottom: 8px;
    }
.sub-ttl{
    font-size: 26px;
    font-weight: 700;
    color: #001E2C;
    text-align: center;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-bottom: 30px;
}


/*=========================*/
.c-btn {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .c-btn a, .c-btn button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        color: #fff;
        background: #E57200;
        text-decoration: none;
        box-sizing: border-box;
        border: none;
        width: calc(50% - 20px);
        height: 80px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        transition: 0.2s;
        position: relative;
        cursor: pointer;
        border-radius: 50px;
        box-shadow: 1px 2px 0 rgba(0,0,0,.7);
    }
    .c-btn a:hover,
    .c-btn button:hover {
        opacity: 0.8;
        transition: all .2s linear;
    }
    .c-btn a::after,
    .c-btn button::after {
        position: absolute;
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 2px solid #FFF;
        border-right: 2px solid #FFF;
        box-sizing: border-box;
        top: 50%;
        right: 30px;
        transform: translateY(-50%) rotate(45deg);
    }
    .c-btn .c2 {
        background: #001e2d;
        box-shadow: 1px 2px 0 rgba(0,0,0,.5);
    }

    .c-btn.s2 a, .c-btn.s2 button {
        width: calc(50% - 100px);
    }


/*=========================*/
.time-wrap {
  position: relative;
  margin-bottom: 80px;
}
    .time-wrap .time-t1 {
        text-align: center;
        color: #FFA61A;
        line-height: 1.0;
        font-weight: bold;
        margin-bottom: 100px;
        position: relative;
    }
        .time-wrap .time-t1 .time-t1-3 {
            color: #001e2d;
            font-size: 24px;
            font-weight: 700;
        }
        .time-wrap .time-t1 .time-t1-1 {
            font-size: 50px;
        }
            .time-wrap .time-t1 .time-t1-1 span {
                font-size: 140px;
                letter-spacing: 4px;
                margin-right: 10px;
            }
        .time-wrap .time-t1 .time-t1-2 {
            font-size: 55px;
            letter-spacing: 5px;
        }
        .time-wrap .time-t1 .img {
            position: absolute;
            width: 92px;
            left: calc(50% - 92px / 2);
            bottom: -130px;
            z-index: 2;
        }
            .time-wrap .time-t1 .img img {
                filter: drop-shadow(4px 3px 0px rgba(255, 255, 255, 1));
            }
    .time-wrap .time-block {
        display: flex;
        justify-content: space-between;
    }
        .time-wrap .time-block .time-box {
            width: calc(50% - 20px);
            background: #003847;
            color: #fff;
            box-sizing: border-box;
            padding: 50px 30px 45px;
            position: relative;
        }
            .time-wrap .time-block .time-box .o-t {
                position: absolute;
                height: 200px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                top: -200px;
                left: 0;
                box-sizing: border-box;
                padding-bottom: 10px;
                color: #003847;
                font-weight: 800;
                line-height: 1.0;
            }
                .time-wrap .time-block .time-box .o-t .t1 {
                    display: block;
                    font-size: 40px;
                    font-weight: bold;
                }
                .time-wrap .time-block .time-box .o-t .t2 {
                    display: block;
                    font-size: 30px;
                }
                    .time-wrap .time-block .time-box .o-t .t2 span {
                        font-size: 120px;
                        margin-right: 5px;
                    }

            .time-wrap .time-block .time-box .txt-area {
                position: relative;
                z-index: 2;
            }
                .time-wrap .time-block .time-box .txt-area .ttl {
                    background: #1A5261;
                    padding: 11px 20px 12px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 26px;
                    border-radius: 30px;
                    line-height: 1.2;
                    margin-bottom: 30px;
                }
                .time-wrap .time-block .time-box .txt-area .txt {
                    font-size: 22px;
                    font-weight: 600;
                    padding: 0 10px;
                }

            .time-wrap .time-block .time-box .img-area {
                position: absolute;
                z-index: 1;
                right: 100px;
                top: 30px;
                transform: translateY(-100%);
            }

        .time-wrap .time-block .time-box.s2 {
            background: #E57100;
        }
            .time-wrap .time-block .time-box.s2 .o-t {
                right: 0;
                left: auto;
                color: #E57100;
                background: url(https://www.officestation.jp/img/lp/bg_star.svg) no-repeat center;
                background-size: 280px auto;
                padding-left: 70px;
            }
                .time-wrap .time-block .time-box.s2 .txt-area .ttl {
                    background: #FFA61A;
                }
            .time-wrap .time-block .time-box.s2 .img-area {
                left: 110px;
                right: auto;
            }


/*=========================*/
.time-wrap2 {
    position: relative;
    padding: 0px 0;
}
    .time-wrap2 .box {
        background: #f6f6f6;
        border: 1px solid #eee;
        margin: 25px auto 65px;
        position: relative;
        padding: 45px 45px 25px;
    }

/*=========================*/
.time-wrap3{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin-bottom: 40px;
}
    .time-wrap3 .block{
        position: relative;
        background: #1a5261;
        color: #fff;
        width: calc(50% - 20px);
        box-sizing: border-box;
        padding:40px;
        border-radius: 3px;
    }
        .time-wrap3 .block .ttl{
            font-size: 22px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 15px;
        }
        .time-wrap3 .block p{
            font-size: 16px;
        }
    .time-wrap3 .block::before{
        content: "";
        width: 34px;
        height: 43px;
        background: url(../img/box_ico.png) no-repeat center;
        position: absolute;
        right: 24px;
        top: -22px;

    }
    .time-wrap3 .block::after{
        content: "";
        position: absolute;
        right: 180px;
        bottom: -40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 30px 0 30px;
        border-color: #1a5261 transparent transparent transparent;
        transform: rotate(-40deg);
    }
    .time-wrap3 .block:nth-child(even)::after{
        left: 180px;
        right: auto;
        transform: rotate(40deg);
    }

/*=========================*/
.data-table-l {
    margin-bottom: 20px;
}
    .data-table-l table {
        width: 100%;
        border-collapse: collapse;
        color: #001E2C;
        font-size: 18px;
        background: #fff;
        border: 2px solid #091e23;
    }
        .data-table-l table th {
            padding: 15px 10px;
            vertical-align: middle;
            text-align: center;
            font-weight: 600;
            border: 2px solid #091e23;
        }
        .data-table-l table td {
            padding: 12px 10px;
            vertical-align: middle;
            text-align: center;
            background: #fff;
            border: 2px solid #091e23;
        }

.data-table-l table.b1, .data-table-l table.b1 th, .data-table-l table.b1 td {
    border-width: 1px;
}

.data-table-l table .bt2 th, .data-table-l table .bt2 td {
    border-top-width: 2px;
}

.data-table-l table .bt1 {
    border-top-width: 1px;
}

.data-table-l table .btdot {
    border-top-style: dotted;
}

.data-table-l table .bb1 {
    border-bottom-width: 1px;
}
.data-table-l table .bb0 {
    border-bottom: none;
}

.data-table-l table .bbdot {
    border-bottom-style: dotted;
}

.data-table-l table.boder-c2, .data-table-l table.boder-c2 th, .data-table-l table.boder-c2 td {
    border-color: #ccc;
}

.data-table-l table thead th {
    background: #003847;
    color: #fff;
    border-right-color: #fff;
}

.data-table-l table.b1 thead th {
    background: #001E2D;
}

.data-table-l table th:last-child {
    border-right: none;
}

.data-table-l table thead td {}

.data-table-l table .p1 {
    padding: 0 10px;
}

.data-table-l table .p2 {
    padding: 12px 10px;
}

.data-table-l table .p3 {
    padding: 5px 10px;
}

.data-table-l table .b1 {
    background: #003847;
    color: #fff;
}

.data-table-l table .b2 {
    background: #257387;
}

.data-table-l table .b3 {
    background: #ffa61a;
}

.data-table-l table .b4 {
    background: #FF8C00;
}

.data-table-l table .b5 {
    background: #E57200;
}

.data-table-l table .b6 {
    background: #18AED3;
}

.data-table-l table a {
    color: #E57200;
}

.data-table-l table a:hover {
    text-decoration: none;
}

.data-table-l table th .in {
    position: relative;
    min-height: 40px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    line-height: 1.3;
}

.data-table-l table th.t-l .in {
    justify-content: flex-start;
}

.data-table-l table th .num {
    position: absolute;
    top: calc(50% - 27px);
    right: 0;
    color: #CAD9E0;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
}

.data-table-l table th .num.block {
    position: static;
    margin-right: 15px;
}

.data-table-l table th .num.c2 {
    color: #DED5B6;
}

.data-table-l table th .in .ico01 {
    background: url(https://www.officestation.jp/img/lp/t_ico01.png) no-repeat left center;
    padding: 0 20px 0 30px;
    line-height: 28px;
}

.data-table-l table th .in .ico02 {
    background: url(https://www.officestation.jp/img/lp/t_ico02.png) no-repeat left center;
    padding: 0 20px 0 30px;
    line-height: 28px;
}

.data-table-l table th .in2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.data-table-l table th .in2 .ico {
    font-size: 80px;
    line-height: 1;
    color: #FFA719;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    font-weight: 500;
}

.data-table-l table td .arrow {
    text-align: center;
}

.data-table-l table td .arrow img {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 30px;
}

.data-table-l table .bg-par {
    width: 110px;
    height: 110px;
    color: #fff;
    background: url(https://www.officestation.jp/img/lp/bg_par01.svg) no-repeat center;
    background-size: 110px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 800;
    margin-left: 5px;
}

.data-table-l table .bg-par.c2 {
    background: url(https://www.officestation.jp/img/lp/bg_par02.svg) no-repeat center;
    background-size: 110px;
}

.data-table-l table .bg-par.c3 {
    background: url(https://www.officestation.jp/img/lp/bg_par03.svg) no-repeat center;
    background-size: 110px;
}

.data-table-l table .bg-par span {
    font-size: 36px;
}

.data-table-l table td .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table-l table td .img img {
    margin: 0 10px;
}


/*-----------*/
    .data-table-l.separate table {
        border-collapse: separate;
        border-spacing: 10px 0;
        border:none;
    }
        .data-table-l.separate table th,
        .data-table-l.separate table td{
            border-width: 1px;
        }
        .data-table-l.separate table th:last-child {
            border-right: 1px solid #091e23;
        }
        .data-table-l.separate table thead th,
        .data-table-l.separate table thead td{
            border-radius: 5px 5px 0 0;
        }
        .data-table-l.separate table tfoot th,
        .data-table-l.separate table tfoot td{
            border-radius: 0 0 5px 5px;
        }
        .data-table-l.separate table thead th{
            border-right-color: #091e23;
        }







/*=========================*/
.points-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-left: -40px;
}

.points-wrap.c3 {
  margin-left: -30px;
}

.points-wrap .points-block {
  width: calc(50% - 40px);
  background: #F6F6F6;
  margin: 60px 0 20px 40px;
  position: relative;
}

.points-wrap .points-block.wide {
  width: 100%;
}

.points-wrap .points-block.c3 {
  width: calc(33.333% - 30px);
  margin-left: 30px;
}

.points-wrap .points-block .points-block-inner {
  padding: 60px 40px;
}

.points-wrap .points-block .points-block-inner2 {
  padding: 110px 30px 70px;
}

.points-wrap .points-block .points-block-inner3 {
  padding: 30px 25px 40px;
}

.points-wrap .points-block .num {
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  color: #E56600;
  line-height: 1.5;
  position: absolute;
  top: -65px;
  left: 0px;
  width: auto;
  box-sizing: border-box;
  padding: 0 35px;
}

.points-wrap .points-block .num span {
  font-size: 90px;
  font-style: normal;
  line-height: 1;
  margin-left: 3px;
}

.points-wrap .points-block .step {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  background: #FFC100;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.1;
  position: absolute;
  top: -50px;
  left: 30px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  box-sizing: border-box;
}

.points-wrap .points-block .step span {
  font-size: 45px;
  line-height: 1;
  font-weight: 800;
}

.points-wrap .points-block .img-area {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.points-wrap .points-block .txt {
  position: relative;
  z-index: 2;
}

.points-wrap .points-block .txt .ttl {
  font-size: 24px;
  font-weight: 800;
  color: #003846;
  margin-bottom: 15px;
  line-height: 1.3;
}

.points-wrap .points-block .txt .ttl span {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

.points-wrap .points-block .txt p {
  color: #333;
  font-size: 16px;
  line-height: 1.7;
}

.points-wrap .points-block .txt p.p0 {
  padding-right: 0px;
}

.points-wrap .points-block .txt p.p1 {
  padding-right: 160px;
}

.points-wrap .points-block .txt p.p2 {
  padding-right: 160px;
}

.points-wrap .points-block .txt p.p3 {
  padding-right: 190px;
}

.points-wrap .points-block .txt p.p4 {
  padding-right: 270px;
}

.points-wrap .points-block .img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.points-wrap .points-block .img.r2 {
  right: 20px;
}

.points-wrap .points-block .box-wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  margin-left: -25px;
  margin-bottom: 10px;
}

.points-wrap .points-block .box-wrap .box {
  position: relative;
  background: #fff;
  width: calc(50% - 25px);
  margin-left: 25px;
  box-sizing: border-box;
  padding: 70px 0 20px;
}

.points-wrap .points-block .box-wrap .box .box-ttl {
  position: absolute;
  top: 13px;
  left: -4px;
  background: #E56600;
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: 45px;
  padding: 0 22px;
}

.points-wrap .points-block .box-wrap .box .box-ttl::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 4px 4px;
  border-color: transparent transparent #733400 transparent;
  position: absolute;
  left: 0;
  top: -4px;
}

.points-wrap .points-block .box-wrap .box .box-ttl.t2 {
  background: #063C4A;
}

.points-wrap .points-block .box-wrap .box .box-ttl.t2::before {
  border-color: transparent transparent #000000 transparent;
}

.points-wrap .points-block .box-wrap .box .box-img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.points-wrap .points-block .box-wrap .box .box-img div {
  padding: 0 10px;
}

.points-wrap .points-block .btn {
  position: absolute;
  left: 0;
  bottom: 50px;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
}

.points-wrap .points-block .btn a {
  display: block;
  text-decoration: none;
  background: #E66700;
  color: #ffffff;
  padding: 12px 25px 13px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  transition: .2s;
  text-align: center;
}

.points-wrap .points-block .btn a:hover {
  opacity: .7;
}

.points-wrap .points-block .btn a span {
  display: block;
  position: relative;
}

.points-wrap .points-block .btn a span::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0px;
  top: calc(50% - 2px);
  position: absolute;
}

.points-wrap.yukyu .points-block {
  background: #18AED3;
  margin: 20px 0 20px 40px;
  min-height: 390px;
}

.points-wrap.yukyu .points-block.c2 {
  background: #107189;
}

.points-wrap.yukyu .points-block .points-block-inner {
  box-sizing: border-box;
  height: 100%;
  padding: 110px 30px 30px 250px;
}

.points-wrap.yukyu .points-block:nth-child(even) .points-block-inner {
  padding: 110px 250px 30px 30px;
}

.points-wrap.yukyu .points-block .num {
  color: #FFFF4D;
  top: 5px;
  left: auto;
  right: 25px;
  width: auto;
  padding: 0 0px;
}

.points-wrap.yukyu .points-block:nth-child(even) .num {
  left: 25px;
  right: auto;
}

.points-wrap.yukyu .points-block .num span {
  margin-left: 0px;
}

.points-wrap.yukyu .points-block .txt {
  padding: 0px 0 0px 0px;
}

.points-wrap.yukyu .points-block .txt .ttl {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
}

.points-wrap.yukyu .points-block .txt p {
  color: #fff;
}

.points-wrap.yukyu .points-block .img {
  top: auto;
  right: auto;
  bottom: 0;
  left: -55px;
  height: auto;
  display: block;
}

.points-wrap.yukyu .points-block:nth-child(even) .img {
  right: -55px;
  left: auto;
}

.points-wrap.yukyu .points-block .img img {
  width: 300px;
}


/*=========================*/
.block-ttl {
  margin-bottom: 30px;
  position: relative;
  color: #06222d;
  font-size: 22px;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.block-ttl .num {
  font-size: 96px;
  color: #E66700;
  width: 75px;
  line-height: 1;
}

.block-ttl .main {
  font-size: 34px;
  color: #1A5261;
  font-weight: 800;
}




/*=========================*/
.feature-block {
    position: relative;
}
.feature-block .list ul {
    display: flex;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
    .feature-block .list ul li {
        width: calc(33.333% - 40px);
        margin: 0 20px 40px;
        position: relative;
    }
        .feature-block .list ul li .img {
            width: 140px;
            height: 140px;
            margin: 0 auto 20px;
            border-radius: 70px;
            background-color: #F6F6F6;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

.feature-block .list ul li .ttl {
  display: table;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  line-height: 1.3;
}

.feature-block .list ul li .ttl>div {
  display: table-cell;
  vertical-align: top;
}

.feature-block .list ul li .ttl span {
  font-size: 18px;
}

.feature-block .list ul li .txt {
  font-size: 15px;
  line-height: 1.5;
}

.feature-block .list.s2 ul li .img {
  width: 225px;
  height: 225px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 113px;
  margin-left: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feature-block .list.s2 ul li .ttl {
  position: absolute;
  right: 10px;
  top: -10px;
  width: 110px;
  height: 110px;
  background: #EF8300;
  color: #fff;
  border-radius: 55px;
  font-size: 17px;
  font-weight: 900;
}

.feature-block .list.s2 ul li .ttl>div {
  vertical-align: middle;
}

.feature-block .list.s2 ul li .ttl span {
  font-size: 28px;
}

/*=========================*/
.seminar-table.s-over {
    overflow-x: scroll;
}

/*セミナー情報*/

.seminar-table {
    margin-bottom: 30px;
}

.seminar-table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #081F27;
    color: #003846;
    font-size: 18px;
    line-height: 1.3;
    background: #fff;
}

.seminar-table table th {
    background: #011E2E;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #fff;
    padding: 15px 5px;
    font-weight: 500;
    box-sizing: border-box;
}

.seminar-table table th:first-child {
    border-left: 1px solid #081F27;
}

.seminar-table table th.th1 {
    width: 120px;
}

.seminar-table table th.th2 {
    width: 120px;
}

.seminar-table table th.th3 {
    width: 150px;
}

.seminar-table table td {
    border: 1px solid #011E2E;
    font-weight: 600;
}

.seminar-table table td>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.seminar-table table td.t1>div::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #21a0ae transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

.seminar-table table td.t2>div::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #E66700 transparent;
    position: absolute;
    right: 0;
    bottom: 0;
}

.seminar-table table td .date {
    letter-spacing: 2px;
}

.seminar-table table td .date span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.seminar-table table td.txt>div {
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
}

.seminar-table table td.txt>div.full {
    align-items: stretch;
    height: auto;
}

.seminar-table table td.txt>div.full::before {
    content: "満員御礼";
    background: #9A9B8B;
    color: #fff;
    width: 120px;
    margin-right: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    min-width: 5em;
}

.seminar-table table td.txt>div.full p {
    display: flex;
    align-items: center;
}

.seminar-table table td a {
    color: #F27300;
}

.seminar-table table td a:hover {
    text-decoration: none;
}

.seminar-table-txt {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
    color: #003846;
}

.seminar-table-txt>div {
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.seminar-table-txt>div.t1::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #21a0ae transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

.seminar-table-txt>div.t2::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 27px 27px;
    border-color: transparent transparent #E66700 transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}
/*=========================*/
/*=========================*/