.l-container {

    width: $site-width;
    margin: 0 auto;
    padding-bottom: 150px;

    @include mq(lg) {

        width: 100%;
        padding: 0 24px 100px;
    }

    @include mq(sm) {

        padding: 0 6% 64px;
    }

    &__title {

        margin: 0;
        text-align: center;
        font-size: 30px;
        color: #444;
        position: relative;
        margin-bottom: 80px;
        font-weight: 800;
        letter-spacing: 0.2em;

        @include mq(sm) {

            font-size: 1.6rem;
            margin-bottom: 70px;
        }
    }

    &__sub-title {

        color: #4868dd;
        display: block;
        font-size: 24px;
        margin-top: 16px;
        letter-spacing: 0em;

        @include mq(sm) {

            font-size: 1.2rem;
            margin-top: 10px;
        }

        &::after {

            content: '';
            position: absolute;
            left: 50%;
            bottom: -26px;
            display: inline-block;
            width: 80px;
            height: 4px;
            transform: translate(-50%);
            background-color: #ff7e00;
        }
    }

    &__fluid {

        width: 100%;
    }

    &__flex {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
