.l-footer {

    background: $bgColor-bk;
    color: $txtColor-white;
    display: flex;

    &__logo {

        @extend .l-header__logo;
    }

    &__copy-right {

        white-space: nowrap;

        @include mq(sm) {

            font-size: .8rem;
        }
    }
}
