.l-header {

    background-color: $bgColor-bk;
    margin-bottom: 3rem;

    @include mq(lg) {

        margin-bottom: 2rem;
    }

    &__logo {

        height: $header-height__pc;
        display: flex;
        align-items: center;

        @include mq(lg) {

            height: $header-height__sp;
        }

        img {

            @include mq(sm) {

              width: 70%;
            }
        }
    }
}
