@charset "UTF-8";
/*---------------------------------
  
  変数宣言

---------------------------------*/
.banner, .block3, .block4, .block5 .points, .block6, .block7, .block8 {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
}

/*---------------------------------
  
  CSSリセット等

---------------------------------*/
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #001e2d;
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  max-width: 100%;
}

body .pc {
  display: inline-block;
}

body .sp {
  display: none !important;
}

body p {
  margin: 0;
}

body ul,
body li {
  margin: 0;
  padding: 0;
}

body .org {
  color: #e57200 !important;
  font-weight: 700 !important;
}

/*---------------------------------
  
  index.html(他htmlとの共通スタイルも含む)

---------------------------------*/
.block h3 {
  font-size: 4rem;
  letter-spacing: 0.04em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.block h3::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #001e2d;
  top: 0;
  left: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  display: inline-block;
}

.block h3::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #001e2d;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  display: inline-block;
}

.block h4 {
  font-size: 3.3rem;
  font-weight: 900;
  text-align: center;
}

.block .txt {
  font-size: 1.8rem;
  line-height: 3.5rem;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.block .txt .yellow_line {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(0%, #fffc00));
  background: linear-gradient(transparent 75%, #fffc00 0%);
  font-weight: 700;
}

.block a,
.block .compare_btn,
.block .fixed_links a {
  cursor: pointer;
  display: block;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.block a:hover,
.block .compare_btn:hover,
.block .fixed_links a:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

.block a:link {
  text-decoration: none;
  color: inherit;
}

.block a:visited {
  color: inherit;
}

.block a.d_inline {
  display: inline;
}

.block .fixed_links .pc {
  display: block;
  position: fixed;
  bottom: -3px;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 101;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.block .fixed_links .pc .toggle_btn {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #080a0b;
  position: absolute;
  top: -25px;
  right: 0;
  cursor: pointer;
}

.block .fixed_links .pc .toggle_btn::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  border-radius: 3px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
  left: 5px;
}

.block .fixed_links .pc .toggle_btn::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 15px;
  border-radius: 3px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
  left: 5px;
}

.block .fixed_links .pc.close {
  bottom: -135px;
}

.block .fixed_links .pc.close .toggle_btn::before {
  width: 10px;
  left: 11px;
}

.block .fixed_links .pc.close .toggle_btn::after {
  width: 10px;
  left: 4.3px;
}

.mv_bg {
  background-image: url("../img/bg01.png");
  position: relative;
  background-size: cover;
  background-position: top center;
  padding: 100px 15px 335px;
}

.mv_bg::after {
  content: "※オフィスステーションシリーズ累計";
  bottom: -20px;
  right: 12px;
  display: block;
  position: absolute;
  font-size: 1.1rem;
  color: #888888;
}

.block1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
}

.block1 header h1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.block1 header h1 .logo {
  width: 90%;
  vertical-align: middle;
}

.block1 header h2 {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
}

.block1 header h2 span {
  color: #ffde00;
}

.block1 header .dwl {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-color: #ffde00;
  border-radius: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.4rem;
  padding: 0.6em 1.1em;
  font-weight: 700;
  margin-left: 21px;
}

.block1 header .dwl::after {
  content: "";
  background-image: url("../img/img08.png");
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-left: 0.3em;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.block1 .main_title {
  text-align: center;
}

.block1 .main_title img {
  display: block;
  margin: auto;
}

.block1 .main_title .e-gov {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 12px;
  color: #000000;
  margin-top: 20px;
}

.block1 .main_title h2 {
  margin: 15px auto 20px;
}

.block1 .main_title dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block1 .main_title dl div {
  font-weight: 700;
  font-style: italic;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 5px 26px;
  letter-spacing: 0.02em;
}

.block1 .main_title dl div dt {
  font-size: 1.7rem;
  line-height: 105%;
}

.block1 .main_title dl div dd {
  font-size: 3rem;
  margin: 0;
}

.block1 .main_title dl div dd .kome {
  font-size: 1.1rem;
  vertical-align: super;
  padding-left: 0.3em;
}

.block1 .main_title dl div:last-child {
  border-right: 1px solid #fff;
}

.block1 .btn_wrapper {
  margin: 50px auto 20px;
}

.block1 .btn_wrapper .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block1 .btn_wrapper .btns a:first-child {
  margin-right: 14px;
}

.block1 .mv_pc {
  position: absolute;
  left: 50%;
  bottom: -72px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block2 {
  margin-top: 150px;
}

.block2 h3::before {
  position: absolute;
}

.block2 h3::after {
  position: absolute;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .block2 h3::before {
    top: 105px;
    left: -60px;
  }
  .block2 h3::after {
    top: 105px;
    left: unset;
    right: -60px;
  }
}

@media all and (-ms-high-contrast: none) {
  .block2 h3::before {
    top: 95px;
    left: 55px;
  }
  .block2 h3::after {
    top: 95px;
    left: 970px;
  }
}

@supports (-ms-ime-align: auto) {
  .block2 h3::before {
    top: 110px;
    left: 55px;
  }
  .block2 h3::after {
    top: 110px;
    right: 55px;
  }
}

.block2 .txt {
  margin-bottom: 65px;
}

.block2 > div:first-of-type {
  max-width: 1100px;
  margin: 0 auto;
}

.block2 > div:nth-of-type(2) {
  background-color: rgba(107, 107, 107, 0.12);
  text-align: center;
  padding: 75px 0 130px;
  position: relative;
}

.block2 > div:nth-of-type(2)::before {
  content: "";
  border-top: 33px solid #fff;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block2 > div:nth-of-type(2) h4 {
  margin: 0 auto 25px;
}

.block2 > div:nth-of-type(2) .function,
.block2 > div:nth-of-type(2) .effect {
  max-width: 1100px;
  margin: auto auto 70px;
}

.block2 > div:nth-of-type(2) .function > p,
.block2 > div:nth-of-type(2) .effect > p {
  font-size: 1.8rem;
  line-height: 3.3rem;
  margin: 25px auto;
}

.block2 > div:nth-of-type(2) .function ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.13);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

.block2 > div:nth-of-type(2) .function ul li {
  width: 33.33%;
  padding: 50px 35px;
  counter-increment: number;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block2 > div:nth-of-type(2) .function ul li h5 {
  font-size: 2.3rem;
  margin: 24px auto 32px;
}

.block2 > div:nth-of-type(2) .function ul li p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: left;
}

.block2 > div:nth-of-type(2) .function ul li::before {
  content: "0" counter(number);
  top: 0;
  left: -4px;
  font-size: 7vw;
  position: absolute;
  font-family: "Roboto Condensed";
  color: rgba(237, 237, 237, 0.6);
  line-height: 0.74;
}

.block2 > div:nth-of-type(2) .function ul li:nth-child(2) {
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
}

.banner {
  margin-top: -140px;
}

.banner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner > div a {
  outline-style: none;
}

.banner > div a img {
  max-width: 100%;
}

.block3 .notes {
  font-size: 1.6rem;
  padding-bottom: 20px;
  color: #e57200;
  font-weight: 700;
}

.block3 .tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3 .tables table {
  border: 1px solid #b2bbc0;
  width: 550px;
  height: 672px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #001e2d;
  border-collapse: collapse;
}

.block3 .tables table thead tr {
  height: 80px;
}

.block3 .tables table:nth-of-type(2) {
  border-left-style: none;
}

.block3 .tables table:nth-of-type(2) tr th:first-child,
.block3 .tables table:nth-of-type(2) tr td:first-child {
  border-left-style: none;
}

.block3 .tables table tr {
  height: 60px;
}

.block3 .tables table tr .heading {
  text-align: center;
  padding: 0 0.5em;
  background-color: #eeeeee;
}

.block3 .tables table tr th {
  background-color: #eeeeee;
  font-size: 1.5rem;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  border: 1px solid #b2bbc0;
  font-weight: 700;
}

.block3 .tables table tr th:first-child {
  width: 16%;
}

.block3 .tables table tr th:nth-child(2) {
  width: 64%;
}

.block3 .tables table tr th:nth-child(3), .block3 .tables table tr th:last-child {
  width: 10%;
}

.block3 .tables table tr td {
  font-size: 1.4rem;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #b2bbc0;
  font-weight: 400;
}

.block4 {
  margin-top: 60px;
}

.block4 h4 {
  margin-bottom: 32px;
}

.block4 .compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block4 .compare > div {
  width: calc(50% - 10px);
  padding: 43px 0;
  background-color: #eeeeee;
  border: 2px solid #b2bbc0;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.block4 .compare > div p {
  font-size: 1.8rem;
  line-height: 2.9rem;
  letter-spacing: 0.04em;
  padding-bottom: 20px;
}

.block4 .compare > div .compare_btn img {
  margin: auto;
}

.block4 .modal1,
.block4 .modal2 {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  padding: 60px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

.block4 .modal1 .close_btn,
.block4 .modal2 .close_btn {
  width: 30px;
  height: 30px;
  color: #fff;
  position: fixed;
  top: 0;
  right: 50px;
  cursor: pointer;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.block4 .modal1 .inner,
.block4 .modal2 .inner {
  max-width: 1200px;
  background-color: #fff;
  margin: 0 auto;
  padding: 40px 0;
}

.block4 .modal1 .inner h3::before,
.block4 .modal2 .inner h3::before {
  top: 105px;
  left: -60px;
  position: absolute;
}

.block4 .modal1 .inner h3::after,
.block4 .modal2 .inner h3::after {
  top: 105px;
  left: unset;
  right: -60px;
  position: absolute;
}

@media all and (-ms-high-contrast: none) {
  .block4 .modal1 .inner h3::before,
  .block4 .modal2 .inner h3::before {
    left: 175px;
  }
}

@supports (-ms-ime-align: auto) {
  .block4 .modal1 .inner h3::before,
  .block4 .modal2 .inner h3::before {
    top: 110px;
    left: 200px;
  }
  .block4 .modal1 .inner h3::after,
  .block4 .modal2 .inner h3::after {
    top: 105px;
    right: 200px;
  }
}

.block4 .modal1 .inner table,
.block4 .modal2 .inner table {
  border-collapse: separate;
  border-spacing: 10px 3px;
  table-layout: fixed;
  max-width: 100%;
  z-index: 1;
  margin: auto;
}

.block4 .modal1 .inner table thead,
.block4 .modal2 .inner table thead {
  text-align: center;
}

.block4 .modal1 .inner table thead th:first-child,
.block4 .modal2 .inner table thead th:first-child {
  width: 190px;
  border-bottom: 2px solid #b2bbc0;
}

.block4 .modal1 .inner table thead th:not(:first-child),
.block4 .modal2 .inner table thead th:not(:first-child) {
  width: 450px;
  padding: 36px 0 21px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block4 .modal1 .inner table thead th:nth-child(2),
.block4 .modal2 .inner table thead th:nth-child(2) {
  background-color: #eeeeee;
  border-radius: 7px 7px 0 0;
  position: relative;
}

.block4 .modal1 .inner table thead th:nth-child(2)::before,
.block4 .modal2 .inner table thead th:nth-child(2)::before {
  content: "政府提供";
  position: absolute;
  width: 304px;
  border-radius: 7px;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block4 .modal1 .inner table thead th:nth-child(2)::after,
.block4 .modal2 .inner table thead th:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  display: block;
}

.block4 .modal1 .inner table thead th:last-child,
.block4 .modal2 .inner table thead th:last-child {
  background-color: #fcf1e5;
  border: 2px solid #e57200;
  border-radius: 7px 7px 0 0;
  position: relative;
}

.block4 .modal1 .inner table thead th:last-child::before,
.block4 .modal2 .inner table thead th:last-child::before {
  position: absolute;
  background-color: #e57200;
  width: 304px;
  border-radius: 7px;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block4 .modal1 .inner table thead th:last-child::after,
.block4 .modal2 .inner table thead th:last-child::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 19px solid #e57200;
  display: block;
}

.block4 .modal1 .inner table tbody tr,
.block4 .modal2 .inner table tbody tr {
  font-size: 1.6rem;
}

.block4 .modal1 .inner table tbody tr:last-of-type td,
.block4 .modal2 .inner table tbody tr:last-of-type td {
  border-radius: 0 0 7px 7px;
}

.block4 .modal1 .inner table tbody tr th,
.block4 .modal2 .inner table tbody tr th {
  font-weight: 700;
  padding: 30px 0;
  border-bottom: 2px solid #b2bbc0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  max-width: 190px;
}

.block4 .modal1 .inner table tbody tr td,
.block4 .modal2 .inner table tbody tr td {
  border-top-style: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 41px 30px 50px;
  max-width: 450px;
}

.block4 .modal1 .inner table tbody tr td .capture,
.block4 .modal2 .inner table tbody tr td .capture {
  margin-bottom: 10px;
}

.block4 .modal1 .inner table tbody tr td .material-icons,
.block4 .modal2 .inner table tbody tr td .material-icons {
  color: #e57200;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1),
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) {
  padding-left: 30px;
  background-color: #eeeeee;
  font-weight: 400;
  vertical-align: baseline;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span,
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span {
  padding-left: 19px;
  display: inline-block;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none),
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none) {
  display: block;
  position: relative;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none)::before,
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none)::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 55%;
  left: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none):not(:last-child),
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none):not(:last-child) {
  padding-bottom: 11px;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none):not(:last-child)::before,
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none):not(:last-child)::before {
  top: 40%;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none).no_btm_padding,
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none).no_btm_padding {
  padding-bottom: 0;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none).no_btm_padding::before,
.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none).no_btm_padding::before {
  top: 50%;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(2),
.block4 .modal2 .inner table tbody tr td:nth-of-type(2) {
  padding-left: 30px;
  font-weight: 700;
  background-color: #fcf1e5;
  border: 2px solid #e57200;
  vertical-align: baseline;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(2) span,
.block4 .modal2 .inner table tbody tr td:nth-of-type(2) span {
  display: block;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(2) span:not(:last-child),
.block4 .modal2 .inner table tbody tr td:nth-of-type(2) span:not(:last-child) {
  padding-bottom: 11px;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(2) p,
.block4 .modal2 .inner table tbody tr td:nth-of-type(2) p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(2) p:not(:last-of-type),
.block4 .modal2 .inner table tbody tr td:nth-of-type(2) p:not(:last-of-type) {
  margin-bottom: 5px;
}

.block4 .modal1 .inner table thead th:nth-child(2) {
  border: 2px solid #576ea9;
}

.block4 .modal1 .inner table thead th:nth-child(2)::before {
  background-color: #3d4d97;
}

.block4 .modal1 .inner table thead th:nth-child(2)::after {
  border-top: 19px solid #3d4d97;
}

.block4 .modal1 .inner table thead th:last-child::before {
  content: "e-Gov外部連携API対応";
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) {
  border: 2px solid #576ea9;
}

.block4 .modal1 .inner table tbody tr td:nth-of-type(1) span:not(.none)::before {
  background-color: #16378a;
}

.block4 .modal2 .inner table thead th:nth-child(2) {
  color: #608359;
  font-size: 2.7rem;
  font-weight: 400;
  border: 2px solid #608359;
}

.block4 .modal2 .inner table thead th:nth-child(2) span {
  font-weight: 700;
}

.block4 .modal2 .inner table thead th:nth-child(2)::before {
  background-color: #608359;
}

.block4 .modal2 .inner table thead th:nth-child(2)::after {
  border-top: 19px solid #608359;
}

.block4 .modal2 .inner table thead th:last-child::before {
  content: "e-Gov連携ツールを活用した場合";
}

.block4 .modal2 .inner table tbody tr td:nth-of-type(1) {
  border: 2px solid #608359;
}

.block4 .modal2 .inner table tbody tr td:nth-of-type(1) span:not(.none)::before {
  background-color: #608359;
}

.block5 .points {
  text-align: center;
  margin-top: 70px;
}

.block5 .points ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 24px;
  list-style-type: none;
  padding: 0;
}

.block5 .points ul li {
  width: 360px;
  padding: 53px 30px;
  -webkit-box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 100;
  background-color: #fff;
  font-weight: 400;
}

.block5 .points ul li:not(:last-child) {
  margin-right: 10px;
}

.block5 .points ul li strong {
  color: #e57200;
  font-weight: 700;
  padding: 23px 0 10px 0;
  display: block;
  font-size: 2.1rem;
}

.block5 .points ul li p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.04em;
  width: 295px;
  text-align: left;
}

.block5 .points ul li .orange {
  color: #e57200;
  position: relative;
  padding-top: 20px;
}

.block5 .points ul li .orange a {
  border-bottom: 1px solid #e57200;
  display: inline-block;
}

.block5 .points ul li .orange span {
  display: inline-block;
  position: absolute;
  top: 27.5px;
  right: 9px;
  font-size: 1.5rem;
}

.block5 .apply {
  padding: 77px 0 85px;
  background-image: url("../img/bg02.png");
  text-align: center;
  color: #fff;
  background-size: cover;
  margin-top: -40px;
}

.block5 .apply img {
  display: block;
  margin: auto;
}

.block5 .apply .e-gov {
  font-size: 2.3rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 15px;
}

.block5 .apply h2 {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 20px auto 35px;
}

.block5 .apply h2 p:first-child {
  font-size: 2.9rem;
}

.block5 .apply h2 p:first-child span {
  font-size: 2.2rem;
}

.block5 .apply h2 p:last-child {
  font-size: 4.3rem;
}

.block5 .apply .btn_wrapper .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block5 .apply .btn_wrapper .btns a:nth-of-type(1) {
  margin-right: 40px;
}

.block6 dl {
  border: 3px solid #e57200;
  border-radius: 12px;
  padding: 25px 30px;
  counter-increment: qa-number;
}

.block6 dl:not(first-child) {
  margin-top: 15px;
}

.block6 dl dt {
  color: #e57200;
  font-size: 1.8rem;
  position: relative;
  padding-left: 85px;
  font-weight: 700;
}

.block6 dl dt::before {
  content: "Q" counter(qa-number);
  color: #fff;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #e57200;
  font-family: "Roboto Condensed";
  font-size: 1.7rem;
  display: inline-block;
  top: 50%;
  left: 30px;
  line-height: 36px;
  text-align: center;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.block6 dl dd {
  font-size: 1.6rem;
  padding-top: 10px;
  padding-left: 85px;
  font-weight: 400;
  margin: 0;
}

.block6 dl dd a {
  display: inline;
  color: #e57200;
  text-decoration: underline;
  border-bottom: 1px solid #e57200;
}

.block6 dl dd a:link, .block6 dl dd a:visited {
  color: #e57200;
}

.block7 .section-inner {
  padding: 0;
}

.block7 .wrap {
  width: unset;
  margin-bottom: 40px;
}

.block7 .seminar-table table {
  color: #001e2d;
  border: 1px solid #b2bbc0;
  border-collapse: collapse;
  font-size: 1.8rem;
  line-height: 1.3em;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.block7 .seminar-table table th {
  background-color: #eeeeee;
  color: #001e2d;
  border: 1px solid #b2bbc0;
  padding: 15px 5px;
}

.block7 .seminar-table table th.th1, .block7 .seminar-table table th.th2 {
  width: 120px;
}

.block7 .seminar-table table th.th3 {
  width: 150px;
}

.block7 .seminar-table table td {
  border: 1px solid #b2bbc0;
  font-weight: 600;
}

.block7 .seminar-table table td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  padding: 0 10px;
}

.block7 .seminar-table table td a {
  color: inherit;
  text-decoration: none;
}

.block7 .seminar-table table td a:hover {
  text-decoration: underline;
}

.block7 .seminar-table table td.t2 > div::after {
  content: none;
}

.block7 .seminar-table table td .date {
  letter-spacing: 2px;
}

.block7 .seminar-table table td .date span {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.block7 .seminar-table table td.seminar_ttl > div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px;
}

.block7 .startup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block7 .startup .inner {
  background-color: #eeeeee;
  border: 1px solid #b2bbc0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.block7 .startup .inner .left img {
  vertical-align: middle;
}

.block7 .startup .inner .right {
  margin: auto;
  text-align: center;
}

.block7 .startup .inner .right p {
  color: #001e2d;
  text-align: center;
}

.block7 .startup .inner .right p:first-child {
  font-size: 3.1rem;
  font-weight: 900;
  line-height: 3.7rem;
}

.block7 .startup .inner .right p:first-child span {
  font-size: 2.8rem;
  position: relative;
}

.block7 .startup .inner .right p:first-child span::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 1.5px;
  background-color: #001e2d;
  top: 50%;
  position: absolute;
  left: -75px;
}

.block7 .startup .inner .right p:first-child span::after {
  content: "";
  display: inline-block;
  width: 65px;
  height: 1.5px;
  background-color: #001e2d;
  top: 50%;
  position: absolute;
  right: -75px;
}

.block7 .startup .inner .right p:nth-child(2) {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  padding: 20px 0;
}

.block8 img {
  width: 100%;
}

.triangle {
  position: relative;
  z-index: 1;
  margin-top: 120px;
}

.triangle:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  border-top: 25px solid #fff;
  display: block;
}

footer {
  padding-bottom: 10px;
  background: #1d292c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer {
  padding: 10px;
}

footer .footer-logo {
  text-align: center;
  padding: 24px 0 24px 31px;
  margin: 0;
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #bbbdbe;
}

footer .right .link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.5em 0 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  word-break: keep-all;
}

footer .right .link::before {
  content: "|";
  padding-right: 1.5em;
}

footer .right .link:nth-of-type(3)::after {
  content: "|";
  padding-left: 1.5em;
}

@media all and (-ms-high-contrast: none) {
  footer .right .link {
    display: inline;
  }
}

footer .footer-copy {
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: #bbbdbe;
  padding-right: 31px;
}

footer a:link {
  text-decoration: none;
  color: inherit;
}

footer a:visited {
  color: inherit;
}

/*---------------------------------
  
  document.html
  document-thanks.html

---------------------------------*/
.document {
  margin-top: 160px;
}

.document .ttl h3 {
  font-size: 4.4rem;
  line-height: 6.3rem;
  color: #001e2d;
  text-align: center;
  margin-bottom: 75px;
  font-weight: 300;
}

.document .section-inner {
  max-width: 1200px;
  margin: 0 auto 120px;
}

.document .section-inner .lists ul.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.document .section-inner .lists ul.wrap > li {
  width: 31.7%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 8.4px 1.6px rgba(12, 11, 8, 0.14);
          box-shadow: 0px 0px 8.4px 1.6px rgba(12, 11, 8, 0.14);
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  counter-increment: doc-number;
}

.document .section-inner .lists ul.wrap > li::before {
  content: "0" counter(doc-number);
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #001e2d;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  top: -20px;
  left: 10px;
  vertical-align: baseline;
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
}

.document .section-inner .lists ul.wrap > li::after {
  content: "";
  border-top: 10px solid #001e2d;
  border-right: 6px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 16px;
  left: 24px;
}

.document .section-inner .lists ul.wrap > li img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.document .section-inner .lists ul.wrap > li > div h4 {
  margin: 33px auto;
  text-align: center;
  font-size: 2.1rem;
  line-height: 3.3rem;
  color: #001e2d;
  font-weight: 600;
}

.document .section-inner .lists ul.wrap > li > div h4 span {
  font-size: 1.7rem;
}

.document .section-inner .lists ul.wrap > li > div p,
.document .section-inner .lists ul.wrap > li > div div {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #737373;
  text-align: left;
  padding: 0 2.5em 3em;
  font-weight: 400;
}

.document .section-inner .lists ul.wrap > li > div div ul {
  display: block;
}

.document .section-inner .lists ul.wrap > li > div div ul li {
  width: 100%;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding-left: 1em;
  position: relative;
  display: inline-block;
}

@media all and (-ms-high-contrast: none) {
  .document .section-inner .lists ul.wrap > li > div div ul li {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.document .section-inner .lists ul.wrap > li > div div ul li:not(:last-child) {
  margin-bottom: 0.3em;
}

.document .section-inner .lists ul.wrap > li > div div ul li::before {
  content: "";
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #737373;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.document .section-inner .lists ul.wrap > li > div div ol {
  padding-left: 1em;
}

.document .section-inner .lists ul.wrap > li > div div ol li {
  width: 100%;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  list-style-type: decimal;
}

.document .section-inner .lists ul.wrap > li > div div ol li:not(:last-child) {
  margin-bottom: 0;
}

.document .section-inner .lists ul.wrap > li:nth-child(5) > div div, .document .section-inner .lists ul.wrap > li:nth-child(6) > div div {
  line-height: 2.8rem;
}

.document .section-inner .lists ul.wrap > li:nth-child(5) > div div ul li::before, .document .section-inner .lists ul.wrap > li:nth-child(6) > div div ul li::before {
  top: 15.2px;
}

.document .section-inner .lists ul.wrap > li:nth-child(n + 4) {
  margin-top: 40px;
}

.document .section-inner .lists ul.wrap::after {
  content: "";
  display: block;
  width: 31.7%;
}

.document .section-inner .form-wrap {
  margin: 80px auto;
}

.document .section-inner .form-wrap p {
  text-align: center;
  font-weight: 400;
}

.document .section-inner .form-wrap > p {
  font-size: 1.8rem;
  margin-bottom: 80px;
  line-height: 3.5rem;
}

.document .section-inner .thanks-wrap .txt {
  color: #001e2d;
  font-size: 1.8rem;
  line-height: 3.5rem;
  text-align: center;
  font-weight: 300;
  margin: 80px auto;
}

.document .section-inner .thanks-wrap .box-list5 .box {
  margin-bottom: 30px;
}

.document .section-inner .thanks-wrap .box-list5 .box h4 {
  margin-top: 0;
}

.document .section-inner .thanks-wrap .box-list5 .box .ttl span {
  width: unset;
}

/*---------------------------------
  
  スタートアップセミナー
  申し込みページ

---------------------------------*/
.startup .wrap > p {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 90px;
}

.startup .seminars .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.startup .seminars .wrap .detail {
  width: calc(50% - 50px);
}

.startup .seminars .wrap .detail > div {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.startup .seminars .wrap .detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0;
  border-top: 1px solid #cccccc;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.startup .seminars .wrap .detail ul li:last-child {
  border-bottom: 1px solid #cccccc;
}

.startup .seminars .wrap .detail ul li .area {
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  -webkit-clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0 100%);
          clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0 100%);
  background-color: #e57200;
  width: 130px;
  height: 25px;
  text-align: center;
  color: #fff;
  line-height: 25px;
}

.startup .seminars .wrap .detail ul li .date {
  font-size: 1.6rem;
  padding: 0 25px;
  font-weight: 400;
}

.startup .seminars .wrap .detail ul li .time {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.startup .seminars .wrap .detail ul li .time::before {
  content: url("../img/img_startup02.png");
  display: inline-block;
  padding-right: 7px;
  vertical-align: middle;
}

/*---------------------------------
  
  以下メディアクエリ

---------------------------------*/
@media screen and (max-width: 1024px) {
  .mv_bg {
    margin-bottom: 220px;
    position: relative;
    background-size: 129%;
    background-position: -127px 35px;
    padding: 150px 15px 168px;
  }
  .block1 header {
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: unset;
    position: absolute;
  }
  .block1 header h1 {
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: #000;
    width: 100%;
    position: fixed;
  }
  .block1 header h1 .logo {
    display: block;
    -webkit-transform: unset;
            transform: unset;
    width: 30%;
  }
  .block1 header h2 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
    background-image: url("../img/bg04.png");
    background-size: cover;
    padding: 30px 0;
    width: 100%;
  }
  .block1 header .dwl {
    position: fixed;
    top: 0.7%;
    right: 3%;
    font-size: 2rem;
    border-radius: 34px;
    padding: 0.6em 3em;
  }
  .block1 header .dwl::after {
    width: 1.3em;
    height: 1.15em;
    margin-left: 0.5em;
    background-size: contain;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .block1 .btn_wrapper {
    bottom: -165px;
    text-align: center;
  }
  .block1 .btn_wrapper .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .block1 .btn_wrapper .btns a:nth-of-type(1) {
    margin-right: 8px;
    margin-bottom: 13px;
  }
  .block1 .mv_pc {
    bottom: -192px;
  }
  .block1 .main_title dl div {
    padding: 10px;
  }
  .block2 > div:nth-of-type(2) img {
    max-width: 100%;
  }
  .banner div a {
    width: calc(50% - 10px);
  }
  .block4 .compare .txt {
    font-size: 1.8rem;
    line-height: 2.7rem;
    text-align: center;
  }
  .block4 .compare .txt span {
    font-size: 2.5rem;
  }
  .block4 .compare div img {
    max-width: 100%;
  }
  .block4 .table {
    overflow-x: scroll;
    padding-top: 26px;
  }
  .block4 .table table tr td .capture {
    width: 100%;
  }
  .block5 .points ul {
    width: 100%;
  }
  .block5 .points ul li {
    width: 30%;
  }
  .block5 .points ul li p {
    width: 100%;
  }
  .block5 .apply .btn_wrapper {
    text-align: center;
  }
  .block5 .apply .btn_wrapper .btns {
    display: block;
    margin: auto;
    width: 90%;
  }
  .block5 .apply .btn_wrapper .btns a:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 13px;
  }
  .block7 .startup .inner .left {
    margin: auto;
  }
  .document {
    margin-top: 195px;
  }
  .document .section-inner .lists ul.wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .document .section-inner .lists ul.wrap > li {
    width: 45%;
    margin-bottom: 3em;
  }
  .document .section-inner .lists ul.wrap::after {
    content: "";
    display: block;
    width: 45%;
  }
  .document .section-inner .lists ul.wrap > li:nth-child(n + 4) {
    margin-top: unset;
  }
  .startup .seminars .wrap > div {
    width: calc(55% - 10px);
  }
  .startup .seminars .wrap .detail {
    width: calc(45% - 10px);
  }
}

@media screen and (max-width: 960px) {
  .mv_bg {
    background-image: url("../img/bg03.png");
  }
  .block7 .seminar-table {
    margin-top: 5px;
    padding-bottom: 14px;
    position: relative;
  }
  .block7 .seminar-table table {
    width: 800px;
    font-size: 1.6rem;
  }
  .block7 .seminar-table table th.th1 {
    width: 110px;
  }
  .block7 .seminar-table table th.th2 {
    width: 105px;
  }
  .block7 .seminar-table table th.th3 {
    width: 120px;
  }
  .block7 .seminar-table table td > div {
    height: auto;
    min-height: 3.5em;
    padding: 5px 5px;
  }
  .block7 .seminar-table table td .date {
    letter-spacing: 1px;
  }
  .block7 .seminar-table table td .date span {
    font-size: 1.4rem;
  }
  .block7 .seminar-table table td .seminar_ttl {
    font-size: 1.5rem;
    padding: 0px 10px;
  }
  .startup .seminars .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .startup .seminars .wrap > div {
    width: 100%;
    text-align: center;
  }
  .startup .seminars .wrap .detail {
    width: 100%;
    text-align: center;
  }
  .startup .seminars .wrap .detail ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  body .sp {
    display: inline-block !important;
  }
  body .pc {
    display: none !important;
  }
  body img {
    width: 100%;
  }
  .block {
    max-width: 100%;
    overflow-x: hidden;
  }
  .block h3 {
    font-size: 2.35rem;
    line-height: 3.05rem;
    margin-bottom: 35px;
  }
  .block h3::before {
    width: 45px;
    position: absolute;
    bottom: 10px;
    left: -45px;
    right: auto;
    top: auto;
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  .block h3::after {
    width: 45px;
    position: absolute;
    bottom: 10px;
    right: -45px;
    left: auto;
    top: auto;
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
  }
  .block h4 {
    font-size: 1.85rem;
  }
  .block .txt {
    margin-bottom: 30px;
  }
  .block .fixed_links {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 101;
  }
  .block .fixed_links a.sp {
    width: 100%;
    background-color: #001e2d;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 47px;
    border-radius: 5px 5px 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
  }
  .block .fixed_links a.sp::before {
    content: "";
    background-image: url("../img/img13.png");
    display: inline-block;
    width: 20px;
    height: 21px;
    margin-right: 9px;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .block3 h3::before,
  .block6 h3::before {
    bottom: 0;
  }
  .block3 h3::after,
  .block6 h3::after {
    bottom: 0;
  }
  #main {
    position: relative;
  }
  .block1.mv_bg {
    background-image: url("../img/bg03.png");
    margin-bottom: 0;
    background-position: 11% 108%;
    padding: 25px 15px 250px;
    position: unset;
    background-size: 122%;
    overflow: hidden;
  }
  .block1.mv_bg::after {
    content: none;
  }
  .block1 header {
    height: auto;
  }
  .block1 header h1 .logo {
    width: 46%;
  }
  .block1 header h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    background-image: url("../img/bg04.png");
    padding: 14px 0;
  }
  .block1 header .none {
    display: none;
  }
  .block1 header .dwl {
    top: 12px;
    font-size: 1.15rem;
    padding: 0.6em 2em;
  }
  .block1 header .dwl::after {
    width: 15px;
    height: 13px;
    margin-left: 0.5em;
    background-size: contain;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .block1 .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
  .block1 .main_title .e-gov {
    font-size: 1.65rem;
    line-height: 2.1rem;
    margin-top: unset;
  }
  .block1 .main_title h2 {
    margin: 15px auto;
  }
  .block1 .main_title dl div {
    padding: 5px 18px;
  }
  .block1 .main_title dl div dt {
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
  .block1 .main_title dl div dd {
    font-size: 1.55rem;
    line-height: 2rem;
  }
  .block1 .main_title dl div dd .kome {
    font-size: 0.95rem;
  }
  .block1 .main_title dl div dd .size {
    font-size: 1.15rem;
    line-height: 1rem;
  }
  .block1 .main_title dl div:first-child dd {
    margin-top: -3px;
  }
  .block1 .main_title dl div:first-child dd .size {
    display: block;
    padding-top: 3.5px;
  }
  .block1 .main_title dl div:nth-child(2) dd {
    line-height: 2.5rem;
  }
  .block1 .main_title dl div:last-child dd {
    margin-top: -4px;
  }
  .block1 .btn_wrapper {
    bottom: -112px;
    margin-top: 15px;
  }
  .block1 .btn_wrapper .btns {
    display: block;
    margin: auto;
    width: 90%;
  }
  .block1 .btn_wrapper .btns a:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .block1 .mv_pc {
    position: relative;
    bottom: -160px;
  }
  .block1 .mv_pc img {
    display: block;
    position: absolute;
    bottom: -60px;
    right: -135px;
  }
  .block1 .mv_pc::after {
    content: "※オフィスステーションシリーズ累計";
    bottom: -82px;
    right: 2px;
    display: block;
    position: absolute;
    font-size: 1.1rem;
    color: #888888;
  }
  .block3,
  .block4,
  .block6,
  .block7,
  .block8 {
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block2 {
    margin-top: 40px;
  }
  .block2 h3::before {
    left: -25px;
  }
  .block2 h3::after {
    right: -25px;
  }
  .block2 > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block2 > div:nth-of-type(2) {
    padding: 45px 20px 60px;
  }
  .block2 > div:nth-of-type(2)::before {
    border-top: 20px solid #fff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .block2 > div:nth-of-type(2) h4 {
    margin-bottom: 19px;
  }
  .block2 > div:nth-of-type(2) .function > p,
  .block2 > div:nth-of-type(2) .effect > p {
    font-size: 1.65rem;
    line-height: 2.05rem;
    margin-top: unset;
  }
  .block2 > div:nth-of-type(2) .function {
    margin-bottom: 50px;
  }
  .block2 > div:nth-of-type(2) .function ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block2 > div:nth-of-type(2) .function ul li {
    width: 100%;
    padding: 18px 23px;
  }
  .block2 > div:nth-of-type(2) .function ul li img {
    width: 15%;
  }
  .block2 > div:nth-of-type(2) .function ul li h5 {
    font-size: 1.85rem;
    margin: 13px auto 15px;
  }
  .block2 > div:nth-of-type(2) .function ul li p {
    line-height: 2.35rem;
  }
  .block2 > div:nth-of-type(2) .function ul li::before {
    font-size: 19vw;
  }
  .block2 > div:nth-of-type(2) .function ul li:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
  }
  .block2 > div:nth-of-type(2) .effect p {
    text-align: left;
    line-height: 2.65rem;
    margin-bottom: 40px;
  }
  .block2 .txt {
    text-align: left;
    font-size: 1.65rem;
    line-height: 2.8rem;
    letter-spacing: 0.03rem;
    margin-bottom: 30px;
  }
  .banner {
    margin-top: -105px;
  }
  .banner > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner > div a {
    width: 95%;
    margin: auto;
  }
  .banner > div a:last-child {
    padding-top: 5px;
  }
  .block3 .txt {
    font-size: 1.65rem;
    line-height: 2.8rem;
    letter-spacing: 0.03rem;
    margin-bottom: 30px;
    text-align: left;
  }
  .block3 .notes {
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
  .block3 .tables {
    display: block;
  }
  .block3 .tables table {
    width: 100%;
    table-layout: fixed;
  }
  .block3 .tables table:nth-of-type(2) {
    border-top: none;
  }
  .block3 .tables table:nth-of-type(2) thead {
    display: none;
  }
  .block3 .tables table:nth-of-type(2) tr td:first-child {
    border-left: 1px solid #b2bbc0;
  }
  .block3 .tables table:nth-of-type(2) tr:first-child td {
    border-top-style: none;
  }
  .block3 .tables table:nth-of-type(2) tr:nth-child(9) td:nth-child(2) {
    text-align: left;
    padding: 10px;
  }
  .block3 .tables table tr .heading {
    padding: 0 2px;
  }
  .block3 .tables table tr th {
    font-weight: 700;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.25rem;
  }
  .block3 .tables table tr th:first-child {
    width: 17%;
  }
  .block3 .tables table tr td {
    padding: 10px;
    font-size: 1.25rem;
  }
  .block3 .tables table tr td:nth-child(2), .block3 .tables table tr td:nth-child(3) {
    padding: 0;
    text-align: center;
  }
  .block3 .tables table tr:first-of-type td:first-child {
    width: 17%;
  }
  .block3 .tables table tr:first-of-type td:nth-child(2) {
    padding: 10px;
    text-align: left;
    width: 64%;
  }
  .block3 .tables table tr:first-of-type td:nth-child(3), .block3 .tables table tr:first-of-type td:nth-child(4) {
    padding: 0;
    text-align: center;
    width: 10%;
  }
  .block4 {
    margin-top: 0;
  }
  .block4 h4 {
    margin-bottom: 20px;
  }
  .block4 .compare {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block4 .compare > div {
    width: 100%;
    padding: 25px 0;
  }
  .block4 .compare > div:last-child {
    margin-top: 10px;
  }
  .block4 .compare .compare_btn {
    width: 90%;
    margin: auto;
  }
  .block4 .modal1 .close_btn,
  .block4 .modal2 .close_btn {
    top: 15px;
    right: 15px;
    font-size: 30px;
  }
  .block4 .modal1 .inner,
  .block4 .modal2 .inner {
    padding: 15px 10px 30px;
  }
  .block4 .modal1 .inner h3,
  .block4 .modal2 .inner h3 {
    font-size: 2rem;
  }
  .block4 .modal1 .inner h3::before,
  .block4 .modal2 .inner h3::before {
    top: unset;
  }
  .block4 .modal1 .inner h3::after,
  .block4 .modal2 .inner h3::after {
    top: unset;
  }
  .block4 .modal1 .inner .table,
  .block4 .modal2 .inner .table {
    margin-top: 0;
  }
  .block4 .modal1 .inner table,
  .block4 .modal2 .inner table {
    width: 100%;
    border-spacing: 0;
  }
  .block4 .modal1 .inner table thead tr,
  .block4 .modal2 .inner table thead tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block4 .modal1 .inner table thead tr th,
  .block4 .modal2 .inner table thead tr th {
    position: relative;
  }
  .block4 .modal1 .inner table thead tr th img,
  .block4 .modal2 .inner table thead tr th img {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .block4 .modal1 .inner table thead tr th:first-child,
  .block4 .modal2 .inner table thead tr th:first-child {
    display: none;
  }
  .block4 .modal1 .inner table thead tr th:nth-child(2),
  .block4 .modal2 .inner table thead tr th:nth-child(2) {
    width: 50%;
    border-bottom: none;
    padding-top: 42px;
    margin-right: 2px;
  }
  .block4 .modal1 .inner table thead tr th:nth-child(2) img,
  .block4 .modal2 .inner table thead tr th:nth-child(2) img {
    width: 50%;
  }
  .block4 .modal1 .inner table thead tr th:nth-child(2)::before,
  .block4 .modal2 .inner table thead tr th:nth-child(2)::before {
    width: 90%;
    font-size: 1.2rem;
  }
  .block4 .modal1 .inner table thead tr th:nth-child(2)::after,
  .block4 .modal2 .inner table thead tr th:nth-child(2)::after {
    top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid #3d4d97;
  }
  .block4 .modal1 .inner table thead tr th:last-child,
  .block4 .modal2 .inner table thead tr th:last-child {
    width: 50%;
    border-bottom: none;
    padding-top: 42px;
    margin-left: 2px;
  }
  .block4 .modal1 .inner table thead tr th:last-child img,
  .block4 .modal2 .inner table thead tr th:last-child img {
    width: 90%;
  }
  .block4 .modal1 .inner table thead tr th:last-child::before,
  .block4 .modal2 .inner table thead tr th:last-child::before {
    width: 90%;
    font-size: 1.2rem;
  }
  .block4 .modal1 .inner table thead tr th:last-child::after,
  .block4 .modal2 .inner table thead tr th:last-child::after {
    top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid #e57200;
  }
  .block4 .modal1 .inner table tbody tr,
  .block4 .modal2 .inner table tbody tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 45px auto;
        grid-template-rows: 45px auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .block4 .modal1 .inner table tbody tr th,
  .block4 .modal2 .inner table tbody tr th {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    font-size: 1.4rem;
    line-height: 45px;
    border-top: 2px solid #b2bbc0;
    padding: 0;
    max-width: unset;
    text-align: center;
  }
  .block4 .modal1 .inner table tbody tr td,
  .block4 .modal2 .inner table tbody tr td {
    font-size: 1.25rem;
    padding: 15px 10px;
  }
  .block4 .modal1 .inner table tbody tr td span,
  .block4 .modal2 .inner table tbody tr td span {
    display: unset;
  }
  .block4 .modal1 .inner table tbody tr td:first-of-type,
  .block4 .modal2 .inner table tbody tr td:first-of-type {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding-left: 10px;
    margin-right: 2px;
  }
  .block4 .modal1 .inner table tbody tr td:first-of-type span:not(.none):not(last-child)::before,
  .block4 .modal2 .inner table tbody tr td:first-of-type span:not(.none):not(last-child)::before {
    top: 8px !important;
    -webkit-transform: unset;
            transform: unset;
  }
  .block4 .modal1 .inner table tbody tr td:last-of-type,
  .block4 .modal2 .inner table tbody tr td:last-of-type {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding-left: 10px;
    margin-left: 2px;
  }
  .block4 .modal1 .inner table tbody tr td:last-of-type .material-icons,
  .block4 .modal2 .inner table tbody tr td:last-of-type .material-icons {
    font-size: 20px;
    margin-right: 5px;
  }
  .block4 .modal1 .inner table tbody tr:not(:last-of-type) td,
  .block4 .modal2 .inner table tbody tr:not(:last-of-type) td {
    border-bottom: none;
  }
  .block4 .modal2 .inner h3::before {
    left: -28px;
  }
  .block4 .modal2 .inner h3::after {
    right: -28px;
  }
  .block4 .modal2 .inner table thead tr th:nth-child(2) {
    font-size: 1.5rem;
  }
  .block4 .modal2 .inner table thead tr th:nth-child(2)::before {
    line-height: 35px;
  }
  .block4 .modal2 .inner table thead tr th:nth-child(2)::after {
    border-top: 13px solid #608359;
    top: 18px;
  }
  .block4 .modal2 .inner table thead tr th:last-child img {
    top: 58%;
  }
  .block4 .modal2 .inner table thead tr th:last-child::after {
    top: 18px;
  }
  .block4 .modal2 .inner table tbody tr td .sp {
    display: block !important;
  }
  .block4 .modal2 .inner table tbody tr:not(:last-of-type) td {
    border-bottom: none;
  }
  .block5 {
    margin-top: 30px;
  }
  .block5 .points {
    margin-top: 30px;
  }
  .block5 .points > img {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
  }
  .block5 .points ul {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
  .block5 .points ul li {
    width: 83%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .block5 .points ul li:not(:last-child) {
    margin-right: auto;
    margin-bottom: 10px;
  }
  .block5 .points ul li img {
    width: 17%;
    height: auto;
    padding-right: 20px;
  }
  .block5 .points ul li strong {
    font-size: 1.85rem;
    line-height: 3.8rem;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: left;
  }
  .block5 .points ul li p {
    font-size: 1.5rem;
    line-height: 2.1rem;
    width: 100%;
    text-align: left;
  }
  .block5 .points ul li .orange {
    position: unset;
    padding-top: 11px;
  }
  .block5 .points ul li .orange a {
    display: inline;
  }
  .block5 .points ul li .orange span {
    position: unset;
    display: inline;
    padding-left: 3px;
  }
  .block5 .apply {
    z-index: unset;
    position: relative;
    margin-top: -35px;
    padding: 70px 0 50px;
    background-image: unset;
  }
  .block5 .apply::before {
    content: url(../img/bg02.png);
    z-index: -1;
    position: absolute;
    top: -34px;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    -webkit-transform: scaleY(0.88);
            transform: scaleY(0.88);
  }
}

@media screen and (max-width: 767px) and (min-width: 411px) {
  .block5 .apply::before {
    top: -19px;
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
  }
}

@media screen and (max-width: 767px) {
  .block5 .apply .e-gov {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 5px;
  }
  .block5 .apply .e-gov + img {
    width: 55%;
  }
  .block5 .apply h2 p:first-child {
    font-size: 1.65rem;
    line-height: 3.65rem;
  }
  .block5 .apply h2 p:first-child span {
    font-size: 1.25rem;
    line-height: 3.65rem;
  }
  .block5 .apply h2 p:last-child {
    font-size: 2.35rem;
    line-height: 2rem;
  }
  .block5 .apply .btn_wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block5 .apply .btn_wrapper .btns {
    display: block;
  }
  .block5 .apply .btn_wrapper .btns a img {
    width: 100%;
  }
  .block5 .apply .btn_wrapper .btns a:nth-of-type(1) {
    margin-right: 0;
    margin-bottom: 13px;
  }
  .block6 dl {
    padding: 18px 10px;
  }
  .block6 dl dt {
    font-size: 1.65rem;
    padding-left: 47px;
  }
  .block6 dl dt::before {
    width: 32px;
    height: 32px;
    line-height: 32px;
    left: 0;
    font-size: 1.5rem;
  }
  .block6 dl dd {
    padding-top: 10px;
    padding-left: 47px;
    font-size: 1.5rem;
  }
  .triangle::before {
    top: -8px;
  }
  .block7 .note01 {
    font-size: 1.3rem;
  }
  .block7 .startup .inner {
    padding: 20px 13px;
  }
  .block7 .startup .inner .right {
    padding-left: 0;
  }
  .block7 .startup .inner .right p:first-child {
    font-size: 2.35rem;
    line-height: 2.8rem;
    padding-top: 10px;
  }
  .block7 .startup .inner .right p:first-child span {
    font-size: 2.1rem;
  }
  .block7 .startup .inner .right p:first-child span::before {
    width: 48.5px;
    left: -63px;
  }
  .block7 .startup .inner .right p:first-child span::after {
    width: 48.5px;
    right: -63px;
  }
  .block7 .startup .inner .right p:nth-child(2) {
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 10px 0;
  }
  .block7 .startup .inner .right a img {
    width: 80%;
  }
  footer {
    display: block;
  }
  footer .footer-logo {
    padding: 17px 0;
  }
  footer .footer-logo img {
    width: 50%;
  }
  footer .right {
    display: block;
  }
  footer .right .link {
    margin: 0 auto;
    text-align: center;
    padding: 0 0 17px 0;
    display: block;
  }
  footer .right .link::before {
    content: "";
    padding-right: 0;
  }
  footer .right .link:nth-of-type(3)::after {
    content: "";
    padding-left: 0;
  }
  footer .footer-copy {
    padding-right: 0;
  }
  .document {
    margin-top: 90px;
  }
  .document .ttl h3 {
    font-size: 2rem;
    line-height: 3.3rem;
    margin-bottom: 50px;
  }
  .document .section-inner {
    margin: 0 auto 60px;
    padding: 0 20px;
  }
  .document .section-inner .lists ul.wrap li {
    width: 100%;
  }
  .document .section-inner .lists ul.wrap li:not(:last-child) {
    margin-bottom: 30px;
  }
  .document .section-inner .lists ul.wrap li:last-child {
    margin-bottom: 0;
  }
  .document .section-inner .lists ul.wrap li .num {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .document .section-inner .lists ul.wrap li .num span {
    font-size: 1.65rem;
  }
  .document .section-inner .lists ul.wrap li img {
    height: 176px;
  }
  .document .section-inner .lists ul.wrap li > div h4 {
    margin: 20px auto;
    font-size: 1.85rem;
    line-height: 2.9rem;
  }
  .document .section-inner .lists ul.wrap li > div p,
  .document .section-inner .lists ul.wrap li > div div {
    font-size: 1.5rem;
    line-height: 2.05rem;
    padding: 0 1.5em 2em;
  }
  .document .section-inner .lists ul.wrap li > div p ol,
  .document .section-inner .lists ul.wrap li > div div ol {
    padding-left: 1.5em;
  }
  .document .section-inner .form-wrap {
    margin: 50px auto;
  }
  .document .section-inner .form-wrap > p {
    font-size: 1.5rem;
    margin-bottom: 50px;
    line-height: 2.6rem;
    text-align: left;
  }
  .document .section-inner .thanks-wrap .txt {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: left;
    margin: 40px auto;
  }
  .startup .block .section-inner {
    padding: 40px 0 0;
  }
  .startup .wrap > p {
    font-size: 1.9rem;
    margin-bottom: 50px;
  }
  .startup .seminars .wrap .detail > div {
    margin-top: 10px;
  }
  .startup .seminars .wrap .detail ul li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .startup .seminars .wrap .detail ul li .area {
    font-size: 1.3rem;
    width: 108px;
  }
  .startup .seminars .wrap .detail ul li .date {
    font-size: 1.5rem;
    padding: 0 20px;
  }
  .startup .seminars .wrap .detail ul li .time {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  .block h3 {
    font-size: 2rem;
  }
  .block1.mv_bg {
    padding: 23px 15px 250px;
    background-position: 11% 100%;
  }
  .block1 header h1 {
    padding: 14px 20px 14px;
  }
  .block1 header h2 {
    font-size: 1.2rem;
    padding: 16px 0;
  }
  .block1 header .dwl {
    top: 7px;
    right: 7px;
    padding: 0.6em 1em;
  }
  .block1 header .dwl::after {
    width: 1.28em;
    height: 1.1em;
  }
  .block1 .main_title .e-gov {
    margin-bottom: 7px;
  }
  .block1 .main_title dl div dd {
    font-size: 1.5rem;
  }
  .block4 table thead tr th:nth-child(2)::before {
    font-size: 1rem;
  }
  .block4 table thead tr th:last-child::before {
    font-size: 1rem;
  }
  .block4 .compare .txt {
    font-size: 1.1rem;
  }
  .block4 .compare .txt span {
    font-size: 1.5rem;
  }
  .block4 .compare .compare_btn {
    font-size: 1.2rem;
  }
  .block4 .modal1 .inner h3,
  .block4 .modal2 .inner h3 {
    font-size: 1.7rem;
  }
  .block4 .modal1 .inner table thead th:last-child::before,
  .block4 .modal2 .inner table thead th:last-child::before {
    line-height: 17px;
  }
  .block5 .apply::before {
    top: -38px;
    -webkit-transform: scaleY(0.86);
            transform: scaleY(0.86);
  }
  .block8 h3::before {
    left: -35px;
  }
  .block8 h3::after {
    right: -35px;
  }
  .document .ttl h3 {
    font-size: 1.7rem;
    line-height: 3rem;
  }
  .document .section-inner .lists ul.wrap li .num {
    left: 5px;
  }
  .document .section-inner .lists ul.wrap li img {
    height: 155px;
  }
  .document .section-inner .lists ul.wrap li > div div {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  .block1.mv_bg {
    background-size: 145%;
  }
  .block1 .main_title dl div dd {
    font-size: 1.2rem;
  }
  .block1 .main_title dl div:last-child dd {
    line-height: 1.6rem;
    margin-top: 0;
  }
  .block1 .mv_pc img {
    bottom: -67px;
  }
  .block1 .mv_pc::after {
    bottom: -87px;
    right: 0;
  }
  .block4 .compare > div p {
    font-size: 1.6rem;
  }
  .block5 .apply h2 p:last-child {
    font-size: 2rem;
  }
  .block5 .apply::before {
    top: -45px;
    -webkit-transform: scaleY(0.84);
            transform: scaleY(0.84);
  }
  .block7 .startup .inner .right p:first-child {
    font-size: 2.1rem;
  }
  .block7 .startup .inner .right p:first-child span {
    font-size: 1.9rem;
  }
  .block7 .startup .inner .right p:nth-child(2) {
    font-size: 1.3rem;
  }
  .startup .seminars .wrap .detail ul li .area {
    font-size: 1.2rem;
    width: 100px;
  }
  .startup .seminars .wrap .detail ul li .date {
    padding: 0 13px;
    font-size: 1.3rem;
  }
  .startup .seminars .wrap .detail ul li .time {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=roumu-lite.css.map */