/*---------------------------------
  
  変数宣言

---------------------------------*/
$font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
$font-family2: "Roboto Condensed";
$txt-main-color: #001e2d;
$acnt-color: #e57200;
$imgDir: "../img/";
%not-full-width {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 120px;
}
$half: 0.5;
$yellow: #ffde00;
$green: #608359;
$gray-border: #b2bbc0;
$light-gray: #eeeeee;

/*---------------------------------
  
  CSSリセット等

---------------------------------*/
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    color: $txt-main-color;
    font-family: $font-family;
    max-width: 100%;

    .pc {
        display: inline-block;
    }

    .sp {
        display: none !important;
    }

    p {
        margin: 0;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
    }

    .org {
        color: $acnt-color !important;
        font-weight: 700 !important;
    }
}

/*---------------------------------
  
  index.html(他htmlとの共通スタイルも含む)

---------------------------------*/
.block {
    h3 {
        font-size: 4rem;
        letter-spacing: 0.04em;
        font-weight: 900;
        text-align: center;
        margin-bottom: 60px;
        position: relative;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        &::before {
            content: "";
            width: 50px;
            height: 2px;
            background-color: $txt-main-color;
            top: 0;
            left: 0;
            transform: rotate(60deg);
            display: inline-block;
        }

        &::after {
            content: "";
            width: 50px;
            height: 2px;
            background-color: $txt-main-color;
            top: 0;
            left: 0;
            transform: rotate(-60deg);
            display: inline-block;
        }
    }

    h4 {
        font-size: 3.3rem;
        font-weight: 900;
        text-align: center;
    }

    .txt {
        font-size: 1.8rem;
        line-height: 3.5rem;
        letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 30px;
        font-weight: 400;

        .yellow_line {
            background: linear-gradient(transparent 75%, #fffc00 0%);
            font-weight: 700;
        }
    }

    a,
    .compare_btn,
    .fixed_links a {
        cursor: pointer;
        display: block;
        transition: filter 0.3s ease;
        filter: brightness(1);

        &:hover {
            filter: brightness(1.15);
        }
    }

    a:link {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    a.d_inline {
        display: inline;
    }

    .fixed_links {
        .pc {
            display: block;
            position: fixed;
            bottom: -3px;
            right: 0;
            box-sizing: border-box;
            z-index: 101;
            transition: all 0.6s ease-in-out;

            .toggle_btn {
                display: block;
                width: 25px;
                height: 25px;
                background-color: #080a0b;
                position: absolute;
                top: -25px;
                right: 0;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 15px;
                    border-radius: 3px;
                    background: #fff;
                    display: block;
                    transform: rotate(45deg);
                    top: 11px;
                    left: 5px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    width: 15px;
                    border-radius: 3px;
                    background: #fff;
                    display: block;
                    transform: rotate(-45deg);
                    top: 11px;
                    left: 5px;
                }
            }

            &.close {
                bottom: -135px;

                .toggle_btn {
                    &::before {
                        width: 10px;
                        left: 11px;
                    }

                    &::after {
                        width: 10px;
                        left: 4.3px;
                    }
                }
            }
        }
    }
}

.mv_bg {
    background-image: url($imgDir + "bg01.png");
    position: relative;
    background-size: cover;
    background-position: top center;
    padding: 100px 15px 335px;

    &::after {
        content: "※オフィスステーションシリーズ累計";
        bottom: -20px;
        right: 12px;
        display: block;
        position: absolute;
        font-size: 1.1rem;
        color: #888888;
    }
}

.block1 {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 1000;

        h1 {
            order: 1;

            .logo {
                width: 90%;
                vertical-align: middle;
            }
        }

        h2 {
            color: #fff;
            font-weight: 700;
            font-size: 1.6rem;
            order: 2;
            margin-left: auto;

            span {
                color: $yellow;
            }
        }

        .dwl {
            order: 3;
            background-color: $yellow;
            border-radius: 20px;
            align-self: center;
            font-size: 1.4rem;
            padding: 0.6em 1.1em;
            font-weight: 700;
            margin-left: 21px;

            &::after {
                content: "";
                background-image: url($imgDir + "img08.png");
                display: inline-block;
                width: 18px;
                height: 16px;
                margin-left: 0.3em;
                transform: translateY(10%);
            }
        }
    }

    .main_title {
        text-align: center;

        img {
            display: block;
            margin: auto;
        }

        .e-gov {
            font-size: 2.5rem;
            font-weight: 900;
            font-style: italic;
            margin-bottom: 12px;
            color: #000000;
            margin-top: 20px;
        }

        h2 {
            margin: 15px auto 20px;
        }

        dl {
            display: flex;
            justify-content: center;

            div {
                font-weight: 700;
                font-style: italic;
                color: #fff;
                border-left: 1px solid #fff;
                padding: 5px 26px;
                letter-spacing: 0.02em;

                dt {
                    font-size: 1.7rem;
                    line-height: 105%;
                }

                dd {
                    font-size: 3rem;
                    margin: 0;

                    .kome {
                        font-size: 1.1rem;
                        vertical-align: super;
                        padding-left: 0.3em;
                    }
                }

                &:last-child {
                    border-right: 1px solid #fff;
                }
            }
        }
    }

    .btn_wrapper {
        margin: 50px auto 20px;

        .btns {
            display: flex;
            justify-content: center;

            a:first-child {
                margin-right: 14px;
            }
        }
    }

    .mv_pc {
        position: absolute;
        left: 50%;
        bottom: -72px;
        transform: translateX(-50%);
    }
}

.block2 {
    margin-top: 150px;

    h3 {
        &::before {
            position: absolute;
        }

        &::after {
            position: absolute;
        }
    }

    //Chrome
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        h3 {
            &::before {
                top: 105px;
                left: -60px;
            }
            &::after {
                top: 105px;
                left: unset;
                right: -60px;
            }
        }
    }

    //IE
    @media all and (-ms-high-contrast: none) {
        h3 {
            &::before {
                top: 95px;
                left: 55px;
            }

            &::after {
                top: 95px;
                left: 970px;
            }
        }
    }

    //Edge
    @supports (-ms-ime-align: auto) {
        h3 {
            &::before {
                top: 110px;
                left: 55px;
            }
            &::after {
                top: 110px;
                right: 55px;
            }
        }
    }

    .txt {
        margin-bottom: 65px;
    }

    & > div {
        &:first-of-type {
            max-width: 1100px;
            margin: 0 auto;
        }

        &:nth-of-type(2) {
            background-color: rgba(#6b6b6b, 0.12);
            text-align: center;
            padding: 75px 0 130px;
            position: relative;

            &::before {
                content: "";
                border-top: 33px solid #fff;
                border-left: 45px solid transparent;
                border-right: 45px solid transparent;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            h4 {
                margin: 0 auto 25px;
            }

            .function,
            .effect {
                max-width: 1100px;
                margin: auto auto 70px;

                & > p {
                    font-size: 1.8rem;
                    line-height: 3.3rem;
                    margin: 25px auto;
                }
            }

            .function {
                ul {
                    display: flex;
                    background-color: #fff;
                    border-radius: 6px;
                    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.13);
                    box-sizing: border-box;
                    list-style-type: none;

                    li {
                        width: 33.33%;
                        padding: 50px 35px;
                        counter-increment: number;
                        position: relative;
                        box-sizing: border-box;

                        h5 {
                            font-size: 2.3rem;
                            margin: 24px auto 32px;
                        }

                        p {
                            font-size: 1.8rem;
                            line-height: 2.8rem;
                            text-align: left;
                        }

                        &::before {
                            content: "0" counter(number);
                            top: 0;
                            left: -4px;
                            font-size: 7vw;
                            position: absolute;
                            font-family: $font-family2;
                            color: rgba(#ededed, 0.6);
                            line-height: 0.74;
                        }

                        &:nth-child(2) {
                            border-left: 1px solid #c3c3c3;
                            border-right: 1px solid #c3c3c3;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    @extend %not-full-width;
    margin-top: -140px;

    & > div {
        display: flex;
        justify-content: space-between;

        a {
            outline-style: none;

            img {
                max-width: 100%;
            }
        }
    }
}

.block3 {
    @extend %not-full-width;

    .notes {
        font-size: 1.6rem;
        padding-bottom: 20px;
        color: $acnt-color;
        font-weight: 700;
    }

    .tables {
        display: flex;

        table {
            border: 1px solid $gray-border;
            width: 550px;
            height: 672px;
            box-sizing: border-box;
            color: $txt-main-color;
            border-collapse: collapse;

            thead {
                tr {
                    height: 80px;
                }
            }

            &:nth-of-type(2) {
                border-left-style: none;

                tr {
                    th:first-child,
                    td:first-child {
                        border-left-style: none;
                    }
                }
            }

            tr {
                height: 60px;

                .heading {
                    text-align: center;
                    padding: 0 0.5em;
                    background-color: $light-gray;
                }

                th {
                    background-color: $light-gray;
                    font-size: 1.5rem;
                    padding-left: 12px;
                    padding-right: 12px;
                    text-align: center;
                    border: 1px solid $gray-border;
                    font-weight: 700;

                    &:first-child {
                        width: 16%;
                    }

                    &:nth-child(2) {
                        width: 64%;
                    }

                    &:nth-child(3),
                    &:last-child {
                        width: 10%;
                    }
                }

                td {
                    font-size: 1.4rem;
                    padding-left: 20px;
                    padding-right: 20px;
                    border: 1px solid $gray-border;
                    font-weight: 400;
                }
            }
        }
    }
}

.block4 {
    @extend %not-full-width;
    margin-top: 60px;

    h4 {
        margin-bottom: 32px;
    }

    .compare {
        display: flex;
        justify-content: space-between;

        & > div {
            width: calc(50% - 10px);
            padding: 43px 0;
            background-color: $light-gray;
            border: 2px solid $gray-border;
            border-radius: 5px;
            box-sizing: border-box;
            text-align: center;

            p {
                font-size: 1.8rem;
                line-height: 2.9rem;
                letter-spacing: 0.04em;
                padding-bottom: 20px;
            }

            .compare_btn {
                img {
                    margin: auto;
                }
            }
        }
    }

    .modal1,
    .modal2 {
        display: none;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        padding: 60px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        box-sizing: border-box;
        overflow-y: scroll;

        .close_btn {
            width: 30px;
            height: 30px;
            color: #fff;
            position: fixed;
            top: 0;
            right: 50px;
            cursor: pointer;
            font-size: 50px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }

        .inner {
            max-width: 1200px;
            background-color: #fff;
            margin: 0 auto;
            padding: 40px 0;

            h3 {
                &::before {
                    top: 105px;
                    left: -60px;
                    position: absolute;
                }

                &::after {
                    top: 105px;
                    left: unset;
                    right: -60px;
                    position: absolute;
                }
            }

            //IE
            @media all and (-ms-high-contrast: none) {
                h3 {
                    &::before {
                        left: 175px;
                    }
                }
            }

            //Edge
            @supports (-ms-ime-align: auto) {
                h3 {
                    &::before {
                        top: 110px;
                        left: 200px;
                    }
                    &::after {
                        top: 105px;
                        right: 200px;
                    }
                }
            }

            table {
                border-collapse: separate;
                border-spacing: 10px 3px;
                table-layout: fixed;
                max-width: 100%;
                z-index: 1;
                margin: auto;

                thead {
                    text-align: center;

                    th:first-child {
                        width: 190px;
                        border-bottom: 2px solid $gray-border;
                    }

                    th:not(:first-child) {
                        width: 450px;
                        padding: 36px 0 21px;
                        text-align: center;
                        box-sizing: border-box;
                    }

                    th:nth-child(2) {
                        background-color: $light-gray;
                        border-radius: 7px 7px 0 0;
                        position: relative;

                        &::before {
                            content: "政府提供";
                            position: absolute;
                            width: 304px;
                            border-radius: 7px;
                            color: #fff;
                            font-size: 1.8rem;
                            text-align: center;
                            padding: 6px;
                            box-sizing: border-box;
                            top: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 7px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-left: 13px solid transparent;
                            border-right: 13px solid transparent;
                            display: block;
                        }
                    }

                    th:last-child {
                        background-color: #fcf1e5;
                        border: 2px solid $acnt-color;
                        border-radius: 7px 7px 0 0;
                        position: relative;

                        &::before {
                            position: absolute;
                            background-color: $acnt-color;
                            width: 304px;
                            border-radius: 7px;
                            color: #fff;
                            font-size: 1.8rem;
                            text-align: center;
                            padding: 6px;
                            box-sizing: border-box;
                            top: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 7px;
                            left: 50%;
                            transform: translateX(-50%);
                            border-left: 13px solid transparent;
                            border-right: 13px solid transparent;
                            border-top: 19px solid $acnt-color;
                            display: block;
                        }
                    }
                }
                tbody {
                    tr {
                        font-size: 1.6rem;

                        &:last-of-type {
                            td {
                                border-radius: 0 0 7px 7px;
                            }
                        }

                        th {
                            font-weight: 700;
                            padding: 30px 0;
                            border-bottom: 2px solid $gray-border;
                            box-sizing: border-box;
                            text-align: left;
                            max-width: 190px;
                        }

                        td {
                            border-top-style: none !important;
                            box-sizing: border-box;
                            padding: 30px 41px 30px 50px;
                            max-width: 450px;

                            .capture {
                                margin-bottom: 10px;
                            }

                            .material-icons {
                                color: #e57200;
                                vertical-align: text-bottom;
                                margin-right: 10px;
                            }

                            &:nth-of-type(1) {
                                padding-left: 30px;
                                background-color: $light-gray;
                                font-weight: 400;
                                vertical-align: baseline;

                                span {
                                    padding-left: 19px;
                                    display: inline-block;
                                }

                                span:not(.none) {
                                    display: block;
                                    position: relative;

                                    &::before {
                                        content: "";
                                        width: 6px;
                                        height: 6px;
                                        border-radius: 50%;
                                        display: block;
                                        position: absolute;
                                        top: 55%;
                                        left: 4px;
                                        transform: translateY(-50%);
                                    }

                                    &:not(:last-child) {
                                        padding-bottom: 11px;

                                        &::before {
                                            top: 40%;
                                        }
                                    }

                                    &.no_btm_padding {
                                        padding-bottom: 0;

                                        &::before {
                                            top: 50%;
                                        }
                                    }
                                }
                            }

                            &:nth-of-type(2) {
                                padding-left: 30px;
                                font-weight: 700;
                                background-color: #fcf1e5;
                                border: 2px solid $acnt-color;
                                vertical-align: baseline;

                                span {
                                    display: block;

                                    &:not(:last-child) {
                                        padding-bottom: 11px;
                                    }
                                }

                                p {
                                    display: flex;

                                    &:not(:last-of-type) {
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal1 {
        .inner {
            table {
                thead {
                    th {
                        &:nth-child(2) {
                            border: 2px solid #576ea9;

                            &::before {
                                background-color: #3d4d97;
                            }

                            &::after {
                                border-top: 19px solid #3d4d97;
                            }
                        }

                        &:last-child {
                            &::before {
                                content: "e-Gov外部連携API対応";
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            &:nth-of-type(1) {
                                border: 2px solid #576ea9;

                                span {
                                    &:not(.none) {
                                        &::before {
                                            background-color: #16378a;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal2 {
        .inner {
            table {
                thead {
                    th {
                        &:nth-child(2) {
                            color: $green;
                            font-size: 2.7rem;
                            font-weight: 400;
                            border: 2px solid $green;

                            span {
                                font-weight: 700;
                            }

                            &::before {
                                background-color: $green;
                            }

                            &::after {
                                border-top: 19px solid $green;
                            }
                        }

                        &:last-child {
                            &::before {
                                content: "e-Gov連携ツールを活用した場合";
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            &:nth-of-type(1) {
                                border: 2px solid $green;

                                span {
                                    &:not(.none) {
                                        &::before {
                                            background-color: $green;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.block5 {
    .points {
        @extend %not-full-width;
        text-align: center;
        margin-top: 70px;

        ul {
            display: flex;
            box-sizing: border-box;
            margin-top: 24px;
            list-style-type: none;
            padding: 0;

            li {
                width: 360px;
                padding: 53px 30px;
                box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                z-index: 100;
                background-color: #fff;
                font-weight: 400;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                strong {
                    color: $acnt-color;
                    font-weight: 700;
                    padding: 23px 0 10px 0;
                    display: block;
                    font-size: 2.1rem;
                }

                p {
                    font-size: 1.6rem;
                    line-height: 1.6;
                    letter-spacing: 0.04em;
                    width: 295px;
                    text-align: left;
                }

                .orange {
                    color: $acnt-color;
                    position: relative;
                    padding-top: 20px;

                    a {
                        border-bottom: 1px solid $acnt-color;
                        display: inline-block;
                    }

                    span {
                        display: inline-block;
                        position: absolute;
                        top: 27.5px;
                        right: 9px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .apply {
        padding: 77px 0 85px;
        background-image: url($imgDir + "bg02.png");
        text-align: center;
        color: #fff;
        background-size: cover;
        margin-top: -40px;

        img {
            display: block;
            margin: auto;
        }

        .e-gov {
            font-size: 2.3rem;
            font-weight: 900;
            font-style: italic;
            margin-bottom: 15px;
        }

        h2 {
            font-family: $font-family;
            font-weight: 900;
            font-style: italic;
            margin: 20px auto 35px;

            p:first-child {
                font-size: 2.9rem;

                span {
                    font-size: 2.2rem;
                }
            }

            p:last-child {
                font-size: 4.3rem;
            }
        }

        .btn_wrapper {
            .btns {
                display: flex;
                justify-content: center;

                a:nth-of-type(1) {
                    margin-right: 40px;
                }
            }
        }
    }
}

.block6 {
    @extend %not-full-width;

    dl {
        border: 3px solid $acnt-color;
        border-radius: 12px;
        padding: 25px 30px;
        counter-increment: qa-number;

        &:not(first-child) {
            margin-top: 15px;
        }

        dt {
            color: $acnt-color;
            font-size: 1.8rem;
            position: relative;
            padding-left: 85px;
            font-weight: 700;

            &::before {
                content: "Q" counter(qa-number);
                color: #fff;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                background-color: $acnt-color;
                font-family: "Roboto Condensed";
                font-size: 1.7rem;
                display: inline-block;
                top: 50%;
                left: 30px;
                line-height: 36px;
                text-align: center;
                position: absolute;
                transform: translateY(-50%);
            }
        }

        dd {
            font-size: 1.6rem;
            padding-top: 10px;
            padding-left: 85px;
            font-weight: 400;
            margin: 0;

            a {
                display: inline;
                color: $acnt-color;
                text-decoration: underline;
                border-bottom: 1px solid #e57200;

                &:link,
                &:visited {
                    color: $acnt-color;
                }
            }
        }
    }
}

.block7 {
    @extend %not-full-width;

    .section-inner {
        padding: 0;
    }

    .wrap {
        width: unset;
        margin-bottom: 40px;
    }

    .seminar-table {
        table {
            color: $txt-main-color;
            border: 1px solid $gray-border;
            border-collapse: collapse;
            font-size: 1.8rem;
            line-height: 1.3em;
            background: #fff;
            box-sizing: border-box;
            width: 100%;

            th {
                background-color: $light-gray;
                color: $txt-main-color;
                border: 1px solid $gray-border;
                padding: 15px 5px;

                &.th1,
                &.th2 {
                    width: 120px;
                }

                &.th3 {
                    width: 150px;
                }
            }

            td {
                border: 1px solid $gray-border;
                font-weight: 600;

                & > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4em;
                    padding: 0 10px;
                }

                a {
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.t2 {
                    & > div {
                        &::after {
                            content: none;
                        }
                    }
                }

                .date {
                    letter-spacing: 2px;

                    span {
                        display: block;
                        font-weight: 400;
                        font-size: 1.6rem;
                        letter-spacing: 1px;
                    }
                }

                &.seminar_ttl {
                    & > div {
                        justify-content: flex-start;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    .startup {
        box-sizing: border-box;

        .inner {
            background-color: $light-gray;
            border: 1px solid $gray-border;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;

            .left {
                img {
                    vertical-align: middle;
                }
            }

            .right {
                margin: auto;
                text-align: center;

                p {
                    color: $txt-main-color;
                    text-align: center;

                    &:first-child {
                        font-size: 3.1rem;
                        font-weight: 900;
                        line-height: 3.7rem;

                        span {
                            font-size: 2.8rem;
                            position: relative;

                            &::before {
                                content: "";
                                display: inline-block;
                                width: 65px;
                                height: 1.5px;
                                background-color: $txt-main-color;
                                top: 50%;
                                position: absolute;
                                left: -75px;
                            }

                            &::after {
                                content: "";
                                display: inline-block;
                                width: 65px;
                                height: 1.5px;
                                background-color: $txt-main-color;
                                top: 50%;
                                position: absolute;
                                right: -75px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        font-size: 1.8rem;
                        line-height: 2.8rem;
                        letter-spacing: 0.01em;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}

.block8 {
    @extend %not-full-width;

    img {
        width: 100%;
    }
}

.triangle {
    position: relative;
    z-index: 1;
    margin-top: 120px;

    &:before {
        position: absolute;
        content: "";
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        width: 0;
        height: 0;
        border-left: 38px solid transparent;
        border-right: 38px solid transparent;
        border-top: 25px solid #fff;
        display: block;
    }
}

footer {
    padding-bottom: 10px;
    background: #1d292c;
    display: flex;
    justify-content: space-between;

    .footer {
        padding: 10px;
    }

    .footer-logo {
        text-align: center;
        padding: 24px 0 24px 31px;
        margin: 0;
    }
    .right {
        display: flex;
        font-size: 1.4rem;
        align-items: center;
        color: #bbbdbe;

        .link {
            width: fit-content;
            padding: 0 1.5em 0 0;
            display: inline-flex;
            word-break: keep-all;

            &::before {
                content: "|";
                padding-right: 1.5em;
            }

            &:nth-of-type(3) {
                &::after {
                    content: "|";
                    padding-left: 1.5em;
                }
            }
        }

        //IE
        @media all and (-ms-high-contrast: none) {
            .link {
                display: inline;
            }
        }
    }

    .footer-copy {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 1.4rem;
        color: #bbbdbe;
        padding-right: 31px;
    }

    a:link {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        color: inherit;
    }
}

/*---------------------------------
  
  document.html
  document-thanks.html

---------------------------------*/

.document {
    margin-top: 160px;

    .ttl {
        h3 {
            font-size: 4.4rem;
            line-height: 6.3rem;
            color: $txt-main-color;
            text-align: center;
            margin-bottom: 75px;
            font-weight: 300;
        }
    }

    .section-inner {
        max-width: 1200px;
        margin: 0 auto 120px;

        .lists {
            ul.wrap {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                & > li {
                    width: 31.7%;
                    border-radius: 4px;
                    box-shadow: 0px 0px 8.4px 1.6px rgba(12, 11, 8, 0.14);
                    list-style-type: none;
                    position: relative;
                    box-sizing: border-box;
                    counter-increment: doc-number;

                    &::before {
                        content: "0" counter(doc-number);
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        background-color: $txt-main-color;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 40px;
                        top: -20px;
                        left: 10px;
                        vertical-align: baseline;
                        color: #fff;
                        font-weight: 700;
                        font-size: 1.8rem;
                    }

                    &::after {
                        content: "";
                        border-top: 10px solid $txt-main-color;
                        border-right: 6px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 6px solid transparent;
                        position: absolute;
                        top: 16px;
                        left: 24px;
                    }

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    & > div {
                        h4 {
                            margin: 33px auto;
                            text-align: center;
                            font-size: 2.1rem;
                            line-height: 3.3rem;
                            color: $txt-main-color;
                            font-weight: 600;

                            span {
                                font-size: 1.7rem;
                            }
                        }

                        p,
                        div {
                            font-size: 1.5rem;
                            line-height: 2.3rem;
                            color: #737373;
                            text-align: left;
                            padding: 0 2.5em 3em;
                            font-weight: 400;
                        }

                        div {
                            ul {
                                display: block;
                                li {
                                    width: 100%;
                                    box-shadow: unset;
                                    padding-left: 1em;
                                    position: relative;
                                    display: inline-block;

                                    //IE
                                    @media all and (-ms-high-contrast: none) {
                                        box-shadow: none;
                                    }

                                    &:not(:last-child) {
                                        margin-bottom: 0.3em;
                                    }

                                    &::before {
                                        content: "";
                                        width: 0.3em;
                                        height: 0.3em;
                                        border-radius: 50%;
                                        background-color: #737373;
                                        position: absolute;
                                        top: 50%;
                                        left: 1%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }

                            ol {
                                padding-left: 1em;

                                li {
                                    width: 100%;
                                    box-shadow: unset;
                                    list-style-type: decimal;

                                    &:not(:last-child) {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(5),
                    &:nth-child(6) {
                        & > div {
                            div {
                                line-height: 2.8rem;

                                ul {
                                    li {
                                        &::before {
                                            top: 15.2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > li:nth-child(n + 4) {
                    margin-top: 40px;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 31.7%;
                }
            }
        }

        .form-wrap {
            margin: 80px auto;

            p {
                text-align: center;
                font-weight: 400;
            }

            & > p {
                font-size: 1.8rem;
                margin-bottom: 80px;
                line-height: 3.5rem;
            }
        }

        .thanks-wrap {
            .txt {
                color: $txt-main-color;
                font-size: 1.8rem;
                line-height: 3.5rem;
                text-align: center;
                font-weight: 300;
                margin: 80px auto;
            }
            .box-list5 {
                .box {
                    margin-bottom: 30px;

                    h4 {
                        margin-top: 0;
                    }

                    .ttl {
                        span {
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}

/*---------------------------------
  
  スタートアップセミナー
  申し込みページ

---------------------------------*/

.startup {
    .wrap {
        & > p {
            font-size: 3rem;
            text-align: center;
            margin-bottom: 90px;
        }
    }

    .seminars {
        .wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .detail {
                width: calc(50% - 50px);

                & > div {
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                ul {
                    li {
                        display: flex;
                        min-height: 50px;
                        box-sizing: border-box;
                        padding: 12px 0;
                        border-top: 1px solid #cccccc;
                        flex-wrap: wrap;

                        &:last-child {
                            border-bottom: 1px solid #cccccc;
                        }

                        .area {
                            font-size: 1.4rem;
                            letter-spacing: 0.05em;
                            clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0 100%);
                            background-color: $acnt-color;
                            width: 130px;
                            height: 25px;
                            text-align: center;
                            color: #fff;
                            line-height: 25px;
                        }

                        .date {
                            font-size: 1.6rem;
                            padding: 0 25px;
                            font-weight: 400;
                        }

                        .time {
                            font-size: 1.6rem;
                            letter-spacing: 0.05em;
                            font-weight: 400;

                            &::before {
                                content: url("../img/img_startup02.png");
                                display: inline-block;
                                padding-right: 7px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*---------------------------------
  
  以下メディアクエリ

---------------------------------*/

@media screen and (max-width: 1024px) {
    .mv_bg {
        margin-bottom: 220px;
        position: relative;
        background-size: 129%;
        background-position: -127px 35px;
        padding: 150px 15px 168px;
    }

    .block1 {
        header {
            padding: 0;
            flex-wrap: wrap;
            background-color: unset;
            position: absolute;

            h1 {
                margin: 0;
                padding: 20px;
                position: fixed;
                top: 0;
                background-color: #000;
                width: 100%;
                position: fixed;

                .logo {
                    display: block;
                    transform: unset;
                    width: 30%;
                }
            }

            h2 {
                font-size: 2.2rem;
                line-height: 2.2rem;
                letter-spacing: 0.05em;
                margin: 0;
                text-align: center;
                background-image: url($imgDir + "bg04.png");
                background-size: cover;
                padding: 30px 0;
                width: 100%;
            }

            .dwl {
                position: fixed;
                top: 0.7%;
                right: 3%;
                font-size: 2rem;
                border-radius: 34px;
                padding: 0.6em 3em;

                &::after {
                    width: 1.3em;
                    height: 1.15em;
                    margin-left: 0.5em;
                    background-size: contain;
                    transform: translateY(15%);
                }
            }
        }

        .btn_wrapper {
            bottom: -165px;
            text-align: center;

            .btns {
                display: flex;
                margin: auto;

                a:nth-of-type(1) {
                    margin-right: 8px;
                    margin-bottom: 13px;
                }
            }
        }

        .mv_pc {
            bottom: -192px;
        }

        .main_title {
            dl {
                div {
                    padding: 10px;
                }
            }
        }
    }

    .block2 {
        & > div {
            &:nth-of-type(2) {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .banner {
        div {
            a {
                width: calc(50% - 10px);
            }
        }
    }

    .block4 {
        .compare {
            .txt {
                font-size: 1.8rem;
                line-height: 2.7rem;
                text-align: center;

                span {
                    font-size: 2.5rem;
                }
            }

            div {
                img {
                    max-width: 100%;
                }
            }
        }

        .table {
            overflow-x: scroll;
            padding-top: 26px;

            table {
                tr {
                    td {
                        .capture {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .block5 {
        .points {
            ul {
                width: 100%;

                li {
                    width: 30%;

                    p {
                        width: 100%;
                    }
                }
            }
        }
        .apply {
            .btn_wrapper {
                text-align: center;

                .btns {
                    display: block;
                    margin: auto;
                    width: 90%;

                    a:nth-of-type(1) {
                        margin-right: 0;
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }

    .block7 {
        .startup {
            .inner {
                .left {
                    margin: auto;
                }
            }
        }
    }

    .document {
        margin-top: 195px;

        .section-inner {
            .lists {
                ul.wrap {
                    justify-content: space-evenly;
                    flex-wrap: wrap;

                    & > li {
                        width: 45%;
                        margin-bottom: 3em;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 45%;
                    }

                    & > li:nth-child(n + 4) {
                        margin-top: unset;
                    }
                }
            }
        }
    }

    .startup {
        .seminars {
            .wrap {
                & > div {
                    width: calc(55% - 10px);
                }

                .detail {
                    width: calc(45% - 10px);
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .mv_bg {
        background-image: url($imgDir + "bg03.png");
    }

    .block7 {
        .seminar-table {
            margin-top: 5px;
            padding-bottom: 14px;
            position: relative;

            table {
                width: 800px;
                font-size: 1.6rem;

                th {
                    &.th1 {
                        width: 110px;
                    }

                    &.th2 {
                        width: 105px;
                    }

                    &.th3 {
                        width: 120px;
                    }
                }

                td {
                    & > div {
                        height: auto;
                        min-height: 3.5em;
                        padding: 5px 5px;
                    }

                    .date {
                        letter-spacing: 1px;

                        span {
                            font-size: 1.4rem;
                        }
                    }

                    .seminar_ttl {
                        font-size: 1.5rem;
                        padding: 0px 10px;
                    }
                }
            }
        }
    }

    .startup {
        .seminars {
            .wrap {
                flex-direction: column;

                & > div {
                    width: 100%;
                    text-align: center;
                }

                .detail {
                    width: 100%;
                    text-align: center;

                    ul {
                        li {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        max-width: 100%;
        overflow-x: hidden;

        .sp {
            display: inline-block !important;
        }

        .pc {
            display: none !important;
        }

        img {
            width: 100%;
        }
    }

    .block {
        max-width: 100%;
        overflow-x: hidden;

        h3 {
            font-size: 4.7rem * $half;
            line-height: 6.1rem * $half;
            margin-bottom: 35px;

            &::before {
                width: 45px;
                position: absolute;
                bottom: 10px;
                left: -45px;
                right: auto;
                top: auto;
                transform: rotate(70deg);
            }

            &::after {
                width: 45px;
                position: absolute;
                bottom: 10px;
                right: -45px;
                left: auto;
                top: auto;
                transform: rotate(-70deg);
            }
        }

        h4 {
            font-size: 3.7rem * $half;
        }

        .txt {
            margin-bottom: 30px;
        }

        .fixed_links {
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 101;

            a.sp {
                width: 100%;
                background-color: $txt-main-color;
                color: #fff;
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 0.03em;
                line-height: 47px;
                border-radius: 5px 5px 0 0;
                box-sizing: border-box;
                text-align: center;

                &::before {
                    content: "";
                    background-image: url($imgDir + "img13.png");
                    display: inline-block;
                    width: 20px;
                    height: 21px;
                    margin-right: 9px;
                    transform: translateY(20%);
                }
            }
        }
    }

    .block3,
    .block6 {
        h3 {
            &::before {
                bottom: 0;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    #main {
        position: relative;
    }

    .block1 {
        &.mv_bg {
            background-image: url($imgDir + "bg03.png");
            margin-bottom: 0;
            background-position: 11% 108%;
            padding: 25px 15px 250px;
            position: unset;
            background-size: 122%;
            overflow: hidden;

            &::after {
                content: none;
            }
        }

        header {
            height: auto;

            h1 {
                .logo {
                    width: 46%;
                }
            }

            h2 {
                font-size: 2.8rem * $half;
                line-height: 4.2rem * $half;
                background-image: url($imgDir + "bg04.png");
                padding: 14px 0;
            }

            .none {
                display: none;
            }

            .dwl {
                top: 12px;
                font-size: 2.3rem * $half;
                padding: 0.6em 2em;

                &::after {
                    width: 15px;
                    height: 13px;
                    margin-left: 0.5em;
                    background-size: contain;
                    transform: translateY(15%);
                }
            }
        }

        .logo {
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
        }

        .main_title {
            .e-gov {
                font-size: 3.3rem * $half;
                line-height: 4.2rem * $half;
                margin-top: unset;
            }

            h2 {
                margin: 15px auto;
            }

            dl {
                div {
                    padding: 5px 18px;

                    dt {
                        font-size: 2.3rem * $half;
                        line-height: 1.5rem;
                    }

                    dd {
                        font-size: 1.55rem;
                        line-height: 2rem;

                        .kome {
                            font-size: 1.9rem * $half;
                        }

                        .size {
                            font-size: 2.3rem * $half;
                            line-height: 1rem;
                        }
                    }

                    &:first-child {
                        dd {
                            margin-top: -3px;

                            .size {
                                display: block;
                                padding-top: 3.5px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        dd {
                            line-height: 2.5rem;
                        }
                    }

                    &:last-child {
                        dd {
                            margin-top: -4px;
                        }
                    }
                }
            }
        }

        .btn_wrapper {
            bottom: -112px;
            margin-top: 15px;

            .btns {
                display: block;
                margin: auto;
                width: 90%;

                a:nth-of-type(1) {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
        }

        .mv_pc {
            position: relative;
            bottom: -160px;

            img {
                display: block;
                position: absolute;
                bottom: -60px;
                right: -135px;
            }

            &::after {
                content: "※オフィスステーションシリーズ累計";
                bottom: -82px;
                right: 2px;
                display: block;
                position: absolute;
                font-size: 1.1rem;
                color: #888888;
            }
        }
    }

    .block3,
    .block4,
    .block6,
    .block7,
    .block8 {
        margin-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .block2 {
        margin-top: 40px;

        h3 {
            &::before {
                left: -25px;
            }

            &::after {
                right: -25px;
            }
        }

        & > div {
            padding-left: 20px;
            padding-right: 20px;

            &:nth-of-type(2) {
                padding: 45px 20px 60px;

                &::before {
                    border-top: 20px solid #fff;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                }

                h4 {
                    margin-bottom: 19px;
                }

                .function,
                .effect {
                    & > p {
                        font-size: 3.3rem * $half;
                        line-height: 4.1rem * $half;
                        margin-top: unset;
                    }
                }

                .function {
                    margin-bottom: 50px;

                    ul {
                        flex-direction: column;

                        li {
                            width: 100%;
                            padding: 18px 23px;

                            img {
                                width: 15%;
                            }

                            h5 {
                                font-size: 3.7rem * $half;
                                margin: 13px auto 15px;
                            }

                            p {
                                line-height: 4.7rem * $half;
                            }

                            &::before {
                                font-size: 19vw;
                            }

                            &:nth-child(2) {
                                border-left: none;
                                border-right: none;
                                border-top: 1px solid #c3c3c3;
                                border-bottom: 1px solid #c3c3c3;
                            }
                        }
                    }
                }

                .effect {
                    p {
                        text-align: left;
                        line-height: 5.3rem * $half;
                        margin-bottom: 40px;
                    }
                }
            }
        }

        .txt {
            text-align: left;
            font-size: 3.3rem * $half;
            line-height: 5.6rem * $half;
            letter-spacing: 0.03rem;
            margin-bottom: 30px;
        }
    }

    .banner {
        margin-top: -105px;

        & > div {
            flex-direction: column;

            a {
                width: 95%;
                margin: auto;

                &:last-child {
                    padding-top: 5px;
                }
            }
        }
    }

    .block3 {
        .txt {
            font-size: 3.3rem * $half;
            line-height: 5.6rem * $half;
            letter-spacing: 0.03rem;
            margin-bottom: 30px;
            text-align: left;
        }

        .notes {
            padding-bottom: 10px;
            font-size: 2.8rem * $half;
        }

        .tables {
            display: block;

            table {
                width: 100%;
                table-layout: fixed;

                &:nth-of-type(2) {
                    border-top: none;

                    thead {
                        display: none;
                    }

                    tr {
                        td {
                            &:first-child {
                                border-left: 1px solid $gray-border;
                            }
                        }

                        &:first-child {
                            td {
                                border-top-style: none;
                            }
                        }

                        &:nth-child(9) {
                            td {
                                &:nth-child(2) {
                                    text-align: left;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }

                tr {
                    .heading {
                        padding: 0 2px;
                    }

                    th {
                        font-weight: 700;
                        padding-left: 3px;
                        padding-right: 3px;
                        font-size: 2.5rem * $half;

                        &:first-child {
                            width: 17%;
                        }
                    }

                    td {
                        padding: 10px;
                        font-size: 2.5rem * $half;

                        &:nth-child(2),
                        &:nth-child(3) {
                            padding: 0;
                            text-align: center;
                        }
                    }

                    &:first-of-type {
                        td {
                            &:first-child {
                                width: 17%;
                            }

                            &:nth-child(2) {
                                padding: 10px;
                                text-align: left;
                                width: 64%;
                            }

                            &:nth-child(3),
                            &:nth-child(4) {
                                padding: 0;
                                text-align: center;
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }

    .block4 {
        margin-top: 0;

        h4 {
            margin-bottom: 20px;
        }

        .compare {
            flex-direction: column;

            & > div {
                width: 100%;
                padding: 25px 0;

                &:last-child {
                    margin-top: 10px;
                }
            }

            .compare_btn {
                width: 90%;
                margin: auto;
            }
        }

        .modal1,
        .modal2 {
            .close_btn {
                top: 15px;
                right: 15px;
                font-size: 30px;
            }

            .inner {
                padding: 15px 10px 30px;

                h3 {
                    font-size: 2rem;

                    &::before {
                        top: unset;
                    }

                    &::after {
                        top: unset;
                    }
                }

                .table {
                    margin-top: 0;
                }

                table {
                    width: 100%;
                    border-spacing: 0;

                    thead {
                        tr {
                            display: flex;

                            th {
                                position: relative;

                                img {
                                    top: 50%;
                                    left: 50%;
                                    position: absolute;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            th:first-child {
                                display: none;
                            }

                            th:nth-child(2) {
                                width: 50%;
                                border-bottom: none;
                                padding-top: 42px;
                                margin-right: 2px;

                                img {
                                    width: 50%;
                                }

                                &::before {
                                    width: 90%;
                                    font-size: 1.2rem;
                                }

                                &::after {
                                    top: 0;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 13px solid #3d4d97;
                                }
                            }

                            th:last-child {
                                width: 50%;
                                border-bottom: none;
                                padding-top: 42px;
                                margin-left: 2px;

                                img {
                                    width: 90%;
                                }

                                &::before {
                                    width: 90%;
                                    font-size: 1.2rem;
                                }

                                &::after {
                                    top: 0;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 13px solid $acnt-color;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            display: grid;
                            grid-template-rows: 45px auto;
                            grid-template-columns: 1fr 1fr;

                            th {
                                grid-row: 1 / 2;
                                grid-column: 1 / 3;
                                font-size: 2.8rem * $half;
                                line-height: 45px;
                                border-top: 2px solid $gray-border;
                                padding: 0;
                                max-width: unset;
                                text-align: center;
                            }

                            td {
                                font-size: 2.5rem * $half;
                                padding: 15px 10px;

                                span {
                                    display: unset;
                                }
                            }

                            td:first-of-type {
                                grid-row: 2 / 3;
                                grid-column: 1 / 2;
                                padding-left: 10px;
                                margin-right: 2px;

                                span:not(.none) {
                                    &:not(last-child) {
                                        &::before {
                                            top: 8px !important;
                                            transform: unset;
                                        }
                                    }
                                }
                            }

                            td:last-of-type {
                                grid-row: 2 / 3;
                                grid-column: 2 / 3;
                                padding-left: 10px;
                                margin-left: 2px;

                                .material-icons {
                                    font-size: 20px;
                                    margin-right: 5px;
                                }
                            }

                            &:not(:last-of-type) {
                                td {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .modal2 {
            .inner {
                h3 {
                    &::before {
                        left: -28px;
                    }

                    &::after {
                        right: -28px;
                    }
                }

                table {
                    thead {
                        tr {
                            th {
                                &:nth-child(2) {
                                    font-size: 1.5rem;

                                    &::before {
                                        line-height: 35px;
                                    }

                                    &::after {
                                        border-top: 13px solid #608359;
                                        top: 18px;
                                    }
                                }

                                &:last-child {
                                    img {
                                        top: 58%;
                                    }

                                    &::after {
                                        top: 18px;
                                    }
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                .sp {
                                    display: block !important;
                                }
                            }

                            &:not(:last-of-type) {
                                td {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .block5 {
        margin-top: 30px;

        .points {
            margin-top: 30px;

            & > img {
                padding-left: 20px;
                padding-right: 20px;
                width: 90%;
            }

            ul {
                display: block;
                width: 100%;
                margin-top: 5px;

                li {
                    width: 83%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    margin-left: auto;
                    margin-right: auto;

                    &:not(:last-child) {
                        margin-right: auto;
                        margin-bottom: 10px;
                    }

                    img {
                        width: 17%;
                        height: auto;
                        padding-right: 20px;
                    }

                    strong {
                        font-size: 3.7rem * $half;
                        line-height: 7.6rem * $half;
                        padding-top: 0;
                        padding-bottom: 10px;
                        text-align: left;
                    }

                    p {
                        font-size: 3rem * $half;
                        line-height: 4.2rem * $half;
                        width: 100%;
                        text-align: left;
                    }

                    .orange {
                        position: unset;
                        padding-top: 11px;

                        a {
                            display: inline;
                        }

                        span {
                            position: unset;
                            display: inline;
                            padding-left: 3px;
                        }
                    }
                }
            }
        }

        .apply {
            z-index: unset;
            position: relative;
            margin-top: -35px;
            padding: 70px 0 50px;
            background-image: unset;

            &::before {
                content: url(../img/bg02.png);
                z-index: -1;
                position: absolute;
                top: -34px;
                left: 0;
                display: inline-block;
                overflow: hidden;
                width: 100%;
                transform: scaleY(0.88);

                @media screen and (min-width: 411px) {
                    top: -19px;
                    transform: scaleY(0.9);
                }
            }

            .e-gov {
                font-size: 3rem * $half;
                line-height: 6rem * $half;
                margin-bottom: 5px;

                & + img {
                    width: 55%;
                }
            }

            h2 {
                p:first-child {
                    font-size: 3.3rem * $half;
                    line-height: 7.3rem * $half;

                    span {
                        font-size: 2.5rem * $half;
                        line-height: 7.3rem * $half;
                    }
                }

                p:last-child {
                    font-size: 4.7rem * $half;
                    line-height: 2rem;
                }
            }

            .btn_wrapper {
                width: 100%;
                box-sizing: border-box;
                padding-left: 20px;
                padding-right: 20px;

                .btns {
                    display: block;

                    a {
                        img {
                            width: 100%;
                        }

                        &:nth-of-type(1) {
                            margin-right: 0;
                            margin-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

    .block6 {
        dl {
            padding: 18px 10px;

            dt {
                font-size: 3.3rem * $half;
                padding-left: 47px;

                &::before {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    left: 0;
                    font-size: 3rem * $half;
                }
            }

            dd {
                padding-top: 10px;
                padding-left: 47px;
                font-size: 3rem * $half;
            }
        }
    }

    .triangle {
        &::before {
            top: -8px;
        }
    }

    .block7 {
        .note01 {
            font-size: 1.3rem;
        }

        .startup {
            .inner {
                padding: 20px 13px;

                .right {
                    padding-left: 0;

                    p {
                        &:first-child {
                            font-size: 4.7rem * $half;
                            line-height: 5.6rem * $half;
                            padding-top: 10px;

                            span {
                                font-size: 4.2rem * $half;

                                &::before {
                                    width: 97px * $half;
                                    left: -63px;
                                }

                                &::after {
                                    width: 97px * $half;
                                    right: -63px;
                                }
                            }
                        }

                        &:nth-child(2) {
                            font-size: 2.8rem * $half;
                            line-height: 4.2rem * $half;
                            padding: 10px 0;
                        }
                    }

                    a {
                        img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    footer {
        display: block;

        .footer-logo {
            padding: 17px 0;

            img {
                width: 50%;
            }
        }

        .right {
            display: block;

            .link {
                margin: 0 auto;
                text-align: center;
                padding: 0 0 17px 0;
                display: block;

                &::before {
                    content: "";
                    padding-right: 0;
                }

                &:nth-of-type(3) {
                    &::after {
                        content: "";
                        padding-left: 0;
                    }
                }
            }
        }

        .footer-copy {
            padding-right: 0;
        }
    }

    .document {
        margin-top: 90px;

        .ttl {
            h3 {
                font-size: 2rem;
                line-height: 3.3rem;
                margin-bottom: 50px;
            }
        }

        .section-inner {
            margin: 0 auto 60px;
            padding: 0 20px;

            .lists {
                ul.wrap {
                    li {
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: 30px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .num {
                            width: 35px;
                            height: 35px;
                            line-height: 35px;

                            span {
                                font-size: 3.3rem * $half;
                            }
                        }

                        img {
                            height: 176px;
                        }

                        & > div {
                            h4 {
                                margin: 20px auto;
                                font-size: 3.7rem * $half;
                                line-height: 5.8rem * $half;
                            }

                            p,
                            div {
                                font-size: 3rem * $half;
                                line-height: 4.1rem * $half;
                                padding: 0 1.5em 2em;

                                ol {
                                    padding-left: 1.5em;
                                }
                            }
                        }
                    }
                }
            }

            .form-wrap {
                margin: 50px auto;

                & > p {
                    font-size: 1.5rem;
                    margin-bottom: 50px;
                    line-height: 2.6rem;
                    text-align: left;
                }
            }

            .thanks-wrap {
                .txt {
                    font-size: 1.5rem;
                    line-height: 3rem;
                    text-align: left;
                    margin: 40px auto;
                }
            }
        }
    }

    .startup {
        .block {
            .section-inner {
                padding: 40px 0 0;
            }
        }

        .wrap {
            & > p {
                font-size: 1.9rem;
                margin-bottom: 50px;
            }
        }

        .seminars {
            .wrap {
                .detail {
                    & > div {
                        margin-top: 10px;
                    }
                    ul {
                        li {
                            justify-content: flex-start;

                            .area {
                                font-size: 1.3rem;
                                width: 108px;
                            }

                            .date {
                                font-size: 1.5rem;
                                padding: 0 20px;
                            }

                            .time {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .block {
        h3 {
            font-size: 2rem;
        }
    }

    .block1 {
        &.mv_bg {
            padding: 23px 15px 250px;
            background-position: 11% 100%;
        }

        header {
            h1 {
                padding: 14px 20px 14px;
            }

            h2 {
                font-size: 1.2rem;
                padding: 16px 0;
            }

            .dwl {
                top: 7px;
                right: 7px;
                padding: 0.6em 1em;

                &::after {
                    width: 1.28em;
                    height: 1.1em;
                }
            }
        }

        .main_title {
            .e-gov {
                margin-bottom: 7px;
            }

            dl {
                div {
                    dd {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .block4 {
        table {
            thead {
                tr {
                    th:nth-child(2) {
                        &::before {
                            font-size: 1rem;
                        }
                    }
                    th:last-child {
                        &::before {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .compare {
            .txt {
                font-size: 1.1rem;

                span {
                    font-size: 1.5rem;
                }
            }
            .compare_btn {
                font-size: 1.2rem;
            }
        }

        .modal1,
        .modal2 {
            .inner {
                h3 {
                    font-size: 1.7rem;
                }

                table {
                    thead {
                        th:last-child {
                            &::before {
                                line-height: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

    .block5 {
        .apply {
            &::before {
                top: -38px;
                transform: scaleY(0.86);
            }
        }
    }

    .block8 {
        h3 {
            &::before {
                left: -35px;
            }

            &::after {
                right: -35px;
            }
        }
    }

    .document {
        .ttl {
            h3 {
                font-size: 1.7rem;
                line-height: 3rem;
            }
        }

        .section-inner {
            .lists {
                ul.wrap {
                    li {
                        .num {
                            left: 5px;
                        }

                        img {
                            height: 155px;
                        }

                        & > div {
                            div {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .block1 {
        &.mv_bg {
            background-size: 145%;
        }

        .main_title {
            dl {
                div {
                    dd {
                        font-size: 1.2rem;
                    }

                    &:last-child {
                        dd {
                            line-height: 1.6rem;
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .mv_pc {
            img {
                bottom: -67px;
            }

            &::after {
                bottom: -87px;
                right: 0;
            }
        }
    }

    .block4 {
        .compare {
            & > div {
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .block5 {
        .apply {
            h2 {
                p:last-child {
                    font-size: 2rem;
                }
            }

            &::before {
                top: -45px;
                transform: scaleY(0.84);
            }
        }
    }

    .block7 {
        .startup {
            .inner {
                .right {
                    p {
                        &:first-child {
                            font-size: 2.1rem;

                            span {
                                font-size: 1.9rem;
                            }
                        }

                        &:nth-child(2) {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    .startup {
        .seminars {
            .wrap {
                .detail {
                    ul {
                        li {
                            .area {
                                font-size: 1.2rem;
                                width: 100px;
                            }

                            .date {
                                padding: 0 13px;
                                font-size: 1.3rem;
                            }

                            .time {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
